Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Fix wrong link on badge (#4433)
  README.md
Labels: none

Fix deployment panel display no data if the project is All (#4434)
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

fix : fmt.errorf-to-log.Fatal
  cmd/pipectl/main.go
Labels: area/go

fix : fmt.errorf-to-log.Fatal (#4435)
  cmd/pipectl/main.go
Labels: area/go

Add attachment feature example
  examples/README.remote.md
  examples/ecs/attachment/app.pipecd.yaml
  examples/ecs/attachment/config.yaml
  examples/ecs/attachment/servicedef.yaml
  examples/ecs/attachment/taskdef.yaml
Labels: area/examples

Add attachment feature example (#4438)
  examples/README.remote.md
  examples/ecs/attachment/app.pipecd.yaml
  examples/ecs/attachment/config.yaml
  examples/ecs/attachment/servicedef.yaml
  examples/ecs/attachment/taskdef.yaml
Labels: area/examples

Add attachment feature docs
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-dev/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs/user-guide/managing-application/manifest-attachment.md
Labels: none

Update feature status page
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs/feature-status/_index.md
Labels: none

Add features docs to v0.44.0 release note
  docs/content/en/blog/releases/v0.44.0.md
Labels: none

Attachment docs (#4439)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-dev/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs/user-guide/managing-application/manifest-attachment.md
Labels: none

Add features docs to v0.44.0 release note (#4440)
  docs/content/en/blog/releases/v0.44.0.md
Labels: none

Update examples readme
  examples/README.remote.md
Labels: area/examples

Fix make run/site does not work without extended
  docs/README.md
Labels: none

Remove release-note from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

Add contribution and development guides
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  cmd/launcher/README.md
  cmd/pipecd/README.md
  cmd/pipectl/README.md
  cmd/piped/README.md
  docs/README.md
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.44.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.44.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/contributing.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: area/go, area/build

Update cmd/piped/README.md
  cmd/piped/README.md
Labels: area/go

Update cmd/piped/README.md
  cmd/piped/README.md
Labels: area/go

Update cmd/pipecd/README.md
  cmd/pipecd/README.md
Labels: area/go

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update examples readme (#4442)
  examples/README.remote.md
Labels: area/examples

Add contribution and development docs (#4441)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  cmd/launcher/README.md
  cmd/pipecd/README.md
  cmd/pipectl/README.md
  cmd/piped/README.md
  docs/README.md
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.44.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.44.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/contributing.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: area/go, area/build

Fix Terraform drift render logic that causes runtime error
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

Update README to point to in repo contributing docs
  README.md
Labels: none

Fix Terraform drift render logic that causes runtime error (#4444)
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

Fix Terraform drift render logic that causes runtime error (#4444)
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

Fix Terraform drift render logic that causes runtime error (#4444) (#4446)
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

Update cherry-pick PR template
  hack/cherry-pick.sh
Labels: area/build

Release v0.44.1
  RELEASE
  docs/content/en/blog/releases/v0.44.1.md
Labels: none

Release v0.44.1
  docs/content/en/blog/releases/v0.44.1.md
Labels: none

Update cherry-pick PR template (#4447)
  hack/cherry-pick.sh
Labels: area/build

Release v0.44.1 (#4448)
  RELEASE
  docs/content/en/blog/releases/v0.44.1.md
Labels: none

Update README to point to in repo contributing docs (#4445)
  README.md
Labels: none

Rearrange contributing docs section
  CONTRIBUTING.md
Labels: none

Rearrange contributing docs section (#4449)
  CONTRIBUTING.md
Labels: none

Update web deps
  web/custom-jsdom.js
  web/file-transformer.js
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/api/me.test.ts
  web/src/utils/__snapshots__/parse-log.test.ts.snap
  web/yarn.lock
Labels: area/web

Update web deps (#4451)
  web/custom-jsdom.js
  web/file-transformer.js
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/api/me.test.ts
  web/src/utils/__snapshots__/parse-log.test.ts.snap
  web/yarn.lock
Labels: area/web

Fix document search shows pages that are not selected
  docs/assets/js/offline-search.js
Labels: none
