Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Refactor to change the order of the import path
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
Labels: area/go

Refactor refineManifests
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
Labels: area/go

determine namespace when loading manifests from git repo
  pkg/app/piped/controller/planner.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

Define func to get resource info from cluster
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
Labels: area/go

Change method name to determineNamespace
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
Labels: area/go

Fix for failing test and warning
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
Labels: area/go

Change resource key logic for k8s (#4916)
  pkg/app/piped/controller/planner.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

remove applicationLister from ECS
  pkg/app/piped/livestatestore/ecs/ecs.go
  pkg/app/piped/livestatestore/livestatestore.go
Labels: area/go

Define blank funcs in Getter
  pkg/app/piped/livestatestore/ecs/ecs.go
  pkg/app/piped/livestatestore/livestatestore.go
Labels: area/go

impl NewStore, GetManifests, GetState, WaitForReady
  pkg/app/piped/livestatestore/ecs/ecs.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/livestatestore.go
Labels: area/go

Release v0.47.3
  RELEASE
Labels: none

Update codegen base image from alpine to debian to update go version and use protoc-gen-js
  tool/codegen/Dockerfile
  tool/codegen/codegen.sh
Labels: area/tool

Add .gitatributes
  .gitattributes
Labels: none

Remove the annotation for pipecd.dev/resource-key
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
Labels: area/go

Update codegen image version
  Makefile
Labels: area/build

Update codegen image hash in the CI
  .github/workflows/gen.yaml
Labels: area/build

Fix to use image hash in Makefile
  Makefile
Labels: area/build

Add GetTaskDefinition()
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Add an RFC for exporting deployment traces
  docs/rfcs/0013-export-deployment-traces-with-otlp.md
Labels: none

fix comment
  pkg/app/piped/platformprovider/ecs/state.go
Labels: area/go

Revert "Add GetTaskDefinition()"
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Revert "Revert "Add GetTaskDefinition()""
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

impl store.go
  pkg/app/piped/livestatestore/ecs/ecs.go
  pkg/app/piped/livestatestore/ecs/store.go
Labels: area/go

Impl ecs.go > Run()
  pkg/app/piped/livestatestore/ecs/ecs.go
  pkg/app/piped/livestatestore/ecs/store.go
Labels: area/go

impl ecs/report.go]
  pkg/app/piped/livestatereporter/ecs/report.go
Labels: area/go

add switch case of ECS
  pkg/app/piped/livestatereporter/reporter.go
Labels: area/go

fix livestatestore v1 for ecs
  pkg/app/pipedv1/livestatestore/livestatestore.go
Labels: area/go

For checking cpu arch
  .github/workflows/gen.yaml
Labels: area/build

Add ecs/state_test.go
  pkg/app/piped/platformprovider/ecs/state.go
  pkg/app/piped/platformprovider/ecs/state_test.go
Labels: area/go

Add empty line
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

fix comments
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/platformprovider/ecs/state.go
Labels: area/go

remove comment
  pkg/app/piped/livestatestore/ecs/store.go
Labels: area/go

Remove TODO comment
  pkg/model/application_live_state.go
Labels: area/go

Add empty line (#4972)
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

Remove standalone tasks states
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/state.go
Labels: area/go

Fix codegen image hash
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Remove checking cpu arch
  .github/workflows/gen.yaml
Labels: area/build

Update codegen image version (#4970)
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

[bot] Update contributors
  README.md
Labels: none

Update go version of go.mod in the root of the repo to 1.22
  go.mod
  go.sum
Labels: none
