Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update the docs about the analysis metrics fields
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.32.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

Add web lint command to makefile
  Makefile
Labels: area/build

Fix lint error
  web/src/modules/deployments/index.ts
Labels: area/web

Fix all lint errors
  web/src/components/application-detail-page/application-state-view/cloudrun-state-view/index.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/modules/deployments/index.ts
  web/src/routes.tsx
Labels: area/web

Add web lint command to makefile (#3678)
  Makefile
  web/src/components/application-detail-page/application-state-view/cloudrun-state-view/index.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/modules/deployments/index.ts
  web/src/routes.tsx
Labels: area/web, area/build

Add version warning banner to web console
  web/src/components/warning-banner/index.tsx
  web/src/routes.tsx
Labels: area/web

Fix import
  web/src/components/warning-banner/index.tsx
Labels: area/web

Remove unneeded var
  web/src/components/warning-banner/index.tsx
Labels: area/web

Fix the role from review
  pkg/model/project.go
  pkg/model/role.pb.go
  pkg/model/role.pb.validate.go
  pkg/model/role.proto
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
  web/model/role_pb.d.ts
  web/model/role_pb.js
Labels: area/go, area/web

Update docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Fix the docs from review
  docs/content/en/docs-v0.32.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

Add version warning banner to web console (#3679)
  web/src/components/warning-banner/index.tsx
  web/src/routes.tsx
Labels: area/web

Update banner text
  web/src/components/warning-banner/index.tsx
Labels: area/web

Remove unused plugins from Kapetanios
  .kapetanios/plugin-template.yaml
  .kapetanios/plugin.yaml
Labels: none

Update the docs about the analysis metrics fields (#3677)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.32.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

Remove unused plugins from Kapetanios (#3681)
  .kapetanios/plugin-template.yaml
  .kapetanios/plugin.yaml
Labels: none

Update text
  web/src/components/warning-banner/index.tsx
Labels: area/web

Add a workflow to automate GitHub release
  .github/workflows/gh-release.yaml
  RELEASE
  release/README.md
  release/RELEASE
Labels: area/build

Add commit category
  RELEASE
Labels: none

Add missing name
  .github/workflows/gh-release.yaml
  .github/workflows/labeler.yaml
Labels: area/build

Update banner text (#3680)
  web/src/components/warning-banner/index.tsx
Labels: area/web

Add a workflow to automate GitHub release (#3682)
  .github/workflows/gh-release.yaml
  .github/workflows/labeler.yaml
  RELEASE
  release/README.md
  release/RELEASE
Labels: area/build

Update makefile to use new RELEASE file
  Makefile
Labels: area/build

Fix script
  hack/gen-stable-docs.sh
Labels: area/build

Update makefile to use new RELEASE file (#3683)
  Makefile
  hack/gen-stable-docs.sh
Labels: area/build

Debug release
  RELEASE
Labels: none

Fix typo json tag
  pkg/config/application_kubernetes.go
Labels: area/go

Fix unable to plan deployment in case of changing app config
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

Fix typo json tag (#3685)
  pkg/config/application_kubernetes.go
Labels: area/go

Fix proto index
  pkg/app/server/service/pipedservice/service.proto
Labels: area/go

Remove validation code that not related to this feature
  pkg/config/piped.go
Labels: area/go

Fix proto index
  pkg/model/piped.proto
Labels: area/go

Exec gen/code
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
Labels: area/go, area/web

Add line break
  web/src/constants/ui-text.ts
Labels: area/web

Fix unable to plan deployment in case of changing app config (#3687)
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

Do not show committer in change log
  RELEASE
Labels: none

Add validation logic to Helm chart registry
  pkg/config/piped.go
Labels: area/go

Fix lint error
  web/src/components/settings-page/piped/components/piped-table-row.tsx
Labels: area/web

Do not show committer in change log (#3688)
  RELEASE
Labels: none

Add validation logic to Helm chart registry (#3689)
  pkg/config/piped.go
Labels: area/go
