Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Docs for quickstart (#3956)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/static/images/quickstart-login-form.png
  docs/static/images/quickstart-piped-registered.png
Labels: none

Fix the allowlist for CLA (#3955)
  .github/workflows/cla.yaml
Labels: area/build

Release v0.38.2 (#3957)
  RELEASE
  docs/content/en/blog/releases/v0.38.2.md
  docs/content/en/docs-v0.38.x/quickstart/_index.md
  docs/content/en/docs-v0.38.x/user-guide/command-line-tool.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: none

Cherry-pick #3932 #3945 #3946 #3947 #3950 #3951 #3952 #3953 #3955 #3956 #3957 (#3960)
  .github/workflows/cla.yaml
  Makefile
  RELEASE
  cmd/pipectl/main.go
  docs/content/en/blog/releases/v0.38.2.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.32.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.33.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.34.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.34.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.35.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.35.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.38.x/quickstart/_index.md
  docs/content/en/docs-v0.38.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuring-notifications.md
  docs/static/images/quickstart-login-form.png
  docs/static/images/quickstart-piped-registered.png
  go.mod
  go.sum
  hack/cherry-pick.sh
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/app/pipectl/cmd/quickstart/tool_darwin.go
  pkg/app/pipectl/cmd/quickstart/tool_linux.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go, area/build, area/manifests

Disable a scrolling table for RBAC (#3959)
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

Chore to fix lint
  Makefile
Labels: area/build

fixup
  Makefile
Labels: area/build

Enable closing the dialog when clicking an another area
  web/src/components/settings-page/project/components/rbac-form/components/delete-user-group-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

Fix the menu design for APIKey
  web/src/components/settings-page/api-key/components/disable-api-key-confirm-dialog/index.tsx
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

Fix the typo for Makefile (#3961)
  Makefile
Labels: area/build

fixup
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

fixup
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

Fix the menu design for APIKey (#3963)
  web/src/components/settings-page/api-key/components/disable-api-key-confirm-dialog/index.tsx
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

Enable closing the dialog when clicking an another area (#3962)
  web/src/components/settings-page/project/components/rbac-form/components/delete-user-group-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

Fix the validation for managing RBAC
  pkg/datastore/projectstore_test.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
Labels: area/go

Fix the validation for managing RBAC (#3965)
  pkg/datastore/projectstore_test.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
Labels: area/go

Fix to handle an error before displaying a toast
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

Add sprig functions to secret template (#3941)
  go.mod
  go.sum
  pkg/app/piped/sourcedecrypter/decrypter.go
  pkg/app/piped/sourcedecrypter/decrypter_test.go
Labels: area/go

Apply some suggestions
  pkg/app/piped/executor/terraform/deploy.go
  pkg/config/application_terraform.go
Labels: area/go

Rename stage status
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  pkg/model/deployment_test.go
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/go, area/web

Handle exited on web
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
Labels: area/web

Make it possible to skip following stages when plan result is no changes (#3903)
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/config/application_terraform.go
  pkg/config/application_terraform_test.go
  pkg/config/testdata/application/terraform-app-with-exit.yaml
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  pkg/model/deployment_test.go
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
Labels: area/go, area/web

Fix the link for eventwatcher config
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.34.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.35.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
Labels: none

Fix the eventwatcher docs
  docs/content/en/docs-v0.34.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.35.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.36.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.37.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.38.x/user-guide/event-watcher.md
Labels: none

Fix the piped docs for eventwatcher
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.34.x/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-v0.35.x/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuring-event-watcher.md
Labels: none

Sync the stable docs
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/event-watcher.md
  docs/content/en/docs/user-guide/managing-piped/configuring-event-watcher.md
Labels: none

Add the docs for exitOnNoChanges option
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Remove the Japanese docs
  docs/config.toml
  docs/content/ja/_index.html
  docs/content/ja/blog/_index.md
  docs/content/ja/blog/announcing-pipecd/index.md
  docs/content/ja/docs/_index.md
  docs/content/ja/docs/concepts/_index.md
  docs/content/ja/docs/faq/_index.md
  docs/content/ja/docs/hands-on/_index.md
  docs/content/ja/docs/hands-on/deploy-on-kubernetes.md
  docs/content/ja/docs/overview/_index.md
  docs/content/ja/docs/user-guide/_index.md
  docs/content/ja/docs/user-guide/adding-a-manual-approval.md
  docs/content/ja/docs/user-guide/adding-a-wait-stage.md
  docs/content/ja/docs/user-guide/adding-an-application.md
  docs/content/ja/docs/user-guide/application-live-state.md
  docs/content/ja/docs/user-guide/cancelling-a-deployment.md
  docs/content/ja/docs/user-guide/rolling-back-a-deployment.md
  docs/content/ja/docs/user-guide/secret-management.md
  docs/content/ja/docs/user-guide/triggering-a-deployment.md
  docs/content/ja/search.md
Labels: none

Remove the Japanese docs (#3969)
  docs/config.toml
  docs/content/ja/_index.html
  docs/content/ja/blog/_index.md
  docs/content/ja/blog/announcing-pipecd/index.md
  docs/content/ja/docs/_index.md
  docs/content/ja/docs/concepts/_index.md
  docs/content/ja/docs/faq/_index.md
  docs/content/ja/docs/hands-on/_index.md
  docs/content/ja/docs/hands-on/deploy-on-kubernetes.md
  docs/content/ja/docs/overview/_index.md
  docs/content/ja/docs/user-guide/_index.md
  docs/content/ja/docs/user-guide/adding-a-manual-approval.md
  docs/content/ja/docs/user-guide/adding-a-wait-stage.md
  docs/content/ja/docs/user-guide/adding-an-application.md
  docs/content/ja/docs/user-guide/application-live-state.md
  docs/content/ja/docs/user-guide/cancelling-a-deployment.md
  docs/content/ja/docs/user-guide/rolling-back-a-deployment.md
  docs/content/ja/docs/user-guide/secret-management.md
  docs/content/ja/docs/user-guide/triggering-a-deployment.md
  docs/content/ja/search.md
Labels: none

Add the docs for exitOnNoChanges option (#3968)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Linked .pipe/ to event watcher pages
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.34.x/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-v0.35.x/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs/user-guide/managing-piped/configuring-event-watcher.md
Labels: none

Fix the README for docs
  docs/README.md
Labels: none

Fix the README for docs (#3970)
  docs/README.md
Labels: none

Fix the docs of eventwatcher (#3967)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.34.x/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-v0.34.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.34.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.35.x/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-v0.35.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.35.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.36.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/event-watcher.md
  docs/content/en/docs/user-guide/managing-piped/configuring-event-watcher.md
Labels: none

add delete command interface
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/delete.go
Labels: area/go

add DeleteApplication
  pkg/app/server/grpcapi/api.go
Labels: area/go

Update the redux-toolkit version
  web/package.json
  web/yarn.lock
Labels: area/web

Add regex to handle policies
  web/src/components/settings-page/project/components/rbac-form/components/add-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/modules/project/index.ts
Labels: area/web

Fix the regext
  web/src/components/settings-page/project/components/rbac-form/components/add-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.tsx
Labels: area/web

Feat the new feature for RBAC
  web/src/api/project.ts
  web/src/components/settings-page/project/components/rbac-form/components/add-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/delete-role-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role-table-row/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/constants/toast-text.ts
  web/src/modules/project/index.ts
Labels: area/web
