Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Sort trailers to ensure the order
  go.mod
  go.sum
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Fixed to work on go1.22
  pkg/git/repo.go
Labels: area/go

Add validation for event context key
  pkg/model/event.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
Labels: area/go

Add validation in request for RegisterEvent
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

Fix error for failing to add event
  pkg/datastore/eventstore.go
Labels: area/go

Add key format description
  pkg/app/pipectl/cmd/event/register.go
Labels: area/go

Remove unused regex
  pkg/model/event.go
Labels: area/go

Add validation to pipectl side
  pkg/app/pipectl/cmd/event/register.go
Labels: area/go

Sort trailers to ensure the order (#5334)
  go.mod
  go.sum
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Add DEPLOYMENT_STARTED event to notifications documentation
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
Labels: none

Add deployment started notification event and related handling
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.validate.go
  pkg/model/notificationevent.proto
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/go, area/web

Add notification event DEPLOYMENT_STARTED (#5340)
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.validate.go
  pkg/model/notificationevent.proto
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/go, area/web

Add support for rendering interface and pointer types in RenderPrimitiveValue
  pkg/plugin/diff/renderer.go
  pkg/plugin/diff/renderer_test.go
Labels: area/go

Add checkReplicasChange function to detect changes in replicas field
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go

Backport fix to checkReplicasChange
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

Validate event context key (#5339)
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/eventstore.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
Labels: area/go

Introduce plugin logpersister package
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/executor.go
  pkg/plugin/logpersister/persister.go
  pkg/plugin/logpersister/persister_test.go
  pkg/plugin/logpersister/stagelogpersister.go
Labels: area/go

Add interface comments
  pkg/plugin/logpersister/persister.go
  pkg/plugin/logpersister/persister_test.go
Labels: area/go

Introduce plugin logpersister package (#5342)
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/executor.go
  pkg/plugin/logpersister/persister.go
  pkg/plugin/logpersister/persister_test.go
  pkg/plugin/logpersister/stagelogpersister.go
Labels: area/go

Implement the tool registry in the piped side
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Handle ECS Apps DeploymentConfiguration and containers Environments driff detection
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

applied
  pkg/app/piped/driftdetector/ecs/detector.go
Labels: area/go

Add caching mechanism to tool installation in tool registry
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry_test.go
Labels: area/go

Validate event context key (#5339)
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/eventstore.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
Labels: area/go

Sort trailers to ensure the order (#5334)
  go.mod
  go.sum
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Improve checkReplicasChange function to handle nil values for replicas field in manifests
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go

Handle ECS Apps DeploymentConfiguration and containers Environments drift detection (#5344)
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

Refactor tool registry initialization to remove temporary directory parameter
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry_test.go
Labels: area/go

Ignore updating quickstart for rc release
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Implement the tool registry in the piped side (#5343)
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Ignore updating quickstart for rc release (#5347)
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Refactor pipeline stage definitions to use model.PipelineStage and simplify stage creation
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
Labels: area/go

Implement buildPipelineStages function to create pipeline stages with optional auto rollback
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Implement Helm chart handling in Loader with support for local charts
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go

Fix formatting of HelmOptions field in LoaderInput struct
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
Labels: area/go

Update RELEASE to v0.49.4
  RELEASE
Labels: none

Update RELEASE to v0.49.4 (#5351)
  RELEASE
Labels: none

Refactor and implement k8s pipeline builds (#5349)
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Handle ECS Apps DeploymentConfiguration and containers Environments drift detection (#5344)
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
