Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update to use same image checksum with gen.yaml
  Makefile
Labels: area/build

Trigger
  Makefile
Labels: area/build

Trigger
  Makefile
Labels: area/build

Install tzdata to piped-base image
  tool/piped-base-okd/Dockerfile
  tool/piped-base/Dockerfile
Labels: area/tool

Regenerate mock file using uber-go mock (#5437)
  .github/workflows/gen.yaml
  Makefile
  go.mod
  go.sum
  pkg/app/piped/controller/skipstage_test.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
  pkg/app/server/analysisresultstore/filestore_test.go
  pkg/app/server/applicationlivestatestore/cache_test.go
  pkg/app/server/applicationlivestatestore/filestore_test.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/app/server/stagelogstore/cache_test.go
  pkg/app/server/stagelogstore/filestore_test.go
  pkg/cache/cachetest/cache.mock.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/filestore/filestoretest/filestore.mock.go
  pkg/git/gittest/git.mock.go
  pkg/insight/insightstore/milestonestore_test.go
  pkg/insight/insighttest/insight.mock.go
  pkg/jwt/jwttest/jwt.mock.go
  pkg/redis/redistest/redis.mock.go
Labels: area/go, area/build

Add notification for stage
  pkg/model/notificationevent.go
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.validate.go
  pkg/model/notificationevent.proto
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/go, area/web

Add notifications for stage execution events in scheduler
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Add notifications for executing rollback stage
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Add slack notification handling for stage events
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/notifier/slack.go
Labels: area/go

Remove Started At from stage event noti
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/notifier/slack.go
Labels: area/go

Fix build error
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Fix the test
  pkg/model/notificationevent_test.go
Labels: area/go

add isRollback
  pkg/app/piped/executor/scriptrun/script_run_test.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

Fix the failed tests
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go

Copy .git in deploysource provider
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

Add logger.Error() before returning for detailed logs
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Enhance error logging in event watcher with additional context for push and commit failures
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Enhance logging in EventWatcher (#5443)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Make k8s plugin fields private (#5441)
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go

init wait plugin
  pkg/app/pipedv1/plugin/wait/config/stage_options.go
  pkg/app/pipedv1/plugin/wait/config/stage_options_test.go
  pkg/app/pipedv1/plugin/wait/execute/options.go
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/execute/wait.go
  pkg/app/pipedv1/plugin/wait/main.go
  pkg/app/pipedv1/plugin/wait/server.go
Labels: area/go

Improve signal handling and logging in wait plugin execution
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/execute/wait.go
Labels: area/go

refactor wait.go
  pkg/app/pipedv1/plugin/wait/execute/wait.go
Labels: area/go

Handle signals
  pkg/app/pipedv1/plugin/wait/execute/wait.go
Labels: area/go

TODO: add metadataStore
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/server.go
Labels: area/go

Concentrate on Init and server funcs
  pkg/app/pipedv1/plugin/wait/config/stage_options.go
  pkg/app/pipedv1/plugin/wait/config/stage_options_test.go
  pkg/app/pipedv1/plugin/wait/execute/options.go
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/execute/wait.go
  pkg/app/pipedv1/plugin/wait/server.go
Labels: area/go

fix golangci errors
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/server.go
Labels: area/go

Dynamically calculate resource keys
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Add test for executing K8S_SYNC stage with input namespace in deployment service
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
Labels: area/go

Refactor deployment service tests to improve setup and reduce duplication
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
Labels: area/go

Remove empty line in imports
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
Labels: area/go

Copy .git in deploysource provider (#5442)
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

Add rpc for livestate in the plugin architecture
  pkg/model/application_live_state.proto
  pkg/plugin/api/v1alpha1/livestate/api.proto
Labels: area/go

Do gen/code
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.validate.go
  pkg/plugin/api/v1alpha1/livestate/api_grpc.pb.go
  tool/codegen/codegen.sh
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web, area/tool

Fix comment
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.proto
Labels: area/go

Fix for lint
  web/src/__fixtures__/dummy-application-live-state.ts
Labels: area/web

Update rfc for the livestate feature
  docs/rfcs/0016-livestate-feature-for-plugin-architecture.md
Labels: none

Fix web test warning
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/copy-icon-button/index.tsx
  web/src/components/settings-page/project/components/static-admin-form/index.tsx
Labels: area/web

Rename deploysource's revision to commit_hash
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Fix the failed test
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
Labels: area/go

Add rpc interface for livestate in plugin architecture (#5447)
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.validate.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
  pkg/plugin/api/v1alpha1/livestate/api_grpc.pb.go
  tool/codegen/codegen.sh
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
  web/src/__fixtures__/dummy-application-live-state.ts
Labels: area/go, area/web, area/tool
