Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Fix retrieving recent tag in web build (#6060)
  web/package.json
Labels: area/web

[SDK] Add custom initialization of pluign (#6058)
  pkg/plugin/sdk/plugin.go
Labels: area/go

Add UID method for Manifest
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Add methods for Manifest to get application and owner refs
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Implement resource handler for reflector
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Rename store as deployTargetResources
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Add configuration for live state store in k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
Labels: area/go

Implement resource matcher for reflector
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
Labels: area/go

Implement live state store for k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Bump sdk
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

Fix argument type
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Fix return types
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Implement livestate plugin for kubernetes
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
Labels: area/go

Split managed and dependent resources in Kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Remove matchResource
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
Labels: area/go

Add initialization of the store in the Kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Fix initialization of kubernetes livestate store
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Use sync.Once to ensure that the plugin is initialized only once
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
Labels: area/go

Add tests for gvk matcher
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector_test.go
Labels: area/go

Add test for filterIgnoringManifests and onlyWatchingResourceKinds
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin_test.go
Labels: area/go

Add license notice
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector_test.go
Labels: area/go

fix copyright year 2x
  pkg/app/server/applicationsharedobjectstore/store.go
  pkg/app/server/applicationsharedobjectstore/store_test.go
Labels: area/go

Fix comments for resource list
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
Labels: area/go

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

feat(ui): Add Encrypt Secret button to Applications page
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/constants/ui-text.ts
Labels: area/web

fixed web lint
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
  web/src/components/applications-page/index.tsx
Labels: area/web

added label for piped
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
Labels: area/web

impl the server side (#6052)
  cmd/pipecd/server.go
  pkg/app/server/applicationsharedobjectstore/store.go
  pkg/app/server/applicationsharedobjectstore/store_test.go
  pkg/app/server/grpcapi/piped_api.go
Labels: area/go

[K8s Plugin] Implement K8S_TRAFFIC_ROUTING with Pod Selector (#6024)
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_custom_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_custom_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_custom_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_missing_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_missing_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_missing_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_multiple_services/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_multiple_services/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_multiple_services/services.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_no_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_no_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_pod_selector/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_pod_selector/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_pod_selector/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_wrong_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_wrong_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_wrong_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

Remove commander from protoc gen auth template
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Preallocate memory
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Add note about ownerReferences
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
Labels: area/go

Remove commander from protoc gen auth template (#6069)
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

K8s plugin livestate re implement (#6063)
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector_test.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Introduce control-plane container image and chart
  .github/workflows/publish_image_chart.yaml
Labels: area/build

bump
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

bump actions/checkout@v4.2.2
  .github/workflows/build.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

fix(ui): filtered out disabled Pipeds from list
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
Labels: area/web

fix: upgrade @tanstack/react-query from 4.40.0 to 4.40.1
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.40.0 to 4.40.1
  web/package.json
  web/yarn.lock
Labels: area/web

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
