Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add authorized_operators to pipelineStage model
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/go, area/web

Judge approvers by authorizedOperators
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/deploymentstore.go
Labels: area/go

Fix test, lint
  pkg/app/server/grpcapi/web_api_test.go
  pkg/constants/constants.go
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/constants/metadata-keys.ts
Labels: area/go, area/web

Fix lint/web
  web/src/__fixtures__/dummy-pipeline.ts
Labels: area/web

Use METADATA_STAGE_DISPLAY_KEY instead
  pkg/constants/constants.go
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/constants/metadata-keys.ts
Labels: area/go, area/web

Add AuthorizedOperators to proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-pipeline.ts
Labels: area/go, area/web

Compatibility in server
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/datastore/deploymentstore.go
Labels: area/go

add prefixes
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

add test of ListStageCommands() (#5966)
  pkg/app/pipedv1/apistore/commandstore/store_test.go
Labels: area/go

fix lint/web
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

fix lint/go
  pkg/constants/constants.go
Labels: area/go

fix comment
  pkg/app/pipedv1/apistore/commandstore/store.go
Labels: area/go

Refactor: rename to Reporter interface for extensibility
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

refactor: rename to commandReporter
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

add if-condition of pipedv0
  pkg/datastore/deploymentstore.go
Labels: area/go

add if-condition of pipedv0
  pkg/datastore/deploymentstore.go
Labels: area/go

Move MetadataKeyStageDisplay to model/deployment.go
  pkg/constants/constants.go
  pkg/model/deployment.go
Labels: area/go

[bot] Update contributors
  README.md
Labels: none

Define PlanPreviewService proto
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
  pkg/plugin/api/v1alpha1/planpreview/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

fix: upgrade @tanstack/react-query from 4.36.1 to 4.39.2
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.39.1 to 4.39.2
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.39.1 to 4.39.2 (#5984)
  web/package.json
  web/yarn.lock
Labels: area/web

Pass ApplicationConfigFiilename
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

[Stage Plugins] Report stage commands as handled after the stage finished (#5967)
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

fix: restore compatibility by stageName
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

[Stage Plugins] Use `METADATA_STAGE_DISPLAY_KEY` instead of SkippedBy/ApprovedBy (#5980)
  pkg/model/deployment.go
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/constants/metadata-keys.ts
Labels: area/go, area/web

[Stage Plugins] Make the UI compatible with skip and approval of pipedv1 (#5968)
  pkg/datastore/deploymentstore.go
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/go, area/web

Fix scheduler status handling (#5978)
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

refine comment to focus on LiveState
  pkg/plugin/api/v1alpha1/planpreview/api.proto
  pkg/plugin/api/v1alpha1/planpreview/api_grpc.pb.go
Labels: area/go

Add tini into piped-base image
  tool/piped-base/Dockerfile
Labels: area/tool

Add tini into piped-base image (#5991)
  tool/piped-base/Dockerfile
Labels: area/tool

go mod init
  pkg/app/pipedv1/plugin/terraform/go.mod
Labels: area/go

Init config.go
  pkg/app/pipedv1/plugin/terraform/config/config.go
Labels: area/go

Init Plugin and main.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/main.go
Labels: area/go

Impl FetchDefinedStages
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/terraform/go.mod
Labels: area/go

Impl DetermineStrategy
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
Labels: area/go

Impl BuildQuickSyncStages
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
Labels: area/go

Impl BuildPipelineSyncStages and delete SYNC stage
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
Labels: area/go

nit: use t.Context()
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
Labels: area/go

Impl ToolRegistry
  pkg/app/pipedv1/plugin/terraform/toolregistry/registry.go
  pkg/app/pipedv1/plugin/terraform/toolregistry/registry_test.go
  pkg/app/pipedv1/plugin/terraform/toolregistry/script.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
