Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Add TestLoadAndDiff
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

Make testcase smaller
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

Separate test cases
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

Add test cases
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

FIx the k8s diff
  pkg/app/piped/platformprovider/kubernetes/diff.go
Labels: area/go

Rename the testcase
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

Add words to logs for debugging easily
  pkg/app/piped/platformprovider/kubernetes/diff.go
Labels: area/go

Fix the kubernetes manifest diff (#5154)
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

chore: remove validation of slack, slackusers or slackGroups
  pkg/config/application.go
Labels: area/go

Release v0.48.7
  RELEASE
Labels: none

Add docs for cherry pick workflow on RELEASE.md
  RELEASES.md
Labels: none

Add docs for cherry pick workflow on RELEASE.md (#5158)
  RELEASES.md
Labels: none

Release v0.48.7 (#5157)
  RELEASE
Labels: none

Fix the kubernetes manifest diff (#5154)
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

Fix the kubernetes manifest diff (#5154)
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

Release v0.48.7 (#5157)
  RELEASE
Labels: none

Add note to RELEASE file (#5149)
  RELEASE
Labels: none

Update pkg/app/server/httpapi/callback.go
  pkg/app/server/httpapi/callback.go
Labels: area/go

Remove faq for k8s multicluster rollout (#5153)
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-v0.39.x/faq/_index.md
  docs/content/en/docs-v0.40.x/faq/_index.md
  docs/content/en/docs-v0.41.x/faq/_index.md
  docs/content/en/docs-v0.42.x/faq/_index.md
  docs/content/en/docs-v0.43.x/faq/_index.md
  docs/content/en/docs-v0.44.x/faq/_index.md
  docs/content/en/docs-v0.45.x/faq/_index.md
  docs/content/en/docs-v0.46.x/faq/_index.md
  docs/content/en/docs-v0.47.x/faq/_index.md
  docs/content/en/docs-v0.48.x/faq/_index.md
Labels: none

Discard the otel logs (#5146)
  go.mod
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

refactor: flushAll method to wait for all log flushes to complete
  pkg/app/piped/logpersister/persister.go
Labels: area/go

Update pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

run: go mod tidy
  go.mod
Labels: none

Support OIDC for the SSO (#5008)
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  go.mod
  go.sum
  pkg/app/server/httpapi/callback.go
  pkg/app/server/httpapi/callback_test.go
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  pkg/model/project_test.go
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/src/components/login-page/login-form/index.tsx
Labels: area/go, area/web

chore: remove validation of slack, slackusers or slackGroups (#5155)
  pkg/config/application.go
Labels: area/go

Send Otel traces to the control plane. (#5092)
  manifests/pipecd/templates/envoy-configmap.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/tracing.go
  pkg/app/piped/controller/tracing_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/tracing.go
  pkg/app/pipedv1/controller/tracing_test.go
Labels: area/go, area/manifests

Add config for Grafana Tempo datasource
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

Modified to use Git with PAT (#4571)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/git/client.go
Labels: area/go

Support Drift Detection for ECS (#5122)
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

Update piped config for quickstart
  manifests/piped/templates/configmap.yaml
  manifests/piped/values.yaml
  quickstart/README.md
  quickstart/manifests/piped.yaml
Labels: area/manifests

[bot] Update contributors
  README.md
Labels: none

Do make gen/code
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/go, area/web

Remove GenericApplicationSpec from DeploymentSource
  pkg/model/deployment_source.proto
Labels: area/go

Use git worktree and partial clone to reduce network io
  pkg/git/client.go
Labels: area/go

Write a comment why we dont update cache
  pkg/git/client.go
Labels: area/go

fix SSOConfigOIDC: UpperCamel -> LowerCamel
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
Labels: none

nits: add t.Parallel()
  pkg/app/server/httpapi/callback_test.go
Labels: area/go

Use singleflight to clone/update repository cache
  pkg/git/client.go
Labels: area/go

Show username on the header
  web/src/components/header/index.tsx
Labels: area/web

remove unintended blank
  web/src/components/header/index.tsx
Labels: area/web
