Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

fix: upgrade react-router-dom from 6.26.2 to 6.28.1 (#5513)
  web/package.json
  web/yarn.lock
Labels: area/web

Add application-form-manual-v1
  web/src/api/applications.ts
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-manual/index.test.tsx
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/modules/update-application/index.ts
Labels: area/web

Check whether runningDSP is nil considering the first deploy
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Check whether runningDSP is nil considering the first deploy (#5541)
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Feat/form application piped v1 (#5516)
  web/src/__fixtures__/dummy-application.ts
  web/src/api/applications.ts
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v0/index.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/application-form/index.tsx
  web/src/components/application-form/tab-panel.tsx
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/components/dialog-confirm/dialog-confirm.test.tsx
  web/src/components/dialog-confirm/index.tsx
  web/src/components/form-select-input/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
  web/src/utils/common.ts
Labels: area/web

Change DeployTargets to DeployTargetsByPlugin in model.Application
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
Labels: area/go, area/web

Update web test
  web/src/__fixtures__/dummy-application.ts
Labels: area/web

Change DeployTargets to DeployTargetsByPlugin in model.Application (#5543)
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/__fixtures__/dummy-application.ts
Labels: area/go, area/web

Add DeployTargetByPlugin to Deployment
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
Labels: area/go

Add deployTargetsByPlugin to model.Deployment
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/go, area/web

Add deploy target by plugin to deployment (#5544)
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/go, area/web

Add plugins to piped model
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
Labels: area/go, area/web

Update web test
  web/src/__fixtures__/dummy-piped.ts
Labels: area/web

Turn off future flag react-router-dom, update test
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/header/index.test.tsx
  web/src/index.tsx
  web/src/routes.test.tsx
  web/test-utils/MemoryRouterTest.tsx
  web/test-utils/index.tsx
Labels: area/web

Add plugins to piped model (#5545)
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
Labels: area/go, area/web

Add deploy target by plugin to application web API
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web

Fix wrong assign
  pkg/datastore/applicationstore.go
Labels: area/go

Update web source
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/web

Turn off future flag react-router-dom, update test (#5546)
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/header/index.test.tsx
  web/src/index.tsx
  web/src/routes.test.tsx
  web/test-utils/MemoryRouterTest.tsx
  web/test-utils/index.tsx
Labels: area/web

Update copyright notice year
  pkg/plugin/pipedsdk/client.go
  pkg/plugin/pipedsdk/deployment.go
  pkg/plugin/pipedsdk/sdk.go
Labels: area/go

Improve docker build perf for piped
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
Labels: area/go

Improve docker build perf for helloworld
  cmd/helloworld/Dockerfile
Labels: area/go

Improve docker build perf for pipecd
  cmd/pipecd/Dockerfile
Labels: area/go

Improve docker build perf for pipectl
  cmd/pipectl/Dockerfile
Labels: area/go

Improve docker build perf for helloworld
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
Labels: area/go

Add syntax comment
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipectl/Dockerfile
Labels: area/go

Fix material deprecate 'fade to alpha' warning
  web/package.json
  web/yarn.lock
Labels: area/web

Fix error unique key when map - react
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

Pipedv1 reports plugins while report metadata
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Show push error log earlier than reporting
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Use WarnLog in retry
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Revert "Add deploy target by plugin to deployment (#5544)"
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/go, area/web

Revert "Add deploy target by plugin to deployment (#5544)" (#5553)
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/go, area/web

Revert "Change DeployTargets to DeployTargetsByPlugin in model.Application (#…"
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/__fixtures__/dummy-application.ts
Labels: area/go, area/web

Revert "Change DeployTargets to DeployTargetsByPlugin in model.Application (#…" (#5554)
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/__fixtures__/dummy-application.ts
Labels: area/go, area/web

Define DeployTargetsByPlugin
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
Labels: area/go

clarify log messages
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

clarify log messages
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Fix to deployTargetsbyPlugin for model.Application
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/model/application.go
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-application.ts
Labels: area/go, area/web

Fix to deployTargetsbyPlugin for model.Deployment
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/model/deployment.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
