Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

[blog] Add a blog of building a control plane on local by docker-compose (#4823)
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/static/images/control-plane-local-console.png
Labels: none

Update plugin proto for ExecutorService and add piped pluginservice
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Use in.WorkingDir
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

[WIP] Add planner
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/pipeline.go
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Use last_successful_commit_hash and last_successful_config_file_name
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Not to use out.Version
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Fix for relocation of proto api
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/pipeline.go
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Rename pkg name
  pkg/app/pipedv1/plugin/platform/kubernetes/main.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/pipeline.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/platform/kubernetes/server.go
Labels: area/go

Add startup server implementation
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/main.go
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/server.go
Labels: area/go

Add licence
  pkg/app/pipedv1/plugin/platform/kubernetes/main.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/platform/kubernetes/server.go
Labels: area/go

Use in.PipedConfig
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Create git client
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Create secret encryptor
  pkg/app/pipedv1/pluggin/applicationkind/kubernetes/planner/server.go
Labels: area/go

Add roughly implementation for planner plugin
  pkg/app/pipedv1/controller/pluginregistry.go
Labels: area/go

Comment out for the testing code
  pkg/app/pipedv1/controller/pluginregistry.go
Labels: area/go

Update plugin proto for ExecutorService and add piped pluginservice (#4834)
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Add plugin planner for k8s (#4819)
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/app/pipedv1/plugin/platform/kubernetes/main.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/pipeline.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/platform/kubernetes/server.go
Labels: area/go

[doc] Add explanation of options of piped and launcher (#4829)
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/runtime-options.md
Labels: none

[doc] Add links to each README.md of components (#4828)
  CONTRIBUTING.md
Labels: none

[doc] Add explanation of health check (#4827)
  docs/content/en/docs-dev/user-guide/metrics.md
  docs/content/en/docs-v0.46.x/user-guide/metrics.md
Labels: none

[doc] Fix the status of Plan Preview for Lambda (#4818)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
Labels: none

WIP: copy sync executor
  pkg/app/pipedv1/plugin/platform/kubernetes/executor/sync/sync.go
  pkg/app/pipedv1/plugin/platform/kubernetes/executor/sync/sync_test.go
Labels: area/go

Add log persister
  pkg/app/pipedv1/plugin/platform/kubernetes/executor/sync/logpersister.go
Labels: area/go

WIP: fix logpersister
  pkg/app/pipedv1/plugin/platform/kubernetes/executor/sync/sync.go
Labels: area/go

update deprecated funcs for grpc package
  pkg/rpc/rpcclient/option.go
Labels: area/go

update deprecated type
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Add KubeCon info blog
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
Labels: none

Add KubeCon info blog (#4838)
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
Labels: none

[doc] Add links to `pipectl init` from the pages of configuring ECS/K8s App (#4802)
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Update project kiosk location
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
Labels: none

Update project kiosk location (#4839)
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
Labels: none

Update blog content
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
Labels: none

Update blog content (#4840)
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
Labels: none

update deprecated funcs for grpc package (#4836)
  pkg/rpc/rpcclient/option.go
Labels: area/go

update deprecated type (#4837)
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Update go.mod
  go.mod
Labels: none

Fix README.md for piped
  cmd/piped/README.md
Labels: area/go

Update go.mod (#4842)
  go.mod
Labels: none

Fix README.md for piped (#4843)
  cmd/piped/README.md
Labels: area/go

Add the application ID to the application detail page
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web
