Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

typo
  pkg/app/piped/notifier/slack.go
Labels: area/go

revert pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.go
Labels: area/go

update logic for having getGroupsAsString()
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/notifier/slack_test.go
Labels: area/go

revert change pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.go
Labels: area/go

remove change in docs v0.47.x
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/configuring-notifications.md
Labels: none

unify the process to get users and groups in the same method
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/waitapproval/waitapproval.go
  pkg/config/application.go
Labels: area/go

following slack api, !subteam^ is a literal string that should not change
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/config/application.go
  pkg/config/piped.go
  pkg/model/notificationevent.pb.go
Labels: area/go

add code gen
  pkg/model/notificationevent.pb.go
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/go, area/web

adjust mention users and slack logic
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/waitapproval/waitapproval.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/config/application.go
  pkg/config/application_test.go
Labels: area/go

update docs
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
Labels: none

call both getAccountsAsString and getGroupsAsString
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/notificationevent.pb.go
Labels: area/go

using <!subteam^ID> for group mentioning
  pkg/config/piped.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/model/notificationevent.proto
Labels: area/go

update doc Using the groupID or teamID in the documents makes it easier for users to use this feature.
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
Labels: none

same method to format slack group
  pkg/config/piped.go
Labels: area/go

feat: add slackUsers field and mark slack as deprecated field
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/config/application.go
  pkg/config/application_test.go
Labels: area/go

Use x86_64 version of google-cloud-sdk
  cmd/pipecd/Dockerfile
Labels: area/go

Upgrade google-cloud-sdk
  cmd/pipecd/Dockerfile
Labels: area/go

Upgrade google-cloud-sdk (#5042)
  cmd/pipecd/Dockerfile
Labels: area/go

Remove ApiVersion & Namespace from ECSResourceState
  pkg/app/piped/platformprovider/ecs/state.go
  pkg/app/piped/platformprovider/ecs/state_test.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web

Remove ApiVersion from ECSStateView
  web/src/components/application-detail-page/application-state-view/ecs-state-view/ecs-resource-detail/index.tsx
Labels: area/web

feat: add support mention slack groups for NotificationReceiverSlack and NotificationMention (#4903)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/waitapproval/waitapproval.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/notifier/slack_test.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.proto
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/go, area/web

Add working_dir to PlanPluginInput
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
Labels: area/go

add note of task-role (#5035)
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.47.x/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.48.x/installation/install-piped/required-permissions.md
Labels: none

Add supprted SSO provider
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.39.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.40.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.42.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.45.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.46.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.47.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.48.x/user-guide/managing-controlplane/auth.md
Labels: none

Remove Google SSO config from docs
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.42.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Clarify procedure of configuring
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Remove Google SSO from Feature Status
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
  docs/content/en/docs-v0.47.x/feature-status/_index.md
  docs/content/en/docs-v0.48.x/feature-status/_index.md
Labels: none

Update docs for Google SSO (#5044)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.39.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.39.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.40.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.42.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.45.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
  docs/content/en/docs-v0.46.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.46.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.47.x/feature-status/_index.md
  docs/content/en/docs-v0.47.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.47.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.48.x/feature-status/_index.md
  docs/content/en/docs-v0.48.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.48.x/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Add DetermineVersions rpc to PlannerService
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
Labels: area/go

fix typo: manifests->manifest
  pkg/app/piped/planpreview/lambdadiff.go
Labels: area/go

add test cases for ECS in DetermineAppHealthStatus
  pkg/model/application_live_state_test.go
Labels: area/go

Add DetermineVersions rpc to PlannerService (#5047)
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
Labels: area/go

Remove GetReadOnly from deploysource.Provider interface
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/executor/cloudrun/deploy.go
  pkg/app/pipedv1/executor/cloudrun/rollback.go
  pkg/app/pipedv1/executor/ecs/deploy.go
  pkg/app/pipedv1/executor/ecs/rollback.go
  pkg/app/pipedv1/executor/lambda/deploy.go
  pkg/app/pipedv1/executor/lambda/rollback.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
Labels: area/go

Remove GetReadOnly from deploysource.Provider interface (#5048)
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/executor/cloudrun/deploy.go
  pkg/app/pipedv1/executor/cloudrun/rollback.go
  pkg/app/pipedv1/executor/ecs/deploy.go
  pkg/app/pipedv1/executor/ecs/rollback.go
  pkg/app/pipedv1/executor/lambda/deploy.go
  pkg/app/pipedv1/executor/lambda/rollback.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
Labels: area/go

add area/pipedv1 label in labeler.yaml
  .github/labeler.yaml
Labels: area/build

add area/pipedv1 label in labeler.yaml (#5049)
  .github/labeler.yaml
Labels: area/build

Pass the DeploySource directly to the plugin
  pkg/app/pipedv1/plugin/inputs.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
Labels: area/go

Fix the import
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
Labels: area/go

Fix the import groupings
  pkg/app/pipedv1/plugin/inputs.go
Labels: area/go

Upgrade google.golang.org/grpc
  go.mod
  go.sum
  pkg/rpc/grpc_test.go
Labels: area/go
