Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Run make gen/code
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

Add 'unsupported' flag in DetermineStrategyResponse (#5474)
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

[Wait] Implemented the core of executing Wait with WaitStageOptions (#5456)
  pkg/app/pipedv1/plugin/wait/config/options.go
  pkg/app/pipedv1/plugin/wait/config/options_test.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
  pkg/app/pipedv1/plugin/wait/deployment/wait_test.go
  pkg/configv1/application.go
Labels: area/go

nits: use t.Logf() instead
  pkg/app/pipedv1/metadatastore/store_test.go
Labels: area/go

Implemented the backend of Metadata APIs as MetadataStoreRegistry (#5471)
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/metadatastore/registry.go
  pkg/app/pipedv1/metadatastore/registry_test.go
  pkg/app/pipedv1/metadatastore/store.go
  pkg/app/pipedv1/metadatastore/store_test.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/go, area/web

Implement MigrateDatabase RPC (#5497)
  pkg/app/server/grpcapi/api.go
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

Release v0.50.1
  RELEASE
  docs/content/en/docs-v0.50.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.50.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Release v0.50.1 (#5498)
  RELEASE
  docs/content/en/docs-v0.50.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.50.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Release v0.50.1 (#5498)
  RELEASE
  docs/content/en/docs-v0.50.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.50.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Enhance logging in EventWatcher (#5443)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

[ECS] Support 5 missing fields in TaskDefinition (#5424)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Add default envs in ScriptRunStage: SR_TRIGGERED_COMMANDER, SR_IS_ROLLBACK (#5464)
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/scriptrun/script_run_test.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

[ECS] Enabled to configure/update `PropagateTags` and `EnableECSManagedTags` (#5425)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

fixed to certainly store the startTime (#5461)
  pkg/app/piped/executor/wait/wait.go
Labels: area/go

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

Add migrate command for database migration tasks
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/pipectl/cmd/migrate/migrate.go
Labels: area/go

Enhance database migration command documentation
  pkg/app/pipectl/cmd/migrate/database.go
Labels: area/go

Add migrate command for database migration tasks (#5501)
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/pipectl/cmd/migrate/migrate.go
Labels: area/go

refactor: move a const 'stageWait' to server.go
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
Labels: area/go

add tests
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/server_test.go
Labels: area/go

fix: remove error disableBackdropClick is deprecated
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
Labels: area/web

Implement BuildQuickSync(), BuildPipelineSync()
  pkg/app/pipedv1/plugin/wait/deployment/server.go
Labels: area/go

Implement DetermineStrategy
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/plugin/wait/deployment/server.go
Labels: area/go

Implement DetermineVersions()
  pkg/app/pipedv1/plugin/wait/deployment/server.go
Labels: area/go

Use 'unsupported' for DetermineStrategy()
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/plugin/wait/deployment/server.go
Labels: area/go

refactor: move a const 'stageWait' to server.go
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
Labels: area/go

add tests
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/server_test.go
Labels: area/go

fix import order
  pkg/app/pipedv1/plugin/wait/deployment/server_test.go
Labels: area/go

fix import order 2
  pkg/app/pipedv1/plugin/wait/deployment/server_test.go
Labels: area/go

Add DeployTargets when building a deployment (#5496)
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
Labels: area/go

fix: remove error disableBackdropClick is deprecated (#5503)
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
Labels: area/web

Add an RPC UpdateApplicationDeployTargets
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Implement UpdateApplicationDeployTargets
  pkg/app/server/grpcapi/api.go
Labels: area/go

Remove old 'planner' comments
  pkg/plugin/api/v1alpha1/client.go
  pkg/plugin/pipedapi/client.go
  pkg/plugin/signalhandler/handler.go
Labels: area/go

Remove old 'planner' comments (#5505)
  pkg/plugin/api/v1alpha1/client.go
  pkg/plugin/pipedapi/client.go
  pkg/plugin/signalhandler/handler.go
Labels: area/go

Implement pipectl migrate database with new RPCs
  pkg/app/pipectl/cmd/migrate/database.go
Labels: area/go

Remove unused RPC
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

move routes setting config to routes
  web/src/components/settings-page/index.tsx
  web/src/routes.tsx
Labels: area/web

fix: remove error "unique key" in application page
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: area/web

Move setting routes to file routes.tsx
  web/src/components/settings-page/index.tsx
  web/src/routes.tsx
Labels: area/web
