Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update logic to prevent the values file from being placed outside of the app config directory
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Add unit tests
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/helm_test.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/values.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/values.yaml
Labels: area/go

Refactor from review
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/application.go
Labels: area/go

Update RestartPiped role
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
Labels: area/go

Add RestartPiped gRPC to Web API (#3725)
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/command.pb.go
  pkg/model/command.pb.validate.go
  pkg/model/command.proto
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/command_pb.d.ts
  web/model/command_pb.js
  web/src/modules/commands/index.ts
Labels: area/go, area/web

Remove ToApplicationKind function
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/application.go
  pkg/config/config.go
  pkg/config/config_test.go
Labels: area/go

Define the LoadApplication function in the config package (#3730)
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/application.go
  pkg/config/config.go
  pkg/config/config_test.go
Labels: area/go

Support event watcher in app config
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/application.go
  pkg/config/event_watcher.go
Labels: area/go

Remove the loadApplicationConfiguration function
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Fix the params of the commitFiles function
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Make piped version input box selectable
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/pipeds/index.test.ts
  web/src/modules/pipeds/index.ts
Labels: area/web

Minor
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/components/settings-page/piped/index.tsx
Labels: area/web

Fix bug in resolve symlink
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/helm_test.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/test.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/valid-symlink
Labels: area/go

Add verification for remote chart
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Add comment
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Remove test code
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/test.go
Labels: area/go

Add document
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Add API
  pkg/app/server/githubstore/store.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/piped.ts
  web/src/modules/pipeds/index.ts
Labels: area/go, area/web

Remove debug code
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Update test name
  pkg/app/piped/cloudprovider/kubernetes/helm_test.go
Labels: area/go

Wrong ref
  pkg/app/server/githubstore/store.go
Labels: area/go

Auto-complete Piped form when only one Piped has been added (#3723)
  web/src/components/application-form/index.tsx
Labels: area/web

Fix typo
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Add github store cli
  cmd/pipecd/server.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Update docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Fix typo
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Refactoring logic about resolve symlink
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Fix comment typo
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Update pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Make input free text allowed
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
Labels: area/web

Remove githubstore
  cmd/pipecd/server.go
  pkg/app/server/githubstore/store.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Update docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update ignore condition
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Remove `absAppDir` because `appDir` is always absolute path
  pkg/app/piped/cloudprovider/kubernetes/helm.go
Labels: area/go

Add validation to helm values file path to prevent potential dirtrav vulnerability (#3726)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/helm_test.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/values.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/values.yaml
Labels: area/go

Fix bug that cloud provider type is not resolved correctly
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/application.go
  pkg/model/cloudprovider.go
Labels: area/go

feat: Add serviceAccountName field
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Make piped upgrade version input box selectable (#3734)
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/piped.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/pipeds/index.test.ts
  web/src/modules/pipeds/index.ts
Labels: area/go, area/web

Fix bug that cloud provider type is not resolved correctly (#3735)
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/application.go
  pkg/model/cloudprovider.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
