Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update RELEASE to v0.48.5 (#5130)
  RELEASE
Labels: none

fix: upgrade google-protobuf from 3.21.0 to 3.21.4 (#5115)
  web/package.json
  web/yarn.lock
Labels: area/web

Register otel TracerProvider to send traces (#5029)
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/grpc_test.go
Labels: area/go

fix: upgrade dayjs from 1.8.28 to 1.11.12 (#5126)
  web/package.json
  web/yarn.lock
Labels: area/web

Use LRUCache for Application Manifests Cache (#5108)
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities (#5118)
  tool/actions-gh-release/Dockerfile
Labels: area/tool

Fix UI dependecies deprecated (#5113)
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/theme.ts
Labels: area/web

fix: upgrade react-markdown from 6.0.2 to 6.0.3 (#5116)
  web/package.json
  web/yarn.lock
Labels: area/web

Set fetch-depth to 0 to create correct patches during git cherry-pick as much as possible (#5096)
  .github/workflows/cherry_pick.yaml
Labels: area/build

fix: add exempt-pr-labels
  .github/workflows/stale.yaml
Labels: area/build

fix reporter: ecs->lambda
  pkg/app/piped/livestatereporter/reporter.go
Labels: area/go

fix comments
  pkg/app/piped/livestatestore/lambda/store.go
Labels: area/go

Revert "Cherry-pick #5029 #5096 #5097 #5099 #5108 #5113 #5114 #5115 #5116 #51…"
  .github/workflows/cherry_pick.yaml
  RELEASE
  docs/package-lock.json
  docs/package.json
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/grpc_test.go
  tool/actions-gh-release/Dockerfile
  web/package.json
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/theme.ts
  web/yarn.lock
Labels: area/go, area/web, area/build, area/tool

Revert "Cherry-pick #5029 #5096 #5097 #5099 #5108 #5113 #5114 #5115 #5116 #51…" (#5135)
  .github/workflows/cherry_pick.yaml
  RELEASE
  docs/package-lock.json
  docs/package.json
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/grpc_test.go
  tool/actions-gh-release/Dockerfile
  web/package.json
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/theme.ts
  web/yarn.lock
Labels: area/go, area/web, area/build, area/tool

Use LRUCache for Application Manifests Cache (#5108)
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities (#5118)
  tool/actions-gh-release/Dockerfile
Labels: area/tool

fix: upgrade react-markdown from 6.0.2 to 6.0.3 (#5116)
  web/package.json
  web/yarn.lock
Labels: area/web

Set fetch-depth to 0 to create correct patches during git cherry-pick as much as possible (#5096)
  .github/workflows/cherry_pick.yaml
Labels: area/build

fix: upgrade dayjs from 1.8.28 to 1.11.12 (#5126)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade google-protobuf from 3.21.0 to 3.21.4 (#5115)
  web/package.json
  web/yarn.lock
Labels: area/web

Fix UI dependecies deprecated (#5113)
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/theme.ts
Labels: area/web

fix typo: precent->percent
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

fix nits
  pkg/app/piped/livestatestore/lambda/store.go
Labels: area/go

Add pipecd-managed tags on loading the manifest
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/platformprovider/lambda/lambda.go
Labels: area/go

Update to v0.48.6
  RELEASE
Labels: none

Use appId from tags
  pkg/app/piped/livestatestore/lambda/store.go
Labels: area/go

Update to v0.48.6 (#5137)
  RELEASE
Labels: none

Use lambda's const
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/platformprovider/lambda/function.go
Labels: area/go

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

fix: tool/codegen/Dockerfile to reduce vulnerabilities (#5138)
  tool/codegen/Dockerfile
Labels: area/tool

Fix: Update latest version of docs (#5025)
  docs/main.go
Labels: none

Update to v0.48.6 (#5137)
  RELEASE
Labels: none

fix: add exempt-pr-labels (#5134)
  .github/workflows/stale.yaml
Labels: area/build

Cherry-pick #5025 #5137 (#5139)
  RELEASE
  docs/main.go
Labels: none

fix test
  pkg/app/piped/livestatestore/lambda/store_test.go
Labels: area/go

update comment: give up retrieving S3 and SourceCode
  pkg/app/piped/livestatestore/lambda/store.go
Labels: area/go

fix: avoid nil dereference
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/lambda/store_test.go
Labels: area/go

Fix the docs for the target branch for the rc release
  RELEASES.md
Labels: none

Fix the docs for the target branch for the rc release (#5140)
  RELEASES.md
Labels: none

Remove unnecessary fields from LambdaResourceState
  pkg/app/piped/platformprovider/lambda/state.go
  pkg/app/piped/platformprovider/lambda/state_test.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
