Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Support mention for slack notification (#4491)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Fix release blogs are not all removed
  docs/content/en/blog/releases/v0.44.0.md
  docs/content/en/blog/releases/v0.44.1.md
  docs/content/en/blog/releases/v0.44.2.md
Labels: none

Fix release blogs are not all removed (#4500)
  docs/content/en/blog/releases/v0.44.0.md
  docs/content/en/blog/releases/v0.44.1.md
  docs/content/en/blog/releases/v0.44.2.md
Labels: none

Make blog posts directly under blog dir
  docs/content/en/blog/announcing-pipecd.md
  docs/content/en/blog/cncf-sandbox-admission.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/blog/february-2022-update.md
  docs/content/en/blog/january-2022-update.md
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/migrate-control-plane-datastore-to-mysql.md
  docs/content/en/blog/news/_index.md
  docs/content/en/blog/november-2021-update.md
  docs/content/en/blog/pipecd-best-practice-01.md
  docs/content/en/blog/play-environment.md
Labels: none

Make blog posts directly under blog dir (#4501)
  docs/content/en/blog/announcing-pipecd.md
  docs/content/en/blog/cncf-sandbox-admission.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/blog/february-2022-update.md
  docs/content/en/blog/january-2022-update.md
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/migrate-control-plane-datastore-to-mysql.md
  docs/content/en/blog/news/_index.md
  docs/content/en/blog/november-2021-update.md
  docs/content/en/blog/pipecd-best-practice-01.md
  docs/content/en/blog/play-environment.md
Labels: none

feat: add spec input.AutoCreateNamespace for creating a ns when doesn't exist
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/config/application_kubernetes.go
  pkg/config/testdata/application/k8s-app-helm.yaml
Labels: area/go

feat: add spec input.AutoCreateNamespace for creating a ns when doesn't exist!
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/config/application_kubernetes.go
  pkg/config/testdata/application/k8s-app-helm.yaml
Labels: area/go

Fix use local path
  docs/main.go
Labels: none

feat: add spec input.AutoCreateNamespace for creating a ns when doesn't exist
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/config/application_kubernetes.go
  pkg/config/testdata/application/k8s-app-helm.yaml
Labels: area/go

Fix documentation link is not displayed
  docs/content/en/docs/_index.md
  docs/content/en/docs/releases/_index.md
Labels: none

Fix documentation link is not displayed (#4505)
  docs/content/en/docs/_index.md
  docs/content/en/docs/releases/_index.md
Labels: none

Setup codecov
  .github/workflows/test.yaml
Labels: area/build

add: caution note to user group doc
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
Labels: none

Setup codecov (#4509)
  .github/workflows/test.yaml
Labels: area/build

Fix make release/docs command regenerate unused docs directory
  hack/gen-release-docs.sh
Labels: area/build

Update go test command
  .gitignore
  Makefile
Labels: area/build

Update makefile and github action command
  .github/workflows/test.yaml
  Makefile
Labels: area/build

add: caution note to user group doc (#4512)
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
Labels: none

Revert gitignore
  .gitignore
Labels: none

Update go test command (#4514)
  .github/workflows/test.yaml
  Makefile
Labels: area/build

Fix make release/docs command regenerate unused docs directory (#4513)
  hack/gen-release-docs.sh
Labels: area/build

Update auth docs
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/auth.md
Labels: none

Update auth docs (#4517)
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/auth.md
Labels: none

fix: optional setting apiKey and applicationKey for AnalysisProviderDatadogConfig directly
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/analysisprovider/metrics/factory/factory.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

validate and error log
  pkg/config/piped.go
Labels: area/go

Add Google Tag Manager to the site
  docs/layouts/_default/baseof.html
  docs/layouts/partials/gtm/body.html
  docs/layouts/partials/gtm/head.html
Labels: none

Add breakline
  docs/layouts/_default/baseof.html
Labels: none

Add breakline
  docs/layouts/partials/gtm/head.html
Labels: none

Add Google Tag Manager to the site (#4519)
  docs/layouts/_default/baseof.html
  docs/layouts/partials/gtm/body.html
  docs/layouts/partials/gtm/head.html
Labels: none

add value test data
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Add application related labels to deployment_status metric
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controllermetrics/metrics.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

omitempty AutoCreateNamespace, add test case
  pkg/config/application_kubernetes.go
  pkg/config/application_kubernetes_test.go
  pkg/config/application_test.go
  pkg/config/testdata/application/truebydefaultbool-false-explicitly.yaml
  pkg/config/testdata/application/truebydefaultbool-true-explicitly.yaml
Labels: area/go

not return error when namespace already exists
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
Labels: area/go

Update auth docs (#4517)
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/auth.md
Labels: none

Update pkg/config/application_test.go
  pkg/config/application_test.go
Labels: area/go

Fix make release/docs command regenerate unused docs directory (#4513)
  hack/gen-release-docs.sh
Labels: area/build

Update docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update pkg/config/application_test.go
  pkg/config/application_test.go
Labels: area/go

Update pkg/config/application_test.go
  pkg/config/application_test.go
Labels: area/go

Update pkg/config/application_kubernetes_test.go
  pkg/config/application_kubernetes_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
