Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Disable provenance feature on docker build for unsupported platforms
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

Change how to add task's tags
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Delete TagResource method
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Fix based on linter
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Add kubectl version to stage log (#4137)
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: area/go

Apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Add upgrade a release method for helm
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

Add terraform drift detection
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Arrange imports
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Remove comment out.
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Add comment.
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Corrected review content
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Call terraform drift detector
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Add TODO comment
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Fix loadApplicationConfiguration
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Fix loadApplicationConfiguration
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Move appCfg
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Add terraform drift detection (#4144)
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Add upgrade a release method for helm (#4143)
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

modify AWS architecture
  docs/rfcs/0009-control-plane-without-k8s.md
  docs/rfcs/assets/control-plane-on-aws-1.jpg
  docs/rfcs/assets/control-plane-on-aws-2.jpg
  docs/rfcs/assets/control-plane-on-aws.jpg
Labels: none

add builtin-labels
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Add tagResource func
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Add --create-namespace flag when uses helm version greater than v3
  go.mod
  go.sum
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

Set default value of PropagateTags
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

Apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Add pipecd builtin tags to ECS resources (#4140)
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

modify docs
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Add ecs apis
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

wip
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/loader.go
Labels: area/go

Add Install interface for the k8s applier
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/helm.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
Labels: area/go

change minites tp hours
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback.go
  pkg/model/project.proto
Labels: area/go

delete wait for init
  docker-compose.yaml
Labels: none

regen
  pkg/model/project.pb.go
  pkg/model/project.proto
Labels: area/go

change datastore to cache to save last used at time
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/apikeyverifier/verifier.go
  pkg/app/server/apikeyverifier/verifier_test.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go, area/build

change checkapi to member function
  pkg/app/server/apikeyverifier/verifier.go
Labels: area/go

change checkapi to member function
  pkg/app/server/apikeyverifier/verifier.go
Labels: area/go

Add environment variable expire web session (#4127)
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/go, area/web

delete datastore setting
  pkg/datastore/apikey.go
Labels: area/go

modify verify_test
  pkg/app/server/apikeyverifier/verifier_test.go
Labels: area/go
