Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add a piped option to fetch piped-config from AWS Secrets Manager
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

Decode config after fetching from AWS Secrets Manager
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

Fix the case when two configs are set
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/cmd/piped/piped_test.go
Labels: area/go

feat: exposeService detail logs (#4752)
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/cache/memorycache/ttl_cache_test.go
Labels: area/go

BUGFIX: Added cancel method to fix context leak (#4767)
  cmd/pipecd/server.go
Labels: area/go

Update contributors list
  README.md
Labels: none

Update contributors list (#4787)
  README.md
Labels: none

Add a testcase that three flags are set
  pkg/app/piped/cmd/piped/piped_test.go
Labels: area/go

Fix the comment of alternative cobra option
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

Fix nits
  pkg/app/pipectl/cmd/initialize/kubernetes.go
Labels: area/go

remove indents
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

fix indents
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

remove indents
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

fix indents
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

remove indents
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

add indents
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

remove blank line
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

fix doc of v0.46.x
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

Support AWS Secrets Manager as a source of piped-config (#4785)
  go.mod
  go.sum
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/cmd/piped/piped_test.go
Labels: area/go

Run update go deps
  go.mod
Labels: none

[doc] Fix indents of the pprof page (#4776)
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

Run update go deps (#4792)
  go.mod
Labels: none

Support K8sApp by `pipectl init` in simplest way (#4759)
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/kubernetes.go
  pkg/app/pipectl/cmd/initialize/kubernetes_test.go
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-empty.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-local.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-remote.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-kustomize-empty.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-kustomize.yaml
  pkg/config/application_kubernetes.go
Labels: area/go

draft: support Lambda layer
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

Embed the simple AnalysisStage in pipeline by default
  pkg/app/pipectl/cmd/initialize/ecs.go
Labels: area/go

Merge fix origin/master into pipectl-init-ecs-canary
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

fix prompt message and default value
  pkg/app/pipectl/cmd/initialize/ecs.go
Labels: area/go

Fix output YAML structure by generic structs
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-canary.yaml
  pkg/config/application.go
  pkg/config/percentage.go
Labels: area/go

Support Blue/Green for ECS by pipectl init
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-bluegreen.yaml
Labels: area/go

omitempty Percentage
  pkg/config/application_ecs.go
Labels: area/go

Changed default values for simpler config
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-empty.yaml
Labels: area/go

Rename funcs to avoid name conflicts with other platforms
  pkg/app/pipectl/cmd/initialize/ecs.go
Labels: area/go

Add link to pipectl init from the page of configuring ECS app
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Add link to pipectl init from the page of configuring Kubernetes app
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Fix the Lambda encryptedSecrets key used in the example
  examples/lambda/secret-management/app.pipecd.yaml
Labels: area/examples

Fix the Lambda encryptedSecrets key used in the example (#4804)
  examples/lambda/secret-management/app.pipecd.yaml
Labels: area/examples

reset 'draft: support Lambda layer'
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

Add Layers attribute
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
Labels: area/go

Add comment of Layers
  pkg/app/piped/platformprovider/lambda/function.go
Labels: area/go

add a test
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
