Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add quiet option for cherry-pick
  .github/workflows/cherry_pick.yaml
Labels: area/build

Add quiet option for cherry-pick (#5081)
  .github/workflows/cherry_pick.yaml
Labels: area/build

add EphemeralStorage to RegisterTaskDefinition() (#5063)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Fix type for grpcWeb.Error to grpcweb.RpcError (#5072)
  web/src/api/client.ts
Labels: area/web

Add sign off option for git cherry-pick
  hack/cherry-pick.sh
Labels: area/build

Add sign off option for git cherry-pick (#5083)
  hack/cherry-pick.sh
Labels: area/build

Fix type for grpcWeb.Error to grpcweb.RpcError (#5072)
  web/src/api/client.ts
Labels: area/web

add EphemeralStorage to RegisterTaskDefinition() (#5063)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

add ci rule for release branch
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

add ci rule for release branch (#5085)
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

Remove platform provider migration ops task (#5065)
  cmd/pipecd/ops.go
  pkg/app/ops/platformprovidermigration/runner.go
Labels: area/go

fix: 'service manifest' -> 'lambda function manifest'
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/planner/lambda/lambda.go
Labels: area/go

Fix 'ImageURI' -> 'Image'
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix field names from UpperCamelCase to lowerCamelCase
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix link title: 'Configuration' -> 'Configuring'
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Move link of 'Configuring Lambda application' to function.yaml area
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix field names from UpperCamelCase to lowerCamelCase: v0.46.x
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
Labels: none

fix 'IDs' -> 'Ids'
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix Required values and add explanation
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix header levels under function.yaml
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

fix '[[]Architecture]' to '[][Architecture]'
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix 'sourceCode' to 'source', although its type name is SourceCode in function.go
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

fix '#sourcecode' -> '#source'
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Register otel TracerProvider to send traces (#5029)
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/grpc_test.go
Labels: area/go

Update README.md to test webUI signoff
  README.md
Labels: none

Add tracing utilities
  pkg/app/piped/controller/tracing.go
Labels: area/go

Add scheduler traces
  pkg/app/piped/controller/scheduler.go
Labels: area/go

Release/init v0.48.3
  RELEASE
Labels: none

Add planner trace implementation
  pkg/app/piped/controller/planner.go
Labels: area/go

Release/init v0.48.3 (#5090)
  RELEASE
Labels: none

Refactor and add attributes for Spans
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

Don't create collector routes when monitoring is disabled
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: area/manifests

Release/init v0.48.3 (#5090)
  RELEASE
Labels: none

Fix type for grpcWeb.Error to grpcweb.RpcError (#5072)
  web/src/api/client.ts
Labels: area/web

add EphemeralStorage to RegisterTaskDefinition() (#5063)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Remove unused dependencies: @date-io/dayjs, @material-ui/pickers (#5070)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @types/yup from 0.29.11 to 0.29.14 (#5038)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade clsx from 1.1.1 to 1.2.1 (#5040)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade dotenv from 8.2.0 to 8.6.0 (#5037)
  web/package.json
  web/yarn.lock
Labels: area/web

Remove platform provider migration ops task (#5065)
  cmd/pipecd/ops.go
  pkg/app/ops/platformprovidermigration/runner.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
