Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

feat: implement plan preview plugin for ECS
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/main.go
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin.go
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin_test.go
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/app.pipecd.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/running/servicedef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/running/taskdef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/target/servicedef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/target/taskdef.yaml
Labels: area/go

docs: add guest blog post 'Your First GitOps Project with PipeCD'
  docs/content/en/blog/your-first-gitops-project.md
  docs/static/images/Architecture.png
  docs/static/images/Cover_page.webp
  docs/static/images/Define_app.png
  docs/static/images/apply_complete.png
  docs/static/images/aws_console.png
Labels: none

feat: enhance rollback functionality to clean up CANARY and BASELINE variants (#6660)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
Labels: area/go

[ECS-Plugin]: Implement Plan Preview (#6614)
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/main.go
  pkg/app/pipedv1/plugin/ecs/planpreview/diff.go
  pkg/app/pipedv1/plugin/ecs/planpreview/diff_test.go
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin.go
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin_test.go
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/app.pipecd.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/running/servicedef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/running/taskdef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/target/servicedef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/target/taskdef.yaml
Labels: area/go

feat: provide methods for getting live state from ecs resources
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

feat: implement livestate plugin
  pkg/app/pipedv1/plugin/ecs/livestate/fetcher.go
  pkg/app/pipedv1/plugin/ecs/livestate/plugin.go
  pkg/app/pipedv1/plugin/ecs/livestate/sync.go
  pkg/app/pipedv1/plugin/ecs/main.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

[ECS-Plugin] Implement Livestate Plugin (#6620)
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/livestate/fetcher.go
  pkg/app/pipedv1/plugin/ecs/livestate/plugin.go
  pkg/app/pipedv1/plugin/ecs/livestate/sync.go
  pkg/app/pipedv1/plugin/ecs/main.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

feat: implement ecs canary clean stage
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

[ECS-Plugin] Implement ECS_CANARY_CLEAN stage (#6608)
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

Docs v1: added plugin development resources (#6643)
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/_index.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/plugin-development-resources.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
Labels: none

docs: add guest blog post 'Your First GitOps Project with PipeCD' (#6663)
  docs/content/en/blog/your-first-gitops-project.md
  docs/static/images/Architecture.png
  docs/static/images/Cover_page.webp
  docs/static/images/Define_app.png
  docs/static/images/apply_complete.png
  docs/static/images/aws_console.png
Labels: none

feat(ecs): Support tags when registering task definition
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

bug(lambda): retain repository name for unknown git providers
  pkg/app/piped/platformprovider/lambda/function.go
Labels: area/go

feat: determine version for images used by TaskDefinitions
  pkg/app/pipedv1/plugin/ecs/deployment/determine.go
  pkg/app/pipedv1/plugin/ecs/deployment/determine_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

feat: determine strategy for ecs deployment
  pkg/app/pipedv1/plugin/ecs/deployment/determine.go
  pkg/app/pipedv1/plugin/ecs/deployment/determine_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

Enhance DetermineStrategy and DetermineVersions for multi-target support
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

Implement livestate drift detection ignore and include/exclude resource filtering
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/kubernetes.go
Labels: area/go

Fix gofmt formatting in provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/kubernetes.go
Labels: area/go

add force new deployment (preparing for ecs controller)
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

blog: fix typos and improve formatting in LFX mentee post
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

blog: add post about My-first-30-days-as-an-lfx-mentee-with-pipecd
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

docs: add blog post for kubernetes_multicluster plugin (#6661)
  docs/content/en/blog/lfx-multicluster-plugin.md
Labels: none

blog: fix formatting issues in LFX mentee post
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

ci(publish_site): bump nodejs to current lts (#6657)
  .github/workflows/publish_site.yaml
Labels: area/build

Init copilot (#6659)
  .github/copilot-instructions.md
Labels: area/build

feat: support ecs controller type
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/controller.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic.go
Labels: area/go

add load balancer configurations for ECS controller
  pkg/app/pipedv1/plugin/ecs/provider/client.go
Labels: area/go

[ECS-Plugin]: Determine version for images used by TaskDefinition (#6670)
  pkg/app/pipedv1/plugin/ecs/deployment/determine.go
  pkg/app/pipedv1/plugin/ecs/deployment/determine_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

plan preview config handling
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/planpreview/handler.go
  pkg/config/piped.go
  pkg/configv1/piped.go
Labels: area/go

feat: determine strategy for ecs deployment
  pkg/app/pipedv1/plugin/ecs/deployment/determine.go
  pkg/app/pipedv1/plugin/ecs/deployment/determine_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

Change Node.js version from 24 to 14 in workflow
  .github/workflows/publish_site.yaml
Labels: area/build

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

fix: cmd/pipecd/Dockerfile to reduce vulnerabilities
  cmd/pipecd/Dockerfile
Labels: area/go

[ECS-Plugin]: Determine strategy for deployment (#6671)
  pkg/app/pipedv1/plugin/ecs/deployment/determine.go
  pkg/app/pipedv1/plugin/ecs/deployment/determine_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: remove unnecessary spaces in markdown links for improved formatting
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

update README for future contributing
  pkg/app/pipedv1/plugin/ecs/README.md
Labels: area/go

[ECS-Plugin] Update README (#6683)
  pkg/app/pipedv1/plugin/ecs/README.md
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
