Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update docs
  docs/content/en/docs-v0.43.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Add release note
  docs/content/en/blog/releases/v0.43.0.md
Labels: none

Fix release note v0.43.0
  docs/content/en/blog/releases/v0.43.0.md
Labels: none

Remove unneeded layout for docs
  docs/layouts/docs-v0.32.x/baseof.html
  docs/layouts/docs-v0.32.x/baseof.print.html
  docs/layouts/docs-v0.32.x/list.html
  docs/layouts/docs-v0.32.x/list.print.html
  docs/layouts/docs-v0.32.x/single.html
  docs/layouts/docs-v0.33.x/baseof.html
  docs/layouts/docs-v0.33.x/baseof.print.html
  docs/layouts/docs-v0.33.x/list.html
  docs/layouts/docs-v0.33.x/list.print.html
  docs/layouts/docs-v0.33.x/single.html
  docs/layouts/docs-v0.34.x/baseof.html
  docs/layouts/docs-v0.34.x/baseof.print.html
  docs/layouts/docs-v0.34.x/list.html
  docs/layouts/docs-v0.34.x/list.print.html
  docs/layouts/docs-v0.34.x/single.html
  docs/layouts/docs-v0.35.x/baseof.html
  docs/layouts/docs-v0.35.x/baseof.print.html
  docs/layouts/docs-v0.35.x/list.html
  docs/layouts/docs-v0.35.x/list.print.html
  docs/layouts/docs-v0.35.x/single.html
  docs/layouts/docs-v0.36.x/baseof.html
  docs/layouts/docs-v0.36.x/baseof.print.html
  docs/layouts/docs-v0.36.x/list.html
  docs/layouts/docs-v0.36.x/list.print.html
  docs/layouts/docs-v0.36.x/single.html
  docs/layouts/docs-v0.37.x/baseof.html
  docs/layouts/docs-v0.37.x/baseof.print.html
  docs/layouts/docs-v0.37.x/list.html
  docs/layouts/docs-v0.37.x/list.print.html
  docs/layouts/docs-v0.37.x/single.html
Labels: none

Fix release note v0.43.0 (#4298)
  docs/content/en/blog/releases/v0.43.0.md
Labels: none

Add attachment feature
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/attacher_test.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/decrypter_test.go
  pkg/config/application.go
Labels: area/go

Update detectors
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Lint
  pkg/app/piped/sourceprocesser/attacher_test.go
Labels: area/go

Refactor
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/config/application.go
Labels: area/go

Update contributions list
  README.md
Labels: none

Update contributions list (#4300)
  README.md
Labels: none

delete getBinDir
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/registry.go
Labels: area/go

Remove entry
  docs/config.toml
Labels: none

add omitempty
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/application.go
Labels: area/go

add validation and default
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/toolregistry/tool_shared.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-sync-without-package.yaml
  pkg/config/testdata/application/custom-sync-without-version.yaml
Labels: area/go

delete files
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

add install script
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

Change color
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Fix message size
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

change validation
  pkg/config/application.go
Labels: area/go

Add external binary management by asdf (#4286)
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/testdata/application/custom-sync-without-package.yaml
  pkg/config/testdata/application/custom-sync-without-version.yaml
Labels: area/go

Update error message
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Rename errHeader to msgHeader
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Lint web
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Make INVALID_CONFIG error messages user friendly (#4280)
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Rearrange configuration reference docs sections and add missing docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

Update error message for driftDetection validation
  pkg/config/application.go
Labels: area/go

Change invalid reason showing UI
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Update max display
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

delete getstagename
  pkg/config/application.go
Labels: area/go

Update examples/lambda/custom-sync-sam/app.pipecd.yaml
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

Update app.pipecd.yaml
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

Update custom-sync.md
  docs/content/en/docs-dev/user-guide/managing-application/custom-sync.md
Labels: none

Update app.pipecd.yaml
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

Update example in drift detection docs
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Update error message for driftDetection validation (#4302)
  pkg/config/application.go
Labels: area/go

Update example in drift detection docs (#4305)
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Improvement of isIgnoredPath
  pkg/diff/diff.go
Labels: area/go

Lint go
  pkg/diff/diff.go
Labels: area/go

merge master
  pkg/app/piped/toolregistry/install.go
Labels: area/go
