Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Draft: impl check of skipping stage
  pkg/app/piped/executor/skipstage.go
  pkg/config/application.go
  pkg/git/repo.go
Labels: area/go

Support PipelineSync on OUT_OF_SYNC
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Combine unnecessary DiffBytesByCommand() to DiffByCommand()
  pkg/diff/diffbycommand.go
Labels: area/go

Remove IgnorePath from comparing ECS Manifests
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Labels: area/go

rename func to DiffStructureds()
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Labels: area/go

add comment of which func to use
  pkg/diff/diff.go
Labels: area/go

apply same fix to pipedv1
  pkg/app/pipedv1/trigger/trigger.go
Labels: area/go

Add new adopter
  ADOPTERS.md
Labels: none

Add new adopter (#4897)
  ADOPTERS.md
Labels: none

Add panels to Control Plane overview dashboard
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

Missing field
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

Removed LoadECSManifest() func
  pkg/app/piped/planpreview/ecsdiff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/ecsmanifest.go
Labels: area/go

Update controlplane overview Grafana dashboad (#4898)
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

Rename test func
  pkg/diff/diff_test.go
Labels: area/go

Add tests of diffbycommand
  pkg/diff/diffbycommand_test.go
Labels: area/go

Removed duplicated tests
  pkg/app/piped/platformprovider/ecs/diff_test.go
Labels: area/go

Rename ECSManifest to ECSManifests
  pkg/app/piped/planpreview/ecsdiff.go
  pkg/app/piped/platformprovider/ecs/cache.go
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/ecsmanifests.go
Labels: area/go

Add NOTE of not supporting Canary,Blue/Green with ECS Service Connect
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Add NOTE of not supporting Canary,Blue/Green with ECS Service Connect: older versions
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Add 'yet'
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Support PipelineSync on OUT_OF_SYNC (#4892)
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/trigger/trigger.go
Labels: area/go

Removed an unnecessary variable
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

Renamed func to 'renderByCommand'
  pkg/app/piped/platformprovider/ecs/diff.go
Labels: area/go

Add check of existence of the command
  pkg/diff/diffbycommand.go
Labels: area/go

Rename func to 'RenderByCommand'
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/diff/diffbycommand.go
  pkg/diff/diffbycommand_test.go
Labels: area/go

Moved func 'RenderByCommand()' to renderer.go
  pkg/diff/diffbycommand.go
  pkg/diff/diffbycommand_test.go
  pkg/diff/renderer.go
  pkg/diff/renderer_test.go
Labels: area/go

Remove decrecated template
  docs/layouts/partials/head.html
  docs/themes/docsy/layouts/partials/head.html
Labels: none

Remove decrecated template (#4901)
  docs/layouts/partials/head.html
  docs/themes/docsy/layouts/partials/head.html
Labels: none

[doc] Added note that Canary or Blue/Green for ECS Service Connect is not supported yet (#4900)
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Rename to 'prefixes'
  pkg/app/piped/executor/skipstage.go
  pkg/config/application.go
Labels: area/go

separate to sub funcs
  pkg/app/piped/executor/skipstage.go
Labels: area/go

Impl Repo.GetCommitFromRev
  pkg/app/piped/executor/skipstage.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Impl skipByPathPattern()
  pkg/app/piped/executor/skipstage.go
Labels: area/go

Add skipOn options to Wait Stage Options
  pkg/config/application.go
Labels: area/go

Add check of skipping stage in Analysis,Wait,WaitApproval Stages
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/skipstage.go
  pkg/app/piped/executor/wait/wait.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
Labels: area/go

Fix comments
  pkg/app/piped/executor/skipstage.go
Labels: area/go

[doc] Added note that Canary or Blue/Green for ECS Service Connect is not supported yet (#4900)
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

updates to all versions of index
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.41.x/quickstart/_index.md
  docs/content/en/docs-v0.42.x/quickstart/_index.md
  docs/content/en/docs-v0.43.x/quickstart/_index.md
  docs/content/en/docs-v0.44.x/quickstart/_index.md
  docs/content/en/docs-v0.45.x/quickstart/_index.md
  docs/content/en/docs-v0.46.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
Labels: none

updates to all versions of index
  docs/content/en/docs/_index.md
Labels: none

Update _index.md (#4893)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.41.x/quickstart/_index.md
  docs/content/en/docs-v0.42.x/quickstart/_index.md
  docs/content/en/docs-v0.43.x/quickstart/_index.md
  docs/content/en/docs-v0.44.x/quickstart/_index.md
  docs/content/en/docs-v0.45.x/quickstart/_index.md
  docs/content/en/docs-v0.46.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs/_index.md
Labels: none
