Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Sort VPCConfig fields in live manifest and enhance tests
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: area/go

fix: respect pipeline config in Kubernetes planner for workload-less apps
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
Labels: area/go

fix: parse initContainers and CronJob container images in FindContainerImages
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/deployment_test.go
Labels: area/go

hide version selector
  docs/layouts/partials/navbar.html
Labels: none

implement FetchStageCommands and SendStageNotification for PluginService
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/apistore/commandstore/store_test.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
Labels: area/go

initialize scaffolding of the ecs plugin
  pkg/app/pipedv1/plugin/ecs/README.md
  pkg/app/pipedv1/plugin/ecs/config/application.go
  pkg/app/pipedv1/plugin/ecs/config/deploy_target.go
  pkg/app/pipedv1/plugin/ecs/config/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/pipeline.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/main.go
Labels: area/go

initialize scaffolding of the ecs plugin (#6557)
  pkg/app/pipedv1/plugin/ecs/README.md
  pkg/app/pipedv1/plugin/ecs/config/application.go
  pkg/app/pipedv1/plugin/ecs/config/deploy_target.go
  pkg/app/pipedv1/plugin/ecs/config/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/pipeline.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/main.go
Labels: area/go

feat: implement load, parse task definition and service from file
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/provider/service.go
  pkg/app/pipedv1/plugin/ecs/provider/service_test.go
  pkg/app/pipedv1/plugin/ecs/provider/task.go
  pkg/app/pipedv1/plugin/ecs/provider/task_test.go
Labels: area/go

handle maintain desired tags for ecs service
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync_test.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

feat: implement pool of wrapper ecs client
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

add pipecd managed tags for ecs service
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/task_set.go
  pkg/app/pipedv1/plugin/ecs/provider/task_set_test.go
Labels: area/go

feat: implement ECS_SYNC stage (basic flow)
  pkg/app/pipedv1/plugin/ecs/config/application.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
  pkg/app/pipedv1/plugin/ecs/provider/target_group.go
  pkg/app/pipedv1/plugin/ecs/provider/target_group_test.go
Labels: area/go

handle flag `recreate` in sync stage
  pkg/app/pipedv1/plugin/ecs/config/application.go
  pkg/app/pipedv1/plugin/ecs/config/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities
  tool/actions-gh-release/Dockerfile
Labels: area/tool

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

fix(cloudrun): guard against nil panics in manifest parsing, client options, and cache type assertion
  pkg/app/piped/platformprovider/cloudrun/cache.go
  pkg/app/piped/platformprovider/cloudrun/client.go
  pkg/app/piped/platformprovider/cloudrun/revisionmanifest.go
  pkg/app/piped/platformprovider/cloudrun/servicemanifest.go
Labels: area/go

fix: cmd/pipecd/Dockerfile to reduce vulnerabilities
  cmd/pipecd/Dockerfile
Labels: area/go

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

feat(devex): add self-documenting make help target
  Makefile
Labels: area/build

chore: add expected behavior of configuration
  pkg/app/pipedv1/plugin/ecs/config/sync.go
Labels: area/go

chore: move tags to nearest used place
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
Labels: area/go

ci(docs): add link checker to existing CI to prevent broken docs links
  .github/workflows/link_checker.yaml
  .lychee.toml
Labels: area/build

bug(cloudrun): fix parseContainerImage to handle images with registry ports
  pkg/app/piped/platformprovider/cloudrun/servicemanifest.go
  pkg/app/piped/platformprovider/cloudrun/servicemanifest_test.go
Labels: area/go

add unit test for sync function
  pkg/app/pipedv1/plugin/ecs/deployment/sync_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
Labels: area/go

apply default values in stage plugins (#6513)
  pkg/app/pipedv1/plugin/analysis/executestage/analysis.go
  pkg/app/pipedv1/plugin/wait/options.go
Labels: area/go

Fix links in CONTRIBUTING.md (#6500)
  CONTRIBUTING.md
Labels: none

Update welcome message for first-time contributors (#6447)
  .github/workflows/first-time-contributor.yaml
Labels: area/build

fix: make lint/go for non-interactive environments (#6448)
  Makefile
Labels: area/build

fix: upgrade @mui/icons-material from 7.3.5 to 7.3.6 (#6388)
  web/package.json
  web/yarn.lock
Labels: area/web

chore: move add pipecd-related tags to load service function
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

bug(ecs): fix parseContainerImage to handle images with registry ports
  pkg/app/piped/platformprovider/ecs/task.go
  pkg/app/piped/platformprovider/ecs/task_test.go
Labels: area/go

bug(lambda): fix parseContainerImage to handle images with registry ports
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

docs: fix broken configuration reference links
  docs/content/en/docs-v1.0.x/user-guide/managing-application/triggering-a-deployment.md
Labels: none

docs: fix broken configuration reference links (#6582)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/triggering-a-deployment.md
Labels: none

Codegen Image Security Hardening (#6461)
  tool/codegen/Dockerfile
Labels: area/tool

[ECS-Plugin] Implement ECS_ SYNC stage (#6559)
  pkg/app/pipedv1/plugin/ecs/config/application.go
  pkg/app/pipedv1/plugin/ecs/config/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
  pkg/app/pipedv1/plugin/ecs/provider/service.go
  pkg/app/pipedv1/plugin/ecs/provider/service_test.go
  pkg/app/pipedv1/plugin/ecs/provider/target_group.go
  pkg/app/pipedv1/plugin/ecs/provider/target_group_test.go
  pkg/app/pipedv1/plugin/ecs/provider/task.go
  pkg/app/pipedv1/plugin/ecs/provider/task_set.go
  pkg/app/pipedv1/plugin/ecs/provider/task_set_test.go
  pkg/app/pipedv1/plugin/ecs/provider/task_test.go
Labels: area/go

feat: add K8s canary rollout stage and description
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
Labels: area/go
