Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Impl ECS's Diff func of taskDef and serviceDef
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/ecsmanifest.go
Labels: area/go

Add ECSManifest's cache
  pkg/app/piped/platformprovider/ecs/cache.go
Labels: area/go

Impl ECSDiff for planpreview
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

Enable ECS PlanPreview
  pkg/app/piped/planpreview/builder.go
Labels: area/go

Draft: diff test
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/ecsmanifest.go
  pkg/app/piped/platformprovider/ecs/testdata/new_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/new_taskdef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/old_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/old_taskdef.yaml
Labels: area/go

Revert 'Release v0.46.1'
  RELEASE
Labels: none

Release v0.47.0
  RELEASE
Labels: none

Release v0.47.0 (#4863)
  RELEASE
Labels: none

Update RELEASE file for test
  RELEASE
Labels: none

Update contributors list
  README.md
Labels: none

Update contributors list (#4866)
  README.md
Labels: none

Add and fix tests of diff with TODO of lowerCamelCase
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/testdata/new_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/new_taskdef.yaml
Labels: area/go

fix tests: add params to servicedef
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/testdata/new_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/old_servicedef.yaml
Labels: area/go

Add caution comment of scrape_interval
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

Remove concrete value
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

Remove wip comments
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

enable calling explicitly embedded part
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/combiner.go
  pkg/app/piped/sourceprocesser/combiner_test.go
  pkg/app/piped/sourceprocesser/decrypter.go
Labels: area/go

Fix typo: archive->achieve
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/deployment-chain.md
Labels: none

Fix type: deployment->development
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/deployment-chain.md
Labels: none

Skip summarizing if no changes were detected
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

Fix typos of 'achieve' and 'under development' in older docs
  docs/content/en/docs-v0.39.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/deployment-chain.md
Labels: none

Use valid semver in run/pipecd command (#4851)
  Makefile
Labels: area/build

SourceProssesor without processor should be marked as error
  pkg/app/piped/sourceprocesser/sourceprocesser.go
Labels: area/go

Add test
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
Labels: area/go

Reimplement sourceprosser logic
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/attacher_test.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/decrypter_test.go
  pkg/app/piped/sourceprocesser/sourceprocesser.go
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/driftdetector/cloudrun/detector.go
  pkg/app/pipedv1/driftdetector/kubernetes/detector.go
  pkg/app/pipedv1/driftdetector/terraform/detector.go
Labels: area/go

Enable perform template processing in chain
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/sourceprocesser.go
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
Labels: area/go

Add test to mention error with go templating
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
Labels: area/go

Update configuration validation logic for Attachment and Encryption features
  pkg/config/application.go
  pkg/config/application_test.go
Labels: area/go

Support Canary & Blue/Green for ECS by `pipectl init` (#4801)
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-bluegreen.yaml
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-canary.yaml
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-empty.yaml
  pkg/config/application.go
  pkg/config/application_ecs.go
  pkg/config/percentage.go
Labels: area/go

[doc] Fix typo x2 in DeploymentChain (#4872)
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/deployment-chain.md
Labels: none

Update error text
  pkg/config/application.go
Labels: area/go

Address comments
  pkg/config/application.go
  pkg/config/application_test.go
Labels: area/go

Fix typo
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/sourceprocesser/sourceprocesser.go
Labels: area/go

Update configuration validation logic for Attachment and Encryption features (#4873)
  pkg/config/application.go
  pkg/config/application_test.go
Labels: area/go

docs: added install method
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

[doc] Fix typo x2 in DeploymentChain (#4872)
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/deployment-chain.md
Labels: none

chore: copy to v0.47.x
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Fix to commit hash of v0.47.0 to fix the ref position
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

docs: added install method (#4875)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Fix unable to use SecretEncryption and Attachment features at the same time (#4855)
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/decrypter_test.go
  pkg/app/piped/sourceprocesser/sourceprocesser.go
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/driftdetector/cloudrun/detector.go
  pkg/app/pipedv1/driftdetector/kubernetes/detector.go
  pkg/app/pipedv1/driftdetector/terraform/detector.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
