Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

concise control plane component descriptions
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

minor correction
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

added support for merge-group
  tool/actions-plan-preview/github.go
  tool/actions-plan-preview/github_test.go
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/testdata/merge-group-event-payload.json
Labels: area/tool

Revise contributing plugins documentation
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
Labels: none

remove components section
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

docs: add 'Contributing to plugins' guide (#6398)
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
Labels: none

Enhance first-time contributor workflow message
  .github/workflows/first-time-contributor.yaml
Labels: area/build

test CI workflow for govulncheck
  .github/workflows/lint.yaml
Labels: area/build

update setup-go action version and improve message formatting
  .github/workflows/first-time-contributor.yaml
  .github/workflows/lint.yaml
Labels: area/build

Update first-time-contributor.yaml
  .github/workflows/first-time-contributor.yaml
Labels: area/build

standardize piped instances
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

Update first-time-contributor.yaml
  .github/workflows/first-time-contributor.yaml
Labels: area/build

Update .github/workflows/first-time-contributor.yaml
  .github/workflows/first-time-contributor.yaml
Labels: area/build

blog: implement contributor guide for local PipeCD setup (#6375)
  docs/content/en/blog/local-setup-contributor-guide.md
Labels: none

Enhance first-time contributor welcome message (#6439)
  .github/workflows/first-time-contributor.yaml
Labels: area/build

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

docs: move CI overview to .github
  .github/ci.md
Labels: area/build

Update first-time-contributor.yaml
  .github/workflows/first-time-contributor.yaml
Labels: area/build

fix: correct indentation in welcome workflow
  .github/workflows/first-time-contributor.yaml
Labels: area/build

fix make lint/go for non-interactive environments and simplify CI
  .github/workflows/lint.yaml
  Makefile
Labels: area/build

V1 merge Architectural overview into Concepts section (#6433)
  docs/content/en/docs-v1.0.x/concepts/_index.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/architectural-overview.md
Labels: none

ADD userguide/managingApp/secret-management (#6412)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/secret-management.md
Labels: none

Update first-time-contributor.yaml
  .github/workflows/first-time-contributor.yaml
Labels: area/build

fix: cloudrun tag preservation in pipecd
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
  pkg/app/piped/executor/cloudrun/tag_preservation_test.go
  pkg/app/piped/platformprovider/cloudrun/client.go
  pkg/app/piped/platformprovider/cloudrun/cloudrun.go
  pkg/app/piped/platformprovider/cloudrun/servicemanifest.go
Labels: area/go

fix capitalisation and inconsistencies
  docs/content/en/docs-v1.0.x/migrating-from-v0-to-v1/_index.md
Labels: none

Better way to understand what is the latest version of official plugins
  .github/workflows/update-plugins-registry.yaml
  00_START_HERE.md
  ARCHITECTURE.md
  COMPLETION_CHECKLIST.md
  DELIVERABLES.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  INDEX.md
  Makefile
  PLUGINS_QUICKSTART.md
  README_PLUGINS_REGISTRY.md
  VERIFICATION_REPORT.md
  docs/PLUGINS_REGISTRY.md
  docs/plugins.json
  docs/plugins.md
  docs/plugins.schema.json
  scripts/README.md
  scripts/test_registry_scripts.py
  scripts/update-plugins-registry.py
  scripts/validate-plugins-registry.py
Labels: area/build

fix capitalisation and inconsistencies (#6457)
  docs/content/en/docs-v1.0.x/migrating-from-v0-to-v1/_index.md
Labels: none

refactor(codegen): add builder stage for Go plugins
  tool/codegen/Dockerfile
Labels: area/tool

feat(codegen): add downloader stage for pre-built binaries
  tool/codegen/Dockerfile
Labels: area/tool

feat(codegen): implement multi-stage Docker build for security hardening and reduced image size
  tool/codegen/Dockerfile
Labels: area/tool

remove the copyright yr changes
  hack/update-copyright.sh
Labels: area/build

fix
  hack/update-copyright.sh
Labels: area/build

remove lint.yaml changes
  .github/workflows/lint.yaml
Labels: area/build

Add Eeshaan to docs approvers group (#6405)
  CODEOWNERS
Labels: none

Add Eeshaan Sawant to MAINTAINERS.md
  MAINTAINERS.md
Labels: none

Add Eeshaan Sawant to MAINTAINERS.md (#6462)
  MAINTAINERS.md
Labels: none

fix grammer and inconsistencies
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
  docs/content/en/docs-v1.0.x/faq/_index.md
  docs/content/en/docs-v1.0.x/installation/_index.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/_index.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-ECS.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v1.0.x/installation/install-piped/_index.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
  docs/content/en/docs-v1.0.x/migrating-from-v0-to-v1/_index.md
  docs/content/en/docs-v1.0.x/overview/_index.md
  docs/content/en/docs-v1.0.x/quickstart/_index.md
  docs/content/en/docs-v1.0.x/user-guide/command-line-tool.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/deployment-trace.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/event-watcher.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/plan-preview.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/secret-management.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/triggering-a-deployment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/adding-a-project.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/architecture-overview.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/registering-a-piped.md
  docs/content/en/docs-v1.0.x/user-guide/observability-and-metrics/_index.md
  docs/content/en/docs-v1.0.x/user-guide/observability-and-metrics/metrics.md
  docs/content/en/docs-v1.0.x/user-guide/terraform-provider-pipecd.md
Labels: none

applied animation on the right nav when scrolling
  docs/assets/js/toc-scroll-spy.js
  docs/assets/scss/_styles_project.scss
  docs/layouts/partials/scripts.html
Labels: none

added unnecessary line
  docs/assets/scss/_styles_project.scss
Labels: none

feat: Add pre-commit configuration for markdown files and document its optional setup in the contributing guide.
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
