Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

manage by asdf
  pkg/app/piped/platformprovider/kubernetes/customtemplating.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application_kubernetes.go
Labels: area/go

add line
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
Labels: area/go

Add attachment feature that supports attaching files to application manifests (#4289)
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/attacher_test.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/decrypter_test.go
  pkg/config/application.go
Labels: area/go

Enable to add multi ssh-keys config
  pkg/config/piped.go
  pkg/git/ssh_config.go
Labels: area/go

change sh option
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
Labels: area/go

change script name
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

Using map of struct{} instead of bool
  pkg/diff/diff.go
Labels: area/go

Improvement of isIgnoredPath (#4306)
  pkg/diff/diff.go
Labels: area/go

Rearrange configuration reference docs sections and add missing docs (#4301)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

resoleve conflict
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
Labels: area/go

lint
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
Labels: area/go

lint
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

devide parse function
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/livestatestore/kubernetes/store.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/app/piped/platformprovider/kubernetes/helm_test.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

change test
  pkg/app/piped/executor/kubernetes/traffic_test.go
Labels: area/go

Update kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Update kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Update kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Update app.pipecd.yaml
  examples/kubernetes/custom-templating-cue/app.pipecd.yaml
Labels: area/examples

Update app.pipecd.yaml
  examples/kubernetes/custom-templating-jsonnet/app.pipecd.yaml
Labels: area/examples

Change invalid reason showing UI (#4303)
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

Add RegisterPiped api for grpcapi
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Add RegisterPiped api for grpcapi (#4314)
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Add GetPiped grpc api
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Add GetPiped grpc api (#4316)
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Update google.golang.org/api
  go.mod
  go.sum
  pkg/rpc/grpc_test.go
  test/integration/filestore/gcs/gcs_test.go
Labels: area/go

fixup
  go.sum
  pkg/rpc/grpc_test.go
Labels: area/go

Add UpdatePiped grpc api
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Add UpdatePiped grpc api (#4318)
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Remove unused code
  pkg/app/piped/toolregistry/install.go
Labels: area/go

[FileDB] Fix failed to update piped name
  pkg/datastore/pipedstore.go
Labels: area/go

Bump google.golang.org/api (#4317)
  go.mod
  go.sum
  pkg/rpc/grpc_test.go
  test/integration/filestore/gcs/gcs_test.go
Labels: area/go

[FileDB] Fix failed to update piped name (#4319)
  pkg/datastore/pipedstore.go
Labels: area/go

Add asdf install script (#4309)
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

Update docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/custom-sync.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
Labels: none

Add custom sync sample and docs (#4256)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/static/images/custom-sync-rollback.png
  docs/static/images/custom-sync.png
  examples/lambda/custom-sync-sam/README.md
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

Add docs for attachment feature
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Add docs for attachment feature (#4321)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Fix indent
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
Labels: none

Update contributions list
  README.md
Labels: none

update Go version
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  go.mod
Labels: area/build

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
