Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Fix error handling in loadManifests to return original error
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Modify rfc for deprecating Kind and Platform Provider (#5365)
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Clarify current the migration process for the plugin architecture.
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Clarify current the migration process for the plugin architecture. (#5368)
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Refactor manifest loading in DeploymentService to reduce code duplication (#5366)
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Rewrite executeStage method
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/controller/stopsignal.go
  pkg/app/pipedv1/controller/stopsignal_test.go
  pkg/app/pipedv1/executor/executor.go
  pkg/app/pipedv1/executor/registry/registry.go
  pkg/configv1/application.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

draft
  docs/content/en/blog/plugin-intro.md
Labels: none

Change kubectl DL host to dl.k8s.io
  pkg/app/piped/toolregistry/tool_darwin.go
  pkg/app/piped/toolregistry/tool_linux.go
Labels: area/go

Add test for executeStage function
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Implement ExecuteStage method in DeploymentService for Kubernetes stages
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Add VariantLabel to KubernetesApplicationSpec and define KubernetesVariantLabel structure
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
Labels: area/go

Add AddAnnotations method to Manifest for managing annotations
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Add additional labels and annotations for Kubernetes resources management
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
Labels: area/go

Implement logging and annotations for Kubernetes deployment synchronization
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Write texts
  docs/content/en/blog/plugin-intro.md
Labels: none

add images
  docs/content/en/blog/plugin-intro.md
Labels: none

add images
  docs/content/en/blog/plugin-intro.md
  docs/static/images/plugin-intro-mechanism-cur.drawio.png
  docs/static/images/plugin-intro-mechanism-new.drawio.png
  docs/static/images/plugin-intro-running.drawio.png
  docs/static/images/plugin-intro-schedule.drawio.png
Labels: none

format
  docs/content/en/blog/plugin-intro.md
Labels: none

Add annotations when loading manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
Labels: area/go

fix slack channel to english
  docs/content/en/blog/plugin-intro.md
Labels: none

feat: skip load serviceDef on ECS standalone task
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

feat: skip load serviceDef on ECS standalone task (#5373)
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

chore: remove empty continuation lines
  tool/piped-base-okd/Dockerfile
Labels: area/tool

chore: explicitly specify the shell
  tool/firestore-emulator/Dockerfile
Labels: area/tool

chore: fixed format
  tool/codegen/Dockerfile
Labels: area/tool

feat: skip load serviceDef on ECS standalone task (#5373)
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go

chore: ignore SecretsUsedInArgOrEnv
  tool/piped-base-okd/Dockerfile
Labels: area/tool

chore: fixed stage name casing
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
Labels: area/tool

chore: fixed legacy key value format
  tool/actions-plan-preview/Dockerfile
  tool/firestore-emulator/Dockerfile
Labels: area/tool

[bot] Update contributors
  README.md
Labels: none

chore: format
  .github/workflows/build_tool.yaml
Labels: area/build

chore: update action version
  .github/workflows/build_tool.yaml
Labels: area/build

change: added linux/arm64
  .github/workflows/build_tool.yaml
Labels: area/build

Add a blog: Overview of Plugin (#5372)
  docs/content/en/blog/plugin-intro.md
  docs/static/images/plugin-intro-mechanism-cur.drawio.png
  docs/static/images/plugin-intro-mechanism-new.drawio.png
  docs/static/images/plugin-intro-running.drawio.png
  docs/static/images/plugin-intro-schedule.drawio.png
Labels: none

refactor: Applied docker build practices (#5375)
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
  tool/firestore-emulator/Dockerfile
  tool/piped-base-okd/Dockerfile
Labels: area/tool

Add log persister completion handling in executeK8sSyncStage
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Scheduler pipedv1 init logic (#5321)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/controller/stopsignal.go
  pkg/app/pipedv1/controller/stopsignal_test.go
  pkg/app/pipedv1/executor/executor.go
  pkg/app/pipedv1/executor/executor_test.go
  pkg/app/pipedv1/executor/registry/registry.go
  pkg/configv1/application.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Remove plugin config from plugin deployment api
  pkg/app/pipedv1/controller/planner.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Remove plugin config from plugin deployment api (#5377)
  pkg/app/pipedv1/controller/planner.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Add deployTarget to piped config
  pkg/configv1/piped.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
