Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add an option to use this feature
  tool/actions-gh-release/release.go
Labels: area/tool

Fix the name of the option
  tool/actions-gh-release/release.go
Labels: area/tool

Replace all of pull request numbers with their link because of release note (#4050)
  tool/actions-gh-release/release.go
Labels: area/tool

Fix the wrong link for actions-gh-release
  tool/actions-gh-release/release.go
Labels: area/tool

Fix the wrong link for actions-gh-release (#4051)
  tool/actions-gh-release/release.go
Labels: area/tool

Update actions-gh-release version to v2.4.0
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
  RELEASE
Labels: area/build

Remove the release job
  .github/workflows/release.yaml
Labels: area/build

Update actions-gh-release version to v2.4.0 (#4052)
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
  RELEASE
Labels: area/build

Ensure group version docs
  hack/gen-release-docs.sh
Labels: area/build

Ensure group version docs (#4053)
  hack/gen-release-docs.sh
Labels: area/build

use helper "serviceAccountName" on create role binding
  manifests/piped/templates/rbac.yaml
Labels: area/manifests

Use helper "serviceAccountName" on create role binding (#4054)
  manifests/piped/templates/rbac.yaml
Labels: area/manifests

Update gen release docs command
  hack/gen-release-docs.sh
Labels: area/build

Update gen release docs command (#4055)
  hack/gen-release-docs.sh
Labels: area/build

Add release command
  Makefile
Labels: area/build

Apply cache to store completed Insight chunk
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
  pkg/insight/provider.go
Labels: area/go

Add release command (#4056)
  Makefile
Labels: area/build

Add log
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/insightstore.go
Labels: area/go

Update the default resources docs
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs/user-guide/managing-piped/adding-a-platform-provider.md
Labels: none

Update the default resources docs (#4058)
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs/user-guide/managing-piped/adding-a-platform-provider.md
Labels: none

Add onCommit.excludes config
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/generic-trigger.yaml
Labels: area/go

Lint
  pkg/config/application.go
Labels: area/go

Rename config field
  pkg/app/piped/trigger/determiner.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/generic-trigger.yaml
Labels: area/go

Typo
  pkg/app/piped/trigger/determiner.go
Labels: area/go

Apply cache to store completed Insight chunk (#4057)
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
  pkg/insight/provider.go
Labels: area/go

Update pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner.go
Labels: area/go

Update pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner.go
Labels: area/go

Add onCommit.ignores config (#4059)
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
  pkg/config/application.go
Labels: area/go

Fix bug on parsing empty kubernetes manifest
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
Labels: area/go

remove redundant test case
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
Labels: area/go

Update web dependencies
  web/package.json
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/me/index.ts
  web/src/store.ts
  web/webpack.common.js
  web/webpack.config.dev.js
  web/yarn.lock
Labels: area/web

Fix bug on parsing empty kubernetes manifest (#4060)
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
Labels: area/go

Update web dependencies (#4061)
  web/package.json
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/me/index.ts
  web/src/store.ts
  web/webpack.common.js
  web/webpack.config.dev.js
  web/yarn.lock
Labels: area/web

Update docs for onCommit.ignores
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update docs for onCommit.ignores (#4063)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

fix description of apiAddress
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

Fix lints
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
Labels: area/web

Enable deployment frequency and failure rate charts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
Labels: area/web

Add yMax to the dependency list
  web/src/components/insight-page/chart-base/index.tsx
Labels: area/web

Enable deployment frequency and failure rate charts (#4062)
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
Labels: area/web

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
