Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

UPDATE faqs for v1
  docs/content/en/docs-v1.0.x/faq/_index.md
Labels: none

docs: apply suggestions from eeshaanSA
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

UPDATE faqs
  docs/content/en/docs-v1.0.x/faq/_index.md
Labels: none

ADD userguide/managingApp root files
  docs/content/en/docs-v1.0.x/user-guide/managing-application/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/application-live-state.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/cancelling-a-deployment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/rolling-back-a-deployment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/secret-management.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/triggering-a-deployment.md
Labels: none

ADD userguide/managingControlplane
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/adding-a-project.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/architecture-overview.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/registering-a-piped.md
Labels: none

ADD userguide/managingControlplane (#6346)
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/adding-a-project.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/architecture-overview.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/registering-a-piped.md
Labels: none

Docs V1: Update FAQs (#6344)
  docs/content/en/docs-v1.0.x/faq/_index.md
Labels: none

Update docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
Labels: none

docs: apply final metadata fix
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

Update README per maintainer feedback
  examples/pipedv1/kubernetes-simple/README.md
Labels: area/examples

Update docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
Labels: none

docs: apply description fix to v1.0.x file
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

docs: apply description fix to v1.0.x file
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

ADD userguide/managingApp/customisingDepl for V1
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/custom-sync.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

UPDATE title & descrp for installtion
  docs/content/en/docs-v1.0.x/installation/install-piped/_index.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-kubernetes.md
Labels: none

ADD user-guide/managing-application/defining-app-configuration/ terraform & k8s
  docs/content/en/docs-v1.0.x/user-guide/managing-application/defining-app-configuration/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/defining-app-configuration/terraform.md
Labels: none

UPDATE overview for v1docs
  docs/content/en/docs-v1.0.x/overview/_index.md
Labels: none

UPDATE overview for v1docs (#6350)
  docs/content/en/docs-v1.0.x/overview/_index.md
Labels: none

Update docs v1 concepts page
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

Refactor docs v1 concepts page
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

docs: apply description fix to v1.0.x file
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

Update docs v1 concepts (#6351)
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

UPDATE piped config
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
Labels: none

grammar changes
  docs/content/en/docs-v1.0.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

docs: add 'Contribute to PipeCD Blogs' guide
  docs/content/en/docs-dev/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-blogs.md
Labels: none

fix: prevent nil pointer dereference in eventwatcher re-clone
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
Labels: area/go

fix: prevent nil pointer dereference in eventwatcher re-clone (#6356)
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
Labels: area/go

Address review feedback
  examples/pipedv1/kubernetes-simple/README.md
Labels: area/examples

fix: upgrade dayjs from 1.11.18 to 1.11.19
  web/package.json
  web/yarn.lock
Labels: area/web

docs: add 'Contribute to PipeCD Blogs' guide
  docs/content/en/docs-dev/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-blogs.md
Labels: none

fix: upgrade dayjs from 1.11.18 to 1.11.19 (#6358)
  web/package.json
  web/yarn.lock
Labels: area/web

Docs-V1: Add Installation Pages (#6328)
  docs/content/en/docs-v1.0.x/installation/_index.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/_index.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-ECS.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v1.0.x/installation/install-piped/_index.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
Labels: none

docs: create 'Contribute to Documentation' guide (#6329)
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

Fix failed site build
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
Labels: none

Fix failed site build (#6360)
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
Labels: none

docs: fix spelling and grammar issues in docs-dev (#6357)
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/application-live-state.md
  docs/content/en/docs-dev/user-guide/managing-application/cancelling-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-dev/user-guide/managing-application/rolling-back-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-application/secret-management.md
  docs/content/en/docs-dev/user-guide/managing-application/triggering-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/adding-a-project.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/registering-a-piped.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-git-repository.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-dev/user-guide/terraform-provider-pipecd.md
Labels: none

fix: lint format
  pkg/app/helloworld/service/service.pb.go
  pkg/app/helloworld/service/service_grpc.pb.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/analysis_result.pb.go
  pkg/model/apikey.pb.go
  pkg/model/application.pb.go
  pkg/model/application_live_state.pb.go
  pkg/model/command.pb.go
  pkg/model/common.pb.go
  pkg/model/deployment.pb.go
  pkg/model/deployment_chain.pb.go
  pkg/model/deployment_trace.pb.go
  pkg/model/event.pb.go
  pkg/model/insight.pb.go
  pkg/model/logblock.pb.go
  pkg/model/notificationevent.pb.go
  pkg/model/piped.pb.go
  pkg/model/piped_stat.pb.go
  pkg/model/planpreview.pb.go
  pkg/model/project.pb.go
  pkg/model/rbac.pb.go
  pkg/model/role.pb.go
  pkg/model/user.pb.go
  pkg/plugin/api/v1alpha1/common/common.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api_grpc.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api_grpc.pb.go
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service_grpc.pb.go
  web/src/__fixtures__/dummy-project.ts
  web/src/components/settings-page/project/components/project-status-form/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/go, area/web

fix: lint and refactor
  pkg/app/server/grpcapi/api_disabled_project_test.go
  pkg/app/server/grpcapi/api_test.go
  pkg/app/server/grpcapi/piped_api_disabled_project_test.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/app/server/grpcapi/web_api_disabled_project_test.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/rpc/rpcauth/interceptor.go
Labels: area/go

fix: gen/code
  pkg/app/helloworld/service/service.pb.go
  pkg/app/helloworld/service/service_grpc.pb.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/analysis_result.pb.go
  pkg/model/apikey.pb.go
  pkg/model/application.pb.go
  pkg/model/application_live_state.pb.go
  pkg/model/command.pb.go
  pkg/model/common.pb.go
  pkg/model/deployment.pb.go
  pkg/model/deployment_chain.pb.go
  pkg/model/deployment_trace.pb.go
  pkg/model/event.pb.go
  pkg/model/insight.pb.go
  pkg/model/logblock.pb.go
  pkg/model/notificationevent.pb.go
  pkg/model/piped.pb.go
  pkg/model/piped_stat.pb.go
  pkg/model/planpreview.pb.go
  pkg/model/project.pb.go
  pkg/model/rbac.pb.go
  pkg/model/role.pb.go
  pkg/model/user.pb.go
  pkg/plugin/api/v1alpha1/common/common.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api_grpc.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api_grpc.pb.go
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service_grpc.pb.go
  tool/codegen/protoc-gen-auth/file.go
Labels: area/go, area/tool

fix: gen/code
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
