Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

add field session-ttl to project
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/go, area/web

edit values
  pkg/app/server/httpapi/callback.go
  quickstart/control-plane-values.yaml
Labels: area/go

Release version v0.41.3 (#4125)
  RELEASE
  docs/content/en/blog/releases/v0.41.3.md
  docs/content/en/docs-v0.41.x/examples/_index.md
  docs/content/en/docs-v0.41.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs/examples/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

reflect ttl config to session
  pkg/app/server/httpapi/callback.go
  quickstart/control-plane-values.yaml
Labels: area/go

return values
  quickstart/control-plane-values.yaml
Labels: none

add field in document
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Small lint fix (#4097)
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Add new line in detailsFormat to fix plan preview format (#4122)
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Add example for ecs standalone task (#4104)
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

support standalone ECS task (#4084)
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go

Run update go deps (#4117)
  go.sum
Labels: none

fix null pointer (#4102)
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Keep new line at end of file in yamlprocessor (#4033)
  go.mod
  go.sum
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: area/go

feature: cli and grpc to disable application (#4119)
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/disable.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

add document how to disable (#4123)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

Add update contributions command (#4114)
  Makefile
  README.md
  hack/gen-contributions.sh
Labels: area/build

Cherry-pick #4033 #4084 #4097 #4102 #4104 #4114 #4117 #4119 #4122 #4123 (#4128)
  Makefile
  README.md
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
  go.mod
  go.sum
  hack/gen-contributions.sh
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/disable.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
  pkg/yamlprocessor/yamlprocessor_test.go
  tool/actions-plan-preview/planpreview.go
Labels: area/go, area/build, area/examples, area/tool

return config
  quickstart/control-plane-values.yaml
Labels: none

change variable name
  pkg/app/server/httpapi/callback.go
Labels: area/go

add test.yaml
  test.yaml
Labels: none

add unix time to tail of build tag
  Makefile
Labels: area/build

add lifecycle
  Makefile
  manifests/pipecd/templates/deployment.yaml
Labels: area/build, area/manifests

modify assigning
  Makefile
Labels: area/build

WIP: Add detector
  pkg/app/piped/driftdetector/ecs/detector.go
Labels: area/go

WIP: add Function to load yaml files
  pkg/app/piped/platformprovider/ecs/manifests.go
Labels: area/go

WIP: Add detector
  pkg/app/piped/driftdetector/ecs/detector.go
Labels: area/go

WIP: add Function to load yaml files
  pkg/app/piped/platformprovider/ecs/manifests.go
Labels: area/go

Parse template in the eventWatcher handler side
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/config.go
Labels: area/go

Fix html/template to text/template
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

There was a useless process when retrieving rules, so I omitted it.
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Fix docs wrong params name
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.41.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

Fix docs wrong params name (#4132)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.41.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

add loader.go
  pkg/app/piped/platformprovider/ecs/loader.go
Labels: area/go

add manifest.go
  pkg/app/piped/platformprovider/ecs/manifest.go
Labels: area/go

Add cache.go
  pkg/app/piped/platformprovider/ecs/cache.go
Labels: area/go

Add proto file
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web

Delete html/template
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Small fix
  pkg/app/piped/platformprovider/ecs/loader.go
Labels: area/go

Update pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Update pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
