Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Make chunkMaxCount configurable for Insight collector
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
Labels: area/go

Make chunkMaxCount configurable for Insight collector (#4036)
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
Labels: area/go

Remove TriggerPaths from application specs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/trigger/determiner.go
Labels: area/go

Remove from struct
  pkg/config/application.go
Labels: area/go

Remove unneeded code
  web/src/components/insight-page/index.tsx
Labels: area/web

Remove unneeded code (#4038)
  web/src/components/insight-page/index.tsx
Labels: area/web

Move api loading logic from insight-header to insight
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
Labels: area/web

Disable api loading for deployment insights
  web/src/components/insight-page/index.tsx
Labels: area/web

Refactor api loading for Insights data on web (#4039)
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
Labels: area/web

Release v0.40.1
  RELEASE
  docs/content/en/blog/releases/v0.40.1.md
Labels: none

Update release note
  docs/content/en/blog/releases/v0.40.1.md
Labels: none

Release v0.40.1 (#4040)
  RELEASE
  docs/content/en/blog/releases/v0.40.1.md
Labels: none

Update release note (#4032)
  docs/content/en/blog/releases/v0.40.0.md
Labels: none

Release v0.40.1 (#4040)
  RELEASE
  docs/content/en/blog/releases/v0.40.1.md
Labels: none

Make chunkMaxCount configurable for Insight collector (#4036)
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
Labels: area/go

Remove unneeded code (#4038)
  web/src/components/insight-page/index.tsx
Labels: area/web

Refactor api loading for Insights data on web (#4039)
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
Labels: area/web

Fix comment in docs (#4035)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.36.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.37.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.38.x/quickstart/_index.md
  docs/content/en/docs-v0.38.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.39.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/user-guide/command-line-tool.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: none

Avoid the incorrect conversion between integer types (#4034)
  pkg/config/replicas.go
  pkg/config/replicas_test.go
Labels: area/go

Cherry-pick #4032 #4034 #4035 #4036 #4038 #4039 #4040 (#4041)
  RELEASE
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  docs/content/en/blog/releases/v0.40.0.md
  docs/content/en/blog/releases/v0.40.1.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.36.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.37.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.38.x/quickstart/_index.md
  docs/content/en/docs-v0.38.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.39.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/user-guide/command-line-tool.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/replicas.go
  pkg/config/replicas_test.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
Labels: area/go, area/web

Fix the release note
  docs/content/en/blog/releases/v0.40.1.md
Labels: none

Fix the release note (#4042)
  docs/content/en/blog/releases/v0.40.1.md
Labels: none

Remove trigger paths (#4037)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/trigger/determiner.go
  pkg/config/application.go
Labels: area/go

Add helm 3.8.2 to PipeCD prerequisites
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.36.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.37.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.38.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: none

fix helm version
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.36.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.37.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.38.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: none

change from Docker Decktop to Docker
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.36.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.37.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.38.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: none

Add helm 3.8.2 to PipeCD prerequisites (#4043)
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.36.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.37.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.38.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: none

Remove unused docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

Remove unused config
  pkg/config/application.go
Labels: area/go

Remove unused docs (#4044)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

Use a make command instead of a hack command directly
  Makefile
  RELEASES.md
Labels: area/build

Replace deprecated actions commands with env files
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
Labels: area/build

Replace deprecated actions commands with env files (#4047)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
Labels: area/build

Remove unused struct
  pkg/config/application.go
Labels: area/go

Use a make command instead of a hack command directly (#4046)
  Makefile
  RELEASES.md
Labels: area/build

Add release command
  Makefile
  RELEASES.md
Labels: area/build

Update
  Makefile
Labels: area/build

Remove unused config (#4045)
  pkg/config/application.go
Labels: area/go

Add release commands to make (#4049)
  Makefile
  RELEASES.md
Labels: area/build

Replace all of pull request numbers with their link because of release note
  tool/actions-gh-release/release.go
Labels: area/tool
