Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add commands
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: area/go

Remove debug code
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: area/go

Update launcher.go
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: area/go

Update store.go
  pkg/app/piped/apistore/commandstore/store.go
Labels: area/go

Update command.go
  pkg/model/command.go
Labels: area/go

Update to use errorGroup when invoke commandHandler function
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: area/go

Debug the gh-release
  tool/actions-gh-release/release.go
Labels: area/tool

Fix the default value of showCommitter
  tool/actions-gh-release/release.go
Labels: area/tool

Update CODEOWNERS and contributor list in README
  CODEOWNERS
  README.md
Labels: none

Fix to avoid breaking chage
  tool/actions-gh-release/release.go
Labels: area/tool

Fix the failed test
  tool/actions-gh-release/release_test.go
Labels: area/tool

Update CODEOWNERS and contributor list in README (#3748)
  CODEOWNERS
  README.md
Labels: none

Fix to use the pointer type in showCommitter (#3747)
  tool/actions-gh-release/release.go
  tool/actions-gh-release/release_test.go
Labels: area/tool

Add PlatformProvider to deployment model
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/go, area/web

Upgrade actions-gh-release
  .github/workflows/prerelease.yaml
  RELEASE
Labels: area/build

Remove GITHUB_ENTERPRISE SSO type
  pkg/app/server/httpapi/callback.go
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/go, area/web

Downgrade that version
  .github/workflows/prerelease.yaml
Labels: area/build

Remove event handled field
  pkg/datastore/eventstore.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/go, area/web

typo
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
Labels: area/go

lint web
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web

Fix to add safe.directory before running git command
  tool/actions-gh-release/git.go
  tool/actions-gh-release/main.go
Labels: area/tool

Fix the error sentence
  tool/actions-gh-release/main.go
Labels: area/tool

Remove config_path
  pkg/model/common.pb.go
  pkg/model/common.pb.validate.go
  pkg/model/common.proto
  web/model/common_pb.d.ts
  web/model/common_pb.js
Labels: area/go, area/web

Web update
  web/src/__fixtures__/common.ts
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
  web/src/components/application-form/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/web

Add the cache for not recalculating
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Add PlatformProvider to deployment model (#3750)
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/go, area/web

Fix to add safe.directory before running git command (#3753)
  tool/actions-gh-release/git.go
  tool/actions-gh-release/main.go
Labels: area/tool

Update the version of actions-gh-release
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
  RELEASE
Labels: area/build

Update the version of actions-gh-release (#3754)
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
  RELEASE
Labels: area/build

Remove deprecated fields from models (#3752)
  pkg/app/server/httpapi/callback.go
  pkg/datastore/eventstore.go
  pkg/model/common.pb.go
  pkg/model/common.pb.validate.go
  pkg/model/common.proto
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.proto
  web/model/common_pb.d.ts
  web/model/common_pb.js
  web/model/event_pb.d.ts
  web/model/event_pb.js
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/src/__fixtures__/common.ts
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
  web/src/components/application-form/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/go, area/web

Remove KeyHash from piped model
  pkg/datastore/pipedstore_test.go
  pkg/model/piped.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  pkg/model/piped_test.go
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
Labels: area/go, area/web

Remove KeyHash from piped model (#3755)
  pkg/datastore/pipedstore_test.go
  pkg/model/piped.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  pkg/model/piped_test.go
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
Labels: area/go, area/web

Fix the cache value
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Add platform provider to application, deployment and piped model
  pkg/app/piped/trigger/deployment.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/deploymentstore_test.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
Labels: area/go, area/web

Fix tests
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-piped.ts
Labels: area/web

Update pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Add platform provider to application, deployment and piped model (#3756)
  pkg/app/piped/trigger/deployment.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/deploymentstore_test.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-piped.ts
Labels: area/go, area/web

Support event watcher in app config (#3729)
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/application.go
  pkg/config/event_watcher.go
Labels: area/go

Fix the file path of event watcher config
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Fix the file path of event watcher config (#3757)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
