Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

tool: Replace set-output with GITHUB_OUTPUT
  tool/actions-gh-release/main.go
Labels: area/tool

tool: Replace set-output with GITHUB_OUTPUT (#4155)
  tool/actions-gh-release/main.go
Labels: area/tool

Add GetStageLog and compile protocol buffers
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Implement GetStageLog
  pkg/app/server/grpcapi/api.go
Labels: area/go

Add pipectl deployment logs command
  pkg/app/pipectl/cmd/deployment/deployment.go
  pkg/app/pipectl/cmd/deployment/logs.go
Labels: area/go

add custom templating
  pkg/app/piped/platformprovider/kubernetes/customtemplating.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application_kubernetes.go
Labels: area/go

Test GetStageLog
  pkg/app/server/grpcapi/api.go
Labels: area/go

Make all changes that not be listed in ignores but placed under appDir considered as touched commit
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
Labels: area/go

Update pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner.go
Labels: area/go

Make all changes that not be listed in ignores but placed under appDir considered as touched commit (#4157)
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
Labels: area/go

add install template
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application_kubernetes.go
Labels: area/go

lint
  pkg/app/piped/toolregistry/registry.go
Labels: area/go

add cue example
  examples/kubernetes/custom-templating-cue/dev.pipecd.yaml
  examples/kubernetes/custom-templating-cue/dump_tool.cue
  examples/kubernetes/custom-templating-cue/kube_tool.cue
  examples/kubernetes/custom-templating-cue/simple1/test.cue
  examples/kubernetes/custom-templating-cue/simple1/test.yaml
  examples/kubernetes/custom-templating-cue/simple2/test.cue
  examples/kubernetes/custom-templating-cue/simple2/test.yaml
Labels: area/examples

modify sample
  examples/kubernetes/custom-templating-cue/simple1/test.cue
  examples/kubernetes/custom-templating-cue/simple1/test.yaml
  examples/kubernetes/custom-templating-cue/simple2/test.cue
  examples/kubernetes/custom-templating-cue/simple2/test.yaml
Labels: area/examples

modify sample
  examples/kubernetes/custom-templating-cue/simple1/test.yaml
  examples/kubernetes/custom-templating-cue/simple2/test.yaml
Labels: area/examples

Implement GetStageLog
  cmd/pipecd/server.go
  pkg/app/server/grpcapi/api.go
Labels: area/go

Add stage-id flag
  pkg/app/pipectl/cmd/deployment/logs.go
Labels: area/go

delete print
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

add jsonnet example
  examples/kubernetes/custom-templating-jsonnet/base.libsonnet
  examples/kubernetes/custom-templating-jsonnet/dev.libsonnet
  examples/kubernetes/custom-templating-jsonnet/dev.pipecd.yaml
Labels: area/examples

lint
  pkg/app/piped/toolregistry/install.go
Labels: area/go

lint
  pkg/app/server/apikeyverifier/verifier.go
  pkg/app/server/apikeyverifier/verifier_test.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Release v0.41.4
  RELEASE
  docs/content/en/blog/releases/v0.41.4.md
Labels: none

Release v0.42.0
  RELEASE
  docs/config.toml
  docs/content/en/blog/releases/v0.42.0.md
Labels: none

Update the release note
  docs/content/en/blog/releases/v0.41.4.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update docker-compose.yaml
  docker-compose.yaml
Labels: none

WIP: add terraform diff struct
  pkg/app/piped/platformprovider/terraform/diff.go
Labels: area/go

Add detail diff that plan output
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

WIP: Once delete diff.go
  pkg/app/piped/platformprovider/terraform/diff.go
Labels: area/go

Release v0.41.4 (#4161)
  RELEASE
  docs/content/en/blog/releases/v0.41.4.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Change build tag every time when make run/pipecd (#4130)
  Makefile
Labels: area/build

Templating commit message used by Event watcher (#4120)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Add environment variable expire web session (#4127)
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/go, area/web

Fix pod config for envoy upstreaming termination error (#4134)
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Add kubectl version to stage log (#4137)
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: area/go

Add pipecd builtin tags to ECS resources (#4140)
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

tool: Replace set-output with GITHUB_OUTPUT (#4155)
  tool/actions-gh-release/main.go
Labels: area/tool

Add upgrade a release method for helm (#4143)
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

Make all changes that not be listed in ignores but placed under appDir considered as touched commit (#4157)
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
Labels: area/go

Fix Fix parseComitMsg's comment (#4135)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
