Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

proto
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/go, area/web

scriptrun test match 1-1
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go

add deploy_target string
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/go, area/web

Updated ApplicationPlanPreviewResult model for plugins (#6081)
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/go, area/web

repeated results
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
Labels: area/go

pipectl side for plugins
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
Labels: area/go

Add default attributes to the pluign logger (#6079)
  pkg/plugin/sdk/plugin.go
Labels: area/go

Add check for divergent branches error (#6031)
  pkg/git/repo.go
Labels: area/go

Add executeApplyStage()
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
Labels: area/go

add executeRollbackStage()
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
Labels: area/go

call apply and rollback in executeStage()
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
Labels: area/go

add TODO comment
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
Labels: area/go

handle commitHash not found
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
Labels: area/go

repeated results (#6082)
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
Labels: area/go

impl determineVersions()
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_no_modules/main.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld_01.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld_02.tf
  pkg/app/pipedv1/plugin/terraform/provider/module.go
Labels: area/go

fix lint
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
Labels: area/go

fix test
  pkg/app/pipedv1/plugin/terraform/provider/module_test.go
Labels: area/go

add diff_language to PlanPreviewResult
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
Labels: area/go

scriptrun stage split
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
Labels: area/go

use rollback and index for visible stage in piped v1 - deployment page
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

remove timeout option in config
  pkg/app/pipedv1/plugin/scriptrun/options.go
  pkg/app/pipedv1/plugin/scriptrun/options_test.go
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go

show depreacted note in setting piped page
  web/src/components/settings-page/piped/components/breaking-change/index.tsx
  web/src/components/settings-page/piped/index.tsx
Labels: area/web

bump actions/checkout@v4.2.2 (#6070)
  .github/workflows/build.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

impl determineVersions() (#6087)
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_no_modules/main.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld_01.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld_02.tf
  pkg/app/pipedv1/plugin/terraform/provider/module.go
  pkg/app/pipedv1/plugin/terraform/provider/module_test.go
Labels: area/go

add diff_launguage to PluginPlanPreviewResult model
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/go, area/web

[Terraform plugin] Implemented Apply and Rollback stages (#6086)
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
Labels: area/go

UPDATE/README.md for better readbility and structure
  README.md
Labels: none

Fix grammar
  README.md
Labels: none

Remove script and automations for contrib graph, fix conflicts
  .github/workflows/update-contributors.yaml
  hack/gen-contributions.sh
Labels: area/build

update:MakeFile
  Makefile
Labels: area/build

Rename Control plane cmd to control-plane from pipecd
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/control-plane/Dockerfile
  cmd/control-plane/README.md
  cmd/control-plane/main.go
  cmd/control-plane/ops.go
  cmd/control-plane/server.go
Labels: area/go, area/build

Rename Control plane container image to control-plane from pipecd
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/pipecd/Dockerfile
  manifests/pipecd/values.yaml
  quickstart/manifests/control-plane.yaml
Labels: area/go, area/build, area/manifests

updated some more places
  cmd/pipecd/README.md
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

deleted cmd/pipecd
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
Labels: area/go

renamed cmd to control-plane
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/control-plane/Dockerfile
  cmd/control-plane/README.md
  cmd/control-plane/main.go
  cmd/control-plane/ops.go
  cmd/control-plane/server.go
Labels: area/go, area/build

Format README.md and replace to contrib.rocks (#6085)
  .github/workflows/update-contributors.yaml
  Makefile
  README.md
  hack/gen-contributions.sh
Labels: area/build

copy planpreview metrics
  pkg/app/pipedv1/planpreview/planpreviewmetrics/metrics.go
Labels: area/go

cp kg/app/piped/planpreview/ pkg/app/pipedv1/planpreview/
  pkg/app/pipedv1/planpreview/builder.go
  pkg/app/pipedv1/planpreview/handler.go
  pkg/app/pipedv1/planpreview/handler_test.go
Labels: area/go

Init builder, handler
  pkg/app/pipedv1/planpreview/builder.go
  pkg/app/pipedv1/planpreview/handler.go
  pkg/app/pipedv1/planpreview/handler_test.go
Labels: area/go

piped.go
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go
