Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

remove unnecessary note
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/adding-an-analysis-provider.md
Labels: none

chore: remove piped config to isolate app config per maintainer request
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuration-reference.md
Labels: none

chore: isolate piped config changes
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
Labels: none

Add tests for buildApp
  pkg/app/pipedv1/planpreview/builder.go
  pkg/app/pipedv1/planpreview/builder_test.go
Labels: area/go

Add assertions for plugin plan preview result data
  pkg/app/pipedv1/planpreview/builder_test.go
Labels: area/go

wording change
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/plugin-development-resources.md
Labels: none

feat: enhance manifest handling with GroupVersionKind and add NestedStringMap method
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
Labels: area/go

refactor: replace unstructuredNestedStringMap with mustNestedStringMap for selector handling
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

feat(planpreview): add configurable plan preview handling
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/configv1/piped.go
  pkg/configv1/piped_test.go
  pkg/configv1/testdata/piped/piped-config.yaml
Labels: area/go

[Multi_K8s-Plugin] Traffic Routing (#6629)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/istio_crds/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/istio_crds/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_no_virtualservice/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_no_virtualservice/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_no_virtualservice/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_missing_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_missing_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_missing_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_multiple_services/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_multiple_services/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_multiple_services/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_no_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_no_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_pod_selector/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_pod_selector/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_pod_selector/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_wrong_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_wrong_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_wrong_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
Labels: area/go

build(docs): npm audit fix
  docs/package-lock.json
Labels: none

ci(publish_site): use npm ci instead of npm install
  .github/workflows/publish_site.yaml
Labels: area/build

feat(kubernetes_multicluster): log per-route updates in K8S_TRAFFIC_ROUTING stage
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

feat(kubernetes): log per-route updates in K8S_TRAFFIC_ROUTING stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

[Multi_K8s-Plugin] Traffic Routing Log Updates (#6648)
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

docs: move CI overview to .github and update link
  .github/ci.md
  CONTRIBUTING.md
Labels: area/build

ci(publish_site): fix workflow (#6647)
  .github/workflows/publish_site.yaml
  docs/package-lock.json
Labels: area/build

docs: move CI overview and update link
  .github/ci.md
Labels: area/build

build: add root documentation files to labeler config
  .github/labeler.yaml
Labels: area/build

fix: update google.golang.org/grpc to v1.79.3 to fix GO-2026-4762
  go.mod
  go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
Labels: area/go

test: skip write_permission_denied test when running as root
  pkg/app/pipectl/cmd/migrate/application_config_test.go
Labels: area/go

ci: update GO_VERSION to 1.25.8 to match go.mod requirement
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  .github/workflows/test.yaml
Labels: area/build

build: update Go base image to 1.25.8 in tool Dockerfiles
  tool/actions-gh-release/Dockerfile
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
Labels: area/tool

fix: update grpc version in test and set GOTOOLCHAIN=auto in codegen step
  .github/workflows/gen.yaml
  pkg/rpc/grpc_test.go
Labels: area/go, area/build

ci(publish_site): bump nodejs to current lts
  .github/workflows/publish_site.yaml
Labels: area/build

ci(publish_site): bump nodejs to current lts (#6657)
  .github/workflows/publish_site.yaml
Labels: area/build

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities
  tool/actions-gh-release/Dockerfile
Labels: area/tool

Init copilot
  .github/copilot-instructions.md
Labels: area/build

feat: enhance rollback functionality to clean up CANARY and BASELINE variants
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
Labels: area/go

docs: add LFX mentorship blog post for kubernetes_multicluster plugin
  docs/content/en/blog/lfx-multicluster-plugin.md
Labels: none

Init copilot (#6659)
  .github/copilot-instructions.md
Labels: area/build

docs: add blog post for kubernetes_multicluster plugin (#6661)
  docs/content/en/blog/lfx-multicluster-plugin.md
Labels: none

blog: fix typos and improve formatting in LFX mentee post
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

blog: add post about My-first-30-days-as-an-lfx-mentee-with-pipecd
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

blog: add post about My-first-30-days-as-an-lfx-mentee-with-pipecd (#6655)
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

Create Dockerfile for development environment
  .devcontainer/Dockerfile
Labels: none

bug(ecs): fix parseContainerImage to handle images with registry ports
  pkg/app/piped/platformprovider/ecs/task.go
  pkg/app/piped/platformprovider/ecs/task_test.go
Labels: area/go

bug(lambda): fix parseContainerImage to handle images with registry ports
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

[ECS-Plugin]: Implement ECS_TRAFFIC_ROUTING stage (#6613)
  pkg/app/pipedv1/plugin/ecs/config/traffic.go
  pkg/app/pipedv1/plugin/ecs/config/traffic_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic_test.go
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
  pkg/app/pipedv1/plugin/ecs/provider/routing_traffic.go
  pkg/app/pipedv1/plugin/ecs/provider/routing_traffic_test.go
Labels: area/go

feat: implemenet diff calc to compare old and new task definition or service
  pkg/app/pipedv1/plugin/ecs/planpreview/diff.go
  pkg/app/pipedv1/plugin/ecs/planpreview/diff_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
