Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Add labels to deployments list page (#3811)
  web/src/components/deployments-page/deployment-item/index.tsx
Labels: area/web

Add platformProviders config to piped
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/kubernetes/applier.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/application.go
  pkg/model/platformprovider.go
Labels: area/go

Fix lint
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/config/piped.go
Labels: area/go

Add platformProviders config to piped (#3814)
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/kubernetes/applier.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/application.go
  pkg/model/platformprovider.go
Labels: area/go

Release v0.34.1
  RELEASE
  docs/content/en/blog/releases/v0.34.1.md
Labels: none

Fix the release note
  docs/content/en/blog/releases/v0.34.1.md
Labels: none

Release v0.34.1 (#3816)
  RELEASE
  docs/content/en/blog/releases/v0.34.1.md
Labels: none

Update k8s executor to follow specified routes when applying manifests
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/config/application_kubernetes.go
Labels: area/go

Add todo
  pkg/app/piped/executor/kubernetes/applier_group.go
Labels: area/go

Add the RELEASE.md for explaining the way to release
  RELEASES.md
Labels: none

Remove unsed sentences
  RELEASES.md
Labels: none

Fix some points from reviews
  RELEASES.md
Labels: none

Add the prerequisites
  RELEASES.md
Labels: none

Make annoying log entries to DEBUG level
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Make annoying log entries to DEBUG level (#3818)
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Update k8s executor to follow specified routes when applying manifests (#3817)
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/config/application_kubernetes.go
Labels: area/go

Resolve conflict
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/config/piped.go
  pkg/model/application.go
Labels: area/go

Remove PipedSpec.CloudProvider type and make all cloudProviders configuration load as platformProviders
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

Update unmarshalJSON logic
  pkg/config/piped.go
Labels: area/go

Fix error
  pkg/config/piped.go
Labels: area/go

Add cloudprovider
  pkg/app/server/grpcapi/piped_api.go
Labels: area/go

Remove duplicate
  pkg/config/piped.go
Labels: area/go

Piped api update
  pkg/app/server/grpcapi/piped_api.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
Labels: area/go

Update pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

Resolve conflict
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: area/go

Release v0.34.2
  RELEASE
Labels: none

Release v0.34.2 (#3820)
  RELEASE
Labels: none

Make platformProviders works as piped deployment provider (#3815)
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/application.go
Labels: area/go

Update RELEASES.md
  RELEASES.md
Labels: none

Change CloudProvider to PlatformProvider in application form
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/applicationstore.go
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/applications.ts
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/go, area/web

Remove cloud-provider from application add command
  pkg/app/pipectl/cmd/application/add.go
Labels: area/go

Fix old piped broken issue
  pkg/datastore/applicationstore.go
Labels: area/go

Update RELEASES.md
  RELEASES.md
Labels: none

Update RELEASES.md
  RELEASES.md
Labels: none

Update RELEASES.md
  RELEASES.md
Labels: none

Update add application handle logic
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Fix the branch format
  RELEASES.md
Labels: none

Add the RELEASES.md for explaining the way to release (#3807)
  RELEASES.md
Labels: none

Add PlatformProvider docs
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/operator-manual/piped/adding-a-platform-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/static/images/registering-an-application-from-suggestions-new.png
  docs/static/images/registering-an-application-manually-new.png
Labels: none

Update stores reflect CloudProvider rename to PlatformProvider
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/pipedstore.go
Labels: area/go
