Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Make piped to only get the pipeline stage config in case of deployment's strategy is not QuickSync (#6204)
  pkg/app/pipedv1/controller/scheduler.go
  pkg/model/deployment.go
Labels: area/go

Fix GetStageConfig logic
  pkg/configv1/application.go
Labels: area/go

Fix test
  pkg/configv1/application_test.go
Labels: area/go

Update application config GetStageConfig logic (#6205)
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go

Fix test
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Fix failed test (#6206)
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Replace redux in page deployment-traces - remove modules/deploymentTrace - add query for get deployment traces infinitite
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/deployment-trace-page/useGroupedDeploymentTrace.tsx
  web/src/modules/deploymentTrace/index.test.ts
  web/src/modules/deploymentTrace/index.ts
  web/src/modules/index.ts
  web/src/queries/deployment-traces/use-deployment-traces-infinite.ts
Labels: area/web

Replace redux in page deployment list - Remove modules/deployment - Remove modules/stage-logs - Add query for deployment list infinite - add component label-auto-complete - fix test application filter
  web/src/__fixtures__/dummy-deployment.ts
  web/src/__fixtures__/dummy-pipeline.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/application-filter/application-autocomplete.tsx
  web/src/components/applications-page/application-filter/index.test.tsx
  web/src/components/deployment-status-icon/index.test.tsx
  web/src/components/deployment-status-icon/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/components/deployments-page/deployment-filter/index.test.tsx
  web/src/components/deployments-page/deployment-filter/index.tsx
  web/src/components/deployments-page/deployment-item/index.tsx
  web/src/components/deployments-page/index.tsx
  web/src/components/label-auto-complete/index.test.tsx
  web/src/components/label-auto-complete/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
  web/src/modules/index.ts
  web/src/modules/stage-logs/index.test.ts
  web/src/modules/stage-logs/index.ts
  web/src/queries/deployment/use-get-deployments-infinite.tsx
  web/src/types/application.ts
  web/src/types/deployment.ts
Labels: area/web

add make command for remove the local volumes
  Makefile
Labels: area/build

Add migration to pipedv1 blog
  docs/content/en/blog/migrate-to-pipedv1.md
Labels: none

Add what new in pipedv1 blog post (#6198)
  docs/content/en/blog/what-new-in-pipedv1.md
Labels: none

Update release version list API to support modules release pattern (#6199)
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Replace redux in application list page - Add query for get unregisted apps - Add mutation for add app, update app - Update test cases
  web/jest.setup.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-piped.ts
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v0/index.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/application-filter/index.test.tsx
  web/src/components/applications-page/application-filter/index.tsx
  web/src/components/applications-page/application-filter/piped-select.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/constants/application-active-status.ts
  web/src/constants/application-kind.ts
  web/src/mocks/services/application.ts
  web/src/queries/applications/use-add-application.tsx
  web/src/queries/applications/use-get-unregistered-applications.tsx
  web/src/queries/applications/use-update-application.tsx
  web/src/types/applications.ts
  web/src/utils/common.ts
Labels: area/web

fix: golangci.yaml
  .golangci.yml
Labels: none

chore: bump
  go.mod
  go.sum
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.sum
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/go, area/tool

Add pipedv1 and plugin release docs to RELEASES.md
  RELEASES.md
Labels: none

Add piped plugin SDK release docs
  pkg/plugin/sdk/RELEASES.md
Labels: area/go

Add SDK release docs
  RELEASES.md
Labels: none

Add note
  RELEASES.md
Labels: none

Add pipedv1 and plugin release docs (#6209)
  RELEASES.md
Labels: none

Indent error for debug
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Fix indent
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Test publish pipedv1 workflow
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Migrate golangci-lint to v2 (#6178)
  .github/workflows/lint.yaml
  .golangci.yml
  Makefile
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/build

Fix go lint issues
  pkg/config/application.go
  pkg/configv1/application.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/planpreview.go
  tool/actions-gh-release/release.go
Labels: area/go, area/tool

Fix go lint issues (#6213)
  pkg/config/application.go
  pkg/configv1/application.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/planpreview.go
  tool/actions-gh-release/release.go
Labels: area/go, area/tool

bump: pipedv1
  .github/workflows/publish_pipedv1_exp.yaml
  cmd/pipedv1/Dockerfile
Labels: area/go, area/build

bump go 1.25.0
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  docs/Dockerfile
  go.mod
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
Labels: area/go, area/build, area/tool

chore: update sha256
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

chore: bump version
  go.mod
  go.sum
Labels: none

Bump go 1.25.0 (#6128)
  .github/workflows/build.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  Makefile
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  cmd/pipedv1/Dockerfile
  docs/Dockerfile
  go.mod
  go.sum
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
Labels: area/go, area/build, area/tool

Replace redux in page deployment-traces (#5955)
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/deployment-trace-page/useGroupedDeploymentTrace.tsx
  web/src/modules/deploymentTrace/index.test.ts
  web/src/modules/deploymentTrace/index.ts
  web/src/modules/index.ts
  web/src/queries/deployment-traces/use-deployment-traces-infinite.ts
Labels: area/web

Replace redux in deploymnent detail page (#5972)
  web/src/__fixtures__/dummy-stage-log.ts
  web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
  web/src/components/deployments-detail-page/index.tsx
  web/src/components/deployments-detail-page/log-viewer/index.test.tsx
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/log-viewer/log-line/index.tsx
  web/src/components/deployments-detail-page/log-viewer/log/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.test.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/contexts/command-context/CommandStatusTracking.tsx
  web/src/contexts/command-context/command-context.ts
  web/src/contexts/command-context/command-provider.tsx
  web/src/contexts/command-context/index.ts
  web/src/contexts/command-context/use-command.tsx
  web/src/index.tsx
  web/src/mocks/services/deployment.ts
  web/src/queries/commands/use-fetch-command.ts
  web/src/queries/deployment/use-approve-stage.ts
  web/src/queries/deployment/use-cancel-deployment.ts
  web/src/queries/deployment/use-get-deployment-by-id.ts
  web/src/queries/deployment/use-skip-stage.ts
  web/src/queries/pipeds/use-get-piped-by-id.tsx
  web/src/queries/stage-logs/use-get-stage-logs.ts
  web/src/types/deployment.ts
  web/src/types/stage-log.ts
  web/src/utils/find-default-active-stage-in-deployment.ts
  web/src/utils/is-deployment-running.ts
  web/src/utils/is-stage-running.ts
Labels: area/web

Replace redux in page deployment list - Remove modules/deployment - Remove modules/stage-logs - Add query for deployment list infinite - add component label-auto-complete - fix test application filter
  web/src/__fixtures__/dummy-deployment.ts
  web/src/__fixtures__/dummy-pipeline.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/application-filter/application-autocomplete.tsx
  web/src/components/applications-page/application-filter/index.test.tsx
  web/src/components/deployment-status-icon/index.test.tsx
  web/src/components/deployment-status-icon/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/components/deployments-page/deployment-filter/index.test.tsx
  web/src/components/deployments-page/deployment-filter/index.tsx
  web/src/components/deployments-page/deployment-item/index.tsx
  web/src/components/deployments-page/index.tsx
  web/src/components/label-auto-complete/index.test.tsx
  web/src/components/label-auto-complete/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
  web/src/modules/index.ts
  web/src/modules/stage-logs/index.test.ts
  web/src/modules/stage-logs/index.ts
  web/src/queries/deployment/use-get-deployments-infinite.tsx
  web/src/types/application.ts
  web/src/types/deployment.ts
Labels: area/web

Replace redux in page deployment list (#6012)
  web/src/__fixtures__/dummy-deployment.ts
  web/src/__fixtures__/dummy-pipeline.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/application-filter/application-autocomplete.tsx
  web/src/components/applications-page/application-filter/index.test.tsx
  web/src/components/deployment-status-icon/index.test.tsx
  web/src/components/deployment-status-icon/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/components/deployments-page/deployment-filter/index.test.tsx
  web/src/components/deployments-page/deployment-filter/index.tsx
  web/src/components/deployments-page/deployment-item/index.tsx
  web/src/components/deployments-page/index.tsx
  web/src/components/label-auto-complete/index.test.tsx
  web/src/components/label-auto-complete/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
  web/src/modules/index.ts
  web/src/modules/stage-logs/index.test.ts
  web/src/modules/stage-logs/index.ts
  web/src/queries/deployment/use-get-deployments-infinite.tsx
  web/src/types/application.ts
  web/src/types/deployment.ts
Labels: area/web

Fix panic when Lambda manifest has no tags defined
  pkg/app/piped/executor/lambda/lambda.go
Labels: area/go

Fix panic when Lambda manifest has no tags defined (#6215)
  pkg/app/piped/executor/lambda/lambda.go
Labels: area/go

Replace redux in application list page - Add query for get unregisted apps - Add mutation for add app, update app - Update test cases
  web/jest.setup.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-piped.ts
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v0/index.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/application-filter/index.test.tsx
  web/src/components/applications-page/application-filter/index.tsx
  web/src/components/applications-page/application-filter/piped-select.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/constants/application-active-status.ts
  web/src/constants/application-kind.ts
  web/src/mocks/services/application.ts
  web/src/queries/applications/use-add-application.tsx
  web/src/queries/applications/use-get-unregistered-applications.tsx
  web/src/queries/applications/use-update-application.tsx
  web/src/types/applications.ts
  web/src/utils/common.ts
Labels: area/web

Replace redux in application list page (#6034)
  web/jest.setup.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-piped.ts
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v0/index.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/application-filter/index.test.tsx
  web/src/components/applications-page/application-filter/index.tsx
  web/src/components/applications-page/application-filter/piped-select.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/constants/application-active-status.ts
  web/src/constants/application-kind.ts
  web/src/mocks/services/application.ts
  web/src/queries/applications/use-add-application.tsx
  web/src/queries/applications/use-get-unregistered-applications.tsx
  web/src/queries/applications/use-update-application.tsx
  web/src/types/applications.ts
  web/src/utils/common.ts
Labels: area/web

Improve make file: kind-up,kind-down (#6131)
  CONTRIBUTING.md
  Makefile
  cmd/pipecd/README.md
  hack/create-kind-cluster.sh
  hack/create-local-registry.sh
Labels: area/go, area/build

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
