Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Fix stage status when no resource found
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Implement k8s sync pruning with SDK (#5634)
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin_test.go
Labels: area/go

Feat/insight UI update (#5633)
  web/package.json
  web/src/components/chart-empty-data/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/statistic-information/application-by-piped.tsx
  web/src/components/insight-page/statistic-information/application-count.tsx
  web/src/components/insight-page/statistic-information/deployment-24h.tsx
  web/src/components/insight-page/statistic-information/index.tsx
  web/src/components/insight-page/statistic-information/legend-row.tsx
  web/src/components/insight-page/statistic-information/piped-count.tsx
  web/src/hooks/useEChartState.tsx
  web/src/modules/application-counts/index.test.ts
  web/src/modules/application-counts/index.ts
  web/src/modules/deployment-change-failure-rate/index.test.ts
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.test.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/utils/common.ts
Labels: area/web

fix: Use the specified version of Helm when templating with Kustomize
  pkg/app/piped/platformprovider/kubernetes/kustomize.go
  pkg/app/piped/platformprovider/kubernetes/kustomize_test.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/testdata/testkustomize-with-helm/.gitignore
  pkg/app/piped/platformprovider/kubernetes/testdata/testkustomize-with-helm/kustomization.yaml
Labels: area/go

test: fix test
  pkg/app/piped/platformprovider/kubernetes/kustomize_test.go
Labels: area/go

feat: allow user defining which role/username's claim key can be use.
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback.go
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
Labels: area/go

feat: allow using custom AuthURL/TokenURL/UserInfoURL.
  pkg/oauth/oidc/oidc.go
Labels: area/go

gen: add new field to oidc configuration
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/go, area/web

Check wheter it is the first deploy
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Load manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Find workload manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Add variant annotations
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Add commit hash annotation
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Find deploy target config
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Apply manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Fix comment
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Simplify ListStageCommands()
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
Labels: area/go

Impl ListStageCommands()
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Update Go version to 1.24.1 in workflow files
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

Update Go version to 1.24.1 in tool Dockerfiles and go.mod files
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/tool

Update Go version to 1.24.1 in Dockerfiles and go.mod files
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  cmd/piped/README.md
  docs/Dockerfile
  go.mod
Labels: area/go

Fix formatting in comment body generation for GitHub releases
  tool/actions-gh-release/comment.go
Labels: area/tool

Update Go version of codegen to 1.24.1
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/tool

Update Go version of codegen to 1.24.1 (#5642)
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/tool

Implement ListDeploymentTrace rpc for Web (#5631)
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/src/__fixtures__/dummy-deployment-trace.ts
Labels: area/go, area/web

Update codegen image
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Update Go to 1.24.1 (#5641)
  .github/workflows/build.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  Makefile
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  cmd/piped/README.md
  docs/Dockerfile
  go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/comment.go
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
Labels: area/go, area/build, area/tool

Rename PipedServiceClient->PluginServiceClient
  pkg/plugin/pipedapi/client.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Fix cases and add comments
  pkg/plugin/sdk/deployment.go
Labels: area/go

[SDK] Implement ListStageCommands() in SDK (#5639)
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Update pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate.go
Labels: area/go

Implement Livestate SDK (#5626)
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

fix: Correct semver comparison
  pkg/app/piped/platformprovider/kubernetes/kustomize.go
  pkg/app/piped/platformprovider/kubernetes/kustomize_test.go
Labels: area/go

Fix index ensurer error on alter table command run
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: area/go

Fix index ensurer error on alter table command run (#5644)
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: area/go

Rename PipedServiceClient->PluginServiceClient (#5643)
  pkg/plugin/pipedapi/client.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

fix: Use the specified version of Helm when templating with Kustomize (#5636)
  pkg/app/piped/platformprovider/kubernetes/kustomize.go
  pkg/app/piped/platformprovider/kubernetes/kustomize_test.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/testdata/testkustomize-with-helm/.gitignore
  pkg/app/piped/platformprovider/kubernetes/testdata/testkustomize-with-helm/kustomization.yaml
Labels: area/go

Implement k8s rollback with SDK (#5638)
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Add ToResourceState method to convert manifest to sdk.ResourceState
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Move defaultKubectlVersion to provider package
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
Labels: area/go
