Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Correct timing of TaskSet cleanup relative to ECS_PRIMARY_ROLLOUT
  docs/content/en/docs-dev/user-guide/examples/ecs-app-bluegreen.md
  docs/content/en/docs-dev/user-guide/examples/ecs-app-canary.md
  docs/content/en/docs-v0.57.x/user-guide/examples/ecs-app-bluegreen.md
  docs/content/en/docs-v0.57.x/user-guide/examples/ecs-app-canary.md
Labels: none

docs: add transfer command to pipectl CLI documentation
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.57.x/user-guide/command-line-tool.md
  docs/content/en/docs-v1.0.x/user-guide/command-line-tool.md
Labels: none

docs: add contexts directory to web README directory structure (#7018)
  web/README.md
Labels: area/web

Update copilot instruction file (#7097)
  .github/copilot-instructions.md
Labels: area/build

Update node version to v24.10.0
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/test.yaml
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
  web/README.md
  web/package.json
Labels: area/go, area/web, area/build

Update node version to v24.10.0 (#7110)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/test.yaml
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
  web/README.md
  web/package.json
Labels: area/go, area/web, area/build

Add unit tests for executeApplyStage, executePlanStage, and executeRollbackStage
  pkg/app/pipedv1/plugin/terraform/deployment/apply_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback_test.go
Labels: area/go

Add copyright headers to test files
  pkg/app/pipedv1/plugin/terraform/deployment/apply_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback_test.go
Labels: area/go

Rename controlplane
  .github/copilot-instructions.md
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/controlplane/Dockerfile
  cmd/controlplane/README.md
  cmd/controlplane/main.go
  cmd/controlplane/ops.go
  cmd/controlplane/server.go
  manifests/controlplane/.helmignore
  manifests/controlplane/Chart.lock
  manifests/controlplane/Chart.yaml
  manifests/controlplane/charts/grafana-8.4.0.tgz
  manifests/controlplane/charts/opentelemetry-collector-0.93.3.tgz
  manifests/controlplane/charts/prometheus-14.6.0.tgz
  manifests/controlplane/charts/tempo-1.14.0.tgz
  manifests/controlplane/grafana-dashboards/cluster/node.json
  manifests/controlplane/grafana-dashboards/cluster/pod.json
  manifests/controlplane/grafana-dashboards/cluster/prometheus.json
  manifests/controlplane/grafana-dashboards/control-plane/go.json
  manifests/controlplane/grafana-dashboards/control-plane/incoming-request.json
  manifests/controlplane/grafana-dashboards/control-plane/overview.json
  manifests/controlplane/grafana-dashboards/piped/go.json
  manifests/controlplane/grafana-dashboards/piped/overview.json
  manifests/controlplane/grafana-dashboards/piped/process.json
  manifests/controlplane/prom-rules/alerting_rules.yml
  manifests/controlplane/templates/NOTES.txt
  manifests/controlplane/templates/_helpers.tpl
  manifests/controlplane/templates/backend-config.yaml
  manifests/controlplane/templates/configmap.yaml
  manifests/controlplane/templates/deployment.yaml
  manifests/controlplane/templates/envoy-configmap.yaml
  manifests/controlplane/templates/ingress.yaml
  manifests/controlplane/templates/managed-certificate.yaml
  manifests/controlplane/templates/secret.yaml
  manifests/controlplane/templates/service.yaml
  manifests/controlplane/templates/serviceaccount.yaml
  manifests/controlplane/values.yaml
Labels: area/go, area/build, area/manifests

Fix controlplane quickstart values file
  Makefile
  quickstart/controlplane-values.yaml
Labels: area/build

Adding devcontainer for development ease
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Labels: none

Remove old quickstart controlplane related manifests
  .github/workflows/publish_image_chart.yaml
  quickstart/README.md
  quickstart/control-plane-values.yaml
Labels: area/build

Remove pipecd container image
  .github/workflows/publish_image_chart.yaml
  manifests/pipecd/values.yaml
Labels: area/build, area/manifests

Rename controlplane binary
  cmd/controlplane/main.go
Labels: area/go

Detect when a plugin process exits and reflect it in /healthz
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/pluginhealth.go
  pkg/app/pipedv1/cmd/piped/pluginhealth_test.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Rename pipecd component to controlplane in monitoring config
  manifests/controlplane/grafana-dashboards/cluster/prometheus.json
  manifests/controlplane/grafana-dashboards/piped/go.json
  manifests/controlplane/grafana-dashboards/piped/overview.json
  manifests/controlplane/grafana-dashboards/piped/process.json
  manifests/controlplane/templates/configmap.yaml
  quickstart/controlplane-values.yaml
Labels: area/manifests

Disable monitoring component for quickstart
  quickstart/controlplane-values.yaml
Labels: none

Fix out-of-bounds panic on empty DeployTargets in plugins
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/planpreview/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Docs V1: Expand the Kubernetes plugin page (#7079)
  docs/content/en/docs-v1.0.x/plugins/kubernetes.md
Labels: none

feat: Add address validation for gRPC connections and corresponding tests
  pkg/app/pipectl/client/client.go
  pkg/app/pipectl/client/client_test.go
Labels: area/go

Rename pipecd control plane chart to controlplane (#7114)
  .github/copilot-instructions.md
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/controlplane/Dockerfile
  cmd/controlplane/README.md
  cmd/controlplane/main.go
  cmd/controlplane/ops.go
  cmd/controlplane/server.go
  manifests/controlplane/.helmignore
  manifests/controlplane/Chart.lock
  manifests/controlplane/Chart.yaml
  manifests/controlplane/charts/grafana-8.4.0.tgz
  manifests/controlplane/charts/opentelemetry-collector-0.93.3.tgz
  manifests/controlplane/charts/prometheus-14.6.0.tgz
  manifests/controlplane/charts/tempo-1.14.0.tgz
  manifests/controlplane/grafana-dashboards/cluster/node.json
  manifests/controlplane/grafana-dashboards/cluster/pod.json
  manifests/controlplane/grafana-dashboards/cluster/prometheus.json
  manifests/controlplane/grafana-dashboards/control-plane/go.json
  manifests/controlplane/grafana-dashboards/control-plane/incoming-request.json
  manifests/controlplane/grafana-dashboards/control-plane/overview.json
  manifests/controlplane/grafana-dashboards/piped/go.json
  manifests/controlplane/grafana-dashboards/piped/overview.json
  manifests/controlplane/grafana-dashboards/piped/process.json
  manifests/controlplane/prom-rules/alerting_rules.yml
  manifests/controlplane/templates/NOTES.txt
  manifests/controlplane/templates/_helpers.tpl
  manifests/controlplane/templates/backend-config.yaml
  manifests/controlplane/templates/configmap.yaml
  manifests/controlplane/templates/deployment.yaml
  manifests/controlplane/templates/envoy-configmap.yaml
  manifests/controlplane/templates/ingress.yaml
  manifests/controlplane/templates/managed-certificate.yaml
  manifests/controlplane/templates/secret.yaml
  manifests/controlplane/templates/service.yaml
  manifests/controlplane/templates/serviceaccount.yaml
  manifests/controlplane/values.yaml
  quickstart/README.md
  quickstart/controlplane-values.yaml
Labels: area/go, area/build, area/manifests

Return the cursor when listing applications without label filter (#7101)
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/api_test.go
Labels: area/go

fix(web): prevent active stage selection from being overridden on polling
  web/src/components/deployments-detail-page/index.tsx
Labels: area/web

docs: add Netlify configuration for docs hosting migration (#6930)
  docs/.gitignore
  docs/README.md
  docs/netlify.toml
  hack/gen-release-docs.sh
Labels: area/build

docs: reorganize the v1 plugins section
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/official/_index.md
  docs/content/en/docs-v1.0.x/plugins/official/analysis.md
  docs/content/en/docs-v1.0.x/plugins/official/ecs.md
  docs/content/en/docs-v1.0.x/plugins/official/kubernetes-multicluster.md
  docs/content/en/docs-v1.0.x/plugins/official/kubernetes.md
  docs/content/en/docs-v1.0.x/plugins/official/script-run.md
  docs/content/en/docs-v1.0.x/plugins/official/terraform.md
  docs/content/en/docs-v1.0.x/plugins/official/wait-approval.md
  docs/content/en/docs-v1.0.x/plugins/official/wait.md
Labels: none

Add CLAUDE.md importing copilot-instructions.md
  CLAUDE.md
Labels: none

Add CLAUDE.md importing copilot-instructions.md (#7123)
  CLAUDE.md
Labels: none

Document gRPC service authentication and request flow
  docs/content/en/docs-dev/contribution-guidelines/grpc-services-overview.md
Labels: none

Add developer guide explaining APIService, WebService, and PipedService interactions
  docs/content/en/docs-dev/contribution-guidelines/service-interactions.md
Labels: none

Release v0.57.1
  RELEASE
Labels: none

Release v0.57.1 (#7132)
  RELEASE
Labels: none

Trim protobuf documentation comments to high-value ones only
  pkg/app/helloworld/service/service.proto
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/webservice/service.proto
  pkg/model/application_live_state.proto
  pkg/model/common.proto
  pkg/model/notificationevent.proto
  pkg/model/project.proto
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/planpreview/api.proto
  pkg/plugin/pipedservice/service.proto
Labels: area/go

Regenerate .pb.go/_grpc.pb.go files to match trimmed proto comments
  pkg/app/helloworld/service/service.pb.go
  pkg/app/helloworld/service/service_grpc.pb.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/application_live_state.pb.go
  pkg/model/common.pb.go
  pkg/model/notificationevent.pb.go
  pkg/model/project.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/pipedservice/service.pb.go
Labels: area/go

Fix HasDiff returning false when OwnerIds or ParentIds actually differ
  pkg/model/application_live_state.go
  pkg/model/application_live_state_test.go
Labels: area/go

Advance the tracked snapshot version while applying live state events
  pkg/app/server/applicationlivestatestore/store.go
  pkg/app/server/applicationlivestatestore/store_test.go
Labels: area/go

docs: reorganize the v1 plugins section (#7122)
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/official/_index.md
  docs/content/en/docs-v1.0.x/plugins/official/analysis.md
  docs/content/en/docs-v1.0.x/plugins/official/ecs.md
  docs/content/en/docs-v1.0.x/plugins/official/kubernetes-multicluster.md
  docs/content/en/docs-v1.0.x/plugins/official/kubernetes.md
  docs/content/en/docs-v1.0.x/plugins/official/script-run.md
  docs/content/en/docs-v1.0.x/plugins/official/terraform.md
  docs/content/en/docs-v1.0.x/plugins/official/wait-approval.md
  docs/content/en/docs-v1.0.x/plugins/official/wait.md
Labels: none

docs: add Creating a Plugin tutorial (ch 1)
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/creating-a-plugin/_index.md
  docs/content/en/docs-v1.0.x/plugins/creating-a-plugin/chapter-01-introduction.md
Labels: none

chore: minor clean up
  docs/content/en/docs-v1.0.x/plugins/creating-a-plugin/_index.md
Labels: none

Apply suggestion from @khanhtc1202
  pkg/app/pipedv1/apistore/deploymentstore/store_test.go
Labels: area/go

fix: paginate ListNotCompletedDeployments in pipedv1 (#6727)
  pkg/app/pipedv1/apistore/deploymentstore/store.go
  pkg/app/pipedv1/apistore/deploymentstore/store_test.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
Labels: area/go
