Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add document for git password
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/configuration-reference.md
Labels: none

Release v0.48.9 (#5205)
  RELEASE
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/configuration-reference.md
Labels: none

Add document for force-sync-by-replace annotation (#5179)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fetch breaking changes data from web api (#5202)
  web/src/api/piped.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/pipeds/index.test.ts
  web/src/modules/pipeds/index.ts
Labels: area/web

Write a blog post for v0.48.9 perf changes
  docs/content/en/blog/git-operation-performance-improvement.md
Labels: none

Write a blog post for v0.48.9 perf changes (#5206)
  docs/content/en/blog/git-operation-performance-improvement.md
Labels: none

fix: web/package.json & web/yarn.lock to reduce vulnerabilities
  web/package.json
  web/yarn.lock
Labels: area/web

Rename planner plugin to deployment plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Implement FetchDefinedStages
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Implement BuildQuickSyncStages
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Add TODO comment at DetermineVersions
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Enable the persistence of the Grafana Tempo
  manifests/pipecd/values.yaml
Labels: area/manifests

Update feature statuses to Alpha
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

Enable the persistence of the Grafana Tempo (#5208)
  manifests/pipecd/values.yaml
Labels: area/manifests

add note for standalone tasks
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

Revert "Enable the persistence of the Grafana Tempo (#5208)"
  manifests/pipecd/values.yaml
Labels: area/manifests

Revert "Enable the persistence of the Grafana Tempo (#5208)" (#5209)
  manifests/pipecd/values.yaml
Labels: area/manifests

Add required IAM actions for ECS & Lambda Livestates
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
Labels: none

[docs] Update docs of ECS and Lambda (#5210)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
Labels: none

fix: upgrade dayjs from 1.11.12 to 1.11.13
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade dayjs from 1.11.12 to 1.11.13 (#5211)
  web/package.json
  web/yarn.lock
Labels: area/web

Use TargetDSP on SCRIPT_RUN_ROLLBACK stage
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: area/go

Regard DSP as done only when preparation is successful considering of reuse the provider
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

Same fix for provider.GetReadOnly
  pkg/app/piped/deploysource/deploysource.go
Labels: area/go

Regard DSP as done only when preparation is successful considering of reuse the provider (#5216)
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

Make controller's os.RemoveAll single-threaded
  pkg/app/piped/controller/controller.go
Labels: area/go

Use TargetDSP on SCRIPT_RUN_ROLLBACK stage (#5215)
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: area/go

Close the workingDirRemovalCh
  pkg/app/piped/controller/controller.go
Labels: area/go

Add InstallTool RPC method for PluginService
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
Labels: area/go

Use bytes as application_config
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/go, area/web

Add Deploysource as proto model (#5112)
  pkg/app/pipedv1/plugin/inputs.go
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/go, area/web

Use Routes instead of Switch
  web/src/components/settings-page/index.tsx
  web/src/routes.tsx
Labels: area/web

Remove exact from Route
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/settings-page/index.tsx
  web/src/routes.tsx
Labels: area/web

Use useNavigate instead of useHistory
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/components/deployments-page/index.tsx
  web/src/components/events-page/index.tsx
  web/src/components/insight-page/index.tsx
Labels: area/web

Wrap Route with Routes
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
Labels: area/web

Use Navigate instead of Redirect
  web/src/components/login-page/index.tsx
  web/src/components/settings-page/index.tsx
  web/src/routes.tsx
Labels: area/web

Remove unused imports
  web/src/components/login-page/index.tsx
  web/src/components/settings-page/index.tsx
  web/src/routes.tsx
Labels: area/web

Fix the nullish
  web/src/components/application-detail-page/index.tsx
  web/src/components/deployments-detail-page/index.tsx
Labels: area/web

Fix the prop name
  web/src/components/application-detail-page/index.test.tsx
Labels: area/web

Fix ApplicationDetailPage test
  web/src/components/application-detail-page/index.test.tsx
Labels: area/web

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
