Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

wip
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/cluster.go
  pkg/app/piped/platformprovider/ecs/cluster_test.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/config/application_ecs.go
Labels: area/go

delete func for loading vpc_conf
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/vpc_conf.go
  pkg/app/piped/platformprovider/ecs/vpc_conf_test.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
Labels: area/go

fix testcase
  pkg/config/application_ecs_test.go
Labels: area/go

small fix
  pkg/config/application_ecs_test.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
Labels: area/go

fix lint error
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/config/application_ecs.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

support standalone ECS task (#4084)
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go

Small lint fix
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Small lint fix (#4097)
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Fix a crash bug of piped when generate diff from empty manifest structure
  pkg/app/piped/platformprovider/cloudrun/diff.go
  pkg/app/piped/platformprovider/cloudrun/diff_test.go
Labels: area/go

Fix to return an error when not finding the last commit
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Fix to return an error when not finding the last commit (#4100)
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Update planpreview comment format
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

fixup
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Update planpreview comment format (#4101)
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Update the planpreview format
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

add example for ecs standalone task
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

Update the planpreview format (#4103)
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

add example for ecs standalone task
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

fix null pointer
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

fix null pointer (#4102)
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Remove deprecated envName field
  pkg/config/application.go
Labels: area/go

consider new line at EOF on parsing kubernetes manifest
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/platformprovider/kubernetes/manifest.go
Labels: area/go

update comment
  pkg/yamlprocessor/yamlprocessor.go
Labels: area/go

update eventwatcher_test
  pkg/app/piped/eventwatcher/eventwatcher_test.go
Labels: area/go

remove TODO because PR of go-yaml was merged
  pkg/yamlprocessor/yamlprocessor.go
Labels: area/go

consider to handle multiple new line at EOF
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
Labels: area/go

add a new line to the EOF in case of there is no at EOF
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: area/go

update go-yaml v1.9.8
  go.mod
  go.sum
Labels: none

remove indent vioration of tab
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: area/go

Keep new line at end of file in yamlprocessor
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: area/go

Remove deprecated envName field (#4105)
  pkg/config/application.go
Labels: area/go

wip
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

add yaml example to docs.
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

add yaml example to docs.
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

wip
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
