Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Fix web test warning (#5449)
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/copy-icon-button/index.tsx
  web/src/components/settings-page/project/components/static-admin-form/index.tsx
Labels: area/web

Rename deploysource's revision to commit_hash (#5450)
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Rename Revision field to CommitHash in tests
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
Labels: area/go

Update rfc for the livestate feature (#5448)
  docs/rfcs/0016-livestate-feature-for-plugin-architecture.md
Labels: none

Init grpc server of wait stage plugin (#5445)
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/execute/wait.go
  pkg/app/pipedv1/plugin/wait/main.go
  pkg/app/pipedv1/plugin/wait/server.go
Labels: area/go

Remove `key` field from `provider.Manifest` in the k8s plugin (#5446)
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Add functions to check if a manifest is a Deployment, Secret, or ConfigMap
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Refactor manifest methods and remove obsolete test file
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go

Remove obsolete IsDeployment method from ResourceKey
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Refactor to use Manifest.IsConfigMap
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Refactor to use Manifest.IsSecret not ResourceKey.IsSecret
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Remove unused function and var
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Add unit tests for Manifest.IsDeployment method
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go

Add unit tests for Manifest.IsSecret method
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go

Add unit tests for Manifest.IsConfigMap method
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go

Add TODO comments to enforce stricter API group checks in Manifest methods
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Add livestateServiceClient to the plugin.Client
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go

Add livestatereporter for the plugin architecture
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Remove unused arg
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Reduce ResourceKey's responsibility (#5451)
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go

Add labels for application tracking in Kubernetes manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Add IsManagedByPiped method
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go

Remove Namespace method from ResourceKey
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Remove APIVersion method from ResourceKey
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Fix wait time for staring pluging reporter
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Refactor manifest handling to use Name and Kind methods instead of Key
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Use plugin reporter's logger when starting it
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Add log for starting main reporter
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Change apiVersion and kind to groupKind
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Remove TODO comment for ReportApplicationLiveState
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Implement pruning resources
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
Labels: area/go

Implement resource pruning in k8s_sync
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/target/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Fix the pruning in the case namespace changes
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/target/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/target/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Add deploy target name to the resource state
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web

Remove TODO comment
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.proto
Labels: area/go

Add livestatereporter for the plugin architecture (#5452)
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go

Add deploy target name to the resource state (#5453)
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web

Determine app health status for plugin architecture
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/model/application_live_state.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.proto
  pkg/model/application_live_state_test.go
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web

Determine UI for Unhealthy
  web/src/components/application-detail-page/application-detail/health-status-icon/index.tsx
  web/src/constants/health-status-text.ts
Labels: area/web

Prioritize unhealthy over unknown
  pkg/model/application_live_state.go
  pkg/model/application_live_state_test.go
Labels: area/go
