Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Implement FetchDefinedStages
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

Remove unused arg
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

Implement BuildQuickSyncStages
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

Rewrite FetchDefinedStages and BuildQuickSyncStages with plugin SDK (#5605)
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

Update deployment trace ui
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/header/index.tsx
Labels: area/web

Update deployment trace ui (#5610)
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/header/index.tsx
Labels: area/web

Add Deployment definition to SDK
  pkg/plugin/sdk/deployment.go
Labels: area/go

Fix for failed test
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Add link to contributor guideline to quickstart docs
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.50.x/quickstart/_index.md
Labels: none

Add link to contributor guideline to quickstart docs (#5612)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.50.x/quickstart/_index.md
Labels: none

Add comment
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add Deployment definition in SDK (#5611)
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Use sdk.Deployment
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

[bot] Update contributors
  README.md
Labels: none

Pass DeployTarget in SDK
  pkg/plugin/sdk/deployment.go
Labels: area/go

Remove comment
  pkg/plugin/sdk/deployment.go
Labels: area/go

Refactor to do early continue
  pkg/plugin/sdk/deployment.go
Labels: area/go

Fix error message
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add the number of the deployTargets
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add comment for caching
  pkg/plugin/sdk/deployment.go
Labels: area/go

Allow no deploy targets in the plugin config considering the plugins which don't need them
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Refactor to remove unnecessary error in the return values
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Refactor to return error early
  pkg/plugin/sdk/deployment.go
Labels: area/go

Pass DeployTarget in SDK (#5616)
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Refactor to remove unnecessary error in the return values (#5617)
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Add LivestatePlugin to implement Livestate/DriftDetection with SDK (#5603)
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

Add deploy_targets field to GetLivestateRequest message
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
Labels: area/go

nit: empty slices -> nil
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
Labels: area/go

Change fields on deployment trace model to be not required
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
Labels: area/go, area/web

Fix lint
  web/src/__fixtures__/dummy-deployment-trace.ts
Labels: area/web

Change fields on deployment trace model to be not required (#5619)
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/src/__fixtures__/dummy-deployment-trace.ts
Labels: area/go, area/web

Remove deprecated ReportEventHandled rpc from piped API
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/pipedservice/service_grpc.pb.go
Labels: area/go

Remove request/response type of unused rpc
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
Labels: area/go

Remove deprecated ReportEventHandled rpc from piped API (#5620)
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/pipedservice/service_grpc.pb.go
Labels: area/go

Add toolRegistry as a common field in the Client
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

Create and add deployment trace obj to datastore on event registering flow
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/mysql/ensurer/schema.sql
  pkg/model/deployment_trace.go
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/go, area/web

Fix cancel handling in pipedv1 scheduler (#5597)
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/plugin/wait/wait.go
  pkg/app/pipedv1/plugin/wait/wait_test.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add deploy_targets field to GetLivestateRequest message (#5618)
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
Labels: area/go

Add comment
  pkg/plugin/sdk/client.go
Labels: area/go

Remove unneed empty check
  pkg/app/server/grpcapi/api.go
Labels: area/go
