Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Remove unused web test
  web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: area/web

Remove unused web test (#4324)
  web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: area/web

Update contributions list (#4323)
  README.md
Labels: none

update tool's go.mod
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/tool

Update go version (#4320)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  go.mod
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/build, area/tool

update: improve the project
  pkg/app/ops/handler/handler.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/executor/analysis/mannwhitney/dist.go
  pkg/app/piped/executor/analysis/mannwhitney/mathx.go
  pkg/app/piped/executor/analysis/mannwhitney/normaldist.go
  pkg/app/piped/executor/analysis/mannwhitney/udist.go
  pkg/app/piped/executor/analysis/mannwhitney/udist_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/executor/wait/wait.go
  pkg/app/piped/platformprovider/kubernetes/hasher.go
  pkg/app/server/httpapi/httpapimetrics/delegator.go
  pkg/cli/cmd.go
  pkg/config/control_plane.go
  pkg/datastore/mysql/query.go
  pkg/filematcher/filematcher.go
  pkg/insight/insightmetrics/metrics.go
Labels: area/go

Add runtime platform to ECS task definition
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Update codeowners
  CODEOWNERS
Labels: none

Update codeowners (#4327)
  CODEOWNERS
Labels: none

Add runtime platform to ECS task definition (#4326)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Update manifests to fix service account error
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Add runtime platform to ECS task definition (#4326)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Add runtime platform to ECS task definition (#4326) (#4330)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Release v0.43.1
  RELEASE
  docs/content/en/blog/releases/v0.43.1.md
Labels: none

Update release note
  docs/content/en/blog/releases/v0.43.1.md
Labels: none

feat(piped): add EnableExecuteCommand field to ECS service
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

feat(piped): add EnableExecuteCommand field to UpdateServiceInput
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

feat(piped): add EnableExecuteCommand field to ECS service (#4332)
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Update codeowner
  CODEOWNERS
  MAINTAINERS.md
Labels: none

Update codeowner (#4334)
  CODEOWNERS
  MAINTAINERS.md
Labels: none

Release v0.43.1 (#4331)
  RELEASE
  docs/content/en/blog/releases/v0.43.1.md
Labels: none

Update manifests to fix service account error (#4328)
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Fix indent (#4322)
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
Labels: none

Remove CLA
  .github/workflows/cla.yaml
  CLA.md
Labels: area/build

Remove CLA (#4335)
  .github/workflows/cla.yaml
  CLA.md
Labels: area/build

improve: implementation of UpdateApplication
  pkg/app/server/grpcapi/api.go
Labels: area/go

replace update logic
  pkg/app/server/grpcapi/api.go
  pkg/datastore/applicationstore.go
Labels: area/go

improve: rpc
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

feat: add update interface
  pkg/app/server/grpcapi/api.go
  pkg/datastore/applicationstore.go
Labels: area/go

improve: proto
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

refactor: api logic
  pkg/app/server/grpcapi/api.go
  pkg/datastore/applicationstore.go
Labels: area/go

gen code
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

update: reduce interace
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

update: comment
  pkg/datastore/applicationstore.go
Labels: area/go

delete: disabled field
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

update: proto
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

Update pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/api.go
Labels: area/go

feat: add update application rpc
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

feat: implement update application grpc api
  pkg/app/server/grpcapi/api.go
Labels: area/go

update: comment
  pkg/datastore/applicationstore.go
Labels: area/go
