Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

feat: add K8S_PRIMARY_CLEAN stage and its execution logic
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

feat: implement K8S_PRIMARY_CLEAN stage and its execution logic
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/primary_clean.go
Labels: area/go

feat: add tests for K8S_PRIMARY_CLEAN stage execution
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/primary_clean_test.go
Labels: area/go

fix: copy button overlap with text
  docs/assets/scss/_copy-button.scss
Labels: none

fix: update Go version to 1.25.8 to fix govulncheck vulnerabilities
  go.mod
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/go, area/tool

chore: update dependencies to latest versions in go.mod and go.sum
  go.mod
  go.sum
Labels: none

ci: make govulncheck warn-only until vulnerabilities are fixed
  .github/workflows/lint.yaml
Labels: area/build

[ECS-Plugin] Setting default value for config (#6585)
  pkg/app/pipedv1/plugin/ecs/config/application.go
Labels: area/go

Add test cases and configuration for canary clean stages with and without service creation
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_without_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_without_create_service/service.yaml
Labels: area/go

Remove redundant IsService function and KindService constant
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/resource.go
Labels: area/go

[Multi_K8s-Plugin] Canary Clean (#6589)
  examples/kubernetes_multicluster/canary/app.pipecd.yaml
  examples/kubernetes_multicluster/canary/cluster-eu/deployment.yaml
  examples/kubernetes_multicluster/canary/cluster-eu/service.yaml
  examples/kubernetes_multicluster/canary/cluster-us/deployment.yaml
  examples/kubernetes_multicluster/canary/cluster-us/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_without_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/canary_clean_without_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/liveresources.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/resource.go
Labels: area/go, area/examples

fix: only delete the primary taskset instead of deleting all previous tasksets
  pkg/app/pipedv1/plugin/ecs/deployment/primary.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

feat: implement canary rollout
  pkg/app/pipedv1/plugin/ecs/config/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/go.mod
Labels: area/go

feat: implement primary rollout
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary_test.go
Labels: area/go

chore: move deleting old tasksets to a seprate function
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync_test.go
Labels: area/go

Add K8s primary rollout stage and related configurations
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

Implement K8s multi-primary rollout stage
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/primary.go
Labels: area/go

Add K8s multi-primary rollout stage tests
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/primary_test.go
Labels: area/go

Add testdata configurations for primary rollout stages
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/target/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_with_create_service/service.yaml
Labels: area/go

feat: add K8S_BASELINE_ROLLOUT stage for baseline deployments
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

feat: add K8sBaselineRolloutStageOptions for baseline rollout configuration
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
Labels: area/go

feat: implement K8s multi-cluster baseline rollout stage and corresponding tests
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline_test.go
Labels: area/go

feat: add test data for baseline rollout with and without service creation
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_without_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_without_create_service/service.yaml
Labels: area/go

feat: add K8S_BASELINE_CLEAN stage for baseline resource removal
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

feat: implement K8S_BASELINE_CLEAN stage for baseline resource management
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline_test.go
Labels: area/go

feat: add baseline clean test data with and without create service
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_without_create_service/deployment.yaml
Labels: area/go

feat: implement ecs canary clean stage
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
Labels: area/go

fix: remove extra blank line in canary_test.go to satisfy gofmt
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary_test.go
Labels: area/go

fix: remove extra blank line in canary_test.go to satisfy gofmt (#6609)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary_test.go
Labels: area/go

fix: nil pointer dereference in UpdatePluginMetadata
  pkg/datastore/deploymentstore.go
Labels: area/go

feat: implemenet diff calc to compare old and new task definition or service
  pkg/app/pipedv1/plugin/ecs/planpreview/diff.go
  pkg/app/pipedv1/plugin/ecs/planpreview/diff_test.go
Labels: area/go

feat: implement plan preview plugin for ECS
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/main.go
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin.go
  pkg/app/pipedv1/plugin/ecs/planpreview/plugin_test.go
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/app.pipecd.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/running/servicedef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/running/taskdef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/target/servicedef.yaml
  pkg/app/pipedv1/plugin/ecs/planpreview/testdata/target/taskdef.yaml
Labels: area/go

[PipeCD-DataStore] fix: nil pointer dereference in UpdatePluginMetadata (#6611)
  pkg/datastore/deploymentstore.go
Labels: area/go

[ECS-Plugin]: Implement Primary Rollout and Canary Rollout Stage (#6587)
  pkg/app/pipedv1/plugin/ecs/config/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/canary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary_test.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

feat(cloudrun): implement v1 prototype for version determination and sync strategy
  pkg/app/pipedv1/plugin/cloudrun/deployment/determine.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/execute_sync.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin.go
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.sum
  pkg/app/pipedv1/plugin/cloudrun/provider/client.go
  pkg/app/pipedv1/plugin/cloudrun/provider/manifest.go
Labels: area/go

test(cloudrun): add unit tests for determine logic and exact dispatcher
  pkg/app/pipedv1/plugin/cloudrun/deployment/determine_test.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin_test.go
Labels: area/go

docs(v1): add comprehensive config tables for app and piped configs per review
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuration-reference.md
Labels: none

feat: implement necessary methods for interacting with elb resources
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
  pkg/app/pipedv1/plugin/ecs/provider/routing_traffic.go
  pkg/app/pipedv1/plugin/ecs/provider/routing_traffic_test.go
Labels: area/go

feat: implement traffic routing stage
  pkg/app/pipedv1/plugin/ecs/config/traffic.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic_test.go
Labels: area/go

feat: provide methods for getting live state from ecs resources
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go
