Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

add example for ecs standalone task
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

apply review
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Release v0.41.2
  RELEASE
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Update the release note
  docs/content/en/blog/releases/v0.41.2.md
Labels: none

Release v0.41.2 (#4111)
  RELEASE
  docs/content/en/blog/releases/v0.41.2.md
Labels: none

Add example for ecs standalone task (#4104)
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

Release v0.41.2 (#4111)
  RELEASE
  docs/content/en/blog/releases/v0.41.2.md
Labels: none

Update planpreview comment format (#4101)
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Fix to return an error when not finding the last commit (#4100)
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Update the planpreview format (#4103)
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Remove deprecated envName field (#4105)
  pkg/config/application.go
Labels: area/go

Fix the example for running make release/pick
  RELEASES.md
Labels: none

Cherry-pick #4100 #4101 #4103 #4105 #4111 (#4112)
  RELEASE
  docs/content/en/blog/releases/v0.41.2.md
  pkg/app/piped/planpreview/cloudrundiff.go
  pkg/config/application.go
  tool/actions-plan-preview/planpreview.go
Labels: area/go, area/tool

Fix the example for running make release/pick (#4113)
  RELEASES.md
Labels: none

Add update contributions command
  Makefile
  README.md
  hack/gen-contributions.sh
Labels: area/build

Update hack/gen-contributions.sh
  hack/gen-contributions.sh
Labels: area/build

Keep new line at end of file in yamlprocessor (#4033)
  go.mod
  go.sum
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: area/go

Update hack/gen-contributions.sh
  hack/gen-contributions.sh
Labels: area/build

Add update contributions command (#4114)
  Makefile
  README.md
  hack/gen-contributions.sh
Labels: area/build

Run update go deps
  go.sum
Labels: none

Run update go deps (#4117)
  go.sum
Labels: none

feature: cli and grpc to disable application
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/disable.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Added ability to teplate eventWatcher.gitRepos.commitMessage
  pkg/config/config.go
Labels: area/go

feature: cli and grpc to disable application (#4119)
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/disable.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Add kenvin to contributiors list
  README.md
Labels: none

Add new line in detailsFormat to fix plan preview format
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Add kenvin to contributiors list (#4121)
  README.md
Labels: none

Add new line in detailsFormat to fix plan preview format (#4122)
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

add document how to disable
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

add last-used-at field to model
  pkg/model/apikey.pb.go
  pkg/model/apikey.pb.validate.go
  pkg/model/apikey.proto
  web/model/apikey_pb.d.ts
  web/model/apikey_pb.js
Labels: area/go, area/web

add document how to disable (#4123)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

add created time and last used time on webui and the method to update them in verifier
  pkg/app/server/apikeyverifier/verifier.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/apikey.go
  web/src/components/settings-page/api-key/index.tsx
Labels: area/go, area/web

ts lint
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

modify verify test
  pkg/app/server/apikeyverifier/verifier_test.go
Labels: area/go

parse template in the eventWatcher handler side
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/config.go
Labels: area/go

Release version v0.41.3
  RELEASE
  docs/content/en/blog/releases/v0.41.3.md
  docs/content/en/docs-v0.41.x/examples/_index.md
  docs/content/en/docs-v0.41.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs/examples/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Update contributors list
  README.md
Labels: none

Update contributors list (#4126)
  README.md
Labels: none

Update release note
  docs/content/en/blog/releases/v0.41.3.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
