Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

docs: add contributing-plugins guide to docs-v0.56.x
  docs/content/en/docs-v0.56.x/contribution-guidelines/contributing-plugins/_index.md
Labels: none

docs: translate the PipeCD plugin development book to English
  docs/content/en/docs-dev/plugin-development/01-introduction.md
  docs/content/en/docs-dev/plugin-development/02-plugin-features.md
  docs/content/en/docs-dev/plugin-development/03-tech-selection.md
  docs/content/en/docs-dev/plugin-development/04-project-init.md
  docs/content/en/docs-dev/plugin-development/05-dependencies.md
  docs/content/en/docs-dev/plugin-development/06-plugin-types.md
  docs/content/en/docs-dev/plugin-development/07-first-steps.md
  docs/content/en/docs-dev/plugin-development/08-deployment-plugin-interface.md
  docs/content/en/docs-dev/plugin-development/09-defining-config-types.md
  docs/content/en/docs-dev/plugin-development/10-empty-implementation.md
  docs/content/en/docs-dev/plugin-development/11-fetch-defined-stages.md
  docs/content/en/docs-dev/plugin-development/12-determine-versions.md
  docs/content/en/docs-dev/plugin-development/13-determine-strategy.md
  docs/content/en/docs-dev/plugin-development/14-build-pipeline-sync-stages.md
  docs/content/en/docs-dev/plugin-development/15-build-quick-sync-stages.md
  docs/content/en/docs-dev/plugin-development/16-execute-stage.md
  docs/content/en/docs-dev/plugin-development/17-execute-stage-diff.md
  docs/content/en/docs-dev/plugin-development/18-execute-stage-sync.md
  docs/content/en/docs-dev/plugin-development/19-execute-stage-rollback.md
  docs/content/en/docs-dev/plugin-development/20-updating-main.md
  docs/content/en/docs-dev/plugin-development/21-trying-with-piped.md
  docs/content/en/docs-dev/plugin-development/22-conclusion.md
  docs/content/en/docs-dev/plugin-development/_index.md
Labels: none

ci: add lychee broken link validation CI for docs
  .github/workflows/docs-link-checker.yaml
  lychee.toml
Labels: area/build

docs: audit and fix missing language tags in markdown code blocks
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
  docs/content/en/blog/pipecd-at-kubecon-hongkong-2024.md
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-dev/user-guide/metrics.md
Labels: none

docs: unify Control Plane terminology capitalization
  docs/content/en/blog/ci-cd-gap-fulfill-with-pipecd.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.56.x/faq/_index.md
  docs/content/en/docs-v0.56.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.56.x/quickstart/_index.md
Labels: none

docs: add guide for building plugins in other languages (Python/Node.js)
  docs/content/en/docs-dev/plugin-development/other-languages.md
Labels: none

test: add basic input validation tests for plugin api structs
  pkg/plugin/api/v1alpha1/common/common_test.go
  pkg/plugin/api/v1alpha1/deployment/api_test.go
  pkg/plugin/api/v1alpha1/livestate/api_test.go
  pkg/plugin/api/v1alpha1/planpreview/api_test.go
Labels: area/go

ci(docs): add markdownlint-cli2 workflow for docs-dev
  .github/workflows/docs-lint.yaml
  .markdownlint-cli2.yaml
Labels: area/build

Add example Kubernetes multi-cluster configuration and manifests
  examples/kubernetes_multicluster/simple/.piped/config-example.yaml
  examples/kubernetes_multicluster/simple/README.md
  examples/kubernetes_multicluster/simple/app.pipecd.yaml
  examples/kubernetes_multicluster/simple/deployment.yaml
  examples/kubernetes_multicluster/simple/service.yaml
Labels: area/examples

Add initial chapters for PipeCD Plugin Development Book: Prerequisites and Introduction
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/chapter-00-prerequisites.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/chapter-01-introduction.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/index.md
Labels: none

docs: clarify docs version directories and fix wording
  docs/README.md
Labels: none

docs: fix PipeCD docs package metadata links
  docs/package.json
Labels: none

feat: implement copy button for code snippets (#6530)
  docs/assets/js/copy-button.js
  docs/assets/scss/_copy-button.scss
  docs/assets/scss/_styles_project.scss
  docs/layouts/partials/hooks/body-end.html
Labels: none

docs: add Minikube setup instructions for local Kubernetes cluster for dev, 0.56.x and v1.0.x
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.56.x/quickstart/_index.md
  docs/content/en/docs-v1.0.x/quickstart/_index.md
Labels: none

docs: rename docs workflow section heading
  docs/README.md
Labels: none

add prerequisite for 0.55x
  docs/content/en/docs-v0.55.x/quickstart/_index.md
Labels: none

ci(docs): add link checker to existing CI to prevent broken docs links
  .github/workflows/link_checker.yaml
  .lychee.toml
Labels: area/build

fix(web): render resource metadata dynamically in live state detail
  web/src/components/application-detail-page/application-state-view/live-state-view/resource-detail/index.tsx
Labels: area/web

fix(web): show resource type label on live state node for non-k8s plugins
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-node/index.tsx
Labels: area/web

fix(livestate): shorter taskset and task name (less verbose)
  pkg/app/pipedv1/plugin/ecs/livestate/plugin.go
Labels: area/go

docs: streamline Minikube installation instructions in quickstart guides
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.55.x/quickstart/_index.md
  docs/content/en/docs-v0.56.x/quickstart/_index.md
  docs/content/en/docs-v1.0.x/quickstart/_index.md
Labels: none

[PipeCD-Web]: Fix livestate UI for non-k8s plugins (#6803)
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-node/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/resource-detail/index.tsx
Labels: area/web

Prune orphan resources during Kubernetes rollback
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/rollback_test.go
Labels: area/go

Add docs for pipectl transfer command (#6768)
  docs/content/en/docs-dev/user-guide/managing-controlplane/migrating-across-projects.md
  docs/content/en/docs-v0.56.x/user-guide/managing-controlplane/migrating-across-projects.md
Labels: none

fix(kubernetes_multicluster): extract images from initContainers and CronJob templates
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/deployment_test.go
Labels: area/go

fix(kubernetes_multicluster): implement health status for DaemonSet, ReplicaSet and Pod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
Labels: area/go

fix(kubernetes_multicluster): remove stale TODO comment in sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go

Support transfer specific applications by using labels flag for transfer command
  pkg/app/pipectl/cmd/transfer/backup.go
  pkg/app/pipectl/cmd/transfer/restore_application.go
Labels: area/go

fix(kubernetes_multicluster): correct copyright year to 2026 in load_manifests_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/load_manifests_test.go
Labels: area/go

fix(kubernetes_multicluster): correct copyright year to 2026 in config/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/plugin.go
Labels: area/go

fix(kubernetes_multicluster): correct copyright year to 2026 in targets.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/targets.go
Labels: area/go

fix(kubernetes_multicluster): correct copyright year to 2026 in planpreview files
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin_test.go
Labels: area/go

docs: fix grammatical errors in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

fixing the good first issue line
  CONTRIBUTING.md
Labels: none

docs: add AI usage policy to contributing guide
  CONTRIBUTING.md
Labels: none

docs: fix AI policy heading hierarchy
  CONTRIBUTING.md
Labels: none

fixed structure
  CONTRIBUTING.md
Labels: none

fixed structure
  CONTRIBUTING.md
Labels: none

ci: add automated thank you workflow for merged PRs (#6569)
  .github/workflows/thank-you.yaml
  MAINTAINERS.json
Labels: area/build

Remove event registration for demo environment update (#6716)
  .github/workflows/publish_image_chart.yaml
Labels: area/build
