Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update the contributors list automatically by GitHub Actions (#4930)
  .github/workflows/update-contributors.yaml
Labels: area/build

fix installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.46.x/installation/install-control-plane/installing-controlplane-on-k8s.md
Labels: none

fix installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.46.x/installation/install-control-plane/installing-controlplane-on-k8s.md
Labels: none

Add a comment for listApplications
  pkg/app/ops/insightcollector/application_collector.go
Labels: area/go

Add a comment for ignoring the deleted application
  pkg/app/ops/insightcollector/application_collector.go
Labels: area/go

Revert "Replace link from QuickStart to Tutorial in the top page"
  docs/content/en/_index.html
Labels: none

Add 'Tutorial' link in navbar
  docs/config.toml
Labels: none

add comment
  docs/config.toml
Labels: none

fix indent
  docs/config.toml
Labels: none

[bot] Update contributors
  README.md
Labels: none

update contirbutors
  README.md
Labels: none

remove fossabot after genarating contributors list
  hack/gen-contributions.sh
Labels: area/build

Put tags and categories to blog pages
  docs/content/en/blog/announcing-pipecd.md
  docs/content/en/blog/cncf-sandbox-admission.md
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/blog/february-2022-update.md
  docs/content/en/blog/january-2022-update.md
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/november-2021-update.md
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
  docs/content/en/blog/pipecd-best-practice-01.md
  docs/content/en/blog/play-environment.md
  docs/content/en/blog/terraform-provider-pipecd.md
Labels: none

Remove fossabot from the contributors list in ./hack/gen-contributions.sh Updating the contributors list on README.md ... Successfully update the contributions list on README.md
  hack/gen-contributions.sh
Labels: area/build

Remove fossabot after generating the contributors list
  hack/gen-contributions.sh
Labels: area/build

Fix blog tags
  docs/content/en/blog/february-2022-update.md
  docs/content/en/blog/january-2022-update.md
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/november-2021-update.md
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
  docs/content/en/blog/play-environment.md
Labels: none

Refactor: merge func 'checkSkipStage' into 'shouldSkipStage'
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/skipstage.go
Labels: area/go

Update applications info stored in the filestore when deleting apps (#4953)
  pkg/app/ops/insightcollector/application_collector.go
Labels: area/go

Put tags and categories to blog pages (#4959)
  docs/content/en/blog/announcing-pipecd.md
  docs/content/en/blog/cncf-sandbox-admission.md
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/blog/february-2022-update.md
  docs/content/en/blog/january-2022-update.md
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/november-2021-update.md
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
  docs/content/en/blog/pipecd-best-practice-01.md
  docs/content/en/blog/play-environment.md
  docs/content/en/blog/terraform-provider-pipecd.md
Labels: none

Add restrictions of servicedef,taskdef: dev
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Add restrictions of servicedef,taskdef: v0.47.x
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: none

Fix: copied missing
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: none

[docs] Describe restrictions in configuring ECS serviceDef & taskDef (#4962)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: none

Remove fossabot after generating the contributors list (#4960)
  hack/gen-contributions.sh
Labels: area/build

Replace link from QuickStart to Tutorial in the top page (#4937)
  docs/config.toml
Labels: none

Add link to Tutorial in README.md
  README.md
Labels: none

Add Note of link to Tutorial in quickstart
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
Labels: none

[docs] Add links to the Tutorial (#4964)
  README.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
Labels: none

Add ECSApplicationLiveState to ApplicationLiveStateSnapshot and gen code
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/go, area/web

Fix typo: ECSRun -> ECS
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/pipedv1/livestatestore/livestatestore.go
Labels: area/go

draft: reporter, model
  pkg/app/piped/livestatereporter/reporter.go
  pkg/model/application_live_state.go
Labels: area/go

Merge funcs
  pkg/app/piped/controller/skipstage.go
Labels: area/go

Add TestSkipByCommitMessagePrefixes with mock
  pkg/app/piped/controller/skipstage_test.go
Labels: area/go

Refactore: merge funcs and use mock
  pkg/app/piped/controller/skipstage.go
  pkg/app/piped/controller/skipstage_test.go
Labels: area/go

fix installing-controlplane-on-k8s.md (#4942)
  docs/content/en/docs-v0.46.x/installation/install-control-plane/installing-controlplane-on-k8s.md
Labels: none

Google Analytics 4 (GA4): configure CNCF site ID
  docs/config.toml
Labels: none

Google Analytics 4 (GA4): configure CNCF site ID (#4940)
  docs/config.toml
Labels: none

Refactor to use Infof
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: area/go

Refactor not to use loadRunningManifests
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
Labels: area/go

Refactor to remve detector.isNamespacedResources
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
