Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Fix ignoreAddingMapKeysTest
  pkg/diff/testdata/ignore_adding_map_keys.yaml
Labels: area/go

Add PipedName
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/server/grpcapi/api.go
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/go, area/web

Fix test
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
Labels: area/go

Enable to ignore manifests' fields from kubernetes' drift detection (#4249)
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/application.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/testdata/ignore_specified_field.yaml
Labels: area/go

Update pkg/model/stage.go
  pkg/model/stage.go
Labels: area/go

Update pkg/config/testdata/application/custom-stage.yaml
  pkg/config/testdata/application/custom-stage.yaml
Labels: area/go

add timeout
  pkg/app/piped/executor/custom/custom.go
  pkg/config/application.go
Labels: area/go

modify test
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-stage.yaml
Labels: area/go

Add print debug
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
  pkg/diff/diff.go
Labels: area/go

add example
  examples/lambda/custom-sync-sam/README.md
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

Fix test
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
  pkg/diff/diff.go
Labels: area/go

Delete print debug
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

add docs
  docs/content/en/docs-dev/user-guide/managing-application/custom-sync.md
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

Update comment
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/diff/diff.go
Labels: area/go

add image
  docs/content/en/docs-dev/user-guide/managing-application/custom-sync.md
  docs/static/images/custom-sync-rollback.png
  docs/static/images/custom-sync.png
Labels: none

add sample
  examples/kubernetes/custom-templating-cue/app.pipecd.yaml
  examples/kubernetes/custom-templating-cue/dump_tool.cue
  examples/kubernetes/custom-templating-cue/kube_tool.cue
  examples/kubernetes/custom-templating-cue/simple1/simple1.cue
  examples/kubernetes/custom-templating-cue/simple1/simple1.yaml
  examples/kubernetes/custom-templating-cue/simple2/simple2.cue
  examples/kubernetes/custom-templating-cue/simple2/simple2.yaml
  examples/kubernetes/custom-templating-jsonnet/app.pipecd.yaml
  examples/kubernetes/custom-templating-jsonnet/base.libsonnet
  examples/kubernetes/custom-templating-jsonnet/dev.libsonnnet
Labels: area/examples

delete sample
  examples/kubernetes/custom-templating-cue/dev.pipecd.yaml
  examples/kubernetes/custom-templating-cue/dump_tool.cue
  examples/kubernetes/custom-templating-cue/kube_tool.cue
  examples/kubernetes/custom-templating-cue/simple1/test.cue
  examples/kubernetes/custom-templating-cue/simple1/test.yaml
  examples/kubernetes/custom-templating-cue/simple2/test.cue
  examples/kubernetes/custom-templating-cue/simple2/test.yaml
  examples/kubernetes/custom-templating-jsonnet/base.libsonnet
  examples/kubernetes/custom-templating-jsonnet/dev.libsonnet
  examples/kubernetes/custom-templating-jsonnet/dev.pipecd.yaml
Labels: area/examples

add docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Update pkg/app/piped/executor/custom/custom.go
  pkg/app/piped/executor/custom/custom.go
Labels: area/go

Update pkg/app/piped/executor/custom/custom.go
  pkg/app/piped/executor/custom/custom.go
Labels: area/go

Fixed a bug in #4199 that resulted in wrong Out of Sync. (#4248)
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
  pkg/diff/diff.go
  pkg/diff/testdata/ignore_adding_map_keys.yaml
Labels: area/go

Fix duplicate processing
  pkg/app/server/grpcapi/api.go
Labels: area/go

rename run and env
  pkg/app/piped/executor/custom/custom.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-stage.yaml
Labels: area/go

fixx slice
  pkg/app/piped/executor/custom/custom.go
Labels: area/go

Refactor config package to remove unnecessary default values setter
  pkg/config/analysis.go
  pkg/config/application.go
  pkg/config/application_terraform_test.go
  pkg/config/application_test.go
  pkg/config/testdata/application/generic-analysis.yaml
Labels: area/go

[ plan-preview ] Show FailurePiped with piped name, not only piped id (#4250)
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
  pkg/app/server/grpcapi/api.go
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/go, area/web

add validate
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-sync-without-run.yaml
  pkg/config/testdata/application/custom-sync.yaml
Labels: area/go

lint
  pkg/config/application.go
Labels: area/go

fix
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/registry/registry.go
  pkg/config/application.go
Labels: area/go

Refactor config package to remove unnecessary default values setter (#4258)
  pkg/config/analysis.go
  pkg/config/application.go
  pkg/config/application_terraform_test.go
  pkg/config/application_test.go
  pkg/config/testdata/application/generic-analysis.yaml
Labels: area/go

Fix omissions in PipedName output
  pkg/app/server/grpcapi/api.go
Labels: area/go

Add PipedName
  pkg/app/server/grpcapi/api.go
Labels: area/go

Fix lint
  pkg/app/server/grpcapi/api.go
Labels: area/go

fix stdout to log
  pkg/app/piped/executor/customsync/customsync.go
Labels: area/go

Add custom sync stage (#4223)
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-sync-without-run.yaml
  pkg/config/testdata/application/custom-sync.yaml
  pkg/model/stage.go
Labels: area/go

Fix stage log for CUSTOM_SYNC stage
  web/src/components/deployments-detail-page/log-viewer/log-line/index.tsx
Labels: area/web

fix conflict
  pkg/config/testdata/application/custom-stage.yaml
Labels: area/go

fix conflict
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
Labels: area/go

delete comment
  pkg/app/piped/controller/scheduler.go
Labels: area/go

fix
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
Labels: area/go
