Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Fix lint
  pkg/datastore/applicationstore.go
Labels: area/go

Replace CloudProvider with PlatformProvider in all application forms (#3821)
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/applicationstore.go
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/applications.ts
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/go, area/web

Update stores reflect CloudProvider rename to PlatformProvider (#3823)
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/pipedstore.go
Labels: area/go

Sort pipeds and apps by the name
  web/src/components/application-form/index.tsx
Labels: area/web

Sort pipeds and apps by the name (#3824)
  web/src/components/application-form/index.tsx
Labels: area/web

Fix app form
  web/src/components/application-form/index.tsx
Labels: area/web

Fix app form (#3826)
  web/src/components/application-form/index.tsx
Labels: area/web

Debug clone failed
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Chore to update k8s library
  go.mod
  go.sum
Labels: none

Run go mod tidy
  go.mod
  go.sum
Labels: none

Fix the insightstore test
  pkg/insight/insightstore/deploymentstore_test.go
Labels: area/go

Chore to update k8s libraries (#3828)
  go.mod
  go.sum
  pkg/insight/insightstore/deploymentstore_test.go
Labels: area/go

Add custom marshal logic for generic config type
  pkg/config/piped.go
Labels: area/go

Remove comment
  pkg/config/piped.go
Labels: area/go

Remove unused json tag
  pkg/config/piped.go
Labels: area/go

Fix fail clone PipedSpec object (#3827)
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Update codegen container image
  .github/workflows/gen.yaml
  tool/codegen/Dockerfile
Labels: area/build, area/tool

Fix error github actions syntax
  .github/workflows/gen.yaml
Labels: area/build

Update codegen container image (#3829)
  .github/workflows/gen.yaml
  tool/codegen/Dockerfile
Labels: area/build, area/tool

Gen mock
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Fix tests
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
Labels: area/go

Update make gen/code command
  Makefile
Labels: area/build

Update docs
  docs/content/en/docs-dev/operator-manual/piped/adding-a-platform-provider.md
Labels: none

Update make gen/code command (#3830)
  Makefile
Labels: area/build

Apply patch
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/apistore/commandstore/store.go
  pkg/model/command.go
Labels: area/go

Add PlatformProvider docs (#3822)
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/operator-manual/piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-a-platform-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/static/images/registering-an-application-from-suggestions-new.png
  docs/static/images/registering-an-application-manually-new.png
Labels: none

Update examples to use v0.32.0 image
  examples/kubernetes/analysis-by-http/deployment.yaml
  examples/kubernetes/analysis-by-log/deployment.yaml
  examples/kubernetes/canary/deployment.yaml
  examples/kubernetes/simple/deployment.yaml
Labels: area/examples

Update examples to use v0.32.0 image (#3832)
  examples/kubernetes/analysis-by-http/deployment.yaml
  examples/kubernetes/analysis-by-log/deployment.yaml
  examples/kubernetes/canary/deployment.yaml
  examples/kubernetes/simple/deployment.yaml
Labels: area/examples

Add content
  docs/content/en/blog/releases/v0.35.0.md
Labels: none

Change release note
  docs/content/en/blog/releases/v0.35.0.md
Labels: none

Add pipectl install controlplane command
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/installation/controlplane.go
  pkg/app/pipectl/cmd/installation/installation.go
Labels: area/go

Install controlplane in other mode
  pkg/app/pipectl/cmd/installation/controlplane.go
Labels: area/go

Update pkg/app/pipectl/cmd/installation/controlplane.go
  pkg/app/pipectl/cmd/installation/controlplane.go
Labels: area/go

Fix duplicated providers listed in application form
  pkg/datastore/pipedstore.go
Labels: area/go

Fix duplicated providers listed in application form (#3836)
  pkg/datastore/pipedstore.go
Labels: area/go

Add flag
  pkg/app/pipectl/cmd/installation/controlplane.go
Labels: area/go

Fix duplicated providers listed in application form (#3836)
  pkg/datastore/pipedstore.go
Labels: area/go

Fix duplicated providers listed in application form (#3836) (#3837)
  pkg/datastore/pipedstore.go
Labels: area/go

Fix to check whether release branch exists or not
  hack/cherry-pick.sh
Labels: area/build

Release v0.35.1
  RELEASE
  docs/content/en/blog/releases/v0.35.1.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
