Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Remove unnecesary lines and move config file
  cmd/piped/README.md
  cmd/piped/piped-config.yaml
Labels: area/go

Move piped content to README
  cmd/piped/README.md
  cmd/piped/piped-config.yaml
Labels: area/go

Fix place of file name
  cmd/piped/README.md
Labels: area/go

Remove git config
  cmd/piped/README.md
Labels: area/go

Add docs and example config for local development (#4477)
  cmd/pipecd/README.md
  cmd/piped/README.md
Labels: area/go

Skip update AppState when no log updates
  web/src/modules/stage-logs/index.ts
Labels: area/web

Add docs for connecting to a real API server for developing web locally
  web/README.md
Labels: area/web

Skip update AppState when no log updates (#4482)
  web/src/modules/stage-logs/index.ts
Labels: area/web

Add docs for connecting to a real API server for developing web locally (#4483)
  web/README.md
Labels: area/web

Update web deps (#4451)
  web/custom-jsdom.js
  web/file-transformer.js
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/api/me.test.ts
  web/src/utils/__snapshots__/parse-log.test.ts.snap
  web/yarn.lock
Labels: area/web

Update quickstart to support arm hardware(ex: M1) (#4457)
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  pkg/app/pipectl/cmd/quickstart/quickstart.go
Labels: area/go, area/manifests

fix: update deprecated apiVersion since gke removed (#4469)
  manifests/pipecd/templates/managed-certificate.yaml
  manifests/site/templates/managed-certificate.yaml
Labels: area/manifests

Update logs message for ECS routing stage executor (#4466)
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

Output usage only when flag parsing fails #4381 (#4464)
  pkg/cli/app.go
Labels: area/go

Skip update AppState when no log updates (#4482)
  web/src/modules/stage-logs/index.ts
Labels: area/web

Support AWS LoadBalancer with multi listeners (#4462)
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Fix ECS rollback stage does not remove canary created tasks (#4465)
  pkg/app/piped/executor/ecs/rollback.go
Labels: area/go

Specify Version For Templating Tools (#4463)
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

Cherry-pick #4451 #4457 #4462 #4463 #4464 #4465 #4466 #4469 #4482 (#4485)
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/managed-certificate.yaml
  manifests/pipecd/values.yaml
  manifests/site/templates/managed-certificate.yaml
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/cli/app.go
  web/custom-jsdom.js
  web/file-transformer.js
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/api/me.test.ts
  web/src/modules/stage-logs/index.ts
  web/src/utils/__snapshots__/parse-log.test.ts.snap
  web/yarn.lock
Labels: area/go, area/web, area/manifests

Release v0.44.2
  RELEASE
  docs/content/en/blog/releases/v0.44.2.md
Labels: none

Add release blog
  docs/content/en/blog/releases/v0.44.2.md
Labels: none

Release v0.44.2 (#4486)
  RELEASE
  docs/content/en/blog/releases/v0.44.2.md
Labels: none

fix typo
  pkg/cache/cache.go
Labels: area/go

feat: add a new field for configuration notifications of piped in docs
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
Labels: none

feat: add new field for slack notification
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

feat: improve notification feature
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
Labels: area/go

fix: test
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

apply for other events
  pkg/app/piped/notifier/slack.go
Labels: area/go

remove unnecessary conditions
  pkg/app/piped/notifier/slack.go
Labels: area/go

Modify severity when unable to determine versions in Kubernetes
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

fix: validate
  pkg/config/piped.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Update codegen image
  tool/codegen/Dockerfile
Labels: area/tool

Update protobuf install method
  tool/codegen/Dockerfile
Labels: area/tool

Update codegen image (#4498)
  tool/codegen/Dockerfile
Labels: area/tool

fix typo (#4490)
  pkg/cache/cache.go
Labels: area/go

Update makefile
  Makefile
Labels: area/build

Revert
  Makefile
Labels: area/build

Fix mockgen does not support errors.Join
  tool/codegen/Dockerfile
Labels: area/tool

Add release sidebar to all versions
  docs/content/en/docs-v0.39.x/releases/_index.md
  docs/content/en/docs-v0.40.x/releases/_index.md
  docs/content/en/docs-v0.41.x/releases/_index.md
  docs/content/en/docs-v0.42.x/releases/_index.md
  docs/content/en/docs-v0.43.x/releases/_index.md
Labels: none

Modify severity when unable to determine versions in Kubernetes (#4493)
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
