Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

[nits] fix docs to lowerCamelCase and add t.Parallel() (#5173)
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback_test.go
Labels: area/go

refactor: flushAll method to wait for all log flushes to complete (#5162)
  pkg/app/piped/logpersister/persister.go
Labels: area/go

Show username on the header (#5172)
  web/src/components/header/index.tsx
Labels: area/web

Add test for force-sync-by-replace
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
Labels: area/go

Add force-sync-by-replace handling
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: area/go

Add ForceReplaceManifest methods
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
Labels: area/go

Remove jq from v0.46.x, v0.47.x
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Add description for built in tools
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Fix the godoc comment
  pkg/app/piped/platformprovider/kubernetes/applier.go
Labels: area/go

Update release to v0.48.8
  RELEASE
Labels: none

Improve Terraform plan result handling
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/piped/platformprovider/terraform/terraform_test.go
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/planpreview_test.go
Labels: area/go, area/tool

Update release to v0.48.8 (#5176)
  RELEASE
Labels: none

Support --app-manifest-cache-count on helm chart (#5142)
  manifests/piped/templates/_helpers.tpl
  manifests/piped/values.yaml
Labels: area/manifests

Update release to v0.48.8 (#5176)
  RELEASE
Labels: none

Add force-sync-by-replace annotation option (#5175)
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
Labels: area/go

Add document for force-sync-by-replace annotation
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

Fix for rc release
  RELEASES.md
Labels: none

Fix phrasing
  RELEASES.md
Labels: none

[Lambda] Support LiveState Store, Reporter, and UI for Lambda (#5143)
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/livestatereporter/lambda/report.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/lambda/lambda.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/lambda/store_test.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/lambda.go
  pkg/app/piped/platformprovider/lambda/state.go
  pkg/app/piped/platformprovider/lambda/state_test.go
  pkg/model/application_live_state.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/model/application_live_state_test.go
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/index.tsx
  web/src/modules/applications-live-state/index.ts
Labels: area/go, area/web

add lambda's detector
  pkg/app/piped/driftdetector/lambda/detector.go
Labels: area/go

add switch-case for lambda detector
  pkg/app/piped/driftdetector/detector.go
Labels: area/go

Add config for Grafana Tempo datasource (#5167)
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

add ignoreAndSortParameters()
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: area/go

Fix docs for rc patch release (#5180)
  RELEASES.md
Labels: none

Add force-sync-by-replace annotation option (#5175)
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
Labels: area/go

Update piped config for quickstart (#5169)
  manifests/piped/templates/configmap.yaml
  manifests/piped/values.yaml
  quickstart/README.md
  quickstart/manifests/piped.yaml
Labels: area/manifests

Fix docs
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Update quickstart docs
  docs/content/en/docs-dev/quickstart/_index.md
  docs/static/images/pipecd-control-plane-mainpage.png
  docs/static/images/quickstart-piped-registered.png
Labels: none

Update _index.md
  docs/content/en/docs-dev/quickstart/_index.md
Labels: none

Update quickstart docs (#5184)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/static/images/pipecd-control-plane-mainpage.png
  docs/static/images/quickstart-piped-registered.png
Labels: none

Make new quickstart guideline official docs
  docs/content/en/docs-v0.48.x/quickstart/_index.md
Labels: none

Make new quickstart guideline official docs (#5185)
  docs/content/en/docs-v0.48.x/quickstart/_index.md
Labels: none

add tests and comments
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: area/go

Add route to opentelemetry collector at the ingress
  manifests/pipecd/templates/ingress.yaml
Labels: area/manifests

Add route to opentelemetry collector at the ingress (#5187)
  manifests/pipecd/templates/ingress.yaml
Labels: area/manifests

Fix the default values of pipecd manifest
  manifests/pipecd/values.yaml
Labels: area/manifests

Improve Terraform plan result handling (#5177)
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/piped/platformprovider/terraform/terraform_test.go
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/planpreview_test.go
Labels: area/go, area/tool

Use singleflight to clone/update repository cache (#5171)
  pkg/git/client.go
Labels: area/go

Modified to use Git with PAT (#4571)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/git/client.go
Labels: area/go

Use singleflight to clone/update repository cache (#5171)
  pkg/git/client.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
