Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Remove ListByPlatformProvider
  pkg/app/pipedv1/apistore/applicationstore/store.go
Labels: area/go

Update for gen/code
  web/model/application_pb.d.ts
Labels: area/web

Fix to report livestate in parallel
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
Labels: area/go

Fix for lint
  web/model/application_pb.d.ts
  web/src/__fixtures__/dummy-application.ts
Labels: area/web

Delete plugin names
  pkg/model/application.pb.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
Labels: area/go, area/web

Fix for rebasing
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
Labels: area/go

Remove git option to do partial clone
  pkg/git/client.go
Labels: area/go

Fix for lint
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
  web/src/__fixtures__/dummy-application.ts
Labels: area/go, area/web

Remove git option to do partial clone (#5482)
  pkg/git/client.go
Labels: area/go

Do not remove resources which is not managed by piped (#5481)
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go

Update workflow running containers to ubuntu-24.04
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/code-butler.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/stale.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

Update CODEOWNERS
  CODEOWNERS
Labels: none

Update workflow running containers to ubuntu-24.04 (#5483)
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/code-butler.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/stale.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

Update CODEOWNERS (#5484)
  CODEOWNERS
Labels: none

Update actions/cache to v4
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

Update actions/cache to v4 (#5486)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

Update setup-helm version to v4
  .github/workflows/build.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
Labels: area/build

Update codeql version to v3
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Update setup-helm version to v4 (#5487)
  .github/workflows/build.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
Labels: area/build

Update pipe-cd/actions-gh-release to version v2.6.0
  .github/workflows/prerelease.yaml
Labels: area/build

Update pipe-cd/actions-gh-release to version v2.6.0 (#5489)
  .github/workflows/prerelease.yaml
Labels: area/build

Update softprops/action-gh-release to version v2.2.1
  .github/workflows/publish_binary.yaml
Labels: area/build

Update softprops/action-gh-release to version v2.2.1 (#5490)
  .github/workflows/publish_binary.yaml
Labels: area/build

Update codeql version to v3 (#5488)
  .github/workflows/codeql-analysis.yaml
Labels: area/build

fix: upgrade echarts from 5.5.1 to 5.6.0
  web/package.json
  web/yarn.lock
Labels: area/web

Remove git option to do partial clone (#5482)
  pkg/git/client.go
Labels: area/go

Update workflow running containers to ubuntu-24.04 (#5483)
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/code-butler.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/stale.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

Update actions/cache to v4 (#5486)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

Update softprops/action-gh-release to version v2.2.1 (#5490)
  .github/workflows/publish_binary.yaml
Labels: area/build

Update codeql version to v3 (#5488)
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Update setup-helm version to v4 (#5487)
  .github/workflows/build.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
Labels: area/build

Update pipe-cd/actions-gh-release to version v2.6.0 (#5489)
  .github/workflows/prerelease.yaml
Labels: area/build

Cherry-pick #5483 #5486 #5487 #5488 #5489 #5490 (#5495)
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/code-butler.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/stale.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

fix: upgrade echarts from 5.5.1 to 5.6.0
  web/package.json
  web/yarn.lock
Labels: area/web

Add DeployTargets when building a deployment
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
Labels: area/go

Add MigrateDatabase RPC to APIService for database migration functionality (#5476)
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Add UpdateDeployTargets method to ApplicationStore interface
  pkg/datastore/applicationstore.go
Labels: area/go

Add MigrateDatabase RPC
  pkg/app/server/grpcapi/api.go
Labels: area/go

Log error when application migration fails in MigrateDatabase RPC
  pkg/app/server/grpcapi/api.go
Labels: area/go

Fix build error
  pkg/app/server/grpcapi/api.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
