Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

wording change
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-ECS.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/adding-a-project.md
Labels: none

Enable taxonomy pages for categories and tags
  docs/config.toml
Labels: none

Enable taxonomy pages for categories and tags (#6469)
  docs/config.toml
Labels: none

mistakenly added wrong file
  .github/workflows/dco.yaml
Labels: area/build

docs: add preview feature functionality with GitHub workflows
  .github/workflows/dco.yaml
  .github/workflows/docs-preview-check.yaml
  .github/workflows/docs-preview-cleanup.yaml
  .github/workflows/docs-preview-deploy.yaml
Labels: area/build

fix: cmd/pipecd/Dockerfile to reduce vulnerabilities
  cmd/pipecd/Dockerfile
Labels: area/go

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities
  tool/actions-gh-release/Dockerfile
Labels: area/tool

hide version selector and make v1 deafult
  docs/layouts/partials/navbar.html
  docs/main.go
Labels: none

added template for documentation issue
  .github/ISSUE_TEMPLATE/documentation.md
Labels: area/build

added the label when someone makes changes to the docs
  .github/labeler.yaml
Labels: area/build

Update docs FAQ
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-v0.55.x/faq/_index.md
  docs/content/en/docs-v1.0.x/faq/_index.md
Labels: none

added the workflow and script to pin commit hash
  .gha-reversemap.yml
  .github/workflows/verify-action-hashes.yaml
  hack/gha-reversemap.sh
Labels: area/build

applied animation on the right nav when scrolling
  docs/assets/js/toc-scroll-spy.js
  docs/assets/scss/_styles_project.scss
  docs/layouts/partials/scripts.html
Labels: none

uses no inline classes, modified the transition time, prevents layout shift by reserving space for inactive links
  docs/assets/js/toc-scroll-spy.js
  docs/assets/scss/_styles_project.scss
Labels: none

added unnecessary line
  docs/assets/scss/_styles_project.scss
Labels: none

Update docs FAQ (#6494)
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-v0.55.x/faq/_index.md
  docs/content/en/docs-v1.0.x/faq/_index.md
Labels: none

ADD userguide/managingApp/deployment-trace (#6413)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/deployment-trace.md
Labels: none

ADD userguide/managingApp/rolling-back-a-deployment (#6410)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/rolling-back-a-deployment.md
Labels: none

ADD userguide/managingApp/configuration-drift-detection (#6411)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

docs(contributing): expand contribution guidelines with new sections (#6399)
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-to-pipecd.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing.md
Labels: none

Fix links in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Report event watcher failures
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

docs: fix grammar and spelling errors in v1 documentation
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
  docs/content/en/docs-v1.0.x/overview/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/event-watcher.md
Labels: none

0m
  CONTRIBUTING.md
Labels: none

chore: add pre-commit configuration and usage guide
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: none

Fix footer layout on mobile
  docs/layouts/partials/footer.html
  docs/themes/docsy/layouts/partials/footer.html
Labels: none

apply default values in stage plugins
  pkg/app/pipedv1/plugin/analysis/executestage/analysis.go
  pkg/app/pipedv1/plugin/wait/options.go
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities
  tool/actions-gh-release/Dockerfile
Labels: area/tool

Docs: v1 fix grammar and inconsistencies (#6463)
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
  docs/content/en/docs-v1.0.x/faq/_index.md
  docs/content/en/docs-v1.0.x/installation/_index.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/_index.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-ECS.md
  docs/content/en/docs-v1.0.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v1.0.x/installation/install-piped/_index.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
  docs/content/en/docs-v1.0.x/migrating-from-v0-to-v1/_index.md
  docs/content/en/docs-v1.0.x/overview/_index.md
  docs/content/en/docs-v1.0.x/quickstart/_index.md
  docs/content/en/docs-v1.0.x/user-guide/command-line-tool.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/event-watcher.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/manifest-attachment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/plan-preview.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/secret-management.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/triggering-a-deployment.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/adding-a-project.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/architecture-overview.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v1.0.x/user-guide/managing-controlplane/registering-a-piped.md
  docs/content/en/docs-v1.0.x/user-guide/observability-and-metrics/_index.md
  docs/content/en/docs-v1.0.x/user-guide/observability-and-metrics/metrics.md
  docs/content/en/docs-v1.0.x/user-guide/terraform-provider-pipecd.md
Labels: none

hide version selector and make v1 deafult (#6480)
  docs/layouts/partials/navbar.html
  docs/main.go
Labels: none

Apply default values in Terraform and CloudRun plugin
  pkg/app/pipedv1/plugin/cloudrun/config/application.go
  pkg/app/pipedv1/plugin/terraform/config/config.go
Labels: area/go

Apply defaults for Kubernetes rollout and multicluster configs
  pkg/app/pipedv1/plugin/kubernetes/config/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/config/canary.go
  pkg/app/pipedv1/plugin/kubernetes/config/primary.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
Labels: area/go

added additional flag for base64 encoding under pipectl encrypt
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

fixed numbering of subheading in installing-controlplane-on-k8s section
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
Labels: none

mistakenly added
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

Update note on pipectl command documentation
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
