Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update contributors by ./hack/gen-contributions.sh (#4757)
  README.md
Labels: none

Add expected YAML for kustomize
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-kustomize.yaml
Labels: area/go

Add Kustomize pattern for pipectl init
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/kubernetes.go
  pkg/app/pipectl/cmd/initialize/kubernetes_test.go
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-kustomize-empty.yaml
  pkg/config/application_kubernetes.go
Labels: area/go

Add Helm pattern for pipectl init
  pkg/app/pipectl/cmd/initialize/kubernetes.go
  pkg/app/pipectl/cmd/initialize/kubernetes_test.go
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-empty.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm.yaml
Labels: area/go

Set 'gc.autoDetach' to false to be executed 'git gc' in the foreground by some git commands
  pkg/app/piped/cmd/piped/piped.go
  pkg/git/client.go
  pkg/git/repo.go
Labels: area/go

Add options for Helm
  pkg/app/pipectl/cmd/initialize/kubernetes.go
  pkg/app/pipectl/cmd/initialize/kubernetes_test.go
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-local.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-remote.yaml
  pkg/config/application_kubernetes.go
Labels: area/go

fix typo
  pkg/app/pipectl/cmd/initialize/kubernetes.go
Labels: area/go

Add log for setting gc.autoDetach
  pkg/git/client.go
Labels: area/go

Add a param to run/piped in Makefile for setting --log-encoding to run the piped with specific log format
  Makefile
Labels: area/build

Rename to setGCAutoDetach
  pkg/git/client.go
  pkg/git/repo.go
Labels: area/go

Add test for setGCAutoDetach
  pkg/git/repo_test.go
Labels: area/go

Add a param to run/piped in Makefile for setting --log-encoding to run the piped with specific log format (#4762)
  Makefile
Labels: area/build

Refactor
  pkg/app/piped/cmd/piped/piped.go
  pkg/git/client.go
Labels: area/go

Add ECS canary for pipectl init
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-canary.yaml
Labels: area/go

Use log.Info
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: area/go

add init cmd to pipectl doc
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/initialize/initialize.go
Labels: area/go

Add pipectl init status
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

fi pipectl init status
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

add pipectl init explanation
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

add init cmd to pipectl doc
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/initialize/initialize.go
Labels: area/go

Add pipectl init status
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

fi pipectl init status
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

add pipectl init explanation
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

Add doc NOTE for ECS ELB Listeners
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Fix typo in doc
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
Labels: none

Added cancel method call to avoid context leak
  cmd/pipecd/server.go
Labels: area/go

add link to feature status
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

fix link to feature status
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

Add link to command-line-tool
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

use map for branchname
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

retry push commits in execute func
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

fix docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: none

remove docs
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

push commit if the branch is new in event watcher
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

add new branch flag when commit changes in eventwatcher
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

use branchHandledEvents map
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

remove makePullRequest from EventWatcherEvent
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/event_watcher.go
Labels: area/go

renamed getBranchName to makeBranchName
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
Labels: area/go

add createPullRequest flag to event watcher config instead of git config
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/event_watcher.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

fix docs-v0.43.x
  docs/content/en/docs-v0.43.x/user-guide/configuration-reference.md
Labels: none
