Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Fix for labels in ListDeployments API
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Fix panic error in ListDeployments API (#4650)
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

fix typo
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-v0.45.x/overview/_index.md
Labels: none

Fix typo (#4651)
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-v0.45.x/overview/_index.md
Labels: none

Update contributions
  README.md
Labels: none

Update contributions (#4652)
  README.md
Labels: none

Add actions/stale workflow
  .github/workflows/stale.yaml
Labels: area/build

Fix trial form link
  docs/layouts/partials/navbar.html
Labels: none

Add tests to model/deployment_chain (#4632)
  pkg/model/deployment_chain_test.go
Labels: area/go

update overview
  docs/content/en/docs-v0.45.x/faq/_index.md
  docs/content/en/docs-v0.45.x/overview/_index.md
Labels: none

Fix docs
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-v0.45.x/faq/_index.md
  docs/content/en/docs-v0.45.x/overview/_index.md
Labels: none

Update docs for overview (#4655)
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-v0.45.x/faq/_index.md
  docs/content/en/docs-v0.45.x/overview/_index.md
Labels: none

Fix trial form link (#4654)
  docs/layouts/partials/navbar.html
Labels: none

Except some labels
  .github/workflows/stale.yaml
Labels: area/build

Update golangci-lint and fix lint errors
  .golangci.yml
  Makefile
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatestore/kubernetes/appnodes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/platformprovider/kubernetes/hasher.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
  pkg/app/piped/platformprovider/kubernetes/state.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/apikeyverifier/verifier.go
  pkg/crypto/hybrid.go
  pkg/git/client.go
  pkg/git/client_test.go
Labels: area/go, area/build

Send error comment before plan preview exit
  tool/actions-plan-preview/main.go
Labels: area/tool

Apply review commnet
  tool/actions-plan-preview/main.go
Labels: area/tool

Send error comment before plan preview exit (#4658)
  tool/actions-plan-preview/main.go
Labels: area/tool

Add a flag to skip running standalone task during deployment
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  pkg/app/piped/executor/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go

Fix docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Handle plan preview workflow's error and exit with error status code
  tool/actions-plan-preview/main.go
Labels: area/tool

Update golangci-lint and fix lint errors (#4656)
  .golangci.yml
  Makefile
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatestore/kubernetes/appnodes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/platformprovider/kubernetes/hasher.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
  pkg/app/piped/platformprovider/kubernetes/state.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/apikeyverifier/verifier.go
  pkg/crypto/hybrid.go
  pkg/git/client.go
  pkg/git/client_test.go
Labels: area/go, area/build

Add line break
  tool/actions-plan-preview/main.go
Labels: area/tool

Add not-auto-close
  .github/workflows/stale.yaml
Labels: area/build

Use `os.Exit(1)` explicitly
  tool/actions-plan-preview/main.go
Labels: area/tool

Add a flag to skip running standalone task during deployment (#4666)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  pkg/app/piped/executor/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go

fix: typo
  docs/rfcs/0007-deployment-chain.md
Labels: none

fix: typo (#4667)
  docs/rfcs/0007-deployment-chain.md
Labels: none

Add actions/stale workflow (#4653)
  .github/workflows/stale.yaml
Labels: area/build

Handle plan preview workflow's error and exit with error status code (#4662)
  tool/actions-plan-preview/main.go
Labels: area/tool

Format and make tests pass in tool/actions-plan-preview
  tool/actions-plan-preview/github.go
  tool/actions-plan-preview/testdata/comment-has-failed-app.txt
  tool/actions-plan-preview/testdata/comment-has-failed-piped.txt
  tool/actions-plan-preview/testdata/comment-has-no-diff-apps.txt
  tool/actions-plan-preview/testdata/comment-no-env.txt
  tool/actions-plan-preview/testdata/comment-only-changed-app.txt
Labels: area/tool

Add tests to model/notificationevent (#4631)
  pkg/model/notificationevent_test.go
Labels: area/go

add piped-handle-timeout(input args)
  tool/actions-plan-preview/github.go
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/main_test.go
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Use --piped-handle-timeout to make the timeout arg activate
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Make actions plan preview handle timeout option (#4648)
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/main_test.go
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/testdata/comment-has-failed-app.txt
  tool/actions-plan-preview/testdata/comment-has-failed-piped.txt
  tool/actions-plan-preview/testdata/comment-has-no-diff-apps.txt
  tool/actions-plan-preview/testdata/comment-no-env.txt
  tool/actions-plan-preview/testdata/comment-only-changed-app.txt
Labels: area/tool

Add tests to model/deployment (#4629)
  pkg/model/deployment_test.go
Labels: area/go

Add tests to model/deployment_chain (#4632)
  pkg/model/deployment_chain_test.go
Labels: area/go

Add tests to terraform platform provider (#4625)
  pkg/app/piped/platformprovider/terraform/terraform_test.go
Labels: area/go

Fix part of lint/go errors (goimports, staticcheck, gosimple) (#4622)
  pkg/app/piped/controller/controllermetrics/metrics.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/server/grpcapi/grpcapi_test.go
  pkg/model/application_live_state.go
  pkg/model/project.go
Labels: area/go

Handle plan preview workflow's error and exit with error status code (#4662)
  tool/actions-plan-preview/main.go
Labels: area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
