Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Use .Values.serviceAccount.name if it is set
  manifests/piped/templates/_helpers.tpl
  manifests/piped/templates/rbac.yaml
Labels: area/manifests

Fix comments for values.yaml
  manifests/piped/values.yaml
Labels: area/manifests

correct keyword deployment to deploy-target, rename variables and components
  web/src/components/application-detail-page/application-state-view/live-state-view/deploy-target-tab-bar/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-edge/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.test.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.tsx
Labels: area/web

[Snyk] Security upgrade react-cookie from 4.1.1 to 8.0.1 (#5681)
  web/package.json
  web/src/index.tsx
  web/src/routes.test.tsx
  web/yarn.lock
Labels: area/web

Use nodejs 20 as web image builder
  cmd/pipecd/Dockerfile
Labels: area/go

Deploy multiple targets
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go

Modify loadManifests to allow multiTarget
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go

Add test case to ensure moltiple deploy targets and not specified multiTargets
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go

Add testcase to execute with template none
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster2/deployment.yaml
Labels: area/go

Add testcase when one of the sync has failed
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster2/deployment.yaml
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go

Use nodejs 20 as web image builder (#5726)
  cmd/pipecd/Dockerfile
Labels: area/go

Do treeless clone for git clone to improve performance (#5722)
  pkg/git/client.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

fix cannot read properties of undefined resourcesList from livestate.applicationLiveState
  web/src/components/application-detail-page/application-state-view/index.tsx
Labels: area/web

Add Mui Box instead of inline style and extract into method for improved readability
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
Labels: area/web

add labels to application delete dialog box
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
Labels: area/web

Use larger runner for go test job
  .github/workflows/test.yaml
Labels: area/build

Use Oracle runner
  .github/workflows/test.yaml
Labels: area/build

Revert "Use Oracle runner"
  .github/workflows/test.yaml
Labels: area/build

Use larger runner in publish_tool and publish_image_chart
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

add labels to application delete dialog box (#5727)
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
Labels: area/web

Add live-state graph for applicaiton using piped v1 (#5723)
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/deploy-target-tab-bar/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-edge/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-node/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-node/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.test.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/resource-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/resource-filter-popover/index.tsx
  web/src/modules/applications/index.ts
  web/src/utils/common.ts
Labels: area/web

Use larger runner for long jobs (#5729)
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
Labels: area/build

[K8s Plugin] Add configs for deployment (#5714)
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/application_test.go
  pkg/app/pipedv1/plugin/kubernetes/config/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/config/canary.go
  pkg/app/pipedv1/plugin/kubernetes/config/primary.go
  pkg/app/pipedv1/plugin/kubernetes/config/sync.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
Labels: area/go

Implement the config spec loading utility for the plugin SDK.
  pkg/plugin/sdk/config.go
Labels: area/go

Add unit tests for loading configuration specifications in the plugin SDK.
  pkg/plugin/sdk/config_test.go
Labels: area/go

Use type alias for sdk.Spec
  pkg/plugin/sdk/config.go
Labels: area/go

Add config loading utility for the plugin SDK (#5731)
  pkg/plugin/sdk/config.go
  pkg/plugin/sdk/config_test.go
Labels: area/go

Add depguard rule for pipedv1
  .golangci.yml
Labels: none

Fix depguard lint error
  pkg/app/pipedv1/livestatestore/livestatestore.go
  pkg/app/pipedv1/notifier/matcher.go
  pkg/app/pipedv1/notifier/matcher_test.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/notifier/webhook.go
Labels: area/go

Restore TODO comments
  pkg/app/pipedv1/livestatestore/livestatestore.go
Labels: area/go

Refactor to use LoadConfigSpec to load application config
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
Labels: area/go

Fix the tests to use configv1 package
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
Labels: area/go

Add comments to the test code
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
Labels: area/go

fix: copy changes into main implementation
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/eventwatcher/testdata/kustomization2.yaml
  pkg/app/piped/eventwatcher/testdata/kustomization3.yaml
Labels: area/go

fix: nits comment
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
Labels: area/go

fix: regex based tag replacement scheme
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher_test.go
  pkg/app/pipedv1/eventwatcher/testdata/kustomization2.yaml
  pkg/app/pipedv1/eventwatcher/testdata/kustomization3.yaml
Labels: area/go

fix: regex based tag replacement scheme (#5730)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/eventwatcher/testdata/kustomization2.yaml
  pkg/app/piped/eventwatcher/testdata/kustomization3.yaml
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher_test.go
  pkg/app/pipedv1/eventwatcher/testdata/kustomization2.yaml
  pkg/app/pipedv1/eventwatcher/testdata/kustomization3.yaml
Labels: area/go

Modify pvc name attached to deployment
  manifests/piped/templates/deployment.yaml
Labels: area/manifests

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
