Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

fix: upgrade @tanstack/react-query-devtools from 4.42.0 to 4.44.0
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.42.0 to 4.44.0 (#7458)
  web/package.json
  web/yarn.lock
Labels: area/web

fix(oci): restore license header and restrict NewPool skip
  pkg/oci/main_test.go
Labels: area/go

fix(oci): check docker availability using pool.Client.Ping
  pkg/oci/main_test.go
Labels: area/go

fix(oci): skip pkg/oci tests gracefully when Docker is unavailable (#7008)
  pkg/oci/main_test.go
Labels: area/go

fix(oci): restrict docker skip condition
  pkg/oci/main_test.go
Labels: area/go

Set HelmChart.Insecure from the chart repository config in the Kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/helm_chart_repository_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/planpreview/plugin.go
Labels: area/go

examples: add v1 terraform simple example
  examples/v1/terraform/simple/app.pipecd.yaml
  examples/v1/terraform/simple/main.tf
  examples/v1/terraform/simple/terraform.tfvars
Labels: area/examples

examples: add v1 deployment-chain example
  examples/v1/deployment-chain/first/app.pipecd.yaml
  examples/v1/deployment-chain/first/deployment.yaml
  examples/v1/deployment-chain/first/service.yaml
  examples/v1/deployment-chain/second/app.pipecd.yaml
  examples/v1/deployment-chain/second/deployment.yaml
  examples/v1/deployment-chain/second/service.yaml
  examples/v1/deployment-chain/third/app.pipecd.yaml
  examples/v1/deployment-chain/third/deployment.yaml
  examples/v1/deployment-chain/third/service.yaml
Labels: area/examples

Report a malformed SSO config instead of panicking (#7327)
  pkg/config/control_plane.go
  pkg/config/shared_sso_config_test.go
  pkg/configv1/control_plane.go
  pkg/configv1/shared_sso_config_test.go
Labels: area/go

fix(config): include unsupported type in SecretManagement unmarshal error (#7277)
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/configv1/piped.go
  pkg/configv1/piped_test.go
Labels: area/go

Close datastore iterators to release underlying rows and Firestore resources on decode errors (#7226)
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/eventstore.go
  pkg/datastore/firestore/iterator.go
  pkg/datastore/mock.go
  pkg/datastore/mysql/iterator.go
  pkg/datastore/pipedstore.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore.go
  pkg/datastore/projectstore_test.go
  test/integration/datastore/firestore/firestore_test.go
  test/integration/datastore/mysql/apikey_test.go
  test/integration/datastore/mysql/application_test.go
  test/integration/datastore/mysql/command_test.go
  test/integration/datastore/mysql/deployment_test.go
  test/integration/datastore/mysql/deploymentchain_test.go
  test/integration/datastore/mysql/event_test.go
  test/integration/datastore/mysql/piped_test.go
  test/integration/datastore/mysql/project_test.go
Labels: area/go

docs: Make Go review expectations explicit
  CONTRIBUTING.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-to-pipecd.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/go-coding-guidelines.md
Labels: none

Paraphrase to clarify the guidance on error handling in plugin implementations.
  docs/content/en/docs-v1.0.x/contribution-guidelines/go-coding-guidelines.md
Labels: none

Add a note about the use of `go.uber.org/atomic` in the Go coding guidelines.
  docs/content/en/docs-v1.0.x/contribution-guidelines/go-coding-guidelines.md
Labels: none

Add a note about module boundaries.
  docs/content/en/docs-v1.0.x/contribution-guidelines/go-coding-guidelines.md
Labels: none

Fix iterator cleanup expectations in deployment list tests (#7478)
  pkg/datastore/deploymentstore_test.go
Labels: area/go

Run Go unit tests on GitHub-hosted Ubuntu 26.04 runners
  .github/workflows/test.yaml
Labels: area/build

Key the Go test cache on each module's go.sum
  .github/workflows/test.yaml
Labels: area/build

Save the Go test cache only on master once a day
  .github/workflows/test.yaml
Labels: area/build

Temporarily save the Go test cache on the test-speedup branch
  .github/workflows/test.yaml
Labels: area/build

Use setup-go outputs for the Go test cache paths and version
  .github/workflows/test.yaml
Labels: area/build

Revert "Temporarily save the Go test cache on the test-speedup branch"
  .github/workflows/test.yaml
Labels: area/build

Get the Go test cache paths from go env
  .github/workflows/test.yaml
Labels: area/build

Make Go review expectations explicit (#7393)
  CONTRIBUTING.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-to-pipecd.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/go-coding-guidelines.md
Labels: none

Performance tuning for CI tests (#7479)
  .github/workflows/test.yaml
Labels: area/build
