Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Rename server to plugin
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Implement the k8s plugin initialization
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/configv1/piped.go
Labels: area/go

PoC k8s plugin start entrypoint (#5400)
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/configv1/piped.go
Labels: area/go

Remove mistakenly passed nil
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Fix plugin argument construction by adding 'start' command
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Fix the piped to correct invoking the k8s plugin (#5401)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Add plugins build command to makefile
  Makefile
Labels: area/build

chore: update actions/checkout
  .github/workflows/publish_tool.yaml
Labels: area/build

add: added arm64 build
  .github/workflows/publish_tool.yaml
Labels: area/build

Update Makefile
  Makefile
Labels: area/build

Add plugins build command to makefile (#5402)
  Makefile
Labels: area/build

Fix publish_tool ci (#5403)
  .github/workflows/publish_tool.yaml
Labels: area/build

Implement functions to find referencing ConfigMaps and Secrets in Kubernetes manifests
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
Labels: area/go

fix: cmd/pipecd/Dockerfile to reduce vulnerabilities
  cmd/pipecd/Dockerfile
Labels: area/go

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

Implement prepare deploy source in planner
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/sourcecloner.go
Labels: area/go

Create tools directory if it does not exist in tool registry
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
Labels: area/go

Implement deploy source preparation in scheduler
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Start log persister in plugin run method
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Fix kubectl download URL in install script
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/scripts.go
Labels: area/go

Fix kubectl download URL in install script (#5411)
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/scripts.go
Labels: area/go

Refactor deployment source handling in scheduler to use Provider interface
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Use git worktree and partial clone to reduce network io
  pkg/git/client.go
Labels: area/go

Add defer statement to clean up cloned git repositories in detector implementations
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

Change the repo.Copy to use worktree and implement CopyToModify
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
Labels: area/go

repo.Copy and related methods updated to use git.Worktree instead of git.Repo
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/git/repo.go
Labels: area/go

Add tests for Copy and CopyToModify methods in repo
  pkg/git/repo_test.go
Labels: area/go

MockRepo.Copy method updated to return git.Worktree instead of git.Repo
  pkg/git/gittest/git.mock.go
  pkg/git/repo_test.go
Labels: area/go

Update CopyToModify method to clone repository using git clone command
  pkg/git/repo.go
Labels: area/go

Test: Update TestCopy to use repo.Copy instead of CopyToModify
  pkg/git/repo_test.go
Labels: area/go

Fix comment in CopyToModify to clarify remote URL setting after local cloning
  pkg/git/repo.go
Labels: area/go

Fetch the latest changes from remote after local cloning
  pkg/git/repo.go
Labels: area/go

Remove .git directory from copied deploy source to avoid the git ops
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

Update TestCopyToModify to use a mock remote directory for testing
  pkg/git/repo_test.go
Labels: area/go

Implement functions to find referencing ConfigMaps and Secrets in Kubernetes manifests (#5409)
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
Labels: area/go

Copy deploy source using tar to exclude .git directory and improve performance
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go

Remove decryption grpc from pipedv1 plugin api
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api_test.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/pipedv1/plugin/secrets/decrypter.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
