Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Remove unused 'pluginName' to fix lint error
  pkg/plugin/sdk/deployment.go
Labels: area/go

Remove application kind from notifier logic
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/application.go
  pkg/model/application_test.go
Labels: area/go

Add note todo remove app kind from livestate reporter logic
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Fix test
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
Labels: area/go

Update test
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
  pkg/model/application_test.go
Labels: area/go

Remove deployment kind value from pipedv1 logic
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: area/go

Remove unused 'pluginName' to fix lint error (#6007)
  pkg/plugin/sdk/deployment.go
Labels: area/go

Update github.com/pipe-cd/piped-plugin-sdk-go in k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

Add DisplayString method for K8sTrafficRoutingStageOptions
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
Labels: area/go

Display traffic routing percentages when build plannings
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

Add test case for invalid traffic routing stage configuration in pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
Labels: area/go

Update pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go

[K8s Plugin] Set initial metadata for K8S_TRAFFIC_ROUTING (#6011)
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

refactor metricsAnalyzer to render queries before execution.
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: area/go

refactor metricsAnalyzer to render queries before execution. (#6010)
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: area/go

scriptrun base and planning
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/scriptrun/main.go
  pkg/app/pipedv1/plugin/scriptrun/options.go
  pkg/app/pipedv1/plugin/scriptrun/options_test.go
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go

scriptrun base and planning
  pkg/app/pipedv1/plugin/scriptrun/options.go
  pkg/app/pipedv1/plugin/scriptrun/options_test.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go

scriptrun base and planning
  pkg/app/pipedv1/plugin/scriptrun/options.go
Labels: area/go

Implement the traffic routing stage with skeleton code
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go

Replace redux modules/events with react-query
  web/src/components/event-status-icon/index.test.tsx
  web/src/components/event-status-icon/index.tsx
  web/src/components/events-page/event-filter/index.tsx
  web/src/components/events-page/event-item/index.tsx
  web/src/components/events-page/index.tsx
  web/src/modules/events/index.ts
  web/src/modules/index.ts
  web/src/queries/events/use-get-events-infinite.tsx
Labels: area/web

scriptrun base and planning (#5990)
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/scriptrun/main.go
  pkg/app/pipedv1/plugin/scriptrun/options.go
  pkg/app/pipedv1/plugin/scriptrun/options_test.go
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go

fix: upgrade @tanstack/react-query from 4.39.2 to 4.40.0
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.39.2 to 4.40.0
  web/package.json
  web/yarn.lock
Labels: area/web

Remove deprecated platform provider and cloud provider from trigger logic (#6003)
  pkg/app/pipedv1/controller/controllermetrics/metrics.go
  pkg/app/pipedv1/trigger/deployment.go
Labels: area/go

Mark kind field in application and deployment model as deprecated (#6002)
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
Labels: area/go

Implement the traffic routing stage with skeleton code (#6015)
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go

Remove application kind from pipedv1 logic (#6008)
  pkg/app/pipedv1/appconfigreporter/appconfigreporter.go
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/application.go
  pkg/model/application_test.go
Labels: area/go

Remove deployment kind value from pipedv1 logic (#6009)
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: area/go

fix: upgrade @tanstack/react-query from 4.39.2 to 4.40.0 (#6013)
  web/package.json
  web/yarn.lock
Labels: area/web

Remove unused mock
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Update piped container base image
  cmd/piped/Dockerfile
Labels: area/go

Update launcher container image base
  cmd/launcher/Dockerfile
Labels: area/go

Update piped container image base
  tool/piped-base-okd/Dockerfile
Labels: area/tool

Update glibc version for piped-base-okd image
  tool/piped-base-okd/Dockerfile
Labels: area/tool

Add timeout for build_tool and publish_tool jobs
  .github/workflows/build_tool.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

Implement executeK8sTrafficRoutingStagePodSelector
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go

refactor: Rename Helm Chart from pipecd to control-plane
  manifests/control-plane/.helmignore
  manifests/control-plane/Chart.lock
  manifests/control-plane/Chart.yaml
  manifests/control-plane/grafana-dashboards/cluster/node.json
  manifests/control-plane/grafana-dashboards/cluster/pod.json
  manifests/control-plane/grafana-dashboards/cluster/prometheus.json
  manifests/control-plane/grafana-dashboards/control-plane/go.json
  manifests/control-plane/grafana-dashboards/control-plane/incoming-request.json
  manifests/control-plane/grafana-dashboards/control-plane/overview.json
  manifests/control-plane/grafana-dashboards/piped/go.json
  manifests/control-plane/grafana-dashboards/piped/overview.json
  manifests/control-plane/grafana-dashboards/piped/process.json
  manifests/control-plane/prom-rules/alerting_rules.yml
  manifests/control-plane/templates/NOTES.txt
  manifests/control-plane/templates/_helpers.tpl
  manifests/control-plane/templates/backend-config.yaml
  manifests/control-plane/templates/configmap.yaml
  manifests/control-plane/templates/deployment.yaml
  manifests/control-plane/templates/envoy-configmap.yaml
  manifests/control-plane/templates/ingress.yaml
  manifests/control-plane/templates/managed-certificate.yaml
  manifests/control-plane/templates/secret.yaml
  manifests/control-plane/templates/service.yaml
  manifests/control-plane/templates/serviceaccount.yaml
  manifests/control-plane/values.yaml
  quickstart/manifests/control-plane.yaml
Labels: area/manifests

Add timeout for build_tool and publish_tool jobs (#6019)
  .github/workflows/build_tool.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

Remove unused mock (#6017)
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Update manifests and documentation for Control Plane migration
  .gitignore
  Makefile
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.39.x/installation/install-controlplane.md
  docs/content/en/docs-v0.40.x/installation/install-controlplane.md
  docs/content/en/docs-v0.41.x/installation/install-controlplane.md
  docs/content/en/docs-v0.42.x/installation/install-controlplane.md
  docs/content/en/docs-v0.43.x/installation/install-controlplane.md
  docs/content/en/docs-v0.44.x/installation/install-controlplane.md
  docs/content/en/docs-v0.45.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.46.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.47.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.48.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.49.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.50.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.51.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.52.x/installation/install-control-plane/installing-controlplane-on-k8s.md
Labels: area/build

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
