Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Run make gen/code
  pkg/model/deployment_source.pb.go
Labels: area/go

Add application_config_filename field to DeploymentSource (#5277)
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/go, area/web

Implement find manifests in k8s plugin (#5271)
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Separate What and Why
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

Separate What and Why (#5278)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

Use chan only to notify command is done (#5244)
  pkg/app/launcher/cmd/launcher/binary.go
  pkg/app/launcher/cmd/launcher/binary_test.go
Labels: area/go

Remove Cloud Providers related docs
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/configuration-reference.md
Labels: none

Remove Cloud Providers related docs (#5279)
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/configuration-reference.md
Labels: none

Fix image uri for cloud run install
  docs/content/en/docs-dev/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.39.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.40.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.41.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.42.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.43.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.44.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.45.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.46.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.47.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.48.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.49.x/installation/install-piped/installing-on-cloudrun.md
Labels: none

Fix image uri for cloud run install (#5281)
  docs/content/en/docs-dev/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.39.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.40.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.41.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.42.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.43.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.44.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.45.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.46.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.47.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.48.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.49.x/installation/install-piped/installing-on-cloudrun.md
Labels: none

Update image referenced in install piped docs
  docs/content/en/docs-dev/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.39.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.40.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.41.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.42.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.43.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.44.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.45.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.46.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.47.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.48.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.49.x/installation/install-piped/installing-on-kubernetes.md
Labels: none

Update pipectl image URI in docs
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.39.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.40.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.41.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.42.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.43.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.44.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.45.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.46.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.48.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
Labels: none

Update pipectl image URI in docs (#5283)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.39.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.40.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.41.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.42.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.43.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.44.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.45.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.46.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.48.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
Labels: none

Update image referenced in install piped docs (#5282)
  docs/content/en/docs-dev/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.39.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.40.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.41.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.42.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.43.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.44.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.45.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.46.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.47.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.48.x/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-v0.49.x/installation/install-piped/installing-on-kubernetes.md
Labels: none

Implement LoadPlainYAMLManifests
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Init rfc for piped plugin arch
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/assets/0015-config-context.png
  docs/rfcs/assets/0015-piped-protocol.png
Labels: none

Update docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Update docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Update docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Update docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Update docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Implement LoadPlainYAMLManifests (#5284)
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Update rfc
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
Labels: none

Update command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
Labels: none

docs: update docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: none

Init rfc for piped plugin arch (#5285)
  docs/rfcs/0015-pipecd-plugin-arch-meta.md
  docs/rfcs/assets/0015-config-context.png
  docs/rfcs/assets/0015-piped-protocol.png
Labels: none

Fix command-line-tool.md: GCR to GHCR (#5286)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
Labels: none

Add note to aware users for checking piped repositories config
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v0.49.x/user-guide/managing-application/adding-an-application.md
Labels: none

Add note to aware users for checking piped repositories config (#5288)
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v0.49.x/user-guide/managing-application/adding-an-application.md
Labels: none

Move model.DeploymentSource to deployment.DeploymentSource
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/go, area/web

fix edit post link
  docs/layouts/partials/page-meta-links.html
Labels: none

remove _index.md condition
  docs/layouts/partials/page-meta-links.html
Labels: none

add condition to check gh_subdir & language
  docs/layouts/partials/page-meta-links.html
Labels: none

Move model.DeploymentSource to deployment.DeploymentSource (#5290)
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/go, area/web

fix(docs): "Edit this page" URLs to correctly point to GitHub repository structure (#5289)
  docs/layouts/partials/page-meta-links.html
Labels: none

Add Kustomize helper implementations
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/kustomization.yaml
Labels: area/go

Template with kustomize in LoadManifests
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
Labels: area/go

Implement LoadManifests with Kustomize template (#5291)
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/kustomization.yaml
Labels: area/go

Remove order for stages in case of quick sync
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Fix failed test
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
