Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

[Multi_K8s-Plugin] Fix DetermineStrategy to be multi-target aware (#6672)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

Implement plan preview for kubernetes_multicluster plugin
  pkg/app/pipedv1/plugin/kubernetes_multicluster/main.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin.go
Labels: area/go

Fix prealloc lint issue in planpreview/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin.go
Labels: area/go

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

fix: cmd/pipecd/Dockerfile to reduce vulnerabilities
  cmd/pipecd/Dockerfile
Labels: area/go

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

Introduce pipectl transfer command
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/transfer/backup.go
  pkg/app/pipectl/cmd/transfer/restore.go
  pkg/app/pipectl/cmd/transfer/restore_application.go
  pkg/app/pipectl/cmd/transfer/restore_piped.go
  pkg/app/pipectl/cmd/transfer/transfer.go
  pkg/app/pipectl/cmd/transfer/types.go
Labels: area/go

fix: remove unnecessary spaces in markdown links for improved formatting (#6681)
  docs/content/en/blog/my-first-30-days-as-an-lfx-mentee-with-pipecd.md
Labels: none

Fix lint
  pkg/app/pipectl/cmd/transfer/backup.go
  pkg/app/pipectl/cmd/transfer/restore_application.go
  pkg/app/pipectl/cmd/transfer/restore_piped.go
Labels: area/go

feat: generate plugin scaffold
  hack/plugin-scaffold/main.go
  hack/plugin-scaffold/templates/config/application.go.tmpl
  hack/plugin-scaffold/templates/config/deploy_target.go.tmpl
  hack/plugin-scaffold/templates/config/plugin.go.tmpl
  hack/plugin-scaffold/templates/deployment/pipeline.go.tmpl
  hack/plugin-scaffold/templates/deployment/plugin.go.tmpl
  hack/plugin-scaffold/templates/deployment/stage.go.tmpl
  hack/plugin-scaffold/templates/go.mod.tmpl
  hack/plugin-scaffold/templates/livestate/plugin.go.tmpl
  hack/plugin-scaffold/templates/main.go.tmpl
  hack/plugin-scaffold/templates/planpreview/plugin.go.tmpl
Labels: none

chore: allow config go version and plugin sdk version
  hack/plugin-scaffold/main.go
  hack/plugin-scaffold/templates/go.mod.tmpl
Labels: none

chore: use the latest go version as default value
  hack/plugin-scaffold/main.go
Labels: none

use runtime.Version() as the default value for Go version
  hack/plugin-scaffold/main.go
Labels: none

blog: add post comparing Argo CD, Flux CD, and PipeCD
  docs/content/en/blog/argo-vs-pipecd-vs-flux.md
Labels: none

Add StatefulSet and DaemonSet support for config hash annotation
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
Labels: area/go

docs: move plugin configuration guides to plugins section
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/analysis.md
  docs/content/en/docs-v1.0.x/plugins/kubernetes.md
  docs/content/en/docs-v1.0.x/plugins/terraform.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-a-plugin.md
Labels: none

bug(ecs): fix parseContainerImage to handle images with registry ports (#6576)
  pkg/app/piped/platformprovider/ecs/task.go
  pkg/app/piped/platformprovider/ecs/task_test.go
Labels: area/go

[Multi_K8s-Plugin] Config hash for StatefulSet and DaemonSet (#6697)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
Labels: area/go

[Multi_K8s-Plugin] Fix livestate drift detection and resource filtering (#6673)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/kubernetes.go
Labels: area/go

Fix failed test
  pkg/rpc/grpc_test.go
Labels: area/go

fix container image and args in v1 piped install guides
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-google-cloud-vm.md
Labels: none

Update NodeJS version to v20.19.0 for CI and Docs
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  cmd/pipecd/README.md
  web/README.md
  web/package.json
Labels: area/go, area/web, area/build

Update NodeJS version to v20.19.0 for CI and Docs (#6704)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  cmd/pipecd/README.md
  web/README.md
  web/package.json
Labels: area/go, area/web, area/build

feat: generate plugin scaffold
  hack/plugin-scaffold/main.go
  hack/plugin-scaffold/templates/config/application.go.tmpl
  hack/plugin-scaffold/templates/config/deploy_target.go.tmpl
  hack/plugin-scaffold/templates/config/plugin.go.tmpl
  hack/plugin-scaffold/templates/deployment/pipeline.go.tmpl
  hack/plugin-scaffold/templates/deployment/plugin.go.tmpl
  hack/plugin-scaffold/templates/deployment/stage.go.tmpl
  hack/plugin-scaffold/templates/go.mod.tmpl
  hack/plugin-scaffold/templates/livestate/plugin.go.tmpl
  hack/plugin-scaffold/templates/main.go.tmpl
  hack/plugin-scaffold/templates/planpreview/plugin.go.tmpl
Labels: none

chore: allow config go version and plugin sdk version
  hack/plugin-scaffold/main.go
  hack/plugin-scaffold/templates/go.mod.tmpl
Labels: none

chore: use the latest go version as default value
  hack/plugin-scaffold/main.go
Labels: none

use runtime.Version() as the default value for Go version
  hack/plugin-scaffold/main.go
Labels: none

feat: command "add-stage" adds stage to exist plugin
  hack/plugin-scaffold/main.go
Labels: none

test(lambda): align FindArtifactVersions expectations with retained repoPath
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

Update React to v18
  web/package.json
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/settings-page/api-key/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.test.tsx
  web/src/hooks/use-interval.test.ts
  web/src/index.tsx
  web/test-utils/MemoryRouterTest.tsx
  web/test-utils/index.tsx
  web/yarn.lock
Labels: area/web

ci: make govulncheck warn-only until vulnerabilities are fixed
  .github/workflows/lint.yaml
Labels: area/build

feat: add dependabot configuration for gomod updates
  .github/dependabot.yml
Labels: area/build

Add govulncheck job to lint workflow and fix matrix job result syntax
  .github/dependabot.yml
  .github/workflows/lint.yaml
Labels: area/build

enhance: scan preinstalled tools
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry_test.go
Labels: area/go

fix: remove temporary directory of output path after install
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
Labels: area/go

build(deps): bump vulnerable module dependencies
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
Labels: area/go, area/tool

Update go to v1.26.2
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  .github/workflows/test.yaml
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  cmd/piped/README.md
  cmd/pipedv1/Dockerfile
  cmd/pipedv1/README.md
  docs/Dockerfile
  go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/go, area/build, area/tool

Update go lint version for CI
  .github/workflows/lint.yaml
Labels: area/build

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
