Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Not to print command to terminal
  Makefile
Labels: area/build

Add setup-go-workspace and teardown-go-workspace commands to Makefile
  .gitignore
  Makefile
Labels: area/build

Add custom unmarshal logic for k8s plugin configs
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/deploy_target.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
Labels: area/go

Remove setting defaults in the SDK
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
Labels: area/go

Update test cases to set default Value to 0 in plugin configuration
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go

Remove setting defaults in the SDK (#6168)
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
Labels: area/go

Update helm repo when chart is not found
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
Labels: area/go

Remove helm remote git chart feature from kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go

Update helm repo when chart is not found (#6169)
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
Labels: area/go

[k8s plugin] Add custom unmarshal logic for k8s plugin configs (#6167)
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/deploy_target.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
Labels: area/go

Remove helm remote git chart feature from kubernetes plugin (#6170)
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go

Make pipedv0 parse pipedv1 application config
  pkg/config/config.go
Labels: area/go

Fix unmarshal error
  pkg/config/application.go
  pkg/config/config.go
Labels: area/go

Update error message
  pkg/config/config.go
Labels: area/go

Add comment
  pkg/config/config.go
Labels: area/go

fix: upgrade @mui/icons-material from 7.2.0 to 7.3.0
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @mui/material from 7.2.0 to 7.3.0
  web/package.json
  web/yarn.lock
Labels: area/web

Make pipedv0 parse pipedv1 application config (#6171)
  pkg/config/application.go
  pkg/config/config.go
Labels: area/go

Add application-config command to migrate application config to plugin-architectured format
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/migrate.go
Labels: area/go

Fix pipeline stage migration
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Add omitempty to all fields in migratedApplicationSpec.
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Change the way to migrate application config
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Add logging to migrate application config command
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Add pipectl migrate application-config command (#6175)
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/migrate.go
Labels: area/go

add StageStatusSkipped to the SDK (#6156)
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Update sdk version for k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

Go mod tidy
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

[k8s plugin] Update sdk version for k8s plugin (#6176)
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

chore: exec golangci-lint migrate
  .golangci.yml
Labels: none

bump some tools
  .github/workflows/lint.yaml
  Makefile
Labels: area/build

bump golang.org/x/oauth2
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
Labels: area/go

fix: linter qf errors
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add flag to support migrate multi application config at once
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Add flag to support migrate multi application config at once (#6181)
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Update migrate app-config command to support migrate skipOn and timeout value in stage config
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/application_config_test.go
Labels: area/go

Handle stage timeout for pipedv1
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/configv1/application.go
Labels: area/go

ignoring the unncessary files when COPY files in Dockerfile
  .dockerignore
Labels: none

remove local build in make run/pipecd
  Makefile
Labels: area/build
