Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

blog: add recap of July & August 2026 Newcomers meetings
  docs/content/en/blog/newcomers-meetings-july-august-2026.md
Labels: none

blog: convert community links section to bullet points
  docs/content/en/blog/newcomers-meetings-july-august-2026.md
Labels: none

(docs) : only trigger netlify build for docs changes (#7179)
  docs/netlify.toml
Labels: none

Tighten POLICIES_STRING_REGEX label block to reject semicolons and empty/malformed labels
  web/src/constants/project.test.ts
  web/src/constants/project.ts
Labels: area/web

Update workflow actions version (#7175)
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/plugin_release.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Labels: area/build

Use %w for error wrapping in controller.cancelDeployment (#6936)
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controller_error_test.go
Labels: area/go

fix(web): guard zero startedAt timestamp in application detail
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

fix: address reviewer comments on copylock fixes
  pkg/app/piped/livestatestore/kubernetes/reflector_test.go
  pkg/app/pipedv1/planpreview/builder.go
  pkg/model/application.go
Labels: area/go

blog: address review feedback on newcomers meetings post
  docs/content/en/blog/newcomers-meetings-july-august-2026.md
Labels: none

fix(pipectl): Fix variable shadowing of err in client functions
  pkg/app/pipectl/client/application.go
  pkg/app/pipectl/client/deployment.go
Labels: area/go

fix(pipectl): retry transient client errors correctly
  pkg/app/pipectl/client/application_test.go
  pkg/app/pipectl/client/client_test.go
  pkg/app/pipectl/client/deployment_test.go
  pkg/app/pipectl/client/fake_client_test.go
Labels: area/go

Fix git worktree race condition issue
  pkg/git/repo.go
Labels: area/go

test(web): add coverage for isDeploymentRunning all enum values
  web/src/utils/is-deployment-running.test.ts
Labels: area/web

Fix git worktree race condition issue (#7201)
  pkg/git/repo.go
Labels: area/go

Fix out-of-bounds panic on empty DeployTargets in plugins (#7116)
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
  pkg/plugin/sdk/planpreview.go
  pkg/plugin/sdk/planpreview_test.go
  pkg/plugin/sdk/plugin.go
Labels: area/go

Update golangci-lint version to fix CI warning
  .github/workflows/lint.yaml
  Makefile
Labels: area/build

fix(pipectl): fail fast on missing resources (#7180)
  pkg/app/pipectl/client/application.go
  pkg/app/pipectl/client/application_test.go
  pkg/app/pipectl/client/deployment.go
  pkg/app/pipectl/client/deployment_test.go
  pkg/app/pipectl/client/fake_client_test.go
Labels: area/go

Return 0 from sortFunc when values are equal (#7169)
  web/src/utils/common.test.ts
  web/src/utils/common.ts
Labels: area/web

blog: add recap of July & August 2026 Newcomers meetings (#7181)
  docs/content/en/blog/newcomers-meetings-july-august-2026.md
Labels: none

Update golangci-lint version to fix CI warning (#7202)
  .github/workflows/lint.yaml
  Makefile
Labels: area/build

Fix HasDiff returning false when OwnerIds or ParentIds actually differ (#7137)
  pkg/model/application_live_state.go
  pkg/model/application_live_state_test.go
Labels: area/go

Update test
  pkg/rpc/grpc_test.go
Labels: area/go

Update action checkout version of thankyou workflow
  .github/workflows/thank-you.yaml
Labels: area/build

Update action checkout version of thankyou workflow (#7204)
  .github/workflows/thank-you.yaml
Labels: area/build

Update setup helm action to v5
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  .github/workflows/publish_site.yaml
Labels: area/build

Topic website lighthouse performance (#7041)
  docs/layouts/partials/footer.html
  docs/layouts/partials/head.html
Labels: none

blog: add walkthrough of the WAIT plugin (#6779)
  docs/content/en/blog/anatomy-of-the-pipecd-wait-plugin.md
Labels: none

Using sha version tag instead
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  .github/workflows/publish_site.yaml
Labels: area/build

feat(devex): add self-documenting make help target (#6568)
  Makefile
Labels: area/build

fix(piped): clean up cloned repo after skip stage check (#7021)
  pkg/app/piped/controller/skipstage.go
Labels: area/go

fix: prevent nil-deref panic on invalid pem block (#7053) (#7054)
  pkg/crypto/key.go
Labels: area/go

Skip status and kind filters when all given values are empty
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/api_test.go
Labels: area/go

docs: Added Control Plane architecture diagram in Concepts page (#7043)
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-v0.57.x/concepts/_index.md
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

Skip piped-config volume when launcher loads config from git (#7141)
  manifests/piped/templates/deployment.yaml
Labels: area/manifests

fix(web): guard zero startedAt timestamp in application detail (#7168)
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

Fix gofmt alignment in store_test.go
  pkg/app/server/applicationlivestatestore/store_test.go
Labels: area/go

test(web): add coverage for isDeploymentRunning all enum values (#7145)
  web/src/utils/is-deployment-running.test.ts
Labels: area/web

Potential fix for pull request finding
  docs/content/en/docs-v0.58.x/user-guide/metrics.md
Labels: none

Brand capitalization: "Github" should be "GitHub".
  docs/content/en/docs-v0.58.x/user-guide/deployment-trace.md
Labels: none

Brand capitalization: "Github" should be "GitHub".
  docs/content/en/docs-v0.58.x/user-guide/event-watcher.md
Labels: none
