Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

deprecate model.ArtifactVersion.kind (not deleted)
  pkg/model/common.pb.go
  pkg/model/common.proto
Labels: area/go

removed sdk.ArtifactVersion.Kind
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Implement GetLivestateSupportedClientsByAppConfig
  pkg/app/pipedv1/plugin/registry.go
  pkg/app/pipedv1/plugin/registry_test.go
  pkg/plugin/api/v1alpha1/client.go
  pkg/plugin/sdk/plugin.go
Labels: area/go

Get livestate supported plugin client
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/registry_test.go
Labels: area/go

Check unimplement
  pkg/app/pipedv1/plugin/registry.go
Labels: area/go

Deprecate `ArtifactVersion.kind` (#5939)
  pkg/model/common.pb.go
  pkg/model/common.proto
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Ignore upsupported plugin when reporting livestate
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Unique plugin clients
  pkg/app/pipedv1/plugin/registry.go
  pkg/app/pipedv1/plugin/registry_test.go
Labels: area/go

Set default empty object to with field
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go

fix: upgrade react-router-dom from 6.30.0 to 6.30.1
  web/package.json
  web/yarn.lock
Labels: area/web

Set default empty object to with field (#5943)
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go

fix: upgrade react-router-dom from 6.30.0 to 6.30.1 (#5938)
  web/package.json
  web/yarn.lock
Labels: area/web

Ignore unsupported plugin when reporting livestate (#5942)
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/plugin/registry.go
  pkg/app/pipedv1/plugin/registry_test.go
Labels: area/go

add validateStageIndexes in planner
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
Labels: area/go

add api spec comments
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Update sdk version
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
Labels: area/go

Fix: allow duplication of non-rollback and rollback
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

fix typo
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

fix typo
  pkg/app/pipedv1/controller/planner.go
Labels: area/go

refine spec comments
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

Update sdk version (#5945)
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
Labels: area/go

Add index validation of buildPipelineSyncStages in planner (#5946)
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

feat(piped): make planpreview handler configurable via piped config
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

draft: Debug methods of pipeline
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

init planpreview api.proto and `make gen/code`
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
  pkg/plugin/api/v1alpha1/planpreview/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Copied planpreviewmetrics
  pkg/app/pipedv1/planpreview/planpreviewmetrics/metrics.go
Labels: area/go

Refactor planner: separate determineStrategy to call from outside
  pkg/app/pipedv1/controller/planner.go
Labels: area/go

Add blog about alpha release of plugin-arch piped
  docs/content/en/blog/plugin-arch-piped-alpha.md
Labels: none

Fix content
  docs/content/en/blog/plugin-arch-piped-alpha.md
Labels: none

Add --match opion
  Makefile
Labels: area/build

Add --match opion (#5949)
  Makefile
Labels: area/build

Update README alpha
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

Update
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

Fix as --insecure option
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

Fix README-usage
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

Fix README-usage (#5944)
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

Change blog release date
  docs/content/en/blog/plugin-arch-piped-alpha.md
Labels: none

Fix error stages are not shown for plugin-arch piped created pipeline
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
