Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

update: rpc
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

Support update application api (#4336)
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/datastore/applicationstore.go
Labels: area/go

Add monitring overview to docs
  docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
  docs/static/images/metrics-architecture.png
Labels: none

Add monitring overview to docs and v0.43.x
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs/user-guide/managing-controlplane/metrics.md
Labels: none

Fix sentences
  docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs/user-guide/managing-controlplane/metrics.md
Labels: none

add mentioning admin server and update the image
  docs/content/en/docs/user-guide/managing-controlplane/metrics.md
  docs/static/images/metrics-architecture.png
Labels: none

update other versions' docs
  docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/metrics.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
Labels: none

Update docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/metrics.md
Labels: none

Update docs/content/en/docs/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs/user-guide/managing-controlplane/metrics.md
Labels: none

Add monitring overview to docs (#4338)
  docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs/user-guide/managing-controlplane/metrics.md
  docs/static/images/metrics-architecture.png
Labels: none

Add announcement blog
  docs/content/en/blog/news/cncf-sandbox-admission.md
Labels: none

Fix wrong blog time
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update link
  docs/content/en/blog/news/cncf-sandbox-admission.md
Labels: none

Fix wrong blog time (#4340)
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Add image for opengraph and twitter card
  docs/content/en/blog/news/cncf-sandbox-admission.md
  docs/static/images/pipecd-cncf-sandbox.png
Labels: none

Add announcement blog (#4339)
  docs/content/en/blog/news/cncf-sandbox-admission.md
  docs/static/images/pipecd-cncf-sandbox.png
Labels: none

Update site ingress version
  manifests/site/templates/ingress.yaml
Labels: area/manifests

Update site ingress version (#4344)
  manifests/site/templates/ingress.yaml
Labels: area/manifests

Update site ingress to networking.k8s.io/v1
  manifests/site/templates/ingress.yaml
Labels: area/manifests

Update site ingress to networking.k8s.io/v1 (#4345)
  manifests/site/templates/ingress.yaml
Labels: area/manifests

Fix wrong image path for opengraph and twitter card
  docs/content/en/blog/news/cncf-sandbox-admission.md
Labels: none

Fix wrong image path for opengraph and twitter card (#4346)
  docs/content/en/blog/news/cncf-sandbox-admission.md
Labels: none

Update contributors list
  README.md
Labels: none

Update contributors list (#4348)
  README.md
Labels: none

modify sso login description from GitHub Enterprise to GitHub Enterprise Server
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/managing-controlplane/auth.md
  web/src/constants/text.ts
Labels: area/web

modify sso login description from GitHub Enterprise to GitHub Enterprise Server (#4350)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/managing-controlplane/auth.md
  web/src/constants/text.ts
Labels: area/web

update: support architectures filed for lambda
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

update: support architectures filed for lambda (#4351)
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

Update MAINTAINERS list
  MAINTAINERS.md
Labels: none

Update maintainer emails
  MAINTAINERS.md
Labels: none

Update MAINTAINERS list (#4354)
  MAINTAINERS.md
Labels: none

Update contribution docs
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.41.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.42.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.43.x/contribution-guidelines/contributing.md
  docs/content/en/docs/contribution-guidelines/contributing.md
Labels: none

fix: small typos
  docs/content/en/blog/releases/v0.24.5.md
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.39.x/concepts/_index.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.40.x/concepts/_index.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.41.x/concepts/_index.md
  docs/content/en/docs-v0.41.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.42.x/concepts/_index.md
  docs/content/en/docs-v0.42.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.43.x/concepts/_index.md
  docs/content/en/docs-v0.43.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  pkg/rpc/rpcauth/interceptor.go
  pkg/rpc/server.go
Labels: area/go

Fix typos (#4358)
  docs/content/en/blog/releases/v0.24.5.md
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.39.x/concepts/_index.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.40.x/concepts/_index.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.41.x/concepts/_index.md
  docs/content/en/docs-v0.41.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.42.x/concepts/_index.md
  docs/content/en/docs-v0.42.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.43.x/concepts/_index.md
  docs/content/en/docs-v0.43.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  pkg/rpc/rpcauth/interceptor.go
  pkg/rpc/server.go
Labels: area/go

Update contribution docs (#4357)
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.41.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.42.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.43.x/contribution-guidelines/contributing.md
  docs/content/en/docs/contribution-guidelines/contributing.md
Labels: none

Update readme
  README.md
Labels: none

Update readme
  README.md
Labels: none

Remove divider
  README.md
Labels: none

Update readme (#4364)
  README.md
Labels: none
