Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update readme
  README.md
Labels: none

Update readme (#4365)
  README.md
Labels: none

Fix asdf setup is broken in .profile
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

fix typo
  RELEASES.md
Labels: none

Add versioning and release cycle to docs
  RELEASES.md
Labels: none

remove words referring to semver
  RELEASES.md
Labels: none

Fix asdf setup is broken in .profile (#4366)
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

Update RELEASES.md
  RELEASES.md
Labels: none

Update RELEASES.md
  RELEASES.md
Labels: none

Add versioning and release cycle to docs (#4356)
  RELEASES.md
Labels: none

install slack-go
  go.mod
  go.sum
Labels: none

feat: add slack notfication receiver validation
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

feat: improve notification logic
  pkg/app/piped/notifier/slack.go
Labels: area/go

fix: configuration validate
  pkg/config/piped_test.go
Labels: area/go

Support slack api (#4355)
  go.mod
  go.sum
  pkg/app/piped/notifier/slack.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

update: notification docs
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

improve docs
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

update: docs
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

reset change
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

Enable to use kubectl server side apply
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
Labels: area/go

Update notification docs (#4373)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
Labels: none

Update README.md
  README.md
Labels: none

Add release section to README
  README.md
Labels: none

Add release section to README (#4371)
  README.md
Labels: none

Run missing go mod update
  go.mod
  go.sum
Labels: none

Update go version to 1.20.5
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  docs/content/en/docs-dev/contribution-guidelines/development.md
  tool/actions-gh-release/Dockerfile
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
Labels: area/build, area/tool

Update dependecies
  go.mod
  go.sum
Labels: none

Fix install glibc failed on alpine 3.16 and later
  tool/codegen/Dockerfile
Labels: area/tool

Update position platform provider display
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web

Update platform provider in deployment detail page
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web

Update platform provider in deployment detail
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web

Platform provider deployment detail page (#4369)
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web

Update go version (#4378)
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  docs/content/en/docs-dev/contribution-guidelines/development.md
  go.mod
  go.sum
  tool/actions-gh-release/Dockerfile
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
Labels: area/build, area/tool

Remove external tool management
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
  examples/lambda/custom-sync-sam/app.pipecd.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/testdata/application/custom-sync-without-package.yaml
  pkg/config/testdata/application/custom-sync-without-version.yaml
  pkg/config/testdata/application/custom-sync.yaml
Labels: area/go, area/examples

Update site footer
  docs/config.toml
  docs/layouts/partials/footer.html
Labels: none

Remove unneeded css
  docs/layouts/partials/footer.html
Labels: none

Update site footer (#4385)
  docs/config.toml
  docs/layouts/partials/footer.html
Labels: none

Update community section to color primary
  docs/content/en/_index.html
  docs/layouts/partials/footer.html
Labels: none

Update site footer
  docs/layouts/partials/footer.html
Labels: none

Remove external tool management (#4383)
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
  examples/lambda/custom-sync-sam/app.pipecd.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/testdata/application/custom-sync-without-package.yaml
  pkg/config/testdata/application/custom-sync-without-version.yaml
  pkg/config/testdata/application/custom-sync.yaml
Labels: area/go, area/examples

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
