Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

rename 'expected' to 'skip'
  pkg/app/piped/executor/skipstage_test.go
Labels: area/go

Fix testcases
  pkg/app/piped/executor/skipstage_test.go
Labels: area/go

separate func
  pkg/app/piped/executor/skipstage.go
Labels: area/go

add test for skipByCommitMessagePrefixes
  pkg/app/piped/executor/skipstage_test.go
Labels: area/go

Moved package to new 'skipstage'
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/skipstage/skipstage.go
  pkg/app/piped/executor/skipstage/skipstage_test.go
  pkg/app/piped/executor/wait/wait.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
Labels: area/go

Add SkipOptions to ScriptRunStageOptions
  pkg/config/application.go
Labels: area/go

rename 'SkipOptions' to 'SkipOn' to match with yaml
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/wait/wait.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/config/application.go
Labels: area/go

Move skip logic to scheduler
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/wait/wait.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
Labels: area/go

Add missing reporting
  pkg/app/piped/controller/scheduler.go
Labels: area/go

fix nits
  pkg/app/piped/executor/skipstage/skipstage.go
Labels: area/go

Fix bug possible to override project rbac built-in roles
  pkg/model/project.go
  pkg/model/project_test.go
Labels: area/go

Fix check logic
  pkg/app/piped/executor/skipstage/skipstage.go
Labels: area/go

Add missing error handling
  pkg/app/piped/controller/scheduler.go
Labels: area/go

Move skipstage to controller
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/skipstage/skipstage.go
  pkg/app/piped/controller/skipstage/skipstage_test.go
Labels: area/go

Update docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

gen mock by 'make gen/code'
  pkg/git/gittest/git.mock.go
Labels: area/go

Fix bug possible to override project rbac built-in roles (#4921)
  pkg/model/project.go
  pkg/model/project_test.go
Labels: area/go

Web update for using RBAC with resource label (#4920)
  web/package.json
  web/src/modules/project/index.test.ts
  web/src/modules/project/index.ts
  web/yarn.lock
Labels: area/web

Add required-permissions: dev
  docs/content/en/docs-dev/user-guide/managing-piped/required-permissions.md
Labels: none

Add required-permissions: v0.47.x
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/required-permissions.md
Labels: none

Fix and moved
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
  docs/content/en/docs-dev/user-guide/managing-piped/required-permissions.md
  docs/content/en/docs-v0.47.x/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/required-permissions.md
Labels: none

[doc] Add docs of required IAM actions for Piped (#4925)
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.47.x/installation/install-piped/required-permissions.md
Labels: none

test(git): use not captured variable r but function argument repo
  pkg/git/repo_test.go
Labels: area/go

refactor(git): remove unused method
  pkg/git/client.go
Labels: area/go

test(git): test not private function but exported function
  pkg/git/url_test.go
Labels: area/go

test(git): add test for git repo copy
  pkg/git/repo_test.go
Labels: area/go

Refactor and add tests for git package (#4927)
  pkg/git/client.go
  pkg/git/repo_test.go
  pkg/git/url_test.go
Labels: area/go

Update contributors list by ./hack/gen-contributions.sh Updating the contributors list on README.md ... Successfully update the contributions list on README.md
  README.md
Labels: none

test: add update-contirbutors action
  .github/update-contributors.yaml
Labels: area/build

fix: move update-contirbutors to workflow
  .github/workflows/update-contributors.yaml
Labels: area/build

fix: add GH_TOKEN
  .github/workflows/update-contributors.yaml
Labels: area/build

add comment, update title,commit-message
  .github/workflows/update-contributors.yaml
Labels: area/build

Update update-contributors.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

Add update-contributors workflow
  .github/workflows/update-contributors.yaml
Labels: area/build

Fix comment typo
  .github/workflows/update-contributors.yaml
Labels: area/build

fix: remove wrong '[docs]'
  .github/workflows/update-contributors.yaml
Labels: area/build

nits: fix from 'fromCmd' to 'byCmd'
  pkg/app/piped/executor/analysis/analysis.go
Labels: area/go

nits: rename func
  pkg/app/piped/controller/scheduler.go
Labels: area/go

nits: refine configuration-reference
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

fix error logging of zap.Error(err)
  pkg/app/piped/controller/scheduler.go
Labels: area/go
