Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Lower the log level of no app updates to reduce log noise (#4279)
  pkg/app/piped/trigger/determiner.go
Labels: area/go

delete custom sync executor
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/model/common.pb.go
Labels: area/go

fix pb
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/model/common.go
  pkg/model/common.pb.go
  pkg/model/common.proto
  web/model/common_pb.d.ts
  web/model/common_pb.js
Labels: area/go, area/web

Add a header to invalid config error message
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Support the podLabels for Pod labels
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: area/manifests

Support the podLabels for Pod labels (#4281)
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: area/manifests

change validation
  pkg/app/piped/executor/customsync/rollback.go
Labels: area/go

modify error message
  pkg/app/piped/executor/customsync/rollback.go
Labels: area/go

Update custom-sync.md
  docs/content/en/docs-dev/user-guide/managing-application/custom-sync.md
Labels: none

Upgrade aws dependencies to latest versions
  go.mod
  go.sum
Labels: none

Upgrade aws dependencies to latest versions (#4283)
  go.mod
  go.sum
Labels: none

fix plan runs successfuly without manifest files
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/terraform/terraform.go
Labels: area/go

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Fix comments
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

support platform provider other than lambda
  pkg/app/piped/planner/cloudrun/pipeline.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/terraform/pipeline.go
Labels: area/go

Add note
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Add blog control plane on ECS (#4164)
  docs/content/en/blog/news/control-plane-on-ecs.md
  docs/static/images/control-plane-alb.png
  docs/static/images/control-plane-on-ecs.png
Labels: none

add asdf management
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/testdata/application/custom-sync.yaml
Labels: area/go

rename command to package
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-sync.yaml
Labels: area/go

Update blog index
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

fix
  pkg/app/piped/executor/customsync/rollback.go
  pkg/config/application.go
Labels: area/go

Update blog index (#4287)
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Add custom sync rollback(just support lambda) (#4246)
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/model/common.go
  pkg/model/common.pb.go
  pkg/model/common.proto
  pkg/model/deployment.go
  pkg/model/stage.go
  web/model/common_pb.d.ts
  web/model/common_pb.js
Labels: area/go, area/web

Document for ignore fields of drift detection
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Fix wrong change
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
Labels: none

Add ignoreFields' description
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Remove Syntax section
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Update docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
Labels: none
