Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Support setting kubectlVersion via piped config (#4081)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/config/piped.go
Labels: area/go

Fix the wrong link for tools
  tool/piped-base/install-helm.sh
  tool/piped-base/install-kubectl.sh
  tool/piped-base/install-kustomize.sh
  tool/piped-base/install-terraform.sh
Labels: area/tool

Fix the wrong link for tools (#4083)
  tool/piped-base/install-helm.sh
  tool/piped-base/install-kubectl.sh
  tool/piped-base/install-kustomize.sh
  tool/piped-base/install-terraform.sh
Labels: area/tool

Improve the health description for Cloud Run live state
  pkg/app/piped/platformprovider/cloudrun/cloudrun.go
  pkg/app/piped/platformprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/platformprovider/cloudrun/state.go
  pkg/model/application_live_state.go
Labels: area/go

Fix some points from golang-ci-lint
  pkg/model/application_live_state.go
Labels: area/go

Implement lint/go command for local
  .gitignore
  Makefile
Labels: area/build

Fix the filter_mode of reviewdow/action-golangci-lint
  .github/workflows/lint.yaml
  .golangci.yml
Labels: area/build

Disable statickcheck as a linter
  .golangci.yml
Labels: none

Implement lint/go command for local (#4086)
  .gitignore
  Makefile
Labels: area/build

Enable to run lint/go on M1
  Makefile
Labels: area/build

Enable to run lint/go on M1 (#4088)
  Makefile
Labels: area/build

Refactor the loadCloudRunManifest function
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

fixup
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Refactor the loadCloudRunManifest function (#4089)
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Fix some poionts from reviews
  pkg/app/piped/platformprovider/cloudrun/cloudrun.go
Labels: area/go

Improve the health description for Cloud Run live state (#4085)
  pkg/app/piped/platformprovider/cloudrun/cloudrun.go
  pkg/app/piped/platformprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/platformprovider/cloudrun/state.go
  pkg/model/application_live_state.go
Labels: area/go

Update release note
  docs/content/en/blog/releases/v0.41.0.md
Labels: none

Change order
  docs/content/en/blog/releases/v0.41.0.md
Labels: none

Add new features note
  docs/content/en/blog/releases/v0.41.0.md
Labels: none

Update note
  docs/content/en/blog/releases/v0.41.0.md
Labels: none

Update note
  docs/content/en/blog/releases/v0.41.0.md
Labels: none

Ensure retrying revision check on NotFound error
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: area/go

Ensure retrying revision check on NotFound error (#4092)
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: area/go

Release v0.41.1
  RELEASE
Labels: none

Update the release note
  docs/content/en/blog/releases/v0.41.1.md
Labels: none

Release v0.41.1 (#4093)
  RELEASE
  docs/content/en/blog/releases/v0.41.1.md
Labels: none

Release v0.41.1 (#4093)
  RELEASE
  docs/content/en/blog/releases/v0.41.1.md
Labels: none

Ensure retrying revision check on NotFound error (#4092)
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: area/go

support standalone ECS task
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/cluster.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/vpc_conf.go
  pkg/config/application_ecs.go
  yarn.lock
Labels: area/go

add example for deploying standalone task
  examples/ecs/standalone-task/app.pipecd.yaml
  examples/ecs/standalone-task/clusterdef.yaml
  examples/ecs/standalone-task/taskdef.yaml
  examples/ecs/standalone-task/vpc_conf.yaml
Labels: area/examples

support standalone ECS task
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/cluster.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/vpc_conf.go
  pkg/config/application_ecs.go
  yarn.lock
Labels: area/go

add example for deploying standalone task
  examples/ecs/standalone-task/app.pipecd.yaml
  examples/ecs/standalone-task/clusterdef.yaml
  examples/ecs/standalone-task/taskdef.yaml
  examples/ecs/standalone-task/vpc_conf.yaml
Labels: area/examples

change name
  pkg/app/piped/executor/ecs/deploy.go
Labels: area/go

add err handling
  pkg/app/piped/executor/ecs/deploy.go
Labels: area/go

add test
  pkg/app/piped/platformprovider/ecs/cluster_test.go
  pkg/app/piped/platformprovider/ecs/vpc_conf_test.go
Labels: area/go

remove examples file for standalone-task
  examples/ecs/standalone-task/app.pipecd.yaml
  examples/ecs/standalone-task/clusterdef.yaml
  examples/ecs/standalone-task/taskdef.yaml
  examples/ecs/standalone-task/vpc_conf.yaml
Labels: area/examples

small fix
  pkg/config/application_ecs.go
  yarn.lock
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/config/application_ecs.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/deploy.go
Labels: area/go

apply review
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
