Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add field in log
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Update pkg/app/server/grpcapi/web_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Small changes on refactor APIKeyLastUseCache get (#4216)
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Change INVALID_CONFIG icon
  web/src/components/app-sync-status/sync-status-icon/index.tsx
Labels: area/web

Bump golang.org/x/crypto
  go.mod
  go.sum
Labels: none

Lint
  web/src/components/app-sync-status/sync-status-icon/index.tsx
Labels: area/web

Bump golang.org/x/crypto (#4219)
  go.mod
  go.sum
Labels: none

Update docs/rfcs/0010-custom-stage.md
  docs/rfcs/0010-custom-stage.md
Labels: none

Update docs/rfcs/0010-custom-stage.md
  docs/rfcs/0010-custom-stage.md
Labels: none

WIP: Piped filter display. Filter not yet implemented.
  web/src/components/applications-page/application-filter/application-autocomplete.tsx
  web/src/components/applications-page/application-filter/index.tsx
Labels: area/web

Update api key list UI
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

Update runtime go version for tools
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

Update runtime go version for tools (#4222)
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

Update api key list UI (#4221)
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

Update pkg/diff/diff.go
  pkg/diff/diff.go
Labels: area/go

Update pkg/diff/diff.go
  pkg/diff/diff.go
Labels: area/go

Update pkg/diff/diff.go
  pkg/diff/diff.go
Labels: area/go

WIP
  web/src/components/applications-page/application-filter/application-autocomplete.tsx
Labels: area/web

Rename IgnorePathPrefix to IgnoredPath
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Labels: area/go

Rename IgnorePathPrefix to IgnoredPath
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: area/go

add DSP
  pkg/app/piped/executor/custom/custom.go
Labels: area/go

Bump golang.org/x/net for vulnerable to request smuggling attack
  go.mod
  go.sum
Labels: none

Bump golang.org/x/net for vulnerable to request smuggling attack (#4224)
  go.mod
  go.sum
Labels: none

Bump golang.org/x/oauth2 to v0.5.0
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
Labels: area/tool

fixup
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

Bump golang.org/x/oauth2 to v0.5.0 (#4225)
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

Update test
  pkg/diff/diff_test.go
Labels: area/go

Make it possible to ignore fields not common between old and new too
  pkg/diff/diff.go
Labels: area/go

Delete unnecessary variable
  pkg/diff/renderer.go
Labels: area/go

Add release note
  docs/content/en/blog/releases/v0.42.0.md
Labels: none

Fix misspell
  pkg/diff/diff.go
Labels: area/go

Move pipectl note to notable changes
  docs/content/en/blog/releases/v0.42.0.md
Labels: none

Update docs/content/en/blog/releases/v0.42.0.md
  docs/content/en/blog/releases/v0.42.0.md
Labels: none

Fix error
  pkg/diff/diff.go
Labels: area/go

Refactor
  pkg/diff/diff.go
Labels: area/go

Add status of failing load application config (#4206)
  pkg/app/piped/trigger/trigger.go
  pkg/model/application.pb.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/components/app-sync-status/sync-status-icon/index.tsx
  web/src/constants/application-sync-status-text.ts
Labels: area/go, area/web

Add timestamp to ApplicationSyncStatus.status because it is necessary
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Add timestamp to ApplicationSyncStatus.status because it is necessary (#4227)
  pkg/app/piped/trigger/trigger.go
Labels: area/go

lint
  pkg/app/piped/executor/custom/custom.go
Labels: area/go

Delete unnecessary statement
  pkg/diff/diff.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
