Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

docs: Make Go review expectations explicit
  CONTRIBUTING.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-to-pipecd.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/go-coding-guidelines.md
Labels: none

chore(controller): explain cancel semantics in the scheduler
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

fix(controller): keep a stage failure's reason when a cancel arrives
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

fix(controller): stop starting the next stage after a cancel command (#6979)
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_cancel_test.go
Labels: area/go

Fix 7394
  .gitignore
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher_test.go
  pkg/configv1/application.go
  pkg/configv1/application_test.go
  pkg/configv1/event_watcher.go
  pkg/configv1/event_watcher_test.go
Labels: area/go

fix issue #7396
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http_test.go
  pkg/app/pipedv1/plugin/analysis/config/condition.go
Labels: area/go

test(firestore): restore accidentally deleted Get, Create, Update tests
  test/integration/datastore/firestore/application_test.go
Labels: none

test(firestore): restore accidentally deleted Get, Create, Update tests
  test/integration/datastore/firestore/application_test.go
Labels: none

fix issue raised by copilot
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http_test.go
Labels: area/go

fix(pkg/cache/memorycache): evict expired entries on TTLCache.Get
  pkg/cache/memorycache/ttl_cache.go
Labels: area/go

docs: add plugin tutorial chapter 8 - wiring main.go and running with piped (#7157)
  docs/content/en/docs-v1.0.x/plugins/creating-a-plugin/chapter-08-wiring-main-and-running-with-piped.md
Labels: none

added delete, enable and disable
  test/integration/datastore/firestore/application_test.go
Labels: none

Move CODEOWNERS, SECURITY.md and CODE_OF_CONDUCT.md under .github
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  MAINTAINERS.md
  README.md
Labels: area/build

Migrate pkg/datastore mocks from golang/mock to go.uber.org/mock
  go.mod
  go.sum
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/mock.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore_test.go
Labels: area/go

Use min/max builtins and range-over-int loops
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/firestoreindexensurer/indexensurer.go
  pkg/app/piped/livestatestore/kubernetes/store.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/pipedv1/controller/scheduler_cancel_test.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
  pkg/app/pipedv1/planpreview/builder.go
  pkg/diff/renderer.go
  pkg/git/client.go
  pkg/rpc/server_test.go
Labels: area/go

Use slices and maps helpers instead of hand-written loops
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/executor/waitapproval/waitapproval_test.go
  pkg/app/piped/livestatestore/kubernetes/appnodes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/metadatastore/store.go
  pkg/app/piped/metadatastore/store_test.go
  pkg/app/piped/platformprovider/cloudrun/servicemanifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/pipedv1/metadatastore/store.go
  pkg/app/pipedv1/metadatastore/store_test.go
  pkg/app/server/grpcapi/web_api.go
  pkg/config/config.go
  pkg/datastore/deploymentstore.go
  pkg/filematcher/filematcher.go
  pkg/model/deployment.go
  pkg/oauth/oidc/oidc.go
  pkg/rpc/chain_interceptor.go
Labels: area/go

Remove the unused file creation URL builder
  pkg/git/url.go
  pkg/git/url_test.go
Labels: area/go

Remove the unused piped token stream interceptor
  pkg/rpc/rpcauth/interceptor.go
  pkg/rpc/rpcauth/interceptor_test.go
  pkg/rpc/rpcauth/wrapper.go
  pkg/rpc/server.go
Labels: area/go

Remove the RSA-only encrypter superseded by the hybrid scheme
  pkg/crypto/key.go
  pkg/crypto/key_test.go
  pkg/crypto/rsa.go
  pkg/crypto/rsa_test.go
Labels: area/go

Remove unused cache constructors and the multi getter
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/cache/memorycache/cache.go
  pkg/cache/rediscache/cache.go
Labels: area/go

Migrate pkg/datastore mocks from golang/mock to go.uber.org/mock (#7400)
  go.mod
  go.sum
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/mock.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore_test.go
Labels: area/go

fix(kubernetes): extract images from initContainers and CronJob templates (#7374)
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
Labels: area/go

fix(pipedv1): use correct event for deployment notification mentions (#7382)
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Fix event watcher replacement handling
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
Labels: area/go

Harden event watcher replacement handling
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher_test.go
  pkg/config/application.go
  pkg/config/event_watcher.go
Labels: area/go

Replace deprecated golang/protobuf jsonpb with protojson in control plane config
  go.mod
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/configv1/control_plane.go
  pkg/configv1/control_plane_test.go
Labels: area/go

Use errors.AsType and WaitGroup.Go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/filestore/s3/s3.go
Labels: area/go

Remove redundant loop variable copies and use t.Context in tests
  pkg/app/piped/controller/skipstage_test.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/kubernetes/reflector_test.go
  pkg/app/piped/livestatestore/lambda/store_test.go
  pkg/app/piped/notifier/slack_test.go
  pkg/app/piped/planpreview/handler_test.go
  pkg/app/piped/platformprovider/ecs/routing_traffic_test.go
  pkg/app/piped/platformprovider/ecs/state_test.go
  pkg/app/piped/platformprovider/ecs/task_test.go
  pkg/app/piped/platformprovider/lambda/function_test.go
  pkg/app/piped/platformprovider/lambda/state_test.go
  pkg/app/piped/platformprovider/terraform/module_test.go
  pkg/app/piped/platformprovider/terraform/terraform_test.go
  pkg/app/piped/sourceprocesser/attacher_test.go
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
  pkg/app/pipedv1/eventwatcher/eventwatcher_test.go
  pkg/app/pipedv1/notifier/slack_test.go
  pkg/app/pipedv1/planpreview/handler_test.go
  pkg/app/pipedv1/sourceprocesser/attacher_test.go
  pkg/app/pipedv1/sourceprocesser/sourceprocesser_test.go
  pkg/app/server/apikeyverifier/verifier_test.go
  pkg/app/server/grpcapi/grpcapi_test.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/app/server/pipedverifier/verifier_test.go
  pkg/config/application_test.go
  pkg/config/piped_test.go
  pkg/configv1/application_test.go
  pkg/configv1/piped_test.go
  pkg/diff/diff_test.go
  pkg/model/deployment_chain_test.go
  pkg/model/deployment_test.go
  pkg/model/notificationevent_test.go
Labels: area/go

Use strings.Builder and strings.SplitSeq
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/mysql/iterator.go
  pkg/diff/diff.go
  pkg/git/commit.go
Labels: area/go

Tag ECS rollback task sets with the running commit
  pkg/app/pipedv1/plugin/ecs/deployment/canary.go
  pkg/app/pipedv1/plugin/ecs/deployment/primary.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback.go
  pkg/app/pipedv1/plugin/ecs/deployment/sync.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs_test.go
Labels: area/go

Update firestore-emulator to a published Cloud SDK Alpine tag (#7413)
  tool/firestore-emulator/Dockerfile
Labels: area/tool

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities (#7389)
  cmd/helloworld/Dockerfile
Labels: area/go

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

use ghcr helloworld image instead of gcr
  examples/.pipe/event-watcher-using-regex.yaml
  examples/v0/cloudrun/analysis/service.yaml
  examples/v0/cloudrun/canary/service.yaml
  examples/v0/cloudrun/secret-management/service.yaml
  examples/v0/cloudrun/simple/service.yaml
  examples/v0/cloudrun/wait-approval/service.yaml
  examples/v0/kubernetes/helm-local-chart/values.yaml
  examples/v0/kubernetes/kustomize-local-base/kustomization.yaml
  examples/v0/kubernetes/script-run/deployment.yaml
  examples/v0/local-modules/helm-charts/helloworld/values.yaml
  examples/v0/local-modules/kustomize-bases/helloworld/deployment.yaml
  examples/v1/kubernetes/helm-local-chart/values.yaml
  examples/v1/local-modules/helm-charts/helloworld/values.yaml
Labels: area/examples

use ghcr helloworld image instead of gcr
  examples/v1/kubernetes/kustomize-local-base/kustomization.yaml
  examples/v1/local-modules/kustomize-bases/helloworld/deployment.yaml
Labels: area/examples

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
