Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

docs(v1): add comprehensive configuration references for app and piped
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuration-reference.md
Labels: none

chore: isolate piped config changes
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
Labels: none

docs(v1): add slack and webhook receiver config tables per review nit
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuration-reference.md
Labels: none

fix(pipedv1): use FindSlackGroups for group mentions in trigger-failed notification (#6981)
  pkg/app/pipedv1/trigger/trigger.go
Labels: area/go

ci: add timeout-minutes to scheduled workflow jobs
  .github/workflows/codeql-analysis.yaml
  .github/workflows/stale.yaml
Labels: area/build

Pin actions/github-script to commit SHA in first-time-contributor workflow (#6730)
  .github/workflows/first-time-contributor.yaml
Labels: area/build

fix broken links in v0 docs (#6976)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/metrics.md
  docs/content/en/docs-v0.57.x/feature-status/_index.md
  docs/content/en/docs-v0.57.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.57.x/user-guide/metrics.md
Labels: none

Solved the issue
  .github/workflows/stale.yaml
Labels: area/build

Fix typo in plugin and config comments: beucause -> because, speficied -> specified (#6743)
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/config/application.go
  pkg/configv1/application.go
Labels: area/go

docs: add missing meta description tag to site head
  docs/layouts/partials/head.html
Labels: none

docs: give homepage a meaningful description and h1
  docs/assets/scss/_styles_project.scss
  docs/content/en/_index.html
Labels: none

docs: add alt text to homepage core value images
  docs/layouts/shortcodes/blocks/value.html
Labels: none

docs: add explicit height to footer CNCF logo
  docs/layouts/partials/footer.html
Labels: none

fix(piped): clean up cloned repo after skip stage check
  pkg/app/piped/controller/skipstage.go
Labels: area/go

v1: add application configuration reference
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
Labels: none

feat(local-dev): add auto-detection for K3s/Minikube and fix storage permissions
  .dockerignore
  CONTRIBUTING.md
  Makefile
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  manifests/pipecd/templates/deployment.yaml
Labels: area/build, area/manifests

refactor: replace unsafe WaitNext retry loops with thread-safe backoff.Do
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/trigger/cache.go
  pkg/app/piped/trigger/deployment.go
Labels: area/go

feat(pipedv1/kubernetes): support config hash annotation for StatefulSets and DaemonSets
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate_test.go
Labels: area/go

Reduce stage log Put allocation overhead
  pkg/app/server/stagelogstore/filestore.go
  pkg/app/server/stagelogstore/filestore_test.go
Labels: area/go

Add CronJob support to FindReferencingConfigMaps and FindReferencingSecrets
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/deployment_test.go
Labels: area/go

docs: update hugo version and add windows notes for local preview
  docs/README.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v0.56.x/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v0.56.x/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v0.57.x/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v0.57.x/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

docs: update hugo version and add windows notes for local preview (#6910)
  docs/README.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v0.56.x/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v0.56.x/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v0.57.x/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v0.57.x/contribution-guidelines/contributing-documentation.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-documentation.md
Labels: none

docs: add blog post for PipeCD at KubeCon India 2026
  docs/content/en/blog/pipecd-at-kubecon-india-2026.md
  docs/static/images/kubecon-india-2026-booth.png
Labels: none

minor: fix copy-paste issue and wording changes
  docs/content/en/docs-v1.0.x/quickstart/_index.md
Labels: none

[Multi_K8s-Plugin] Add plugin documentation page (#6878)
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/kubernetes-multicluster.md
Labels: none

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

minor wording change
  docs/content/en/blog/argocd-vs-fluxcd-vs-pipecd.md
Labels: none

ArgoCD vs FluxCD vs PipeCD - Choosing the Right GitOps Tool blog post (#6879)
  docs/content/en/blog/argocd-vs-fluxcd-vs-pipecd.md
Labels: none

docs: address review comments on KubeCon India 2026 blog
  docs/content/en/blog/pipecd-at-kubecon-india-2026.md
Labels: none

docs: preconnect to and defer non-critical head scripts
  docs/layouts/partials/head.html
Labels: none

docs: lazy-load footer CNCF logo image
  docs/layouts/partials/footer.html
Labels: none

feat(pipectl): add application enable command
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/enable.go
Labels: area/go

feat: add ecs plugin document
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/ecs.md
Labels: none

feat: add ecs plugin document (#6712)
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/ecs.md
Labels: none

V1-Docs (UserGuide): fix discrepancies in managing piped (#6543)
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/adding-a-git-repository.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/adding-an-analysis-provider.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-a-plugin.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/remote-upgrade-remote-config.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

minor: fix copy-paste issue and wording changes (#7033)
  docs/content/en/docs-v1.0.x/quickstart/_index.md
Labels: none

docs: move plugin configuration guides to plugins section
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/analysis.md
  docs/content/en/docs-v1.0.x/plugins/kubernetes.md
  docs/content/en/docs-v1.0.x/plugins/terraform.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-a-plugin.md
Labels: none

docs: move plugin configuration guides to plugins section (#6698)
  docs/content/en/docs-v1.0.x/plugins/_index.md
  docs/content/en/docs-v1.0.x/plugins/analysis.md
  docs/content/en/docs-v1.0.x/plugins/kubernetes.md
  docs/content/en/docs-v1.0.x/plugins/terraform.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-a-plugin.md
Labels: none

updated copyright year in documentation website
  docs/layouts/partials/footer.html
Labels: none

added Control Plane architecture diagram in v0.57 and v1.0 in Concepts page
  docs/content/en/docs-v0.57.x/concepts/_index.md
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
