Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update contributors
  README.md
Labels: none

Update contributors (#4623)
  README.md
Labels: none

Ignore mannwhitney from golangci-lint
  .golangci.yml
Labels: none

Fix lint/go errors (deadcode)
  pkg/app/ops/planpreviewoutputcleaner/cleaner.go
  pkg/app/server/grpcapi/grpcapi.go
Labels: area/go

Fix lint/go errors (depguard)
  pkg/app/piped/livestatestore/cloudrun/store.go
Labels: area/go

Fix part of lint/go errors (deadcode, ineffassign, depguard) (#4624)
  .golangci.yml
  pkg/app/ops/planpreviewoutputcleaner/cleaner.go
  pkg/app/piped/livestatestore/cloudrun/store.go
  pkg/app/server/grpcapi/grpcapi.go
Labels: area/go

Fix document
  docs/rfcs/0011-script-run-stage.md
Labels: none

Add tests to terraform platform provider
  pkg/app/piped/platformprovider/terraform/terraform_test.go
Labels: area/go

Add tests to apikey model
  pkg/model/apikey_test.go
Labels: area/go

Add GOCACHE env to lint/go
  Makefile
Labels: area/build

Add verbose flag to lint/go
  Makefile
Labels: area/build

Change timeout golangci.yml
  .golangci.yml
Labels: none

Add tests to application model
  pkg/model/application_test.go
Labels: area/go

Reduce `make lint/go` execution time by adding the GOCACHE environment variable (#4628)
  .golangci.yml
  Makefile
Labels: area/build

Add tests to model/deployment
  pkg/model/deployment_test.go
Labels: area/go

Add tests to terraform platform provider (#4625)
  pkg/app/piped/platformprovider/terraform/terraform_test.go
Labels: area/go

Add tests to apikey model (#4626)
  pkg/model/apikey_test.go
Labels: area/go

Add tests to application model (#4627)
  pkg/model/application_test.go
Labels: area/go

Add tests to model/deployment (#4629)
  pkg/model/deployment_test.go
Labels: area/go

Update grpc test version
  pkg/rpc/grpc_test.go
Labels: area/go

Fix lint/go errors (stylecheck)
  docs/main.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/planner/cloudrun/pipeline.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/app/piped/planner/terraform/pipeline.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/pipedverifier/verifier_test.go
  pkg/cli/app.go
  pkg/config/analysis_template.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/application.go
  pkg/insight/deployment.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/model/application.go
Labels: area/go

Remove nolint:stylecheck
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Change method reveiver name
  pkg/model/application.go
  pkg/model/common.go
Labels: area/go

Change receiver name k to ak
  pkg/model/application.go
  pkg/model/common.go
Labels: area/go

Fix part of lint/go errors (stylecheck) (#4638)
  docs/main.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/planner/cloudrun/pipeline.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/app/piped/planner/terraform/pipeline.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/pipedverifier/verifier_test.go
  pkg/cli/app.go
  pkg/config/analysis_template.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/application.go
  pkg/insight/deployment.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/model/application.go
  pkg/model/common.go
Labels: area/go

Add Code-Butler
  .github/workflows/code-butler.yaml
Labels: area/build

Improve example for regex
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Improve example for regex (#4644)
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Add Code-Butler (#4642)
  .github/workflows/code-butler.yaml
Labels: area/build

Fix lint/go errors (gocritic)
  pkg/app/ops/handler/handler.go
  pkg/app/server/httpapi/httpapimetrics/delegator.go
  pkg/cli/cmd.go
  pkg/config/control_plane.go
  pkg/datastore/mysql/query.go
  pkg/filematcher/filematcher.go
  pkg/insight/insightmetrics/metrics.go
Labels: area/go

Fix lint/go errors (gocritic) (#4637)
  pkg/app/ops/handler/handler.go
  pkg/app/server/httpapi/httpapimetrics/delegator.go
  pkg/cli/cmd.go
  pkg/config/control_plane.go
  pkg/datastore/mysql/query.go
  pkg/filematcher/filematcher.go
  pkg/insight/insightmetrics/metrics.go
Labels: area/go

Update configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
Labels: none

Add Parallel()
  pkg/model/deployment_chain_test.go
Labels: area/go

Add tests to model/deployment_chain
  pkg/model/deployment_chain_test.go
Labels: area/go

Update configuration-reference.md (#4645)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
Labels: none

Add tests to model/notificationevent
  pkg/model/notificationevent_test.go
Labels: area/go

Add Parallel()
  pkg/model/notificationevent_test.go
Labels: area/go

Add tests to model/notificationevent (#4631)
  pkg/model/notificationevent_test.go
Labels: area/go

Add ECSTargetGroupObject to the configuration reference documentation
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Add docs-dev and Change markdown table formatting
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
