Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
Labels: area/go

Remove unused method
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
Labels: area/go

Rename stage names
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline_test.go
Labels: area/go

Remove unused stage currently
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
Labels: area/go

Implement BuildPipelineSync
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
Labels: area/go

Add itegration with the interface
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
Labels: area/go

fix: upgrade react-router-dom from 6.28.2 to 6.29.0
  web/package.json
  web/yarn.lock
Labels: area/web

Add selector handling in k8s plugin sync and rollback stage (#5577)
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
Labels: area/go

Add increase operation to calc Total triggered deploys (#5595)
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

Fix comment
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
Labels: area/go

Fix test
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline_test.go
Labels: area/go

Update comments on cancelled case
  pkg/app/pipedv1/plugin/wait/wait.go
Labels: area/go

Implement BuildPipelineSyncStages for k8s multi sync (#5596)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
Labels: area/go

Add empty methods which need for implementing the plugin with the SDK
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

Define sdkPlugin to separate current plugin struct
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

fix: upgrade react-router-dom from 6.28.2 to 6.29.0 (#5598)
  web/package.json
  web/yarn.lock
Labels: area/web

Add empty methods which need for implementing the k8s plugin with the SDK (#5602)
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go

Draft UI for deployment traces feature (#5594)
  web/src/__fixtures__/dummy-deployment-trace.ts
  web/src/api/deploymentTraces.ts
  web/src/components/deployment-trace-page/deployment-trace-filter/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-filter/index.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/deployment-trace-page/useGroupedDeploymentTrace.tsx
  web/src/components/header/index.tsx
  web/src/constants/path.ts
  web/src/modules/deploymentTrace/index.test.ts
  web/src/modules/deploymentTrace/index.ts
  web/src/modules/index.ts
  web/src/routes.tsx
  web/src/utils/common.ts
  web/src/utils/debounce.ts
Labels: area/web

Implement LivestatePlugin interface and gRPC server registration for live state retrieval
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

Fix import order in livestate.go for consistency
  pkg/plugin/sdk/livestate.go
Labels: area/go

Add unit tests for StagePluginServiceServer execution logic
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Add unit tests for BuildPipelineSyncStages in StagePluginServiceServer
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Add unit tests for DetermineVersions and DetermineStrategy methods in StagePluginServiceServer
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Enhance BuildPipelineSyncStages to include rollback stage and update test cases for validation
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Add unit tests for StageStatus and ManualOperation to model enum conversions
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Add license header to deployment_test.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Remove cancelled status test case from TestStagePluginServiceServer_ExecuteStage
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Remove cancelled status test case from TestStageStatus_toModelEnum
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Clarify GetLivestate method documentation to specify application context
  pkg/plugin/sdk/livestate.go
Labels: area/go

Add tests for StagePlugin SDK and enum conversion (#5604)
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

define gRPC methods
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
Labels: area/go

Add RunningDeploymentSource and TargetDeploymentSource to ExecuteStageRequest
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add RunningDeploymentSource and TargetDeploymentSource to ExecuteStageRequest
  pkg/plugin/sdk/deployment.go
Labels: area/go

Add RunningDeploymentSource and TargetDeploymentSource to ExecuteStageRequest (#5606)
  pkg/plugin/sdk/deployment.go
Labels: area/go

simplify req/res of rpcs
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
Labels: area/go

simplify client side
  pkg/plugin/sdk/client.go
Labels: area/go

wip: use Deployment
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/sdk/client.go
Labels: area/go

fix links to NotificationRoute
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.41.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.42.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.44.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.50.x/user-guide/managing-piped/configuring-notifications.md
Labels: none

Fix links to Notificaitons, NotificationReceiverWebhook
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.41.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.42.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.44.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.50.x/user-guide/managing-piped/configuring-notifications.md
Labels: none

docs: Fix relative links to configuration-reference (#5608)
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.41.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.42.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.44.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.47.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.50.x/user-guide/managing-piped/configuring-notifications.md
Labels: none
