Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

fix lint erros
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

Update piped-plugin-sdk-go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
Labels: area/go

Refactor Kubernetes config to use unit types from piped-plugin-sdk-go
  pkg/app/pipedv1/plugin/kubernetes/config/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/config/canary.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
Labels: area/go

Update piped-plugin-sdk-go dependency
  pkg/app/pipedv1/plugin/wait/go.mod
Labels: area/go

Refactor WaitStageOptions to use unit.Duration from piped-plugin-sdk-go
  pkg/app/pipedv1/plugin/wait/options.go
  pkg/app/pipedv1/plugin/wait/options_test.go
Labels: area/go

Execute go mod tidy on wait plugin
  pkg/app/pipedv1/plugin/wait/go.mod
Labels: area/go

[Plugins] Replace configv1 unit types with SDK unit types (#5969)
  pkg/app/pipedv1/plugin/kubernetes/config/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/config/canary.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/options.go
  pkg/app/pipedv1/plugin/wait/options_test.go
Labels: area/go

Add deprecated note to pipelinestage id field
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Remove visible field from controller logic
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Logic based on deployTarget instead
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

Add deprecated note to pipelinestage id field (#5970)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Update stage showing logic to not dependent on stage.visible field
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

Update condition to avoid undefined case error
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

Fix error stages are not shown for plugin-arch piped created pipeline (#5950)
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web

Remove visible field from controller logic (#5971)
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Install react query v4 and add auth context
  web/package.json
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/header/index.test.tsx
  web/src/components/header/index.tsx
  web/src/components/login-page/index.tsx
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
  web/src/contexts/auth-context/auth-context.ts
  web/src/contexts/auth-context/auth-provider.tsx
  web/src/contexts/auth-context/index.test.tsx
  web/src/contexts/auth-context/index.tsx
  web/src/contexts/auth-context/use-auth.tsx
  web/src/contexts/auth-context/use-project-name.tsx
  web/src/contexts/query-client-provider.tsx
  web/src/index.tsx
  web/src/mocks/services/me.ts
  web/src/modules/index.ts
  web/src/modules/me/index.test.ts
  web/src/modules/me/index.ts
  web/src/queries/me/use-get-me.tsx
  web/src/routes.test.tsx
  web/src/routes.tsx
  web/test-utils/index.tsx
  web/yarn.lock
Labels: area/web

Remove example plugin from pipecd codebase
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/example/plugin.go
Labels: area/go

Remove example plugin from pipecd codebase (#5973)
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/example/plugin.go
Labels: area/go

Install react query v4 and add auth context (#5893)
  web/package.json
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/header/index.test.tsx
  web/src/components/header/index.tsx
  web/src/components/login-page/index.tsx
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
  web/src/contexts/auth-context/auth-context.ts
  web/src/contexts/auth-context/auth-provider.tsx
  web/src/contexts/auth-context/index.test.tsx
  web/src/contexts/auth-context/index.tsx
  web/src/contexts/auth-context/use-auth.tsx
  web/src/contexts/auth-context/use-project-name.tsx
  web/src/contexts/query-client-provider.tsx
  web/src/index.tsx
  web/src/mocks/services/me.ts
  web/src/modules/index.ts
  web/src/modules/me/index.test.ts
  web/src/modules/me/index.ts
  web/src/queries/me/use-get-me.tsx
  web/src/routes.test.tsx
  web/src/routes.tsx
  web/test-utils/index.tsx
  web/yarn.lock
Labels: area/web

fix: remove unused 'wantErr'
  pkg/app/pipedv1/apistore/commandstore/store_test.go
Labels: area/go

Handle Skipped/Exited before executeStage
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Rename live demo to playground
  README.md
  docs/content/en/_index.html
Labels: none

bump: sigs.k8s.io/yaml
  go.mod
  go.sum
Labels: none

Fix get applicaiton should remove deleted app
  web/src/components/insight-page/statistic-information/deployment-24h.tsx
  web/src/queries/applications/use-get-applications.tsx
Labels: area/web

Replace redux modules/events with react-query
  web/src/components/event-status-icon/index.test.tsx
  web/src/components/event-status-icon/index.tsx
  web/src/components/events-page/event-filter/index.tsx
  web/src/components/events-page/event-item/index.tsx
  web/src/components/events-page/index.tsx
  web/src/modules/events/index.ts
  web/src/modules/index.ts
  web/src/queries/events/use-get-events-infinite.tsx
Labels: area/web

Replace redux in page setting/api-keys - Remove modules/api-keys - Add query for api-keys - Update test case for ApiKeyPage
  web/src/__fixtures__/dummy-api-key.ts
  web/src/components/settings-page/api-key/components/disable-api-key-confirm-dialog/index.tsx
  web/src/components/settings-page/api-key/components/generate-api-key-dialog/index.tsx
  web/src/components/settings-page/api-key/components/generated-api-key-dialog/index.tsx
  web/src/components/settings-page/api-key/index.test.tsx
  web/src/components/settings-page/api-key/index.tsx
  web/src/constants/api-key-role-text.ts
  web/src/mocks/services/api-keys.ts
  web/src/modules/api-keys/index.test.ts
  web/src/modules/api-keys/index.ts
  web/src/modules/index.ts
  web/src/queries/api-keys/use-disable-api-key.tsx
  web/src/queries/api-keys/use-generate-api-key.tsx
  web/src/queries/api-keys/use-get-api-keys.tsx
Labels: area/web

Replace redux in page setting/api-keys - Remove modules/api-keys - Add query for api-keys - Update test case for ApiKeyPage
  web/src/__fixtures__/dummy-api-key.ts
  web/src/components/settings-page/api-key/components/disable-api-key-confirm-dialog/index.tsx
  web/src/components/settings-page/api-key/components/generate-api-key-dialog/index.tsx
  web/src/components/settings-page/api-key/components/generated-api-key-dialog/index.tsx
  web/src/components/settings-page/api-key/index.test.tsx
  web/src/components/settings-page/api-key/index.tsx
  web/src/constants/api-key-role-text.ts
  web/src/mocks/services/api-keys.ts
  web/src/modules/api-keys/index.test.ts
  web/src/modules/api-keys/index.ts
  web/src/modules/index.ts
  web/src/queries/api-keys/use-disable-api-key.tsx
  web/src/queries/api-keys/use-generate-api-key.tsx
  web/src/queries/api-keys/use-get-api-keys.tsx
Labels: area/web

Replace redux modules/events with react-query
  web/src/components/event-status-icon/index.test.tsx
  web/src/components/event-status-icon/index.tsx
  web/src/components/events-page/event-filter/index.tsx
  web/src/components/events-page/event-item/index.tsx
  web/src/components/events-page/index.tsx
  web/src/modules/events/index.ts
  web/src/modules/index.ts
  web/src/queries/events/use-get-events-infinite.tsx
Labels: area/web

Remove Redux in Insight page (#5915)
  web/src/__fixtures__/dummy-insight.ts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/components/insight-page/statistic-information/application-by-piped.tsx
  web/src/components/insight-page/statistic-information/application-count.tsx
  web/src/components/insight-page/statistic-information/deployment-24h.tsx
  web/src/components/insight-page/statistic-information/index.tsx
  web/src/components/insight-page/statistic-information/piped-count.tsx
  web/src/components/toast-messages/index.tsx
  web/src/contexts/query-client-provider.tsx
  web/src/contexts/toast-context/index.tsx
  web/src/contexts/toast-context/toast-context.ts
  web/src/contexts/toast-context/toast-provider.tsx
  web/src/contexts/toast-context/use-toast.tsx
  web/src/index.tsx
  web/src/modules/deployment-change-failure-rate/index.test.ts
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.test.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/index.ts
  web/src/modules/insight/index.ts
  web/src/queries/application-counts/use-get-appliation-counts.tsx
  web/src/queries/applications/use-get-applications.tsx
  web/src/queries/insight/insight.config.ts
  web/src/queries/insight/use-insight-deployment-change-failure-rate-24h.tsx
  web/src/queries/insight/use-insight-deployment-change-failure-rate.tsx
  web/src/queries/insight/use-insight-deployment-frequency-24h.tsx
  web/src/queries/insight/use-insight-deployment-frequency.tsx
  web/src/queries/pipeds/use-get-pipeds.tsx
  web/src/utils/determine-time-range.ts
Labels: area/web

bump: sigs.k8s.io/yaml (#5975)
  go.mod
  go.sum
Labels: none

Replace redux modules/events with react-query
  web/src/components/event-status-icon/index.test.tsx
  web/src/components/event-status-icon/index.tsx
  web/src/components/events-page/event-filter/index.tsx
  web/src/components/events-page/event-item/index.tsx
  web/src/components/events-page/index.tsx
  web/src/modules/events/index.ts
  web/src/modules/index.ts
  web/src/queries/events/use-get-events-infinite.tsx
Labels: area/web

Rename live demo to playground (#5974)
  README.md
  docs/content/en/_index.html
Labels: none

fix: upgrade @tanstack/react-query-devtools from 4.36.1 to 4.39.1
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query from 4.36.1 to 4.39.1
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.36.1 to 4.39.1 (#5977)
  web/package.json
  web/yarn.lock
Labels: area/web

add index to ExecuteStageRequest
  pkg/plugin/sdk/deployment.go
Labels: area/go

scriptrun ported with rollback implementation
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/scriptrun/main.go
  pkg/app/pipedv1/plugin/scriptrun/options.go
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

fix: Report stage status even if the stage is cancelled
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

fix
  pkg/datastore/deploymentstore.go
Labels: area/go

Define METADATA_STAGE_DISPLAY_KEY
  pkg/constants/constants.go
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/constants/metadata-keys.ts
Labels: area/go, area/web
