Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add a caution comment of scrape_interval (#4869)
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

Rewrite pipectl installation docs
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Fix typo
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

Rewrite pipectl installation docs (#4877)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Fix typo (#4878)
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

Add tags to test data
  pkg/app/piped/platformprovider/ecs/testdata/new_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/old_servicedef.yaml
Labels: area/go

removed an unnecessary test case
  pkg/app/piped/platformprovider/ecs/diff_test.go
Labels: area/go

Clean comments, removing TODO
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/ecsmanifest.go
Labels: area/go

remove an unnecessary blank line in the test data
  pkg/app/piped/platformprovider/ecs/testdata/new_servicedef.yaml
Labels: area/go

Modify ApiVersion and Kind to apparent dummy
  pkg/app/piped/platformprovider/ecs/ecsmanifest.go
Labels: area/go

Add DiffStructs() for comparing non-k8s manifests
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Labels: area/go

removed unstructured.Unstructured from ECS
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/ecsmanifest.go
Labels: area/go

Separate DiffByCommand() to diff package
  pkg/diff/diffbycommand.go
Labels: area/go

Fix diff render output: split ServiceDef and TaskDef sections
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
Labels: area/go

Add a testcase to planpreview_test for ECS
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
Labels: area/go

Set initial-branch on git init
  pkg/git/client_test.go
Labels: area/go

Set initial-branch on git init (#4882)
  pkg/git/client_test.go
Labels: area/go

Update contributors list
  README.md
Labels: none

Update contributors list (#4883)
  README.md
Labels: none

Add Homebrew Formula
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Update default versions of kubectl, kustomize and helm in configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: none

Update default versions of kubectl, kustomize and helm in configuration-reference.md (#4884)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: none

Add Homebrew Formula (#4880)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Release v0.47.1
  RELEASE
Labels: none

Release v0.47.1 (#4889)
  RELEASE
Labels: none

[doc] Fix typo x2 in DeploymentChain (#4872)
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/deployment-chain.md
Labels: none

Support Canary & Blue/Green for ECS by `pipectl init` (#4801)
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-bluegreen.yaml
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-canary.yaml
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-empty.yaml
  pkg/config/application.go
  pkg/config/application_ecs.go
  pkg/config/percentage.go
Labels: area/go

Use valid semver in run/pipecd command (#4851)
  Makefile
Labels: area/build

Update contributors list (#4866)
  README.md
Labels: none

Fix unable to use SecretEncryption and Attachment features at the same time (#4855)
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/decrypter_test.go
  pkg/app/piped/sourceprocesser/sourceprocesser.go
  pkg/app/piped/sourceprocesser/sourceprocesser_test.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/driftdetector/cloudrun/detector.go
  pkg/app/pipedv1/driftdetector/kubernetes/detector.go
  pkg/app/pipedv1/driftdetector/terraform/detector.go
Labels: area/go

Rewrite pipectl installation docs (#4877)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Set initial-branch on git init (#4882)
  pkg/git/client_test.go
Labels: area/go

Add a caution comment of scrape_interval (#4869)
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

Update default versions of kubectl, kustomize and helm in configuration-reference.md (#4884)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: none

Fix typo (#4878)
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

docs: added install method (#4875)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Update contributors list (#4883)
  README.md
Labels: none

Add Homebrew Formula (#4880)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: none

Remove checking the resource key with the annotation because their generation logic are different
  pkg/app/piped/platformprovider/kubernetes/applier.go
Labels: area/go

rename func to distinguish the trigger of skip stage
  pkg/app/piped/executor/analysis/analysis.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
