Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Remove default error value for pipedPluginServicePort
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Implement initialization of piped service client in k8s plugin (#5387)
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/app/pipedv1/plugin/toolregistry/toolregistry.go
  pkg/plugin/pipedapi/client.go
Labels: area/go

Implement FindDeployTarget method to retrieve deploy target by name
  pkg/configv1/piped.go
Labels: area/go

Implement ensureK8sSyncStage
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Implement preparing manifest applier in kubernetes plugin (#5389)
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/configv1/piped.go
Labels: area/go

Refactor ExecuteStage method to include log persister and improve context cancellation handling
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Implement K8S_ROLLBACK stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Remove done TODO comment
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Using backoff Do instead of WaitNext function to avoid potential panic (#5388)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/trigger/cache.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/service/pipedservice/service.go
Labels: area/go

Update status of ECS deployments to Beta
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.50.x/feature-status/_index.md
Labels: none

Add signal handler for graceful termination and gRPC context cancellation
  pkg/plugin/signalhandler/handler.go
Labels: area/go

Handle termination signal in ExecuteStage to prevent marking log persister as completed
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Move the interceptor
  pkg/plugin/signalhandler/handler.go
  pkg/rpc/signal_interceptor.go
Labels: area/go

Add signal handling unary interceptor option to Server
  pkg/rpc/server.go
Labels: area/go

Add signal handling unary interceptor to server initialization
  pkg/rpc/server.go
Labels: area/go

Add signal handling unary interceptor to server run method
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Refactor ExecuteStage methods to return StageStatus instead of ExecuteStageResponse
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Update comments on ExecuteStage
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Update status of ECS deployments to Beta (#5391)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.50.x/feature-status/_index.md
Labels: none

Add comments to signal handler for clarity on termination signals
  pkg/plugin/signalhandler/handler.go
Labels: area/go

Implement rollback stage for kubernetes plugin (#5390)
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/plugin/signalhandler/handler.go
  pkg/rpc/server.go
  pkg/rpc/signal_interceptor.go
Labels: area/go

Add test
  go.mod
  go.sum
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/platformprovider/kubernetes/kubectl_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/configv1/control_plane.go
  pkg/configv1/control_plane_test.go
Labels: area/go

Update pipedv1 source code to use only configv1
  pkg/app/pipedv1/appconfigreporter/appconfigreporter.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/notifier/notifier.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment_chain.go
  pkg/app/pipedv1/trigger/determiner.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/configv1/application.go
  pkg/configv1/config.go
Labels: area/go

Fix tests
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api_test.go
Labels: area/go

Update pipedv1 source code to use only configv1 (#5392)
  pkg/app/pipedv1/appconfigreporter/appconfigreporter.go
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/notifier/notifier.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment_chain.go
  pkg/app/pipedv1/trigger/determiner.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/configv1/application.go
  pkg/configv1/config.go
Labels: area/go

PoC pipedv1 starts plugins
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/configv1/piped.go
Labels: area/go

change: use gcr.io/google.com/cloudsdktool/google-cloud-cli instead of google/clodu-sdk
  tool/firestore-emulator/Dockerfile
Labels: area/tool

Update chart dependencies
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
Labels: area/manifests

Follow the upstream changes
  manifests/pipecd/values.yaml
Labels: area/manifests

PoC pipedv1 starts plugins (#5394)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/configv1/piped.go
Labels: area/go

Update Grafana Tempo helm chart (#5396)
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

Add metrics_generator_processors config to manifest
  manifests/pipecd/values.yaml
Labels: area/manifests

Update lifecycle.DownloadBinary to work with local file
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

fix: add to setup build and qemu
  .github/workflows/build_tool.yaml
Labels: area/build

Update lifecycle.DownloadBinary to work with local file (#5398)
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Add metrics_generator_processors config to manifest (#5397)
  manifests/pipecd/values.yaml
Labels: area/manifests

Add setup-env config to Makefile
  Makefile
Labels: area/build

Use examples
  pkg/app/piped/executor/kubernetes/sync_test.go
Labels: area/go

Remove unused code
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
Labels: area/go

added arm64 build for piped-base and other images (#5395)
  .github/workflows/build_tool.yaml
  tool/firestore-emulator/Dockerfile
Labels: area/build, area/tool
