Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

docs: use ghcr images instead of gcr
  docs/content/en/docs-dev/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-v0.58.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.58.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.58.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.58.x/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/content/en/docs-v0.58.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.58.x/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-v1.0.x/user-guide/command-line-tool.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/event-watcher.md
Labels: none

use published helloworld image in event and drift examples
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.58.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.58.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v1.0.x/user-guide/command-line-tool.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

set default helloworld tag in local helm chart
  examples/v0/local-modules/helm-charts/helloworld/values.yaml
  examples/v1/local-modules/helm-charts/helloworld/values.yaml
Labels: area/examples

Examples: use ghcr helloworld image instead of gcr (#7414)
  examples/.pipe/event-watcher-using-regex.yaml
  examples/v0/cloudrun/analysis/service.yaml
  examples/v0/cloudrun/canary/service.yaml
  examples/v0/cloudrun/secret-management/service.yaml
  examples/v0/cloudrun/simple/service.yaml
  examples/v0/cloudrun/wait-approval/service.yaml
  examples/v0/kubernetes/helm-local-chart/values.yaml
  examples/v0/kubernetes/kustomize-local-base/kustomization.yaml
  examples/v0/kubernetes/script-run/deployment.yaml
  examples/v0/local-modules/helm-charts/helloworld/values.yaml
  examples/v0/local-modules/kustomize-bases/helloworld/deployment.yaml
  examples/v1/kubernetes/helm-local-chart/values.yaml
  examples/v1/local-modules/helm-charts/helloworld/values.yaml
Labels: area/examples

Update expected grpc version in rpc test to 1.84.0
  pkg/rpc/grpc_test.go
Labels: area/go

Docs: use ghcr images instead of gcr (#7415)
  docs/content/en/docs-dev/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-v0.58.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v0.58.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.58.x/user-guide/event-watcher.md
  docs/content/en/docs-v0.58.x/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/content/en/docs-v0.58.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.58.x/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-v1.0.x/user-guide/command-line-tool.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/event-watcher.md
Labels: none

add firestore-backed application datastore integration test (#7077)
  test/integration/datastore/firestore/application_test.go
Labels: none

Bump Go toolchain to 1.27.1 and pin it with the toolchain directive
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/plugin_release.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  .github/workflows/test.yaml
  Makefile
  cmd/controlplane/Dockerfile
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  cmd/pipedv1/Dockerfile
  docs/Dockerfile
  go.mod
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/go, area/build, area/tool

Record the grandchild's own pid in the cancel test
  pkg/app/pipedv1/plugin/scriptrun/plugin_cancel_test.go
Labels: area/go

Bump dockertest to v3.12.0 and docker/cli to v29.8.1 to drop the vulnerable docker modules
  go.mod
  go.sum
Labels: none

Bump go-jose and x/net in actions-plan-preview to their patched versions
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

Fix CodeQL findings on integer conversions, regex escaping and external links
  docs/layouts/partials/footer.html
  docs/layouts/partials/page-meta-links.html
  pkg/config/percentage.go
  pkg/plugin/sdk/unit/percentage.go
  tool/actions-plan-preview/github.go
  web/src/constants/project.ts
Labels: area/go, area/web, area/tool

Bump vulnerable transitive npm dependencies within their ranges
  web/yarn.lock
Labels: area/web

docs: add community contributor ladder guidelines (#6548)
  docs/content/en/docs-dev/contribution-guidelines/contributor-ladder.md
Labels: none

Fix CodeQL findings on integer conversions, regex escaping and external links (#7420)
  docs/layouts/partials/footer.html
  docs/layouts/partials/page-meta-links.html
  pkg/config/percentage.go
  pkg/plugin/sdk/unit/percentage.go
  tool/actions-plan-preview/github.go
  web/src/constants/project.ts
Labels: area/go, area/web, area/tool

Bump copy-webpack-plugin to fix serialize-javascript vulnerabilities
  web/package.json
  web/yarn.lock
Labels: area/web

Adapt Datadog and Prometheus providers and tests to the bumped dependencies
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/piped/analysisprovider/metrics/prometheus/fake_client.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/yamlprocessor/yamlprocessor_test.go
  test/integration/filestore/gcs/gcs_test.go
Labels: area/go

Bump the go-minor-patch group dependencies across 13 directories
  go.mod
  go.sum
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.sum
  pkg/app/pipedv1/plugin/ecs/go.mod
  pkg/app/pipedv1/plugin/ecs/go.sum
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/go, area/tool

Validate the post-login redirect path and only link http(s) commit URLs in traces
  web/src/__fixtures__/dummy-deployment-trace.ts
  web/src/components/deployment-trace-page/deployment-trace-item/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
  web/src/routes.tsx
  web/src/utils/safe-url.test.ts
  web/src/utils/safe-url.ts
Labels: area/web

fix(oci): skip pkg/oci tests gracefully when Docker is unavailable (#7008)
  pkg/oci/main_test.go
Labels: area/go

fix(oci): restrict docker skip condition
  pkg/oci/main_test.go
Labels: area/go

Bump some dependencies to address security alert (#7421)
  go.mod
  go.sum
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

fix(oci): restore license header and restrict NewPool skip
  pkg/oci/main_test.go
Labels: area/go

Remove unused code-butler workflow
  .github/ci.md
  .github/workflows/code-butler.yaml
Labels: area/build

Escape all regex metacharacters when building POLICIES_STRING_REGEX
  web/src/constants/project.ts
Labels: area/web

Bump otlptrace exporters to v1.45.0
  go.mod
  go.sum
Labels: none

Use strconv.Atoi to parse percentage in configv1 (#7434)
  pkg/configv1/percentage.go
Labels: area/go

Bump copy-webpack-plugin to fix serialize-javascript vulnerabilities (#7423)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: avoid panic on missing application spec during migration (#6983)
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/application_config_test.go
Labels: area/go

Replace github.com/pkg/errors with fmt.Errorf in pipectl deployment list (#7430)
  go.mod
  pkg/app/pipectl/cmd/deployment/list.go
Labels: area/go

Bump vulnerable transitive npm dependencies within their ranges (#7422)
  web/yarn.lock
Labels: area/web

fix(pkg/cache/memorycache): evict expired entries on TTLCache.Get (#7398)
  pkg/cache/memorycache/ttl_cache.go
Labels: area/go

Add the license header to the new test file
  pkg/app/pipectl/cmd/migrate/malformed_config_test.go
Labels: area/go

Reuse the checked kind in the unsupported-kind branch
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go

Report a malformed config instead of panicking in pipectl migrate
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/malformed_config_test.go
Labels: area/go

Document HTTP analysis response matching
  docs/content/en/docs-v1.0.x/plugins/official/analysis.md
Labels: none

Preserve legacy event watcher configuration
  .gitignore
  pkg/config/application.go
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go

Add empty input coverage for Firestore indexes
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: area/go

Add a plan preview test for per-target kustomize directories
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/running/base/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/running/base/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/running/overlays/cluster1/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/running/overlays/cluster2/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/target/base/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/target/base/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/target/overlays/cluster1/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/testdata/kustomize/target/overlays/cluster2/kustomization.yaml
Labels: area/go

Apply per-target kustomize settings to the multicluster plan preview
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/planpreview/plugin_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
