Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update configuration-drift-detection.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

add workflow to auto assign author to the opened PR
  .github/workflows/auto-assign-pr.yaml
Labels: area/build

Add Dependabot config
  .github/dependabot.yml
Labels: area/build

remove qemu step and use arm runner (#6403)
  .github/workflows/build_tool.yaml
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

fixed formatting
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Enchance wording
  docs/content/en/docs-v1.0.x/user-guide/managing-application/secret-management.md
Labels: none

docs: update contributing plugins guide with configuration examples and resource links
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
Labels: none

Add community engagement section to contributing guidelines
  docs/content/en/docs-dev/contribution-guidelines/contributing-to-pipecd.md
Labels: none

blog: add guide on how to set up local development environment
  docs/content/en/blog/local-setup-contributor-guide.md
  docs/content/en/docs-dev/contribution-guidelines/contributing-blogs.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-blogs.md
Labels: none

added unit test
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
Labels: area/go

test(ci): add comment to trigger build_tool workflow
  tool/piped-base/Dockerfile
Labels: area/tool

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Add references section to CI documentation
  docs/content/en/docs-v1.0.x/development/ci.md
Labels: none

remove extra <br>
  docs/content/en/docs-v1.0.x/development/ci.md
Labels: none

Reorganize community section in contributing guidelines
  docs/content/en/docs-dev/contribution-guidelines/contributing-to-pipecd.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing.md
Labels: none

removed lambda fuction
  docs/content/en/docs-v1.0.x/user-guide/managing-application/secret-management.md
Labels: none

page revamp
  docs/content/en/docs-v1.0.x/user-guide/managing-application/deployment-trace.md
Labels: none

ADD userguide/managingApp/triggering-a-deployment (#6400)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/triggering-a-deployment.md
Labels: none

docs: add CI overview and link from contributing guide (#6406)
  CONTRIBUTING.md
  docs/content/en/docs-v1.0.x/development/ci.md
Labels: none

add cancelling-a- deployment reference
  docs/content/en/docs-v1.0.x/user-guide/managing-application/rolling-back-a-deployment.md
Labels: none

Update docs/content/en/blog/local-setup-contributor-guide.md
  docs/content/en/blog/local-setup-contributor-guide.md
Labels: none

Update docs/content/en/blog/local-setup-contributor-guide.md
  docs/content/en/blog/local-setup-contributor-guide.md
Labels: none

revise deployment-trace.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/deployment-trace.md
Labels: none

added duplciate-check:
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/api_test.go
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: area/go

Remove handling for disabled projects
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Update docs/content/en/blog/local-setup-contributor-guide.md
  docs/content/en/blog/local-setup-contributor-guide.md
Labels: none

merge architectural-overview into concepts
  docs/content/en/docs-v1.0.x/concepts/_index.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/architectural-overview.md
Labels: none

fix: gen issue
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go

Update docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
Labels: none

Update docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins.md
Labels: none

remove isolated line
  docs/content/en/docs-v1.0.x/concepts/_index.md
Labels: none

Add contributing guidelines for PipeCD
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-to-pipecd.md
Labels: none

feat: add dependabot configuration for gomod updates
  .github/dependabot.yml
Labels: area/build

Add govulncheck job to lint workflow and fix matrix job result syntax
  .github/dependabot.yml
  .github/workflows/lint.yaml
Labels: area/build

fix image path and spelling mistakes
  docs/content/en/docs-v1.0.x/user-guide/managing-application/adding-an-application.md
Labels: none

fix image path and spelling mistakes (#6437)
  docs/content/en/docs-v1.0.x/user-guide/managing-application/adding-an-application.md
Labels: none

Add userguide/managingApp/customizing-deployment
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/custom-sync.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

readability and spelling changes
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/custom-sync.md
  docs/content/en/docs-v1.0.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Enhance first-time contributor welcome message
  .github/workflows/first-time-contributor.yaml
Labels: area/build
