Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

fix description of apiAddress (#4064)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuration-reference.md
Labels: none

Update the codeql analysis schedule
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Update the codeql analysis schedule (#4065)
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Make it possible to run the codeql workflow manually
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Make it possible to run the codeql workflow manually (#4066)
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Update the codeql actoins to v2
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Update the codeql actoins to v2 (#4067)
  .github/workflows/codeql-analysis.yaml
Labels: area/build

Add the log for detecting pruned manifest
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/sync.go
Labels: area/go

Add the log for loaded live resource
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/sync.go
Labels: area/go

Better time range based on step to request Insights data
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/web

Fix lints
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/web

Better time range based on step to request Insights data (#4069)
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/web

Add the log for detecting pruned manifest (#4068)
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/sync.go
Labels: area/go

Update insights doc
  docs/content/en/docs-dev/user-guide/insights.md
  docs/static/images/insights.png
Labels: none

Update insights doc (#4070)
  docs/content/en/docs-dev/user-guide/insights.md
  docs/static/images/insights.png
Labels: none

Introduce Insights feature
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/grpcapi/web_api.go
  pkg/config/control_plane.go
Labels: area/go

Fix type of enabled field
  pkg/app/ops/insightcollector/collector.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
Labels: area/go

Introduce Insights feature (#4071)
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/ops/insightcollector/collector.go
  pkg/app/server/grpcapi/web_api.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
Labels: area/go

Fix app live resource lister wrong attribute
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

Update pull request template (#4073)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

Fix app live resource lister wrong attribute (#4072)
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

Ensure newly created revision is ready to receive traffic before exiting CloudRun stage
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
Labels: area/go

Fix up
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: area/go

Fix up
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: area/go

Ensure newly created revision is ready to receive traffic before going to the next stage (#4074)
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
Labels: area/go

Fix application store listBy method
  pkg/app/piped/apistore/applicationstore/store.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatereporter/reporter.go
Labels: area/go

Fix application store listBy method (#4075)
  pkg/app/piped/apistore/applicationstore/store.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatereporter/reporter.go
Labels: area/go

Add --include-crds option to include CRDS for helm
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

Add --include-crds option to include CRDS for helm (#4077)
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

Rename Insighs step to resolution
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/insight/provider.go
  pkg/insight/provider_test.go
  pkg/model/insight.pb.go
  pkg/model/insight.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/insight_pb.d.ts
  web/model/insight_pb.js
  web/src/api/insight.ts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/go, area/web

Rename Insighs step to resolution (#4078)
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/insight/provider.go
  pkg/insight/provider_test.go
  pkg/model/insight.pb.go
  pkg/model/insight.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/insight_pb.d.ts
  web/model/insight_pb.js
  web/src/api/insight.ts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/go, area/web

Rename symbol cloudProvider to platformProvider
  pkg/app/piped/controller/controller.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/datastore/applicationstore.go
Labels: area/go

Support Cloud Run application for planpreview
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Add copyright info
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Rename symbol cloudProvider to platformProvider (#4080)
  pkg/app/piped/controller/controller.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/datastore/applicationstore.go
Labels: area/go

Support setting kubectlVersion via piped config
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/config/piped.go
Labels: area/go

Remove unused docs
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
Labels: none

Support Cloud Run application for planpreview (#4079)
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

Remove unused docs (#4082)
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
Labels: none
