Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

fix: tool/piped-base/Dockerfile to reduce vulnerabilities
  tool/piped-base/Dockerfile
Labels: area/tool

fix: cmd/pipectl/Dockerfile to reduce vulnerabilities
  cmd/pipectl/Dockerfile
Labels: area/go

fix: cmd/helloworld/Dockerfile to reduce vulnerabilities
  cmd/helloworld/Dockerfile
Labels: area/go

fix: docs/Dockerfile to reduce vulnerabilities
  docs/Dockerfile
Labels: none

Update sdk version for wait plugin (#6283)
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
  pkg/app/pipedv1/plugin/wait/wait.go
Labels: area/go

Update sdk version for terraform plugin (#6284)
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/provider/initialize.go
Labels: area/go

Update last name of a maintainer from "Sawada" to "Sawada-Dazai"
  MAINTAINERS.md
  SECURITY.md
Labels: none

Update last name of a maintainer from "Sawada" to "Sawada-Dazai" (#6290)
  MAINTAINERS.md
  SECURITY.md
Labels: none

Remove dev environment update trigger
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Update event comment reflect change on dev environment
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Update event comment reflect change on dev environment (#6292)
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Release version v0.54.3
  RELEASE
Labels: none

Release version v0.54.3 (#6293)
  RELEASE
Labels: none

Revert "Release version v0.54.3 (#6293)"
  RELEASE
Labels: none

Revert "Release version v0.54.3 (#6293)"
  RELEASE
Labels: none

Revert "Release version v0.54.3 (#6293)" (#6296)
  RELEASE
Labels: none

assign BUILD_VERSION env variable to PIPECD_VERSION for web
  web/package.json
Labels: area/web

unify to BUILD_VERSION
  Makefile
Labels: area/build

RFC for cancel plan preview command
  docs/rfcs/0020-cancel-plan-preview.md
Labels: none

RFC for cancel plan preview command (#6244)
  docs/rfcs/0020-cancel-plan-preview.md
Labels: none

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

docs/ add-v0-to-v1-migrating-doc
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

Docs/fix typos
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

Fix deadlock on stage report command handled execution
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/apistore/commandstore/store_test.go
Labels: area/go

Fix deadlock on stage report command handled execution (#6302)
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/apistore/commandstore/store_test.go
Labels: area/go

Implement health state for replica set
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

Implement health state for replica set (#6303)
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go

Update docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

Pass BUILD_VERSION in pipedv1 workflow
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Pass BUILD_VERSION in pipedv1 workflow (#6305)
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

update migratingv0-v1/index.md
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

update/index.md
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

fix: ensure piped plugins display correct version information
  Makefile
Labels: area/build

fix: ensure plugin version info is injected in workflow builds
  .github/workflows/plugin_release.yaml
Labels: area/build

Fix plugin version showing unspecified
  .github/workflows/plugin_release.yaml
  Makefile
Labels: area/build

Fix plugin version showing unspecified (#6307)
  .github/workflows/plugin_release.yaml
  Makefile
Labels: area/build

Update docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

update /migratev1-v0
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none

Update docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
  docs/content/en/docs-dev/migrating-from-v0-to-v1/_index.md
Labels: none
