Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

fix func-name, log, loadConfig()
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

ignore some fields
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

fix: upgrade google-protobuf from 3.21.0 to 3.21.4
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade redux-thunk from 2.4.1 to 2.4.2
  web/package.json
  web/yarn.lock
Labels: area/web

ignore pendingCount
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

change the order of managing-piped, managing-controlplane
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/insights.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/_index.md
  docs/content/en/docs-dev/user-guide/managing-piped/_index.md
  docs/content/en/docs-dev/user-guide/plan-preview.md
Labels: none

fix: upgrade react-markdown from 6.0.2 to 6.0.3
  web/package.json
  web/yarn.lock
Labels: area/web

change the order of managing-piped, managing-controlplane (#5119)
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/insights.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/_index.md
  docs/content/en/docs-dev/user-guide/managing-piped/_index.md
  docs/content/en/docs-dev/user-guide/plan-preview.md
Labels: none

rename to ignoreParameters() because `ignoreFields` is used in pipecd's config
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities
  tool/actions-gh-release/Dockerfile
Labels: area/tool

add note: `ignoreFields` is available for only K8sApp
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.44.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
Labels: none

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities (#5118)
  tool/actions-gh-release/Dockerfile
Labels: area/tool

add prerequisites: OnOutOfSync.disabled=false
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

fix duplicated
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

fix default
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Remove deprecated EventWatcher code
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/config/config.go
  pkg/config/event_watcher.go
  pkg/config/event_watcher_test.go
  pkg/config/testdata/.pipe/event-watcher.yaml
Labels: area/go

remove docs of the deprecated EventWatcher
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
Labels: none

Remove piped config bytes from planner pipedv1
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
Labels: area/go

Remove piped config bytes from planner pipedv1 (#5121)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
Labels: area/go

link to `trigger-configuration`
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

fix
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/configuration-drift-detection.md
Labels: none

Changed the data and left TBA
  docs/content/en/blog/pipecd-at-kubecon-hongkong-2024.md
Labels: none

[blog] Add a blog of KubeCon HongKong 2024 (#5123)
  docs/content/en/blog/pipecd-at-kubecon-hongkong-2024.md
Labels: none

Add rfc for k8s multi cluster deployment (#5069)
  docs/rfcs/0014-multi-cluster-deployment-for-k8s.md
  docs/rfcs/assets/0014-choose-multiple-providers.png
  docs/rfcs/assets/0014-piped-list.png
  docs/rfcs/assets/0014-pipeline-already-implemented.png
  docs/rfcs/assets/0014-pipeline-image.png
  docs/rfcs/assets/0014-pipeline-paralell-stage.png
  docs/rfcs/assets/0014-pipeline-sync-app-stage-01.png
  docs/rfcs/assets/0014-pipeline-sync-app-stage-02.png
  docs/rfcs/assets/0014-stage-log.png
Labels: none

fix: tool/codegen/Dockerfile to reduce vulnerabilities
  tool/codegen/Dockerfile
Labels: area/tool

fix: upgrade dayjs from 1.8.28 to 1.11.12
  web/package.json
  web/yarn.lock
Labels: area/web

Explain the builtin commands and the separating script for script run stage
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

fix: upgrade dayjs from 1.8.28 to 1.11.12
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade redux-thunk from 2.4.1 to 2.4.2
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade google-protobuf from 3.21.0 to 3.21.4
  web/package.json
  web/yarn.lock
Labels: area/web

Fix the description for the usecase when we want to use any commands
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Remove labels
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

Fix spell
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/customizing-deployment/script-run.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: none

fix: upgrade google-protobuf from 3.21.0 to 3.21.4 (#5115)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade dayjs from 1.8.28 to 1.11.12 (#5126)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade react-markdown from 6.0.2 to 6.0.3 (#5116)
  web/package.json
  web/yarn.lock
Labels: area/web

Update RELEASE to v0.48.5
  RELEASE
Labels: none

Add docs for app-manifest-cache-count
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/runtime-options.md
Labels: none

Add docs for app-manifest-cache-count (#5131)
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-v0.48.x/user-guide/managing-piped/runtime-options.md
Labels: none

Update RELEASE to v0.48.5 (#5130)
  RELEASE
Labels: none
