Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: area/go

Update pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: area/go

Fix not to return error when the data point of metrics was empty (#3663)
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer_test.go
Labels: area/go

Enable to load Helm chart in the private OCI registry (#3643)
  docs/content/en/docs-dev/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Add minio-checker and mysql-checker as initContainer
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Fix to add project rbac policies to the user claim
  pkg/model/project.go
  pkg/model/role.pb.go
  pkg/model/role.pb.validate.go
  pkg/model/role.proto
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
  web/model/role_pb.d.ts
  web/model/role_pb.js
Labels: area/go, area/web

Update to use Helm values
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

Remove the check whether the response of QueryPoints is empty or not
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
Labels: area/go

Upgrade workflows to use actions/checkout@v3
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tag.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

Update helm chart not to render `initContainer` field when quickstart option is disabled
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Add link to the PipeCD GitHub repository at the Header
  web/src/components/header/index.tsx
Labels: area/web

Automatically assign reviewers for all pull requests
  CODEOWNERS
Labels: none

Remove the check whether the response of QueryPoints is empty or not (#3667)
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
Labels: area/go

Automatically assign reviewers for all pull requests (#3670)
  CODEOWNERS
Labels: none

Upgrade workflows to use actions/checkout@v3 (#3668)
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tag.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

Add a workflow to sync examples repository
  .github/workflows/sync.yaml
Labels: area/build

Fix on
  .github/workflows/sync.yaml
Labels: area/build

WIP
  .github/workflows/sync.yaml
Labels: area/build

WIP
  .github/workflows/sync.yaml
  examples/README.md
  examples/README.remote.md
Labels: area/build, area/examples

Merge minio-checker and mysql-checker to dep-waiter
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

Fix label
  web/src/components/header/index.tsx
Labels: area/web

WIP
  .github/workflows/sync.yaml
Labels: area/build

Add link to the PipeCD GitHub repository at the Header (#3672)
  web/src/components/header/index.tsx
Labels: area/web

WIP
  .github/workflows/sync.yaml
  examples/.github/workflows/plan-preview.yaml
  examples/CODEOWNERS
Labels: area/build, area/examples

Add init container to avoid CrashLoopBackOff error on quickstart mode (#3669)
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

Add LICENSE
  examples/LICENSE
Labels: area/examples

WIP
  .github/workflows/sync.yaml
Labels: area/build

Add json tag to `PipedSpec` config
  pkg/config/piped.go
Labels: area/go

Release v0.31.1
  docs/content/en/blog/releases/v0.31.1.md
  release/RELEASE
Labels: none

Update docs
  docs/content/en/docs-v0.31.x/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-v0.31.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
Labels: none

Update docs order
  docs/config.toml
Labels: none

Remove unused tag
  pkg/config/piped.go
Labels: area/go

Update to use codegen v0.32.0
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Auto read the version from release file
  Makefile
Labels: area/build

Update to use codegen v0.32.0 (#3676)
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Add feature to mask confidential fields in piped spec config
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
Labels: area/go

Add mask method to ChartRegistry type
  pkg/config/piped.go
Labels: area/go

Fix bug
  pkg/config/piped.go
Labels: area/go

Add Mask method
  pkg/config/piped.go
Labels: area/go

Add unit test to verify Mask method
  pkg/config/piped_test.go
Labels: area/go
