Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Remove order for stages in case of quick sync (#5292)
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

Implement TemplateLocalChart with helm
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
Labels: area/go

Copy testdata for helm test
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/.helmignore
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/Chart.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/NOTES.txt
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/_helpers.tpl
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/hpa.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/ingress.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/serviceaccount.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/tests/test-connection.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/values.yaml
Labels: area/go

Add helm test
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
Labels: area/go

Add contexts to the RegisterEventRequest
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

Store event context in Control Plane
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/server/grpcapi/api.go
Labels: area/go

Add trailers when commiting on event watcher
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/git/repo.go
Labels: area/go

Add contexts to model.Event
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/go, area/web

Fix for failed build
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Add event context (#5295)
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/go, area/web

Implement TemplateLocalChart with helm (#5294)
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/.helmignore
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/Chart.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/NOTES.txt
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/_helpers.tpl
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/hpa.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/ingress.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/serviceaccount.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/tests/test-connection.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/values.yaml
Labels: area/go

Copy almost of pkg/diff to under the plugin package
  pkg/app/pipedv1/plugin/diff/diff.go
  pkg/app/pipedv1/plugin/diff/diff_test.go
  pkg/app/pipedv1/plugin/diff/renderer.go
  pkg/app/pipedv1/plugin/diff/renderer_test.go
  pkg/app/pipedv1/plugin/diff/result.go
  pkg/app/pipedv1/plugin/diff/result_test.go
  pkg/app/pipedv1/plugin/diff/testdata/complex-node.yaml
  pkg/app/pipedv1/plugin/diff/testdata/has_diff.yaml
  pkg/app/pipedv1/plugin/diff/testdata/ignore_adding_map_keys.yaml
  pkg/app/pipedv1/plugin/diff/testdata/no_diff.yaml
Labels: area/go

Move pkg/app/pipedv1/plugin/diff to pkg/plugin/diff
  pkg/plugin/diff/diff.go
  pkg/plugin/diff/diff_test.go
  pkg/plugin/diff/renderer.go
  pkg/plugin/diff/renderer_test.go
  pkg/plugin/diff/result.go
  pkg/plugin/diff/result_test.go
  pkg/plugin/diff/testdata/complex-node.yaml
  pkg/plugin/diff/testdata/has_diff.yaml
  pkg/plugin/diff/testdata/ignore_adding_map_keys.yaml
  pkg/plugin/diff/testdata/no_diff.yaml
Labels: area/go

Copy pkg/diff to pkg/plugin/diff except DiffStructureds and RenderByCommand (#5297)
  pkg/plugin/diff/diff.go
  pkg/plugin/diff/diff_test.go
  pkg/plugin/diff/renderer.go
  pkg/plugin/diff/renderer_test.go
  pkg/plugin/diff/result.go
  pkg/plugin/diff/result_test.go
  pkg/plugin/diff/testdata/complex-node.yaml
  pkg/plugin/diff/testdata/has_diff.yaml
  pkg/plugin/diff/testdata/ignore_adding_map_keys.yaml
  pkg/plugin/diff/testdata/no_diff.yaml
Labels: area/go

Implement k8s manifest diff
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Implement k8s manifest diff (#5298)
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Add docs for pipectl event register --contexts on the event watcher usage page
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/static/images/event-watcher-contexts.png
Labels: none

Fix docs
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
Labels: none

Fix command
  docs/content/en/docs-dev/user-guide/event-watcher.md
Labels: none

Add docs for pipectl event register --contexts on the event watcher usage page (#5299)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/static/images/event-watcher-contexts.png
Labels: none

Remove Compatibilities from ecs taskdef examples
  examples/ecs/attachment/taskdef.yaml
  examples/ecs/bluegreen/taskdef.yaml
  examples/ecs/canary/taskdef.yaml
  examples/ecs/secret-management/taskdef.yaml
  examples/ecs/servicediscovery/canary/taskdef.yaml
  examples/ecs/servicediscovery/simple/taskdef.yaml
  examples/ecs/simple/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

Remove Compatibilities from ecs taskdef examples (#5301)
  examples/ecs/attachment/taskdef.yaml
  examples/ecs/bluegreen/taskdef.yaml
  examples/ecs/canary/taskdef.yaml
  examples/ecs/secret-management/taskdef.yaml
  examples/ecs/servicediscovery/canary/taskdef.yaml
  examples/ecs/servicediscovery/simple/taskdef.yaml
  examples/ecs/simple/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

Clone manifests not to modify original manifests
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

Make configv1.Config generic type
  pkg/app/pipedv1/controller/planner.go
  pkg/configv1/analysis_template.go
  pkg/configv1/application_test.go
  pkg/configv1/config.go
  pkg/configv1/control_plane_test.go
  pkg/configv1/event_watcher.go
  pkg/configv1/piped_test.go
Labels: area/go

Make configv1.Config generic type (#5302)
  pkg/app/pipedv1/controller/planner.go
  pkg/configv1/analysis_template.go
  pkg/configv1/application_test.go
  pkg/configv1/config.go
  pkg/configv1/control_plane_test.go
  pkg/configv1/event_watcher.go
  pkg/configv1/piped_test.go
Labels: area/go

Add tests for pipedv1 executor package
  pkg/app/pipedv1/executor/executor.go
  pkg/app/pipedv1/executor/executor_test.go
  pkg/app/pipedv1/executor/stopsignal_test.go
Labels: area/go

Update test logic
  pkg/app/pipedv1/executor/executor_test.go
Labels: area/go

Add tests for pipedv1 executor package (#5303)
  pkg/app/pipedv1/executor/executor.go
  pkg/app/pipedv1/executor/executor_test.go
  pkg/app/pipedv1/executor/stopsignal_test.go
Labels: area/go

Add findUpdatedWorkloads function
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

[bot] Update contributors
  README.md
Labels: none

Clone manifests not to modify original manifests (#5306)
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

Lambda: clone manifests not to modify original manifests
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: area/go

Add findUpdatedWorkloads function (#5304)
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Add execute stage interface to deployment service api
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
Labels: area/go

Add execute stage interface to deployment service api (#5309)
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
Labels: area/go

Lambda: clone manifests not to modify original manifests (#5308)
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: area/go

Refinement and remove unused
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/executor.go
Labels: area/go

fix: skip push if no diff exist
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

modify message
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

refactor: use noChange variable
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
