Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update codegen version to support quickstart
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go, area/build

Update codegen version to support quickstart (#3886)
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go, area/build

Fix GetProject to set built-in RBAC
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/project.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
Labels: area/go, area/web

Remove GetAllProjectUserGroups and GetAllProjectRBACRoles
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/projectstore.go
  pkg/model/project.go
  pkg/model/project_test.go
  tool/codegen/protoc-gen-auth/file.go
Labels: area/go, area/tool

Generate service.pb.auth.go file by codegen
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/oauth/github/github.go
Labels: area/go

Fix the return value
  pkg/datastore/projectstore.go
  pkg/model/project.go
  pkg/model/project_test.go
Labels: area/go

Fix GetProject to set built-in RBAC (#3887)
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/projectstore.go
  pkg/model/project.go
  pkg/model/project_test.go
  pkg/oauth/github/github.go
  tool/codegen/protoc-gen-auth/file.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
Labels: area/go, area/web, area/tool

Update codegen version
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Update codegen version (#3889)
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Update google-protobuf version
  web/package.json
  web/yarn.lock
Labels: area/web

Update google-protobuf version (#3890)
  web/package.json
  web/yarn.lock
Labels: area/web

Define some RBAC gRPCs
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web

Fix group titles in docs
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
Labels: none

Fix broken links
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/terraform.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-an-analysis-provider.md
Labels: none

Fix group titles in docs (#3895)
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/terraform.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-an-analysis-provider.md
Labels: none

Update reflect docs-dev changed
  docs/content/en/docs-v0.36.x/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/defining-app-configuration/terraform.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/adding-an-analysis-provider.md
  docs/content/en/docs/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs/user-guide/managing-application/customizing-deployment/_index.md
  docs/content/en/docs/user-guide/managing-application/customizing-deployment/adding-a-manual-approval.md
  docs/content/en/docs/user-guide/managing-application/customizing-deployment/adding-a-wait-stage.md
  docs/content/en/docs/user-guide/managing-application/customizing-deployment/automated-deployment-analysis.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs/user-guide/managing-application/defining-app-configuration/terraform.md
  docs/content/en/docs/user-guide/managing-piped/adding-an-analysis-provider.md
Labels: none

Fix some points from reviews
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
Labels: area/go

Fix links in docs
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs/user-guide/managing-application/adding-an-application.md
Labels: none

Fix links in docs (#3896)
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-v0.36.x/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs/user-guide/managing-application/adding-an-application.md
Labels: none

Wrap an error with gRPCEntityOperationError
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Rollback unnecessary changes
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Define some RBAC gRPCs (#3894)
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web

Release v0.37.0
  RELEASE
  docs/content/en/blog/releases/v0.37.0.md
Labels: none

Fix the release note
  docs/content/en/blog/releases/v0.37.0.md
Labels: none

Fix the release note
  docs/content/en/blog/releases/v0.37.0.md
Labels: none

Release v0.37.0
  RELEASE
  docs/content/en/blog/releases/v0.37.0.md
Labels: none

Fix the release note
  docs/content/en/blog/releases/v0.37.0.md
Labels: none

Fix the release note
  docs/content/en/blog/releases/v0.37.0.md
Labels: none

Fix gRPCEntityOperationError to handle the error for filestore
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Fix to use gRPCStoreError
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Fix to use gRPCStoreError in web API
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/piped_api.go
Labels: area/go

Update pkg/app/server/grpcapi/web_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Update pkg/app/server/grpcapi/web_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Rename gRPCEntityOperationError to gRPCStoreError (#3897)
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Rename application details section cloudprovider to platformprovider
  web/src/__fixtures__/dummy-application.ts
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

Rename application details section cloudprovider to platformprovider (#3900)
  web/src/__fixtures__/dummy-application.ts
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

Fix long artifact versions showing on application detail page
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

Fix long artifact versions showing on application detail page (#3901)
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

Add sprig functions to sealed secret
  go.mod
  go.sum
  pkg/config/sealed_secret.go
  pkg/config/sealed_secret_test.go
Labels: area/go

Make it possible to skip following stages when plan result is no changes
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/config/application_terraform.go
  pkg/config/application_terraform_test.go
  pkg/config/testdata/application/terraform-app-with-exit.yaml
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/go, area/web

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
