Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add comment of Layers
  pkg/app/piped/platformprovider/lambda/function.go
Labels: area/go

Add comment of Layers
  pkg/app/piped/platformprovider/lambda/function.go
Labels: area/go

Add docs of lambda layers configuration
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
Labels: none

Fix the title to 'Note'
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: none

Fix missing DataStore.type: FILEDB
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/managing-controlplane/configuration-reference.md
Labels: none

Use repository settings from piped config
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/planpreview/builder.go
Labels: area/go

override repository when creating deployment
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Fix status of PlanPreview for ECS: dev and latest
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
Labels: none

Fix status of PlanPreview for ECS: older versions
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
Labels: none

Fix status of PlanPreview for Lambda: dev and latest
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
Labels: none

Fix status of PlanPreview for Lambda: older versions
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
Labels: none

[doc] Fix the status of Plan Preview for ECS (#4817)
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
Labels: none

Update BuldPlan API for piped pluggin
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.go
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.validate.go
  pkg/app/pipedv1/pluggin/applicationkind/api/api.proto
Labels: area/go

Update BuldPlan API for piped pluggin (#4821)
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.go
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.validate.go
  pkg/app/pipedv1/pluggin/applicationkind/api/api.proto
Labels: area/go

Add blog: control-plane-on-local
  docs/content/en/blog/control-plane-on-local.md
  docs/static/images/control-plane-local-console.png
Labels: none

Add example of control plane locally by docker-compose
  examples/control-plane/local-by-docker-compose/docker-compose.yaml
  examples/control-plane/local-by-docker-compose/volume/envoy/envoy-config.yaml
  examples/control-plane/local-by-docker-compose/volume/pipecd-config/control-plane-config.yaml
  examples/control-plane/local-by-docker-compose/volume/pipecd-secret/encryption-key
  examples/control-plane/local-by-docker-compose/volume/pipecd-secret/minio-access-key
  examples/control-plane/local-by-docker-compose/volume/pipecd-secret/minio-secret-key
Labels: area/examples

Add README.md for control-plane-local
  examples/control-plane/local-by-docker-compose/README.md
Labels: area/examples

Clearer explanation
  docs/content/en/blog/control-plane-on-local.md
Labels: none

Add ref to the example
  docs/content/en/blog/control-plane-on-local.md
Labels: none

Add description
  docs/content/en/blog/control-plane-on-local.md
Labels: none

Update controller to use new planner logic
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/pluggin/applicationkind/api/client.go
Labels: area/go

Relocate plugin proto
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.go
  pkg/plugin/platform/api/api.pb.go
  pkg/plugin/platform/api/api.pb.validate.go
  pkg/plugin/platform/api/api.proto
  pkg/plugin/platform/api/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Rename package
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  pkg/plugin/platform/api/api.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Relocate plugin proto (#4826)
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

Update proto path
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
Labels: area/go

Fix typo
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/plugin/api/v1alpha1/platform/client.go
Labels: area/go

Fix typo
  pkg/app/pipedv1/controller/planner.go
Labels: area/go

Add doc of health-check: dev
  docs/content/en/docs-dev/user-guide/metrics.md
Labels: none

Add doc of health-check: latest
  docs/content/en/docs-v0.46.x/user-guide/metrics.md
Labels: none

Add doc of Runtime Options
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
Labels: none

Add doc of Runtime Options: v0.46.0
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/runtime-options.md
Labels: none

Add link to each README.md of pipecd,piped
  CONTRIBUTING.md
Labels: none

Add link to each README.md of web,docs
  CONTRIBUTING.md
Labels: none

Fix directory path
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/runtime-options.md
Labels: none

Add link to each README.md of pipectl,launcher
  CONTRIBUTING.md
Labels: none

Update planner logic to call proto instead of self executing
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
Labels: area/go

Update controller to use new planner logic (#4825)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/plugin/api/v1alpha1/platform/client.go
Labels: area/go

Fix link to the demo repo
  docs/content/en/blog/control-plane-on-local.md
Labels: none

rename file to refer to docker-compose
  docs/content/en/blog/control-plane-local-docker-compose.md
Labels: none

fix date
  docs/content/en/blog/control-plane-local-docker-compose.md
Labels: none

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
