Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

reverted docs changes
  .gitignore
  CONTRIBUTING.md
  cmd/piped/README.md
  cmd/pipedv1/README-usage-alpha.md
  cmd/pipedv1/README.md
  docs/content/en/blog/plugin-arch-piped-alpha.md
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.39.x/installation/install-controlplane.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.40.x/installation/install-controlplane.md
  docs/content/en/docs-v0.41.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.41.x/installation/install-controlplane.md
  docs/content/en/docs-v0.42.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.42.x/installation/install-controlplane.md
  docs/content/en/docs-v0.43.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.43.x/installation/install-controlplane.md
  docs/content/en/docs-v0.44.x/installation/install-controlplane.md
  docs/content/en/docs-v0.45.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.46.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.47.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.48.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.49.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.50.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.51.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.52.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  pkg/app/pipedv1/plugin/kubernetes_multicluster/README.md
  quickstart/README.md
Labels: area/go

update control-plane docs for renamed Helm chart and container image
  CONTRIBUTING.md
  cmd/piped/README.md
  cmd/pipedv1/README-usage-alpha.md
  cmd/pipedv1/README.md
  docs/content/en/blog/plugin-arch-piped-alpha.md
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
  pkg/app/pipedv1/plugin/kubernetes_multicluster/README.md
  quickstart/README.md
Labels: area/go

update for improved functionality and UI consistency
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
Labels: area/web

fix: web lint
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
Labels: area/web

Rename namespace back to pipecd in Makefile
  Makefile
Labels: area/build

fix: upgrade @tanstack/react-query from 4.40.0 to 4.40.1
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.40.0 to 4.40.1
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @types/dagre from 0.7.52 to 0.7.53
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @mui/material from 7.1.2 to 7.2.0
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @tanstack/react-query from 4.40.0 to 4.40.1 (#6071)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @types/dagre from 0.7.52 to 0.7.53 (#6057)
  web/package.json
  web/yarn.lock
Labels: area/web

fix: upgrade @mui/material from 7.1.2 to 7.2.0 (#6056)
  web/package.json
  web/yarn.lock
Labels: area/web

Replace redux in setting project pages (#5941)
  web/src/__fixtures__/dummy-project.ts
  web/src/components/settings-page/piped/index.tsx
  web/src/components/settings-page/project/components/github-sso-form/index.test.tsx
  web/src/components/settings-page/project/components/github-sso-form/index.tsx
  web/src/components/settings-page/project/components/project-setting-labeled-text/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/add-role-dialog/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/add-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/add-user-group-dialog/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/add-user-group-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/delete-role-confirm-dialog/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/delete-role-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/delete-user-group-confirm-dialog/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.test.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role-table-row/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
  web/src/components/settings-page/project/components/rbac-form/index.test.tsx
  web/src/components/settings-page/project/components/static-admin-form/index.test.tsx
  web/src/components/settings-page/project/components/static-admin-form/index.tsx
  web/src/components/settings-page/project/index.tsx
  web/src/constants/project.ts
  web/src/modules/index.ts
  web/src/modules/project/index.test.ts
  web/src/modules/project/index.ts
  web/src/queries/project/use-add-project-rbac-role.tsx
  web/src/queries/project/use-add-user-group.tsx
  web/src/queries/project/use-delete-project-rbac-role.tsx
  web/src/queries/project/use-delete-user-group.tsx
  web/src/queries/project/use-get-project.tsx
  web/src/queries/project/use-toggle-availability-static-admin.tsx
  web/src/queries/project/use-update-github-sso.tsx
  web/src/queries/project/use-update-project-rbac-role.tsx
  web/src/queries/project/use-update-static-admin.tsx
  web/src/utils/formalize-policies-list.ts
  web/src/utils/parse-rbac-policies.ts
  web/src/utils/rbac-action-types.ts
  web/src/utils/rbac-resource-types.ts
  web/test-utils/index.tsx
Labels: area/web

fix: upgrade @tanstack/react-query-devtools from 4.40.0 to 4.40.1 (#6072)
  web/package.json
  web/yarn.lock
Labels: area/web

add stageIndex and correct logPersisterTest write method
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/logpersister/logpersistertest/logpersister.go
Labels: area/go

Remove commanders from datastores (#6043)
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
  pkg/app/server/commandstore/store.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/eventstore.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/pipedstore.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore.go
  pkg/datastore/projectstore_test.go
Labels: area/go, area/build

add stageIndex and correct logPersisterTest write method (#6074)
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/logpersister/logpersistertest/logpersister.go
Labels: area/go

porting scriptRun logic
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go

add Name() to pluginClient
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go

Show pluginName in liveStateReporter
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go

Add check for divergent branches error
  pkg/git/repo.go
Labels: area/go

Add --ff-only flag while pull the tracked repo
  pkg/git/repo.go
Labels: area/go

Change error output used to detect divergent branches
  pkg/git/repo.go
Labels: area/go

Implement findIstioVirtualServiceManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

feat(ui): Add Encrypt Secret button to Applications page (#6065)
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/constants/ui-text.ts
Labels: area/web

Add PluginClient.Name() (#6076)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go

Implement convertVirtualService
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go

Implement virtualService.toManifest
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

Implement generateVirtualServiceManifest
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

Add note comment about type aliases
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go

Implement executeK8sTrafficRoutingStageIstio
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

Implement test for executeK8sTrafficRoutingStageIstio
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/istio_crds/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/istio_crds/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_no_virtualservice/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_no_virtualservice/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_no_virtualservice/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

Add logger for loadManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go

Add logger to loadManifests in livestate plugin
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
Labels: area/go

Add logger to loadManifests in k8s multicluster plugin
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
Labels: area/go

Add logger at loadManifests in multicluster livestate pluign
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
Labels: area/go

Add default attributes to the pluign logger
  pkg/plugin/sdk/plugin.go
Labels: area/go

[K8s Plugin] Add logger for loadManifests input (#6078)
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
Labels: area/go

Add logger arguments at loadManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go

Fix variable name case
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
