Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Add deployTargets to the model
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/go, area/web

Add plugins field to piped config
  pkg/configv1/piped.go
Labels: area/go

Fix for lint/web
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web

Add comment
  pkg/configv1/piped.go
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
Labels: area/go

Fix for test/web
  web/src/__fixtures__/dummy-application.ts
Labels: area/web

Add deploy target (#5378)
  pkg/configv1/piped.go
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/go, area/web

Partial implementation of the K8S_SYNC stage (#5371)
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Change kubectl DL host to dl.k8s.io (#5379)
  pkg/app/piped/toolregistry/tool_darwin.go
  pkg/app/piped/toolregistry/tool_linux.go
Labels: area/go

Implement Kubectl command wrapper with apply, create, replace, and delete functionalities
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Refactor DeploymentService to use private fields for logger and dependencies
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go

Add NewLoader function to initialize Loader with ToolRegistry
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
Labels: area/go

Make toolregistry and logpersister as arguments
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

Rename toolRegistry interface to toolClient
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Implement Kubectl command wrapper with apply, create, replace, and delete functionalities (#5380)
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go

Refactor the k8s plugin (#5381)
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Add kubectl version and namespace creation options to Kubernetes deployment config
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
Labels: area/go

Implement Kubernetes Applier with manifest apply, create, replace, and delete functionalities
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
Labels: area/go

Add unit tests for Kubernetes Applier manifest application logic
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Fix mockKubectl methods to return errors for unexpected calls in unit tests
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Add unit tests for CreateManifest method in Kubernetes Applier
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Refactor Applier initialization in ApplyManifest test for improved clarity
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Add unit tests for ReplaceManifest method in Kubernetes Applier
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Add unit tests for ForceReplaceManifest method in Kubernetes Applier
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Add context to RunBinary interface
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Add unit tests for Delete method in Kubernetes Applier
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go

Add unit tests for getNamespaceToRun method in Kubernetes Applier
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
Labels: area/go

Add context to RunBinary interface (#5384)
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Fix missing call to cancel context in backoff test
  pkg/backoff/backoff_test.go
Labels: area/go

Implement applier for the kubernetes plugin (#5385)
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go

Fix missing call to cancel context in backoff test (#5386)
  pkg/backoff/backoff_test.go
Labels: area/go

Implement PipedServiceClient for gRPC communication in pipedapi package
  pkg/plugin/pipedapi/client.go
Labels: area/go

Update go version in gomod for actions-gh-release
  tool/actions-gh-release/go.mod
Labels: area/tool

Add constructor for ToolRegistry
  pkg/app/pipedv1/plugin/toolregistry/toolregistry.go
Labels: area/go

Initialize piped plugin service client and pass
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

[Snyk] Security upgrade golang from 1.22.5-alpine3.20 to 1.23.3-alpine3.20 (#5335)
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
Labels: area/tool

Add validation for piped-plugin-service-port in server command
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go

Using backoff Do function instead of WaitNext in pipedv1 codebase
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/trigger/cache.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/service/pipedservice/service.go
Labels: area/go

Unchange state
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go

Mark piped-plugin-service-port required and remove validation
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go
