Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Fix the test for the kubernetes deployment plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
Labels: area/go

Fix test cases
  pkg/plugin/sdk/deployment_test.go
Labels: area/go

Fix the livestate test
  pkg/plugin/sdk/livestate_test.go
Labels: area/go

Add documentation for the ApplicationConfig type.
  pkg/plugin/sdk/deployment_source.go
Labels: area/go

Add LoadApplicationConfig and use it in the tests
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/plugin/sdk/deployment_source.go
Labels: area/go

Add AppConfig method to DeploymentSource and use it
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/plugin/sdk/deployment_source.go
Labels: area/go

Add a helper function to load application config for tests
  pkg/plugin/sdk/sdktest/config.go
Labels: area/go

Switch to use sdktest.LoadApplicationConfig for tests
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/plugin/sdk/deployment_source.go
Labels: area/go

[SDK] Add type parameter for DeploymentSource and unmarshalling the spec (#5740)
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/wait/plugin.go
  pkg/app/pipedv1/plugin/wait/wait.go
  pkg/plugin/sdk/config.go
  pkg/plugin/sdk/config_test.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_test.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
  pkg/plugin/sdk/plugin.go
  pkg/plugin/sdk/plugin_test.go
  pkg/plugin/sdk/sdktest/config.go
Labels: area/go

Implement HasStage method in ApplicationConfig
  pkg/plugin/sdk/deployment_source.go
Labels: area/go

Add test for HasStage method
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go

Add testcases for HasStage method
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go

Add config for multicluster feature
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
Labels: area/go

Make sync method
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go

Deploy multiple targets
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go

Fix for lint
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go

Add testcase when one of the sync has failed
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster2/deployment.yaml
Labels: area/go

Add test case to ensure moltiple deploy targets and not specified multiTargets
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go

Add testcase to execute with template none
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster2/deployment.yaml
Labels: area/go

Modify loadManifests to allow multiTarget
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go

Update go-jwt to version 5.2.2
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/jwt/jwt.go
  pkg/jwt/signer.go
  pkg/jwt/signer_test.go
  pkg/jwt/verifier.go
  pkg/jwt/verifier_test.go
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
Labels: area/go

Use the previous signing method
  cmd/pipecd/server.go
Labels: area/go

Split downloadHTTP and downloadFile into separate functions
  pkg/lifecycle/binary.go
Labels: area/go

Update go-jwt to version 5.2.2 (#5743)
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/jwt/jwt.go
  pkg/jwt/signer.go
  pkg/jwt/signer_test.go
  pkg/jwt/verifier.go
  pkg/jwt/verifier_test.go
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
Labels: area/go

[SDK] Add feature to check the pipeline has specific stage (#5737)
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go

Implement K8S_MULTI_SYNC with non template for multicluster (#5728)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster2/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster2/deployment.yaml
Labels: area/go

Add oras-go v2.5.0
  go.mod
  go.sum
Labels: none

Implement OCI registry support
  pkg/lifecycle/binary.go
Labels: area/go

wip
  go.mod
  go.sum
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Add support for fetching OCI images with a digest
  pkg/lifecycle/binary.go
Labels: area/go

Do not overwrite existing files
  pkg/lifecycle/binary.go
Labels: area/go

Implement OCI artifact fetching
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Refactor test variable name
  pkg/lifecycle/binary_test.go
Labels: area/go

Support multi-layer OCI image.
  pkg/lifecycle/binary.go
Labels: area/go

Use runtime.GOOS and runtime.GOARCH to determine the platform
  pkg/lifecycle/binary_test.go
Labels: area/go

Refactor to split the OCI pull logic into a separate package.
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
  pkg/oci/pull.go
Labels: area/go

Add PushFilesToOCI function to handle pushing files to OCI registry
  pkg/oci/push.go
Labels: area/go

Add workflow release
  .github/workflows/release.yaml
Labels: area/build

Add labels
  .github/workflows/release.yaml
Labels: area/build

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
