Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Release v0.45.4
  RELEASE
Labels: none

Update v0.45.x docs
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/terraform-provider-pipecd.md
Labels: none

Release v0.45.4 (#4697)
  RELEASE
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/terraform-provider-pipecd.md
Labels: none

add ephemeralStorage option to lambda config (#4680)
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

[ECS] Tag to the new taskset in rollback (fixes #4692) (#4695)
  pkg/app/piped/executor/ecs/rollback.go
Labels: area/go

Add v2 to versionWhitelist (#4682)
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: area/go

Cherry-pick #4680 #4682 #4695 (#4698)
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

Removed unnecessary comments
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/rollback.go
Labels: area/go

Support Canary for ECS without ELB or target groups (#4690)
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

Add an example of ECS canary for Service Discovery (#4691)
  examples/ecs/servicediscovery/canary/app.pipecd.yaml
  examples/ecs/servicediscovery/canary/servicedef.yaml
  examples/ecs/servicediscovery/canary/taskdef.yaml
Labels: area/examples

Update docs for v0.45.4
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Update contributors list
  README.md
Labels: none

Update contributors list (#4701)
  README.md
Labels: none

Update docs for v0.45.4 (#4700)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Add setValues to HelmOptions
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/helm.go
  pkg/config/application_kubernetes.go
Labels: area/go

Fix docs format
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Typo
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

avoid nil pointer
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

avoid nil pointer (#4704)
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

Add documentation of pprof
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/faq/_index.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

Add option script run stage
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/model/stage.go
Labels: area/go

fix typos on notification event
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.41.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.42.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.44.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuring-notifications.md
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

fix typos on notification event (#4706)
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.41.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.42.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.44.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuring-notifications.md
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

Add @minhquang4334 as a contributor
  README.md
Labels: none

Add documentation of pprof (#4705)
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/faq/_index.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: none

Fix docs format (#4703)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: none

Add setValues to HelmOptions (#4699)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/helm.go
  pkg/config/application_kubernetes.go
Labels: area/go

Add @t-kikuc to codeowner
  CODEOWNERS
Labels: none

Add @t-kikuc to codeowner (#4708)
  CODEOWNERS
Labels: none

Add @minhquang4334 as a contributor (#4707)
  README.md
Labels: none

Minimize latest plan preview comment before comment error message
  tool/actions-plan-preview/main.go
Labels: area/tool

Use log.Println instead of log.Printf
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Create minimize previous comment function
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

Minimize latest plan preview comment before comment error message (#4683)
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

fix typo
  docs/rfcs/0011-pipectrl-init.md
Labels: none

Add rfc for pipectl init
  docs/rfcs/0011-pipectrl-init.md
Labels: none

Add rfc for pipectl init (#4672)
  docs/rfcs/0011-pipectrl-init.md
Labels: none

Add feature-status of ECS Service Discovery
  docs/content/en/docs-dev/feature-status/_index.md
Labels: none

Add ECS's accessType config reference
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

Add an example of ECS Service Discovery QuickSync
  examples/ecs/servicediscovery/simple/app.pipecd.yaml
  examples/ecs/servicediscovery/simple/servicedef.yaml
  examples/ecs/servicediscovery/simple/taskdef.yaml
Labels: area/examples
