Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Add release plugin workflow
  .github/workflows/plugin_release.yaml
Labels: area/build

Add publish binary step
  .github/workflows/plugin_release.yaml
Labels: area/build

Update get version command
  .github/workflows/plugin_release.yaml
Labels: area/build

Add release plugin workflow (#6190)
  .github/workflows/plugin_release.yaml
Labels: area/build

Update workflow
  .github/workflows/plugin_release.yaml
Labels: area/build

Remove unused code
  .github/workflows/plugin_release.yaml
Labels: area/build

Add flag to release step
  .github/workflows/plugin_release.yaml
Labels: area/build

Add release plugin workflow (#6191)
  .github/workflows/plugin_release.yaml
Labels: area/build

Keep local storage data by mounting to local volumes
  .dockerignore
  .gitignore
  hack/create-kind-cluster.sh
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  quickstart/control-plane-values.yaml
Labels: area/build, area/manifests

Bump SDK version for waitapproval and analysis
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
Labels: area/go

Bump SDK version for waitapproval and analysis (#6193)
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
Labels: area/go

Add pipedv1 release workflow
  .github/workflows/publish_pipedv1_exp.yaml
  cmd/pipedv1/Dockerfile
Labels: area/go, area/build

Bump SDK for scriptrun plugin
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
Labels: area/go

Add pipedv1 release workflow (#6194)
  .github/workflows/publish_pipedv1_exp.yaml
  cmd/pipedv1/Dockerfile
Labels: area/go, area/build

Bump SDK for scriptrun plugin (#6195)
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
Labels: area/go

Fix workflow indent
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Fix syntax error
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Fix workflow indent (#6196)
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

[Terraform Plugin] Implemented PlanPreview (#6150)
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/main.go
  pkg/app/pipedv1/plugin/terraform/planpreview/plugin.go
  pkg/app/pipedv1/plugin/terraform/planpreview/plugin_test.go
Labels: area/go

[plugin planpreview] update actions-plan-preview for pipedv1 (#6149)
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/planpreview_test.go
  tool/actions-plan-preview/testdata/comment-plugin-has-failed-app.txt
  tool/actions-plan-preview/testdata/comment-plugin-one-failure-app-unknown-plugin.txt
  tool/actions-plan-preview/testdata/comment-plugin-one-success-app-multiple-plugins.txt
  tool/actions-plan-preview/testdata/comment-plugin-one-success-app.txt
Labels: area/tool

Update workflow container image tag for pipedv1
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Update workflow container image tag for pipedv1 (#6197)
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Add what new in pipedv1 blog post
  docs/content/en/blog/what-new-in-pipedv1.md
Labels: none

Update release version list API to support modules release pattern
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Define type alias configv1.PipedGit for config.PipedGit
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/configv1/piped.go
Labels: area/go

Add helm chart build and publish workflow for pipedv1-exp
  .github/workflows/publish_pipedv1_exp.yaml
  manifests/pipedv1-exp/.helmignore
  manifests/pipedv1-exp/Chart.yaml
  manifests/pipedv1-exp/templates/NOTES.txt
  manifests/pipedv1-exp/templates/_helpers.tpl
  manifests/pipedv1-exp/templates/configmap.yaml
  manifests/pipedv1-exp/templates/deployment.yaml
  manifests/pipedv1-exp/templates/rbac.yaml
  manifests/pipedv1-exp/templates/secret.yaml
  manifests/pipedv1-exp/templates/service.yaml
  manifests/pipedv1-exp/templates/volume.yaml
  manifests/pipedv1-exp/values.yaml
Labels: area/build, area/manifests

Add EOF
  manifests/pipedv1-exp/templates/volume.yaml
Labels: area/manifests

Update chart note
  manifests/pipedv1-exp/templates/NOTES.txt
Labels: area/manifests

Define type alias config.PipedGit for configv1.PipedGit
  pkg/config/piped.go
  pkg/configv1/piped.go
  pkg/git/ssh_config.go
  pkg/git/ssh_config_test.go
Labels: area/go

Remove ssh key file after pipedv1 finished
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Add plugins config session and change piped execution flag session title
  docs/content/en/blog/what-new-in-pipedv1.md
Labels: none

Fix nit
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

Add helm chart workflow for pipedv1 exp (#6200)
  .github/workflows/publish_pipedv1_exp.yaml
  manifests/pipedv1-exp/.helmignore
  manifests/pipedv1-exp/Chart.yaml
  manifests/pipedv1-exp/templates/NOTES.txt
  manifests/pipedv1-exp/templates/_helpers.tpl
  manifests/pipedv1-exp/templates/configmap.yaml
  manifests/pipedv1-exp/templates/deployment.yaml
  manifests/pipedv1-exp/templates/rbac.yaml
  manifests/pipedv1-exp/templates/secret.yaml
  manifests/pipedv1-exp/templates/service.yaml
  manifests/pipedv1-exp/templates/volume.yaml
  manifests/pipedv1-exp/values.yaml
Labels: area/build, area/manifests

Enable ssh configration for pipedv1 (#6201)
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/git/ssh_config.go
  pkg/git/ssh_config_test.go
Labels: area/go

Make helm chart build and publish step in publish_pipedv1_exp workflow
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

Make helm chart build and publish step in publish_pipedv1_exp workflow (#6202)
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

fix nil in analysis
  pkg/app/pipedv1/plugin/analysis/executestage/analysis.go
Labels: area/go

fix nil in analysis (#6203)
  pkg/app/pipedv1/plugin/analysis/executestage/analysis.go
Labels: area/go

Add IsQuickSync to Deployment model
  pkg/model/deployment.go
Labels: area/go

Check whether the deployment is quick sync when getting stage config
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go
