Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

make tests parallel
  pkg/app/piped/livestatestore/lambda/store_test.go
Labels: area/go

fix dummyApplicationLiveState for Lambda
  web/src/__fixtures__/dummy-application-live-state.ts
Labels: area/web

Impl LiveState UI for Lambda
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/index.tsx
  web/src/modules/applications-live-state/index.ts
Labels: area/web

Support --app-manifest-cache-count on helm chart
  manifests/piped/templates/_helpers.tpl
  manifests/piped/values.yaml
Labels: area/manifests

fix lint error of web
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/index.tsx
  web/src/modules/applications-live-state/index.ts
Labels: area/web

Support --app-manifest-cache-count on helm chart (#5142)
  manifests/piped/templates/_helpers.tpl
  manifests/piped/values.yaml
Labels: area/manifests

feat: add OIDC login button to login form page
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/src/components/login-page/login-form/index.tsx
Labels: area/web

fix: add name claims for auth0
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  pkg/oauth/oidc/oidc.go
Labels: area/go

feat: add unit test to callback functions, fix unexpected result
  pkg/app/server/httpapi/callback.go
  pkg/app/server/httpapi/callback_test.go
Labels: area/go

feat: add OIDC key feature to control plane
  go.mod
  go.sum
  pkg/app/server/httpapi/callback.go
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
Labels: area/go

fix: add picture claim key
  pkg/oauth/oidc/oidc.go
Labels: area/go

docs: oidc references
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
Labels: none

deps: go-jose v3.0.1 to v4
  go.mod
  go.sum
Labels: none

docs: generic oidc
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
Labels: none

fix: SSO UI
  web/src/components/login-page/login-form/index.tsx
Labels: area/web

fix: spelling
  pkg/model/project.pb.go
  pkg/model/project.proto
  pkg/oauth/oidc/oidc.go
Labels: area/go

add test: OIDC GenerateAuthCodeURL
  pkg/model/project_test.go
Labels: area/go

fix: unit test function name
  pkg/model/project_test.go
Labels: area/go

Remove request trial form from docs
  docs/assets/scss/_nav.scss
  docs/layouts/partials/navbar.html
Labels: none

fix to read PAT settings from file
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

piped
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

fix: make validation test
  pkg/config/piped_test.go
Labels: area/go

fix: modification of conditional branching
  pkg/config/piped.go
Labels: area/go

fix: corrected error in error message
  pkg/config/piped.go
Labels: area/go

fix: integration of mask function
  pkg/config/piped.go
Labels: area/go

fix: function name
  pkg/config/piped.go
Labels: area/go

include PAT information in URL
  pkg/git/client.go
  pkg/git/client_test.go
Labels: area/go

Fix Git authentication configuration
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped_test.go
Labels: area/go

fix: make validation test
  pkg/config/piped_test.go
Labels: area/go

fix: PipedGit struct to use password authentication instead of personal access token
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

fix: fix test code as pointed out in the review
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

fix: rename function for validation PAT
  pkg/config/piped.go
Labels: area/go

fix: fix test
  pkg/config/piped.go
Labels: area/go

fix: rename function for validation PAT
  pkg/config/piped.go
Labels: area/go

fix to read PAT settings from file
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

Refactor includePasswordAuthRemote function
  pkg/git/client.go
  pkg/git/client_test.go
Labels: area/go

Remove unnecessary print statement in Validate function
  pkg/config/piped.go
Labels: area/go

fix: add test case
  pkg/config/piped_test.go
Labels: area/go

fix: change required in documentation
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
Labels: none

fix: function name
  pkg/config/piped.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
