Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update docs/content/en/blog/news/control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Update control-plane-on-ecs.md
  docs/content/en/blog/news/control-plane-on-ecs.md
Labels: none

Add ReportApplicationSyncState to apiClient
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Add INVALID_CONFIG to ApplicationSyncStatus
  pkg/model/application.pb.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
Labels: area/go, area/web

Call ReportApplicationSyncState if failed to load application config
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/service/pipedservice/service.pb.go
Labels: area/go

Fix function
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Add INVALID_CONFIG status icon
  web/src/__fixtures__/dummy-api-key.ts
  web/src/components/app-sync-status/sync-status-icon/index.tsx
  web/src/constants/application-sync-status-text.ts
Labels: area/web

Fix unable to delete resource that removed from git for k8s apps
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

Fix error
  web/src/__fixtures__/dummy-api-key.ts
Labels: area/web

Fix error (#4208)
  web/src/__fixtures__/dummy-api-key.ts
Labels: area/web

Change icon and color with INVALID_CONFIG status
  web/src/components/app-sync-status/sync-status-icon/index.tsx
Labels: area/web

Update the contributions list
  README.md
Labels: none

Update the contributions list (#4210)
  README.md
Labels: none

Fix unable to delete resource that removed from git for k8s apps (#4207)
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

Fix failures with CI
  pkg/app/server/service/pipedservice/service.pb.go
  web/src/components/app-sync-status/sync-status-icon/index.tsx
Labels: area/go, area/web

Fix typo
  web/src/constants/application-sync-status-text.ts
Labels: area/web

Refactor the code arround the ReportApplicationSyncState process
  pkg/app/piped/trigger/trigger.go
Labels: area/go

Display namespace of the resources on stage logs
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

Display namespace of the resources on stage logs (#4211)
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

add executor and config
  pkg/app/piped/executor/custom/custom.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-stage.yaml
  pkg/model/stage.go
Labels: area/go

Add options.PipedId to ListApplicationsRequest
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web

WIP: Add PipedId box to application-filter-page
  web/src/api/applications.ts
  web/src/components/applications-page/application-filter/index.tsx
  web/src/modules/applications/index.ts
Labels: area/web

Update pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/apikey.go
Labels: area/go

Update 0010-custom-stage.md
  docs/rfcs/0010-custom-stage.md
Labels: none

fix
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
Labels: area/go

Add last used time cron updater (#4201)
  cmd/pipecd/ops.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/apikey.go
Labels: area/go

Small changes on refactor APIKeyLastUseCache get
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Update pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
Labels: area/go

Update pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
Labels: area/go

Lint
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
Labels: area/go

WIP: Add WithIgnorePathPrefix test
  pkg/diff/diff_test.go
  pkg/diff/testdata/ignore_specified_field.yaml
Labels: area/go

Add test and update ignorePathPrefixs
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Labels: area/go

add execute command
  pkg/app/piped/executor/custom/custom.go
Labels: area/go

Fix logic
  pkg/diff/diff.go
Labels: area/go

add timeout
  pkg/app/piped/executor/custom/custom.go
  pkg/config/application.go
Labels: area/go

Fix comments
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
