Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

minor correction
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuring-notifications.md
Labels: none

Fix typo in plugin and config comments: beucause -> because, speficied -> specified (#6743)
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/config/application.go
  pkg/configv1/application.go
Labels: area/go

improve quickstart wording
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.57.x/quickstart/_index.md
Labels: none

fix: avoid panic on missing application spec during migration
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/application_config_test.go
Labels: area/go

[Multi_K8s-Plugin] Update plugin README to release standard (#6977)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/README.md
Labels: area/go

add plugins overview page for v1 docs
  docs/content/en/docs-v1.0.x/plugins/_index.md
Labels: none

drop platformProviders, use plugins in v1 piped examples
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-google-cloud-vm.md
Labels: none

fix container image and args in v1 piped install guides
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-google-cloud-vm.md
Labels: none

add installing on google-cloud-vm
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-google-cloud-vm.md
Labels: none

add installing on cloud-run
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-cloudrun.md
Labels: none

add installing on fargate
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-fargate.md
Labels: none

Handle unimplemented Cloud Run v1 plugin handlers gracefully
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/cloudrun/livestate/plugin_test.go
Labels: area/go

fix piped config example and image tag in install pages
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-google-cloud-vm.md
Labels: none

docs: unify Control Plane terminology capitalization (#6791)
  docs/content/en/blog/ci-cd-gap-fulfill-with-pipecd.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.56.x/faq/_index.md
  docs/content/en/docs-v0.56.x/installation/install-control-plane/installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.56.x/quickstart/_index.md
Labels: none

Update CODEOWNERS paths for plugins
  CODEOWNERS
Labels: none

add plugins overview page for v1 docs (#6984)
  docs/content/en/docs-v1.0.x/plugins/_index.md
Labels: none

Use password-stdin in Kubernetes Helm provider
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
Labels: area/go

Support transfer specific applications by using labels flag for transfer command (#6811)
  pkg/app/pipectl/cmd/transfer/backup.go
  pkg/app/pipectl/cmd/transfer/restore_application.go
Labels: area/go

refactor: replace WaitNext with retry.Do in piped components
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/trigger/cache.go
  pkg/app/piped/trigger/deployment.go
  pkg/backoff/backoff.go
  pkg/backoff/backoff_test.go
Labels: area/go

improve quickstart wording (#6982)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.57.x/quickstart/_index.md
Labels: none

Fix typos in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

ci: fix first-time contributor welcome check (#6929)
  .github/workflows/first-time-contributor.yaml
Labels: area/build

Fix typos in CONTRIBUTING.md (#6998)
  CONTRIBUTING.md
Labels: none

Guard rollback stage builders against empty stage lists
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
Labels: area/go

Add unit tests for applierGroup.Get
  pkg/app/piped/executor/kubernetes/applier_group_test.go
Labels: area/go

Resolve host architecture in legacy toolregistry Darwin install scripts
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/tool_darwin.go
  pkg/app/piped/toolregistry/tool_darwin_test.go
Labels: area/go

Skip OCI registry tests when Docker is unavailable
  pkg/oci/main_test.go
  pkg/oci/main_test_test.go
  pkg/oci/pull_test.go
  pkg/oci/push_test.go
Labels: area/go

Fix broken link to CI overview in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Remove leftover Hugo front matter from CI overview doc
  .github/ci.md
Labels: area/build

docs: clarify docs version directories and fix wording (#6798)
  docs/README.md
Labels: none

Fix broken link to CI overview in CONTRIBUTING.md (#7010)
  CONTRIBUTING.md
Labels: none

Remove leftover Hugo front matter from CI overview doc (#7011)
  .github/ci.md
Labels: area/build

fix(ci): define GO_VERSION and pin checkout action in plugin_release workflow
  .github/workflows/plugin_release.yaml
Labels: area/build

fix(ci): define GO_VERSION and pin checkout action in plugin_release workflow (#7012)
  .github/workflows/plugin_release.yaml
Labels: area/build

Skip kubernetes envtest when assets are missing
  pkg/app/piped/executor/kubernetes/sync_test.go
Labels: area/go

docs: fix PipeCD docs package metadata links (#6799)
  docs/package.json
Labels: none

docs: fix formatting in Piped config comment
  CONTRIBUTING.md
Labels: none

docs: add missing first-time-contributor and thank-you workflows to CI overview
  .github/ci.md
Labels: area/build

docs: add contexts directory to web README directory structure
  web/README.md
Labels: area/web

docs(v1): add comprehensive config tables for app and piped configs per review
  docs/content/en/docs-v1.0.x/user-guide/managing-application/configuration-reference.md
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuration-reference.md
Labels: none
