Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

feat: implement livestate plugin
  pkg/app/pipedv1/plugin/ecs/livestate/fetcher.go
  pkg/app/pipedv1/plugin/ecs/livestate/plugin.go
  pkg/app/pipedv1/plugin/ecs/livestate/sync.go
  pkg/app/pipedv1/plugin/ecs/main.go
  pkg/app/pipedv1/plugin/ecs/provider/ecs.go
Labels: area/go

[Multi_K8s-Plugin] Primary Rollout (#6591)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/primary_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_prune/target/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/primary_rollout_with_create_service/service.yaml
Labels: area/go

[Multi_K8s-Plugin] Baseline Rollout (#6606)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_without_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_rollout_without_create_service/service.yaml
Labels: area/go

fix: respect multiTarget kubectl version in baselineClean
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline.go
Labels: area/go

[Multi_K8s-Plugin] Baseline Clean (#6607)
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/baseline_clean_without_create_service/deployment.yaml
Labels: area/go

fix: report all golangci-lint issues regardless of diff
  .github/workflows/lint.yaml
Labels: area/build

fix: resolve lint issues in kubernetes_multicluster module
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary_test.go
Labels: area/go

fix: report all golangci-lint issues regardless of diff (#6622)
  .github/workflows/lint.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/baseline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/canary_test.go
Labels: area/go, area/build

docs: fix typo "reffered" to "referred" in configuration reference
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

feat: add K8s traffic routing stage and its execution logic
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
Labels: area/go

feat: add traffic routing configuration to KubernetesApplicationSpec
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
Labels: area/go

chore: update go.mod and go.sum with istio.io/api dependency
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
Labels: area/go

feat: implement Kubernetes multi-traffic routing configuration and execution logic
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic.go
Labels: area/go

feat: add traffic routing pod selector configuration and related resources
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_pod_selector/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_pod_selector/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_pod_selector/service.yaml
Labels: area/go

feat: add unit tests for Kubernetes multi-traffic routing stage with pod selector
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

feat: add tests for Kubernetes multi-traffic routing with Istio integration
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

test: add Test_generateVirtualServiceManifest pure unit tests for Istio traffic routing
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

fix: simplify helper return signatures to resolve unparam lint errors
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

fix: remove always-nil error return from test helpers to fix unparam lint
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

feat: add flag --force-plugin-redownload for forcing download plugin (avoid caching)
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

Fix: wrong conditional variable for avatarURL claim key in OIDC
  pkg/oauth/oidc/oidc.go
Labels: area/go

added changes for quickstart (#6590)
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v1.0.x/quickstart/_index.md
Labels: none

Add flag --force-plugin-redownload to download plugin from path everytime (#6628)
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

feat: implement traffic routing stage
  pkg/app/pipedv1/plugin/ecs/config/traffic.go
  pkg/app/pipedv1/plugin/ecs/deployment/plugin.go
  pkg/app/pipedv1/plugin/ecs/deployment/test_helper.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic.go
  pkg/app/pipedv1/plugin/ecs/deployment/traffic_test.go
  pkg/app/pipedv1/plugin/ecs/provider/client.go
Labels: area/go

restore elb listener weights in rollback stage
  pkg/app/pipedv1/plugin/ecs/deployment/rollback.go
  pkg/app/pipedv1/plugin/ecs/deployment/rollback_test.go
Labels: area/go

test: config percentages
  pkg/app/pipedv1/plugin/ecs/config/traffic_test.go
Labels: area/go

docs: add KubeStellar Console guided install reference
  docs/content/en/docs-dev/installation/_index.md
Labels: none

fix: web/package.json & web/yarn.lock to reduce vulnerabilities
  web/package.json
  web/yarn.lock
Labels: area/web

docs: fix typo "reffered" to "referred" in configuration reference (#6626)
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: none

fix: address review comments - correct code fence syntax
  CONTRIBUTING.md
Labels: none

fix: update broken community meeting link in CONTRIBUTING.md (#6506)
  CONTRIBUTING.md
Labels: none

Fix: wrong conditional variable for avatarURL claim key in OIDC (#6630)
  pkg/oauth/oidc/oidc.go
Labels: area/go

docs: add KubeStellar Console guided install reference (#6631)
  docs/content/en/docs-dev/installation/_index.md
Labels: none

drop platformProviders, use plugins in v1 piped examples
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-google-cloud-vm.md
Labels: none

test: add PodSelector edge case tests for K8S_MULTI_TRAFFIC_ROUTING stage
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_missing_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_missing_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_missing_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_multiple_services/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_multiple_services/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_multiple_services/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_no_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_no_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_wrong_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_wrong_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_wrong_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

test: enable Istio cluster tests for K8S_MULTI_TRAFFIC_ROUTING stage
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/istio_crds/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/istio_crds/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_baseline/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_editable_routes/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_no_virtualservice/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_no_virtualservice/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/traffic_routing_istio_no_virtualservice/service.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

fix: resolve gofmt and unparam lint issues in traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

fix: pre-seed cluster in MultipleServices PodSelector test
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/traffic_test.go
Labels: area/go

added plugin development resources
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/_index.md
  docs/content/en/docs-v1.0.x/contribution-guidelines/contributing-plugins/plugin-development-resources.md
  docs/content/en/docs-v1.0.x/installation/install-piped/installing-on-single-machine.md
Labels: none

docs(v1): add slack and webhook receiver config tables per review nit
  docs/content/en/docs-v1.0.x/user-guide/managing-piped/configuration-reference.md
Labels: none
