Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Execute git clean partially when drift detection for every app is done
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Skip commit and push when no replacement happens in EventWatcher (#5310)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Rename to CleanPath
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Add test for the outside dir pattern
  pkg/git/repo_test.go
Labels: area/go

Update FindRollbackStages to use stage rollback field
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: area/go

Execute git clean partially when drift detection for every app is done (#5312)
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Use git worktree and partial clone to reduce network io
  pkg/git/client.go
Labels: area/go

fix: upgrade react-syntax-highlighter from 15.5.0 to 15.6.1
  web/package.json
  web/yarn.lock
Labels: area/web

Update RELEASE and docs to v0.49.3
  RELEASE
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/event-watcher.md
Labels: none

Update RELEASE and docs to v0.49.3 (#5315)
  RELEASE
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/event-watcher.md
Labels: none

Lambda: clone manifests not to modify original manifests (#5308)
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: area/go

Add event context (#5295)
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/go, area/web

Execute git clean partially when drift detection for every app is done (#5312)
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

Clone manifests not to modify original manifests (#5306)
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go

Skip commit and push when no replacement happens in EventWatcher (#5310)
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

Add docs for pipectl event register --contexts on the event watcher usage page (#5299)
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/static/images/event-watcher-contexts.png
Labels: none

Update RELEASE and docs to v0.49.3 (#5315)
  RELEASE
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/event-watcher.md
Labels: none

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

fix: remove white space
  pkg/git/repo.go
Labels: area/go

Add function to find ConfigMaps and Secrets in manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Update executor input and temporary remove config from pipedv1 controller struct
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/executor.go
Labels: area/go

Add test case for the commit with trailers
  pkg/git/repo_test.go
Labels: area/go

fix: upgrade react-syntax-highlighter from 15.5.0 to 15.6.1 (#5314)
  web/package.json
  web/yarn.lock
Labels: area/web

Check trailers
  pkg/git/repo_test.go
Labels: area/go

Update piped-base image hash for launcher
  cmd/launcher/Dockerfile
Labels: area/go

Update piped-base image hash for piped
  cmd/piped/Dockerfile
Labels: area/go

Add test case for the commit with trailers (#5322)
  pkg/git/repo_test.go
Labels: area/go

Update piped base image hash for piped and launcher (#5325)
  cmd/launcher/Dockerfile
  cmd/piped/Dockerfile
Labels: area/go

Update piped base image hash for piped and launcher (#5325)
  cmd/launcher/Dockerfile
  cmd/piped/Dockerfile
Labels: area/go

add labels in commitCategories
  tool/actions-gh-release/release.go
  tool/actions-gh-release/release_test.go
Labels: area/tool

Update application git path on piped started
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

Remove setting global tracer provider to avoid non-expected spans are sent
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Rename findConfigs to findConfigsAndSecrets and add a comment
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go

fix: tool/actions-gh-release/Dockerfile to reduce vulnerabilities
  tool/actions-gh-release/Dockerfile
Labels: area/tool

Remove setting global tracer provider to avoid non-expected spans are sent (#5331)
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go

Add function to find ConfigMaps and Secrets in manifests (#5319)
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go

Implement checkImageChange and tests
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go

Add test case for the container order change
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go

Implement checkImageChange and tests (#5333)
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go
