Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

Add example links of ECS Service Discovery
  docs/content/en/docs-dev/examples/_index.md
Labels: none

naming for each CI should be more visible, add matrix for build_tool image base
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

feat: github action matrix images build
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Update documents for ECS Service Discovery (#4711)
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  examples/ecs/servicediscovery/simple/app.pipecd.yaml
  examples/ecs/servicediscovery/simple/servicedef.yaml
  examples/ecs/servicediscovery/simple/taskdef.yaml
Labels: area/examples

Specify gpt-4-1106-preview as the model for code-butler
  .github/workflows/code-butler.yaml
Labels: area/build

Specify gpt-4-1106-preview as the model for code-butler (#4714)
  .github/workflows/code-butler.yaml
Labels: area/build

adding configuration for matrix container registry
  .github/workflows/publish_image_chart.yaml
Labels: area/build

docker tag with matrix container registry
  .github/workflows/publish_image_chart.yaml
Labels: area/build

feat: github action matrix for images build (#4712)
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

cache listeners on routing stage for later use (#4599)
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

Rename actions
  .github/workflows/code-butler.yaml
  .github/workflows/stale.yaml
Labels: area/build

Rename actions (#4715)
  .github/workflows/code-butler.yaml
  .github/workflows/stale.yaml
Labels: area/build

fix: matrix build recorrect and use docker build and push action on v5.0.0
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

fix: matrix build recorrect and use docker build and push action on v5.0.0 (#4718)
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

cover gcr.io/pipecd and ghcr.io/pipe-cd
  .github/workflows/publish_image_chart.yaml
Labels: area/build

iamge okd should have prefix -okd eg: Dockefile-okd
  .github/workflows/publish_image_chart.yaml
Labels: area/build

cover gcr.io/pipecd and ghcr.io/pipe-cd (#4719)
  .github/workflows/publish_image_chart.yaml
Labels: area/build

fix dockefile path
  .github/workflows/publish_image_chart.yaml
Labels: area/build

fix dockefile path (#4721)
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Implement Executor for script run
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

fix: exclude pipecd image to gcr.io as we won't need, basis only helloworld, launcher, piped need gcr.io
  .github/workflows/publish_image_chart.yaml
Labels: area/build

fix: exclude pipecd image to gcr.io as we won't need, (#4722)
  .github/workflows/publish_image_chart.yaml
Labels: area/build

Add ModifyRule method of ECS ELB
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

Enable selecting the ELB lisetner rule to modify
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/config/application_ecs.go
Labels: area/go

Enable selecting the ELB listener rule to modify in Rollback
  pkg/app/piped/executor/ecs/rollback.go
Labels: area/go

Modify to ELBListnerRuleSelector
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/config/application_ecs.go
Labels: area/go

Modify pointer of ELB selector
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/config/application_ecs.go
Labels: area/go

Add a test of ECS ELB listener rule selector
  pkg/config/application_ecs_test.go
  pkg/config/testdata/application/ecs-app-elb-selector.yaml
Labels: area/go

add config option to CreateFunctionFromSource
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

Select multiple listenerRules to modify
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
  pkg/config/testdata/application/ecs-app-elb-selector.yaml
Labels: area/go

Fix comments
  pkg/config/application_ecs.go
Labels: area/go

Use StageStatus_STAGE_FAILURE
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

preallocate the 'architectures' slice
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

Add vpc and architectures option to the creation of lambda from source (#4723)
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

Add error log
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

Add Copyright
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

Re-implement script run stage like custom sync
  pkg/app/piped/executor/scriptrun/scriptrun.go
  pkg/config/application.go
Labels: area/go

Modify ModifyListeners to edit rules other than default
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/routing_traffic.go
Labels: area/go

Use ModifyLister to modify the default rules
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

Add a func of comparing target groups
  pkg/app/piped/platformprovider/ecs/routing_traffic.go
  pkg/app/piped/platformprovider/ecs/routing_traffic_test.go
Labels: area/go

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*
