Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Support all kustomization files name (#6122)
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
Labels: area/go

Support all kustomization files name
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader_test.go
Labels: area/go

Support all kustomization files name (#6126)
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader_test.go
Labels: area/go

cleanup: remove SetUpdatedAt
  pkg/model/apikey.go
  pkg/model/application.go
  pkg/model/command.go
  pkg/model/deployment.go
  pkg/model/deployment_chain.go
  pkg/model/deployment_trace.go
  pkg/model/event.go
  pkg/model/piped.go
  pkg/model/project.go
Labels: area/go

bump go 1.25.0
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  docs/Dockerfile
  go.mod
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/go, area/build, area/tool

refactored waitapproval file
  pkg/app/pipedv1/plugin/waitapproval/waitapproval.go
Labels: area/go

add new analysis providers for HTTP, Datadog, and Prometheus
  pkg/app/pipedv1/analysisprovider/http/http.go
  pkg/app/pipedv1/analysisprovider/log/factory/factory.go
  pkg/app/pipedv1/analysisprovider/log/provider.go
  pkg/app/pipedv1/analysisprovider/log/stackdriver/stackdriver.go
  pkg/app/pipedv1/analysisprovider/metrics/datadog/datadog.go
  pkg/app/pipedv1/analysisprovider/metrics/factory/factory.go
  pkg/app/pipedv1/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/pipedv1/analysisprovider/metrics/provider.go
Labels: area/go

import executor analysis into pipedv1; switch to pipedv1 analysisprovider
  pkg/app/pipedv1/executor/analysis/analysis.go
  pkg/app/pipedv1/executor/analysis/analyzer.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/alg.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/dist.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/mannwhitney.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/mannwhitney_test.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/mathx.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/normaldist.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/udist.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/udist_test.go
  pkg/app/pipedv1/executor/analysis/mannwhitney/util_test.go
  pkg/app/pipedv1/executor/analysis/metrics_analyzer.go
  pkg/app/pipedv1/executor/analysis/metrics_analyzer_test.go
Labels: area/go

[bot] Publish quickstart manifests
  quickstart/manifests/control-plane.yaml
  quickstart/manifests/piped.yaml
Labels: none

get oldestVersion when looping pipeds
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Cloudrun stage base (#6115)
  pkg/app/pipedv1/plugin/cloudrun/config/application.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.sum
  pkg/app/pipedv1/plugin/cloudrun/livestate/plugin.go
  pkg/app/pipedv1/plugin/cloudrun/main.go
Labels: area/go

chore(docs): migrate deprecated Hugo syntax for v0.148.2(latest) support (#6099)
  .github/workflows/publish_site.yaml
  docs/layouts/docs-dev/list.html
  docs/layouts/docs-v0.39.x/list.html
  docs/layouts/docs-v0.40.x/list.html
  docs/layouts/docs-v0.41.x/list.html
  docs/layouts/docs-v0.42.x/list.html
  docs/layouts/docs-v0.43.x/list.html
  docs/layouts/docs-v0.44.x/list.html
  docs/layouts/docs-v0.45.x/list.html
  docs/layouts/docs-v0.46.x/list.html
  docs/layouts/docs-v0.47.x/list.html
  docs/layouts/docs-v0.48.x/docs/list.html
  docs/layouts/docs-v0.48.x/list.html
  docs/layouts/docs-v0.49.x/list.html
  docs/layouts/docs-v0.50.x/list.html
  docs/layouts/docs-v0.51.x/list.html
  docs/layouts/docs-v0.52.x/list.html
  docs/layouts/partials/scripts.html
  docs/themes/docsy/layouts/_default/content.html
  docs/themes/docsy/layouts/docs/list.html
  docs/themes/docsy/layouts/partials/disqus-comment.html
  docs/themes/docsy/layouts/partials/head.html
  docs/themes/docsy/layouts/swagger/list.html
Labels: area/build

cleanup: remove SetUpdatedAt (#6127)
  pkg/model/apikey.go
  pkg/model/application.go
  pkg/model/command.go
  pkg/model/deployment.go
  pkg/model/deployment_chain.go
  pkg/model/deployment_trace.go
  pkg/model/event.go
  pkg/model/piped.go
  pkg/model/project.go
Labels: area/go

cloudrun planning
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin.go
  pkg/app/pipedv1/plugin/cloudrun/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/cloudrun/go.mod
  pkg/app/pipedv1/plugin/cloudrun/go.sum
Labels: area/go

fix(ci): fix failing site publish
  docs/layouts/docs-v0.53.x/list.html
Labels: none

Add up and down action to create-kind-cluster.sh script
  Makefile
  hack/create-kind-cluster.sh
Labels: area/build

chore: bump go1.25
  tool/codegen/Dockerfile
Labels: area/tool

chore: bump go 1.25.0
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/tool

Revert "Revert "Rename Control plane container image & binary to `control-pla…"
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/control-plane/Dockerfile
  cmd/control-plane/README.md
  cmd/control-plane/main.go
  cmd/control-plane/ops.go
  cmd/control-plane/server.go
Labels: area/go, area/build

Remove test_tool workflow
  .github/workflows/test_tool.yaml
Labels: area/build

Remove test_tool workflow (#6141)
  .github/workflows/test_tool.yaml
Labels: area/build

fix(ci): fix failing site publish (#6140)
  docs/layouts/docs-v0.53.x/list.html
Labels: none

Add meeting and membership session to contributing docs
  CONTRIBUTING.md
Labels: none

get oldestVersion when looping pipeds (#6135)
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

Apply suggestion from @t-kikuc
  CONTRIBUTING.md
Labels: none

Add meeting and membership session to contributing docs (#6142)
  CONTRIBUTING.md
Labels: none

show deprecated note in setting piped page (#6088)
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/components/settings-page/piped/components/breaking-change/index.test.tsx
  web/src/components/settings-page/piped/components/breaking-change/index.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/constants/localstorage.ts
  web/test-utils/styleMock.ts
  web/webpack.common.js
  web/yarn.lock
Labels: area/web

Move analysisprovider to pipedv1/plugin/analysis/analysisprovider
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/factory/factory.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/provider.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/stackdriver/stackdriver.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/datadog/datadog.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/factory/factory.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/provider.go
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
Labels: area/go

bump test.yaml
  .github/workflows/test.yaml
Labels: area/build

set v0.53.0
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/migrate-control-plane-datastore-to-mysql.md
  docs/rfcs/0008-simplify-datastore.md
Labels: none

docs: cleanup filedb docs
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/migrate-control-plane-datastore-to-mysql.md
  docs/rfcs/0008-simplify-datastore.md
Labels: none

decouple analysisprovider from core by adding plugin-local config types and fixing imports
  pkg/app/pipedv1/plugin/analysis/analysisprovider/config/types.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/factory/factory.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/datadog/datadog.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/factory/factory.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/prometheus/prometheus.go
Labels: area/go

Bump go 1.25.0 (codegen) (#6134)
  .github/workflows/test.yaml
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/build, area/tool

bump go 1.25.0
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  docs/Dockerfile
  go.mod
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
Labels: area/go, area/build, area/tool

chore: bump version
  go.mod
  go.sum
Labels: none

Remove publish_tool ci timeout
  .github/workflows/publish_tool.yaml
Labels: area/build

Remove redundant code from datastore
  pkg/datastore/datastore.go
Labels: area/go

add depguard deny of plugins
  .golangci.yml
Labels: none

impl for pipedv1
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

add test: makeTitleText
  tool/actions-plan-preview/planpreview_test.go
Labels: area/tool
