Repository pipe-cd/pipecd, changes with the labels that .github/labeler.yml gives for each.
All labels: area/go, area/web, area/build, area/manifests, area/examples, area/tool

.github/labeler.yml:

area/go:
- cmd/*
- cmd/**/*
- pkg/*
- pkg/**/*

area/web:
- web/*
- web/**/*

area/build:
- hack/*
- .github/*
- .github/**/*
- Makefile
- local/*

area/manifests:
- manifests/**/*

area/examples:
- examples/*
- examples/**/*

area/tool:
- tool/*
- tool/**/*

Update links
  docs/content/en/docs-dev/contribution-guidelines/_index.md
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/_index.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/installation/_index.md
  docs/content/en/docs-dev/user-guide/installation/install-controlplane.md
  docs/content/en/docs-dev/user-guide/installation/install-piped/_index.md
  docs/content/en/docs-dev/user-guide/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-dev/user-guide/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-dev/user-guide/installation/install-piped/installing-on-google-cloud-vm.md
  docs/content/en/docs-dev/user-guide/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-dev/user-guide/installation/install-piped/installing-on-single-machine.md
  docs/content/en/docs-dev/user-guide/managing-application/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/application-live-state.md
  docs/content/en/docs-dev/user-guide/managing-application/cancelling-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/customize-application-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/customize-application-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/customize-application-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/customize-application-deployment/automated-deployment-analysis.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/terraform.md
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-dev/user-guide/managing-application/rolling-back-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-application/secret-management.md
Labels: none

Update links
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/installation/install-controlplane.md
  docs/content/en/docs-dev/user-guide/managing-application/application-live-state.md
  docs/content/en/docs-dev/user-guide/managing-application/cancelling-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/terraform.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/automated-deployment-analysis.md
  docs/content/en/docs-dev/user-guide/managing-application/deployment-chain.md
  docs/content/en/docs-dev/user-guide/managing-application/rolling-back-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-application/secret-management.md
  docs/content/en/docs-dev/user-guide/managing-application/triggering-a-deployment.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/adding-a-project.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/metrics.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-git-repository.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-a-platform-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-an-analysis-provider.md
  docs/content/en/docs-dev/user-guide/managing-piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-event-watcher.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-dev/user-guide/managing-piped/remote-upgrade-remote-config.md
  docs/content/en/docs-dev/user-guide/plan-preview.md
Labels: none

Typo
  docs/content/en/docs-dev/user-guide/installation/install-controlplane.md
Labels: none

Remove integration to Kapetanios
  .kapetanios/plugin.yaml
Labels: none

Remove integration to Kapetanios (#3871)
  .kapetanios/plugin.yaml
Labels: none

Replace old RBAC handling with new RBAC handling (#3868)
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.proto
  pkg/model/rbac.pb.go
  pkg/model/rbac.pb.validate.go
  pkg/model/rbac.proto
  tool/codegen/protoc-gen-auth/file.go
  tool/codegen/protoc-gen-auth/main.go
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/model/rbac_pb.d.ts
  web/model/rbac_pb.js
Labels: area/go, area/web, area/tool

Update structure
  docs/content/en/docs-dev/contribution-guidelines/_index.md
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/installation/_index.md
  docs/content/en/docs-dev/installation/install-controlplane.md
  docs/content/en/docs-dev/installation/install-piped/_index.md
  docs/content/en/docs-dev/installation/install-piped/installing-on-cloudrun.md
  docs/content/en/docs-dev/installation/install-piped/installing-on-fargate.md
  docs/content/en/docs-dev/installation/install-piped/installing-on-google-cloud-vm.md
  docs/content/en/docs-dev/installation/install-piped/installing-on-kubernetes.md
  docs/content/en/docs-dev/installation/install-piped/installing-on-single-machine.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/automated-deployment-analysis.md
Labels: none

Remove unused functions
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Remove unused functions (#3872)
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Update codegen version
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Fix the PRC MethodOptions
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/rpc/rpcauth/interceptor.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web, area/build

Chore to fix the split point
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

Chore to fix the split point
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

Chore to fix the split point (#3874)
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

Update codegen version
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

Fix the PRC MethodOptions
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/rpc/rpcauth/interceptor.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web, area/build

Chore to fix new rbac authorizer params
  Makefile
  cmd/pipecd/server.go
Labels: area/go, area/build

Update
  docs/content/en/docs-dev/user-guide/managing-application/adding-an-application.md
  docs/content/en/docs-dev/user-guide/managing-application/configuring-application-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-app-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-app-deployment/adding-a-manual-approval.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-app-deployment/adding-a-wait-stage.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-app-deployment/automated-deployment-analysis.md
  docs/content/en/docs-dev/user-guide/managing-application/customize-application-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/define-app-configuration/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/define-app-configuration/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/define-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/define-app-configuration/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/define-app-configuration/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/define-app-configuration/terraform.md
Labels: none

Update
  docs/content/en/docs-dev/user-guide/managing-application/customize-app-deployment/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/cloudrun.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/terraform.md
Labels: none

Update codegen version and generate auth file (#3875)
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/rpc/rpcauth/interceptor.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/go, area/web, area/build

Fix getRBAC function
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Fix getRBAC function (#3876)
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Remove an unused pkg
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Remove an unused pkg (#3877)
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Update codegen version
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go, area/build

Update codegen version (#3878)
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go, area/build

Fix the cache values for auth
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Fix the cache values for auth (#3879)
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Update protobuf-go version
  tool/codegen/protoc-gen-auth/go.mod
  tool/codegen/protoc-gen-auth/go.sum
Labels: area/tool

Update protobuf-go version (#3880)
  tool/codegen/protoc-gen-auth/go.mod
  tool/codegen/protoc-gen-auth/go.sum
Labels: area/tool

Update codegen version
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go, area/build

Update codegen version (#3881)
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go, area/build

Update editor and viewer built-in roles
  pkg/model/project.go
Labels: area/go

Update editor and viewer built-in roles (#3883)
  pkg/model/project.go
Labels: area/go

Remove the old project_role field
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/model/role.pb.go
  pkg/model/role.pb.validate.go
  pkg/model/role.proto
  pkg/oauth/github/github.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/role_pb.d.ts
  web/model/role_pb.js
Labels: area/go, area/web

Fix the static admin
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/httpapi/login.go
  pkg/jwt/signer_test.go
  pkg/jwt/verifier_test.go
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
Labels: area/go

Fix the web test
  web/src/__fixtures__/dummy-me.ts
  web/src/api/me.test.ts
  web/src/components/header/index.test.tsx
  web/src/mocks/services/me.ts
  web/src/modules/me/index.test.ts
  web/src/modules/me/index.ts
Labels: area/web

Remove the old project_role field (#3884)
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/httpapi/login.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/jwt/signer_test.go
  pkg/jwt/verifier_test.go
  pkg/model/role.pb.go
  pkg/model/role.pb.validate.go
  pkg/model/role.proto
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/role_pb.d.ts
  web/model/role_pb.js
  web/src/__fixtures__/dummy-me.ts
  web/src/api/me.test.ts
  web/src/components/header/index.test.tsx
  web/src/mocks/services/me.ts
  web/src/modules/me/index.test.ts
  web/src/modules/me/index.ts
Labels: area/go, area/web

Support quickstart project
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

Support quickstart project (#3885)
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool
