Repository pipe-cd/pipecd, pull requests merged in 2020-12, with the labels that each got.

#1168 Read password and username via file from MongoDB datasource
  cmd/server/server.go
  pkg/app/ops/cmd/server/server.go
  pkg/config/control_plane.go
  pkg/datastore/mongodb/mongodb.go
Labels: approved, area/ops, area/server, size/M, trigger/needs-ok-to-test

#1169 Unify the SSO config for both GitHub and GitHub Enterprise
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
  pkg/app/api/authhandler/callback.go
  pkg/model/project.go
  pkg/model/project.proto
  pkg/oauth/github/github.go
Labels: approved, area/api, area/docs, area/site, size/M

#1172 Update OWNERS
  OWNERS_ALIASES
Labels: approved, release-note-none, size/XS

#1173 Update slack invitation link
  docs/config.toml
  docs/content/en/_index.html
  docs/content/en/blog/news/announcing-pipecd/index.md
  docs/content/en/docs/faq/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1175 Update OWNERS
  OWNERS_ALIASES
Labels: approved, release-note-none, size/XS

#1174 Add web client async actions for API Keys
  pkg/app/web/src/__fixtures__/dummy-api-key.ts
  pkg/app/web/src/api/api-keys.ts
  pkg/app/web/src/modules/api-keys.test.ts
  pkg/app/web/src/modules/api-keys.ts
Labels: approved, area/web, release-note-none, size/L

#1177 Fix web dependency errors
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#1180 Fix authorization for ListAPIKeys
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: approved, area/api, kind/bug, release-note-none, size/XS

#1181 Use nodejs scripts instead of sed to modify some imports
  pkg/app/web/BUILD.bazel
  pkg/app/web/strip-imports.js
Labels: approved, area/web, release-note-none, size/M

#1182 Update eslintrc
  pkg/app/web/.eslintrc.js
Labels: approved, area/web, release-note-none, size/XS

#1179 Add a definition of function for the deployment frequency graph
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/model/BUILD.bazel
  pkg/model/insight.proto
Labels: approved, area/api, release-note-none, size/M

#1183 Add API key management page
  pkg/app/web/src/components/generate-api-key-dialog.stories.tsx
  pkg/app/web/src/components/generate-api-key-dialog.tsx
  pkg/app/web/src/components/generated-api-key-dialog.stories.tsx
  pkg/app/web/src/components/generated-api-key-dialog.tsx
  pkg/app/web/src/constants/api-key-role-text.ts
  pkg/app/web/src/constants/path.ts
  pkg/app/web/src/modules/api-keys.test.ts
  pkg/app/web/src/modules/api-keys.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/pages/settings/api-key.tsx
  pkg/app/web/src/pages/settings/index.tsx
Labels: approved, area/web, size/L

#1185 [RFC] Update bazel template
  BUILD.bazel.tpl
Labels: approved, release-note-none, size/XS

#1186 Merge server and ops into pipecd component
  cmd/image.bzl
  cmd/ops/BUILD.bazel
  cmd/ops/OWNERS
  cmd/ops/main.go
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/OWNERS
  cmd/pipecd/README.md
  cmd/pipecd/main.go
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  cmd/server/README.md
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
  manifests/pipecd/templates/deployment.yaml
  pkg/app/ops/cmd/server/BUILD.bazel
  pkg/model/BUILD.bazel
Labels: approved, area/build, area/docs, area/manifests, area/ops, area/server, area/site, release-note-none, size/L

#1187 Rename `range_to` to `data_point_count`
  pkg/app/api/service/webservice/service.proto
Labels: approved, area/api, lgtm, release-note-none, size/XS

#1114 Add RFC for Image Watcher
  docs/rfcs/0001-image-watcher.md
  docs/rfcs/assets/image-watcher.jpg
Labels: approved, area/docs, area/site, release-note-none, size/M

#1190 Implement API key disabling on the web
  pkg/app/web/src/components/disable-api-key-confirm-dialog.stories.tsx
  pkg/app/web/src/components/disable-api-key-confirm-dialog.tsx
  pkg/app/web/src/components/generate-api-key-dialog.stories.tsx
  pkg/app/web/src/components/generated-api-key-dialog.stories.tsx
  pkg/app/web/src/components/generated-api-key-dialog.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/modules/api-keys.test.ts
  pkg/app/web/src/modules/api-keys.ts
  pkg/app/web/src/pages/settings/api-key.tsx
Labels: approved, area/web, size/L

#1194 Update site chart template
  manifests/site/templates/service.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1193 Add authentication logic for API key
  pkg/app/api/apikeyverifier/BUILD.bazel
  pkg/app/api/apikeyverifier/verifier.go
  pkg/app/api/apikeyverifier/verifier_test.go
  pkg/model/apikey.go
  pkg/rpc/rpcauth/BUILD.bazel
  pkg/rpc/rpcauth/auth.go
  pkg/rpc/rpcauth/auth_test.go
  pkg/rpc/rpcauth/interceptor.go
  pkg/rpc/rpcauth/interceptor_test.go
  pkg/rpc/server.go
Labels: approved, area/api, release-note-none, size/L

#1196 Add the definition for external api
  BUILD.bazel
  cmd/image.bzl
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/OWNERS
  cmd/pipectl/main.go
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
  manifests/pipecd/templates/service.yaml
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/api_test.go
  pkg/app/api/service/apiservice/BUILD.bazel
  pkg/app/api/service/apiservice/client.go
  pkg/app/api/service/apiservice/service.proto
  pkg/datastore/apikey.go
Labels: approved, area/api, area/build, area/manifests, area/server, release-note-none, size/L

#1201 Add test module target on Makefile
  Makefile
Labels: approved, release-note-none, size/XS

#1203 Avoid rerun bazel on switch terminal
  .bazelrc
  Makefile
Labels: approved, release-note-none, size/XS

#1197 Create insight data for change failure rate
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/grpcapi/web_api_test.go
Labels: approved, area/api, release-note-none, size/L

#1217 Automatically recreate piped pods when executing helm upgrade
  manifests/piped/templates/deployment.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1215 Add week picker component
  pkg/app/web/package.json
  pkg/app/web/src/components/week-picker.stories.tsx
  pkg/app/web/src/components/week-picker.tsx
  pkg/app/web/src/utils/setup-dayjs.ts
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#1224 Fix document in control-plane/architecture-overview: "api" > "server"
  docs/content/en/docs/operator-manual/control-plane/architecture-overview.md
Labels: approved, area/docs, area/site, release-note-none, size/XS, trigger/needs-ok-to-test

#1226 Fix the bug that WAIT stage does not wait for the specified duration
  pkg/app/piped/executor/wait/wait.go
Labels: approved, area/piped, size/M, trigger/needs-ok-to-test

#1227 Implement AddApplication rpc for external api
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/api_test.go
  pkg/app/api/grpcapi/utils.go
  pkg/app/api/grpcapi/web_api.go
  pkg/model/BUILD.bazel
  pkg/model/common.proto
  pkg/model/common_test.go
  pkg/rpc/rpcauth/interceptor.go
Labels: approved, area/api, release-note-none, size/L

#1229 Implement SyncApplication rpc for external api
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/utils.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/apiservice/service.proto
Labels: approved, area/api, release-note-none, size/L

#1230 Using utils getApplication instead of WebApi getApplication
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, release-note-none, size/S

#1228 Add UpdateApplication to WebApi
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.pb.auth.go
  pkg/app/api/service/webservice/service.proto
Labels: approved, area/api, release-note-none, size/M

#1231 Implement GetDeployment and GetCommand rpcs for external api
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/utils.go
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, release-note-none, size/L

#1234 Add UpdatePiped to WebApi
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.pb.auth.go
  pkg/app/api/service/webservice/service.proto
Labels: approved, area/api, release-note-none, size/M

#1235 Expose the api endpoints
  manifests/pipecd/templates/ingress.yaml
Labels: approved, release-note-none

#1239 Add deployment frequency chart component
  pkg/app/web/package.json
  pkg/app/web/src/components/deployment-frequency-chart.stories.tsx
  pkg/app/web/src/components/deployment-frequency-chart.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#1240 Add responsible support to the DeploymentFrequencyChart
  pkg/app/web/src/components/deployment-frequency-chart.tsx
Labels: approved, area/web, release-note-none, size/M

#1242 Make it possible to call GetInsightData from web
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: approved, release-note-none

#1237 Implement Edit Application on the web
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/__fixtures__/dummy-repo.ts
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/application-form-drawer.stories.tsx
  pkg/app/web/src/components/application-form-drawer.test.tsx
  pkg/app/web/src/components/application-form-drawer.tsx
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/components/edit-application-drawer.stories.tsx
  pkg/app/web/src/components/edit-application-drawer.tsx
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/modules/update-application.test.ts
  pkg/app/web/src/modules/update-application.ts
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, size/L

#1243 Add a package for yaml templating
  go.mod
  go.sum
  pkg/yamlprocessor/BUILD.bazel
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
  repositories.bzl
Labels: approved, area/build, release-note-none, size/L

#1246 Compare image in the container registry and one in git
  pkg/app/piped/imagewatcher/BUILD.bazel
  pkg/app/piped/imagewatcher/watcher.go
Labels: approved, area/piped, release-note-none, size/L, todo/skip

#1247 Refactor CLI to use the original deployment status
  pkg/app/pipectl/cmd/application/BUILD.bazel
  pkg/app/pipectl/cmd/application/sync.go
  pkg/app/pipectl/cmd/application/sync_test.go
  pkg/app/pipectl/cmd/deployment/BUILD.bazel
  pkg/app/pipectl/cmd/deployment/waitstatus.go
  pkg/app/pipectl/cmd/deployment/waitstatus_test.go
  pkg/model/deployment.go
Labels: approved, release-note-none, size/L

#1248 Implement insight page
  pkg/app/web/src/api/insight.ts
  pkg/app/web/src/components/insight-header.stories.tsx
  pkg/app/web/src/components/insight-header.tsx
  pkg/app/web/src/components/week-picker.tsx
  pkg/app/web/src/constants/insight-step-text.ts
  pkg/app/web/src/modules/deployment-frequency.test.ts
  pkg/app/web/src/modules/deployment-frequency.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/modules/insight.test.ts
  pkg/app/web/src/modules/insight.ts
  pkg/app/web/src/pages/insight/index.tsx
Labels: approved, area/web, size/L

#1252 Update OWNERS
  OWNERS
  OWNERS_ALIASES
  pkg/app/web/OWNERS
Labels: approved, area/web, release-note-none, size/S

#1253 Show the environment ID at the environment list page
  pkg/app/web/src/components/environment-list-item.tsx
  pkg/app/web/src/pages/settings/environment.tsx
Labels: approved, area/web, size/M

#1250 Add the ability to trigger the deployment on changes of the specified paths
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/trigger/BUILD.bazel
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/piped/trigger/trigger_test.go
  pkg/config/deployment.go
Labels: approved, area/docs, area/piped, area/site, lgtm, size/L

#1255 Update build to enable publishing pipectl
  .kapetanios/postsubmit.yaml
  BUILD.bazel.tpl
Labels: approved, area/kapetanios, release-note-none, size/S

#1251 Ensure to load image watcher config
  pkg/app/piped/imagewatcher/watcher.go
  pkg/config/BUILD.bazel
  pkg/config/image_watcher.go
  pkg/config/image_watcher_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/piped, release-note-none, size/L

#1256 Remove a link to the insights page on the application header
  pkg/app/web/src/components/header.tsx
Labels: approved, area/web, lgtm, size/S

#1258 Enable to push outdated images
  pkg/app/piped/imagewatcher/watcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1264 Add the ability to force the sync strategy via SYNC_APPLICATION command
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/kubernetes/pipeline_test.go
  pkg/app/piped/planner/terraform/pipeline.go
  pkg/app/piped/planner/terraform/terraform.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/pipeline.stories.tsx
  pkg/app/web/src/modules/applications.ts
  pkg/config/BUILD.bazel
  pkg/model/command.proto
  pkg/model/deployment.proto
Labels: approved, area/api, area/piped, area/web, lgtm, release-note-none, size/L

#1266 Add doc for pipectl
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/static/images/settings-api-key.png
Labels: approved, area/docs, area/site, release-note-none, size/L

#1267 Release v0.9.1
  docs/content/en/blog/releases/v0.9.1.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#1268 Fix missing rule for extracting pipectl binary
  BUILD.bazel
Labels: approved, release-note-none, size/XS

#1269 Release v0.9.2
  docs/content/en/blog/releases/v0.9.2.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#1236 Create filestore for insight
  pkg/insightstore/BUILD.bazel
  pkg/insightstore/chunk.go
  pkg/insightstore/chunk_test.go
  pkg/insightstore/filepath.go
  pkg/insightstore/filepath_test.go
  pkg/insightstore/filestore.go
  pkg/insightstore/filestore_test.go
Labels: approved, area/api, lgtm, release-note-none, size/XXL

#1271 Fix the publish date of release blog v0.9.1
  docs/content/en/blog/releases/v0.9.1.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1272 Docs: the pipectl download command
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: approved, area/docs, area/site, release-note-none, size/XS, trigger/needs-ok-to-test

#1278 Refactor application forms
  pkg/app/web/src/components/add-application-drawer.stories.tsx
  pkg/app/web/src/components/add-application-drawer.test.tsx
  pkg/app/web/src/components/add-application-drawer.tsx
  pkg/app/web/src/components/application-form-drawer.tsx
  pkg/app/web/src/components/application-form.tsx
  pkg/app/web/src/components/edit-application-drawer.tsx
  pkg/app/web/src/mocks/services/application.ts
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, release-note-none, size/XXL

#1280 Refactor deployment list page
  pkg/app/web/src/modules/deployments.test.ts
  pkg/app/web/src/modules/deployments.ts
  pkg/app/web/src/pages/deployments/index.tsx
  pkg/app/web/src/types/module.ts
Labels: approved, area/web, lgtm, release-note-none, size/L

#1270 Change to spawn image watcher workers for each git repository
  pkg/app/piped/imagewatcher/watcher.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1281 Fix no namespace resource found on delete resource k8s
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
Labels: approved, area/piped, release-note-none, size/S

#1282 Enable image watcher
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/imagewatcher/watcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1286 Add an option to do base64 encoding before encrypting the secret
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/api/piped.ts
  pkg/app/web/src/components/sealed-secret-dialog.tsx
  pkg/app/web/src/modules/sealed-secret.ts
Labels: approved, area/api, area/web, lgtm, size/S

#1288 Add sync options to the Sync Button at the application detail
  pkg/app/web/src/components/application-detail.test.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/deployment-detail.tsx
  pkg/app/web/src/components/split-button.stories.tsx
  pkg/app/web/src/components/split-button.test.tsx
  pkg/app/web/src/components/split-button.tsx
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/deployments.ts
Labels: approved, area/web, lgtm, size/L

#1291 Fix to ensure ECR region is populated
  pkg/app/piped/imageprovider/ecr/ecr.go
  pkg/app/piped/imagewatcher/watcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1292 Use a given region for ECR client
  pkg/app/piped/imageprovider/ecr/ecr.go
Labels: approved, area/piped, release-note-none, size/XS

#1293 Add an option to do base64 encoding before encrypting the secret
  pkg/app/web/src/components/sealed-secret-dialog.stories.tsx
  pkg/app/web/src/components/sealed-secret-dialog.tsx
  pkg/app/web/src/constants/ui-text.ts
Labels: approved, area/web, lgtm, size/L

#1295 Add rpc api and pipectl command to get application
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/application/BUILD.bazel
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/get.go
Labels: approved, area/api, lgtm, size/L

#1297 Update commit message generated by Image Watcher
  pkg/app/piped/imagewatcher/watcher.go
  pkg/config/testdata/.pipe/image-watcher.yaml
Labels: approved, area/piped, release-note-none, size/XS

#1302 Hide header navigations when the user is not logged in
  pkg/app/web/src/components/header.tsx
Labels: approved, area/web, lgtm, size/M

#1298 Create API to get insight datas from insightstore
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/grpcapi/web_api_test.go
Labels: approved, area/api, area/server, release-note-none, size/XL

#1301 Fix icon for cancelled deployment
  pkg/app/web/src/components/deployment-status-icon.test.tsx
  pkg/app/web/src/components/deployment-status-icon.tsx
Labels: approved, area/web, lgtm, release-note-none, size/S

#1305 Add web tests
  pkg/app/web/src/mocks/services/application.ts
  pkg/app/web/src/modules/deployment-configs.test.ts
  pkg/app/web/src/modules/deployment-configs.ts
  pkg/app/web/src/modules/deployment-frequency.test.ts
  pkg/app/web/src/modules/deployment-frequency.ts
  pkg/app/web/src/modules/sealed-secret.test.ts
  pkg/app/web/src/modules/sealed-secret.ts
  pkg/app/web/src/modules/update-application.test.ts
  pkg/app/web/src/modules/update-application.ts
Labels: approved, area/web, release-note-none, size/L

#1300 Add lambda deployment rfc
  docs/rfcs/0002-lambda-deployment.md
Labels: approved, area/docs, area/site, release-note-none, size/M

#1306 Enable to give aws credentials file via value
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#1311 Ensure to give path that doesn’t exist for copying repo
  pkg/app/piped/imagewatcher/watcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1310 Add web tests
  pkg/app/web/.scaffdog/module.md
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/components/diff-view.test.tsx
  pkg/app/web/src/components/diff-view.tsx
  pkg/app/web/src/modules/active-stage.test.ts
  pkg/app/web/src/modules/api-keys.test.ts
  pkg/app/web/src/modules/application-filter-options.test.ts
  pkg/app/web/src/modules/applications-live-state.test.ts
  pkg/app/web/src/modules/applications-live-state.ts
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/commands.test.ts
  pkg/app/web/src/modules/deployment-filter-options.test.ts
  pkg/app/web/src/modules/deployments.test.ts
  pkg/app/web/src/modules/environments.test.ts
  pkg/app/web/src/modules/insight.test.ts
  pkg/app/web/src/modules/insight.ts
  pkg/app/web/src/modules/login.test.ts
  pkg/app/web/src/modules/me.test.ts
  pkg/app/web/src/modules/pipeds.test.ts
  pkg/app/web/src/modules/project.test.ts
  pkg/app/web/src/modules/stage-logs.test.ts
  pkg/app/web/src/modules/toasts.test.ts
Labels: approved, area/web, release-note-none, size/L

#1296 Add notes on copying git repository
  pkg/git/repo.go
Labels: approved, release-note-none, size/XS

#1312 Add disabled option to pipectl list application command
  docs/content/en/docs/user-guide/command-line-tool.md
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/application/list.go
Labels: approved, area/api, area/docs, area/site, release-note-none, size/M

#1313 Implement application deleting on the web
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/components/delete-application-dialog.stories.tsx
  pkg/app/web/src/components/delete-application-dialog.tsx
  pkg/app/web/src/components/toasts.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/delete-application.test.ts
  pkg/app/web/src/modules/delete-application.ts
  pkg/app/web/src/modules/index.ts
Labels: approved, area/web, lgtm, size/L

#1287 Create insight collector
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  go.mod
  go.sum
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/collector_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
  pkg/insightstore/BUILD.bazel
  pkg/insightstore/chunk.go
  pkg/insightstore/chunk_test.go
  pkg/insightstore/datapoint.go
  pkg/insightstore/datapoint_test.go
  pkg/insightstore/filestore.go
  pkg/insightstore/filestore_test.go
Labels: approved, area/api, area/ops, area/server, release-note-none, size/XXL

#1315 Fix wrong status string in the output of pipectl wait-status command
  pkg/app/pipectl/client/deployment.go
Labels: approved, release-note-none, size/XS

#1299 Fix broken URL in the documentation
  docs/content/en/docs/examples/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS, trigger/needs-ok-to-test

#1316 Fix malformed summary of the quick sync case
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: approved, area/piped, release-note-none, size/XS

#1317 Release v0.9.3
  docs/content/en/blog/releases/v0.9.3.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#1319 Enable to retrieve credentials from EC2 Instance Role
  pkg/app/piped/imageprovider/ecr/BUILD.bazel
  pkg/app/piped/imageprovider/ecr/ecr.go
  pkg/config/piped.go
Labels: approved, area/piped, release-note-none, size/M

#1320 Change deployment strategy of ops to Recreate
  manifests/pipecd/templates/deployment.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1322 Use default username and email for git config
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/config/piped.go
  pkg/git/client.go
  pkg/git/ssh_config.go
Labels: approved, area/docs, area/site, release-note-none, size/M

#1324 Format bazel BUILDs by make gazelle
  cmd/pipecd/BUILD.bazel
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/insightstore/BUILD.bazel
Labels: approved, area/ops, area/server, release-note-none, size/S

#1325 Use ErrNotFound to indicate no config file found
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/imageprovider/ecr/ecr.go
  pkg/app/piped/imagewatcher/watcher.go
  pkg/config/analysis_template.go
  pkg/config/config.go
  pkg/config/image_watcher.go
Labels: approved, area/piped, release-note-none, size/M

#1328 Add filtering for the fetch applications that exclude deleted app
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
Labels: approved, area/web, size/S

#1329 Remove unnecessary application filter
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
Labels: approved, area/web, release-note-none, size/S

#1330 Add filter applications by environment name
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/utils.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/application/list.go
Labels: approved, area/api, lgtm, release-note-none, size/M

#1321 Add cache for insight
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/web_api.go
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/collector_test.go
  pkg/insight/BUILD.bazel
  pkg/insight/chunk.go
  pkg/insight/chunk_test.go
  pkg/insight/datapoint.go
  pkg/insight/datapoint_test.go
  pkg/insight/filepath.go
  pkg/insight/filepath_test.go
  pkg/insight/filestore.go
  pkg/insight/filestore_test.go
Labels: approved, area/api, area/ops, area/server, lgtm, release-note-none, size/L

#1331 Update analysis provider config reference
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1333 Fix error python not found on expose-generated-go
  hack/expose-generated-go.sh
Labels: approved, area/hack, release-note-none, size/XS

#1335 Add docs for Image watcher
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/operator-manual/piped/adding-an-image-provider.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuring-image-watcher.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/image-watcher.md
  examples/.pipe/image-watcher.yaml
Labels: approved, area/docs, area/site, release-note-none, size/L

#1337 Update fields of optional image watcher config
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuring-image-watcher.md
  pkg/app/piped/imagewatcher/watcher.go
  pkg/config/image_watcher.go
  pkg/config/image_watcher_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/.pipe/image-watcher.yaml
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/docs, area/piped, area/site, lgtm, release-note-none, size/L

#1339 Store insight milestone file on filestore
  pkg/insight/BUILD.bazel
  pkg/insight/filestore.go
  pkg/insight/milestone.go
Labels: approved, release-note-none, size/M
