Repository pipe-cd/pipecd, pull requests merged in 2020-11, with the labels that each got.

#1048 Show traffic routing percentage on K8S_TRAFFIC_ROUTING stage
  pkg/app/web/src/components/pipeline-stage.stories.tsx
  pkg/app/web/src/components/pipeline-stage.tsx
  pkg/app/web/src/components/pipeline.stories.tsx
  pkg/app/web/src/components/pipeline.tsx
Labels: approved, area/web, size/M

#1052 Fix a bug that not showing edit button for RBAC if RBAC not configured
  pkg/app/web/src/components/rbac-form.stories.tsx
  pkg/app/web/src/components/rbac-form.tsx
Labels: approved, area/web, release-note-none, size/M

#1054 Remove outdated flags from Piped Development Contribute Guide
  docs/content/en/docs/contribution-guidelines/piped-development.md
Labels: approved, area/docs, area/site, release-note-none, size/XS, trigger/needs-ok-to-test

#1055 Show application kind on the application list
  pkg/app/web/src/components/application-list.stories.tsx
  pkg/app/web/src/components/application-list.tsx
Labels: approved, area/web, size/S

#1056 Fix a crash bug of piped while starting up
  pkg/app/piped/livestatestore/kubernetes/store.go
Labels: approved, area/piped, size/S

#1053 Fix the bug that user was able to see some web contents from other projects
  cmd/server/server.go
  pkg/app/api/api/BUILD.bazel
  pkg/app/api/api/web_api.go
Labels: approved, area/api, area/server, release-note-none, size/L

#1059 Update bazel to 3.7.0, rules_go to v0.24.5
  .bazelversion
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1060 Fix a bug that piped was handling only one stage LogPersister at a time
  pkg/app/piped/logpersister/BUILD.bazel
  pkg/app/piped/logpersister/persister.go
  pkg/app/piped/logpersister/persister_test.go
Labels: approved, area/piped, release-note-none, size/L

#1063 Fix a bug that piped was unable to send stage logs after restarting
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, release-note-none, size/S

#1061 Ensure to give back resources owned by requested Piped
  cmd/server/server.go
  pkg/app/api/api/BUILD.bazel
  pkg/app/api/api/piped_api.go
  pkg/app/api/api/piped_api_test.go
  pkg/app/api/api/web_api.go
  pkg/app/api/api/web_api_test.go
Labels: approved, area/api, area/server, release-note-none, size/XL

#1064 Redesign the deployment item component
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/components/deployment-item.stories.tsx
  pkg/app/web/src/components/deployment-item.tsx
  pkg/app/web/src/styles/text.ts
Labels: approved, area/web, size/L

#1065 Refactor deployment detail component
  pkg/app/web/package.json
  pkg/app/web/src/components/deployment-detail.test.tsx
  pkg/app/web/src/components/deployment-detail.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#1066 Refactor application detail component
  pkg/app/web/src/components/application-detail.test.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/application.ts
Labels: approved, area/web, release-note-none, size/L

#1070 Add tests to guarantee to remove only expected resources
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
Labels: approved, area/piped, release-note-none, size/L

#1067 Add namespace flag to the instruction to add a project
  docs/content/en/docs/operator-manual/control-plane/adding-a-project.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1068 Ensure to sync progressively when configmap/secret added/deleted
  pkg/app/piped/planner/kubernetes/BUILD.bazel
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/planner/kubernetes/pipeline_test.go
Labels: approved, area/piped, release-note-none, size/L

#1071 Refactor AddApplicationForm component
  pkg/app/web/src/components/add-application-drawer.stories.tsx
  pkg/app/web/src/components/add-application-drawer.test.tsx
  pkg/app/web/src/components/add-application-drawer.tsx
  pkg/app/web/src/components/add-application-form.tsx
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, release-note-none, size/XL

#1073 Rename tool directory in piped-base image
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
  dockers/piped-base/install-helm.sh
  dockers/piped-base/install-kubectl.sh
  dockers/piped-base/install-kustomize.sh
  dockers/piped-base/install-terraform.sh
Labels: approved, release-note-none, size/M

#1074 Add mock for kubernetes provider
  pkg/app/piped/cloudprovider/kubernetes/providertest/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/providertest/mock.go
Labels: approved, area/piped, release-note-none, size/M

#1075 Rename bin-dir to tools-dir
  WORKSPACE
  docs/content/en/docs/contribution-guidelines/piped-development.md
  docs/content/en/docs/operator-manual/piped/installation.md
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/docs, area/piped, area/site, release-note-none, size/S

#1076 Add tests for ensuring kubernetes sync
  pkg/app/piped/cloudprovider/kubernetes/providertest/BUILD.bazel
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/planner/kubernetes/BUILD.bazel
Labels: approved, area/piped, release-note-none, size/L

#1078 Add test cases to ensure proper synchronization
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
Labels: approved, area/piped, release-note-none, size/L

#1080 Add a flag to change the web API endpoint
  cmd/server/server.go
  pkg/app/web/BUILD.bazel
  pkg/app/web/dev.html
  pkg/app/web/prod.html
  pkg/app/web/src/api/client.ts
  pkg/app/web/src/app.d.ts
Labels: approved, area/server, area/web, release-note-none, size/M

#1082 Revert "Add a flag to change the web API endpoint (#1080)"
  cmd/server/server.go
  pkg/app/web/BUILD.bazel
  pkg/app/web/base.html
  pkg/app/web/dev.html
  pkg/app/web/src/api/client.ts
  pkg/app/web/src/app.d.ts
Labels: approved, area/server, area/web, release-note-none, size/M

#1083 Fix html file for web
  pkg/app/web/base.html
Labels: approved, area/web, release-note-none, size/XS

#1084 Update deployment detail test
  pkg/app/web/src/components/pipeline.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/deployment.ts
  pkg/app/web/src/pages/deployments/detail.test.tsx
Labels: approved, area/web, release-note-none, size/L

#1085 Use formik to create a form
  pkg/app/web/package.json
  pkg/app/web/src/components/add-env-form.stories.tsx
  pkg/app/web/src/components/add-env-form.tsx
  pkg/app/web/src/pages/settings/environment.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#1087 Fix the command to generate encryption key in string
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1091 Fix toast severity for RBAC updating failure
  pkg/app/web/src/components/rbac-form.tsx
Labels: approved, area/web, size/XS

#1092 Remove TRAFFIC_ROUTINE stage from bluegreen example
  examples/kubernetes/bluegreen/.pipe.yaml
Labels: approved, release-note-none, size/XS

#1079 Fix to do not filter out service manifests
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
Labels: approved, area/piped, release-note-none, size/L

#1093 Stop checking if variant selector is in the workload
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
Labels: approved, area/piped, release-note-none, size/M

#1095 Fix a bug that cannot set RBAC when it was not configured yet
  pkg/app/web/src/modules/project.ts
Labels: approved, area/web, size/XS

#1096 Remove old error toasts
  pkg/app/web/src/components/github-sso-form.tsx
  pkg/app/web/src/components/rbac-form.tsx
  pkg/app/web/src/components/static-admin-form.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/pages/applications/detail.tsx
Labels: approved, area/web, release-note-none, size/M

#1097 Ensure to check variant label only when necessary
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/config/BUILD.bazel
  pkg/config/deployment.go
  pkg/config/deployment_test.go
Labels: approved, area/piped, release-note-none, size/L

#1098 Add notes on using pod selector as a traffic routing method
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1099 Add test cases for ensuring canary rollout
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
Labels: approved, area/piped, release-note-none, size/L

#1100 Refactor add application drawer component
  pkg/app/web/src/components/add-application-drawer.stories.tsx
  pkg/app/web/src/components/add-application-drawer.test.tsx
  pkg/app/web/src/components/add-application-drawer.tsx
Labels: approved, area/web, release-note-none, size/XL

#1101 Simplify piped controller by introducing a new deploysource package
  pkg/app/piped/controller/BUILD.bazel
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controller_test.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/deploysource/BUILD.bazel
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/deploysource/deploysource_test.go
  pkg/app/piped/executor/BUILD.bazel
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/cloudrun/BUILD.bazel
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/executor.go
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/terraform/BUILD.bazel
  pkg/app/piped/executor/terraform/apply.go
  pkg/app/piped/executor/terraform/plan.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/sync.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/planner/BUILD.bazel
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/kubernetes/BUILD.bazel
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planner/terraform/terraform.go
Labels: approved, area/piped, release-note-none, size/XXL, todo/skip

#1105 Fix a bug that automatically chosen a stage periodically
  pkg/app/web/src/components/pipeline.test.tsx
  pkg/app/web/src/components/pipeline.tsx
Labels: approved, area/web, size/M

#1106 Stop requesting the stage log if deployment status is planned or pending
  pkg/app/web/src/modules/stage-logs.ts
Labels: approved, area/web, release-note-none, size/S

#1107 Fix the bug that api crashes when RBAC was not configured
  pkg/app/api/authhandler/callback.go
Labels: approved, release-note-none

#1108 Refactor executors for cloudrun deployment
  pkg/app/piped/executor/cloudrun/BUILD.bazel
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
  pkg/app/piped/planner/cloudrun/cloudrun.go
Labels: approved, release-note-none

#1110 Use a separate deploy source provider to load the config instead of using stage's one
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, release-note-none, size/M

#1111 Typos fix and minor texts clarifying
  docs/content/en/blog/news/announcing-pipecd/index.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/operator-manual/_index.md
  docs/content/en/docs/operator-manual/control-plane/adding-an-environment.md
  docs/content/en/docs/operator-manual/control-plane/registering-a-piped.md
  docs/content/en/docs/operator-manual/piped/installation.md
  docs/content/en/docs/user-guide/adding-a-manual-approval.md
  docs/content/en/docs/user-guide/adding-a-wait-stage.md
  docs/content/en/docs/user-guide/adding-an-application.md
  docs/content/en/docs/user-guide/automated-deployment-analysis.md
  docs/content/en/docs/user-guide/cancelling-a-deployment.md
  docs/content/en/docs/user-guide/configuration-drift-detection.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs/user-guide/configuring-deployment/terraform.md
  docs/content/en/docs/user-guide/insights.md
  docs/content/en/docs/user-guide/sealed-secrets.md
  docs/content/en/docs/user-guide/triggering-a-deployment.md
Labels: approved, area/docs, area/site, release-note-none, size/M

#1112 Enable key-rotation ability for piped key
  cmd/server/BUILD.bazel
  cmd/server/server.go
  pkg/app/api/api/web_api.go
  pkg/app/api/pipedtokenverifier/BUILD.bazel
  pkg/app/api/pipedtokenverifier/verifier.go
  pkg/app/api/pipedtokenverifier/verifier_test.go
  pkg/app/api/pipedverifier/BUILD.bazel
  pkg/app/api/pipedverifier/verifier.go
  pkg/app/api/pipedverifier/verifier_test.go
  pkg/datastore/pipedstore.go
  pkg/model/BUILD.bazel
  pkg/model/piped.go
  pkg/model/piped.proto
  pkg/model/piped_test.go
Labels: approved, area/api, area/server, size/XL

#1113 Add guide to run control-plane locally by using envoy
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
  docs/content/en/docs/contribution-guidelines/piped-development.md
  local/Dockerfile
  local/envoy-config.yaml
Labels: approved, area/docs, area/site, release-note-none, size/L, trigger/needs-ok-to-test

#1115 Fix displaying of the pipeline that exceed the screen width
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/components/pipeline.tsx
  pkg/app/web/src/pages/deployments/detail.tsx
Labels: approved, area/web, release-note-none, size/L

#1116 Refactor terraform executor
  pkg/app/piped/executor/terraform/BUILD.bazel
  pkg/app/piped/executor/terraform/apply.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/plan.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/sync.go
  pkg/app/piped/executor/terraform/terraform.go
Labels: approved, area/piped, release-note-none, size/XL

#1118 Fix wrong returning status in terraform executor
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
Labels: approved, area/piped, release-note-none, size/XS

#1119 Refactor AddPipdeForm
  pkg/app/web/src/components/add-piped-form.stories.tsx
  pkg/app/web/src/components/add-piped-form.tsx
Labels: approved, area/web, release-note-none, size/M

#1120 Fix the bug that caused validtion error while registering a new piped
  pkg/model/piped.proto
Labels: approved, release-note-none, size/XS

#1121 Refactor kubernetes executor
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
Labels: approved, area/piped, release-note-none, size/XL

#1122 Fix the summary sentence of kubernetes planner
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: approved, area/piped, release-note-none, size/XS

#1123 Update feature status
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1124 Fix an error message for the failed to fetch application live state
  pkg/app/web/src/modules/applications-live-state.ts
Labels: approved, area/web, release-note-none, size/S

#1125 Update FAQ
  docs/content/en/docs/faq/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1126 Release v0.9.0
  docs/content/en/blog/releases/v0.9.0.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#1127 Refactor static admin form
  pkg/app/web/src/components/static-admin-form.stories.tsx
  pkg/app/web/src/components/static-admin-form.test.tsx
  pkg/app/web/src/components/static-admin-form.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/project.ts
Labels: approved, area/web, release-note-none, size/L

#1128 Use userEvent instead of fireEvent for web tests
  pkg/app/web/src/components/application-state-view.test.tsx
  pkg/app/web/src/components/approval-stage.test.tsx
  pkg/app/web/src/components/header.test.tsx
  pkg/app/web/src/components/kubernetes-state-view.test.tsx
  pkg/app/web/src/components/log-viewer.test.tsx
  pkg/app/web/src/components/sealed-secret-dialog.test.tsx
  pkg/app/web/src/components/split-button.test.tsx
  pkg/app/web/src/components/toasts.test.tsx
Labels: approved, area/web, release-note-none, size/M

#1130 Change viewer and editor team of RBAC configuration to be optional
  pkg/datastore/projectstore.go
  pkg/model/project.go
  pkg/model/project.proto
  pkg/model/project_test.go
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
Labels: approved, release-note-none, size/M

#1131 Add custom stage feature to the roadmap
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1132 Add namespace to template helm chart
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/helm_test.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/testchart/templates/deployment.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testchart/templates/ingress.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testchart/templates/service.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testchart/templates/serviceaccount.yaml
Labels: approved, area/piped, release-note-none, size/M, todo/skip, trigger/needs-ok-to-test

#1135 Add AWS services to feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1133 Simplify the diff message for sensitive data
  pkg/app/piped/diff/renderer.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: approved, area/piped, release-note-none, size/S, trigger/needs-ok-to-test

#1141 Refactor application detail error handling
  pkg/app/web/src/components/application-detail.stories.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/application-state-view.test.tsx
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/modules/applications-live-state.ts
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/pages/applications/detail.tsx
Labels: approved, area/web, release-note-none, size/L

#1140 Update storybook to 6.1.6
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/XXL

#1144 Add env parameter to the helm template of pipecd
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1148 Refactor deployment config file form
  pkg/app/web/src/components/deployment-config-form.tsx
Labels: approved, area/web, release-note-none, size/L

#1150 Rename package pkg/app/api/api to grpcapi
  cmd/server/BUILD.bazel
  cmd/server/server.go
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/deployment_config_templates.go
  pkg/app/api/grpcapi/deploymentconfigtemplates/KubernetesBlueGreen
  pkg/app/api/grpcapi/deploymentconfigtemplates/KubernetesCanary
  pkg/app/api/grpcapi/deploymentconfigtemplates/KubernetesKustomize
  pkg/app/api/grpcapi/deploymentconfigtemplates/KubernetesSimple
  pkg/app/api/grpcapi/fake_web_api.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/piped_api_test.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/grpcapi/web_api_test.go
Labels: approved, area/api, area/server, release-note-none, size/S

#1151 Update bazel to 3.7.1, rules_go to v0.24.7
  .bazelversion
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1152 Update owners
  OWNERS
  OWNERS_ALIASES
Labels: approved, release-note-none, size/XS

#1154 Update helloworld image version to match quickstart guide
  examples/kubernetes/canary/deployment.yaml
Labels: approved, release-note-none, size/XS, trigger/needs-ok-to-test

#1163 Remove no longer used fake-web api
  cmd/server/server.go
  docs/content/en/docs/contribution-guidelines/piped-development.md
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/fake_web_api.go
Labels: approved, area/api, area/docs, area/manifests, area/server, area/site, release-note-none, size/XL

#1164 Add APIKey model and its gRPC definitions
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/model/BUILD.bazel
  pkg/model/apikey.proto
Labels: approved, area/api, release-note-none, size/M

#1166 Allow configuring the proxy for GitHub auth client
  pkg/model/project.proto
  pkg/oauth/github/github.go
Labels: approved, release-note-none, size/S

#1167 Implement api-key's apis for web client
  BUILD.bazel
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.pb.auth.go
  pkg/app/api/service/webservice/service.proto
  pkg/datastore/BUILD.bazel
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/model/BUILD.bazel
  pkg/model/apikey.go
  pkg/model/apikey.proto
  pkg/model/apikey_test.go
  pkg/model/model.go
  pkg/model/model_test.go
  pkg/model/piped.go
  pkg/model/piped_test.go
Labels: approved, area/api, release-note-none, size/XL
