Repository pipe-cd/pipecd, pull requests merged in 2020-10, with the labels that each got.

#919 Fix wrong LICENSE link
  README.md
Labels: approved, release-note-none, size/XS

#920 Do not apply to the default namespace at Quickstart guide
  docs/content/en/docs/quickstart/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#921 Fix spelling in docs
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/examples.md
Labels: approved, area/docs, area/site, release-note-none, size/S, trigger/needs-ok-to-test

#922 Fix typos
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/control-plane/auth.md
  docs/content/en/docs/user-guide/adding-an-application.md
Labels: approved, area/docs, area/site, release-note-none, size/XS, trigger/needs-ok-to-test

#924 Specify kubernetes packages by tag instead of commit hash
  go.mod
  go.sum
  repositories.bzl
Labels: approved, area/build, release-note-none, size/L

#925 Fix wrong description in docs config
  docs/config.toml
Labels: approved, area/docs, area/site, release-note-none, size/XS

#927 Update bazel to 3.6.0, go to 1.14.9 and buildtools to 3.5.0
  .bazelversion
  WORKSPACE
Labels: approved, release-note-none, size/XS

#929 Add web tests
  pkg/app/web/jest.after-env.ts
  pkg/app/web/package.json
  pkg/app/web/src/components/approval-stage.test.tsx
  pkg/app/web/src/components/deployment-status-icon.test.tsx
  pkg/app/web/src/components/deployment-status-icon.tsx
  pkg/app/web/src/utils/use-interval.test.ts
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#931 Add secrets management feature to feature status
  README.md
  docs/content/en/_index.html
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/overview/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#935 Add more tests for web
  pkg/app/web/src/components/deployment-detail.tsx
  pkg/app/web/src/components/header.test.tsx
  pkg/app/web/src/components/header.tsx
  pkg/app/web/src/components/log-viewer.test.tsx
  pkg/app/web/src/components/log-viewer.tsx
  pkg/app/web/src/components/split-button.test.tsx
  pkg/app/web/src/hooks/use-interval.test.ts
  pkg/app/web/src/hooks/use-interval.ts
  pkg/app/web/src/pages/applications/detail.tsx
  pkg/app/web/src/pages/deployments/detail.tsx
  pkg/app/web/src/pages/index.tsx
  pkg/app/web/test-utils.tsx
Labels: approved, area/web, release-note-none, size/L

#936 Add deployments module tests
  pkg/app/web/src/modules/deployments.test.ts
  pkg/app/web/src/modules/deployments.ts
Labels: approved, area/web, release-note-none, size/L

#937 Use create-namespace option to simplify the installation command
  docs/content/en/docs/quickstart/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#938 Add rfc template to docs
  docs/rfcs/0000-template.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#939 Add comparisons to FAQ
  docs/content/en/docs/faq/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#941 Add missing namespace option to port-forward command
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS, trigger/needs-ok-to-test

#942 Fix doubled word in the drift description
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: approved, area/piped, release-note-none, size/XS, trigger/needs-ok-to-test

#940 Rename operator component to ops
  BUILD.bazel
  cmd/image.bzl
  cmd/operator/OWNERS
  cmd/ops/BUILD.bazel
  cmd/ops/OWNERS
  cmd/ops/README.md
  cmd/ops/main.go
  docs/content/en/docs/operator-manual/control-plane/adding-a-project.md
  docs/content/en/docs/operator-manual/control-plane/architecture-overview.md
  docs/static/images/control-plane-components.png
  pkg/app/operator/OWNERS
  pkg/app/ops/OWNERS
  pkg/app/ops/cmd/server/BUILD.bazel
  pkg/app/ops/cmd/server/server.go
  pkg/app/ops/handler/BUILD.bazel
  pkg/app/ops/handler/handler.go
  pkg/app/ops/handler/templates/AddProject
  pkg/app/ops/handler/templates/AddedProject
  pkg/app/ops/handler/templates/ListProjects
  pkg/app/ops/handler/templates/Top
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/modelcleaner/BUILD.bazel
  pkg/app/ops/modelcleaner/cleaner.go
Labels: approved, area/build, area/docs, area/operator, area/site, size/M

#928 Refactor helm template
  docs/content/en/docs/operator-manual/control-plane/installation.md
  docs/content/en/docs/quickstart/_index.md
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
  manifests/pipecd/templates/ingress.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/docs, area/manifests, area/site, release-note-none, size/M

#943 Rename operator component in manfiests
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/S

#945 Fix wrong port number in quickstart
  quickstart/piped-values.yaml
Labels: approved, release-note-none, size/XS

#946 Update installation.md
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#947 Release v0.7.6
  docs/content/en/blog/releases/v0.7.6.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#948 Increase the timeout value of the build to make the binary on macos
  .kapetanios/postsubmit.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#950 Add SealedSecret configuration
  BUILD.bazel
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/deployment.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_terraform.go
  pkg/config/deployment_terraform_test.go
  pkg/config/sealed_secret.go
  pkg/config/sealed_secret_test.go
  pkg/config/testdata/application/k8s-plain-yaml.yaml
  pkg/config/testdata/application/terraform-app-sealed-secret.yaml
  pkg/config/testdata/sealedsecret/invalid.yaml
  pkg/config/testdata/sealedsecret/ok.yaml
Labels: approved, release-note-none, size/L

#952 Add functions to generate and parse RSA keys
  BUILD.bazel
  pkg/crypto/BUILD.bazel
  pkg/crypto/key.go
  pkg/crypto/key_test.go
  pkg/crypto/testdata/private-rsa-pem
  pkg/crypto/testdata/public-rsa-pem
Labels: approved, release-note-none, size/L

#956 Add RSA ecnrypter and decrypter
  pkg/config/piped.go
  pkg/crypto/rsa.go
  pkg/crypto/rsa_test.go
Labels: approved, release-note-none, size/L

#957 Allow to specify resources at quickstart
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/M

#958 Add more web tests
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/app/web/src/modules/commands.test.ts
  pkg/app/web/src/modules/deployment-filter-options.test.ts
  pkg/app/web/src/modules/environments.test.ts
  pkg/app/web/src/modules/login.test.ts
  pkg/app/web/src/modules/pipeds.test.ts
  pkg/app/web/src/modules/toasts.test.ts
Labels: approved, area/web, release-note-none, size/L

#959 Refactor constants in ts by moving them to separate files
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/components/deployment-detail.tsx
  pkg/app/web/src/components/deployment-item.tsx
  pkg/app/web/src/components/header.tsx
  pkg/app/web/src/components/login-form.tsx
  pkg/app/web/src/constants/common.ts
  pkg/app/web/src/constants/path.ts
  pkg/app/web/src/pages/index.tsx
  pkg/app/web/src/pages/login.tsx
  pkg/app/web/src/pages/settings/index.tsx
Labels: approved, area/web, release-note-none, size/S

#960 Add a note about pull request to examples' readme
  examples/README.remote.md
Labels: approved, release-note-none, size/XS

#961 Add resources as piped's default value
  manifests/piped/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#962 Add URL format description
  docs/content/en/docs/operator-manual/piped/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#963 Add secret encryption feature on control-plane
  pkg/app/api/api/BUILD.bazel
  pkg/app/api/api/fake_web_api.go
  pkg/app/api/api/piped_api.go
  pkg/app/api/api/web_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/api/service/webservice/service.proto
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/web/src/modules/pipeds.ts
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/crypto/rsa.go
  pkg/crypto/rsa_test.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.go
  pkg/model/piped.proto
Labels: approved, area/api, area/piped, area/web, release-note-none, size/L

#964 Fix bug that cannot change application kind from the default value at the form
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/components/add-application-form.test.tsx
  pkg/app/web/src/components/add-application-form.tsx
Labels: approved, size/S

#965 Fix gazelle warnings about multiple rules have the same name
  cmd/api/BUILD.bazel
  cmd/helloworld/BUILD.bazel
  cmd/ops/BUILD.bazel
  cmd/piped/BUILD.bazel
  cmd/web/BUILD.bazel
Labels: approved, area/api, area/helloworld, area/ops, area/piped, area/web, release-note-none, size/S

#966 Add toast logic for showing request errors
  pkg/app/web/src/components/toasts.test.tsx
  pkg/app/web/src/components/toasts.tsx
  pkg/app/web/src/middlewares/thunk-error-handler.test.ts
  pkg/app/web/src/middlewares/thunk-error-handler.ts
  pkg/app/web/src/store.ts
Labels: approved, area/web, size/L

#967 Add a missing type for the API client
  pkg/app/web/src/api/client.ts
Labels: approved, release-note-none, size/XS

#971 Add an API client test by using mocks
  pkg/app/web/package.json
  pkg/app/web/src/api/client.ts
  pkg/app/web/src/api/me.test.ts
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/serializer.ts
  pkg/app/web/src/mocks/server.ts
  pkg/app/web/src/mocks/services/me.ts
  pkg/app/web/src/mocks/utils.ts
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#970 Emit target namespace on the stage log
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: approved, area/piped, release-note-none, size/XS

#973 Enable decrypting the sealed secrets at piped
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/config/config.go
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda.go
  pkg/config/deployment_terraform.go
  pkg/config/deployment_terraform_test.go
  pkg/config/testdata/application/k8s-plain-yaml.yaml
  pkg/config/testdata/application/terraform-app-sealed-secret.yaml
  pkg/crypto/key.go
  pkg/crypto/key_test.go
  pkg/crypto/rsa_test.go
  pkg/crypto/testdata/private-rsa-pem
  pkg/crypto/testdata/public-rsa-pem
Labels: approved, area/piped, release-note-none, size/XL

#974 Use skelton component for the loading indicator of application detail
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/components/application-detail.stories.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/modules/applications.ts
Labels: approved, area/web, size/M

#968 Update rules_go to v0.24.4, gazelle to v0.22.2 and go to 1.14.10
  WORKSPACE
Labels: approved, release-note-none, size/S

#975 Change the spec of sealed secret to provide better visibility in Git
  pkg/app/piped/controller/BUILD.bazel
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controller_test.go
  pkg/config/sealed_secret.go
  pkg/config/sealed_secret_test.go
  pkg/config/testdata/sealedsecret/invalid.yaml
  pkg/config/testdata/sealedsecret/ok.yaml
Labels: approved, area/piped, release-note-none, size/L

#983 Make dependencies config generic
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/config/deployment.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_terraform.go
Labels: approved, area/docs, area/site, release-note-none, size/S

#986 Add missing rpc to auth list
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: approved, area/api, release-note-none, size/XS

#985 Simplify the sealedsecret's spec for the case of not using template
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controller_test.go
  pkg/config/sealed_secret.go
  pkg/config/sealed_secret_test.go
  pkg/config/testdata/sealedsecret/invalid.yaml
  pkg/config/testdata/sealedsecret/ok.yaml
Labels: approved, area/piped, release-note-none, size/L

#984 Implements generating application secret
  pkg/app/web/src/api/piped.ts
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/components/sealed-secret-dialog.stories.tsx
  pkg/app/web/src/components/sealed-secret-dialog.tsx
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/modules/sealed-secret.test.ts
  pkg/app/web/src/modules/sealed-secret.ts
Labels: approved, area/web, size/L

#988 Enable decrypting sealedsecrets in drift detector
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/BUILD.bazel
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector_test.go
Labels: approved, area/piped, release-note-none, size/L

#990 Add copy button for copying of encrypted secret
  pkg/app/web/package.json
  pkg/app/web/src/components/sealed-secret-dialog.stories.tsx
  pkg/app/web/src/components/sealed-secret-dialog.test.tsx
  pkg/app/web/src/components/sealed-secret-dialog.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, size/L

#991 Change the format of encryption key to deal with pems generated by openssl
  pkg/crypto/key.go
  pkg/crypto/key_test.go
  pkg/crypto/testdata/private-rsa-pem
  pkg/crypto/testdata/public-rsa-pem
Labels: approved, release-note-none, size/L

#992 Refactor the config of sealed secret management
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/manifests, area/piped, release-note-none, size/L

#993 Remove credentials config from terraform provider
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/app/piped/executor/terraform/apply.go
  pkg/app/piped/executor/terraform/plan.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/sync.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/docs, area/piped, area/site, release-note-none, size/M

#994 Add base implementation of resource filter
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/components/kubernetes-state-view.stories.tsx
  pkg/app/web/src/components/kubernetes-state-view.test.tsx
  pkg/app/web/src/components/kubernetes-state-view.tsx
Labels: approved, area/web, release-note-none, size/L

#995 Run piped as a non-root user
  cmd/piped/BUILD.bazel
Labels: approved, area/piped, release-note-none, size/M

#996 Fix the bug that the copy button at the sealing secret form was not worked
  pkg/app/web/src/components/sealed-secret-dialog.tsx
Labels: approved, area/web, release-note-none, size/XS

#1000 Add document for sealed secret feature
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/image-watcher.md
  docs/content/en/docs/user-guide/sealed-secrets.md
  docs/static/images/sealed-secret-application-list.png
  docs/static/images/sealed-secret-encrypting-form.png
Labels: approved, area/docs, area/site, release-note-none, size/L

#1001 Add screenshot to readme
  README.md
Labels: approved, release-note-none, size/XS

#1002 Add sealedSecrets field to configuration reference
  docs/content/en/docs/operator-manual/piped/adding-a-cloud-provider.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1003 Rename the application configuration directory
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/examples/_index.md
  docs/content/en/docs/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs/user-guide/adding-an-application.md
  docs/content/en/docs/user-guide/configuring-deployment/cloudrun.md
  docs/content/en/docs/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs/user-guide/configuring-deployment/terraform.md
  docs/content/en/docs/user-guide/examples.md
  docs/content/en/docs/user-guide/triggering-a-deployment.md
  examples/README.remote.md
  examples/kubernetes/simple/.pipe.yaml
  pkg/app/api/api/deploymentconfigtemplates/KubernetesSimple
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun.go
  pkg/config/deployment_kubernetes.go
Labels: approved, area/api, area/docs, area/site, release-note-none, size/M

#1004 Implement kubernetes resource filter
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/components/kubernetes-state-view.stories.tsx
  pkg/app/web/src/components/kubernetes-state-view.test.tsx
  pkg/app/web/src/components/kubernetes-state-view.tsx
  pkg/app/web/src/components/resource-filter-popover.stories.tsx
  pkg/app/web/src/components/resource-filter-popover.tsx
Labels: approved, area/web, size/L

#999 Make sure to add user with "adduser"
  cmd/piped/BUILD.bazel
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
  dockers/piped-base/dockertest/check-helm.sh
  pkg/app/piped/cmd/piped/piped.go
Labels: area/piped, release-note-none, size/M

#1005 Temporarily disable dockertest of piped-base image
  dockers/piped-base/dummy-dockertest/check-helm.sh
Labels: approved, release-note-none, size/XS

#1006 Update piped-base tag
  dockers/piped-base/DOCKER_BUILD
Labels: approved, release-note-none, size/XS

#1007 Validate the git path while registering new applicaiton and refactor stage log
  pkg/app/api/api/web_api.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/logpersister/stagelogpersister.go
  pkg/app/piped/trigger/trigger.go
Labels: approved, area/api, area/piped, release-note-none, size/M

#1008 Update to use piped-base:v0.1.2 image
  WORKSPACE
Labels: approved, release-note-none, size/XS

#997 Update kubernetes manifests to ensure piped container runs as a non root user
  manifests/piped/templates/deployment.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#998 Change the default ssh config path to the home directory of pipecd user
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/config/piped.go
  pkg/git/ssh_config.go
Labels: approved, area/docs, area/site, release-note-none, size/S

#1009 Re-enable dockertest of piped-base image
  dockers/piped-base/dockertest/check-helm.sh
Labels: approved, release-note-none, size/XS

#1010 Show refresh button if fetching live state has error
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/components/application-detail.stories.tsx
  pkg/app/web/src/components/application-state-view.test.tsx
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/modules/applications-live-state.test.ts
  pkg/app/web/src/modules/applications-live-state.ts
  pkg/app/web/src/pages/applications/detail.tsx
Labels: approved, area/web, size/L

#1011 Fix the bug that rollback stage was using a wrong manifests path
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: approved, area/piped, release-note-none, size/M

#1012 Add instructions for those who run pipecd with non-pipecd user
  docs/content/en/docs/operator-manual/piped/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1013 Simplify control-plane by merging api and web into a single server component
  cmd/api/BUILD.bazel
  cmd/api/OWNERS
  cmd/image.bzl
  cmd/server/BUILD.bazel
  cmd/server/OWNERS
  cmd/server/README.md
  cmd/server/main.go
  cmd/server/server.go
  cmd/web/BUILD.bazel
  cmd/web/OWNERS
  cmd/web/README.md
  cmd/web/main.go
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
  docs/content/en/docs/operator-manual/control-plane/architecture-overview.md
  docs/static/images/architecture-overview.png
  docs/static/images/control-plane-components.png
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
  pkg/app/api/authhandler/handler.go
Labels: approved, area/api, area/build, area/docs, area/manifests, area/site, area/web, size/XL

#1014 Fix wrong route to server-http in envoy config
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1015 Reconcile percentage with the comment
  examples/kubernetes/mesh-istio-canary/.pipe.yaml
Labels: approved, release-note-none, size/XS

#1016 Add the ID of the triggered deployment to the command metadata
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
Labels: approved, area/piped, release-note-none, size/M

#1018 Be more clear what replicas setting means
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1019 Release v0.8.0
  docs/content/en/blog/releases/v0.8.0.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#1020 Add deployment URL to the toast that showing after triggering application sync
  pkg/app/web/BUILD.bazel
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/app/web/src/components/toasts.stories.tsx
  pkg/app/web/src/components/toasts.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/command.ts
  pkg/app/web/src/modules/commands.test.ts
  pkg/app/web/src/modules/commands.ts
  pkg/app/web/src/modules/toasts.ts
  pkg/app/web/src/utils/find-metadata-by-key.test.ts
  pkg/app/web/src/utils/find-metadata-by-key.ts
Labels: approved, area/web, size/L

#1021 UI - abbreviate long stage name
  pkg/app/web/src/components/pipeline-stage.stories.tsx
  pkg/app/web/src/components/pipeline-stage.tsx
Labels: approved, area/web, release-note-none, size/S

#1022 Use COPY instead of ADD
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
Labels: approved, release-note-none, size/XS

#1023 Update alpine to 3.12.1
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
Labels: approved, release-note-none, size/XS

#1024 UI - fix a bug that shows error at unintended times on the application detail page
  pkg/app/web/src/components/application-detail.stories.tsx
  pkg/app/web/src/components/application-state-view.test.tsx
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/modules/applications-live-state.test.ts
  pkg/app/web/src/modules/applications-live-state.ts
  pkg/app/web/src/pages/applications/detail.test.tsx
  pkg/app/web/src/pages/applications/detail.tsx
Labels: approved, area/web, kind/bug, release-note-none, size/M

#1025 UI: Add a copy button to the deployment config templates form
  pkg/app/web/src/__fixtures__/dummy-deployment-config.ts
  pkg/app/web/src/components/deployment-config-form.stories.tsx
  pkg/app/web/src/components/deployment-config-form.tsx
Labels: approved, area/web, release-note-none, size/M

#1027 Fix typos
  examples/kubernetes/bluegreen/.pipe.yaml
  examples/kubernetes/canary/.pipe.yaml
  pkg/app/api/api/deploymentconfigtemplates/KubernetesBlueGreen
  pkg/app/api/api/deploymentconfigtemplates/KubernetesCanary
Labels: approved, area/api, release-note-none, size/XS

#1028 Fix wrong diff layout for slice
  pkg/app/piped/diff/diff_test.go
  pkg/app/piped/diff/renderer.go
  pkg/app/piped/diff/testdata/has_diff.yaml
Labels: approved, area/piped, release-note-none, size/S

#1030 Update piped-base to 0.1.4
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1029 UI: Fix a bug that the filter at application list page was affected by the filter value at deployment list
  pkg/app/web/src/components/deployment-item.tsx
Labels: approved, area/web, release-note-none, size/S

#1032 Refactor log messages in the controller component
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
Labels: approved, area/piped, release-note-none, size/M

#1033 Refactor the error messages of the web api
  pkg/app/api/api/web_api.go
  pkg/rpc/rpcauth/interceptor.go
Labels: approved, area/api, release-note-none, size/L

#1034 Change the default log encoding to humanize
  docs/content/en/docs/contribution-guidelines/piped-development.md
  docs/content/en/docs/operator-manual/piped/installation.md
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  pkg/log/log.go
Labels: approved, area/docs, area/manifests, area/site, release-note-none, size/S

#1035 Do not decrypt the shared SSO configuration
  pkg/app/api/authhandler/callback.go
  pkg/app/api/authhandler/handler.go
  pkg/app/api/authhandler/login.go
Labels: approved, area/api, release-note-none, size/M

#1036 Hide disabled piped on the add application form
  pkg/app/web/src/modules/pipeds.test.ts
  pkg/app/web/src/modules/pipeds.ts
Labels: approved, area/web, release-note-none, size/S

#1037 Refactor the failure messages of planner
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, release-note-none, size/M

#1038 Fix the bug that cancelling a planning deployment causes the piped to be blocked
  pkg/app/piped/controller/planner.go
Labels: approved, area/piped, release-note-none, size/XS

#1042 Skip the log of CANCELLED error while shutting down
  pkg/app/piped/trigger/trigger.go
  pkg/git/client.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: approved, area/piped, release-note-none, size/L, todo/skip

#1044 Show the log viewer of the last stage by default
  pkg/app/web/src/components/pipeline.tsx
Labels: approved, area/web, size/M

#1043 Add config validation for unknown fields
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/config_test.go
Labels: approved, release-note-none, size/M

#1047 Show missing empy string node in the diff message
  pkg/app/piped/diff/diff_test.go
  pkg/app/piped/diff/renderer.go
  pkg/app/piped/diff/renderer_test.go
  pkg/app/piped/diff/testdata/has_diff.yaml
Labels: approved, area/piped, release-note-none, size/M
