Repository pipe-cd/pipecd, pull requests merged in 2021-11, with the labels that each got.

#2719 Update piped installation on google cloud vm to use launcher
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-google-cloud-vm.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2720 Ensure Eventwatcher to mark event as handled
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/datastore/eventstore.go
  pkg/model/event.proto
Labels: size/M, approved, lgtm, area/api, area/piped

#2723 Add missing roles required while installing control-plane by using GCS
  docs/content/en/docs-dev/operator-manual/control-plane/installation.md
  docs/content/en/docs-v0.21.x/operator-manual/control-plane/installation.md
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2725 Fix gap between stable version docs and latest v0.21.0 docs
  docs/content/en/docs-v0.21.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.21.x/user-guide/adding-an-application.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2724 Add sync stable docs command
  Makefile
  hack/sync-stable-docs.sh
Labels: release-note-none, size/M, approved, lgtm, area/hack

#2721 Add monthly update for 11/2021
  docs/content/en/blog/news/announcing-pipecd/index.md
  docs/content/en/blog/news/migrate-control-plane-datastore-to-mysql.md
  docs/content/en/blog/news/november-2021-update.md
Labels: release-note-none, area/docs, approved, size/L, area/site

#2726 Remove invalid snippet on the pipectl doc
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.21.x/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2727 Avoid to emit annoying error log for app live state
  pkg/app/api/applicationlivestatestore/store.go
Labels: release-note-none, approved, lgtm, size/XS, area/api

#2730 Fix installing docs for deploymentConfiguration of ECS Fargate
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs-v0.18.x/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs-v0.20.x/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-fargate.md
Labels: area/docs, approved, size/S, area/site, trigger/needs-ok-to-test

#2733 Add kurochan-san to contributor list
  README.md
Labels: release-note-none, approved, size/XS

#2732 Improve handling startup error on Piped
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: approved, size/XS, trigger/needs-ok-to-test

#2735 Make sync stable docs command works without the specified version input
  hack/sync-stable-docs.sh
Labels: release-note-none, approved, size/S, area/hack

#2737 Remove unreachable code
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: release-note-none, approved, size/XS, area/piped

#2736 Allow configuring additional flags for Terraform commands
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.21.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/cloudprovider/terraform/terraform.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/config/deployment_terraform.go
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/piped, area/site

#2739 Disable pipectl to specify tags
  pkg/app/pipectl/cmd/application/add.go
Labels: release-note-none, approved, size/XS

#2738 Release v0.21.1
  docs/content/en/blog/releases/v0.21.1.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#2746 Remove allocated but unused arguments
  pkg/app/piped/controller/planner.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
Labels: release-note-none, approved, size/S, area/piped

#2744 Simplify quickstart by getting rid of cloning manifests repository
  docs/content/en/docs-dev/operator-manual/control-plane/installation.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.18.x/operator-manual/control-plane/installation.md
  docs/content/en/docs-v0.18.x/quickstart/_index.md
  docs/content/en/docs-v0.20.x/operator-manual/control-plane/installation.md
  docs/content/en/docs-v0.20.x/quickstart/_index.md
  docs/content/en/docs-v0.21.x/operator-manual/control-plane/installation.md
  docs/content/en/docs-v0.21.x/quickstart/_index.md
  docs/content/en/docs/operator-manual/control-plane/installation.md
  docs/content/en/docs/quickstart/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site

#2747 Fix API.AddApplication to return NotFound if inexistence repo given
  pkg/app/api/grpcapi/grpcapi.go
Labels: release-note-none, approved, lgtm, size/XS, area/api

#2748 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#2749 Remove unneeded flag to specify tag from pipectl
  pkg/app/pipectl/cmd/application/add.go
Labels: release-note-none, approved, lgtm, size/XS

#2751 Replace Tags with Labels to idendify applications/deployments
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/api/service/webservice/service.proto
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.stories.tsx
  pkg/app/web/src/modules/applications/index.ts
  pkg/app/web/src/modules/deployments/index.ts
  pkg/app/web/src/modules/update-application/index.ts
  pkg/model/application.go
  pkg/model/application.proto
  pkg/model/application_test.go
  pkg/model/deployment.go
  pkg/model/deployment.proto
  pkg/model/deployment_test.go
Labels: release-note-none, approved, lgtm, size/L, area/api, area/piped, area/web

#2758 Fix flaky launcher test
  pkg/app/launcher/cmd/launcher/binary.go
  pkg/app/launcher/cmd/launcher/binary_test.go
Labels: release-note-none, size/M, approved

#2760 Revise lambda application configuration test data
  pkg/config/deployment_lambda_test.go
  pkg/config/testdata/application/lambda-app-bluegreen.yaml
  pkg/config/testdata/application/lambda-app-canary.yaml
Labels: release-note-none, size/M, approved

#2714 Add ability to disable auto trigger deployment on git change
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun_test.go
  pkg/config/deployment_ecs_test.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda_test.go
  pkg/config/deployment_terraform_test.go
  pkg/config/deployment_test.go
  pkg/config/testdata/application/generic-trigger.yaml
Labels: approved, lgtm, size/L, area/piped

#2764 Remove webAddress field
  quickstart/piped-values.yaml
Labels: release-note-none, approved, lgtm, size/XS

#2763 Bump terraform version to v1.0.10 in terraform examples
  examples/terraform/simple/.pipe.yaml
  examples/terraform/wait-approval/.pipe.yaml
Labels: release-note-none, approved, lgtm, size/XS

#2765 Fix docs unsynced between dev and v0.21.x and stable docs
  docs/content/en/docs-dev/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/installation/installing-on-google-cloud-vm.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/installation/installing-on-kubernetes.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/installation/installing-on-single-machine.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-google-cloud-vm.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-kubernetes.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-single-machine.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2769 Add chaspy san to contributor list
  README.md
Labels: release-note-none, approved, size/XS

#2767 Add deployment configuration trigger docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, size/L, area/site

#2771 Allow specifying environment variables for Terraform commands
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.21.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/cloudprovider/terraform/terraform.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/config/deployment_terraform.go
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/piped, area/site

#2743 Add deployment chain RFC
  docs/rfcs/0007-deployment-chain.md
  docs/rfcs/assets/deployment-chain-commit-diff.png
  docs/rfcs/assets/deployment-chain-configuration.png
  docs/rfcs/assets/deployment-chain-detail.png
  docs/rfcs/assets/deployment-chain-env.png
  docs/rfcs/assets/deployment-chain-idea.png
  docs/rfcs/assets/deployment-chain-kind.png
  docs/rfcs/assets/deployment-chain-post-sync.png
  docs/rfcs/assets/deployment-chain-region.png
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site

#2773 Remove unneeded TODO comment
  pkg/app/api/grpcapi/web_api.go
Labels: release-note-none, approved, size/XS, area/api

#2745 Send notification to users via Slack when it fails to trigger deployment
  pkg/app/piped/notifier/BUILD.bazel
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/trigger/BUILD.bazel
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
  pkg/model/notificationevent.proto
Labels: size/M, approved, lgtm, area/piped

#2776 Add "DEPLOYMENT_TRIGGER_FAILED" event to the doc
  docs/content/en/docs-dev/operator-manual/piped/configuring-notifications.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2775 Refactor the logic and fix typo
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/deployment_test.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2781 Upgrade build system and dependencies to latest versions
  .bazelversion
  Makefile
  WORKSPACE
  bazel/gomock.bzl
  go.mod
  go.sum
  pkg/app/piped/livestatestore/kubernetes/kubernetesmetrics/metrics.go
  repositories.bzl
Labels: release-note-none, approved, area/piped, size/XL, area/build

#2774 Add docs contribution guideline
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.21.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2777 Allow triggering deployment when application is at out-of-sync state
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun_test.go
  pkg/config/deployment_ecs_test.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda_test.go
  pkg/config/deployment_terraform_test.go
  pkg/config/deployment_test.go
Labels: approved, area/piped, size/XL

#2784 Remove old code for sealed secret feature
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/sourcedecrypter/decrypter.go
  pkg/app/piped/sourcedecrypter/decrypter_test.go
  pkg/config/deployment.go
  pkg/config/deployment_terraform_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/application/terraform-app-sealed-secret.yaml
  pkg/config/testdata/application/terraform-app-secret-management.yaml
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, lgtm, size/L, area/piped

#2789 Fix the bug that Piped was ignoring the specified value for all Bool fields that have true as its default value
  go.mod
  go.sum
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/trigger/BUILD.bazel
  pkg/app/piped/trigger/determiner.go
  pkg/config/config_test.go
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun.go
  pkg/config/deployment_cloudrun_test.go
  pkg/config/deployment_ecs.go
  pkg/config/deployment_ecs_test.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda.go
  pkg/config/deployment_lambda_test.go
  pkg/config/deployment_terraform_test.go
  pkg/config/deployment_test.go
  pkg/config/testdata/application/k8s-app-bluegreen.yaml
  pkg/config/testdata/application/terraform-app-secret-management.yaml
  pkg/config/testdata/application/truebydefaultbool-false-explicitly.yaml
  pkg/config/testdata/application/truebydefaultbool-not-specified.yaml
  pkg/config/testdata/application/truebydefaultbool-true-explicitly.yaml
  repositories.bzl
Labels: approved, size/L, area/piped, area/build

#2791 Add GetDeployment RPC to piped api
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
Labels: release-note-none, size/M, approved, lgtm, area/api

#2790 Add deployment chain model
  BUILD.bazel
  pkg/model/BUILD.bazel
  pkg/model/deployment_chain.proto
Labels: release-note-none, size/M, approved, lgtm

#2794 Fix typo in doc
  docs/content/en/docs-dev/user-guide/triggering-a-deployment.md
  docs/content/en/docs-v0.18.x/user-guide/triggering-a-deployment.md
  docs/content/en/docs-v0.20.x/user-guide/triggering-a-deployment.md
  docs/content/en/docs-v0.21.x/user-guide/triggering-a-deployment.md
  docs/content/en/docs/user-guide/triggering-a-deployment.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#2793 Allow configuring trigger frequency when application is out_of_sync
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun_test.go
  pkg/config/deployment_ecs_test.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda_test.go
  pkg/config/deployment_terraform_test.go
  pkg/config/deployment_test.go
Labels: size/M, approved, lgtm, area/piped

#2795 Ensure Piped uses QUICK_SYNC for deployment triggered on OUT_OF_SYNC
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/terraform/terraform.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/web/src/__fixtures__/dummy-trigger.ts
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.stories.tsx
  pkg/model/deployment.proto
Labels: release-note-none, approved, lgtm, size/L, area/piped, area/web

#2792 Add postSync configuration as part of DeploymentConfiguration
  pkg/config/deployment.go
  pkg/config/deployment_test.go
  pkg/config/testdata/application/generic-postsync.yaml
Labels: release-note-none, area/docs, approved, size/L, area/piped, area/web, area/site

#2796 Fix a bug that unspecified users can approve the WAIT_APPROVAL stage
  pkg/app/piped/planner/cloudrun/pipeline.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/app/piped/planner/terraform/pipeline.go
Labels: approved, size/XS, area/piped

#2798 Add mentions to trigger deployment failed notification
  pkg/app/piped/trigger/trigger.go
  pkg/model/notificationevent.proto
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2799 Move notificationKey to model as deployment metadata key
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/trigger/deployment.go
  pkg/model/deployment.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2800 Move TriggeredDeploymentID metadata key to command model
  pkg/app/pipectl/client/application.go
  pkg/app/piped/trigger/trigger.go
  pkg/model/command.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2772 Add a piped component that watches app configs
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/apistore/environmentstore/store.go
  pkg/app/piped/appconfigreporter/BUILD.bazel
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/deployment.go
  pkg/model/application.go
  pkg/model/common.proto
Labels: release-note-none, approved, area/api, area/piped, size/XL

#2812 Make EnvId in all models optional
  pkg/app/api/service/apiservice/service.proto
  pkg/app/api/service/webservice/service.proto
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/web/src/components/application-form/index.tsx
  pkg/model/application.proto
  pkg/model/application_live_state.proto
  pkg/model/common.proto
  pkg/model/deployment.proto
  pkg/model/piped.proto
  pkg/model/planpreview.proto
Labels: release-note-none, size/M, approved, lgtm, area/api, area/piped, area/web

#2811 Fix typo in doc
  docs/content/en/docs-dev/user-guide/cancelling-a-deployment.md
  docs/content/en/docs-v0.18.x/user-guide/cancelling-a-deployment.md
  docs/content/en/docs-v0.20.x/user-guide/cancelling-a-deployment.md
  docs/content/en/docs-v0.21.x/user-guide/cancelling-a-deployment.md
  docs/content/en/docs/user-guide/cancelling-a-deployment.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#2810 Add manual approval page in Japanese to doc
  docs/content/ja/docs/user-guide/adding-a-manual-approval.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2817 Add deployment chain sql table and indexes
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/datastore/mysql/ensurer/schema.sql
Labels: release-note-none, approved, lgtm, size/S

#2814 Prevent local absolute paths from being entered in App config
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/model/common.proto
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2820 Rename deployment chain configuration struct field
  pkg/config/deployment.go
  pkg/config/deployment_test.go
Labels: release-note-none, size/M, approved

#2819 Change to treat .pipe.yaml as unregistered app config
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
  pkg/model/application.go
Labels: release-note-none, approved, size/L, area/piped

#2821 Add CHAIN_SYNC_APPLICATION command
  pkg/app/web/src/modules/commands/index.ts
  pkg/model/command.proto
Labels: release-note-none, approved, size/S, area/web

#2815 Trigger new deployment chain via piped api
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/trigger/BUILD.bazel
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/deployment_chain.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.stories.tsx
  pkg/datastore/BUILD.bazel
  pkg/datastore/deploymentchainstore.go
  pkg/model/deployment.proto
  pkg/model/deployment_chain.proto
Labels: release-note-none, approved, size/L, area/api, area/piped, area/web

#2825 Update trigger to handle CHAIN_SYNC_APP command
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/deployment.go
  pkg/model/command.go
  pkg/model/deployment.proto
Labels: release-note-none, approved

#2829 Enable to convert config kind into model.ApplicationKind
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/config/config.go
  pkg/config/config_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2826 Update CreateDeployment RPC to handle create in chain deployment
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.stories.tsx
  pkg/datastore/deploymentchainstore.go
  pkg/model/deployment.proto
Labels: release-note-none, size/M, approved, lgtm, area/api, area/piped, area/web

#2831 Fix typo
  docs/content/en/docs-dev/user-guide/plan-preview.md
  docs/content/en/docs-v0.18.x/user-guide/plan-preview.md
  docs/content/en/docs-v0.20.x/user-guide/plan-preview.md
  docs/content/en/docs-v0.21.x/user-guide/plan-preview.md
  docs/content/en/docs/user-guide/plan-preview.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2828 Check and show health state of K8s Namespace resource
  pkg/app/piped/cloudprovider/kubernetes/resourcekey.go
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2833 Empower Piped to change how often to sync app config in Git
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/piped, area/site

#2832 Add InChainDeploymentPlannable RPC
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/datastore/deploymentchainstore.go
  pkg/model/deployment.go
Labels: release-note-none, size/M, approved, lgtm, area/api

#2835 Change DeploymentChainBlockIndex type
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
  pkg/datastore/deploymentchainstore.go
  pkg/model/command.proto
  pkg/model/deployment.proto
  pkg/model/deployment_chain.proto
Labels: release-note-none, approved, lgtm, size/S, area/api, area/piped

#2830 Add an rpc to update registered apps that have been changed
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/model/common.proto
Labels: release-note-none, approved, lgtm, size/L, area/api, area/piped

#2842 Allow addtional flags and environment variables for Terraform plan-preview
  pkg/app/piped/planpreview/terraformdiff.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2843 Add Kenta-san to README note
  README.md
Labels: release-note-none, approved, lgtm, size/XS

#2839 Add several pages in Japanese to doc
  docs/content/ja/docs/user-guide/adding-a-manual-approval.md
  docs/content/ja/docs/user-guide/adding-a-wait-stage.md
  docs/content/ja/docs/user-guide/application-live-state.md
  docs/content/ja/docs/user-guide/cancelling-a-deployment.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2841 Fix small part in state.go
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2846 Remove unused import from DeploymentChain model
  pkg/model/deployment_chain.proto
Labels: release-note-none, approved, size/XS

#2844 Add check plannable deployment logic
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/controller/controller.go
  pkg/model/deployment.go
Labels: release-note-none, size/M, approved, lgtm, area/api, area/piped

#2849 Retranslate some part of doc into Japanese
  docs/content/ja/docs/user-guide/application-live-state.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2850 Fix small part in state.go to make it consistency
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: release-note-none, approved, size/XS, area/piped

#2851 Upgrade rules_nodejs
  WORKSPACE
  pkg/app/web/BUILD.bazel
  pkg/app/web/package.json
  pkg/app/web/src/modules/application-counts/index.ts
  pkg/app/web/tsconfig.json
  pkg/app/web/yarn.lock
Labels: release-note-none, size/M, approved, lgtm, area/web

#2852 Update rules_docker and buildtools to their latest version
  Makefile
  WORKSPACE
  bazel/gomock.bzl
Labels: release-note-none, size/M, approved, lgtm, area/build

#2853 Fix web:compile to support Apple M1
  pkg/app/web/tsconfig.json
Labels: release-note-none, approved, lgtm, size/XS, area/web

#2855 Fix lint error
  pkg/app/api/grpcapi/api.go
Labels: release-note-none, approved, size/XS

#2802 Support multiple manual approvals
  pkg/app/piped/executor/waitapproval/BUILD.bazel
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/executor/waitapproval/waitapproval_test.go
  pkg/config/deployment.go
  pkg/config/deployment_terraform_test.go
  pkg/config/deployment_test.go
Labels: approved, lgtm, size/L, area/piped

#2857 Refactor k8s provider to use shared git client instead of initializing a new one
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/BUILD.bazel
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2854 Stop unnecessarily scanning all files to report app configs
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/model/common.proto
Labels: release-note-none, approved, lgtm, size/L, area/api, area/piped

#2860 Fix wrong condition on determine deployment plannable
  pkg/app/api/grpcapi/piped_api.go
Labels: release-note-none, size/M, approved, lgtm, area/api, todo/skip

#2858 Make git client possible to configure envs for specific repository
  pkg/git/client.go
Labels: release-note-none, size/M, approved, lgtm

#2861 Hide database migration post from table of content list
  docs/content/en/blog/news/migrate-control-plane-datastore-to-mysql.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2863 Allow specifying SSH key for the Git repository where to fetch private Helm charts
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/docs, approved, lgtm, size/L, area/piped, area/site

#2847 Add RPCs to list unregistered apps
  cmd/pipecd/server.go
  pkg/app/api/grpcapi/grpcapi.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/cache/rediscache/cache.go
  pkg/cache/rediscache/hashcache.go
  pkg/model/common.proto
Labels: release-note-none, approved, lgtm, size/L, area/api, area/piped, area/server

#2864 Add status and reason to deployment ref in deployment chain model
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/datastore/deploymentchainstore.go
  pkg/model/BUILD.bazel
  pkg/model/deployment_chain.go
  pkg/model/deployment_chain.proto
Labels: release-note-none, approved, lgtm, size/L, area/api, area/piped
