Repository pipe-cd/pipecd, pull requests merged in 2021-04, with the labels that each got.

#1819 Fix clearing filter for applications
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, size/XS

#1816 Add migration docs
  docs/content/en/blog/news/announcing-pipecd/index.md
  docs/content/en/blog/news/migrate-control-plane-datastore-to-mysql.md.md
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, lgtm, size/M

#1821 Release v0.9.10
  docs/content/en/blog/releases/v0.9.10.md
  release/RELEASE
Labels: approved, release-note-none

#1822 Make models' name public
  pkg/datastore/apikey.go
  pkg/datastore/applicationstore.go
  pkg/datastore/commandstore.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/environmentstore.go
  pkg/datastore/eventstore.go
  pkg/datastore/migration/data_transfer.go
  pkg/datastore/pipedstatsstore.go
  pkg/datastore/pipedstore.go
  pkg/datastore/projectstore.go
Labels: approved, release-note-none, size/L

#1823 Rename post content file
  docs/content/en/blog/news/migrate-control-plane-datastore-to-mysql.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1825 Update rules_go to v0.24.14 and golang to 1.16.2
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1831 Do not inform non-namespaced resources when the namespace was specified
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1830 Update piped to not create cluster-level resources
  manifests/piped/templates/_helpers.tpl
  manifests/piped/templates/deployment.yaml
  manifests/piped/templates/rbac.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/L

#1832 Add delimiters to RBAC manifests
  manifests/piped/templates/rbac.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1835 Disable mongodb as control-plane datastore
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
Labels: approved, lgtm

#1839 Add description field to application model
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/update-application.ts
  pkg/model/application.proto
Labels: approved, lgtm, release-note-none, size/XS

#1843 Unsupport pipectl datastore command
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/datastore/BUILD.bazel
  pkg/app/pipectl/cmd/datastore/datastore.go
  pkg/app/pipectl/cmd/datastore/migrate.go
  pkg/datastore/migration/BUILD.bazel
  pkg/datastore/migration/data_transfer.go
Labels: approved, area/pipectl, lgtm

#1841 Update guide to migrate datastore to mysql post
  docs/content/en/blog/news/migrate-control-plane-datastore-to-mysql.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1842 Add a web RPC to update the description of application
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/modules/update-application.ts
Labels: approved, area/api, release-note-none, size/M

#1844 Goodbye MongoDB 👋
  go.mod
  go.sum
  pkg/datastore/mongodb/BUILD.bazel
  pkg/datastore/mongodb/iterator.go
  pkg/datastore/mongodb/model_wrapper.go
  pkg/datastore/mongodb/mongodb.go
  pkg/datastore/mongodb/operator.go
  repositories.bzl
Labels: approved, lgtm, release-note-none, size/XL

#1838 Refactor web tests
  pkg/app/web/src/__fixtures__/dummy-me.ts
  pkg/app/web/src/api/me.test.ts
  pkg/app/web/src/mocks/services/me.ts
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/me.test.ts
Labels: approved, area/web, release-note-none, size/L

#1840 Add installation guide for namespaced mode
  docs/content/en/docs/operator-manual/piped/installation.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/M

#1848 Release v0.9.11
  docs/content/en/blog/releases/v0.9.11.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#1849 Remove unnecessary defined MigratableModel list
  pkg/datastore/datastore.go
Labels: approved, lgtm, release-note-none, size/S

#1851 Add application description component
  pkg/app/web/package.json
  pkg/app/web/src/components/application-detail/index.stories.tsx
  pkg/app/web/src/components/application-detail/index.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, release-note-none, size/L

#1850 Enable to install prometheus chart as a dependency
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/README.md
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#1856 Add an authorization for UpdateApplicationDescription
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: approved, area/api, release-note-none, size/XS

#1853 Ensure that chart-releaser reconstructs chart's dependencies
  dockers/chart-releaser/DOCKER_BUILD
  dockers/chart-releaser/main.go
Labels: approved, release-note-none, size/XS

#1857 Remove page from datastore ListOptions
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/environmentstore_test.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
  pkg/datastore/pipedstatsstore_test.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore_test.go
Labels: approved, lgtm, release-note-none, size/M

#1861 Rename PageSize to Limit
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/applications_test.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/datastore/datastore.go
  pkg/datastore/firestore/firestore.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, area/api, area/ops, lgtm, release-note-none, size/M

#1855 Show application description on the application detail
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/application-detail/components/description.tsx
  pkg/app/web/src/components/application-detail/index.tsx
  pkg/app/web/src/modules/applications.ts
Labels: approved, area/web, lgtm, size/L

#1862 Fix not showing login page if user not logged in
  pkg/app/web/src/pages/index.tsx
Labels: approved, area/web, lgtm, size/XS

#1854 Define default values of prometheus chart
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#1865 Fix styling for the application list when window width is small
  pkg/app/web/src/components/filter-view/index.tsx
  pkg/app/web/src/pages/applications/index.tsx
  pkg/app/web/src/styles/size.ts
Labels: approved, area/web, size/XS

#1866 Add grafana sub-chart to pipecd
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/grafana-dashboards/application-metrics.json
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/L

#1864 Reimplement pagination for firestore using cursor
  pkg/datastore/firestore/BUILD.bazel
  pkg/datastore/firestore/firestore.go
  pkg/datastore/firestore/firestore_test.go
  pkg/datastore/firestore/iterator.go
  pkg/datastore/firestore/iterator_test.go
Labels: approved, lgtm, release-note-none, size/L

#1869 Add test size small to avoid warning
  pkg/datastore/firestore/BUILD.bazel
Labels: approved, release-note-none, size/XS

#1876 Remove lock file for dependencies of pipecd chart
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/README.md
Labels: approved, area/manifests, release-note-none, size/S

#1875 Enable drift detector to compare number and numeric string
  pkg/app/piped/diff/diff.go
  pkg/app/piped/diff/diff_test.go
  pkg/app/piped/diff/testdata/no_diff.yaml
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: approved, area/piped, lgtm, size/M

#1878 Change application description position
  pkg/app/web/src/components/application-detail/index.tsx
Labels: approved, area/web, size/S

#1871 Update piped-base to not depend on /home/pipecd
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
  dockers/piped-base/dockertest/check-helm.sh
Labels: approved, area/docs, area/manifests, area/piped, area/site, lgtm, release-note-none, size/S

#1877 Enable to specify UID that Piped runs as
  WORKSPACE
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/git/ssh_config.go
Labels: approved, area/docs, area/manifests, area/piped, area/site, lgtm, size/S

#1880 Grant write permission of ssh config to all users
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
Labels: approved, lgtm, release-note-none, size/XS

#1881 Upgrade piped-base to 0.2.1
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1873 Reimplement pagination with cursor for MySQL
  pkg/datastore/mysql/BUILD.bazel
  pkg/datastore/mysql/iterator.go
  pkg/datastore/mysql/iterator_test.go
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, release-note-none, size/XL

#1883 Make firestore iterator DataConverter interface private
  pkg/datastore/firestore/iterator.go
Labels: approved, release-note-none, size/XS

#1886 Add ability to build local development environment
  .bazelrc
  .gitignore
  Makefile
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
  hack/create-kind-cluster.sh
  hack/render-manifests.sh
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: approved, area/docs, area/hack, area/manifests, area/site, lgtm, release-note-none, size/L

#1888 Add a test for application description
  pkg/app/web/src/components/application-detail/components/description.tsx
  pkg/app/web/src/components/application-detail/index.test.tsx
  pkg/app/web/src/mocks/services/application.ts
Labels: approved, area/web, release-note-none, size/M

#1889 Fix drop-down button for the application sync
  pkg/app/web/src/components/split-button/index.test.tsx
  pkg/app/web/src/components/split-button/index.tsx
Labels: approved, area/web, lgtm, size/M

#1893 Update bazel to 4.0.0
  .bazelversion
Labels: approved, lgtm, release-note-none, size/XS

#1897 Add guide about loading piped image
  Makefile
  docs/content/en/docs/contribution-guidelines/piped-development.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#1898 Reimplement pagination query for MySQL datastore
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, release-note-none, size/L

#1890 Update piped-base so that piped group can write to /piped/home
  dockers/piped-base/DOCKER_BUILD
  dockers/piped-base/Dockerfile
  dockers/piped-base/dockertest/check-helm.sh
Labels: approved, lgtm, release-note-none, size/S

#1903 Revert "Update bazel to 4.0.0 (#1893)"
  .bazelversion
Labels: approved, lgtm, release-note-none, size/XS

#1904 Ensure to do ADA config validation after templating
  pkg/app/piped/executor/analysis/analysis.go
  pkg/config/analysis.go
  pkg/config/deployment.go
Labels: approved, area/piped, lgtm, size/M

#1892 Support pagination with cursor for ListApplications api
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/utils.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/applications_test.go
  pkg/app/pipectl/cmd/application/list.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
Labels: approved, area/api, area/ops, lgtm, size/M

#1899 Honor $HOME so that any user can write things in a unified way
  WORKSPACE
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  manifests/piped/values.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/git/ssh_config.go
Labels: approved, area/docs, area/manifests, area/piped, area/site, release-note-none, size/M

#1906 Ensure that id field of application and deployment models should be indexed
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, release-note-none, size/M

#1908 Ensure that id field of event model should be indexed
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, release-note-none, size/S

#1909 Ensure unchange the fields order of firestore indexes
  pkg/app/ops/firestoreindexensurer/indexes.go
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/M

#1907 Remove redundant firestore indexes
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, lgtm, release-note-none, size/M

#1910 Ensure id field be indexed for Event model
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, release-note-none, size/S

#1912 Bump Bazel to 4.0.0
  .bazelrc
  .bazelversion
Labels: approved, lgtm, release-note-none, size/XS

#1914 Add required index for Event model
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/M

#1915 Ensure Id field is indexed in Deployment model
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, release-note-none, size/M

#1917 Add cursor to pipectl list applications command
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/application/list.go
Labels: approved, area/api, size/XS

#1916 Change to reset the page when the filter is changed
  pkg/app/web/src/components/application-list/index.stories.tsx
  pkg/app/web/src/components/application-list/index.test.tsx
  pkg/app/web/src/components/application-list/index.tsx
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, lgtm, size/L

#1918 Destructure array values passed to startAfter function
  pkg/datastore/firestore/firestore.go
Labels: approved, release-note-none, size/XS

#1919 Update ListApplication api description
  pkg/app/api/grpcapi/api.go
Labels: approved, area/api, release-note-none, size/XS

#1920 Fix unable to disable entities in case of using MySQL store
  pkg/datastore/mysql/ensurer/schema.sql
Labels: approved, release-note-none, size/XS

#1921 Update installation instruction for single machine
  docs/content/en/docs/operator-manual/piped/installation.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#1922 Update webpack version
  pkg/app/web/BUILD.bazel
  pkg/app/web/package.json
  pkg/app/web/webpack.common.js
  pkg/app/web/webpack.config.dev.js
  pkg/app/web/webpack.config.js
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/XL

#1923 Add cursor to web api ListDeployments
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/api/deployments.ts
  pkg/app/web/src/modules/deployments.ts
Labels: approved, area/api, area/web, release-note-none, size/S

#1924 Add copy buttons for generated settings values
  pkg/app/web/src/components/generated-api-key-dialog/index.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.tsx
  pkg/app/web/src/components/text-with-copy-button/index.stories.tsx
  pkg/app/web/src/components/text-with-copy-button/index.tsx
  pkg/app/web/src/components/toasts/index.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/mocks/services/piped.ts
  pkg/app/web/src/pages/settings/piped/index.tsx
Labels: approved, area/web, size/L

#1926 Fix incorrect query arguments error on Find query
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, release-note-none, size/S

#1929 Add cursor to ListDeployments interface
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
Labels: approved, area/api, area/ops, release-note-none, size/M

#1931 Fix bundling web resources
  pkg/app/web/webpack.common.js
Labels: approved, area/web, lgtm, release-note-none, size/XS

#1932 Fix unable to delete Application in case of using MySQL datastore
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: approved, release-note-none, size/XS

#1933 Stop publishing images with tagged by commit ID
  cmd/image.bzl
Labels: approved, area/build, release-note-none, size/XS
