Repository pipe-cd/pipecd, pull requests merged in 2021-07, with the labels that each got.

#2159 Refactor components to supress unnecessary rendering
  pkg/app/web/.scaffdog/page.md
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.tsx
  pkg/app/web/src/components/applications-page/application-filter/application-autocomplete.tsx
  pkg/app/web/src/components/applications-page/application-filter/index.tsx
  pkg/app/web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/components/applications-page/index.tsx
  pkg/app/web/src/components/deployments-detail-page/deployment-detail/index.tsx
  pkg/app/web/src/components/deployments-detail-page/log-viewer/index.tsx
  pkg/app/web/src/components/deployments-page/index.tsx
  pkg/app/web/src/components/header/index.tsx
  pkg/app/web/src/components/login-page/index.tsx
  pkg/app/web/src/hooks/redux.ts
  pkg/app/web/src/modules/api-keys/index.test.ts
  pkg/app/web/src/modules/me/index.ts
  pkg/app/web/src/routes.tsx
Labels: approved, area/web, release-note-none, size/L

#2160 Enable to track request response size statistics
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2161 Make get operation of env-store to be cancelable and single-flight
  pkg/app/piped/apistore/environmentstore/BUILD.bazel
  pkg/app/piped/apistore/environmentstore/store.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
Labels: approved, area/piped, release-note-none, size/M

#2162 Revert "Enable to track request response size statistics (#2160)"
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2163 Add relabel config for kube-state-metrics
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2166 Add inmemory cache metrics
  pkg/cache/memorycache/BUILD.bazel
  pkg/cache/memorycache/cache.go
  pkg/cache/memorycache/lru_cache.go
  pkg/cache/memorycache/ttl_cache.go
Labels: approved, lgtm, release-note-none, size/S

#2165 Update planpreview's builder to detect which apps should be triggered
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/planpreview/BUILD.bazel
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/planpreview/handler_test.go
  pkg/app/piped/trigger/BUILD.bazel
  pkg/app/piped/trigger/cache.go
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
  pkg/app/piped/trigger/trigger.go
  pkg/model/planpreview.go
  pkg/model/planpreview.proto
Labels: approved, area/piped, lgtm, release-note-none, size/XL

#2169 Update envoy to v0.18.3
  manifests/pipecd/templates/envoy-configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2170 Re-enable to track request response size statistics
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2171 Add sync-strategy field to output of planner
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/planner.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#2172 Fix typo in envoy config
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2173 Fix a typo in envoy config
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2174 Move manifest comparison part to provider package to be reusable
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cloudprovider/kubernetes/diff_test.go
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
  pkg/app/piped/driftdetector/kubernetes/BUILD.bazel
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/XL

#2175 Refactor deploysource to use fmt.Fprintf directly and add missing newlines
  pkg/app/piped/deploysource/deploysource.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#2178 Update ecs examples to make it works with fargate as default
  examples/ecs/bluegreen/servicedef.yaml
  examples/ecs/canary/servicedef.yaml
  examples/ecs/simple/servicedef.yaml
Labels: approved, release-note-none, size/XS

#2176 Make planpreview's builder shows detailed results
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planner/terraform/terraform.go
  pkg/app/piped/planpreview/BUILD.bazel
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/planpreview/handler_test.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/model/planpreview.proto
Labels: approved, area/piped, lgtm, release-note-none, size/XL

#2177 Refactor piped metrics exporter
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/kubectl.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetesmetrics/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/kubernetesmetrics/metrics.go
  pkg/app/piped/cloudprovider/kubernetes/metrics.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/livestatestore/kubernetes/BUILD.bazel
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/kubernetes/kubernetesmetrics/BUILD.bazel
  pkg/app/piped/livestatestore/kubernetes/kubernetesmetrics/metrics.go
  pkg/app/piped/livestatestore/kubernetes/metrics.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#2180 Release v0.10.3
  docs/content/en/blog/releases/v0.10.3.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#2181 Introducing ReportStat service to pipedservice
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/pipedclientfake/fakeclient.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/statsreporter/BUILD.bazel
  pkg/app/piped/statsreporter/reporter.go
  pkg/app/piped/statsreporter/reporter_test.go
Labels: approved, area/api, area/piped, release-note-none, size/L

#2184 Fix wrong generated URLs for application, env and piped
  pkg/model/BUILD.bazel
  pkg/model/application.go
  pkg/model/application_test.go
  pkg/model/environment.go
  pkg/model/environment_test.go
  pkg/model/piped.go
  pkg/model/piped_test.go
Labels: approved, lgtm, release-note-none, size/L

#2185 Enable Envoy gRPC stats for all methods
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2186 Fix Envoy config to be valid as an extension
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2183 Use custom piped metrics registry instead of the default one
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/cmd/piped/piped.go
  pkg/cli/BUILD.bazel
  pkg/cli/cmd.go
Labels: approved, area/api, area/piped, lgtm, release-note-none, size/M

#2188 Create a dedicated gitClient for plan-preview
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#2187 Add relabel config to plot durations for each gRPC method
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2189 Make terraform cloud provider able to parse log including ansi codes
  pkg/app/piped/cloudprovider/terraform/terraform.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/planpreview/terraformdiff.go
Labels: approved, area/piped, release-note-none, size/L

#2191 Put Grafana dashboards in different folders
  manifests/pipecd/grafana-dashboards/application-metrics.json
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/L

#2192 Fix wrong drift result that caused in v0.10.3
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cloudprovider/kubernetes/diff_test.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: approved, area/piped, lgtm, size/M

#2115 Add minimum required dashboards
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/cache.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XXL

#2194 Enable plan-preview in piped by default
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#2197 Do not render json files under grafana-dashboards
  .kapetanios/plugin-template.yaml
Labels: approved, area/kapetanios, lgtm, release-note-none, size/XS

#2195 Add doc for plan-preview feature
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/plan-preview.md
  docs/static/images/plan-preview-comment.png
Labels: approved, area/docs, area/site, lgtm, size/M

#2198 Fix doc titles
  docs/content/en/docs/user-guide/secret-management/_index.md
  docs/content/en/docs/user-guide/secret-management/sealed-secrets.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2190 Store reported piped stats to redis
  cmd/pipecd/server.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/cache/memorycache/cache.go
  pkg/cache/memorycache/lru_cache.go
  pkg/cache/memorycache/ttl_cache.go
  pkg/cache/rediscache/BUILD.bazel
  pkg/cache/rediscache/cache.go
  pkg/cache/rediscache/hashcache.go
Labels: approved, area/api, area/server, lgtm, release-note-none, size/L

#2201 Release v0.11.0
  docs/content/en/blog/releases/v0.11.0.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#2200 Explicitly use string as type for key in cache package
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/cache/memorycache/cache.go
  pkg/cache/memorycache/lru_cache.go
  pkg/cache/memorycache/ttl_cache.go
  pkg/cache/rediscache/cache.go
  pkg/cache/rediscache/hashcache.go
Labels: approved, lgtm, release-note-none, size/M

#2202 Expose piped stat metrics at ops metrics endpoint
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  pkg/app/ops/pipedstatsbuilder/BUILD.bazel
  pkg/app/ops/pipedstatsbuilder/builder.go
  pkg/app/ops/pipedstatsbuilder/builder_test.go
  pkg/app/ops/pipedstatsbuilder/testdata/expected
  pkg/app/ops/pipedstatsbuilder/testdata/piped_stat_1
  pkg/app/ops/pipedstatsbuilder/testdata/piped_stat_2
  pkg/cli/cmd.go
Labels: approved, area/manifests, area/ops, area/server, lgtm, release-note-none, size/XL

#2203 Enable ops metrics endpoint
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2206 Avoid panic in case of error gathering ops metrics
  pkg/cli/cmd.go
Labels: approved, release-note-none, size/XS

#2207 Update Grafana dashboards
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
Labels: approved, area/manifests, release-note-none, size/XL

#2210 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, release-note-none, size/XS

#2211 Delete unused workflow
  .github/workflows/opened-issues-triage.yml
Labels: approved, release-note-none, size/S

#2209 Fix bug that SAVE button at admin account form is not enabled when using the same username
  pkg/app/web/src/components/settings-page/project/components/static-admin-form/index.tsx
Labels: approved, area/web, lgtm, size/XS

#2214 Copy SSH key into ssh config dir to use instead of using the given one directly
  pkg/git/ssh_config.go
  pkg/git/ssh_config_test.go
Labels: approved, release-note-none, size/M

#2213 Let Prometheus not scrape unneeded targets
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2216 Allow embedding piped-key and ssh-key in config file
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/git/ssh_config.go
Labels: approved, area/docs, area/piped, area/site, size/M, todo/skip

#2219 Fix validation bug on Piped config
  pkg/config/piped.go
Labels: approved, lgtm, release-note-none, size/S

#2221 Add more logs to plan-preview handler
  pkg/app/piped/planpreview/handler.go
Labels: approved, area/piped, release-note-none, size/M

#2222 Fix bug that all plan-preview commands that come after Piped has been running for 5 minutes will not be handled
  pkg/app/piped/planpreview/handler.go
Labels: approved, area/piped, size/XS

#2223 Add metrics for plan-preview component
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/planpreview/BUILD.bazel
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/planpreview/planpreviewmetrics/BUILD.bazel
  pkg/app/piped/planpreview/planpreviewmetrics/metrics.go
Labels: approved, area/piped, release-note-none, size/L

#2225 Release v0.11.1
  docs/content/en/blog/releases/v0.11.1.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#2224 Allow specifying key pair data used for secret management in piped config
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/app/api/grpcapi/web_api.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/crypto/hybrid.go
  pkg/crypto/hybrid_test.go
  pkg/crypto/key.go
  pkg/crypto/key_test.go
  pkg/crypto/rsa.go
  pkg/crypto/rsa_test.go
Labels: approved, area/api, area/docs, area/piped, area/site, lgtm, size/L

#2217 Disable to collect cluster-level stats by default
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/L

#2218 Update variables in Grafana dashboards
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2228 Ensure cloudrun executor creates a new service if not exist
  go.mod
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: approved, area/piped, lgtm, size/M

#2220 Add dashboards for pipeds stat metrics
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/instance.json
Labels: approved, area/manifests, lgtm, release-note-none, size/XXL

#2227 Change to manage Grafana datasources as a ConfigMap
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2230 Add piped dashboards provider to Grafana config
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2231 Add guide to run Piped on CloudRun
  docs/content/en/docs/operator-manual/piped/installation/_index.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-kubernetes.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-single-machine.md
Labels: approved, area/docs, area/site, release-note-none, size/L

#2232 Move source code of actions-plan-preview to dockers dir
  dockers/actions-plan-preview/.gitignore
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
  dockers/actions-plan-preview/github.go
  dockers/actions-plan-preview/go.mod
  dockers/actions-plan-preview/go.sum
  dockers/actions-plan-preview/main.go
  dockers/actions-plan-preview/planpreview.go
Labels: approved, lgtm, release-note-none, size/XL

#2233 Use declared TTL for stat cache instead of default value for normal cache
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
Labels: approved, area/server, release-note-none, size/XS

#2236 Update version number for actions-plan-preview
  dockers/actions-plan-preview/DOCKER_BUILD
Labels: approved, release-note-none, size/XS

#2238 Add ability to enable/disable Piped by using pipectl
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/main.go
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/piped/BUILD.bazel
  pkg/app/pipectl/cmd/piped/disable.go
  pkg/app/pipectl/cmd/piped/enable.go
  pkg/app/pipectl/cmd/piped/piped.go
Labels: approved, area/api, area/pipectl, lgtm, size/L

#2239 Add ability to load Piped config from GCP Secret Manager
  go.mod
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, lgtm, size/M

#2237 Use docsy block to refer to latest version automatically
  docs/content/en/_index.html
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/ja/_index.html
  docs/layouts/shortcodes/blocks/latest_version.html
  docs/layouts/shortcodes/blocks/release.html
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#2235 Fix TTL for stat metrics is reset on stat commit
  pkg/cache/rediscache/hashcache.go
Labels: approved, lgtm, release-note-none, size/S

#2240 Update examples in doc for secret management feature
  docs/content/en/docs/user-guide/secret-management/_index.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#2241 Add an interceptor to track stats about gRPC calls
  cmd/pipecd/server.go
  go.mod
  pkg/rpc/BUILD.bazel
  pkg/rpc/server.go
Labels: approved, area/server, lgtm, release-note-none, size/S

#2242 Update piped dashboards
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/overview.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: approved, area/manifests, lgtm, release-note-none, size/XL

#2243 Add --dependency-update to the local development guide
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2244 Update secret manager docs
  docs/content/en/docs/user-guide/secret-management/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2246 Release v0.12.0
  docs/content/en/blog/releases/v0.12.0.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#2247 Update k8s-app-canary-with-pod-selector docs
  docs/content/en/docs/user-guide/examples/k8s-app-canary-with-pod-selector.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS, trigger/needs-ok-to-test

#2248 Update contributors list in README
  README.md
Labels: approved, release-note-none, size/XS

#2249 Add guide to run Piped on Google Cloud VM
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-google-cloud-vm.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-single-machine.md
Labels: approved, area/docs, area/site, release-note-none, size/L

#2252 Update guide to run piped on gcp vm
  docs/content/en/docs/operator-manual/piped/installation/installing-on-google-cloud-vm.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#2253 Add app mesh to ECS group on feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#2254 Add examples for secret-management feature
  docs/content/en/docs/user-guide/secret-management/_index.md
  examples/cloudrun/secret-management/.pipe.yaml
  examples/cloudrun/secret-management/service.yaml
  examples/kubernetes/secret-management/.pipe.yaml
  examples/kubernetes/secret-management/deployment.yaml
  examples/kubernetes/secret-management/secret.yaml
  examples/lambda/secret-management/.pipe.yaml
  examples/lambda/secret-management/function.yaml
  examples/terraform/secret-management/.credentials/service-account.yaml
  examples/terraform/secret-management/.pipe.yaml
  examples/terraform/secret-management/main.tf
  examples/terraform/secret-management/terraform.tfvars
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#2250 Add relabel configs to identify gRPC service name
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2255 Set metrics prefix for piped and pipecd metrics
  cmd/pipecd/server.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetesmetrics/metrics.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/livestatestore/kubernetes/kubernetesmetrics/metrics.go
  pkg/cache/cachemetrics/metrics.go
Labels: approved, area/piped, area/server, lgtm, release-note-none, size/S

#2256 Add ECS secret management example
  docs/content/en/docs/user-guide/secret-management/_index.md
  examples/ecs/secret-management/.pipe.yaml
  examples/ecs/secret-management/servicedef.yaml
  examples/ecs/secret-management/taskdef.yaml
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/M

#2257 Add missing example list in readme
  docs/content/en/docs/examples/_index.md
  docs/content/en/docs/user-guide/examples/_index.md
  examples/README.remote.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#2260 Fix wrong piped metrics prefix
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, release-note-none, size/XS

#2258 Add insight metrics package
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/insight/insightmetrics/BUILD.bazel
  pkg/insight/insightmetrics/metrics.go
Labels: approved, area/server, release-note-none, size/L, todo/skip

#2259 Add a middleware to collect HTTP metrics
  NOTICE.txt
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  pkg/app/api/httpapi/BUILD.bazel
  pkg/app/api/httpapi/auth_handler.go
  pkg/app/api/httpapi/auth_handler_test.go
  pkg/app/api/httpapi/callback.go
  pkg/app/api/httpapi/callback_test.go
  pkg/app/api/httpapi/httpapi.go
  pkg/app/api/httpapi/httpapimetrics/BUILD.bazel
  pkg/app/api/httpapi/httpapimetrics/delegator.go
  pkg/app/api/httpapi/httpapimetrics/handler.go
  pkg/app/api/httpapi/login.go
  pkg/app/api/httpapi/login_test.go
Labels: approved, area/api, area/server, lgtm, release-note-none, size/XL

#2262 Update pipectl plan-preview to show detailed not-found error
  pkg/app/pipectl/cmd/planpreview/planpreview.go
Labels: approved, release-note-none, size/XS

#2264 Clearer error message for GetPlanPreviewResults rpc
  pkg/app/api/grpcapi/api.go
Labels: approved, area/api, release-note-none, size/XS

#2266 Remove MongoDB and DynamoDB from codebase
  cmd/pipecd/server.go
  docs/content/en/docs/feature-status/_index.md
  pkg/config/control_plane.go
  pkg/model/datastore.go
Labels: approved, area/docs, area/server, area/site, release-note-none, size/M

#2265 Ensure that plan-preview tasks do not cause a panic on piped
  pkg/app/piped/planpreview/builder.go
Labels: approved, area/piped, size/S

#2268 Remove mongodb and dynamodb from docs
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#2270 Release v0.12.1
  docs/content/en/blog/releases/v0.12.1.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#2269 Show better message in case the pull request is closed or un-mergeable
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/github.go
  dockers/actions-plan-preview/main.go
Labels: approved, lgtm, release-note-none, size/M

#2271 Fix EventWatcher so that it doesn't delete comments
  go.mod
  go.sum
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
  repositories.bzl
Labels: approved, area/build, lgtm, size/S

#2267 Use diff command to render K8s manifests diff for plan-preview
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cloudprovider/kubernetes/diff_test.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/diff_by_command.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/diff_by_command_no_change.yaml
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: approved, area/piped, lgtm, size/L

#2273 Ensure to use merged-commits to run plan-preview tasks
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/deploysource/BUILD.bazel
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/deploysource/sourcecloner.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/git/repo.go
Labels: approved, area/piped, size/L

#2275 Do not show unimplemeted message as an error
  pkg/app/piped/planpreview/builder.go
Labels: approved, area/piped, release-note-none, size/XS

#2276 Do not mask the diff output of ConfigMap
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: approved, area/piped, size/XS

#2272 Release v0.13.0
  docs/content/en/blog/releases/v0.13.0.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/S

#2277 Bump actions-plan-preview image to use pipectl v0.13.0
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
Labels: approved, lgtm, release-note-none, size/XS

#2278 Fix wrong way to check unmergeable pull request
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/github.go
  dockers/actions-plan-preview/main.go
Labels: approved, lgtm, release-note-none, size/S

#2280 Add missing close redis connection in ops
  cmd/pipecd/ops.go
Labels: approved, area/server, lgtm, release-note-none, size/XS

#2279 Expose pipecd ops metrics
  cmd/pipecd/ops.go
  pkg/cli/BUILD.bazel
  pkg/cli/cmd.go
Labels: approved, area/server, lgtm, release-note-none, size/M

#2282 Fix broken layout of error block on plan-preview comment
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/planpreview.go
Labels: approved, release-note-none, size/XS

#2281 Filter outdated piped stat metrics
  pkg/app/ops/pipedstatsbuilder/builder.go
Labels: approved, area/ops, release-note-none, size/S

#2284 Update piped Grafana dashboard reflects name changed
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/overview.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: approved, area/manifests, release-note-none, size/S

#2288 Add missing Piped copyright
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
Labels: approved, area/ops, release-note-none, size/S

#2286 Finish up Grafana Cluster dashboards
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/cache.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
Labels: approved, area/manifests, lgtm, release-note-none, size/XL

#2290 Avoid nil pointer dereference around using backoff
  pkg/app/piped/planpreview/BUILD.bazel
  pkg/app/piped/planpreview/builder.go
  pkg/backoff/backoff.go
  pkg/backoff/backoff_test.go
Labels: approved, area/piped, lgtm, size/L

#2292 Ensure that command result should be reported even when the handling context's deadline passes
  pkg/app/piped/planpreview/handler.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#2293 Release v0.13.1
  docs/content/en/blog/releases/v0.13.1.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/S

#2287 Implement Pipeds stat cleaner
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/staledpipedstatcleaner/BUILD.bazel
  pkg/app/ops/staledpipedstatcleaner/cleaner.go
Labels: approved, area/ops, area/server, release-note-none, size/L

#2295 Update controlplane cache monitor board
  manifests/pipecd/grafana-dashboards/control-plane/cache.json
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2299 Allow dynamically specify plan-preview command timeout from pipectl
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/piped/planpreview/handler.go
  pkg/model/command.proto
Labels: approved, area/api, area/piped, lgtm, size/S

#2300 Add no-change mark to plan-preview result
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/model/planpreview.proto
Labels: approved, area/piped, lgtm, release-note-none, size/M

#2306 Add deployment chain into feature status
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2307 Fix flaky piped stat builder test
  pkg/app/ops/pipedstatsbuilder/builder_test.go
Labels: approved, area/ops, release-note-none, size/XS

#2305 Make plan-preview comment more readable in case there are some unchanged applications
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
  dockers/actions-plan-preview/go.mod
  dockers/actions-plan-preview/go.sum
  dockers/actions-plan-preview/planpreview.go
  dockers/actions-plan-preview/planpreview_test.go
  dockers/actions-plan-preview/testdata/comment-has-failed-app.txt
  dockers/actions-plan-preview/testdata/comment-has-failed-piped.txt
  dockers/actions-plan-preview/testdata/comment-has-no-diff-apps.txt
  dockers/actions-plan-preview/testdata/comment-no-changes.txt
  dockers/actions-plan-preview/testdata/comment-only-changed-app.txt
  dockers/actions/plan/preview/planpreview_test.go
Labels: approved, size/XL

#2302 Refine error message when the deployment config file was not found
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/trigger/determiner.go
Labels: approved, area/piped, release-note-none, size/S

#2303 Apply worker pool to speed up plan-preview's execution
  pkg/app/piped/planpreview/builder.go
Labels: approved, area/piped, lgtm, size/L

#2309 Release v0.13.2
  docs/content/en/blog/releases/v0.13.2.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/S

#2311 Update actions-plan-preview to use pipectl v0.13.2
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
Labels: approved, lgtm, release-note-none, size/XS

#2312 Use labels to distinguish what component's metrics
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, area/server, lgtm, release-note-none, size/M

#2313 Remove cache package from pkg/cli dependencies list
  pkg/app/ops/pipedstatsbuilder/builder.go
  pkg/cli/BUILD.bazel
  pkg/cli/cmd.go
Labels: approved, area/ops, lgtm, release-note-none, size/S

#2314 Update the size of PersistentVolume Prometheus uses
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2316 Add Grafana panel to track gRPC error by code
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
Labels: approved, area/manifests, release-note-none, size/L

#2304 Migrate dgrijalva/jwt-go to golang-jwt/jwt
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/jwt/BUILD.bazel
  pkg/jwt/jwt.go
  pkg/jwt/signer.go
  pkg/jwt/signer_test.go
  pkg/jwt/verifier.go
  pkg/jwt/verifier_test.go
  repositories.bzl
Labels: approved, area/build, area/server, lgtm, release-note-none, size/S

#2317 Update piped dashboard reflects metrics name changed
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/overview.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2319 Add overview dashboard to control-plane folder
  manifests/pipecd/grafana-dashboards/control-plane/cache.json
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: approved, area/manifests, lgtm, release-note-none, size/XL

#2320 Update adding project docs
  docs/content/en/docs/operator-manual/control-plane/adding-a-project.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#2321 Add livestate support for Ingress within networking.k8s.io/v1
  WORKSPACE
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/state.go
  repositories.bzl
Labels: approved, area/build, area/piped, lgtm, size/L

#2322 Fix wrong extension name for terraform secret management example
  examples/terraform/secret-management/.credentials/service-account.json
  examples/terraform/secret-management/.pipe.yaml
Labels: approved, lgtm, release-note-none, size/XS

#2315 Support Google IAP for Grafana Ingress
  manifests/pipecd/templates/backend-config.yaml
  manifests/pipecd/values.yaml
  manifests/site/templates/ingress.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2323 Change default secret name for monitoring IAP
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2324 Make it possible to create ManagedCertificate dedicated for Grafana
  manifests/pipecd/templates/managed-certificate.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none
