Repository pipe-cd/pipecd, pull requests merged in 2021-02, with the labels that each got.

#1516 Support authenticate with SecurityTokenService for Lambda application deployment
  docs/content/en/docs/operator-manual/piped/adding-a-cloud-provider.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/config/piped.go
Labels: approved, area/docs, area/piped, area/site, lgtm, size/M

#1517 Support authenticate with SecurityTokenService for S3 client
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/filestore/s3/BUILD.bazel
  pkg/filestore/s3/s3.go
Labels: approved, area/docs, area/piped, area/server, area/site, lgtm, release-note-none, size/S

#1520 Make modifying logic of Event watcher abstract
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/eventwatcher/testdata/a.yaml
  pkg/config/event_watcher.go
  pkg/config/event_watcher_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1523 Fix wrong stage name in Lambda doc
  docs/content/en/docs/user-guide/configuring-deployment/lambda.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1522 Fix the deployment status was not changed from "deploying" after finished in some cases
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1529 Validate value in YAML before actual reading
  pkg/yamlprocessor/yamlprocessor.go
Labels: approved, lgtm, release-note-none, size/S

#1528 Add doc to guide how to enable canary deployment for k8s app with istio
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs/user-guide/examples/_index.md
  docs/content/en/docs/user-guide/examples/k8s-app-bluegreen-with-istio.md
  docs/content/en/docs/user-guide/examples/k8s-app-bluegreen-with-pod-selector.md
  docs/content/en/docs/user-guide/examples/k8s-app-canary-with-istio.md
  docs/content/en/docs/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/content/en/docs/user-guide/insights.md
  docs/static/images/example-canary-kubernetes-istio-stage-1.png
  docs/static/images/example-canary-kubernetes-istio-stage-2.png
  docs/static/images/example-canary-kubernetes-istio-stage-4.png
  docs/static/images/example-canary-kubernetes-istio-stage-5.png
  docs/static/images/example-canary-kubernetes-istio-stage-6.png
  docs/static/images/example-canary-kubernetes-istio.png
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#1532 Update api version of istio's manifests to v1beta1
  examples/kubernetes/mesh-istio-bluegreen/destination-rule.yaml
  examples/kubernetes/mesh-istio-bluegreen/gateway.yaml
  examples/kubernetes/mesh-istio-bluegreen/virtual-service.yaml
  examples/kubernetes/mesh-istio-canary/destination-rule.yaml
  examples/kubernetes/mesh-istio-canary/gateway.yaml
  examples/kubernetes/mesh-istio-canary/virtual-service.yaml
  pkg/app/piped/executor/kubernetes/testdata/generated-virtual-service-for-editable-routes.yaml
  pkg/app/piped/executor/kubernetes/testdata/generated-virtual-service.yaml
  pkg/app/piped/executor/kubernetes/testdata/virtual-service.yaml
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1534 Use goccy/go-yaml.Read instead of parsing ourselves
  go.mod
  go.sum
  pkg/yamlprocessor/yamlprocessor.go
  repositories.bzl
Labels: approved, area/build, lgtm, release-note-none, size/S

#1535 Add doc to guide how to enable blue-green deployment with istio
  docs/content/en/docs/user-guide/examples/k8s-app-bluegreen-with-istio.md
  docs/static/images/example-bluegreen-kubernetes-istio-stage-1.png
  docs/static/images/example-bluegreen-kubernetes-istio-stage-2.png
  docs/static/images/example-bluegreen-kubernetes-istio-stage-4.png
  docs/static/images/example-bluegreen-kubernetes-istio-stage-5.png
  docs/static/images/example-bluegreen-kubernetes-istio-stage-6.png
  docs/static/images/example-bluegreen-kubernetes-istio.png
  examples/kubernetes/mesh-istio-bluegreen/.pipe.yaml
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#1536 Bump goccy/go-yaml from v1.8.7 to v1.8.8
  go.mod
  go.sum
  repositories.bzl
Labels: approved, area/build, release-note-none, size/S

#1537 Update the links to issue labels
  docs/content/en/docs/contribution-guidelines/contributing.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1539 Update storybook configs
  pkg/app/web/.scaffdog/component.md
  pkg/app/web/.storybook/main.js
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/XXL

#1542 Fixed the type of set-files for helm in the document
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1540 Export component props interface from component file for storybook
  pkg/app/web/src/components/add-application-drawer/index.tsx
  pkg/app/web/src/components/add-env-form/index.tsx
  pkg/app/web/src/components/add-piped-drawer/index.tsx
  pkg/app/web/src/components/app-live-state/index.tsx
  pkg/app/web/src/components/app-sync-status/index.tsx
  pkg/app/web/src/components/application-detail/index.tsx
  pkg/app/web/src/components/application-filter/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/application-list-item/index.tsx
  pkg/app/web/src/components/application-state-view/index.tsx
  pkg/app/web/src/components/approval-stage/index.tsx
  pkg/app/web/src/components/deployment-config-form/index.tsx
  pkg/app/web/src/components/deployment-detail/index.tsx
  pkg/app/web/src/components/deployment-filter/index.tsx
  pkg/app/web/src/components/deployment-frequency-chart/index.tsx
  pkg/app/web/src/components/deployment-item/index.tsx
  pkg/app/web/src/components/deployment-status-icon/index.stories.tsx
  pkg/app/web/src/components/deployment-status-icon/index.test.tsx
  pkg/app/web/src/components/deployment-status-icon/index.tsx
  pkg/app/web/src/components/detail-table-row/index.tsx
  pkg/app/web/src/components/diff-view/index.tsx
  pkg/app/web/src/components/disable-api-key-confirm-dialog/index.tsx
  pkg/app/web/src/components/disable-application-dialog/index.tsx
  pkg/app/web/src/components/edit-piped-drawer/index.tsx
  pkg/app/web/src/components/environment-list-item/index.tsx
  pkg/app/web/src/components/filter-view/index.tsx
  pkg/app/web/src/components/generate-api-key-dialog/index.tsx
  pkg/app/web/src/components/kubernetes-resource-detail/index.tsx
  pkg/app/web/src/components/kubernetes-resource/index.tsx
  pkg/app/web/src/components/kubernetes-state-view/index.tsx
  pkg/app/web/src/components/log-line/index.tsx
  pkg/app/web/src/components/log/index.tsx
  pkg/app/web/src/components/piped-filter/index.tsx
  pkg/app/web/src/components/piped-form/index.tsx
  pkg/app/web/src/components/pipeline-stage/index.tsx
  pkg/app/web/src/components/pipeline/index.tsx
  pkg/app/web/src/components/project-setting-labeled-text/index.tsx
  pkg/app/web/src/components/resource-filter-popover/index.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.tsx
  pkg/app/web/src/components/split-button/index.tsx
  pkg/app/web/src/components/stage-status-icon/index.tsx
  pkg/app/web/src/components/sync-state-reason/index.tsx
  pkg/app/web/src/components/sync-status-icon/index.tsx
  pkg/app/web/src/components/text-with-copy-button/index.tsx
  pkg/app/web/src/components/week-picker/index.tsx
Labels: approved, area/web, release-note-none, size/XXL

#1521 Support DynamoDB as PipeCD control-plane datastore
  pkg/datastore/dynamodb/BUILD.bazel
  pkg/datastore/dynamodb/dynamodb.go
  pkg/datastore/dynamodb/expression.go
  pkg/datastore/dynamodb/iterator.go
Labels: approved, lgtm, size/L

#1546 Fix missing model_wrappers for mongodb
  pkg/datastore/mongodb/model_wrapper.go
Labels: approved, lgtm, release-note-none, size/M

#1547 Specify test size to avoid warnings from bazel
  pkg/insight/BUILD.bazel
  pkg/insight/insightstore/BUILD.bazel
Labels: approved, release-note-none, size/XS

#1549 Enable add tags to Lambda application via function.yaml
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, release-note-none, size/XS

#1548 Support more configurable fields using function.yaml
  examples/lambda/simple/function.yaml
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/function.go
  pkg/app/piped/cloudprovider/lambda/function_test.go
Labels: approved, area/piped, size/M

#1552 Update lambda deployment docs
  docs/content/en/docs/user-guide/configuring-deployment/lambda.md
  examples/lambda/analysis/function.yaml
  examples/lambda/canary/function.yaml
Labels: approved, area/docs, area/site, release-note-none, size/S

#1550 Add confirm dialog for adding application
  pkg/app/web/src/components/add-application-drawer/index.tsx
  pkg/app/web/src/constants/ui-text.ts
Labels: approved, area/web, lgtm, size/M

#1551 Store promote percentage to stage metadata store
  pkg/app/piped/executor/cloudrun/BUILD.bazel
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/lambda/BUILD.bazel
  pkg/app/piped/executor/lambda/deploy.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1554 Add pipecd-base image
  dockers/pipecd-base/DOCKER_BUILD
  dockers/pipecd-base/Dockerfile
Labels: approved, release-note-none, size/S

#1556 Use pipecd-base as a base image of pipecd
  WORKSPACE
  cmd/pipecd/BUILD.bazel
Labels: approved, area/server, lgtm, release-note-none, size/XS

#1553 Let Ops automatically create Firestore composite indexes
  BUILD.bazel
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/firestoreindexensurer/BUILD.bazel
  pkg/app/ops/firestoreindexensurer/gcloud.go
  pkg/app/ops/firestoreindexensurer/gcloud_test.go
  pkg/app/ops/firestoreindexensurer/indexensurer.go
  pkg/app/ops/firestoreindexensurer/indexensurer_test.go
  pkg/app/ops/firestoreindexensurer/indexes.go
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, area/server, release-note-none, size/XL

#1560 Show promote percentage on the stage
  pkg/app/web/src/components/pipeline-stage/index.stories.tsx
  pkg/app/web/src/components/pipeline-stage/index.tsx
Labels: approved, area/web, size/L

#1563 Add note about needed service account roles
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#1562 Fix GetinsightData to use new field
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, release-note-none, size/XS

#1567 Add workflow to automatically add issue to the ROADMAP project
  .github/workflows/opened-issues-triage.yml
Labels: approved, lgtm, release-note-none, size/S

#1561 Create applicationscountstore
  pkg/insight/BUILD.bazel
  pkg/insight/applicationcount.go
  pkg/insight/chunk.go
  pkg/insight/insightstore/BUILD.bazel
  pkg/insight/insightstore/applicationcountstore.go
  pkg/insight/insightstore/applicationcountstore_test.go
  pkg/insight/insightstore/chunkstore.go
Labels: approved, release-note-none, size/L

#1572 Add ECS deployment to feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#1566 Skip creating Firestore indexes if already added
  pkg/app/ops/firestoreindexensurer/gcloud.go
  pkg/app/ops/firestoreindexensurer/indexensurer.go
  pkg/app/ops/firestoreindexensurer/indexes.go
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/XXL

#1565 Add mocking api for easy UI development
  Makefile
  pkg/app/web/README.md
  pkg/app/web/package.json
  pkg/app/web/public/README.md
  pkg/app/web/public/mockServiceWorker.js
  pkg/app/web/src/__fixtures__/common.ts
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/__fixtures__/dummy-project.ts
  pkg/app/web/src/__fixtures__/dummy-repo.ts
  pkg/app/web/src/__fixtures__/dummy-trigger.ts
  pkg/app/web/src/__fixtures__/utils.ts
  pkg/app/web/src/api/client.ts
  pkg/app/web/src/api/me.test.ts
  pkg/app/web/src/components/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/static-admin-form/index.test.tsx
  pkg/app/web/src/constants/api-endpoint.ts
  pkg/app/web/src/index.tsx
  pkg/app/web/src/mocks/browser.ts
  pkg/app/web/src/mocks/create-handler.ts
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/application.ts
  pkg/app/web/src/mocks/services/deployment.ts
  pkg/app/web/src/mocks/services/environment.ts
  pkg/app/web/src/mocks/services/live-state.ts
  pkg/app/web/src/mocks/services/me.ts
  pkg/app/web/src/mocks/services/piped.ts
  pkg/app/web/src/mocks/services/project.ts
  pkg/app/web/src/mocks/utils.ts
  pkg/app/web/src/modules/commands.test.ts
  pkg/app/web/webpack.config.dev.js
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, release-note-none, size/XXL

#1577 Add notes on Firestore indexes
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1579 Allow prefixing the collection name in google cloud Firestore
  cmd/pipecd/server.go
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
  pkg/config/control_plane.go
  pkg/datastore/firestore/firestore.go
Labels: approved, area/docs, area/server, area/site, lgtm, release-note-none, size/M

#1585 Add missing return statement on failed to build query
  pkg/datastore/dynamodb/dynamodb.go
Labels: approved, release-note-none, size/XS

#1586 Add pipeline mock data for the web
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/__fixtures__/dummy-pipeline.ts
  pkg/app/web/src/__fixtures__/dummy-stage-log.ts
  pkg/app/web/src/__fixtures__/dummy-stage.ts
  pkg/app/web/src/components/log-viewer/index.stories.tsx
  pkg/app/web/src/components/pipeline/index.stories.tsx
  pkg/app/web/src/components/pipeline/index.test.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/stage-log.ts
Labels: approved, area/web, release-note-none, size/L

#1589 Remove note to tell being Alpha status
  docs/content/en/docs/user-guide/application-live-state.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1588 Fix the user document
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1592 Use general invitation link to CNCF slack
  docs/config.toml
  docs/content/en/_index.html
  docs/content/en/blog/news/announcing-pipecd/index.md
  docs/content/en/docs/faq/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1594 Refactor API mock data
  pkg/app/web/src/__fixtures__/dummy-api-key.ts
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/__fixtures__/dummy-pipeline.ts
  pkg/app/web/src/__fixtures__/dummy-project.ts
  pkg/app/web/src/__fixtures__/dummy-stage-log.ts
  pkg/app/web/src/__fixtures__/dummy-trigger.ts
  pkg/app/web/src/__fixtures__/utils.ts
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/api-keys.ts
  pkg/app/web/src/mocks/services/piped.ts
  pkg/app/web/src/mocks/services/project.ts
  pkg/app/web/src/mocks/services/stage-log.ts
Labels: approved, area/web, release-note-none, size/L

#1601 Add missing environments value config on newly create lambda app
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, release-note-none, size/XS

#1603 Enable cache for the web test on CI
  .kapetanios/presubmit.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#1602 Update firestore index ensurer to use configured CollectionNamePrefix
  cmd/pipecd/ops.go
  pkg/app/ops/firestoreindexensurer/indexensurer.go
  pkg/app/ops/firestoreindexensurer/indexes.go
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, area/server, lgtm, release-note-none, size/M

#1596 Support lambda tags for existed function deployment
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/client_test.go
Labels: approved, area/piped, lgtm, size/L

#1605 Rollback Lambda application configuration in case traffic change has not been committed
  pkg/app/piped/executor/lambda/rollback.go
Labels: approved, area/piped, release-note-none, size/S

#1604 Fix displaying env and piped information at the application detail
  pkg/app/web/src/components/application-detail/index.test.tsx
  pkg/app/web/src/components/application-detail/index.tsx
Labels: approved, area/web, size/XS

#1607 Add log entries to Ops to show running tasks
  pkg/app/ops/firestoreindexensurer/indexensurer.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
Labels: approved, area/ops, release-note-none, size/S

#1608 Release v0.9.6
  docs/content/en/blog/releases/v0.9.6.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/L

#1609 Update ops manifests to allow configuring log encoding
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1611 Update Istio support to beta phase
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1613 Improve lighthouse score of document site
  docs/assets/scss/_variables.scss
  docs/config.toml
  docs/layouts/partials/footer.html
  docs/layouts/partials/head.html
  docs/layouts/partials/page-meta-links.html
  docs/layouts/partials/scripts.html
  docs/layouts/shortcodes/blocks/cover.html
  docs/layouts/shortcodes/blocks/feature.html
  docs/layouts/shortcodes/blocks/value.html
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#1614 Stop dealing with "__name__" field
  pkg/app/ops/firestoreindexensurer/README.md
  pkg/app/ops/firestoreindexensurer/gcloud.go
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/L

#1616 Add support SQL database note to feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1615 Update bazel to 4.0.0
  .bazelversion
Labels: approved, release-note-none, size/XS

#1618 Revert "Update bazel to 4.0.0 (#1615)"
  .bazelversion
Labels: approved, release-note-none, size/XS

#1620 Change color of loading indicator at the log viewer
  pkg/app/web/src/components/log/index.tsx
Labels: approved, area/web, lgtm, size/XS

#1621 Add support for building web assets it has API mocking
  pkg/app/web/.env.example
  pkg/app/web/BUILD.bazel
  pkg/app/web/src/index.tsx
  pkg/app/web/webpack.common.js
Labels: approved, area/web, release-note-none, size/XS

#1624 Add contributor list to readme
  README.md
Labels: approved, release-note-none, size/M

#1625 Update the feature status of Automated Rollback for CloudRun and Terraform to beta
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1627 Disable editing application git path
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/edit-application-drawer/index.tsx
Labels: approved, area/web, lgtm, size/S
