Repository pipe-cd/pipecd, pull requests merged in 2021-05, with the labels that each got.

#1936 Add cursor to ListNotCompletedDeployments endpoint of piped api
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/apistore/deploymentstore/store.go
Labels: approved, area/api, area/piped, release-note-none, size/XS

#1941 Loosen log severity of event store
  pkg/app/piped/apistore/eventstore/store.go
Labels: approved, area/piped, release-note-none, size/XS

#1942 Ensure to redact all key hashes in piped model
  pkg/model/piped.go
  pkg/model/piped_test.go
Labels: approved, lgtm, release-note-none

#1943 Add a new web API to delete old Piped keys
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.pb.auth.go
  pkg/app/api/service/webservice/service.proto
  pkg/datastore/pipedstore.go
  pkg/model/piped.go
  pkg/model/piped_test.go
Labels: approved, area/api, lgtm, release-note-none, size/L

#1947 Update datastore migration guide
  docs/content/en/blog/news/migrate-control-plane-datastore-to-mysql.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1954 Release v0.9.13
  release/RELEASE
Labels: RELEASE, approved, area/release, release-note-none, size/XS

#1955 Make it possible to delete piped keys from the web
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/api/piped.ts
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/mocks/services/piped.ts
  pkg/app/web/src/modules/pipeds.test.ts
  pkg/app/web/src/modules/pipeds.ts
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, size/L

#1956 Release v0.9.14
  docs/content/en/blog/releases/v0.9.14.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#1960 Allow setting of env vars for containers
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS, trigger/needs-ok-to-test

#1957 Add a button to copy the environment id
  pkg/app/web/src/components/copy-icon-button/index.stories.tsx
  pkg/app/web/src/components/copy-icon-button/index.tsx
  pkg/app/web/src/components/deployment-config-form/index.tsx
  pkg/app/web/src/components/environment-list-item/index.tsx
  pkg/app/web/src/components/generated-api-key-dialog/index.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.tsx
  pkg/app/web/src/components/text-with-copy-button/index.stories.tsx
  pkg/app/web/src/components/text-with-copy-button/index.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, size/L

#1952 Add piped-base image packing with nss_wrapper
  dockers/piped-base-okd/DOCKER_BUILD
  dockers/piped-base-okd/Dockerfile
  dockers/piped-base-okd/install-nss-wrapper.sh
Labels: approved, lgtm, release-note-none, size/M

#1962 Prefix the bazel rules of app_image to allow specifying multiple apps inside the same directory
  Makefile
  bazel/image.bzl
  cmd/image.bzl
Labels: approved, area/build, lgtm, release-note-none, size/S

#1953 Empower Piped to append logged-in user to passwd
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, size/M

#1963 Fix image.bzl to avoid duplicate key
  cmd/image.bzl
Labels: approved, area/build, lgtm, release-note-none, size/S

#1959 Add a new piped image dedicated to OKD
  WORKSPACE
  cmd/image.bzl
  cmd/piped/BUILD.bazel
  dockers/piped-base-okd/README.md
Labels: approved, area/build, area/piped, lgtm, release-note-none, size/S

#1961 Add Helm value to control to modify /etc/passwd
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#1966 Rename piped-okd image
  cmd/image.bzl
Labels: approved, area/build, release-note-none, size/XS

#1964 Use native clipboard API for copy text on the web
  pkg/app/web/jest.setup.js
  pkg/app/web/package.json
  pkg/app/web/src/components/copy-icon-button/index.test.tsx
  pkg/app/web/src/components/copy-icon-button/index.tsx
Labels: approved, area/web, lgtm, release-note-none, size/M

#1967 Add installation instruction for OKD before 4.2
  docs/content/en/docs/operator-manual/piped/installation.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/M

#1968 Fix kubernetes planner to support multi-deployment application
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
Labels: approved, area/piped, lgtm, size/L

#1969 Use cursor to fetch deployment list
  pkg/app/web/src/modules/deployments.test.ts
  pkg/app/web/src/modules/deployments.ts
Labels: approved, area/web, lgtm, release-note-none, size/M

#1973 Update installation instruction of pipectl image
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1970 Remove maxUpdatedAt from ListDeploymentsRequest proto
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/api/deployments.ts
  pkg/app/web/src/modules/deployments.ts
Labels: approved, area/api, area/web, lgtm, release-note-none, size/S

#1974 Release v0.9.15
  docs/content/en/blog/releases/v0.9.15.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#1965 Allow kubeconfig to be added to the secret
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS, trigger/needs-ok-to-test

#1976 Unify the value placeholders in the docs
  docs/content/en/docs/operator-manual/control-plane/adding-a-project.md
  docs/content/en/docs/operator-manual/control-plane/installation.md
  docs/content/en/docs/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs/operator-manual/piped/installation.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/event-watcher.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#1977 Fix some styles for laptop screens
  pkg/app/web/src/components/app-sync-status/index.tsx
  pkg/app/web/src/components/deployment-detail/index.tsx
  pkg/app/web/src/components/detail-table-row/index.tsx
  pkg/app/web/src/pages/settings/api-key.tsx
  pkg/app/web/src/pages/settings/environment.tsx
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/styles.ts
Labels: approved, area/web, lgtm, size/L

#1979 Add ECS deployment config template
  pkg/app/api/grpcapi/deployment_config_templates.go
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, lgtm, release-note-none, size/XS

#1980 Refactor and redesign insight collector
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/applications_test.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/app/ops/insightcollector/metrics.go
  pkg/app/ops/insightcollector/metrics_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
  pkg/insight/applicationcount.go
  pkg/insight/applicationcount_test.go
  pkg/insight/insightstore/applicationcountstore.go
  pkg/insight/insightstore/applicationcountstore_test.go
  pkg/insight/insightstore/insightstore.go
Labels: approved, area/ops, area/server, lgtm, release-note-none, size/XXL

#1984 Run cron job for insight collector only if it was enabled
  pkg/app/ops/insightcollector/collector.go
Labels: approved, release-note-none, size/S

#1985 Add mention for actions-event-register within the doc
  docs/content/en/docs/user-guide/event-watcher.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1982 ECS Sync strategy refinement
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1978 Fix type error for web mock utils
  pkg/app/web/src/mocks/create-handler.ts
Labels: approved, area/web, lgtm, release-note-none, size/S

#1986 Fix typo in the doc
  docs/content/en/docs/user-guide/adding-an-application.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1987 Add more log entries to insight collector
  pkg/app/ops/insightcollector/collector.go
Labels: approved, area/ops, release-note-none, size/XS

#1988 Update release note v0.9.14
  docs/content/en/blog/releases/v0.9.14.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1989 Fix cron expression because the newer library does not allow specifying the second field
  pkg/app/ops/insightcollector/collector.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
Labels: approved, area/ops, lgtm, release-note-none, size/S

#1990 Update web API to return the real data of application counts
  cmd/pipecd/server.go
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/web_api.go
  pkg/app/ops/insightcollector/applications.go
  pkg/insight/applicationcount.go
  pkg/insight/applicationcount_test.go
  pkg/insight/insightstore/applicationcountstore.go
  pkg/insight/insightstore/applicationcountstore_test.go
  pkg/insight/insightstore/insightstore.go
Labels: approved, area/api, area/ops, area/server, lgtm, release-note-none, size/L

#1993 Fix piped deployment to use the created service account only if it was created
  manifests/piped/templates/deployment.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1996 Refine ecs cloud provider
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
Labels: approved, area/piped, release-note-none, size/S

#1991 Add hands-on tutorial guide in Japanese
  docs/content/ja/docs/hands-on/_index.md
  docs/content/ja/docs/hands-on/deploy-on-kubernetes.md
Labels: approved, area/docs, area/site, release-note-none, size/M

#1999 Update yup version
  pkg/app/web/package.json
  pkg/app/web/src/components/add-env-form/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/generate-api-key-dialog/index.tsx
  pkg/app/web/src/components/piped-form/index.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.tsx
  pkg/app/web/src/components/static-admin-form/index.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#2003 Use tag to specify default value of config
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/control_plane.go
  pkg/config/deployment.go
  pkg/config/deployment_cloudrun.go
  pkg/config/deployment_ecs.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda.go
  pkg/config/deployment_lambda_test.go
  pkg/config/piped.go
  repositories.bzl
Labels: approved, area/build, area/piped, lgtm, release-note-none, size/L

#2004 Enable insight collector for application count by default
  pkg/config/control_plane.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
Labels: approved, release-note-none, size/XS

#2001 Show Application Counts by default
  pkg/app/web/src/modules/application-counts.ts
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, size/S

#2006 Add web tests for the Application Counts
  pkg/app/web/src/mocks/create-handler.ts
  pkg/app/web/src/mocks/services/insight.ts
  pkg/app/web/src/modules/application-counts.test.ts
Labels: approved, area/web, release-note-none, size/L

#2008 Remove unused fields in WebAPI struct
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, release-note-none, size/XS

#2007 Reimplement ECS Sync with EXTERNAL deployment controller
  pkg/app/piped/cloudprovider/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudprovider.go
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/executor/ecs/BUILD.bazel
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
Labels: approved, area/piped, release-note-none, size/L

#1994 Add Alertmanager configuration
  docs/content/en/docs/operator-manual/control-plane/metrics.md
  manifests/pipecd/prom-rules/alerting_rules.yml
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/docs, area/manifests, area/site, lgtm, release-note-none, size/L

#2014 Update typescript to v4.3
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/S

#1998 RFC for PipeCD ECS Application
  docs/rfcs/0004-ecs-deployment.md
Labels: approved, area/docs, area/site, release-note-none, size/L

#2015 Add an operator page to show application counts of all projects
  cmd/pipecd/ops.go
  pkg/app/ops/handler/BUILD.bazel
  pkg/app/ops/handler/handler.go
  pkg/app/ops/handler/handler_test.go
  pkg/app/ops/handler/templates/ApplicationCounts
  pkg/app/ops/handler/templates/Top
Labels: approved, area/ops, area/server, lgtm, size/L

#2018 Ignore prom-rules from rendering targets
  .kapetanios/plugin-template.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#2016 Add web API to delete/disable environment
  pkg/app/api/grpcapi/utils.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/components/application-filter/index.stories.tsx
  pkg/datastore/environmentstore.go
  pkg/model/environment.proto
Labels: approved, area/api, area/web, lgtm, release-note-none, size/L

#2021 Add TaskSetDefinition as required configuration for ECS deployment
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/ecs/taskset.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/config/deployment_ecs.go
  pkg/config/deployment_ecs_test.go
  pkg/config/testdata/application/ecs-app.yaml
Labels: approved, area/piped, lgtm, release-note-none, size/L

#2024 Bump Bazel from 4.0.0 to 4.1.0
  .bazelrc
  .bazelversion
Labels: approved, release-note-none, size/XS

#2025 Update eslint-plugin-react-hooks version
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/S

#2023 Ensure to reload alerting_rules file when changed
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2019 Fix applications fetching at the Application List page
  pkg/app/web/src/components/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/add-application-drawer/index.tsx
  pkg/app/web/src/components/application-list/index.test.tsx
  pkg/app/web/src/components/application-list/index.tsx
  pkg/app/web/src/components/delete-application-dialog/index.stories.tsx
  pkg/app/web/src/components/delete-application-dialog/index.tsx
  pkg/app/web/src/components/edit-application-drawer/index.stories.tsx
  pkg/app/web/src/components/edit-application-drawer/index.test.tsx
  pkg/app/web/src/components/edit-application-drawer/index.tsx
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, kind/bug, release-note-none, size/L

#2028 Add dedicated operator type for datastore
  pkg/app/api/commandstore/store.go
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
  pkg/datastore/datastore.go
  pkg/datastore/firestore/firestore.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
  test/integration/datastore/firestore/firestore_test.go
Labels: approved, area/api, area/ops, lgtm, release-note-none, size/L

#2030 Fix previous taskset remained on rollback failed ECS deployment
  pkg/app/piped/executor/ecs/rollback.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#2032 Add delete environment rpc to auth list
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: approved, area/api, release-note-none, size/XS
