Repository pipe-cd/pipecd, pull requests merged in 2021-06, with the labels that each got.

#2029 Ensure to delete environment gracefully
  pkg/app/api/grpcapi/web_api.go
  pkg/datastore/datastore.go
  pkg/datastore/mysql/query.go
Labels: approved, area/api, release-note-none, size/M

#2031 Make it possible to delete environment from web client
  pkg/app/web/package.json
  pkg/app/web/src/api/environments.ts
  pkg/app/web/src/components/delete-application-dialog/index.tsx
  pkg/app/web/src/components/environment-list-item/edit-dialog.tsx
  pkg/app/web/src/components/environment-list-item/index.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/deleting-env.ts
  pkg/app/web/src/modules/environments.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/pages/settings/environment/components/delete-confirm-dialog.tsx
  pkg/app/web/src/pages/settings/environment/index.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, size/L

#2034 Using array-contains instead of array-contains-any
  pkg/datastore/datastore.go
Labels: approved, lgtm, release-note-none, size/XS

#2037 Fix drift detector to treat zero and unspecified values as equal
  pkg/app/piped/diff/diff.go
  pkg/app/piped/diff/testdata/no_diff.yaml
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: approved, area/piped, release-note-none, size/S

#2040 Do not show deleted/disabled environments/pipeds
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, lgtm, release-note-none, size/S

#2043 Don't use Deleted as a filtering field
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, lgtm, release-note-none, size/S

#2041 Fix alerting for deletion of environment
  pkg/app/web/src/mocks/services/environment.ts
  pkg/app/web/src/pages/settings/environment/components/delete-confirm-dialog/index.tsx
  pkg/app/web/src/pages/settings/environment/index.test.tsx
  pkg/app/web/src/pages/settings/environment/index.tsx
  pkg/app/web/test-utils.tsx
Labels: approved, area/web, lgtm, size/L

#2044 Filter deleted env to show only active environments on the web
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/components/environment-list-item/index.tsx
  pkg/app/web/src/mocks/services/environment.ts
  pkg/app/web/src/modules/environments.test.ts
  pkg/app/web/src/modules/environments.ts
Labels: approved, area/web, lgtm, size/L

#2045 Add the ability to display deployment without environment
  pkg/app/web/src/components/deployment-item/index.tsx
Labels: approved, area/web, lgtm, size/S

#2046 Add notes on how to apply changes on the dev cluster
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2042 Support contains operator for MySQL
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, lgtm, release-note-none, size/S

#2048 Unify component story writing style
  pkg/app/web/.scaffdog/component.md
  pkg/app/web/src/components/add-application-drawer/index.stories.tsx
  pkg/app/web/src/components/add-env-form/index.stories.tsx
  pkg/app/web/src/components/add-piped-drawer/index.stories.tsx
  pkg/app/web/src/components/app-live-state/index.stories.tsx
  pkg/app/web/src/components/app-sync-status/index.stories.tsx
  pkg/app/web/src/components/application-count/index.stories.tsx
  pkg/app/web/src/components/application-detail/index.stories.tsx
  pkg/app/web/src/components/application-filter/index.stories.tsx
  pkg/app/web/src/components/application-list/index.stories.tsx
  pkg/app/web/src/components/application-state-view/index.stories.tsx
  pkg/app/web/src/components/approval-stage/index.stories.tsx
  pkg/app/web/src/components/change-failure-rate-chart/index.stories.tsx
  pkg/app/web/src/components/chart-base/index.stories.tsx
  pkg/app/web/src/components/copy-icon-button/index.stories.tsx
  pkg/app/web/src/components/delete-application-dialog/index.stories.tsx
  pkg/app/web/src/components/deployment-config-form/index.stories.tsx
  pkg/app/web/src/components/deployment-detail/index.stories.tsx
  pkg/app/web/src/components/deployment-filter/index.stories.tsx
  pkg/app/web/src/components/deployment-frequency-chart/index.stories.tsx
  pkg/app/web/src/components/deployment-item/index.stories.tsx
  pkg/app/web/src/components/deployment-status-icon/index.stories.tsx
  pkg/app/web/src/components/detail-table-row/index.stories.tsx
  pkg/app/web/src/components/diff-view/index.stories.tsx
  pkg/app/web/src/components/disable-api-key-confirm-dialog/index.stories.tsx
  pkg/app/web/src/components/edit-application-drawer/index.stories.tsx
  pkg/app/web/src/components/edit-piped-drawer/index.stories.tsx
  pkg/app/web/src/components/environment-list-item/index.stories.tsx
  pkg/app/web/src/components/filter-view/index.stories.tsx
  pkg/app/web/src/components/generate-api-key-dialog/index.stories.tsx
  pkg/app/web/src/components/generated-api-key-dialog/index.stories.tsx
  pkg/app/web/src/components/github-sso-form/index.stories.tsx
  pkg/app/web/src/components/header/index.stories.tsx
  pkg/app/web/src/components/health-status-icon/index.stories.tsx
  pkg/app/web/src/components/health-status-icon/index.tsx
  pkg/app/web/src/components/insight-header/index.stories.tsx
  pkg/app/web/src/components/kubernetes-resource-detail/index.stories.tsx
  pkg/app/web/src/components/kubernetes-resource/index.stories.tsx
  pkg/app/web/src/components/kubernetes-state-view/index.stories.tsx
  pkg/app/web/src/components/log-viewer/index.stories.tsx
  pkg/app/web/src/components/log/index.stories.tsx
  pkg/app/web/src/components/login-form/index.stories.tsx
  pkg/app/web/src/components/login-form/index.tsx
  pkg/app/web/src/components/piped-filter/index.stories.tsx
  pkg/app/web/src/components/pipeline-stage/index.stories.tsx
  pkg/app/web/src/components/pipeline/index.stories.tsx
  pkg/app/web/src/components/project-setting-labeled-text/index.stories.tsx
  pkg/app/web/src/components/rbac-form/index.stories.tsx
  pkg/app/web/src/components/resource-filter-popover/index.stories.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.stories.tsx
  pkg/app/web/src/components/split-button/index.stories.tsx
  pkg/app/web/src/components/stage-status-icon/index.stories.tsx
  pkg/app/web/src/components/static-admin-form/index.stories.tsx
  pkg/app/web/src/components/sync-state-reason/index.stories.tsx
  pkg/app/web/src/components/sync-status-icon/index.stories.tsx
  pkg/app/web/src/components/text-with-copy-button/index.stories.tsx
  pkg/app/web/src/components/toasts/index.stories.tsx
  pkg/app/web/src/components/week-picker/index.stories.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#2049 Disable EnvIds column
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: approved, lgtm, release-note-none, size/XS

#2051 Create a multi-valued composite index for ProjectId and EnvIds
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: approved, lgtm, release-note-none, size/XS

#2052 New stages sample for ECS progressive RFC
  docs/rfcs/0004-ecs-deployment.md
Labels: approved, area/docs, area/site, release-note-none, size/M

#2050 ECS progressive deployment preparation
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/ecs/target_groups.go
  pkg/app/piped/cloudprovider/ecs/taskset.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/config/deployment.go
  pkg/config/deployment_ecs.go
  pkg/config/deployment_ecs_test.go
  pkg/config/testdata/application/ecs-app.yaml
  pkg/model/stage.go
Labels: approved, area/piped, release-note-none, size/L

#2054 Ensure that primary workloads should be restarted when its config was updated
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/deployment.go
  pkg/app/piped/cloudprovider/kubernetes/deployment_test.go
  pkg/app/piped/cloudprovider/kubernetes/hasher.go
  pkg/app/piped/cloudprovider/kubernetes/hasher_test.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cloudprovider/kubernetes/resourcekey.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
Labels: approved, area/piped, size/XXL

#2057 Bump web dependencies
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/XL

#2059 Release v0.9.16
  docs/content/en/blog/releases/v0.9.16.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#2060 Fix a wrong indent in piped Helm chart
  manifests/piped/templates/deployment.yaml
Labels: approved, area/manifests, size/XS

#2061 Release v0.9.17
  docs/content/en/blog/releases/v0.9.17.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/S

#2063 Update release note
  docs/content/en/blog/releases/v0.9.16.md
  docs/content/en/blog/releases/v0.9.17.md
Labels: approved, area/docs, area/site, release-note-none, size/L

#2064 Add TRAFFICE_ROUTING as stage in k8s bluegreen example
  examples/kubernetes/bluegreen/.pipe.yaml
Labels: approved, release-note-none, size/XS

#2058 ECS progressive deployment implementation
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/ecs/routing_traffic.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/config/deployment.go
  pkg/config/deployment_ecs.go
  pkg/model/stage.go
  repositories.bzl
Labels: approved, area/build, area/piped, size/L

#2067 Update ECS RFC example
  docs/rfcs/0004-ecs-deployment.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#2071 Move the diff package to the shared location
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
  pkg/app/piped/driftdetector/kubernetes/BUILD.bazel
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planner/kubernetes/BUILD.bazel
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/diff/BUILD.bazel
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/renderer.go
  pkg/diff/renderer_test.go
  pkg/diff/result.go
  pkg/diff/result_test.go
  pkg/diff/testdata/complex-node.yaml
  pkg/diff/testdata/has_diff.yaml
  pkg/diff/testdata/ignore_adding_map_keys.yaml
  pkg/diff/testdata/no_diff.yaml
Labels: approved, area/piped, lgtm, release-note-none, size/S

#2072 Implement ECS new stage design
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/config/deployment.go
  pkg/config/deployment_ecs.go
  pkg/model/stage.go
Labels: approved, area/piped, lgtm, size/L

#2075 Fix alerting error for stage log fetching
  pkg/app/web/src/components/log-viewer/index.stories.tsx
  pkg/app/web/src/mocks/services/stage-log.ts
  pkg/app/web/src/modules/stage-logs/index.test.ts
  pkg/app/web/src/modules/stage-logs/index.ts
Labels: approved, area/web, lgtm, size/L

#2077 Store traffic and canary scale to stage metadata store
  pkg/app/piped/executor/ecs/BUILD.bazel
  pkg/app/piped/executor/ecs/ecs.go
Labels: approved, area/piped, release-note-none, size/S

#2076 Refine ECS deployment stage messages
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1971 Allow to skip cert verification when adding the chart repo
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/app/piped/chartrepo/chartrepo.go
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/config/deployment_kubernetes.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/docs, area/piped, area/site, size/M, trigger/needs-ok-to-test

#2079 Add ECS application examples
  examples/ecs/bluegreen/.pipe.yaml
  examples/ecs/bluegreen/servicedef.yaml
  examples/ecs/bluegreen/taskdef.yaml
  examples/ecs/canary/.pipe.yaml
  examples/ecs/canary/servicedef.yaml
  examples/ecs/canary/taskdef.yaml
  examples/ecs/simple/.pipe.yaml
  examples/ecs/simple/servicedef.yaml
  examples/ecs/simple/taskdef.yaml
Labels: approved, lgtm, release-note-none, size/L

#2078 Update piped add cloud provider manual docs
  docs/content/en/docs/operator-manual/piped/adding-a-cloud-provider.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#2080 Add ECS application docs
  docs/content/en/_index.html
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/examples/_index.md
  docs/content/en/docs/faq/_index.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/piped/adding-a-cloud-provider.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/user-guide/adding-an-application.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuring-deployment/ecs.md
  docs/content/ja/_index.html
Labels: approved, area/docs, area/site, lgtm, size/L

#2081 Add missing stage description
  docs/content/en/docs/user-guide/configuring-deployment/ecs.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2082 Show ECS traffic stage detail on web view
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/web/src/components/pipeline-stage/index.tsx
Labels: approved, area/piped, area/web, lgtm, release-note-none, size/S

#2083 Fix invalid StageId on storing ECS stage metadata
  pkg/app/piped/executor/ecs/ecs.go
Labels: approved, area/piped, release-note-none, size/XS

#2084 Add ability to use both SecretManagement and SealedSecretManagement
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/deploysource/deploysource_test.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/datastore/pipedstore.go
  pkg/model/piped.go
  pkg/model/piped.proto
Labels: approved, area/api, area/piped, release-note-none, size/L

#2085 Change required role to add/update application from Admin to Editor
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: approved, area/api, lgtm, size/S

#2089 Use absolute path for test utils importing
  pkg/app/web/.storybook/redux-decorator.tsx
  pkg/app/web/BUILD.bazel
  pkg/app/web/jest.config.js
  pkg/app/web/jest.config.local.js
  pkg/app/web/src/components/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/app-live-state/index.stories.tsx
  pkg/app/web/src/components/application-counts/index.test.tsx
  pkg/app/web/src/components/application-detail/index.stories.tsx
  pkg/app/web/src/components/application-detail/index.test.tsx
  pkg/app/web/src/components/application-filter/index.test.tsx
  pkg/app/web/src/components/application-list-item/index.test.tsx
  pkg/app/web/src/components/application-list/index.test.tsx
  pkg/app/web/src/components/application-state-view/index.test.tsx
  pkg/app/web/src/components/approval-stage/index.test.tsx
  pkg/app/web/src/components/copy-icon-button/index.test.tsx
  pkg/app/web/src/components/deployment-config-form/index.stories.tsx
  pkg/app/web/src/components/deployment-config-form/index.test.tsx
  pkg/app/web/src/components/deployment-detail/index.test.tsx
  pkg/app/web/src/components/deployment-filter/index.test.tsx
  pkg/app/web/src/components/deployment-item/index.stories.tsx
  pkg/app/web/src/components/deployment-status-icon/index.test.tsx
  pkg/app/web/src/components/diff-view/index.test.tsx
  pkg/app/web/src/components/edit-application-drawer/index.test.tsx
  pkg/app/web/src/components/header/index.stories.tsx
  pkg/app/web/src/components/header/index.test.tsx
  pkg/app/web/src/components/kubernetes-state-view/index.test.tsx
  pkg/app/web/src/components/log-viewer/index.test.tsx
  pkg/app/web/src/components/pipeline/index.test.tsx
  pkg/app/web/src/components/rbac-form/index.stories.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.stories.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.test.tsx
  pkg/app/web/src/components/split-button/index.test.tsx
  pkg/app/web/src/components/static-admin-form/index.test.tsx
  pkg/app/web/src/components/toasts/index.stories.tsx
  pkg/app/web/src/components/toasts/index.test.tsx
  pkg/app/web/src/modules/application-counts/index.test.ts
  pkg/app/web/src/modules/applications/index.test.ts
  pkg/app/web/src/modules/commands/index.test.ts
  pkg/app/web/src/modules/environments/index.test.ts
  pkg/app/web/src/modules/me/index.test.ts
  pkg/app/web/src/modules/stage-logs/index.test.ts
  pkg/app/web/src/pages/applications/detail.test.tsx
  pkg/app/web/src/pages/deployments/detail.test.tsx
  pkg/app/web/src/pages/index.test.tsx
  pkg/app/web/src/pages/settings/environment/index.test.tsx
  pkg/app/web/test-utils/index.tsx
  pkg/app/web/tsconfig.json
Labels: approved, area/web, lgtm, release-note-none, size/M

#2091 Update contributor list
  README.md
Labels: approved, release-note-none, size/XS

#2088 Introducing percentage type
  pkg/app/piped/executor/ecs/ecs.go
  pkg/config/BUILD.bazel
  pkg/config/deployment_ecs.go
  pkg/config/percentage.go
  pkg/config/percentage_test.go
Labels: approved, area/piped, release-note-none, size/L

#2094 Ensure ECS deployment allow JSON file config
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
  pkg/app/piped/cloudprovider/ecs/servce_test.go
  pkg/app/piped/cloudprovider/ecs/service.go
  pkg/app/piped/cloudprovider/ecs/task.go
  pkg/app/piped/cloudprovider/ecs/task_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#2090 RFC for plan preview feature
  docs/rfcs/0005-plan-preview.md
  docs/static/images/rfc-plan-preview-architecture.png
Labels: approved, area/docs, area/site, release-note-none, size/M

#2095 Make Popover render only when needed
  pkg/app/web/src/components/application-list-item/index.tsx
  pkg/app/web/src/components/header/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, release-note-none, size/XS

#2092 Using rich defined percentage type
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/config/deployment_cloudrun.go
  pkg/config/deployment_ecs.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/deployment_lambda.go
Labels: approved, area/docs, area/piped, area/site, lgtm, size/M

#2096 Change the default ECS configuration files format to `JSON`
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuring-deployment/ecs.md
  pkg/config/deployment_ecs.go
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/M

#2098 Add plan preview to feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2097 Add a new way to manage secrets: secret templating
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
  pkg/app/piped/deploysource/BUILD.bazel
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/deploysource/deploysource_test.go
  pkg/app/piped/driftdetector/kubernetes/BUILD.bazel
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector_test.go
  pkg/app/piped/sourcedecrypter/BUILD.bazel
  pkg/app/piped/sourcedecrypter/decrypter.go
  pkg/app/piped/sourcedecrypter/decrypter_test.go
  pkg/config/deployment.go
Labels: approved, area/manifests, area/piped, lgtm, size/XL

#2101 Add SPA support for playground image
  play/Dockerfile
Labels: approved, release-note-none, size/XS

#2099 Update doc for secret management
  docs/content/en/docs/user-guide/secret-management/_index.md
  docs/content/en/docs/user-guide/secret-management/sealed-secrets.md
Labels: approved, lgtm, release-note-none

#2102 Release v0.10.0
  docs/content/en/blog/releases/v0.10.0.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#2103 Add ECS Applications to example README
  examples/README.remote.md
Labels: approved, release-note-none, size/XS

#2104 Fix generated diff in BUILD.bazel when run make gazelle
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
Labels: approved, area/piped, release-note-none, size/XS

#2105 Prepare needed model, RPCs and modules for PlanPreview feature
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/main.go
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/pipectl/cmd/planpreview/BUILD.bazel
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/piped/planpreview/BUILD.bazel
  pkg/app/piped/planpreview/planpreview.go
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/app/web/src/__fixtures__/dummy-trigger.ts
  pkg/app/web/src/modules/commands/index.ts
  pkg/app/web/src/modules/deployments/index.ts
  pkg/model/BUILD.bazel
  pkg/model/command.proto
  pkg/model/common.proto
  pkg/model/deployment.proto
  pkg/model/planpreview.proto
Labels: approved, area/api, area/pipectl, area/piped, area/web, lgtm, release-note-none, size/L

#2111 Fix the bug that canary workloads were not using canary config resources
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/deployments.yaml
Labels: approved, lgtm, release-note-none, size/S

#2114 Fix bug that canary workloads are still using the old configmap/secret because of lack of updating in env and envFrom fields
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/testdata/deployments.yaml
Labels: approved, area/piped, lgtm, release-note-none, size/L

#2116 Release v0.10.1
  docs/content/en/blog/releases/v0.10.1.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/S

#2112 Show all insights chart with placeholder data
  pkg/app/web/src/components/chart-base/index.tsx
  pkg/app/web/src/pages/insight/components/change-failure-rate-chart/index.stories.tsx
  pkg/app/web/src/pages/insight/components/change-failure-rate-chart/index.tsx
  pkg/app/web/src/pages/insight/components/deployment-frequency-chart/index.stories.tsx
  pkg/app/web/src/pages/insight/components/deployment-frequency-chart/index.tsx
  pkg/app/web/src/pages/insight/components/lead-time-for-changes-chart/index.stories.tsx
  pkg/app/web/src/pages/insight/components/lead-time-for-changes-chart/index.tsx
  pkg/app/web/src/pages/insight/components/mean-time-to-restore-chart/index.stories.tsx
  pkg/app/web/src/pages/insight/components/mean-time-to-restore-chart/index.tsx
  pkg/app/web/src/pages/insight/index.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#2117 Enable metrics flag via Helm values
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#2120 Add tutorial to guide using canary deployment with pod selector
  docs/content/en/docs/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/static/images/example-canary-kubernetes-stage-0.png
  docs/static/images/example-canary-kubernetes-stage-1.png
  docs/static/images/example-canary-kubernetes-stage-3.png
  docs/static/images/example-canary-kubernetes-stage-4.png
  docs/static/images/example-canary-kubernetes.png
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#2123 Avoid using the same pointer across goroutines
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#2124 Implement RPC to request planpreview
  pkg/app/api/grpcapi/api.go
  pkg/model/command.proto
Labels: approved, area/api, lgtm, release-note-none, size/M

#2125 Allow specifying additional labels to Piped's service manifest
  manifests/piped/templates/service.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2122 Support pattern syntax to specify EventWatcher files to be included/excluded
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/config/BUILD.bazel
  pkg/config/event_watcher.go
  pkg/config/event_watcher_test.go
  pkg/config/piped.go
Labels: approved, area/docs, area/site, lgtm, size/L

#2129 Bump jest packages
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/XXL

#2130 Add missing base_branch parameter to planpreview request
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/model/command.proto
Labels: approved, area/api, lgtm, release-note-none, size/S

#2133 Ensure piped sends command's output data to control-plane
  pkg/app/piped/apistore/commandstore/store.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/trigger/trigger.go
  pkg/model/command.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#2135 Add --dependency-update flag to fetch dependencies before installing quickstart
  docs/content/en/docs/quickstart/_index.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#2134 Fix typo in operator doc
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/S

#2136 Fix indent in quickstart chart template
  manifests/pipecd/templates/configmap.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/XS

#2137 Release v0.10.2
  docs/content/en/blog/releases/v0.10.2md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#2140 Fix wrong link to secret management in feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2142 Fix wrong release filetype
  docs/content/en/blog/releases/v0.10.2.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2139 Fix: gnu sed support
  hack/render-manifests.sh
Labels: approved, area/hack, lgtm, release-note-none, size/XS, trigger/needs-ok-to-test

#2141 Update docs cover
  .kapetanios/postsubmit.yaml
  docs/assets/scss/_styles_project.scss
  docs/content/en/_index.html
  docs/content/en/docs/quickstart/_index.md
  docs/layouts/shortcodes/blocks/release.html
Labels: approved, area/docs, area/kapetanios, area/site, lgtm, release-note-none, size/M

#2143 Implement planpreview handler
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/piped/apistore/commandstore/store.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/planpreview/BUILD.bazel
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/builder_test.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/planpreview/handler_test.go
  pkg/app/piped/planpreview/planpreview.go
  pkg/model/command.proto
  pkg/model/planpreview.proto
Labels: approved, area/api, area/piped, release-note-none, size/XL

#2147 Fix cut index on getting versioning information
  .kapetanios/postsubmit.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#2148 Add release panel to ja docs
  Makefile
  docs/content/ja/_index.html
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#2138 Fix: obsolete terraform flags
  pkg/app/piped/cloudprovider/terraform/terraform.go
Labels: approved, area/piped, lgtm, release-note-none, size/S, trigger/needs-ok-to-test

#2149 Add Prometheus jobs to fetch k8s resource metrics
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2144 Fix to register multiple events during a single fetch interval
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: approved, area/piped, lgtm, size/L

#2151 Fix wrong name of a terraform example application
  docs/content/en/docs/examples/_index.md
  examples/terraform/wait-approval/.pipe.yaml
  examples/terraform/wait-approval/main.tf
  examples/terraform/wait-approval/terraform.tfvars
Labels: approved, area/docs, area/site, release-note-none, size/XS

#2153 Update contributor list
  README.md
Labels: approved, release-note-none, size/XS

#2155 Enable Node exporter and Kube state metrics
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2150 Prevent STAGE_NOT_STARTED_YET stage from becoming active
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: approved, area/web, size/M

#2156 Introducing cachemetrics package
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  manifests/pipecd/values.yaml
  pkg/cache/cachemetrics/BUILD.bazel
  pkg/cache/cachemetrics/metrics.go
  pkg/cache/rediscache/BUILD.bazel
  pkg/cache/rediscache/cache.go
Labels: approved, area/manifests, area/server, lgtm, release-note-none, size/L

#2157 Refactor cachemetrics interface and label name
  pkg/cache/cachemetrics/metrics.go
  pkg/cache/rediscache/cache.go
Labels: approved, release-note-none, size/S

#2158 Add Prometheus relabeling config to manipulate metrics from cAdvisor
  manifests/pipecd/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS
