Repository pipe-cd/pipecd, pull requests merged in 2021-10, with the labels that each got.

#2548 Fix stuck with an empty view in case of access to an invalid path
  pkg/app/web/src/routes.tsx
Labels: approved, lgtm

#2547 Fix to not validate configuration when using AnalysisTemplate
  pkg/config/deployment.go
Labels: release-note-none, size/M, approved

#2443 Add authorization.k8s.io/* API to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2545 Enable to mention users in Piped notification when a DeploymentCompleted related event is triggered
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/notifier/slack.go
  pkg/model/notificationevent.proto
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2438 Add apiregistration.k8s.io/* API to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2553 Add RPC to update desired version for a list of pipeds
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.pb.auth.go
  pkg/app/api/service/webservice/service.proto
Labels: release-note-none, approved, lgtm, size/S, area/api

#2554 Show desired version in piped list page if it is different from the currently running one
  pkg/app/web/src/components/settings-page/piped/components/piped-table-row.tsx
Labels: release-note-none, approved, size/XS, area/web

#2559 Make it possible to attach any data to the Secret manifest in Piped chart
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
Labels: approved, lgtm, area/manifests, size/S

#2549 Enable to render variant args along with app args
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer_test.go
  pkg/app/piped/executor/executor.go
  pkg/config/analysis_template.go
  pkg/config/deployment.go
Labels: approved, lgtm, size/L, area/piped

#2555 Add the checkbox column to show which events are supported events.
  docs/content/en/docs/operator-manual/piped/configuring-notifications.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2563 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#2558 Update web to allow upgrading a list of pipeds
  pkg/app/web/src/api/piped.ts
  pkg/app/web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  pkg/app/web/src/components/settings-page/piped/index.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/modules/pipeds/index.ts
Labels: approved, size/L, area/web

#2568 Make git client accept environment variables for git command
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/git/client.go
  pkg/git/client_test.go
  pkg/git/repo.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2567 Add support zip packing function code for Lambda deployment
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/function.go
Labels: size/M, approved, area/piped

#2572 Support loading Piped config data from a Git repository
  pkg/app/launcher/cmd/launcher/BUILD.bazel
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: size/M, approved, lgtm

#2569 Add explanations to guide users to create the new PIPED key
  docs/content/en/docs/faq/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2573 Ensure to default values within a map
  pkg/config/analysis_template.go
Labels: release-note-none, approved, lgtm, size/S

#2552 Enable to mention users in Piped notification when a DEPLOYMENT_PLANNED event is triggered
  pkg/app/piped/controller/planner.go
  pkg/app/piped/notifier/slack.go
  pkg/model/notificationevent.proto
Labels: release-note-none, size/M, approved, area/piped

#2576 Prevent a panic by checking if notification is not nil
  pkg/app/piped/controller/scheduler.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2580 Fix to pass piped-id to ensure valid application
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/apistore/analysisresultstore/store.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: release-note-none, size/M, approved, lgtm, area/api, area/piped

#2578 Add `Mention to` field to the Slack notification
  pkg/app/piped/notifier/slack.go
Labels: size/M, approved, lgtm, area/piped

#2579 Add configuration for Launcher in Piped chart
  manifests/piped/templates/_helpers.tpl
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: release-note-none, size/M, approved, lgtm, area/manifests

#2583 Add small tips for contributors to the document
  docs/content/en/docs/contribution-guidelines/contributing.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2584 Refactor the logic of getting config of the repository
  pkg/app/piped/controller/scheduler.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2581 Enable to mention users in Piped notification when TRIGGERED event is fired
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/trigger/deployment.go
  pkg/model/notificationevent.proto
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2582 Refactor the logic of getting mentioned accounts and avoid panic there
  pkg/app/piped/executor/waitapproval/waitapproval.go
Labels: release-note-none, size/M, approved, lgtm, area/piped
