Repository pipe-cd/pipecd, pull requests merged in 2021-08, with the labels that each got.

#2325 Ensure to register grpc server metrics to custom Prometheus registerer
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
Labels: approved, area/server, lgtm, release-note-none, size/XS

#2327 Enable to collect metrics for all components by default
  pkg/cli/app.go
Labels: approved, size/XS

#2326 Add piped dashboard variable
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: approved, area/manifests, lgtm, release-note-none, size/M

#2329 Remove pipecd_server prefixes from incoming request dashboard
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
Labels: approved, area/manifests, lgtm, release-note-none, size/S

#2330 Return InvalidArgument code when Piped tries to operate deleted app
  pkg/datastore/applicationstore.go
Labels: approved, release-note-none, size/XS

#2334 Show event id when registering event succeeded
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/event/BUILD.bazel
  pkg/app/pipectl/cmd/event/register.go
Labels: approved, area/api, lgtm, release-note-none, size/S

#2336 Remove unused directory
  dockers/actions/plan/preview/planpreview_test.go
Labels: approved, release-note-none, size/L

#2333 Add ability to patch manifests for the CANARY variant
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_multi_ops.yaml
  pkg/config/deployment_kubernetes.go
  pkg/config/testdata/application/k8s-app-canary.yaml
  pkg/yamlprocessor/BUILD.bazel
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: approved, area/docs, area/piped, area/site, release-note-none, size/XXL

#2338 Bump Prometheus client to v1.11.0
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/app/piped/analysisprovider/metrics/prometheus/fake_api.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  repositories.bzl
Labels: approved, area/build, area/piped, area/server, release-note-none, size/L

#2339 Add example to show how to use canary patch
  docs/content/en/docs/examples/_index.md
  docs/content/en/docs/user-guide/examples/_index.md
  examples/README.remote.md
  examples/kubernetes/canary-patch/.pipe.yaml
  examples/kubernetes/canary-patch/configmap.yaml
  examples/kubernetes/canary-patch/deployment.yaml
  examples/kubernetes/canary-patch/service.yaml
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#2343 Fix replicas number of canary variant in example
  examples/kubernetes/canary-patch/.pipe.yaml
Labels: release-note-none, approved, size/XS

#2344 Give back NotFound when live state not found
  pkg/app/api/applicationlivestatestore/store.go
  pkg/app/api/grpcapi/web_api.go
Labels: release-note-none, approved, size/XS, area/api

#2349 Change Prometheus pod update strategy to Recreate
  manifests/pipecd/values.yaml
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#2350 Update example queries for ADA
  examples/.pipe/analysis-template.yaml
  examples/kubernetes/analysis-by-metrics/.pipe.yaml
Labels: release-note-none, size/M, approved, lgtm

#2351 Add install piped on ECS Fargate guide
  docs/content/en/docs/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-single-machine.md
Labels: release-note-none, area/docs, approved, size/L, area/site

#2352 Remove metrics arg from command to install Piped on google cloud vm
  docs/content/en/docs/operator-manual/piped/installation/installing-on-google-cloud-vm.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2353 Remove metrics arg from service manifest used to install Piped on Cloud Run
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2355 Refactor filestore package
  pkg/app/api/applicationlivestatestore/filestore.go
  pkg/app/api/applicationlivestatestore/filestore_test.go
  pkg/app/api/commandoutputstore/store.go
  pkg/app/api/stagelogstore/filestore.go
  pkg/app/api/stagelogstore/filestore_test.go
  pkg/filestore/filestore.go
  pkg/filestore/gcs/gcs.go
  pkg/filestore/minio/minio.go
  pkg/filestore/s3/s3.go
  pkg/insight/insightstore/applicationcountstore.go
  pkg/insight/insightstore/applicationcountstore_test.go
  pkg/insight/insightstore/chunkstore.go
  pkg/insight/insightstore/chunkstore_test.go
  pkg/insight/insightstore/milestonestore.go
  pkg/insight/insightstore/milestonestore_test.go
  test/integration/filestore/gcs/gcs_test.go
Labels: release-note-none, approved, lgtm, size/L, area/api

#2357 Release v0.14.0
  docs/content/en/blog/releases/v0.14.0.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#2358 Update lambda deployment feature status
  docs/content/en/docs/feature-status/_index.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2359 Fix a typo
  pkg/app/piped/executor/analysis/analyzer.go
Labels: release-note-none, approved, size/XS, area/piped

#2360 Disallow to update Grafana UI from the web
  manifests/pipecd/values.yaml
Labels: release-note-none, approved, size/XS, area/manifests

#2347 Add text regex support for Event watcher
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/eventwatcher/testdata/kustomization.yaml
  pkg/app/piped/eventwatcher/testdata/with-template.yaml
  pkg/config/event_watcher.go
Labels: area/docs, approved, lgtm, size/L, area/piped, area/site

#2361 Add sql service account
  manifests/pipecd/templates/secret.yaml
  manifests/pipecd/values.yaml
Labels: release-note-none, approved, size/XS, area/manifests

#2356 Add a new ops job to clean stale planpreview outputs
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/planpreviewoutputcleaner/BUILD.bazel
  pkg/app/ops/planpreviewoutputcleaner/cleaner.go
Labels: approved, lgtm, size/L, area/ops, area/server

#2362 Add Cloud SQL Proxy as server and ops sidecar
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
Labels: release-note-none, size/M, approved, lgtm, area/manifests

#2363 Fix typo on helm template
  manifests/pipecd/templates/deployment.yaml
Labels: release-note-none, approved, size/XS, area/manifests

#2364 Add settings to talk to Alertmanager
  manifests/pipecd/prom-rules/alerting_rules.yml
  manifests/pipecd/templates/configmap.yaml
Labels: release-note-none, size/M, approved, lgtm, area/manifests

#2365 Add Event watcher example using regex
  docs/content/en/docs/user-guide/event-watcher.md
  examples/.pipe/event-watcher.yaml
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2367 Add project label to piped metrics
  pkg/app/piped/cmd/piped/piped.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2368 Update ops to run planpreview cleaner at a fixed time
  pkg/app/ops/planpreviewoutputcleaner/BUILD.bazel
  pkg/app/ops/planpreviewoutputcleaner/cleaner.go
Labels: release-note-none, approved, lgtm, size/S, area/ops

#2366 Update documentation for monitoring
  docs/content/en/docs/operator-manual/control-plane/metrics.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2370 Add AllowStrayAsViewer option
  pkg/app/api/httpapi/callback.go
  pkg/app/ops/handler/handler.go
  pkg/app/ops/handler/templates/AddProject
  pkg/app/web/src/__fixtures__/dummy-project.ts
  pkg/model/project.proto
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
Labels: size/M, approved, area/api, area/web, area/ops

#2372 Release v0.15.0
  docs/content/en/blog/releases/v0.15.0.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, RELEASE, area/release, size/S, area/site

#2373 Enable insights tab on header
  pkg/app/web/src/components/header/index.tsx
Labels: approved, lgtm, size/S, area/web

#2374 Divide Eventwatcher examples into multiple files
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/event-watcher.md
  examples/.pipe/event-watcher-helm.yaml
  examples/.pipe/event-watcher-k8s.yaml
  examples/.pipe/event-watcher-using-regex.yaml
  examples/.pipe/event-watcher.yaml
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2375 Update manifests to allow specifying cloudrun credentials
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#2377 Move Application count badges to Insights page
  pkg/app/web/src/components/applications-page/index.tsx
  pkg/app/web/src/components/insight-page/application-counts/application-count/index.stories.tsx
  pkg/app/web/src/components/insight-page/application-counts/application-count/index.tsx
  pkg/app/web/src/components/insight-page/application-counts/index.test.tsx
  pkg/app/web/src/components/insight-page/application-counts/index.tsx
  pkg/app/web/src/components/insight-page/index.tsx
Labels: size/M, approved, area/web

#2378 Add make web-test command
  Makefile
Labels: release-note-none, approved, size/XS

#2379 Disable call insights get data on insight page
  pkg/app/web/src/components/insight-page/insight-header/index.tsx
Labels: release-note-none, approved, size/S, area/web

#2381 Release version v0.15.1
  docs/content/en/blog/releases/v0.15.1.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, RELEASE, area/release, size/S, area/site

#2383 Fix paths of livenessProbe and readinessProbe for helloworld service
  manifests/helloworld/templates/deployment.yaml
Labels: release-note-none, approved, size/XS, area/manifests

#2384 Fix RFC dates
  docs/rfcs/0003-sql-datastore.md
  docs/rfcs/0004-ecs-deployment.md
  docs/rfcs/0005-plan-preview.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2386 Update examples
  examples/cloudrun/analysis/.pipe.yaml
  examples/cloudrun/analysis/service.yaml
  examples/cloudrun/canary/service.yaml
  examples/cloudrun/secret-management/service.yaml
  examples/cloudrun/simple/service.yaml
  examples/kubernetes/analysis-by-http/.pipe.yaml
  examples/kubernetes/analysis-by-http/deployment.yaml
  examples/kubernetes/analysis-by-log/deployment.yaml
  examples/kubernetes/analysis-by-metrics/.pipe.yaml
  examples/kubernetes/analysis-by-metrics/deployment.yaml
  examples/kubernetes/analysis-with-baseline/deployment.yaml
  examples/kubernetes/bluegreen/deployment.yaml
  examples/kubernetes/canary-by-config-change/configmap.yaml
  examples/kubernetes/canary-patch/deployment.yaml
  examples/kubernetes/canary/deployment.yaml
  examples/kubernetes/helm-local-chart/.pipe.yaml
  examples/kubernetes/helm-local-chart/values.yaml
  examples/kubernetes/helm-remote-chart/.pipe.yaml
  examples/kubernetes/helm-remote-git-chart/.pipe.yaml
  examples/kubernetes/kustomize-local-base/.pipe.yaml
  examples/kubernetes/kustomize-local-base/kustomization.yaml
  examples/kubernetes/kustomize-remote-base/kustomization.yaml
  examples/kubernetes/mesh-istio-bluegreen/deployment.yaml
  examples/kubernetes/mesh-istio-canary/deployment.yaml
  examples/kubernetes/multi-steps-canary/deployment.yaml
  examples/kubernetes/secret-management/deployment.yaml
  examples/kubernetes/simple/deployment.yaml
  examples/local-modules/helm-charts/helloworld/.helmignore
  examples/local-modules/helm-charts/helloworld/Chart.yaml
  examples/local-modules/helm-charts/helloworld/templates/NOTES.txt
  examples/local-modules/helm-charts/helloworld/templates/_helpers.tpl
  examples/local-modules/helm-charts/helloworld/templates/deployment.yaml
  examples/local-modules/helm-charts/helloworld/templates/ingress.yaml
  examples/local-modules/helm-charts/helloworld/templates/service.yaml
  examples/local-modules/helm-charts/helloworld/templates/serviceaccount.yaml
  examples/local-modules/helm-charts/helloworld/templates/tests/test-connection.yaml
  examples/local-modules/helm-charts/helloworld/values.yaml
  examples/local-modules/kustomize-bases/helloworld/deployment.yaml
  examples/local-modules/kustomize-bases/helloworld/kustomization.yaml
  examples/local-modules/kustomize-bases/helloworld/service.yaml
  examples/terraform/autorollback/.credentials/service-account.json
  examples/terraform/autorollback/.pipe.yaml
  examples/terraform/autorollback/main.tf
  examples/terraform/local-module/.credentials/service-account.json
  examples/terraform/remote-module/.credentials/service-account.json
  examples/terraform/secret-management/main.tf
  examples/terraform/secret-management/terraform.tfvars
  examples/terraform/simple/.credentials/service-account.json
  examples/terraform/simple/.pipe.yaml
  examples/terraform/simple/main.tf
  examples/terraform/wait-approval/.credentials/service-account.json
  examples/terraform/wait-approval/.pipe.yaml
  examples/terraform/wait-approval/main.tf
Labels: release-note-none, approved, lgtm, size/L

#2387 Fix inappropriate file permissions in examples
  examples/terraform/autorollback/.credentials/service-account.json
  examples/terraform/local-module/.credentials/service-account.json
  examples/terraform/remote-module/.credentials/service-account.json
  examples/terraform/simple/.credentials/service-account.json
  examples/terraform/wait-approval/.credentials/service-account.json
Labels: release-note-none, approved, lgtm, size/XS

#2389 Update install piped as ECS task docs
  docs/content/en/docs/operator-manual/piped/installation/installing-on-fargate.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2390 Add comments on logEncoding Helm values
  manifests/pipecd/values.yaml
  manifests/piped/values.yaml
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#2399 Make Analysis providers possible to give back data points
  pkg/app/piped/analysisprovider/metrics/datadog/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/piped/analysisprovider/metrics/prometheus/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/prometheus/fake_api.go
  pkg/app/piped/analysisprovider/metrics/prometheus/fake_client.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
Labels: release-note-none, approved, lgtm, area/piped, size/XL

#2400 Force regenerate uid for controlplane overview and piped process board
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#2402 Fix monitoring boards overridden issue
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: release-note-none, approved, size/XS, area/manifests

#2403 Release v0.15.2
  docs/content/en/blog/releases/v0.15.2.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#2404 Stop publishing play image
  .kapetanios/postsubmit.yaml
  play/Dockerfile
Labels: release-note-none, size/M, approved, lgtm, area/kapetanios

#2405 Upgrade Prometheus and Grafana charts
  manifests/pipecd/Chart.yaml
Labels: release-note-none, approved, lgtm
