Repository pipe-cd/pipecd, pull requests merged in 2021-12, with the labels that each got.

#2867 Update doc for deployment triggering
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/triggering-a-deployment.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2868 Temporarily disable appconfig reporter in Piped
  pkg/app/piped/appconfigreporter/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
Labels: release-note-none, size/M, approved, area/piped

#2870 Avoid panic when application sync state was not set
  pkg/app/piped/trigger/trigger.go
  pkg/model/application.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2872 Revert SealedSecrets field in configuration to keep old config able to be loaded
  pkg/app/piped/trigger/trigger.go
  pkg/config/deployment.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2875 Add knanao to reviewer list
  OWNERS_ALIASES
Labels: release-note-none, approved, size/XS

#2876 Update plan-preview to use pipectl v0.22.0
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
Labels: release-note-none, approved, lgtm, size/XS

#2880 Revert "Temporarily disable appconfig reporter in Piped"
  pkg/app/piped/appconfigreporter/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
Labels: release-note-none, size/M, approved, area/piped

#2878 Remove the predefined secrets in Piped chart
  manifests/piped/values.yaml
Labels: size/M, approved, lgtm, area/manifests

#2879 Fix appconfigreporter to handle app that config file is empty
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2881 Fix required field for ChartRepository struct in Piped config reference
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.22.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, todo/skip, area/site

#2882 Make sure to use the helper method to get app config file path
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/model/application.go
Labels: release-note-none, approved, size/S, area/api, area/piped

#2883 Unify how to write whether it is required depends on the conditions
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.22.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2871 Apply tabs to app adding form to add from Git
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#2886 Fix missing bazel import
  pkg/app/piped/appconfigreporter/BUILD.bazel
Labels: release-note-none, approved, size/XS, area/piped

#2891 Eliminate dependence on specific cryptographic algorithm from doc
  docs/content/en/docs-dev/user-guide/secret-management.md
  docs/content/en/docs-v0.22.x/user-guide/secret-management.md
  docs/content/en/docs/user-guide/secret-management.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2866 Stop deployments of applications in case its chain is stopped
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/controller/controller.go
  pkg/datastore/BUILD.bazel
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentchainstore_test.go
  pkg/model/deployment_chain.go
  pkg/model/deployment_chain.proto
Labels: release-note-none, approved, lgtm, area/api, area/piped, size/XL

#2892 Remove the old Piped stats mechanism
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/statsreporter/reporter.go
  pkg/datastore/BUILD.bazel
  pkg/datastore/datastoretest/BUILD.bazel
  pkg/datastore/pipedstatsstore.go
  pkg/datastore/pipedstatsstore_test.go
Labels: approved, lgtm, size/L, area/api, area/piped

#2856 Download the latest version of pipectl
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.18.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.20.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.21.x/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2895 Using piped stat info to determine connection status
  cmd/pipecd/server.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/ops/pipedstatsbuilder/builder.go
  pkg/app/ops/staledpipedstatcleaner/cleaner.go
  pkg/datastore/pipedstore.go
  pkg/model/BUILD.bazel
  pkg/model/piped.proto
  pkg/model/piped_stat.go
Labels: release-note-none, approved, size/L, area/api, area/ops, area/server

#2894 Add a form to add an app from Git
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/modules/unregistered-applications/index.ts
Labels: release-note-none, approved, lgtm, size/L, area/web

#2896 Show the piped connecting status on the setting page
  pkg/app/web/src/components/settings-page/piped/components/piped-table-row.tsx
  pkg/app/web/src/constants/piped-connection-status-text.ts
  pkg/app/web/src/routes.tsx
Labels: size/M, approved, lgtm, area/web

#2901 Lint web codebase
  pkg/app/web/.eslintrc.js
  pkg/app/web/package.json
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/api/piped.ts
  pkg/app/web/src/components/application-detail-page/application-state-view/index.tsx
  pkg/app/web/src/components/application-detail-page/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.tsx
  pkg/app/web/src/components/applications-page/application-added-view/index.tsx
  pkg/app/web/src/components/applications-page/application-list/application-list-item/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/components/applications-page/index.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.test.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
  pkg/app/web/src/components/insight-page/index.tsx
  pkg/app/web/src/components/login-page/login-form/index.tsx
  pkg/app/web/src/components/settings-page/piped/components/piped-table-row.tsx
  pkg/app/web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  pkg/app/web/src/components/settings-page/piped/index.tsx
  pkg/app/web/src/components/settings-page/project/components/static-admin-form/index.tsx
  pkg/app/web/src/constants/piped-connection-status-text.ts
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/hooks/use-query-string.ts
  pkg/app/web/src/middlewares/thunk-error-handler.ts
  pkg/app/web/src/modules/applications/index.test.ts
  pkg/app/web/src/modules/pipeds/index.ts
  pkg/app/web/src/modules/toasts/index.test.ts
  pkg/app/web/src/modules/unregistered-applications/index.ts
  pkg/app/web/src/routes.tsx
  pkg/app/web/src/utils/parse-log.ts
Labels: release-note-none, approved, lgtm, size/L, area/web

#2902 Remove unneeded data in secret manifest of Piped chart
  manifests/piped/templates/secret.yaml
Labels: release-note-none, size/M, approved, lgtm, area/manifests

#2903 Allow Viewer to call ListUnregisteredApplications
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: release-note-none, approved, size/XS, area/api

#2904 Ensure to list unregistered apps whenever the add from git form got shown
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/modules/unregistered-applications/index.ts
Labels: release-note-none, size/M, approved, lgtm, area/web

#2905 Fix launcher to use valid Printf verbs
  pkg/app/launcher/cmd/launcher/binary.go
Labels: release-note-none, approved, size/XS

#2906 Avoid trigger disabled application in chain
  pkg/app/api/grpcapi/piped_api.go
Labels: release-note-none, approved, lgtm, size/XS, area/api

#2907 Fix CHAIN_SYNC_APPLICATION command leaked from should trigger checking list
  pkg/app/piped/apistore/commandstore/store.go
  pkg/app/piped/trigger/trigger.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2908 Fetch piped list in setting page intervally
  pkg/app/web/src/components/settings-page/piped/index.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#2909 Update ApplicationForm to register apps using configs in Git
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/modules/applications/index.ts
Labels: approved, size/L, area/web

#2911 Remove unused PipedStats model
  pkg/app/api/service/pipedservice/service.proto
  pkg/model/BUILD.bazel
  pkg/model/piped_stats.proto
Labels: release-note-none, size/M, approved, lgtm, area/api

#2910 Disable to update application info via the web UI
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.test.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
Labels: size/M, approved, area/web

#2889 Add the page in Japanese to the doc
  docs/content/ja/docs/user-guide/secret-management.md
Labels: release-note-none, area/docs, approved, size/L, area/site

#2916 Fix what only one unregistered application is shown
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/modules/unregistered-applications/index.ts
Labels: release-note-none, approved, size/S, area/web

#2918 Undo Env to mandatory again in App config
  pkg/app/api/service/webservice/service.proto
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/web/src/components/application-form/index.tsx
  pkg/model/application.proto
  pkg/model/common.proto
Labels: release-note-none, size/M, approved, area/api, area/piped, area/web

#2920 Unify Piped select UI with add manyally form
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, approved, size/XS, area/web

#2921 fix misspell
  cmd/pipecd/server.go
  pkg/app/api/commandoutputstore/store.go
  pkg/app/api/grpcapi/api.go
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/ops/planpreviewoutputcleaner/cleaner.go
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/pipectl/cmd/application/list.go
  pkg/cli/cmd.go
  pkg/config/analysis.go
  pkg/config/deployment_kubernetes.go
  pkg/datastore/firestore/firestore.go
  pkg/datastore/mysql/query.go
Labels: release-note-none, approved, size/S, area/api, trigger/needs-ok-to-test, area/ops, area/server

#2922 Fix typo in piped_api.go
  pkg/app/api/grpcapi/piped_api.go
Labels: release-note-none, approved, size/XS, area/api, trigger/needs-ok-to-test

#2924 Update trigger docs
  docs/content/en/docs-dev/user-guide/triggering-a-deployment.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2926 Add sivchari and eltociear to the contributor list
  README.md
Labels: release-note-none, approved, size/XS

#2927 Remove an RPC that no longer exist from the auth list
  pkg/app/api/service/webservice/service.pb.auth.go
Labels: release-note-none, approved, size/XS, area/api

#2930 Update contributor list
  README.md
Labels: release-note-none, approved, size/S

#2932 Disable onChain trigger by default
  pkg/app/piped/trigger/determiner.go
  pkg/config/application.go
  pkg/config/application_cloudrun_test.go
  pkg/config/application_ecs_test.go
  pkg/config/application_kubernetes_test.go
  pkg/config/application_lambda_test.go
  pkg/config/application_terraform_test.go
  pkg/config/application_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2934 Make in chain application matcher works with ApplicationKind
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
Labels: release-note-none, approved, lgtm, size/S, area/api

#2937 Fix miss running make gazellel
  BUILD.bazel
Labels: release-note-none, approved, size/XS

#2939 Make environment fields optional
  pkg/app/api/service/webservice/service.proto
  pkg/model/application.proto
  pkg/model/common.proto
  pkg/model/notificationevent.proto
Labels: release-note-none, approved, lgtm, size/S, area/api

#2923 Add DeploymentChain gRPCs
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/datastore/deploymentchainstore.go
Labels: release-note-none, approved, size/L, area/api

#2940 Return PermissionDenied status instead of InvalidArgument in case access to resources of not permitted project
  pkg/app/api/grpcapi/web_api.go
Labels: release-note-none, approved, size/S, area/api

#2943 Remove function no longer needed
  pkg/app/piped/apistore/environmentstore/store.go
Labels: release-note-none, size/M, approved, area/piped

#2942 Make Environment optional when adding an app from Git
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/controller/controller.go
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/piped, area/web

#2944 Add deployment chain list simple mock page
  pkg/app/web/src/components/deployment-chains-page/index.tsx
  pkg/app/web/src/components/header/index.tsx
  pkg/app/web/src/constants/path.ts
  pkg/app/web/src/routes.tsx
Labels: release-note-none, size/M, approved, area/web

#2925 Add deployment chain docs
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/configuring-deployment/deployment-chain.md
  docs/content/en/docs-dev/user-guide/triggering-a-deployment.md
  docs/static/images/deployment-chain-console.png
  docs/static/images/deployment-chain-figure.png
  examples/deployment-chain/simple/.pipe.yaml
  examples/deployment-chain/simple/deployment.yaml
  examples/deployment-chain/simple/service.yaml
Labels: area/docs, approved, lgtm, size/L, area/site

#2948 Don't show env when there isn't
  examples/.pipe/event-watcher-helm.yaml
  pkg/app/web/src/components/application-detail-page/application-detail/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/application-added-view/index.tsx
  pkg/app/web/src/components/deployments-page/deployment-item/index.tsx
Labels: release-note-none, size/M, approved, area/web

#2949 Ensure to inspect unregistered apps even no new commit
  pkg/app/piped/appconfigreporter/appconfigreporter.go
Labels: release-note-none, size/M, approved, area/piped

#2951 Make config file name required when adding app
  pkg/app/web/src/components/application-form/index.tsx
Labels: approved, size/XS, area/web

#2952 Translate rolling-back-a-deployment.md into Japanese
  docs/content/ja/docs/user-guide/adding-a-manual-approval.md
  docs/content/ja/docs/user-guide/adding-a-wait-stage.md
  docs/content/ja/docs/user-guide/application-live-state.md
  docs/content/ja/docs/user-guide/cancelling-a-deployment.md
  docs/content/ja/docs/user-guide/rolling-back-a-deployment.md
  docs/content/ja/docs/user-guide/secret-management.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2950 Change the default app config name to "app.pipecd.yaml"
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-dev/operator-manual/piped/adding-helm-chart-repository.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/examples/k8s-app-bluegreen-with-istio.md
  docs/content/en/docs-dev/user-guide/examples/k8s-app-canary-with-istio.md
  docs/content/en/docs-dev/user-guide/examples/k8s-app-canary-with-pod-selector.md
  docs/content/en/docs-dev/user-guide/secret-management.md
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
  pkg/model/application.go
Labels: size/M, area/docs, approved, area/piped, area/web, area/site

#2954 Update kapetanios to assign all reviewers
  .kapetanios/plugin.yaml
Labels: release-note-none, approved, size/XS, area/kapetanios

#2955 Make sure appconfigreporter to scan configs first
  pkg/app/piped/appconfigreporter/appconfigreporter.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#2957 Fix miss kind in docs
  docs/content/en/docs-dev/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs-v0.18.x/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs-v0.20.x/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs-v0.21.x/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs-v0.22.x/user-guide/configuring-deployment/kubernetes.md
  docs/content/en/docs/user-guide/configuring-deployment/kubernetes.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#2958 Revise piped connection status UI color
  pkg/app/web/src/components/settings-page/piped/components/piped-table-row.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#2945 Make all environment in input form optional
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/settings-page/piped/components/piped-form/index.tsx
Labels: approved, lgtm, size/S, area/web

#2956 Switch to use Stepper component to add app from Git
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, approved, lgtm, size/L, area/web, todo/skip

#2960 Add docs on pipectl available commands
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2962 Add Piped installation link to user guide index
  docs/content/en/docs-dev/user-guide/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2961 Update the Piped definition in docs
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-v0.18.x/concepts/_index.md
  docs/content/en/docs-v0.20.x/concepts/_index.md
  docs/content/en/docs-v0.21.x/concepts/_index.md
  docs/content/en/docs-v0.22.x/concepts/_index.md
  docs/content/en/docs/concepts/_index.md
  docs/content/ja/docs/concepts/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2965 Add status to deployment chain model
  pkg/app/api/grpcapi/piped_api.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentchainstore_test.go
  pkg/model/BUILD.bazel
  pkg/model/deployment_chain.go
  pkg/model/deployment_chain.proto
  pkg/model/deployment_chain_test.go
Labels: release-note-none, approved, lgtm, size/L, area/api

#2963 Make it possible to register labels via app config
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/modules/applications/index.ts
Labels: release-note-none, approved, lgtm, size/S, area/api, area/web

#2935 Add doc that covers how to add an app from Git
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.22.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/static/images/registering-an-application-from-git.png
  docs/static/images/registering-an-application-from-web.png
  docs/static/images/registering-an-application.png
  pkg/config/application.go
Labels: release-note-none, size/M, area/docs, approved, area/site

#2966 Change default interval to scan app config files
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2967 Remove deployment chain model updating logic called in piped_api
  pkg/app/api/grpcapi/piped_api.go
Labels: release-note-none, approved, size/L, area/api

#2969 Fix missing screenshot for quickstart
  docs/static/images/quickstart-adding-environment.png
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2970 Add Nanaken san to contributors list
  README.md
Labels: release-note-none, approved, size/XS

#2971 Fix wrong image used in quickstart docs
  docs/content/en/docs-dev/quickstart/_index.md
  docs/static/images/quickstart-adding-application-from-git.png
  docs/static/images/quickstart-adding-application.png
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2972 Update bazel and rules_docker to latest version
  .bazelversion
  WORKSPACE
Labels: release-note-none, approved, lgtm, size/XS

#2975 Add the navigation link to the doc covering to add app from Git
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#2977 Translate triggering-a-deployment.md into Japanese
  docs/content/ja/docs/user-guide/adding-a-manual-approval.md
  docs/content/ja/docs/user-guide/adding-a-wait-stage.md
  docs/content/ja/docs/user-guide/application-live-state.md
  docs/content/ja/docs/user-guide/cancelling-a-deployment.md
  docs/content/ja/docs/user-guide/rolling-back-a-deployment.md
  docs/content/ja/docs/user-guide/triggering-a-deployment.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2979 Fix stale command options in docs
  docs/content/en/docs-dev/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.22.x/quickstart/_index.md
  docs/content/en/docs/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs/quickstart/_index.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#2980 Add missing bazel rules needed to push images to local registry
  cmd/pipecd/BUILD.bazel
  cmd/piped/BUILD.bazel
Labels: release-note-none, approved, lgtm, size/S, area/piped, area/server

#2981 Update ingress manifest in control-plane chart to use networking.k8s.io/v1 version
  manifests/pipecd/templates/ingress.yaml
Labels: size/M, approved, lgtm, area/manifests

#2983 Add using filestore as database to feature status page
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs/feature-status/_index.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2985 Add a missing required field to ingress manifest for control-plane chart
  manifests/pipecd/templates/ingress.yaml
Labels: release-note-none, approved, lgtm, area/manifests, size/S

#2984 Simplify quickstart by removing unneeded step
  docs/content/en/docs-dev/quickstart/_index.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2988 Remove unneeded explanation in the quickstart guide
  docs/content/en/docs-dev/quickstart/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2986 Introduce deployment chain controller in ops
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/deploymentchaincontroller/BUILD.bazel
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/deploymentchaincontroller/updater.go
  pkg/model/deployment_chain.go
Labels: release-note-none, approved, size/L, area/ops, area/server

#2989 Fix warning wrong format for interface value
  pkg/app/piped/planpreview/builder.go
Labels: release-note-none, approved, size/XS, area/piped

#2990 Add required indexes for deploymentchain and deployment model
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, size/L, area/ops

#2991 Fix the location of doc for deployment chain
  docs/content/en/docs-dev/user-guide/application-live-state.md
  docs/content/en/docs-dev/user-guide/configuration-drift-detection.md
  docs/content/en/docs-dev/user-guide/deployment-chain.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/plan-preview.md
  docs/content/en/docs-dev/user-guide/secret-management.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#2992 Add link to deployment chain in feature status page
  docs/content/en/docs-dev/feature-status/_index.md
Labels: release-note-none, area/docs, approved, size/XS, area/site
