Repository pipe-cd/pipecd, pull requests merged in 2021-09, with the labels that each got.

#2409 Update plan-preview status to beta
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/plan-preview.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2410 Update feature status for MySQL, S3 and Minio
  docs/content/en/docs/feature-status/_index.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2415 Add placeholder to path field in Add Application form
  docs/content/en/docs/user-guide/adding-an-application.md
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, area/docs, approved, size/XS, area/web, area/site

#2418 Check app nullish in livestatestore before use
  pkg/app/piped/livestatestore/kubernetes/store.go
Labels: release-note-none, approved, size/XS, area/piped

#2419 Add log to show the unpexpected missing resource
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/kubernetes/store.go
Labels: release-note-none, approved, size/S, area/piped

#2421 Release v0.15.3
  docs/content/en/blog/releases/v0.15.3.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, RELEASE, area/release, size/S, area/site

#2422 Change Eventwatcher to need to specify repos to be observed
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/piped.go
Labels: approved, size/S, area/piped

#2420 Add ECS livestate store
  pkg/app/piped/livestatestore/BUILD.bazel
  pkg/app/piped/livestatestore/ecs/BUILD.bazel
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/livestatestore.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2423 Mask secret value rendered as planpreview results
  pkg/app/piped/cloudprovider/kubernetes/diff.go
Labels: approved, lgtm, size/S, area/piped

#2425 Revert "Change Eventwatcher to need to specify repos to be observed"
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/piped.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2426 Release v0.15.4
  docs/content/en/blog/releases/v0.15.4.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#2427 Add render release note command
  Makefile
  hack/prepare-release.sh
Labels: release-note-none, size/M, area/docs, approved, area/hack, area/site

#2416 Fix no linebreak logs
  pkg/app/web/src/components/deployments-detail-page/log-viewer/log-line/index.tsx
Labels: release-note-none, approved, size/XS, area/web

#2428 Add ono-max into backend team
  OWNERS_ALIASES
Labels: release-note-none, approved, size/XS

#2429 Fix no line break in terraform v1 log
  pkg/app/web/src/components/deployments-detail-page/log-viewer/log-line/index.tsx
  pkg/app/web/src/utils/__snapshots__/parse-log.test.ts.snap
  pkg/app/web/src/utils/parse-log.test.ts
  pkg/app/web/src/utils/parse-log.ts
Labels: size/M, approved, area/web

#2431 Add the explanation to the document to make it easier to understand
  docs/content/en/docs/quickstart/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2432 Upgrade go-yaml to v1.9.3
  go.mod
  go.sum
  repositories.bzl
Labels: release-note-none, approved, size/S, area/build

#2434 Fix canary-patch app to directly use envoy configuration file path
  examples/kubernetes/canary-patch/.pipe.yaml
  examples/kubernetes/canary-patch/configmap.yaml
  examples/kubernetes/canary-patch/deployment.yaml
Labels: release-note-none, approved

#2433 Add log to show why a planning was skipped
  pkg/app/piped/controller/controller.go
Labels: release-note-none, size/M, approved, area/piped

#2435 Add policy/* API to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: approved, lgtm, size/XS, area/piped

#2437 Update contributor list
  README.md
Labels: release-note-none, approved, size/S

#2447 Add IngressClass kind to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, approved

#2440 Add note about bazelisk installation
  docs/content/en/docs/contribution-guidelines/development.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2446 Add PodTemplate kind to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, approved, size/XS, area/piped

#2444 Add Namespace kind to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, approved, size/XS, area/piped

#2449 Add piped list panel to piped overview dashboard
  manifests/pipecd/grafana-dashboards/piped/overview.json
Labels: release-note-none, approved, lgtm, size/L, area/manifests

#2445 Add ResourceQuota kind to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, approved, size/XS, area/piped

#2450 Revise control-plane overview dashboard
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: release-note-none, approved, lgtm, size/L, area/manifests

#2451 Update version for controlplane overview dashboard
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: release-note-none, approved, size/XS, area/manifests

#2441 Add admissionregistration.k8s.io/* API to the default watching list of Kubernetes
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: release-note-none, size/M, approved, area/piped

#2452 Revert Eventwatcher to need to specify repos to be observed
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/piped.go
Labels: approved, size/S, area/piped

#2454 Change the default interval for Eventwatcher to 1m
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: approved, lgtm, size/XS, area/piped

#2459 Fix operator doc to use latest stable Piped version
  docs/content/en/docs/operator-manual/piped/installation/installing-on-kubernetes.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2460 Ensure Eventwatcher to encode comments at the same line as value
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: approved, lgtm, size/S

#2461 Exclude "InvalidArgument" and "PermissionDenied" from alerting target
  manifests/pipecd/prom-rules/alerting_rules.yml
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#2457 Update Eventwatcher docs to mention gitRepos have to be specified
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs/user-guide/event-watcher.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2462 Release v0.16.0
  docs/content/en/blog/releases/v0.16.0.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#2463 Fix typo
  pkg/app/api/service/pipedservice/service.proto
Labels: release-note-none, approved, size/XS, area/api

#2466 Reset grafana provisioning board id
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/overview.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: release-note-none, approved, lgtm, area/manifests, size/XXL

#2467 Insert new lines in `pkg/app/piped/controller/scheduler.go` to consolidate the format
  pkg/app/piped/controller/scheduler.go
Labels: release-note-none, approved, size/XS, area/piped

#2469 Fix datasource not found for provisioned dashboards
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: release-note-none, size/M, approved, lgtm, area/manifests

#2470 Add new option to run all deployments with specified pipeline
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/terraform/terraform.go
  pkg/config/deployment.go
  pkg/config/deployment_kubernetes_test.go
  pkg/config/testdata/application/k8s-app-bluegreen.yaml
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2471 Provisioned dashboards version update
  manifests/pipecd/grafana-dashboards/cluster/node.json
  manifests/pipecd/grafana-dashboards/cluster/pod.json
  manifests/pipecd/grafana-dashboards/cluster/prometheus.json
  manifests/pipecd/grafana-dashboards/control-plane/go.json
  manifests/pipecd/grafana-dashboards/control-plane/incoming-request.json
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
  manifests/pipecd/grafana-dashboards/piped/go.json
  manifests/pipecd/grafana-dashboards/piped/process.json
Labels: release-note-none, approved, lgtm, area/manifests, size/S

#2385 Add an RFC for dynamic ADA
  docs/rfcs/0006-ada-dynamic.md
  docs/rfcs/assets/0006-canary-analysis.jpeg
  docs/rfcs/assets/0006-previous-analysis.jpeg
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site

#2472 Update planner to use pipeline even for the first deployment when alwaysUsePipeline was configured
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/lambda/lambda.go
Labels: release-note-none, size/M, approved, area/piped

#2473 Release v0.16.1
  docs/content/en/blog/releases/v0.16.1.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#2474 Add description for alwaysUsePipeline option to user guide
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2478 Update cloudrun doc to use no-cpu-throttling flag
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2479 Add missing ECS type for cloud provider type determiner
  pkg/model/deployment.go
Labels: release-note-none, approved, size/XS

#2480 Ensure that each CloudRun revision should be registered once
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
Labels: approved, size/L, area/piped

#2468 Add a new analyzer implementation to address the new ADA strategies
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/executor/analysis/BUILD.bazel
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer_test.go
  pkg/config/analysis.go
  pkg/config/deployment.go
Labels: release-note-none, approved, lgtm, size/L, area/piped, todo/skip

#2484 Refactor cloudrun executor
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2481 Remove CrossPlane application kind
  pkg/app/api/grpcapi/web_api.go
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/components/insight-page/application-counts/index.test.tsx
  pkg/app/web/src/constants/application-kind.ts
  pkg/app/web/src/modules/application-counts/index.test.ts
  pkg/app/web/src/modules/application-counts/index.ts
  pkg/config/config.go
  pkg/model/common.proto
Labels: release-note-none, size/M, approved, lgtm, area/api, area/web, todo/skip

#2486 Release v0.16.2
  docs/content/en/blog/releases/v0.16.2.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#2487 Update memory size used to run Piped on CloudRun
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2488 Disable auto fetch application livestate on render application detail page
  pkg/app/web/src/components/application-detail-page/application-state-view/index.tsx
  pkg/app/web/src/components/application-detail-page/index.test.tsx
  pkg/app/web/src/components/application-detail-page/index.tsx
Labels: release-note-none, size/M, area/web

#2483 Add analysis result store to fetch the most recent successful analysis
  BUILD.bazel
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  pkg/app/api/analysisresultstore/BUILD.bazel
  pkg/app/api/analysisresultstore/filestore.go
  pkg/app/api/analysisresultstore/filestore_test.go
  pkg/app/api/analysisresultstore/store.go
  pkg/app/api/analysisresultstore/store_test.go
  pkg/app/api/grpcapi/BUILD.bazel
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/pipedclientfake/fakeclient.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/apistore/analysisresultstore/BUILD.bazel
  pkg/app/piped/apistore/analysisresultstore/store.go
  pkg/app/piped/apistore/analysisresultstore/store_test.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/executor.go
  pkg/app/piped/livestatestore/BUILD.bazel
  pkg/model/BUILD.bazel
  pkg/model/analysis_result.proto
Labels: release-note-none, approved, area/api, area/piped, size/XL, area/server

#2489 Ensure fetch livestate whenever application kind is available
  pkg/app/web/src/components/application-detail-page/application-state-view/index.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#2492 Remove fake client for Piped service
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  pkg/app/api/service/pipedservice/pipedclientfake/BUILD.bazel
  pkg/app/api/service/pipedservice/pipedclientfake/fakeclient.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/manifests, area/api, area/piped, size/XL

#2493 API add ability to filter deployments by application name
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/web/src/modules/deployments/index.ts
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, size/M, approved, lgtm

#2495 Show all container image tags in the version string of application
  pkg/app/api/analysisresultstore/BUILD.bazel
  pkg/app/piped/planner/kubernetes/BUILD.bazel
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/planner/kubernetes/testdata/version_multi_containers.yaml
  pkg/app/piped/planner/kubernetes/testdata/version_multi_workloads.yaml
  pkg/app/piped/planner/kubernetes/testdata/version_no_workload.yaml
  pkg/app/piped/planner/kubernetes/testdata/version_single_container.yaml
Labels: approved, lgtm, size/L, area/api, area/piped

#2497 Add log unary interceptor for WebAPI
  cmd/pipecd/server.go
Labels: release-note-none, approved, size/XS, area/server

#2498 Refine application version format
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
Labels: release-note-none, approved, size/S, area/piped

#2496 Add Application Name filter for deployments
  pkg/app/web/src/api/deployments.ts
  pkg/app/web/src/components/applications-page/application-filter/application-autocomplete.tsx
  pkg/app/web/src/components/applications-page/application-filter/index.test.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.test.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
Labels: size/M, approved, area/web

#2499 Release v0.16.3
  docs/content/en/blog/releases/v0.16.3.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, RELEASE, area/release, size/S, area/site

#2500 Refine feature status page
  docs/content/en/docs/feature-status/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site

#2502 Remove MutatingWebhook/ValidatingWebhook from default watching K8s resources
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: size/M, approved, lgtm, area/piped

#2501 Add a package to perform Mann-Whitney U test
  NOTICE.txt
  pkg/app/piped/executor/analysis/mannwhitney/BUILD.bazel
  pkg/app/piped/executor/analysis/mannwhitney/alg.go
  pkg/app/piped/executor/analysis/mannwhitney/dist.go
  pkg/app/piped/executor/analysis/mannwhitney/mannwhitney.go
  pkg/app/piped/executor/analysis/mannwhitney/mannwhitney_test.go
  pkg/app/piped/executor/analysis/mannwhitney/mathx.go
  pkg/app/piped/executor/analysis/mannwhitney/normaldist.go
  pkg/app/piped/executor/analysis/mannwhitney/udist.go
  pkg/app/piped/executor/analysis/mannwhitney/udist_test.go
  pkg/app/piped/executor/analysis/mannwhitney/util_test.go
Labels: release-note-none, approved, lgtm, area/piped, size/XXL, todo/skip

#2504 Delay readiness check for server containers to avoid early server pod kill
  manifests/pipecd/templates/deployment.yaml
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#2505 Release v0.17.0
  docs/content/en/blog/releases/v0.17.0.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#2503 Add fields to configure notification sending in the deployment config
  pkg/config/deployment.go
Labels: release-note-none, approved, lgtm, size/S

#2510 Enable ADA stage to compare two samples using Mann-Whitney U test
  pkg/app/piped/executor/analysis/BUILD.bazel
  pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer_test.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#2511 Add ability to notify WAITING_APPROVAL event to Slack
  pkg/app/piped/notifier/slack.go
  pkg/model/notificationevent.proto
Labels: release-note-none, approved, lgtm, size/S, area/piped

#2513 Set default value of config file in application adding form
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: release-note-none, approved, size/XS, area/web

#2515 Add `DEPLOYMENT_WAIT_APPROVAL` to the list of supporting event
  docs/content/en/docs/operator-manual/piped/configuring-notifications.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#2512 Send WAITING_APPROVAL event to Slack
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/executor.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
Labels: size/M, approved, area/piped

#2516 Simplify the form showed after adding new application
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/components/applications-page/application-added-view/index.tsx
  pkg/app/web/src/components/applications-page/deployment-config-form/index.stories.tsx
  pkg/app/web/src/components/applications-page/deployment-config-form/index.test.tsx
  pkg/app/web/src/components/applications-page/deployment-config-form/index.tsx
  pkg/app/web/src/components/applications-page/index.tsx
Labels: release-note-none, approved, lgtm, size/L, area/api, area/web

#2521 Add the TODO comment to support for email notification
  pkg/config/deployment.go
Labels: release-note-none, approved, size/XS

#2524 Correct `user name` to `user id` in the comment
  pkg/config/deployment.go
Labels: release-note-none, approved, size/XS

#2525 Remove add deployment configuration file from template docs
  docs/content/en/docs/user-guide/adding-an-application.md
  docs/static/images/adding-deployment-configuration-file.png
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2518 Add fields to configure notification using Slack in the examples of wait-approval
  docs/content/en/docs/examples/_index.md
  examples/cloudrun/wait-approval/.pipe.yaml
  examples/ecs/wait-approval/.pipe.yaml
  examples/kubernetes/wait-approval/.pipe.yaml
  examples/lambda/wait-approval/.pipe.yaml
  examples/terraform/wait-approval/.pipe.yaml
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#2522 Add fields of notification in the Configuration reference
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#2526 Update the comment to match the content in the document
  pkg/config/deployment.go
Labels: release-note-none, approved, size/XS

#2528 Fix wrong indent in examples
  examples/kubernetes/wait-approval/.pipe.yaml
Labels: release-note-none, approved

#2529 Release v0.18.0
  docs/content/en/blog/releases/v0.18.0.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#2530 Fix ADA examples to not use threshold
  examples/kubernetes/analysis-by-http/.pipe.yaml
  examples/kubernetes/analysis-by-log/.pipe.yaml
Labels: release-note-none, approved, lgtm, size/XS

#2531 Use metrics analyzer to perform ADA for each strategy
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: release-note-none, size/M, approved, area/piped

#2532 Remove unneeded ADA evaluator
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/executor/analysis/metrics_analyzer_test.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#2533 Add the note about hugo installation
  docs/content/en/docs/contribution-guidelines/development.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2534 Always add project as pipecd URL query params
  pkg/app/web/src/hooks/use-query-string.ts
  pkg/app/web/src/routes.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#2535 Add RPC to retrieve desired Piped version
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/model/piped.proto
Labels: release-note-none, size/M, approved, lgtm, area/api, area/web

#2536 Retrieve Piped name from control-plane
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
Labels: release-note-none, approved, lgtm, size/S, area/api

#2543 Project as query params of login URL
  pkg/app/web/src/components/login-page/index.tsx
  pkg/app/web/src/hooks/use-query-string.ts
  pkg/app/web/src/routes.tsx
Labels: approved, lgtm, size/S, area/web

#2544 Ensure to validate ADA configurations on loading
  pkg/app/piped/executor/analysis/analysis.go
  pkg/config/analysis.go
  pkg/config/deployment.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#2546 Fix unable to back from login form
  pkg/app/web/src/components/login-page/login-form/index.tsx
Labels: release-note-none, approved, size/XS, area/web

#2541 Show piped name in Piped notification
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/notifier/notifier.go
  pkg/app/piped/notifier/slack.go
  pkg/config/piped.go
  pkg/model/notificationevent.proto
Labels: size/M, approved, lgtm, area/piped
