Repository pipe-cd/pipecd, pull requests merged in 2021-01, with the labels that each got.

#1343 Add navigation to #pipecd channel in docs
  docs/content/en/_index.html
  docs/content/en/docs/faq/_index.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1345 Redesign piped list page
  pkg/app/web/src/components/piped-filter.stories.tsx
  pkg/app/web/src/components/piped-filter.tsx
  pkg/app/web/src/pages/settings/piped.tsx
Labels: approved, area/web, size/L

#1344 Make GCR image provider available
  WORKSPACE
  go.mod
  go.sum
  pkg/app/piped/imageprovider/BUILD.bazel
  pkg/app/piped/imageprovider/gcr/BUILD.bazel
  pkg/app/piped/imageprovider/gcr/gcr.go
  pkg/app/piped/imageprovider/provider.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  repositories.bzl
Labels: approved, area/build, area/piped, lgtm, release-note-none, size/XL

#1356 Update docs to show details on GCR
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuring-image-watcher.md
  docs/content/en/docs/user-guide/image-watcher.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/M

#1361 Refactor filter components
  pkg/app/web/src/components/application-filter.stories.tsx
  pkg/app/web/src/components/application-filter.tsx
  pkg/app/web/src/components/deployment-filter.stories.tsx
  pkg/app/web/src/components/deployment-filter.tsx
  pkg/app/web/src/components/filter-view.stories.tsx
  pkg/app/web/src/components/filter-view.tsx
  pkg/app/web/src/components/kubernetes-state-view.test.tsx
  pkg/app/web/src/components/piped-filter.tsx
  pkg/app/web/src/components/resource-filter-popover.tsx
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/pages/applications/index.tsx
  pkg/app/web/src/pages/deployments/index.tsx
  pkg/app/web/src/pages/settings/piped.tsx
  pkg/app/web/src/styles/size.ts
Labels: approved, area/web, lgtm, release-note-none, size/L

#1340 Improve insight collector
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/collector_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
  pkg/insight/filestore.go
  pkg/insight/milestone.go
Labels: approved, area/ops, area/server, release-note-none, size/XXL

#1347 Lambda cloud provider
  examples/lambda/simple/.pipe.yaml
  examples/lambda/simple/function.yaml
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/function.go
  pkg/app/piped/cloudprovider/lambda/function_test.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/config/piped.go
  repositories.bzl
Labels: approved, area/build, area/piped, lgtm, release-note-none, size/XL

#1358 Add gRPC API to push metadata of container image
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/datastore/BUILD.bazel
  pkg/datastore/imagereference.go
  pkg/datastore/imagereference_test.go
  pkg/model/BUILD.bazel
  pkg/model/imagereference.proto
Labels: approved, area/api, release-note-none, size/L

#1368 Rename spec.sync to spec.quickSync
  examples/kubernetes/analysis-by-metrics/.pipe.yaml
Labels: approved, release-note-none, size/XS

#1365 Lambda deployment executor
  pkg/app/piped/executor/lambda/BUILD.bazel
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/config/deployment.go
  pkg/config/deployment_lambda.go
  pkg/model/stage.go
Labels: approved, area/piped, release-note-none, size/L

#1372 Add guide to the next after quick start
  docs/content/en/docs/quickstart/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1375 Add deleted_at field to mark when the application was deleted
  pkg/datastore/applicationstore.go
  pkg/model/application.proto
Labels: approved, release-note-none, size/XS

#1380 Add missing gazelle ignore
  BUILD.bazel
Labels: approved, release-note-none, size/XS

#1377 Update disabled application list item's appearance
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/components/deployment-detail.tsx
  pkg/app/web/src/components/split-button.stories.tsx
  pkg/app/web/src/components/split-button.test.tsx
  pkg/app/web/src/components/split-button.tsx
Labels: approved, area/web, size/M

#1376 Fix the bug that deployment timeout error was not handled
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1379 Lambda QuickSync strategy planner
  pkg/app/piped/executor/lambda/BUILD.bazel
  pkg/app/piped/planner/lambda/BUILD.bazel
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/lambda/pipeline.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1378 Show all applications by default on the application list
  pkg/app/web/src/modules/application-filter-options.test.ts
  pkg/app/web/src/modules/application-filter-options.ts
Labels: approved, area/web, size/S

#1382 Rename notification event model
  BUILD.bazel
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/notifier/matcher.go
  pkg/app/piped/notifier/matcher_test.go
  pkg/app/piped/notifier/notifier.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/webhook.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/piped/trigger/trigger.go
  pkg/model/BUILD.bazel
  pkg/model/notificationevent.go
  pkg/model/notificationevent.proto
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1384 Change disabled piped row styles on the piped list
  pkg/app/web/src/pages/settings/piped.tsx
Labels: approved, area/web, lgtm, size/S

#1383 Add deploying field to application model
  pkg/model/application.proto
Labels: approved, lgtm, release-note-none, size/XS

#1389 Create determinePersistentVolumeHealth
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1387 Prune repositories no longer needed
  Makefile
  WORKSPACE
  pkg/app/piped/imageprovider/BUILD.bazel
  pkg/app/piped/imageprovider/gcr/BUILD.bazel
  pkg/app/piped/imageprovider/gcr/gcr.go
  pkg/app/piped/imageprovider/provider.go
  repositories.bzl
Labels: approved, area/build, area/piped, lgtm, release-note-none, size/L

#1390 Create determineCronJobHealth
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1385 Update the pipectl and gRPC api to deal with event
  BUILD.bazel
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/main.go
  docs/content/en/docs/user-guide/command-line-tool.md
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/event/BUILD.bazel
  pkg/app/pipectl/cmd/event/event.go
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/pipectl/cmd/image/pushreference.go
  pkg/datastore/BUILD.bazel
  pkg/datastore/event.go
  pkg/datastore/event_test.go
  pkg/model/BUILD.bazel
  pkg/model/event.proto
Labels: approved, area/api, area/docs, area/pipectl, area/site, lgtm, release-note-none, size/L

#1391 Fix importing of react router module
  pkg/app/web/.scaffdog/page.md
  pkg/app/web/package.json
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/components/application-detail.test.tsx
  pkg/app/web/src/components/deployment-detail.test.tsx
  pkg/app/web/src/pages/applications/detail.tsx
  pkg/app/web/src/pages/deployments/detail.test.tsx
  pkg/app/web/src/pages/deployments/detail.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/S

#1394 Make deployment's timeout value configurable
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/controller/scheduler.go
  pkg/config/deployment.go
  pkg/config/deployment_kubernetes.go
  pkg/config/deployment_kubernetes_test.go
Labels: approved, area/docs, area/piped, area/site, lgtm, size/M

#1396 Add missing triggerPaths field in doc
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1388 Return filestore.ErrNotFound when object not found
  pkg/filestore/minio/minio.go
Labels: approved, release-note-none, size/S

#1386 Add timeout for wait approval
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/config/deployment.go
  pkg/config/deployment_terraform_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1395 Add gRPC api to update application deploying status
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/pipedclientfake/fakeclient.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/controller/controller.go
Labels: approved, area/api, area/piped, lgtm, release-note-none, size/M

#1401 Add missing mandatory parameters for functions created with deployment packages
  pkg/app/piped/cloudprovider/lambda/function.go
  pkg/app/piped/cloudprovider/lambda/function_test.go
Labels: approved, area/piped, release-note-none, size/S

#1402 Enable CodeQL to discover vulnerabilities
  .github/workflows/codeql-analysis.yml
Labels: approved, lgtm, release-note-none, size/M

#1399 Add configurations for Event watcher
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/event_watcher.go
  pkg/config/event_watcher_test.go
  pkg/config/image_watcher_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/.pipe/event-watcher.yaml
  pkg/config/testdata/piped/piped-config.yaml
Labels: approved, lgtm, release-note-none, size/L

#1398 Create Role, RoleBinding, ClusterRole, ClusterRoleBinding health check
  pkg/app/piped/cloudprovider/kubernetes/resourcekey.go
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1403 Refactor application list components
  pkg/app/web/src/components/application-list-item.test.tsx
  pkg/app/web/src/components/application-list-item.tsx
  pkg/app/web/src/components/application-list.test.tsx
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/application.ts
  pkg/app/web/src/mocks/services/piped.ts
Labels: approved, area/web, lgtm, release-note-none, size/XL

#1407 Add runtime and handler to FunctionCreateInput
  examples/lambda/simple/function.yaml
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, release-note-none, size/XS

#1408 Only trigger CodeQL analysis on the schedule event
  .github/workflows/codeql-analysis.yml
Labels: approved, lgtm, release-note-none, size/S

#1414 Report StateStatus in all cases except piped process is terminated
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/stopsignal.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1417 Fix the bug that default deployment timeout was not configured for all app kinds except Kubernetes
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/deployment_cloudrun.go
  pkg/config/deployment_cloudrun_test.go
  pkg/config/deployment_lambda.go
  pkg/config/deployment_lambda_test.go
  pkg/config/deployment_terraform.go
  pkg/config/deployment_terraform_test.go
  pkg/config/testdata/application/cloudrun-app.yaml
  pkg/config/testdata/application/lambda-app.yaml
Labels: approved, lgtm, release-note-none, size/L

#1419 Update pipectl command to allow specifying labels of event
  pkg/app/api/grpcapi/api.go
  pkg/app/api/service/apiservice/service.proto
  pkg/app/pipectl/cmd/event/register.go
Labels: approved, area/api, release-note-none, size/S

#1410 Add Piped API to give back the latest Event
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/pipedclientfake/fakeclient.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/datastore/BUILD.bazel
  pkg/datastore/eventstore.go
  pkg/datastore/eventstore_test.go
Labels: approved, area/api, lgtm, release-note-none, size/L

#1420 Use deploying field for application sync status displaying
  pkg/app/web/src/components/application-detail.test.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/application-list-item.tsx
  pkg/app/web/src/components/sync-status-icon.stories.tsx
  pkg/app/web/src/components/sync-status-icon.tsx
Labels: approved, area/web, lgtm, release-note-none, size/M

#1423 Fix the bug that deploying status was unable to be updated
  pkg/app/api/grpcapi/piped_api.go
Labels: approved, area/api, release-note-none, size/XS

#1425 Using aws.String to cast CreateFunctionInput data fields
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, release-note-none, size/S

#1422 Update controller to detect and mark deploying status for applications
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1424 Fix application sync status displaying
  pkg/app/web/src/components/app-sync-status.stories.tsx
  pkg/app/web/src/components/app-sync-status.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/application-list-item.tsx
  pkg/app/web/src/components/sync-status-icon.stories.tsx
  pkg/app/web/src/components/sync-status-icon.tsx
  pkg/app/web/src/constants/ui-text.ts
Labels: approved, area/web, release-note-none, size/L

#1427 Add PackageType as a mandatory field for creating lambda using container image
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, lgtm, size/XS

#1426 Remove deploying detection logic from drift detector
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1430 Update log message for prepare deployment configuration step
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, release-note-none, size/XS

#1428 Refactor application live state displaying
  pkg/app/web/src/components/app-live-state.stories.tsx
  pkg/app/web/src/components/app-live-state.tsx
  pkg/app/web/src/components/application-detail.stories.tsx
  pkg/app/web/src/components/application-detail.test.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/modules/applications-live-state.test.ts
  pkg/app/web/src/modules/applications-live-state.ts
Labels: approved, area/web, size/L

#1431 Remove TODO comment about merging events
  pkg/config/event_watcher.go
Labels: approved, release-note-none, size/XS

#1435 Fix to use config's timeout on Prometheus
  pkg/app/piped/analysisprovider/metrics/factory.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/executor/analysis/analysis.go
Labels: approved, area/piped, release-note-none, size/S

#1429 Add apistore for caching the latest events
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/piped/apistore/eventstore/BUILD.bazel
  pkg/app/piped/apistore/eventstore/store.go
  pkg/app/piped/apistore/eventstore/store_test.go
Labels: approved, area/api, area/piped, lgtm, release-note-none, size/L

#1411 Implement Event watcher
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1439 Move role config to Function manifest instead of Piped manifest
  examples/lambda/analysis/function.yaml
  examples/lambda/canary/function.yaml
  examples/lambda/simple/function.yaml
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/function.go
  pkg/app/piped/cloudprovider/lambda/function_test.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/config/piped.go
Labels: approved, area/piped, release-note-none, size/S

#1434 Add ops the ability to clean orphan commands
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/orphancommandcleaner/BUILD.bazel
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
Labels: approved, area/ops, area/server, release-note-none, size/L

#1441 Enable event watcher
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1440 Add Event key to identify events
  go.mod
  go.sum
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/apistore/eventstore/BUILD.bazel
  pkg/app/piped/apistore/eventstore/store.go
  pkg/app/piped/apistore/eventstore/store_test.go
  pkg/datastore/eventstore_test.go
  pkg/model/BUILD.bazel
  pkg/model/event.go
  pkg/model/event.proto
  pkg/model/event_test.go
  repositories.bzl
Labels: approved, area/api, area/build, area/piped, lgtm, release-note-none, size/XL

#1442 Add docs for Event watcher
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs/operator-manual/piped/configuring-image-watcher.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/event-watcher.md
  examples/.pipe/event-watcher.yaml
Labels: approved, area/docs, area/site, release-note-none, size/L

#1445 Update overview docs
  docs/content/en/_index.html
  docs/content/en/docs/overview/_index.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1443 Reimplement Lambda deployment QUICK_SYNC strategy
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1446 Refactor piped list components
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1451 Using retry instead of waiting for a specific duration of time
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/executor/lambda/BUILD.bazel
  pkg/app/piped/executor/lambda/lambda.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1453 Use code splitting for web frontend
  pkg/app/web/package.json
  pkg/app/web/src/pages/index.tsx
  pkg/app/web/tsconfig.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, release-note-none, size/M

#1454 Add notice to tell being Alpha status
  docs/content/en/docs/user-guide/application-live-state.md
  docs/content/en/docs/user-guide/automated-deployment-analysis.md
  docs/content/en/docs/user-guide/event-watcher.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1455 Fix to directly use WAIT_APPROVAL timeout
  docs/content/en/docs/user-guide/adding-a-manual-approval.md
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/config/deployment.go
Labels: approved, area/docs, area/piped, area/site, lgtm, release-note-none, size/S

#1457 Add web tests
  pkg/app/web/src/modules/delete-application.test.ts
  pkg/app/web/src/modules/pipeds.test.ts
Labels: approved, area/web, release-note-none, size/M

#1456 Update Event watcher docs
  docs/content/en/docs/user-guide/event-watcher.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1452 Lambda Pipeline sync deployment strategy
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/app/piped/executor/lambda/BUILD.bazel
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/lambda_test.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/config/deployment.go
  pkg/model/stage.go
Labels: approved, area/piped, lgtm, size/XL

#1459 Remove Image watcher
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuring-image-watcher.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/image-watcher.md
  examples/.pipe/image-watcher.yaml
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/imageprovider/BUILD.bazel
  pkg/app/piped/imageprovider/ecr/BUILD.bazel
  pkg/app/piped/imageprovider/ecr/ecr.go
  pkg/app/piped/imageprovider/ecr/ecr_test.go
  pkg/app/piped/imageprovider/gcr/BUILD.bazel
  pkg/app/piped/imageprovider/gcr/gcr.go
  pkg/app/piped/imageprovider/provider.go
  pkg/app/piped/imagewatcher/BUILD.bazel
  pkg/app/piped/imagewatcher/watcher.go
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/image_watcher.go
  pkg/config/image_watcher_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/.pipe/image-watcher.yaml
  pkg/config/testdata/application/k8s-app-use-image-watcher.yaml
  pkg/config/testdata/piped/piped-config.yaml
  pkg/model/BUILD.bazel
  pkg/model/image_name.go
  pkg/model/image_name_test.go
  pkg/model/imageprovider.go
Labels: approved, area/docs, area/piped, area/site, release-note-none, size/XXL

#1464 Using aws.StringValue and destructuring map with key value pair
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, release-note-none, size/S

#1465 Make numerical values replaceable
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: approved, area/piped, release-note-none, size/S

#1462 Lambda rollback stage implementation
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/executor/lambda/BUILD.bazel
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/lambda_test.go
  pkg/app/piped/executor/lambda/rollback.go
Labels: approved, area/piped, lgtm, size/L

#1463 Update docs for Lambda deployment
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/piped/adding-a-cloud-provider.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuring-deployment/lambda.md
  docs/content/en/docs/user-guide/configuring-deployment/lamda.md
Labels: approved, area/docs, area/piped, area/site, lgtm, release-note-none, size/L

#1469 Add description about event watcher
  README.md
Labels: approved, release-note-none, size/XS

#1467 Allow several types to be used by Event watcher
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: approved, area/piped, release-note-none, size/L

#1468 Update screenshots in docs to fix wrong baseURL and uploadURL
  docs/static/images/settings-project.png
  docs/static/images/settings-update-sso.png
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1466 Refactor insight's chart component
  pkg/app/web/package.json
  pkg/app/web/src/components/deployment-frequency-chart.stories.tsx
  pkg/app/web/src/components/deployment-frequency-chart.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, release-note-none, size/L

#1473 Update feature status
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1474 Update feature status
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1475 Add logs to show the status of orphan-command-cleaner
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
Labels: approved, area/ops, release-note-none, size/S

#1476 Release v0.9.5
  docs/content/en/blog/releases/v0.9.5.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#1472 Add a util function for web testing
  pkg/app/web/src/mocks/create-handler.ts
  pkg/app/web/src/mocks/services/command.ts
  pkg/app/web/src/mocks/services/deployment.ts
  pkg/app/web/src/mocks/services/me.ts
  pkg/app/web/src/mocks/services/piped.ts
  pkg/app/web/src/mocks/services/project.ts
Labels: approved, area/web, release-note-none, size/L

#1479 Update pipectl installation instructions
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: approved, release-note-none, size/XS

#1480 Fix typo
  dockers/chart-releaser/main.go
Labels: approved, lgtm, release-note-none, size/XS, trigger/needs-ok-to-test

#1481 Update chart-releaser to fix cache-control when storing index file
  dockers/chart-releaser/DOCKER_BUILD
  dockers/chart-releaser/main.go
Labels: approved, lgtm, release-note-none, size/S

#1482 Remove useCredentialsFile flag field from GCS new client implementation
  pkg/filestore/gcs/gcs.go
Labels: approved, lgtm, release-note-none, size/S

#1483 Refactor the way of using model in web
  pkg/app/web/src/__fixtures__/dummy-api-key.ts
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/components/app-sync-status.tsx
  pkg/app/web/src/components/application-detail.test.tsx
  pkg/app/web/src/components/application-detail.tsx
  pkg/app/web/src/components/application-filter.tsx
  pkg/app/web/src/components/application-form.tsx
  pkg/app/web/src/components/application-list-item.tsx
  pkg/app/web/src/components/application-list.tsx
  pkg/app/web/src/components/application-state-view.tsx
  pkg/app/web/src/components/delete-application-dialog.tsx
  pkg/app/web/src/components/deployment-detail.tsx
  pkg/app/web/src/components/deployment-filter.tsx
  pkg/app/web/src/components/deployment-item.tsx
  pkg/app/web/src/components/disable-api-key-confirm-dialog.tsx
  pkg/app/web/src/components/disable-application-dialog.tsx
  pkg/app/web/src/components/edit-application-drawer.tsx
  pkg/app/web/src/components/edit-piped-drawer.tsx
  pkg/app/web/src/components/environment-list-item.tsx
  pkg/app/web/src/components/generate-api-key-dialog.tsx
  pkg/app/web/src/components/health-status-icon.tsx
  pkg/app/web/src/components/insight-header.tsx
  pkg/app/web/src/components/kubernetes-resource.tsx
  pkg/app/web/src/components/kubernetes-state-view.tsx
  pkg/app/web/src/components/log.tsx
  pkg/app/web/src/components/piped-form.tsx
  pkg/app/web/src/components/pipeline.stories.tsx
  pkg/app/web/src/components/pipeline.tsx
  pkg/app/web/src/components/sealed-secret-dialog.tsx
  pkg/app/web/src/constants/api-key-role-text.ts
  pkg/app/web/src/constants/health-status-text.ts
  pkg/app/web/src/mocks/services/command.ts
  pkg/app/web/src/modules/api-keys.test.ts
  pkg/app/web/src/modules/api-keys.ts
  pkg/app/web/src/modules/applications-live-state.ts
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/commands.ts
  pkg/app/web/src/modules/deployment-frequency.ts
  pkg/app/web/src/modules/deployments.test.ts
  pkg/app/web/src/modules/deployments.ts
  pkg/app/web/src/modules/environments.ts
  pkg/app/web/src/modules/insight.ts
  pkg/app/web/src/modules/pipeds.test.ts
  pkg/app/web/src/modules/pipeds.ts
  pkg/app/web/src/modules/stage-logs.ts
  pkg/app/web/src/pages/deployments/detail.tsx
  pkg/app/web/src/pages/deployments/index.tsx
  pkg/app/web/src/pages/insight/index.tsx
  pkg/app/web/src/pages/settings/api-key.tsx
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1484 Fix skeleton being displayed during update app live state
  pkg/app/web/src/components/app-live-state.stories.tsx
  pkg/app/web/src/components/app-live-state.tsx
Labels: approved, area/web, lgtm, size/S

#1486 Use alpine as a pipectl base image
  WORKSPACE
  cmd/pipectl/BUILD.bazel
Labels: approved, area/pipectl, lgtm, release-note-none, size/XS

#1487 Reduce the number of retries on API call while starting
  pkg/app/piped/cmd/piped/piped.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1485 Support aws S3 as file storage
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/filestore/s3/BUILD.bazel
  pkg/filestore/s3/s3.go
Labels: approved, area/server, size/L

#1489 Add piped-base image
  dockers/pipectl-base/DOCKER_BUILD
  dockers/pipectl-base/Dockerfile
Labels: approved, lgtm, release-note-none, size/XS

#1490 Use pipectl-base as a base image of pipectl
  WORKSPACE
  cmd/pipectl/BUILD.bazel
Labels: approved, area/pipectl, release-note-none, size/S

#1488 Add tooltip to show full id at the piped list row
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, size/XS

#1493 Refactor error handling for rc.Close in GetObject function GCS storage
  pkg/filestore/gcs/gcs.go
  test/integration/filestore/gcs/gcs_test.go
Labels: approved, release-note-none, size/S

#1495 Fix error text when loading manifest
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
Labels: approved, area/piped, release-note-none, size/XS

#1496 Fix schema mistake in the document of SealedSecret
  docs/content/en/docs/user-guide/sealed-secrets.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/XS

#1498 Add web tests
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/modules/deployment-configs.test.ts
  pkg/app/web/src/modules/environments.test.ts
  pkg/app/web/test-utils.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1500 Fix export types
  pkg/app/web/src/components/application-form/index.ts
  pkg/app/web/src/components/github-sso-form/index.ts
  pkg/app/web/src/components/piped-filter/index.ts
  pkg/app/web/src/components/piped-form/index.ts
Labels: approved, area/web, release-note-none, size/S

#1501 Remove useCredentialsFile field from FireStore struct
  pkg/datastore/firestore/firestore.go
Labels: approved, release-note-none, size/XS

#1502 Add pipectl to PATH for pipetcl-base image
  dockers/pipectl-base/DOCKER_BUILD
  dockers/pipectl-base/Dockerfile
Labels: approved, lgtm, release-note-none, size/XS

#1503 Use pipectl-base 0.2.0 to build pipectl image
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1499 Add copy button for piped id
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, size/M

#1504 Fix the diffs on Istio's VirtualService always appear after deploying
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/testdata/generated-virtual-service-for-editable-routes.yaml
  pkg/app/piped/executor/kubernetes/testdata/generated-virtual-service.yaml
  pkg/app/piped/executor/kubernetes/testdata/virtual-service.yaml
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/executor/kubernetes/traffic_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1505 Redesign sealed secret dialog
  pkg/app/web/src/components/sealed-secret-dialog/sealed-secret-dialog.tsx
Labels: approved, area/web, lgtm, size/M

#1506 Add mono font to the theme
  pkg/app/web/src/components/approval-stage/approval-stage.tsx
  pkg/app/web/src/components/deployment-config-form/deployment-config-form.tsx
  pkg/app/web/src/components/diff-view/diff-view.tsx
  pkg/app/web/src/components/log-viewer/log-viewer.tsx
  pkg/app/web/src/components/log/log.tsx
  pkg/app/web/src/components/pipeline-stage/pipeline-stage.tsx
  pkg/app/web/src/components/sync-state-reason/sync-state-reason.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
  pkg/app/web/src/theme.ts
Labels: approved, area/web, release-note-none, size/M

#1507 Fix copyright years in the footer of documentation site
  docs/config.toml
  docs/layouts/partials/footer.html
Labels: approved, area/docs, area/site, release-note-none, size/M

#1508 Emit warning when Event not found
  pkg/app/piped/apistore/eventstore/BUILD.bazel
  pkg/app/piped/apistore/eventstore/store.go
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1510 Update the status of Kubernetes' Live State to beta
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1513 Refactor generated api key dialog
  pkg/app/web/src/components/generated-api-key-dialog/generated-api-key-dialog.tsx
  pkg/app/web/src/components/sealed-secret-dialog/sealed-secret-dialog.tsx
  pkg/app/web/src/components/text-with-copy-button/index.ts
  pkg/app/web/src/components/text-with-copy-button/text-with-copy-button.stories.tsx
  pkg/app/web/src/components/text-with-copy-button/text-with-copy-button.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1514 Remove setTimeout from closing menu and dialog
  pkg/app/web/src/components/application-list/application-list.tsx
  pkg/app/web/src/components/sealed-secret-dialog/sealed-secret-dialog.tsx
Labels: approved, area/web, lgtm, release-note-none, size/S

#1512 Update scaffdog version to v1
  pkg/app/web/.scaffdog/component.md
  pkg/app/web/.scaffdog/config.js
  pkg/app/web/.scaffdog/module.md
  pkg/app/web/.scaffdog/page.md
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, release-note-none, size/XXL

#1518 Fix typo
  pkg/model/environment.proto
Labels: approved, release-note-none, size/XS, trigger/needs-ok-to-test

#1444 Update protobuf definitions for insights rpc
  pkg/app/api/service/webservice/service.proto
  pkg/model/insight.proto
Labels: approved, area/api, area/web, release-note-none, size/S
