Repository pipe-cd/pipecd, pull requests merged in 2021-03, with the labels that each got.

#1628 Use echarts for building chart component instead of recharts
  pkg/app/web/package.json
  pkg/app/web/src/components/deployment-frequency-chart/index.stories.tsx
  pkg/app/web/src/components/deployment-frequency-chart/index.tsx
  pkg/app/web/src/pages/insight/index.tsx
  pkg/app/web/yarn.lock
Labels: approved, area/web, release-note-none, size/L

#1606 Add feature-flags on config and create collector mode on insight collector
  cmd/pipecd/ops.go
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/app/ops/insightcollector/metrics.go
  pkg/app/ops/insightcollector/metrics_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
Labels: approved, area/ops, area/server, release-note-none, size/XXL

#1629 Add mock for insight API
  pkg/app/web/src/__fixtures__/dummy-insight.ts
  pkg/app/web/src/__fixtures__/utils.ts
  pkg/app/web/src/api/insight.ts
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/insight.ts
Labels: approved, area/web, lgtm, release-note-none, size/M

#1631 Remove unnecessary code from insight collector
  pkg/app/ops/insightcollector/metrics.go
  pkg/config/control_plane.go
  pkg/config/testdata/control-plane/control-plane-config.yaml
Labels: approved, area/ops, lgtm, release-note-none, size/S

#1632 Update rules_go to v0.24.13, gazelle to v0.22.3
  WORKSPACE
Labels: approved, release-note-none, size/S

#1612 [RFC] SQL database as Control-Plane datastore
  docs/rfcs/0003-sql-datastore.md
Labels: approved, area/docs, area/site, lgtm, release-note-none, size/L

#1633 Update to use go 1.16
  Makefile
  WORKSPACE
  pkg/rpc/testdata/tls.config
  pkg/rpc/testdata/tls.crt
  pkg/rpc/testdata/tls.key
Labels: approved, lgtm, release-note-none, size/L

#1635 Update bazel to 3.7.2
  .bazelversion
  Makefile
  go.mod
  go.sum
  repositories.bzl
Labels: approved, area/build, lgtm, release-note-none, size/L

#1626 Disallow changing git path from updating application api
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/modules/update-application.ts
  pkg/model/application.proto
Labels: approved, area/api, area/web, lgtm, release-note-none, size/M

#1630 Make it possible to pass projectName from url to login form
  pkg/app/web/src/components/login-form/index.stories.tsx
  pkg/app/web/src/components/login-form/index.tsx
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/modules/login.test.ts
  pkg/app/web/src/modules/login.ts
  pkg/app/web/src/pages/index.tsx
  pkg/app/web/src/pages/login.tsx
Labels: approved, area/web, lgtm, size/L

#1640 Fix web build params
  pkg/app/web/BUILD.bazel
  pkg/app/web/webpack.common.js
Labels: approved, area/web, release-note-none, size/XS

#1642 Update feature status note: Support MySQL v8
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1643 Fix wrong indent and a typo in Makefile
  Makefile
Labels: approved, release-note-none, size/XS

#1644 Fix typo
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/traffic.go
Labels: approved, area/piped, release-note-none, size/S

#1645 Update contributor list in readme
  README.md
Labels: approved, release-note-none, size/XS

#1648 Show filters by default
  pkg/app/web/src/pages/applications/index.tsx
  pkg/app/web/src/pages/deployments/index.tsx
Labels: approved, area/web, size/XS

#1650 Fix display of blank page when user is not logged in
  pkg/app/web/src/pages/index.test.tsx
  pkg/app/web/src/pages/index.tsx
Labels: approved, area/web, lgtm, size/M

#1651 Update ListApplications rpc to be able to filter by name
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.proto
  pkg/app/web/src/modules/application-filter-options.test.ts
  pkg/app/web/src/modules/application-filter-options.ts
Labels: approved, lgtm, release-note-none, size/S

#1652 Ensure that name field of application model should be indexed
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/M

#1619 Treat context deadline exceeded error as a success
  pkg/app/piped/executor/analysis/analyzer.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1656 Add name filter to the application filter
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/application-filter/index.tsx
  pkg/app/web/src/components/kubernetes-state-view/index.tsx
  pkg/app/web/src/utils/unique-array.test.ts
  pkg/app/web/src/utils/unique-array.ts
Labels: approved, area/web, lgtm, size/M

#1653 Mysql datastore interface implementation
  pkg/datastore/mysql/BUILD.bazel
  pkg/datastore/mysql/model_wrapper.go
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, lgtm, release-note-none, size/L, todo/skip

#1657 Refactor redux selectors
  pkg/app/web/src/components/add-application-drawer/index.tsx
  pkg/app/web/src/components/add-piped-drawer/index.tsx
  pkg/app/web/src/components/application-detail/index.tsx
  pkg/app/web/src/components/application-filter/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/application-list-item/index.tsx
  pkg/app/web/src/components/deployment-detail/index.tsx
  pkg/app/web/src/components/deployment-filter/index.tsx
  pkg/app/web/src/components/deployment-item/index.tsx
  pkg/app/web/src/components/edit-piped-drawer/index.tsx
  pkg/app/web/src/components/environment-list-item/index.tsx
  pkg/app/web/src/components/piped-form/index.tsx
  pkg/app/web/src/modules/deployments.ts
  pkg/app/web/src/modules/environments.ts
  pkg/app/web/src/modules/me.test.ts
  pkg/app/web/src/modules/me.ts
  pkg/app/web/src/modules/pipeds.ts
  pkg/app/web/src/pages/settings/environment.tsx
  pkg/app/web/src/pages/settings/piped/index.tsx
  pkg/app/web/src/pages/settings/piped/piped-table-row.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1658 Add make row id from model id
  pkg/datastore/mysql/BUILD.bazel
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/mysql_test.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, lgtm, release-note-none, size/M

#1661 Propagate stop signal properly
  pkg/app/piped/executor/analysis/analysis.go
Labels: approved, area/piped, lgtm, size/S

#1667 Missing make gazelle run
  pkg/datastore/mysql/BUILD.bazel
Labels: approved, release-note-none, size/XS

#1668 Update gazelle to v0.23.0
  WORKSPACE
Labels: approved, release-note-none, size/XS

#1664 Use search params to filter deployments list
  pkg/app/web/src/components/deployment-filter/index.stories.tsx
  pkg/app/web/src/components/deployment-filter/index.tsx
  pkg/app/web/src/modules/deployment-filter-options.test.ts
  pkg/app/web/src/modules/deployment-filter-options.ts
  pkg/app/web/src/modules/deployments.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/pages/deployments/index.tsx
Labels: approved, area/web, lgtm, size/L

#1672 Release v0.9.7
  docs/content/en/blog/releases/v0.9.7.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none, size/M

#1671 Migrate to AWS sdk v2: S3 client
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/filestore/s3/BUILD.bazel
  pkg/filestore/s3/s3.go
  repositories.bzl
Labels: approved, area/build, area/server, release-note-none, size/L

#1675 Migrate to AWS sdk v2: Lambda deployment
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/function.go
  pkg/app/piped/cloudprovider/lambda/routing_traffic.go
  repositories.bzl
Labels: approved, area/build, area/piped, release-note-none, size/L

#1676 Migrate AWS sdk to v2: Remove dynamodb from datastore package
  go.mod
  pkg/datastore/dynamodb/BUILD.bazel
  pkg/datastore/dynamodb/dynamodb.go
  pkg/datastore/dynamodb/expression.go
  pkg/datastore/dynamodb/iterator.go
Labels: approved, release-note-none, size/L

#1677 Make AWS sdk credentials profile configurable
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/filestore/s3/s3.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1673 Use search params as application filtering
  pkg/app/web/package.json
  pkg/app/web/src/components/application-filter/index.stories.tsx
  pkg/app/web/src/components/application-filter/index.tsx
  pkg/app/web/src/modules/application-filter-options.test.ts
  pkg/app/web/src/modules/application-filter-options.ts
  pkg/app/web/src/modules/applications.test.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/pages/applications/index.tsx
  pkg/app/web/src/pages/deployments/index.tsx
  pkg/app/web/src/utils/search-params.ts
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, size/L

#1666 Add analysis provider for Datadog
  go.mod
  go.sum
  pkg/app/piped/analysisprovider/metrics/datadog/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/factory.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/analysisprovider/provider.go
  pkg/app/piped/executor/analysis/analyzer.go
  pkg/config/analysis.go
  pkg/config/piped.go
  repositories.bzl
Labels: approved, area/build, area/piped, lgtm, release-note-none, size/L

#1678 Mysql datastore interface implementation: Find query
  pkg/datastore/mysql/BUILD.bazel
  pkg/datastore/mysql/iterator.go
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, lgtm, release-note-none, size/L

#1684 Redirect to applications page when logged in user visit login page
  pkg/app/web/src/pages/index.tsx
Labels: approved, area/web, lgtm, size/XS

#1647 Add a cloud provider for ECS
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/ecs/service.go
  pkg/app/piped/cloudprovider/ecs/task.go
  pkg/model/cloudprovider.go
  repositories.bzl
Labels: approved, area/build, area/piped, release-note-none, size/L

#1688 Add serviceAccountAnnotations to piped chart
  manifests/piped/templates/rbac.yaml
  manifests/piped/values.yaml
Labels: approved, area/manifests, release-note-none, size/XS

#1689 Add a missing bazel file for cloudprovider/ecs
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
Labels: approved, area/piped, release-note-none, size/S

#1690 Fix wrong comments in lambda config
  pkg/config/deployment_lambda.go
Labels: approved, release-note-none, size/XS

#1691 Refactor insight collector
  cmd/pipecd/ops.go
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
Labels: approved, area/ops, area/server, lgtm, release-note-none, size/XL

#1693 Refactor settings table styling
  pkg/app/web/src/pages/settings/api-key.tsx
  pkg/app/web/src/pages/settings/environment.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1701 Rename MySQL error code const
  pkg/datastore/mysql/mysql.go
Labels: approved, release-note-none, size/XS

#1704 Add image to clearify the event watcher's behavior
  docs/content/en/docs/user-guide/event-watcher.md
  docs/static/images/diff-by-eventwatcher.png
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1694 Call range queries API to evaluate values over a range of time
  pkg/app/piped/analysisprovider/BUILD.bazel
  pkg/app/piped/analysisprovider/log/BUILD.bazel
  pkg/app/piped/analysisprovider/log/provider.go
  pkg/app/piped/analysisprovider/metrics/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/datadog/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/piped/analysisprovider/metrics/factory/factory.go
  pkg/app/piped/analysisprovider/metrics/prometheus/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/prometheus/fake_api.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/analysisprovider/provider.go
  pkg/app/piped/executor/analysis/analysis.go
Labels: approved, area/piped, release-note-none, size/L

#1702 Create Application Insight collector
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/applications_test.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/insight/BUILD.bazel
  pkg/insight/applicationcount.go
  pkg/insight/applicationcount_test.go
  pkg/insight/datapoint.go
  pkg/insight/insightstore/BUILD.bazel
  pkg/insight/insightstore/applicationcountstore_test.go
  pkg/insight/insightstore/insightstore.go
  pkg/insight/insightstore/insightstoretest/BUILD.bazel
  pkg/insight/insightstore/insightstoretest/mock.go
Labels: approved, area/ops, release-note-none, size/XXL

#1698 Add a planner for ECS deployment
  pkg/app/piped/cloudprovider/ecs/task.go
  pkg/app/piped/planner/ecs/BUILD.bazel
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/app/piped/planner/ecs/pipeline_test.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/model/stage.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1699 Add mysql schema and indexes ensurer to ops
  BUILD.bazel
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/mysqlensurer/BUILD.bazel
  pkg/app/ops/mysqlensurer/client.go
  pkg/app/ops/mysqlensurer/client_test.go
  pkg/app/ops/mysqlensurer/indexes.sql
  pkg/app/ops/mysqlensurer/schema.sql
  pkg/app/ops/mysqlensurer/sqlsensurer.go
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/mysql_test.go
Labels: approved, area/ops, area/server, lgtm, release-note-none, size/L

#1709 Add piped validation for analysis providers
  pkg/app/piped/analysisprovider/metrics/factory/factory.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/config/piped.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1711 Add a component to show application count
  pkg/app/web/src/components/application-count/index.stories.tsx
  pkg/app/web/src/components/application-count/index.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1714 Add test size small to ECS planner test
  pkg/app/piped/planner/ecs/BUILD.bazel
Labels: approved, area/piped, release-note-none, size/XS

#1712 Fix scaffdog component template
  pkg/app/web/.scaffdog/component.md
Labels: approved, area/web, lgtm, release-note-none, size/XS

#1703 Update ADA doc to show alpha release of Datadog provider
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/user-guide/automated-deployment-analysis.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/static/images/deployment-analysis-stage.png
  manifests/piped/templates/secret.yaml
  manifests/piped/values.yaml
Labels: approved, area/docs, area/manifests, area/site, lgtm, release-note-none, size/L

#1713 Refactor insight package
  pkg/app/ops/insightcollector/applications_test.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/insight/insightstore/applicationcountstore.go
  pkg/insight/insightstore/applicationcountstore_test.go
  pkg/insight/insightstore/chunkstore.go
  pkg/insight/insightstore/chunkstore_test.go
  pkg/insight/insightstore/insightstore.go
  pkg/insight/insightstore/insightstoretest/BUILD.bazel
  pkg/insight/insightstore/insightstoretest/mock.go
  pkg/insight/insightstore/milestonestore.go
  pkg/insight/insightstore/milestonestore_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/M

#1715 Fix to fail when unable to spawn analyzer
  pkg/app/piped/executor/analysis/analysis.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1717 Update docs for S3
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1719 Add docs for mysql
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/M

#1718 Add web RPC to get application count
  pkg/app/api/grpcapi/web_api.go
  pkg/app/api/service/webservice/service.pb.auth.go
  pkg/app/api/service/webservice/service.proto
  pkg/model/common.proto
  pkg/model/insight.proto
Labels: approved, area/api, release-note-none, size/M

#1721 Add application mocks
  pkg/app/web/BUILD.bazel
  pkg/app/web/custom-jsdom.js
  pkg/app/web/jest.config.js
  pkg/app/web/jest.config.local.js
  pkg/app/web/package.json
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/mocks/create-handler.ts
  pkg/app/web/src/mocks/services/application.ts
  pkg/app/web/src/mocks/services/live-state.ts
  pkg/app/web/yarn.lock
Labels: approved, area/web, lgtm, release-note-none, size/L

#1723 [AWS Lambda] Fix bug unable to add multi newly defined tags
  pkg/app/piped/cloudprovider/lambda/client.go
  pkg/app/piped/cloudprovider/lambda/client_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/S

#1722 Add validation for ANALYSIS options
  docs/content/en/docs/user-guide/automated-deployment-analysis.md
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/analysisprovider/metrics/factory/factory.go
  pkg/config/analysis.go
  pkg/config/deployment.go
Labels: approved, area/docs, area/piped, area/site, release-note-none, size/M

#1724 Fix a wrong error message in lambda/rollback
  pkg/app/piped/executor/lambda/rollback.go
Labels: approved, area/piped, release-note-none, size/XS

#1728 Rename tables columns for MySQL schema
  pkg/app/ops/mysqlensurer/schema.sql
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, area/ops, lgtm, release-note-none, size/L

#1729 Add application counts module
  pkg/app/web/src/api/insight.ts
  pkg/app/web/src/constants/application-active-status.ts
  pkg/app/web/src/modules/application-counts.test.ts
  pkg/app/web/src/modules/application-counts.ts
  pkg/app/web/src/modules/applications.ts
  pkg/app/web/src/modules/index.ts
Labels: approved, area/web, lgtm, release-note-none, size/L

#1733 Fix to allow Event.data less than 3 bytes
  pkg/model/event.proto
Labels: approved, release-note-none, size/XS

#1731 Add required index for MySQL datastore
  pkg/app/ops/mysqlensurer/client.go
  pkg/app/ops/mysqlensurer/indexes.sql
Labels: approved, area/ops, lgtm, release-note-none, size/M

#1726 Ensure to show the query results reason
  pkg/app/piped/analysisprovider/http/http.go
  pkg/app/piped/analysisprovider/log/provider.go
  pkg/app/piped/analysisprovider/log/stackdriver/stackdriver.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/analyzer.go
  pkg/config/analysis.go
  pkg/config/analysis_test.go
Labels: approved, area/piped, lgtm, release-note-none, size/L

#1730 Show application counts on the application list
  pkg/app/web/src/components/application-count/index.stories.tsx
  pkg/app/web/src/components/application-count/index.tsx
  pkg/app/web/src/components/application-counts/index.tsx
  pkg/app/web/src/components/application-list/index.tsx
  pkg/app/web/src/constants/application-kind.ts
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, size/L

#1737 Fix example query to be more realistic
  examples/kubernetes/analysis-by-metrics/.pipe.yaml
Labels: approved, release-note-none, size/S

#1738 Hide application counts on the application detail page
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, release-note-none, size/S

#1746 [MySQL schema] Rename SyncState to SyncState_Status
  pkg/app/ops/mysqlensurer/indexes.sql
Labels: approved, area/ops, release-note-none, size/XS

#1744 Refine MySQL `find` query builder
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, release-note-none, size/L

#1659 Fix wrong error message and docs of the func
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/yamlprocessor/yamlprocessor.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: approved, area/piped, release-note-none, size/S

#1750 Remove web target from coverage job on CI
  .kapetanios/presubmit.yaml
  Makefile
Labels: approved, area/kapetanios, lgtm, release-note-none, size/XS

#1751 Fix bug unable to create traffic alias in the first lambda app deployment
  pkg/app/piped/cloudprovider/lambda/client.go
Labels: approved, area/piped, size/XS

#1753 Fix a bug that Sealed secret is not cleared when the dialog is closed
  pkg/app/web/src/components/sealed-secret-dialog/index.test.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.tsx
  pkg/app/web/src/mocks/services/piped.ts
Labels: approved, area/web, lgtm, size/L

#1754 Remove unnecessary NOT NULL check for omitempty fields
  pkg/app/ops/mysqlensurer/schema.sql
Labels: approved, area/ops, release-note-none, size/XS

#1755 Add required indexes for MySQL datastore
  pkg/app/ops/mysqlensurer/indexes.sql
Labels: approved, area/ops, release-note-none, size/S

#1758 Update PromQL example to be realistic
  examples/.pipe/analysis-template.yaml
  examples/kubernetes/analysis-by-metrics/.pipe.yaml
Labels: approved, lgtm, release-note-none, size/XS

#1756 Add tests for application counts
  pkg/app/web/src/__fixtures__/dummy-application-counts.ts
  pkg/app/web/src/mocks/services/insight.ts
  pkg/app/web/src/modules/application-counts.test.ts
  pkg/app/web/src/modules/application-counts.ts
Labels: approved, area/web, release-note-none, size/L

#1757 Refine ListFilter value for MySQL datastore
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, lgtm, release-note-none, size/M

#1749 Make sure step is smaller than query range
  pkg/app/piped/analysisprovider/log/provider.go
  pkg/app/piped/analysisprovider/log/stackdriver/stackdriver.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/analyzer.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1760 Update PromQL example in the doc to be more realistic
  docs/content/en/docs/user-guide/automated-deployment-analysis.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1761 Add flag to show application counts
  pkg/app/web/src/pages/applications/index.tsx
Labels: approved, area/web, release-note-none, size/M

#1762 Update GetInsightApplicationCount rpc to return mock data of CloudRun
  pkg/app/api/grpcapi/web_api.go
Labels: approved, area/api, release-note-none, size/XS

#1725 Add a executor for ECS deployment
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/ecs/service.go
  pkg/app/piped/executor/ecs/BUILD.bazel
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/registry/BUILD.bazel
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/registry/BUILD.bazel
  pkg/app/piped/planner/registry/registry.go
  pkg/config/config.go
  pkg/config/piped.go
Labels: approved, area/ops, area/piped, size/L, todo/skip

#1764 Add more info to MySQL client find query logs
  pkg/datastore/mysql/mysql.go
Labels: approved, release-note-none, size/XS

#1763 Add application count component test
  pkg/app/web/src/components/application-counts/index.test.tsx
Labels: approved, area/web, release-note-none, size/M

#1766 Refine Find query builder for IN operator queries
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: approved, release-note-none, size/M

#1742 Prepare MySQL datastore for quickstart
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
  quickstart/control-plane-values.yaml
Labels: approved, area/manifests, area/ops, area/piped, size/M

#1767 Update feature status
  docs/content/en/docs/feature-status/_index.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1769 Apply basic auth to Prometheus query
  pkg/app/piped/analysisprovider/metrics/factory/factory.go
  pkg/app/piped/analysisprovider/metrics/prometheus/BUILD.bazel
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
Labels: approved, area/piped, release-note-none, size/M

#1770 Update size of UUID type virtual columns
  pkg/app/ops/mysqlensurer/indexes.sql
Labels: approved, area/ops, release-note-none, size/S

#1772 Add ProjectId to Command model
  pkg/app/api/grpcapi/api.go
  pkg/app/api/grpcapi/web_api.go
  pkg/app/web/src/__fixtures__/dummy-command.ts
  pkg/model/command.proto
Labels: approved, area/api, area/web, lgtm, release-note-none, size/S

#1773 Log refinement
  pkg/app/api/commandstore/store.go
Labels: approved, area/api, release-note-none, size/XS

#1774 Update schema validation
  pkg/app/ops/mysqlensurer/indexes.sql
  pkg/app/ops/mysqlensurer/schema.sql
Labels: approved, area/ops, release-note-none, size/M

#1776 Fix not to use insecure flag in installation guide
  docs/content/en/docs/operator-manual/piped/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/XS

#1777 Update docs for ControlPlane
  docs/content/en/docs/operator-manual/control-plane/architecture-overview.md
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
  docs/content/en/docs/operator-manual/control-plane/installation.md
Labels: approved, area/docs, area/site, release-note-none, size/M

#1778 Add filter view tests
  pkg/app/web/src/components/application-filter/index.test.tsx
  pkg/app/web/src/components/deployment-filter/index.test.tsx
  pkg/app/web/src/components/filter-view/index.tsx
  pkg/app/web/src/constants/ui-text.ts
Labels: approved, area/web, lgtm, release-note-none, size/L

#1779 Update contributor list
  README.md
Labels: approved, lgtm, release-note-none, size/S

#1780 Remove MongoDB from supported datastore list
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/config/control_plane.go
  pkg/datastore/mongodb/BUILD.bazel
  pkg/datastore/mongodb/iterator.go
  pkg/datastore/mongodb/model_wrapper.go
  pkg/datastore/mongodb/mongodb.go
  pkg/datastore/mongodb/operator.go
  repositories.bzl
Labels: approved, area/build, area/server, size/XL

#1781 Release v0.9.8
  docs/content/en/blog/releases/v0.9.8.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, lgtm, release-note-none, size/M

#1783 Update web test config
  pkg/app/web/jest.config.js
  pkg/app/web/jest.config.local.js
Labels: approved, area/web, release-note-none, size/S

#1788 Update CI config for web testing
  .kapetanios/presubmit.yaml
Labels: approved, area/kapetanios, area/web, release-note-none, size/XS

#1790 Handle cancel signal in case it came on the previous stage
  pkg/app/piped/controller/scheduler.go
Labels: approved, area/piped, lgtm, release-note-none, size/XS

#1787 Refactor deployment config form
  pkg/app/web/jest.config.local.js
  pkg/app/web/src/__fixtures__/dummy-deployment-config.ts
  pkg/app/web/src/components/deployment-config-form/index.stories.tsx
  pkg/app/web/src/components/deployment-config-form/index.test.tsx
  pkg/app/web/src/components/deployment-config-form/index.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.test.tsx
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/deployment-config.ts
  pkg/app/web/src/modules/application-counts.test.ts
  pkg/app/web/src/modules/deployment-configs.test.ts
  pkg/app/web/src/modules/deployment-configs.ts
  pkg/app/web/src/pages/applications/index.tsx
  pkg/app/web/src/pages/deployments/detail.test.tsx
Labels: approved, area/web, lgtm, release-note-none, size/L

#1771 Make it changeable how to handle no data point
  docs/content/en/docs/user-guide/configuration-reference.md
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/analysisprovider/metrics/provider.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/analyzer.go
  pkg/config/analysis.go
Labels: approved, area/docs, area/piped, area/site, lgtm, size/L

#1784 Add UpdateServicePrimaryTaskSet to ECS deployment
  pkg/app/piped/cloudprovider/ecs/client.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
Labels: approved, area/piped, lgtm, release-note-none, size/M

#1791 Add an util method to the web test utils
  pkg/app/web/src/components/deployment-config-form/index.test.tsx
  pkg/app/web/src/components/sealed-secret-dialog/index.test.tsx
  pkg/app/web/src/modules/application-counts.test.ts
  pkg/app/web/src/pages/deployments/detail.test.tsx
  pkg/app/web/test-utils.tsx
Labels: approved, area/web, release-note-none, size/L

#1793 Add playground build job to the CI
  .kapetanios/postsubmit.yaml
  pkg/app/web/BUILD.bazel
  pkg/app/web/package.json
  pkg/app/web/webpack.common.js
  pkg/app/web/yarn.lock
  play/Dockerfile
Labels: approved, area/kapetanios, area/web, release-note-none, size/M

#1794 Enable supporting MongoDB
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/config/control_plane.go
  pkg/datastore/mongodb/BUILD.bazel
  pkg/datastore/mongodb/iterator.go
  pkg/datastore/mongodb/model_wrapper.go
  pkg/datastore/mongodb/mongodb.go
  pkg/datastore/mongodb/operator.go
  repositories.bzl
Labels: approved, area/build, area/server, release-note-none, size/XL

#1796 Add MongoDB configuration docs
  docs/content/en/docs/operator-manual/control-plane/configuration-reference.md
Labels: approved, area/docs, area/site, release-note-none, size/S

#1797 Add build cache for building play image
  .kapetanios/postsubmit.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#1799 Release v0.9.9
  docs/content/en/blog/releases/v0.9.9.md
  release/RELEASE
Labels: RELEASE, approved, area/docs, area/release, area/site, release-note-none

#1800 Increase timeout time for playground building
  .kapetanios/postsubmit.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#1801 Remove unused dependency
  pkg/app/piped/analysisprovider/metrics/prometheus/BUILD.bazel
Labels: approved, area/piped, release-note-none, size/XS

#1802 Fix playground build job
  .kapetanios/postsubmit.yaml
Labels: approved, area/kapetanios, release-note-none, size/XS

#1803 Add edit application form tests
  pkg/app/web/src/components/edit-application-drawer/index.test.tsx
  pkg/app/web/src/components/edit-application-drawer/index.tsx
  pkg/app/web/src/mocks/services/application.ts
Labels: approved, area/web, release-note-none, size/L

#1807 Fix building playground
  .kapetanios/postsubmit.yaml
Labels: approved, area/kapetanios, release-note-none

#1806 Add datastore command
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/datastore/BUILD.bazel
  pkg/app/pipectl/cmd/datastore/datastore.go
  pkg/app/pipectl/cmd/datastore/migrate.go
  pkg/datastore/datastore.go
  pkg/datastore/migration/BUILD.bazel
  pkg/datastore/migration/data_transfer.go
Labels: approved, area/api, area/pipectl, size/L

#1811 Run migration sequentially
  pkg/datastore/migration/BUILD.bazel
  pkg/datastore/migration/data_transfer.go
Labels: approved, release-note-none, size/S

#1812 Enable differ to consider all maps/slides with a length of zero and nil to be equal
  pkg/app/piped/diff/diff.go
  pkg/app/piped/diff/diff_test.go
  pkg/app/piped/diff/testdata/no_diff.yaml
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: approved, area/piped, lgtm, size/M

#1814 Fix a bug that the form is not cleared after adding an application
  pkg/app/web/src/components/add-application-drawer/index.test.tsx
  pkg/app/web/src/components/add-application-drawer/index.tsx
Labels: approved, area/web, size/XS
