Repository pipe-cd/pipecd, pull requests merged in 2022-02, with the labels that each got.

#3175 Make sure to show status description even if that is too long
  pkg/app/web/src/components/events-page/event-item/index.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#3177 Update Automated configuration drift detection for CloudRun feature status
  docs/content/en/docs-dev/feature-status/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#3174 Add fields to Kubernetes application config to allow customizing variant label
  pkg/config/application_kubernetes.go
  pkg/config/application_kubernetes_test.go
  pkg/config/application_test.go
Labels: release-note-none, size/M, approved, lgtm

#3170 Reduce boilerplate code around handling gRPC error
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/rpc/log_interceptor.go
Labels: release-note-none, approved, lgtm, size/XL, area/server

#3124 Ensure to make NOT_HANDLED events that a new event created to OUTDATED
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/piped/apistore/eventstore/BUILD.bazel
  pkg/app/piped/apistore/eventstore/store.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.proto
Labels: release-note-none, approved, size/L, area/piped, area/ops, area/server

#3178 Fix ops to fill config filename only if needed
  pkg/app/ops/configfilenamefiller/configfilenamefiller.go
Labels: release-note-none, approved, lgtm, size/XS, area/ops

#3176 Add MySQL index for new event watcher
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, lgtm, size/S

#3180 Prevent Piped to panic when listing events for the first time
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: release-note-none, approved, size/S, area/piped

#3182 Fix path redirect missing project params
  pkg/app/web/src/components/header/index.tsx
Labels: release-note-none, size/M, approved, area/web

#3179 Make it possible to customize variant label
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/executor/kubernetes/traffic_test.go
Labels: area/docs, approved, lgtm, size/L, area/piped, area/site

#3183 Refine menu list in header css
  pkg/app/web/src/components/header/index.tsx
Labels: release-note-none, approved, size/S, area/web

#3184 Group the config fields of the variant label
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/executor/kubernetes/traffic_test.go
  pkg/config/application_kubernetes.go
  pkg/config/application_kubernetes_test.go
  pkg/config/application_test.go
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/piped, area/site

#3185 Fix missing config filename in form submit
  pkg/app/web/src/api/applications.ts
Labels: release-note-none, approved, size/XS, area/web

#3186 Log the number of scanned and filled applications while filling config filename in ops
  pkg/app/ops/configfilenamefiller/configfilenamefiller.go
Labels: release-note-none, approved, size/S, area/ops

#3189 Update release note
  docs/content/en/blog/releases/v0.25.0.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#3190 Upload hugo image to use 0.92.1
  dockers/hugo/DOCKER_BUILD
  dockers/hugo/Dockerfile
  dockers/hugo/dockertest/check.sh
Labels: release-note-none, approved, lgtm, size/XS

#3181 Handle unavalable piped to avoid blocking plan-preview
  cmd/pipecd/server.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, size/M, approved, lgtm, area/server

#3194 Refactor stores interface
  pkg/app/ops/configfilenamefiller/configfilenamefiller.go
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/deploymentchaincontroller/updater.go
  pkg/app/ops/handler/handler.go
  pkg/app/ops/insightcollector/applications.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
  pkg/app/server/apikeyverifier/verifier.go
  pkg/app/server/apikeyverifier/verifier_test.go
  pkg/app/server/commandstore/store.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/app/server/httpapi/auth_handler.go
  pkg/app/server/httpapi/callback.go
  pkg/app/server/httpapi/login.go
  pkg/app/server/pipedverifier/verifier.go
  pkg/app/server/pipedverifier/verifier_test.go
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/environmentstore.go
  pkg/datastore/environmentstore_test.go
  pkg/datastore/eventstore.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/pipedstore.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore.go
  pkg/datastore/projectstore_test.go
  pkg/insight/insightmetrics/metrics.go
Labels: release-note-none, approved, lgtm, size/L, area/ops, area/server

#3195 Fix wrong regex in monitoring config
  manifests/pipecd/templates/configmap.yaml
Labels: release-note-none, approved, size/XS, area/manifests

#3188 Add RELEASE env to whitelist for hugo security policy
  .kapetanios/postsubmit.yaml
  docs/.gitignore
  docs/config.toml
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.25.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: release-note-none, area/docs, approved, area/kapetanios, size/S, area/site

#3197 Remove configfilenamefiller task from ops
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/configfilenamefiller/BUILD.bazel
  pkg/app/ops/configfilenamefiller/configfilenamefiller.go
  pkg/datastore/applicationstore.go
Labels: release-note-none, approved, lgtm, size/L, area/ops, area/server

#3198 Add RBAC (a.k.a ACL) to feature status
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.25.x/feature-status/_index.md
  docs/content/en/docs/feature-status/_index.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#3199 Update OWNER_ALIASES
  OWNERS_ALIASES
Labels: release-note-none, approved, size/XS

#3200 Fix to decrypt secret for CloudRun's drift detector
  pkg/app/piped/driftdetector/cloudrun/detector.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3201 Remove UpdateApplication interface from application store
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/web/src/mocks/services/application.ts
  pkg/datastore/apikey.go
  pkg/datastore/applicationstore.go
Labels: release-note-none, approved, lgtm, size/L, area/web, area/server

#3202 Add note to config Cloud Run role while installing Piped
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs-v0.25.x/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#3203 Fix orphan command cleaner can not stop on done
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
Labels: release-note-none, approved, size/XS, area/ops

#3204 Remove UpdateCommand interface from command store
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
  pkg/app/server/commandstore/store.go
  pkg/datastore/commandstore.go
Labels: release-note-none, size/M, approved, area/ops, area/server

#3205 Refine Event list UI
  pkg/app/web/src/components/events-page/event-item/index.tsx
Labels: release-note-none, approved, lgtm, size/S, area/web

#3208 Remove daemon word from docs
  docs/content/ja/docs/hands-on/deploy-on-kubernetes.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#2995 Add PipeCD best practice blog 01
  docs/content/en/blog/news/pipecd-best-practice-01.md
  docs/static/images/architecture-overview-with-roles.png
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3209 Fix hands-on since environment is no longer required
  docs/content/ja/docs/hands-on/deploy-on-kubernetes.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#3206 Drop piped table env_ids index
  cmd/pipecd/ops.go
  pkg/datastore/mysql/ensurer/client.go
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, lgtm, size/S, area/server

#3210 Refactor to remove label on the loop
  pkg/app/piped/controller/controller.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/livestatereporter/kubernetesreporter.go
  pkg/app/piped/logpersister/persister.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/statsreporter/reporter.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3196 Redesign ADD FROM SUGGESTIONS form and make it as default
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: approved, lgtm, area/web, size/XL

#3214 Fix lint for web source
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: release-note-none, size/M, approved, area/web

#3215 Fix labels in application form
  Makefile
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, approved, lgtm, size/S, area/web

#3211 Add sync-option annotation
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3216 Fix form not reset on step change
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#3212 Add kubectl create/replace
  pkg/app/piped/cloudprovider/kubernetes/kubectl.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetesmetrics/metrics.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3218 Release v0.25.1
  docs/content/en/blog/releases/v0.25.1.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#3220 Add CloudRun application live state model
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/model/application_live_state.proto
Labels: release-note-none, size/M, approved, lgtm, area/web

#3217 Remove environment concept from web view
  pkg/app/web/src/__fixtures__/dummy-application-live-state.ts
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/__fixtures__/dummy-environment.ts
  pkg/app/web/src/__fixtures__/dummy-piped.ts
  pkg/app/web/src/api/environments.ts
  pkg/app/web/src/components/application-detail-page/application-detail/index.stories.tsx
  pkg/app/web/src/components/application-detail-page/application-detail/index.test.tsx
  pkg/app/web/src/components/application-detail-page/application-detail/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/add-application-drawer/index.stories.tsx
  pkg/app/web/src/components/applications-page/application-filter/index.stories.tsx
  pkg/app/web/src/components/applications-page/application-filter/index.test.tsx
  pkg/app/web/src/components/applications-page/application-filter/index.tsx
  pkg/app/web/src/components/applications-page/application-list/application-list-item/index.tsx
  pkg/app/web/src/components/applications-page/application-list/index.stories.tsx
  pkg/app/web/src/components/applications-page/application-list/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.stories.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.test.tsx
  pkg/app/web/src/components/deployments-detail-page/deployment-detail/index.stories.tsx
  pkg/app/web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  pkg/app/web/src/components/deployments-detail-page/deployment-detail/index.tsx
  pkg/app/web/src/components/deployments-detail-page/index.test.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.stories.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.test.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
  pkg/app/web/src/components/deployments-page/deployment-item/index.stories.tsx
  pkg/app/web/src/components/deployments-page/deployment-item/index.tsx
  pkg/app/web/src/components/settings-page/environment/components/add-env-form/index.stories.tsx
  pkg/app/web/src/components/settings-page/environment/components/add-env-form/index.tsx
  pkg/app/web/src/components/settings-page/environment/components/delete-confirm-dialog/index.tsx
  pkg/app/web/src/components/settings-page/environment/components/environment-list-item/edit-dialog.tsx
  pkg/app/web/src/components/settings-page/environment/components/environment-list-item/index.stories.tsx
  pkg/app/web/src/components/settings-page/environment/components/environment-list-item/index.tsx
  pkg/app/web/src/components/settings-page/environment/index.test.tsx
  pkg/app/web/src/components/settings-page/environment/index.tsx
  pkg/app/web/src/components/settings-page/index.tsx
  pkg/app/web/src/components/settings-page/piped/components/add-piped-drawer/index.stories.tsx
  pkg/app/web/src/components/settings-page/piped/components/edit-piped-drawer/index.stories.tsx
  pkg/app/web/src/components/settings-page/piped/components/piped-form/index.tsx
  pkg/app/web/src/constants/path.ts
  pkg/app/web/src/mocks/handlers.ts
  pkg/app/web/src/mocks/services/environment.ts
  pkg/app/web/src/modules/deleting-env/index.ts
  pkg/app/web/src/modules/environments/index.test.ts
  pkg/app/web/src/modules/environments/index.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/modules/pipeds/index.test.ts
  pkg/app/web/src/modules/pipeds/index.ts
  pkg/app/web/src/routes.tsx
Labels: approved, lgtm, size/L, area/web

#3219 Remove UpdateDeploymentChain function from deploymentchain store interface
  pkg/app/ops/deploymentchaincontroller/updater.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentchainstore_test.go
Labels: release-note-none, size/M, approved, lgtm, area/ops

#3223 Add RevisionManifest for CloudRun
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/client_test.go
  pkg/app/piped/cloudprovider/cloudrun/revisionmanifest.go
  pkg/app/piped/cloudprovider/cloudrun/revisionmanifest_test.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3225 Add RevisionManifest method to convert run.Revision into RevisionManifest
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/client_test.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3226 Remove Update model function from stores interface
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/eventstore.go
  pkg/datastore/pipedstore.go
  pkg/datastore/projectstore.go
Labels: release-note-none, approved, lgtm, size/L, area/server

#3228 Add CloudRun service methods
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3229 Remove Environment concept from piped source
  pkg/app/piped/apistore/environmentstore/BUILD.bazel
  pkg/app/piped/apistore/environmentstore/store.go
  pkg/app/piped/apistore/environmentstore/store_test.go
  pkg/app/piped/cmd/piped/BUILD.bazel
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/executor.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/notifier/matcher.go
  pkg/app/piped/notifier/matcher_test.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/planpreview/handler_test.go
  pkg/app/piped/trigger/trigger.go
  pkg/model/notificationevent.proto
  pkg/model/planpreview.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3233 Fix error handling in kubectl replace
  pkg/app/piped/cloudprovider/kubernetes/kubectl.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3235 Decoupling ops with models store interface
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/deploymentchaincontroller/updater.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
Labels: release-note-none, size/M, approved, lgtm, area/ops

#3231 Add HealthStatus method to check health of service and revision
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/client_test.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/cloudprovider/cloudrun/revisionmanifest.go
  pkg/app/piped/cloudprovider/cloudrun/revisionmanifest_test.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
Labels: release-note-none, approved, lgtm, area/piped, size/XL

#3234 Decoupling API with models store interface
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, approved, lgtm, size/L, area/server

#3238 Add MakeResourceStates func for CloudRun
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/client_test.go
  pkg/app/piped/cloudprovider/cloudrun/revisionmanifest_test.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
  pkg/app/piped/cloudprovider/cloudrun/state.go
  pkg/app/piped/cloudprovider/cloudrun/state_test.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3237 Implement sync-by-replace option
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cloudprovider/kubernetes/resourcekey.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
Labels: approved, size/L, area/piped

#3245 Fix unable to register event
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: approved, lgtm, size/XS

#3241 Add ability to filter notification event based on Labels
  pkg/app/piped/notifier/matcher.go
  pkg/app/piped/notifier/matcher_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/model/notificationevent.go
Labels: approved, size/L, area/piped

#3247 Update notification configuration docs
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-notifications.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#3250 Add AddRevisionLabels method to set revision labels in ServiceManifest
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3249 Add ListRevisions interface for CloudRun client
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3251 Add built in labels to CloudRun revision
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
  pkg/app/piped/executor/cloudrun/BUILD.bazel
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/cloudrun_test.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3246 Fix documentation to use secret.data instead of secret.secretManagementKeyPair
  docs/content/en/docs-dev/user-guide/secret-management.md
  docs/content/en/docs-v0.25.x/user-guide/secret-management.md
  docs/content/en/docs/user-guide/secret-management.md
  docs/content/ja/docs/user-guide/secret-management.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3254 Add MakeRevisionNamesSelector to generate the selector of revision names
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/livestatestore/cloudrun/store.go
Labels: release-note-none, approved, size/S, area/piped

#3258 Add WAIT stage into lambda canary-examplae
  examples/lambda/canary/app.pipecd.yaml
Labels: release-note-none, approved, lgtm, size/XS

#3243 Introduce commander to models store interface
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
  pkg/app/server/commandstore/store.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/environmentstore.go
  pkg/datastore/environmentstore_test.go
  pkg/datastore/eventstore.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/pipedstore.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore.go
  pkg/datastore/projectstore_test.go
Labels: release-note-none, approved, lgtm, size/L, area/ops, area/server

#3261 Add kube-version option for helm
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/config/application_kubernetes.go
Labels: area/docs, approved, lgtm, size/XS, area/piped, area/site

#3259 Add api-version option for helm
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/config/application_kubernetes.go
Labels: area/docs, approved, size/XS, area/piped, area/site

#3256 Add a blog post for February Update
  docs/content/en/blog/news/february-2022-update.md
  docs/content/en/blog/news/january-2022-update.md
  docs/static/images/cloud-run-out-of-sync.png
Labels: release-note-none, size/M, area/docs, approved, area/site

#3263 Fix wrong repository name in docs
  .golangci.yml
  docs/config.toml
  docs/content/en/_index.html
  docs/content/en/blog/news/announcing-pipecd/index.md
  docs/content/en/blog/news/january-2022-update.md
  docs/content/en/blog/news/november-2021-update.md
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-dev/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-dev/faq/_index.md
  docs/content/en/docs-v0.18.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.18.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.18.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.18.x/faq/_index.md
  docs/content/en/docs-v0.20.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.20.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.20.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.20.x/faq/_index.md
  docs/content/en/docs-v0.21.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.21.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.21.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.21.x/faq/_index.md
  docs/content/en/docs-v0.22.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.22.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.22.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.22.x/faq/_index.md
  docs/content/en/docs-v0.23.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.23.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.23.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.23.x/faq/_index.md
  docs/content/en/docs-v0.24.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.24.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.24.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.24.x/faq/_index.md
  docs/content/en/docs-v0.25.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.25.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.25.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.25.x/faq/_index.md
  docs/content/en/docs/contribution-guidelines/contributing.md
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
  docs/content/en/docs/contribution-guidelines/development.md
  docs/content/en/docs/faq/_index.md
  docs/content/ja/_index.html
  docs/content/ja/blog/announcing-pipecd/index.md
  examples/README.remote.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3253 Omit long detail comment in actions-plan-preview
  dockers/actions-plan-preview/planpreview.go
Labels: approved, size/S

#3264 Fix a typo in reporter file name
  pkg/app/piped/livestatereporter/kubernetes/BUILD.bazel
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
Labels: release-note-none, approved, size/XS, area/piped

#3266 Correct the screenshot in quickstart
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.25.x/quickstart/_index.md
  docs/content/en/docs/quickstart/_index.md
  docs/static/images/quickstart-adding-application-from-suggestions.png
Labels: release-note-none, size/M, area/docs, approved, area/site

#3267 Update contributor list
  README.md
Labels: release-note-none, approved

#3269 Add label and description for examples
  examples/cloudrun/analysis/app.pipecd.yaml
  examples/cloudrun/canary/app.pipecd.yaml
  examples/cloudrun/secret-management/app.pipecd.yaml
  examples/cloudrun/simple/app.pipecd.yaml
  examples/cloudrun/wait-approval/app.pipecd.yaml
  examples/deployment-chain/chain-simple-cloudrun/app.pipecd.yaml
  examples/deployment-chain/chain-simple-lambda/app.pipecd.yaml
  examples/deployment-chain/simple/app.pipecd.yaml
  examples/ecs/bluegreen/app.pipecd.yaml
  examples/ecs/canary/app.pipecd.yaml
  examples/ecs/secret-management/app.pipecd.yaml
  examples/ecs/simple/app.pipecd.yaml
  examples/ecs/wait-approval/app.pipecd.yaml
  examples/kubernetes/analysis-by-http/app.pipecd.yaml
  examples/kubernetes/analysis-by-log/app.pipecd.yaml
  examples/kubernetes/analysis-by-metrics/app.pipecd.yaml
  examples/kubernetes/analysis-with-baseline/app.pipecd.yaml
  examples/kubernetes/bluegreen/app.pipecd.yaml
  examples/kubernetes/canary-by-config-change/app.pipecd.yaml
  examples/kubernetes/canary-patch/app.pipecd.yaml
  examples/kubernetes/canary/app.pipecd.yaml
  examples/kubernetes/helm-local-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-git-chart/app.pipecd.yaml
  examples/kubernetes/kustomize-local-base/app.pipecd.yaml
  examples/kubernetes/kustomize-remote-base/app.pipecd.yaml
  examples/kubernetes/mesh-istio-bluegreen/app.pipecd.yaml
  examples/kubernetes/mesh-istio-canary/app.pipecd.yaml
  examples/kubernetes/mesh-smi-bluegreen/app.pipecd.yaml
  examples/kubernetes/mesh-smi-canary/app.pipecd.yaml
  examples/kubernetes/multi-steps-canary/app.pipecd.yaml
  examples/kubernetes/secret-management/app.pipecd.yaml
  examples/kubernetes/simple/app.pipecd.yaml
  examples/kubernetes/wait-approval/app.pipecd.yaml
  examples/lambda/analysis/app.pipecd.yaml
  examples/lambda/canary/app.pipecd.yaml
  examples/lambda/remote-git/app.pipecd.yaml
  examples/lambda/secret-management/app.pipecd.yaml
  examples/lambda/simple/app.pipecd.yaml
  examples/lambda/wait-approval/app.pipecd.yaml
  examples/lambda/zip-packing-s3/app.pipecd.yaml
  examples/terraform/autorollback/app.pipecd.yaml
  examples/terraform/local-module/app.pipecd.yaml
  examples/terraform/remote-module/app.pipecd.yaml
  examples/terraform/secret-management/app.pipecd.yaml
  examples/terraform/simple/app.pipecd.yaml
  examples/terraform/wait-approval/app.pipecd.yaml
Labels: release-note-none, approved, lgtm, size/L

#3276 Remove env-id option from pipectl's add-application command
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.proto
Labels: approved, lgtm, size/XS, area/server

#3275 Remove environment concept from docs
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/operator-manual/control-plane/adding-an-environment.md
  docs/content/en/docs-dev/operator-manual/control-plane/auth.md
  docs/content/en/docs-dev/operator-manual/control-plane/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/control-plane/metrics.md
  docs/content/en/docs-dev/operator-manual/control-plane/registering-a-piped.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3273 Add actions log badge
  dockers/actions-plan-preview/planpreview.go
Labels: release-note-none, size/M, approved

#3240 Update to store application live state into the live state store
  pkg/app/piped/livestatestore/cloudrun/BUILD.bazel
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/cloudrun/store.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3279 Reorder the fields in application adding form
  docs/content/en/blog/news/january-2022-update.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/content/en/docs-v0.23.x/user-guide/adding-an-application.md
  docs/content/en/docs-v0.24.x/user-guide/adding-an-application.md
  docs/content/en/docs-v0.25.x/user-guide/adding-an-application.md
  docs/content/en/docs/user-guide/adding-an-application.md
  docs/static/images/legacy-registering-an-application-from-git.png
  docs/static/images/legacy-registering-an-application-from-web.png
  docs/static/images/registering-an-application-from-suggestions.png
  docs/static/images/registering-an-application-manually.png
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/web, area/site

#3281 Add a space between label key and label name in application list page
  pkg/app/web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: release-note-none, approved, area/web

#3282 Remove alpha note in the doc of event-watcher feature
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-v0.25.x/user-guide/event-watcher.md
  docs/content/en/docs/user-guide/event-watcher.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#3280 Add cases of Cloud Run kind into DetermineAppHealthStatus
  pkg/model/BUILD.bazel
  pkg/model/application_live_state.go
  pkg/model/application_live_state_test.go
Labels: release-note-none, approved, lgtm, size/L, todo/skip

#3278 Add WaitForReady interface for livestatestore of Cloud Run
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3272 Introduce ShardStorable interface
  pkg/datastore/apikey.go
  pkg/datastore/applicationstore.go
  pkg/datastore/commandstore.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/eventstore.go
  pkg/datastore/filedb/filedb.go
  pkg/datastore/pipedstore.go
  pkg/datastore/projectstore.go
Labels: release-note-none, approved, lgtm, size/L

#3285 Fix Summary result for Kubernetes application
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/planner/kubernetes/testdata/check_image_name_tag/new.yaml
  pkg/app/piped/planner/kubernetes/testdata/check_image_name_tag/old.yaml
  pkg/app/piped/planner/kubernetes/testdata/check_image_tag/new.yaml
  pkg/app/piped/planner/kubernetes/testdata/check_image_tag/old.yaml
Labels: approved, size/L, area/piped

#3287 Fix broken links docs
  docs/content/en/docs-dev/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-dev/user-guide/secret-management.md
  docs/content/en/docs-v0.18.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.18.x/user-guide/secret-management.md
  docs/content/en/docs-v0.20.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.20.x/user-guide/secret-management.md
  docs/content/en/docs-v0.21.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.21.x/user-guide/secret-management.md
  docs/content/en/docs-v0.22.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.22.x/user-guide/secret-management.md
  docs/content/en/docs-v0.23.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.23.x/user-guide/secret-management.md
  docs/content/en/docs-v0.24.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.24.x/user-guide/secret-management.md
  docs/content/en/docs-v0.25.x/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs-v0.25.x/user-guide/secret-management.md
  docs/content/en/docs/operator-manual/piped/adding-a-git-repository.md
  docs/content/en/docs/user-guide/secret-management.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#3291 Fix broken links in docs
  docs/content/en/docs-dev/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.18.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.20.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.21.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.22.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.23.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.24.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs-v0.25.x/user-guide/automated-deployment-analysis.md
  docs/content/en/docs/user-guide/automated-deployment-analysis.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#3292 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3290 Add link to blog from quickstart docs
  docs/content/en/docs-dev/quickstart/_index.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#3293 Ensure that env_id is not used in any Piped component
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/server/applicationlivestatestore/cache_test.go
  pkg/app/server/applicationlivestatestore/filestore_test.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/applicationstore_test.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/pipedstore_test.go
  pkg/model/application.proto
  pkg/model/application_live_state.proto
  pkg/model/deployment.proto
Labels: release-note-none, approved, lgtm, size/S, area/piped, area/server

#3294 Remove env-id and env-name options from pipectl application list command
  pkg/app/pipectl/cmd/application/list.go
Labels: approved, lgtm, size/XS

#2994 Move architecture overview image to concept explanation page
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/overview/_index.md
  docs/static/images/pipecd-explanation.png
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3297 Update actions-plan-preview to use pipectl v0.26.0
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
Labels: release-note-none, approved, lgtm, size/XS

#3298 Fix typo
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-v0.18.x/overview/_index.md
  docs/content/en/docs-v0.20.x/overview/_index.md
  docs/content/en/docs-v0.21.x/overview/_index.md
  docs/content/en/docs-v0.22.x/overview/_index.md
  docs/content/en/docs-v0.23.x/overview/_index.md
  docs/content/en/docs-v0.24.x/overview/_index.md
  docs/content/en/docs-v0.25.x/overview/_index.md
  docs/content/en/docs-v0.26.x/overview/_index.md
  docs/content/en/docs/overview/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#3286 Implement get interface for FileDB
  pkg/datastore/filedb/filedb.go
Labels: release-note-none, size/M, approved, lgtm, todo/skip

#3302 Remove env related unused code from web
  pkg/app/web/src/components/application-detail-page/application-detail/index.tsx
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/components/applications-page/application-list/index.tsx
  pkg/app/web/src/components/applications-page/edit-application-drawer/index.tsx
  pkg/app/web/src/components/deployments-detail-page/deployment-detail/index.tsx
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.stories.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.stories.tsx
  pkg/app/web/src/components/settings-page/piped/components/edit-piped-drawer/index.tsx
  pkg/app/web/src/constants/toast-text.ts
  pkg/app/web/src/modules/applications/index.test.ts
  pkg/app/web/src/modules/applications/index.ts
  pkg/app/web/src/modules/deployments/index.ts
  pkg/app/web/src/modules/pipeds/index.ts
  pkg/app/web/src/modules/update-application/index.ts
Labels: release-note-none, size/M, approved, lgtm, area/web

#3300 Remove Environment related APIs
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/BUILD.bazel
  pkg/datastore/datastoretest/BUILD.bazel
  pkg/datastore/environmentstore.go
  pkg/datastore/environmentstore_test.go
  pkg/model/BUILD.bazel
  pkg/model/environment.go
  pkg/model/environment.proto
  pkg/model/environment_test.go
Labels: release-note-none, approved, lgtm, size/XL, area/server

#3304 Remove gRPC related to env from auth
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: release-note-none, approved, lgtm, size/XS, area/server

#3305 Upgrade rules_go to v0.30.0 and go to 1.1.7.6
  WORKSPACE
Labels: release-note-none, approved, lgtm, size/XS

#3306 Fix func name
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/traffic.go
Labels: release-note-none, approved, size/S, area/piped

#3308 Rename the title of Running Version column to Artifact Versions
  pkg/app/web/src/components/applications-page/application-list/index.tsx
Labels: release-note-none, approved, size/XS, area/web

#3307 Add proto message for better running version of applicaion
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/model/application.proto
Labels: release-note-none, approved, lgtm, size/S, area/web

#3309 Remove unused envCache
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, approved, size/XS, area/server

#3311 Update feature status docs for Cloud Run
  docs/content/en/docs-dev/feature-status/_index.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#3315 change the port number of the local registry for macOS Montray
  .bazelrc
  hack/create-kind-cluster.sh
  hack/render-manifests.sh
Labels: release-note-none, approved, lgtm, size/XS, area/hack

#3313 Define unregistered app cache
  pkg/app/server/unregisteredappstore/BUILD.bazel
  pkg/app/server/unregisteredappstore/store.go
Labels: release-note-none, approved, size/L, area/server

#3316 Add merge shards data for multiple shards stored object
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/codec.go
  pkg/datastore/filedb/codec_test.go
  pkg/datastore/filedb/filedb.go
  pkg/model/apikey.go
  pkg/model/application.go
  pkg/model/command.go
  pkg/model/deployment.go
  pkg/model/deployment_chain.go
  pkg/model/event.go
  pkg/model/piped.go
  pkg/model/project.go
Labels: release-note-none, approved, lgtm, size/L

#3318 Add appSelector field for piped
  pkg/config/piped.go
Labels: release-note-none, approved, lgtm, size/XS

#3319 Add ContainLabels method for ApplicationInfo
  pkg/model/common.go
  pkg/model/common_test.go
Labels: release-note-none, size/M, approved, lgtm

#3320 Enable to filter suggested applications when you add an application from controlplane
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
Labels: area/docs, approved, lgtm, size/L, area/piped, area/site

#3321 Add description to the examples
  docs/content/en/blog/news/pipecd-best-practice-01.md
  examples/cloudrun/analysis/app.pipecd.yaml
  examples/cloudrun/canary/app.pipecd.yaml
  examples/cloudrun/secret-management/app.pipecd.yaml
  examples/cloudrun/simple/app.pipecd.yaml
  examples/cloudrun/wait-approval/app.pipecd.yaml
  examples/ecs/simple/app.pipecd.yaml
  examples/kubernetes/analysis-by-http/app.pipecd.yaml
  examples/kubernetes/analysis-by-metrics/app.pipecd.yaml
  examples/kubernetes/bluegreen/app.pipecd.yaml
  examples/kubernetes/canary/app.pipecd.yaml
  examples/kubernetes/helm-local-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-git-chart/app.pipecd.yaml
  examples/kubernetes/kustomize-local-base/app.pipecd.yaml
  examples/kubernetes/kustomize-remote-base/app.pipecd.yaml
  examples/kubernetes/mesh-istio-bluegreen/app.pipecd.yaml
  examples/kubernetes/mesh-istio-canary/app.pipecd.yaml
  examples/kubernetes/secret-management/app.pipecd.yaml
  examples/kubernetes/simple/app.pipecd.yaml
  examples/kubernetes/wait-approval/app.pipecd.yaml
  examples/lambda/simple/app.pipecd.yaml
  examples/terraform/autorollback/app.pipecd.yaml
  examples/terraform/local-module/app.pipecd.yaml
  examples/terraform/remote-module/app.pipecd.yaml
  examples/terraform/secret-management/app.pipecd.yaml
  examples/terraform/simple/app.pipecd.yaml
  examples/terraform/wait-approval/app.pipecd.yaml
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site
