Repository pipe-cd/pipecd, pull requests merged in 2022-05, with the labels that each got.

#3599 Remove environment concept from web apis and piped model
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.pb.go
  pkg/model/piped.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
  web/src/api/applications.ts
  web/src/api/deployments.ts
  web/src/api/piped.ts
  web/src/components/settings-page/piped/components/add-piped-drawer/index.tsx
  web/src/components/settings-page/piped/components/edit-piped-drawer/index.tsx
  web/src/components/settings-page/piped/components/piped-form/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/deployments/index.ts
  web/src/modules/pipeds/index.ts
  web/src/modules/update-application/index.ts
Labels: release-note-none, area/web, size/XXL, area/server

#3601 Update pipecd local command
  Makefile
Labels: release-note-none, size/S

#3602 Make control plane local cmd run multiple
  Makefile
Labels: release-note-none, size/XS

#3604 Add golemiso-san to contributor list 🙌
  README.md
Labels: release-note-none, size/XS

#3592 Refactor docs for contributor
  docs/content/en/docs-dev/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-dev/contribution-guidelines/piped-development.md
  web/README.md
Labels: release-note-none, area/docs, size/L, area/web, area/site

#3603 Remove seal key secret management type from piped configuration
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/web_api.go
  pkg/config/piped.go
  pkg/datastore/pipedstore.go
  pkg/model/common.pb.go
  pkg/model/common.proto
  pkg/model/piped.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
Labels: release-note-none, size/L, area/piped, area/web, area/server

#3595 Implement the datastore interface for RBAC
  pkg/datastore/projectstore.go
Labels: release-note-none, size/M

#3608 Fix wrong binary name in the publish workflow
  .github/workflows/publish_tag.yaml
Labels: release-note-none, size/XS

#3612 Update examples to use artifacts from GHCR
  examples/cloudrun/analysis/service.yaml
  examples/cloudrun/canary/service.yaml
  examples/cloudrun/secret-management/service.yaml
  examples/cloudrun/simple/service.yaml
  examples/cloudrun/wait-approval/service.yaml
  examples/deployment-chain/chain-simple-cloudrun/service.yaml
  examples/deployment-chain/simple/deployment.yaml
  examples/kubernetes/analysis-by-http/deployment.yaml
  examples/kubernetes/analysis-by-log/deployment.yaml
  examples/kubernetes/analysis-by-metrics/deployment.yaml
  examples/kubernetes/analysis-with-baseline/deployment.yaml
  examples/kubernetes/bluegreen/deployment.yaml
  examples/kubernetes/canary-by-config-change/deployment.yaml
  examples/kubernetes/canary-patch/deployment.yaml
  examples/kubernetes/canary/deployment.yaml
  examples/kubernetes/helm-local-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-git-chart/app.pipecd.yaml
  examples/kubernetes/mesh-istio-bluegreen/deployment.yaml
  examples/kubernetes/mesh-istio-canary/deployment.yaml
  examples/kubernetes/multi-steps-canary/deployment.yaml
  examples/kubernetes/secret-management/deployment.yaml
  examples/kubernetes/simple/deployment.yaml
  examples/kubernetes/wait-approval/deployment.yaml
Labels: release-note-none, size/M

#3611 Fix the wrong way to configure datadog key while starting Piped agent
  docs/content/en/docs-dev/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs-v0.27.x/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs-v0.30.x/operator-manual/piped/adding-an-analysis-provider.md
Labels: release-note-none, area/docs, size/S, area/site

#3613 Fix piped chart to use GHCR container image
  manifests/piped/values.yaml
Labels: release-note-none, size/XS, area/manifests

#3614 Revert CloudRun examples to use GCR images
  examples/cloudrun/analysis/service.yaml
  examples/cloudrun/canary/service.yaml
  examples/cloudrun/secret-management/service.yaml
  examples/cloudrun/simple/service.yaml
  examples/cloudrun/wait-approval/service.yaml
Labels: release-note-none, size/S

#3617 Add a workflow to ensure the stable docs is being synced
  .github/workflows/gen.yaml
  docs/content/en/docs/operator-manual/piped/adding-an-analysis-provider.md
Labels: release-note-none, area/docs, size/S, area/site

#3616 Fix agent chart to use correct image when starting with launcher
  cmd/launcher/Dockerfile
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: release-note-none, area/manifests, size/S, area/launcher

#3615 Check whether the live manifest exists before deleting the resource
  pkg/app/piped/cloudprovider/kubernetes/applier.go
Labels: release-note-none, size/S, area/piped

#3620 Refactor feature status page
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/operator-manual/control-plane/metrics.md
  docs/content/en/docs-v0.30.x/feature-status/_index.md
  docs/content/en/docs-v0.30.x/operator-manual/control-plane/metrics.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/control-plane/metrics.md
Labels: release-note-none, size/M, area/docs, area/site

#3621 Fix wrong scrolling css
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: release-note-none, size/XS, area/web

#3626 Fix linebreak follow common mark convention
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: release-note-none, size/XS, area/web

#3623 Add protoc-gen-auth plugin to generate the service.pb.auth.go automatically
  tool/codegen/DOCKER_BUILD
  tool/codegen/Dockerfile
  tool/codegen/codegen.sh
  tool/codegen/protoc-gen-auth/file.go
  tool/codegen/protoc-gen-auth/go.mod
  tool/codegen/protoc-gen-auth/go.sum
  tool/codegen/protoc-gen-auth/main.go
Labels: release-note-none, size/L

#3627 Enable to run piped which connects to local control plane
  Makefile
Labels: release-note-none, size/XS

#3630 Fix wrong path to Helm values file in the quickstart
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.30.x/quickstart/_index.md
  docs/content/en/docs-v0.31.x/quickstart/_index.md
  docs/content/en/docs/quickstart/_index.md
Labels: release-note-none, area/docs, size/XS, area/site

#3631 Update image in docs
  docs/static/images/quickstart-adding-piped.png
Labels: release-note-none, area/docs, size/XS, area/site

#3629 Update codegen version
  .github/workflows/build.yaml
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: release-note-none, area/web, size/XXL, area/server

#3632 Gradually remove Kapetanios plugins
  .kapetanios/plugin.yaml
Labels: release-note-none, size/M, area/kapetanios

#3633 Add some status badges to readme
  README.md
Labels: release-note-none, size/XS

#3634 Switch to use labeler action
  .github/labeler.yaml
  .github/workflows/labeler.yaml
  .kapetanios/OWNERS
  .kapetanios/plugin.yaml
  OWNERS
  OWNERS_ALIASES
  cmd/helloworld/OWNERS
  cmd/launcher/OWNERS
  cmd/pipecd/OWNERS
  cmd/pipectl/OWNERS
  cmd/piped/OWNERS
  docs/OWNERS
  hack/OWNERS
  manifests/OWNERS
  pkg/app/helloworld/OWNERS
  pkg/app/ops/OWNERS
  pkg/app/piped/OWNERS
  pkg/app/server/OWNERS
  release/OWNERS
  web/OWNERS
Labels: release-note-none, area/docs, area/release, area/kapetanios, area/manifests, area/piped, area/web, area/hack, area/helloworld, area/site, area/ops, area/server, area/pipectl, area/launcher

#3637 Fix wrong action reference
  .github/workflows/labeler.yaml
Labels: release-note-none

#3639 Fix to add configuration-path to use labeler.yaml
  .github/workflows/labeler.yaml
Labels: release-note-none

#3636 Resolve description lint error
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: release-note-none, area/web

#3640 Update contributor list
  README.md
Labels: release-note-none

#3641 Fix the docs to add analysis type
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.25.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.26.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.27.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.30.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.31.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
Labels: release-note-none

#3644 Remove tool/chart-releaser
  tool/chart-releaser/.gitignore
  tool/chart-releaser/DOCKER_BUILD
  tool/chart-releaser/Dockerfile
  tool/chart-releaser/install-helm.sh
  tool/chart-releaser/main.go
Labels: release-note-none, area/tool

#3645 Remove tools which are no longer needed
  tool/asset-publisher/.gitignore
  tool/asset-publisher/DOCKER_BUILD
  tool/asset-publisher/Dockerfile
  tool/asset-publisher/go.mod
  tool/asset-publisher/go.sum
  tool/asset-publisher/main.go
  tool/runner/DOCKER_BUILD
  tool/runner/Dockerfile
Labels: release-note-none, area/tool

#3648 Remove unnecessary fmt print
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: release-note-none, area/go

#3647 Fix app config reporter skip sync configuration on adding app
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
Labels: area/go

#3646 Update helm version to 3.8.2 from 3.2.1
  pkg/app/piped/toolregistry/install.go
  tool/piped-base/DOCKER_BUILD
  tool/piped-base/dockertest/check-helm.sh
  tool/piped-base/install-helm.sh
Labels: area/go, area/tool

#3651 Adjust `Deployed By` field in application list
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: area/web

#3652 Fix to return ErrBranchNotFresh when git push failed because some refs were not updated
  pkg/git/repo.go
Labels: release-note-none, area/go

#3655 Remove unused tools and tests
  tool/hugo/DOCKER_BUILD
  tool/hugo/Dockerfile
  tool/hugo/dockertest/check.sh
  tool/piped-base/dockertest/check-helm.sh
  tool/runner-integration/DOCKER_BUILD
  tool/runner-integration/Dockerfile
Labels: release-note-none, area/tool

#3656 Unify workload name as command name in Makefile
  .github/workflows/build.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tag.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: release-note-none, area/build

#3657 Disable docker plugin of Kapetanios
  .kapetanios/plugin-docker.yaml
Labels: release-note-none

#3659 Remove pipectl-base, pipecd-base and static from tool
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  docs/Dockerfile
  docs/main.go
  tool/pipecd-base/DOCKER_BUILD
  tool/pipecd-base/Dockerfile
  tool/pipectl-base/DOCKER_BUILD
  tool/pipectl-base/Dockerfile
  tool/static/DOCKER_BUILD
  tool/static/Dockerfile
Labels: release-note-none, area/go, area/tool

#3654 Fix to retry when the error failed to push some ref occurred
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: release-note-none, area/go

#3658 Add workflow to build and push tool images
  .github/workflows/build_tool.yaml
  .github/workflows/publish_tool.yaml
  tool/actions-gh-release/DOCKER_BUILD
  tool/actions-plan-preview/DOCKER_BUILD
  tool/codegen/DOCKER_BUILD
  tool/piped-base-okd/DOCKER_BUILD
  tool/piped-base/DOCKER_BUILD
Labels: release-note-none, area/build, area/tool

#3662 Add missing step to login the container registry
  .github/workflows/publish_tool.yaml
Labels: release-note-none, area/build

#3660 Switch to use golangci-lint
  .github/workflows/lint.yaml
  .golangci.yml
  .kapetanios/plugin.yaml
Labels: release-note-none, area/build

#3664 Update piped and launcher to use base image from GHCR
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
Labels: release-note-none, area/go

#3663 Fix not to return an error when the data point of metrics was empty
  pkg/app/piped/analysisprovider/metrics/datadog/datadog.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
  pkg/app/piped/executor/analysis/metrics_analyzer_test.go
Labels: release-note-none, area/go

#3643 Enable to load Helm chart in the private OCI registry
  docs/content/en/docs-dev/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/piped, area/go

#3667 Remove the check whether the response of QueryPoints is empty or not
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus.go
Labels: release-note-none, area/go

#3670 Automatically assign reviewers for all pull requests
  CODEOWNERS
Labels: release-note-none

#3668 Upgrade workflows to use actions/checkout@v3
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tag.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

#3672 Add link to the PipeCD GitHub repository at the Header
  web/src/components/header/index.tsx
Labels: area/web

#3669 Add init container to avoid CrashLoopBackOff error on quickstart mode
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
Labels: release-note-none, area/manifests

#3676 Update to use codegen v0.32.0
  .github/workflows/gen.yaml
  Makefile
Labels: release-note-none, area/build

#3678 Add web lint command to makefile
  Makefile
  web/src/components/application-detail-page/application-state-view/cloudrun-state-view/index.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/modules/deployments/index.ts
  web/src/routes.tsx
Labels: release-note-none, area/web, area/build

#3679 Add version warning banner to web console
  web/src/components/warning-banner/index.tsx
  web/src/routes.tsx
Labels: area/web

#3677 Update the docs about the analysis metrics fields
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.32.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: release-note-none

#3681 Remove unused plugins from Kapetanios
  .kapetanios/plugin-template.yaml
  .kapetanios/plugin.yaml
Labels: release-note-none

#3680 Update banner text
  web/src/components/warning-banner/index.tsx
Labels: release-note-none, area/web

#3682 Add a workflow to automate GitHub release
  .github/workflows/gh-release.yaml
  .github/workflows/labeler.yaml
  RELEASE
  release/README.md
  release/RELEASE
Labels: area/build

#3683 Update makefile to use new RELEASE file
  Makefile
  hack/gen-stable-docs.sh
Labels: area/build

#3685 Fix typo json tag
  pkg/config/application_kubernetes.go
Labels: area/go

#3687 Fix unable to plan deployment in case of changing app config
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

#3689 Add validation logic to Helm chart registry
  pkg/config/piped.go
Labels: area/go

#3693 Remove google-cloud-sdk-324.0.0-linux-x86.tar.gz from pipecd base image
  cmd/pipecd/Dockerfile
Labels: area/go

#3694 Fix wrong installation commands for Piped
  .github/workflows/publish_site.yaml
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-google-cloud-vm.md
  docs/content/en/docs-v0.32.x/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs-v0.32.x/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs-v0.32.x/operator-manual/piped/installation/installing-on-google-cloud-vm.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-cloudrun.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-fargate.md
  docs/content/en/docs/operator-manual/piped/installation/installing-on-google-cloud-vm.md
Labels: area/build

#3692 Add error message to GetInsightData API
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#3696 Fix wrong path of RELEASE file used while bulding site
  .github/workflows/publish_site.yaml
Labels: area/build

#3697 Fix left sidebar ui on settings page
  web/src/components/settings-page/index.tsx
Labels: area/web

#3700 Enable tag event for build, test and publish workflows
  .github/workflows/build.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
Labels: area/build

#3701 Temporarily do not make release via GH actions
  .github/workflows/gh-release.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
Labels: area/build, area/go

#3702 Uncomment release workflow to avoid GH notification
  .github/workflows/release.yaml
Labels: area/build
