Repository pipe-cd/pipecd, pull requests merged in 2022-01, with the labels that each got.

#2996 Enable to handle query parameter as an array even only one
  pkg/app/web/src/utils/search-params.ts
Labels: release-note-none, approved, lgtm, size/XS, area/web

#2993 Add inchain applications configurations
  examples/deployment-chain/chain-simple-cloudrun/app.pipecd.yaml
  examples/deployment-chain/chain-simple-cloudrun/service.yaml
  examples/deployment-chain/chain-simple-lambda/app.pipecd.yaml
  examples/deployment-chain/chain-simple-lambda/function.yaml
  examples/deployment-chain/simple/app.pipecd.yaml
Labels: release-note-none, size/M, approved, lgtm

#2997 Revise adding application guide
  docs/content/en/docs-dev/user-guide/adding-an-application.md
Labels: release-note-none, size/M, area/docs, approved, area/site

#2987 Add an ability to filter apps by labels
  pkg/app/web/src/api/applications.ts
  pkg/app/web/src/components/applications-page/application-filter/index.tsx
  pkg/app/web/src/components/applications-page/index.tsx
  pkg/app/web/src/modules/applications/index.ts
Labels: size/M, approved, lgtm, area/web

#3000 Enable to filter deployments by Labels
  pkg/app/web/src/api/deployments.ts
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
  pkg/app/web/src/components/deployments-page/index.tsx
  pkg/app/web/src/modules/deployments/index.ts
Labels: size/M, approved, lgtm, area/web

#3003 Show labels specified in the query parameter
  pkg/app/web/src/components/applications-page/application-filter/index.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#2999 Add more button to fetch deployments older than 1 month
  pkg/app/web/src/api/deployments.ts
  pkg/app/web/src/components/deployments-page/index.tsx
  pkg/app/web/src/constants/ui-text.ts
  pkg/app/web/src/modules/deployments/index.test.ts
  pkg/app/web/src/modules/deployments/index.ts
  pkg/app/web/src/modules/stage-logs/index.test.ts
Labels: size/M, approved, lgtm, area/web

#3010 Add monthly update for January 2022
  docs/content/en/blog/news/january-2022-update.md
  docs/content/en/blog/news/november-2021-update.md
  docs/static/images/january-2022-contributor-list.png
  docs/static/images/january-2022-piped-connection-status.png
  docs/static/images/registering-an-application-from-git.png
Labels: release-note-none, area/docs, approved, size/L, area/site

#3013 Make deployment detail page scrollable
  pkg/app/web/src/components/deployments-detail-page/index.tsx
Labels: approved, lgtm, size/XS, area/web

#2959 Use filestore as datastore RFC
  docs/rfcs/0008-simplify-datastore.md
  docs/rfcs/assets/simplify-datastore-base-idea.png
  docs/rfcs/assets/simplify-datastore-cold-storage.png
  docs/rfcs/assets/simplify-datastore-idea.png
  docs/rfcs/assets/single-ambassador.png
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site

#3012 Suggest possible labels on the apps/deploys filter
  pkg/app/web/src/components/applications-page/application-filter/index.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#3016 Enable to register Environment as a label
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/config/application.go
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/piped, area/site

#3018 Fix diff description and image
  docs/content/en/docs-dev/user-guide/configuration-drift-detection.md
  docs/content/en/docs-v0.23.x/user-guide/configuration-drift-detection.md
  docs/content/en/docs/user-guide/configuration-drift-detection.md
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#3017 Make description changeable via App config
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/api/grpcapi/piped_api.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/config/application.go
  pkg/model/common.proto
Labels: area/docs, approved, lgtm, size/S, area/api, area/piped, area/site

#3020 Simplify Piped installation flow in the quickstart guide
  docs/content/en/docs-dev/quickstart/_index.md
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/service.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/_helpers.tpl
  manifests/piped/templates/configmap.yaml
  manifests/piped/values.yaml
  quickstart/README.md
  quickstart/control-plane-values.yaml
  quickstart/piped-values.yaml
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/manifests, area/site

#3021 Remove duplicate value in version details on application list page
  pkg/app/web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: release-note-none, approved, lgtm

#3022 Put deprecated notes on the Environment tab
  pkg/app/web/src/components/settings-page/index.tsx
Labels: release-note-none, approved, lgtm, size/S, area/web

#3011 Show label on the app detail and list page
  pkg/app/web/src/components/application-detail-page/application-detail/index.tsx
  pkg/app/web/src/components/applications-page/application-list/application-list-item/index.tsx
  pkg/app/web/src/components/applications-page/application-list/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#3023 Remove pipe prefix from proto definition of model package
  pkg/app/api/service/apiservice/service.proto
  pkg/app/api/service/pipedservice/service.proto
  pkg/app/api/service/webservice/service.proto
  pkg/model/analysis_result.proto
  pkg/model/apikey.proto
  pkg/model/application.proto
  pkg/model/application_live_state.proto
  pkg/model/command.proto
  pkg/model/common.proto
  pkg/model/deployment.proto
  pkg/model/deployment_chain.proto
  pkg/model/environment.proto
  pkg/model/event.proto
  pkg/model/insight.proto
  pkg/model/logblock.proto
  pkg/model/notificationevent.proto
  pkg/model/piped.proto
  pkg/model/piped_stat.proto
  pkg/model/planpreview.proto
  pkg/model/project.proto
  pkg/model/role.proto
  pkg/model/user.proto
Labels: release-note-none, approved, lgtm

#3027 Add mention that Env gets deprecated
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/operator-manual/control-plane/adding-an-environment.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#3028 Emphasize deprecated config fields in the doc
  docs/content/en/docs-dev/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#3035 Align deprecated tooltip
  pkg/app/web/src/components/applications-page/application-list/index.tsx
Labels: release-note-none, approved, size/XS, area/web

#3034 Disable deployed by and running commit cols on small screen
  pkg/app/web/src/components/applications-page/application-list/application-list-item/index.tsx
  pkg/app/web/src/components/applications-page/application-list/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#3036 Change the reserved label key for env
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/config/application.go
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/piped, area/site

#3038 Temporarily disable coverage plugin
  .kapetanios/plugin-coverage.yaml
Labels: release-note-none, approved, lgtm, area/kapetanios, size/S

#3044 Re-enable code coverage plugin
  .kapetanios/plugin-coverage.yaml
  .kapetanios/presubmit.yaml
  dockers/piped-base/install-helm.sh
  dockers/piped-base/install-kubectl.sh
  dockers/piped-base/install-kustomize.sh
  dockers/piped-base/install-terraform.sh
  pkg/version/def.bzl
Labels: release-note-none, size/M, approved, area/kapetanios, area/build

#3045 Fix broken template of the root BUILD.bazel
  .kapetanios/presubmit.yaml
  BUILD.bazel.tpl
Labels: release-note-none, area/kapetanios, size/S

#3049 Disable add environment from web
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/web/src/api/environments.ts
  pkg/app/web/src/components/settings-page/environment/index.tsx
  pkg/app/web/src/mocks/services/environment.ts
  pkg/app/web/src/modules/environments/index.test.ts
  pkg/app/web/src/modules/environments/index.ts
Labels: approved, lgtm, size/L, area/web, area/server

#3048 Add a pipectl command to migrate deployment configuration files to application configuration files
  cmd/pipectl/BUILD.bazel
  cmd/pipectl/main.go
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/appconfig/BUILD.bazel
  pkg/app/pipectl/cmd/appconfig/appconfig.go
  pkg/app/pipectl/cmd/appconfig/migratefromdeployconfig.go
  pkg/app/pipectl/cmd/appconfig/migratefromdeployconfig_test.go
  pkg/config/application_kubernetes_test.go
  pkg/config/testdata/application/k8s-app-bluegreen.yaml
Labels: release-note-none, area/docs, approved, lgtm, size/L, area/site, area/pipectl

#3050 Remove env concept from app config file
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/config/application.go
Labels: size/M, area/docs, approved, area/piped, area/site, area/server

#3051 Remove Env from the app additional form
  pkg/app/web/src/components/application-form/index.tsx
Labels: release-note-none, approved, lgtm, size/S, area/web

#3053 Fix the link to server source code
  docs/content/en/docs-dev/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-v0.24.x/contribution-guidelines/control-plane-development.md
  docs/content/en/docs/contribution-guidelines/control-plane-development.md
  hack/gen-grpc-web-client.sh
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/hack, area/site

#3054 Fix unable to run expose generated files command
  Makefile
Labels: release-note-none, approved, size/XS

#3046 Migrage all gPRC requests to new path schema
  local/envoy-config.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
  manifests/pipecd/templates/ingress.yaml
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/web/src/mocks/utils.ts
Labels: release-note-none, approved, lgtm, size/L, area/manifests, area/web, area/server

#3060 Re-enable code coverage
  .kapetanios/presubmit.yaml
Labels: approved, area/kapetanios, size/S

#3056 Add Diff function for CloudRun drift detector
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/diff.go
  pkg/app/piped/cloudprovider/cloudrun/diff_test.go
  pkg/app/piped/cloudprovider/cloudrun/testdata/new_manifest.yaml
  pkg/app/piped/cloudprovider/cloudrun/testdata/old_manifest.yaml
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3064 Bump Node on CI to v16.13.1
  .kapetanios/presubmit.yaml
Labels: release-note-none, approved, lgtm

#3067 Mark remote-upgrade and remote-config as beta status
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/operator-manual/piped/remote-upgrade-remote-config.md
Labels: area/docs, approved, lgtm, size/XS, area/site

#3065 Enable to set event status
  pkg/app/piped/eventwatcher/BUILD.bazel
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/eventstore.go
  pkg/model/event.go
  pkg/model/event.proto
Labels: approved, lgtm, size/L, area/piped, area/server

#3072 Fix the insecure parameter in piped's manifest
  manifests/piped/templates/_helpers.tpl
  manifests/piped/values.yaml
Labels: release-note-none, approved, lgtm, area/manifests, size/S

#3070 Fix EventStore to set UpdatedAt
  pkg/datastore/eventstore.go
Labels: release-note-none, approved, lgtm, size/XS

#3069 Add WebAPI.ListEventsRequest that does nothing yet
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.proto
Labels: release-note-none, approved, lgtm, size/S, area/server

#3076 Fix ECSRunGetter interface return value
  pkg/app/piped/livestatestore/livestatestore.go
Labels: release-note-none, approved

#3079 Change timeout for AddApplicationDrawer test to 50000ms
  pkg/app/web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#3078 Make jest packages up-to-date
  pkg/app/web/package.json
  pkg/app/web/yarn.lock
Labels: release-note-none, approved, area/web, size/XXL

#3073 Add event list components that rely on dummy data
  pkg/app/web/src/components/event-status-icon/index.tsx
  pkg/app/web/src/components/events-page/event-filter/index.tsx
  pkg/app/web/src/components/events-page/event-item/index.tsx
  pkg/app/web/src/components/events-page/index.tsx
  pkg/app/web/src/constants/event-status-text.ts
  pkg/app/web/src/constants/path.ts
  pkg/app/web/src/modules/events/index.ts
  pkg/app/web/src/modules/index.ts
  pkg/app/web/src/routes.tsx
Labels: release-note-none, approved, lgtm, area/web, size/XL

#3084 Grant all roles access to ListEvents
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: release-note-none, approved, size/XS, area/server

#3075 Add list services interface for CloudRun
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3077 Empower WebAPI to list events
  cmd/pipecd/server.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/eventstore.go
  pkg/model/event.go
Labels: release-note-none, approved, lgtm, size/L, area/server

#3058 Add description for AWS Lambda/ECS credentialsFile
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.24.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#3089 Add a Firestore composite index for Event
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: release-note-none, size/M, approved, area/ops

#3085 Add builtin labels for CloudRun
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3092 Ensure to refresh labels on the deploys/apps filter
  pkg/app/web/src/components/applications-page/application-filter/index.tsx
  pkg/app/web/src/components/deployments-page/deployment-filter/index.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#3095 Refactor to use early return pattern
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/kubernetes/manifest.go
Labels: release-note-none, approved, lgtm, size/S

#3097 Fix wrong proto package name for helloworld service
  pkg/app/helloworld/service/service.proto
Labels: release-note-none, approved, lgtm, area/helloworld

#3099 Revert ingress to use "ImplementationSpecific" as pathType since "Prefix" is not being supported by old controllers
  manifests/pipecd/templates/ingress.yaml
Labels: release-note-none, approved, area/manifests, size/S

#3094 Add all Firestore composite indexes for Event
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: release-note-none, approved, lgtm, size/L, area/ops

#3098 Add labels getter method for ServiceManifest
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3093 Change events filter to suggest possible event names
  pkg/app/web/src/components/events-page/event-filter/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#3096 Empower Event list to call ListEvent
  pkg/app/web/src/api/events.ts
  pkg/app/web/src/modules/events/index.ts
Labels: release-note-none, approved, size/L, area/web

#3105 Fix to fetch additional deploys/events anytime
  pkg/app/web/src/modules/deployments/index.test.ts
  pkg/app/web/src/modules/deployments/index.ts
  pkg/app/web/src/modules/events/index.ts
Labels: release-note-none, approved, lgtm, size/S, area/web

#3101 Add ServiceManifest method for handling CloudRun's services
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/client.go
  pkg/app/piped/cloudprovider/cloudrun/client_test.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3110 Update contributor list
  README.md
Labels: release-note-none, approved

#3103 Add MakeManagedByPipedLabel function for filtering CloudRun services with label selector
  pkg/app/piped/cloudprovider/cloudrun/BUILD.bazel
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
Labels: release-note-none, size/M, approved, area/piped

#3116 Fix to pass ctx to NewStore in livestatestore
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/livestatestore/cloudrun/store.go
  pkg/app/piped/livestatestore/livestatestore.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3113 Add collection to datastore interface
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/environmentstore.go
  pkg/datastore/environmentstore_test.go
  pkg/datastore/eventstore.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/firestore/firestore.go
  pkg/datastore/mock.go
  pkg/datastore/mysql/mysql.go
  pkg/datastore/pipedstore.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore.go
  pkg/datastore/projectstore_test.go
  test/integration/datastore/firestore/firestore_test.go
Labels: release-note-none, approved, lgtm, size/XL

#3114 Add livestatestore for CloudRun
  pkg/app/piped/livestatestore/cloudrun/BUILD.bazel
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/cloudrun/store.go
  pkg/app/piped/livestatestore/livestatestore.go
Labels: release-note-none, approved, size/L, area/piped

#3121 Enable edit application config filename via edit app form
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/web/src/components/application-form/index.tsx
  pkg/app/web/src/modules/update-application/index.ts
  pkg/model/application.proto
  pkg/model/common.proto
Labels: approved, lgtm, size/S, area/web, area/server

#3120 Add a new RPC to rename application configuration file
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.proto
Labels: release-note-none, size/M, approved, lgtm, area/server

#3108 Fix event watcher not to handle already handled events
  pkg/app/piped/apistore/eventstore/store.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: release-note-none, approved, size/L, area/piped

#3127 Remove unused Put function from DataStore interface
  pkg/datastore/datastore.go
  pkg/datastore/firestore/firestore.go
  pkg/datastore/mock.go
  pkg/datastore/mysql/mysql.go
  test/integration/datastore/firestore/firestore_test.go
Labels: release-note-none, approved, size/L

#3125 Add a new pipectl command to rename multiple application configuration files
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/appconfig/BUILD.bazel
  pkg/app/pipectl/cmd/appconfig/appconfig.go
  pkg/app/pipectl/cmd/appconfig/migratefromdeployconfig.go
  pkg/app/pipectl/cmd/appconfig/rename.go
  pkg/app/piped/livestatestore/cloudrun/BUILD.bazel
  pkg/model/application.go
Labels: area/docs, approved, lgtm, size/L, area/piped, area/site

#3128 Disable syncing CloudRun services in preparation for next release
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
Labels: release-note-none, size/M, approved, area/piped

#3129 Update user-guide for v0.24.x
  docs/content/en/docs-v0.24.x/user-guide/command-line-tool.md
Labels: release-note-none, approved

#3074 Fix signal stop
  dockers/chart-releaser/DOCKER_BUILD
  dockers/chart-releaser/Dockerfile
  dockers/chart-releaser/main.go
Labels: release-note-none, size/M, approved, lgtm, trigger/needs-ok-to-test

#3130 Release v0.24.1
  docs/content/en/blog/releases/v0.24.1.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#3131 Update user-guide for stable doc
  docs/content/en/docs/user-guide/command-line-tool.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#3132 Release v0.24.2
  docs/content/en/blog/releases/v0.24.2.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#3133 Remove unused build Put query
  pkg/datastore/mysql/query.go
  pkg/datastore/mysql/query_test.go
Labels: release-note-none, approved, lgtm, size/S

#3134 Upgrade dependencies for asset-publisher
  dockers/asset-publisher/DOCKER_BUILD
  dockers/asset-publisher/Dockerfile
  dockers/asset-publisher/go.mod
  dockers/asset-publisher/go.sum
  dockers/asset-publisher/main.go
Labels: release-note-none, size/M, approved

#3136 Update kapetanios to use asset-publisher:0.1.0
  .kapetanios/postsubmit.yaml
Labels: release-note-none, approved, size/XS, area/kapetanios

#3137 Release v0.24.3
  docs/content/en/blog/releases/v0.24.3.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, RELEASE, area/release, size/S, area/site

#3138 Fix wrong repository to push binaries by asset-publisher
  .kapetanios/postsubmit.yaml
  dockers/asset-publisher/DOCKER_BUILD
  dockers/asset-publisher/Dockerfile
  dockers/asset-publisher/main.go
Labels: release-note-none, approved, area/kapetanios, size/S

#3139 Release v0.24.5
  docs/content/en/blog/releases/v0.24.5.md
  release/RELEASE
Labels: release-note-none, area/docs, RELEASE, size/XS, area/release, area/site

#3141 Remove alpha badge of remote-config and remote-update from stable docs and docs-v0.24.x
  docs/content/en/docs-v0.24.x/feature-status/_index.md
  docs/content/en/docs-v0.24.x/operator-manual/piped/remote-upgrade-remote-config.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/operator-manual/piped/remote-upgrade-remote-config.md
Labels: release-note-none, approved

#3143 Revert "Disable syncing CloudRun services in preparation for next release"
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
Labels: release-note-none, size/M, approved, area/piped

#3146 Put links into the MoreVert icon button on the header
  pkg/app/web/src/components/header/index.tsx
Labels: size/M, approved, lgtm, area/web

#3126 Hide comments added previously by actions-planpreview
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/Dockerfile
  dockers/actions-plan-preview/github.go
  dockers/actions-plan-preview/go.mod
  dockers/actions-plan-preview/go.sum
  dockers/actions-plan-preview/main.go
Labels: approved, lgtm, size/L

#3140 Run go mod download only when go.mod changed
  dockers/actions-plan-preview/Dockerfile
Labels: release-note-none, approved, lgtm, size/XS

#3150 Delete unused codes
  pkg/app/ops/modelcleaner/BUILD.bazel
  pkg/app/ops/modelcleaner/cleaner.go
Labels: release-note-none, approved, size/S, area/piped, area/ops

#3153 Update containerd config to fix ImagePullBackOff error
  hack/create-kind-cluster.sh
Labels: release-note-none, approved, size/S, area/hack

#3142 Add MySQL indexes used for Event list
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, lgtm, size/S

#3154 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3145 Call drift detector client for CloudRun
  pkg/app/piped/driftdetector/BUILD.bazel
  pkg/app/piped/driftdetector/detector.go
Labels: release-note-none, approved, size/S, area/piped

#3157 Fix plan-preview action to hide comment
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/main.go
Labels: approved, size/S

#3158 Fix missing DeploymentChain encode type for MySQL storage
  pkg/datastore/mysql/model_wrapper.go
Labels: release-note-none, approved, size/S

#3159 Add a screenshot on the event doc
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/static/images/event-list-page.png
Labels: release-note-none, approved, lgtm, size/XS

#3161 Rename and reorder datastore functions to make them be unified
  pkg/app/server/grpcapi/piped_api.go
  pkg/datastore/apikey.go
  pkg/datastore/applicationstore.go
  pkg/datastore/commandstore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/environmentstore.go
  pkg/datastore/projectstore.go
Labels: release-note-none, size/M, approved, area/piped, area/server

#3162 Fix DiffResult return value when service manifest doesn't have diff
  pkg/app/piped/cloudprovider/cloudrun/diff.go
  pkg/app/piped/cloudprovider/cloudrun/diff_test.go
Labels: release-note-none, approved, size/XS, area/piped

#3163 Add filedb package
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/filedb.go
Labels: release-note-none, size/M, approved

#3167 Fix wrong BUILD.bazel file
  pkg/app/piped/eventwatcher/BUILD.bazel
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3164 Fix unable to fetch list Piped in case of using MySQL as datastore
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, lgtm, size/XS

#3165 Fix unable to add new standalone deployment in case of using MySQL as datastore
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, lgtm, size/XS

#3148 Ensure that old deploy source could be loaded normally even when the config name was changed
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/ops.go
  pkg/app/ops/configfilenamefiller/BUILD.bazel
  pkg/app/ops/configfilenamefiller/configfilenamefiller.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/web/src/__fixtures__/dummy-application.ts
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/app/web/src/components/deployments-detail-page/pipeline/index.stories.tsx
  pkg/datastore/applicationstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/model/application.proto
  pkg/model/deployment.proto
Labels: approved, size/L, area/piped, area/web, area/ops, area/server

#3166 Fix unable to create objects without env_id value in case of using MySQL as datastore
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, lgtm

#3171 Refactor NewDetector for application drift detector
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
Labels: release-note-none, approved, size/S, area/piped

#3172 Fix the query used to list application in ops to reuse an existing index
  pkg/app/ops/configfilenamefiller/configfilenamefiller.go
Labels: release-note-none, approved, size/XS, area/ops
