Repository pipe-cd/pipecd, pull requests merged in 2022-09, with the labels that each got.

#3887 Fix GetProject to set built-in RBAC
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/projectstore.go
  pkg/model/project.go
  pkg/model/project_test.go
  pkg/oauth/github/github.go
  tool/codegen/protoc-gen-auth/file.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
Labels: area/web, area/go, area/tool

#3889 Update codegen version
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

#3890 Update google-protobuf version
  web/package.json
  web/yarn.lock
Labels: area/web

#3894 Define some RBAC gRPCs
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/web, area/go

#3897 Rename gRPCEntityOperationError to gRPCStoreError
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#3900 Rename application details section cloudprovider to platformprovider
  web/src/__fixtures__/dummy-application.ts
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

#3901 Fix long artifact versions showing on application detail page
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

#3904 Fix to check whether the name of role is built-in role or not
  pkg/model/project.go
Labels: area/go

#3905 Add some logs to debug the authorization
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3906 Update the codegen version
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/build, area/go

#3907 Add some debug logs for the authorization
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go

#3908 Remove FilterByNames method to avoid overriding a pointer value
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/go

#3910 Fix a bug of the webservice which causes the permission denied error
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3911 Update the codegen version
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

#3915 Release v0.37.1
  .github/workflows/gen.yaml
  Makefile
  README.md
  RELEASE
  cmd/pipecd/server.go
  docs/content/en/blog/releases/v0.37.1.md
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/model/project.go
  tool/codegen/protoc-gen-auth/file.go
  web/src/__fixtures__/dummy-application.ts
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web, area/build, area/go, area/tool

#3916 Update failed links in examples
  examples/cloudrun/analysis/app.pipecd.yaml
  examples/cloudrun/canary/app.pipecd.yaml
  examples/cloudrun/secret-management/app.pipecd.yaml
  examples/cloudrun/simple/app.pipecd.yaml
  examples/cloudrun/wait-approval/app.pipecd.yaml
  examples/ecs/simple/app.pipecd.yaml
  examples/kubernetes/analysis-by-http/app.pipecd.yaml
  examples/kubernetes/analysis-by-metrics/app.pipecd.yaml
  examples/kubernetes/bluegreen/app.pipecd.yaml
  examples/kubernetes/canary/app.pipecd.yaml
  examples/kubernetes/helm-local-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-git-chart/app.pipecd.yaml
  examples/kubernetes/kustomize-local-base/app.pipecd.yaml
  examples/kubernetes/kustomize-remote-base/app.pipecd.yaml
  examples/kubernetes/mesh-istio-bluegreen/app.pipecd.yaml
  examples/kubernetes/mesh-istio-canary/app.pipecd.yaml
  examples/kubernetes/secret-management/app.pipecd.yaml
  examples/kubernetes/simple/app.pipecd.yaml
  examples/kubernetes/wait-approval/app.pipecd.yaml
  examples/lambda/simple/app.pipecd.yaml
  examples/terraform/autorollback/app.pipecd.yaml
  examples/terraform/local-module/app.pipecd.yaml
  examples/terraform/remote-module/app.pipecd.yaml
  examples/terraform/secret-management/app.pipecd.yaml
  examples/terraform/simple/app.pipecd.yaml
  examples/terraform/wait-approval/app.pipecd.yaml
Labels: area/examples

#3917 Fix the hack command for cherry-pick
  hack/cherry-pick.sh
Labels: area/build

#3922 Remove unused storybook package from web
  web/.scaffdog/component.md
  web/.scaffdog/config.js
  web/.scaffdog/module.md
  web/.scaffdog/page.md
  web/package.json
  web/webpack.common.js
  web/yarn.lock
Labels: area/web

#3920 Remove the deprecated API for k8s
  pkg/app/piped/platformprovider/kubernetes/state.go
Labels: area/go

#3923 Fix active style for the header
  web/src/components/header/index.tsx
Labels: area/web

#3919 Fix the project tab to manage a role and a user group for RBAC
  web/src/api/project.ts
  web/src/components/settings-page/project/components/rbac-form/components/add-user-group-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/delete-user-group-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
  web/src/components/settings-page/project/components/rbac-form/index.tsx
  web/src/constants/toast-text.ts
  web/src/modules/project/index.test.ts
  web/src/modules/project/index.ts
Labels: area/web

#3924 Remove sealsecret code
  pkg/config/config.go
  pkg/config/sealed_secret.go
  pkg/config/sealed_secret_test.go
Labels: area/go

#3926 Delete the deploymentChain from built-in roles
  pkg/model/project.go
Labels: area/go

#3927 Fix the header of the user group table
  web/src/components/settings-page/project/components/rbac-form/components/add-user-group-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

#3930 Fix labels filter in deployments page
  web/src/components/deployments-page/deployment-filter/index.tsx
Labels: area/web

#3931 Fix the quickstart to return built-in roles
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#3933 Remove pipectl install command
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/installation/controlplane.go
  pkg/app/pipectl/cmd/installation/installation.go
Labels: area/go
