Repository pipe-cd/pipecd, pull requests merged in 2022-04, with the labels that each got.

#3478 Add piped agent shard
  pkg/datastore/commandstore_test.go
  pkg/datastore/pipedstore.go
Labels: release-note-none, size/M, approved, lgtm

#3483 Add link for parameters
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.27.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, size/S, area/site

#3479 Add application collection decode logic
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
Labels: release-note-none, approved, lgtm, size/L

#3482 Implement insight deployment frequency web api
  pkg/app/server/grpcapi/BUILD.bazel
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, size/M, approved, lgtm, area/server

#3480 Refactor actions-plan-preview
  dockers/actions-plan-preview/github.go
  dockers/actions-plan-preview/github_test.go
  dockers/actions-plan-preview/main.go
  dockers/actions-plan-preview/main_test.go
  dockers/actions-plan-preview/planpreview_test.go
  dockers/actions-plan-preview/testdata/comment-has-failed-app.txt
  dockers/actions-plan-preview/testdata/issue-comment-payload.json
  dockers/actions-plan-preview/testdata/pull-request-payload.json
Labels: release-note-none, approved, lgtm, size/XL

#3486 Add CI tests for dockers directory
  .github/workflows/dockers_test.yaml
Labels: release-note-none, approved, lgtm, size/S

#3477 Implement project method for RBAC
  pkg/model/project.go
  pkg/model/project_test.go
Labels: release-note-none, approved, lgtm, size/L

#3444 Show deployment frequency graph in the Insights page
  web/src/api/insight.ts
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/components/insight-page/insight-header/week-picker/index.tsx
  web/src/constants/insight-step-text.ts
  web/src/modules/deployment-frequency/index.test.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/index.ts
  web/src/modules/insight/index.test.ts
  web/src/modules/insight/index.ts
Labels: approved, lgtm, area/web, size/XL

#3490 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3491 Move the source code from actions-gh-release repository
  .github/workflows/dockers_test.yaml
  dockers/actions-gh-release/.gitattributes
  dockers/actions-gh-release/.gitignore
  dockers/actions-gh-release/DOCKER_BUILD
  dockers/actions-gh-release/Dockerfile
  dockers/actions-gh-release/Makefile
  dockers/actions-gh-release/comment.go
  dockers/actions-gh-release/comment_test.go
  dockers/actions-gh-release/filematcher.go
  dockers/actions-gh-release/git.go
  dockers/actions-gh-release/git_test.go
  dockers/actions-gh-release/github.go
  dockers/actions-gh-release/go.mod
  dockers/actions-gh-release/go.sum
  dockers/actions-gh-release/main.go
  dockers/actions-gh-release/main_test.go
  dockers/actions-gh-release/release.go
  dockers/actions-gh-release/release_test.go
  dockers/actions-gh-release/testdata/empty-config.txt
  dockers/actions-gh-release/testdata/has-category-release-note.txt
  dockers/actions-gh-release/testdata/log.txt
  dockers/actions-gh-release/testdata/multi-release-comment.txt
  dockers/actions-gh-release/testdata/no-category-release-note.txt
  dockers/actions-gh-release/testdata/no-release-comment.txt
  dockers/actions-gh-release/testdata/one-release-comment.txt
  dockers/actions-gh-release/testdata/valid-config.txt
  dockers/actions-plan-preview/planpreview_test.go
Labels: release-note-none, approved, lgtm, size/XXL

#3492 Missing type casting
  pkg/app/server/grpcapi/piped_api.go
Labels: release-note-none, approved, lgtm, size/XS, area/server

#3488 Fix unable to filter model correctly in case of filter options contain omitted field
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/filter_test.go
Labels: release-note-none, approved, lgtm, size/L

#3493 Rename the dockers directory in Kapetanios config
  .kapetanios/plugin-docker.yaml
Labels: release-note-none, approved, lgtm, size/XS, area/kapetanios

#3487 Add GetAll methods for RBAC
  pkg/model/project.go
  pkg/model/project_test.go
Labels: release-note-none, approved, lgtm, size/L

#3496 Remove unused debug-base image
  WORKSPACE
  tool/debug-base/DOCKER_BUILD
  tool/debug-base/Dockerfile
Labels: release-note-none, approved, size/S

#3497 Update field name normalize logic
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/filter_test.go
Labels: release-note-none, approved, size/S

#3500 Fix unable to filter object correctly in case the object value field of type int64
  pkg/datastore/filedb/filedb.go
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/filter_test.go
Labels: release-note-none, size/M, approved, lgtm, todo/skip

#3502 Increase PerPage option to 100 when calling the User's Team List API
  pkg/oauth/github/github.go
Labels: approved, lgtm, size/XS, trigger/needs-ok-to-test

#3504 Temporary disable Insights API to hide it before release
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, approved, lgtm, size/L, area/ops, area/server

#3505 Release v0.27.2
  docs/content/en/blog/releases/v0.27.2.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#3507 fix-docs: default version links
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.27.x/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
Labels: release-note-none, area/docs, approved, lgtm, size/S, area/site

#3508 Fix Cloud Run example
  examples/cloudrun/canary/service.yaml
  examples/cloudrun/wait-approval/service.yaml
Labels: release-note-none, approved, size/XS

#3509 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3503 Add new command type and stage status for skipping stage
  pkg/model/command.pb.go
  pkg/model/command.pb.validate.go
  pkg/model/command.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/command_pb.d.ts
  web/model/command_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/modules/commands/index.ts
  web/src/modules/deployments/index.ts
Labels: release-note-none, approved, lgtm, area/web, size/XL

#3511 Mapping command model fields to its shards
  pkg/datastore/commandstore.go
Labels: release-note-none, approved, size/XS

#3512 Handle declared type
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/filter_test.go
Labels: release-note-none, size/M, approved, lgtm

#3517 Update README overview explanation image
  README.md
Labels: release-note-none, approved, lgtm, size/XS

#3514 Fix the deployment model method
  pkg/app/piped/controller/scheduler.go
  pkg/app/server/grpcapi/web_api.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: release-note-none, approved, lgtm, size/L, area/piped, area/server

#3516 Fix invalid lambda example
  examples/lambda/analysis/app.pipecd.yaml
Labels: release-note-none, approved, size/XS

#3518 Add signatureValueFile fields for webhook notification
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  pkg/app/piped/notifier/webhook.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/notification-receiver-webhook
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/piped, area/site

#3519 Refactor to use IsCompleted instead of IsCompletedDeployment
  pkg/app/ops/deploymentchaincontroller/updater.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/trigger/determiner.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/deploymentstore.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: release-note-none, size/M, approved, lgtm

#3520 Add missing types
  pkg/datastore/filedb/filter.go
Labels: release-note-none, approved, size/XS

#3523 Release v0.27.3
  docs/content/en/blog/releases/v0.27.3.md
  release/RELEASE
Labels: release-note-none, size/M, area/docs, approved, lgtm, RELEASE, area/release, area/site

#3448 Add play environment introduction blog
  docs/content/en/blog/news/play-environment.md
  docs/static/images/play-environment-application.png
  docs/static/images/play-environment-deployment.png
  docs/static/images/play-environment-github-login.png
  docs/static/images/play-environment-login.png
  docs/static/images/play-environment-overview.png
  docs/static/images/play-plan-preview.png
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3524 Update docs for piped configuration
  docs/content/en/docs-v0.27.x/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-v0.27.x/user-guide/configuration-reference.md
  docs/content/en/docs/operator-manual/piped/configuration-reference.md
Labels: release-note-none, area/docs, approved, size/XS, area/site

#3530 Terraform module version optional
  pkg/app/piped/cloudprovider/terraform/module.go
  pkg/app/piped/cloudprovider/terraform/module_test.go
  pkg/app/piped/cloudprovider/terraform/testdata/single_module_optional/helloworld/main.tf
  pkg/app/piped/cloudprovider/terraform/testdata/single_module_optional/main.tf
  pkg/model/common.pb.go
  pkg/model/common.pb.validate.go
  pkg/model/common.proto
Labels: approved, size/L, area/piped

#3533 Release v0.27.4
  docs/content/en/blog/releases/v0.27.4.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#3532 Define the web api rpc for RBAC
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: release-note-none, approved, lgtm, area/web, size/XXL, area/server

#3525 Handle skipped stage by piped
  pkg/app/piped/apistore/commandstore/store.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/analysis/analysis.go
Labels: release-note-none, size/M, approved, lgtm, area/piped

#3529 Implement the gateway for skipping stage
  pkg/app/server/grpcapi/web_api.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: release-note-none, approved, lgtm, size/L, area/server

#3535 Allow customizing the ServiceAccount for workload of PipeCD Helm chart
  manifests/pipecd/templates/_helpers.tpl
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/serviceaccount.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/deployment.yaml
Labels: size/M, approved, lgtm, area/manifests, trigger/needs-ok-to-test

#3536 Refine error handling on api layer
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, approved, lgtm, size/S, area/server

#3537 Add the authentication for SkipStage
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: release-note-none, approved, lgtm, size/XS, area/server

#3538 Tag manifests publishing by actions with a real version number
  .github/workflows/publish.yaml
Labels: release-note-none, approved, lgtm, size/S

#3540 Fix the wrong way to cancel the context
  pkg/app/piped/executor/analysis/analysis.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3541 Handle the skipped status for executor
  pkg/app/piped/controller/scheduler.go
Labels: release-note-none, approved, size/XS, area/piped

#3513 Support push events for action-plan-preview
  tool/actions-plan-preview/github.go
  tool/actions-plan-preview/github_test.go
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/testdata/push-event-payload.json
Labels: release-note-none, approved, lgtm, size/L

#3544 Ensure the repo was cloned with full tags to make a correct version number
  .github/workflows/publish.yaml
Labels: release-note-none, approved, size/XS

#3545 Publish piped-okd container image to GH package registry
  .github/workflows/publish.yaml
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
Labels: release-note-none, approved, lgtm, size/S, area/piped, area/server, area/pipectl

#3546 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3548 Rename web static directory
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  web/BUILD.bazel
Labels: release-note-none, approved, lgtm, size/XS, area/web, area/server

#3549 Embed web static into the pipecd docker image
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
  CODEOWNERS
  Makefile
  cmd/pipecd/Dockerfile
Labels: release-note-none, approved, lgtm, size/S, area/server

#3553 Update Makefile
  Makefile
Labels: release-note-none, approved, size/XS, trigger/needs-ok-to-test

#3554 Update Makefile
  Makefile
Labels: release-note-none, approved, size/XS, trigger/needs-ok-to-test

#3555 Add me
  README.md
Labels: release-note-none, approved, size/XS, trigger/needs-ok-to-test

#3528 Add a dialog for skipping the analysis stage
  web/src/api/deployments.ts
  web/src/components/deployments-detail-page/log-viewer/index.test.tsx
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/constants/metadata-keys.ts
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
  web/src/modules/stage-logs/index.test.ts
Labels: approved, size/L, area/web

#3552 Switch ops to use docker image on ghcr
  manifests/pipecd/values.yaml
Labels: release-note-none, approved, lgtm, size/XS, area/manifests

#3557 Disable CGO while building go artifacts
  .github/workflows/publish.yaml
Labels: release-note-none, approved, size/S

#3559 Fix the location to store bin files in docker images
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
Labels: release-note-none, size/S, area/piped, area/helloworld, area/server, area/pipectl, area/launcher

#3556 Redefine the interface for project rbac
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/projectstore.go
Labels: release-note-none, approved, lgtm, size/L

#3560 Stamp build info to go binaries
  .github/workflows/publish.yaml
  Makefile
Labels: release-note-none, size/S

#3561 Switch server to use docker image on ghcr
  manifests/pipecd/values.yaml
Labels: release-note-none, approved, size/XS, area/manifests

#3562 Start publishing helm charts on GHCR
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
  Makefile
  manifests/pipecd/Chart.yaml
  manifests/piped/Chart.yaml
Labels: release-note-none, size/M, area/manifests

#3564 Enable event-watcher in workflow
  .github/workflows/publish.yaml
Labels: release-note-none, size/XS

#3565 Update docs to use Helm chart from OCI registry
  docs/content/en/docs-dev/operator-manual/control-plane/installation.md
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-kubernetes.md
  docs/content/en/docs-dev/quickstart/_index.md
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/site

#3563 Add message to visitors
  web/src/index.tsx
Labels: release-note-none, approved, size/S, area/web

#3566 Remove rules_docker from project
  .kapetanios/plugin-template.yaml
  .kapetanios/postsubmit.yaml
  WORKSPACE
  cmd/BUILD.bazel
  cmd/helloworld/BUILD.bazel
  cmd/image.bzl
  cmd/launcher/BUILD.bazel
  cmd/pipecd/BUILD.bazel
  cmd/pipectl/BUILD.bazel
  cmd/piped/BUILD.bazel
Labels: release-note-none, approved, lgtm, size/L, area/kapetanios, area/piped, area/helloworld, area/build, area/server, area/pipectl, area/launcher

#3568 Start publishing site image to GHCR
  .github/workflows/publish.yaml
Labels: release-note-none, size/M

#3569 Start publishing site chart to GHCR
  .github/workflows/publish.yaml
  manifests/site/Chart.yaml
  manifests/site/templates/deployment.yaml
  manifests/site/values.yaml
Labels: release-note-none, size/M, area/manifests

#3570 Start publishing helloworld chart to GHCR
  .github/workflows/publish.yaml
  manifests/helloworld/Chart.yaml
  manifests/helloworld/templates/deployment.yaml
  manifests/helloworld/values.yaml
Labels: release-note-none, approved, area/manifests, size/S

#3567 Limit height for possible multiple rows column on application list page
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: release-note-none, approved, lgtm, size/L, area/web

#3571 Stop publishing site image to GCR
  .kapetanios/postsubmit.yaml
Labels: release-note-none, size/M, area/kapetanios

#3572 Update to build frontend without Bazel
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  .kapetanios/presubmit.yaml
  Makefile
  WORKSPACE
  cmd/pipecd/BUILD.bazel
  web/BUILD.bazel
  web/jest.config.local.js
  web/package.json
  web/webpack.common.js
  web/webpack.config.dev.js
  web/webpack.config.js
Labels: release-note-none, approved, lgtm, size/L, area/kapetanios, area/web, area/server

#3577 Rename Control Plane keyword
  docs/content/en/docs-dev/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-dev/contribution-guidelines/piped-development.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/operator-manual/control-plane/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/control-plane/installation.md
  docs/content/en/docs-dev/operator-manual/control-plane/metrics.md
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-google-cloud-vm.md
  docs/content/en/docs-dev/operator-manual/piped/installation/installing-on-kubernetes.md
  docs/content/en/docs-dev/overview/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/plan-preview.md
Labels: release-note-none, size/M, area/docs, area/site

#3573 Rename the grpc api for the RBAC
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: release-note-none, area/web, size/XXL, area/server

#3579 Update actions-plan-preview image to 1.8.0
  tool/actions-plan-preview/DOCKER_BUILD
Labels: release-note-none, size/XS

#3582 Add gomock reflect to gitignore
  .gitignore
Labels: release-note-none, size/XS

#3578 Support PodDisruptionBudget
  pkg/app/piped/cloudprovider/kubernetes/resourcekey.go
  pkg/app/piped/cloudprovider/kubernetes/state.go
Labels: size/S, area/piped

#3585 Refactor make commands and workflows on CI
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  Makefile
Labels: release-note-none, size/L

#3586 Rename backend into go
  .github/workflows/publish.yaml
Labels: release-note-none, size/XS

#3584 Remove environment concept from model
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/model/common.pb.go
  pkg/model/common.pb.validate.go
  pkg/model/common.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  pkg/model/deployment_chain.pb.go
  pkg/model/deployment_chain.proto
  pkg/model/piped.pb.go
  pkg/model/piped.proto
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  pkg/model/project.pb.go
  pkg/model/project.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
  web/model/common_pb.d.ts
  web/model/common_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: release-note-none, area/web, size/XXL, todo/skip

#3580 Update docs to use new command list
  Makefile
  docs/content/en/docs-dev/contribution-guidelines/development.md
  manifests/README.md
  manifests/RELEASE
Labels: release-note-none, size/M, area/docs, area/manifests, area/site

#3589 Remove env from web source and Application model
  pkg/app/server/grpcapi/web_api.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/__fixtures__/dummy-application.ts
  web/src/components/application-form/index.tsx
  web/src/modules/applications/index.ts
  web/yarn.lock
Labels: release-note-none, size/L, area/web, area/server

#3588 Simplify the way to run PipeCD locally
  Makefile
  docs/content/en/docs-dev/contribution-guidelines/control-plane-development.md
  docs/content/en/docs-dev/contribution-guidelines/piped-development.md
Labels: release-note-none, size/M, area/docs, area/site

#3590 Fix workflows to use the same version of setup-node
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  pkg/model/application.pb.go
Labels: release-note-none, size/S

#3581 Implement some methods for RBAC
  pkg/model/project.go
  pkg/model/project_test.go
Labels: release-note-none, size/XL

#3594 Fix wrong indent in workflow
  .github/workflows/publish_tag.yaml
Labels: release-note-none, size/XS

#3593 Fix missing version while building web
  web/package.json
  web/src/components/header/index.tsx
  web/webpack.config.dev.js
  web/webpack.config.js
Labels: release-note-none, size/S, area/web

#3596 Remove environment concept from pipectl apis
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: release-note-none, size/XL, area/server

#3598 Fix missing method on the struct notification event
  pkg/app/piped/notifier/matcher_test.go
  pkg/model/notificationevent.go
Labels: size/L, area/piped
