Repository pipe-cd/pipecd, pull requests merged in 2022-07, with the labels that each got.

#3784 Add the tool of firestore-emulator
  .github/workflows/build_tool.yaml
  .github/workflows/publish_tool.yaml
  tool/firestore-emulator/Dockerfile
Labels: area/build, area/tool

#3785 Update login-action version
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

#3786 Make the piped agent pod force auto restart controllable via helm values
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: area/manifests

#3787 Remove environment from database
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/datastore/mysql/ensurer/schema.sql
Labels: area/go

#3788 Update list application query for migration task
  pkg/app/ops/platformprovidermigration/runner.go
Labels: area/go

#3791 Add running log for migration task runner
  pkg/app/ops/platformprovidermigration/runner.go
Labels: area/go

#3797 Make gen/release-docs command ouput consistent
  hack/gen-release-docs.sh
Labels: area/build

#3796 Fix the image of firestore-emulator
  tool/firestore-emulator/Dockerfile
Labels: area/tool

#3790 Add configuration to allow routing Kubernetes resources to multiple platform providers
  pkg/config/application_kubernetes.go
  pkg/config/application_kubernetes_test.go
  pkg/config/testdata/application/k8s-app-resource-route.yaml
Labels: area/go

#3798 Add the application integration test for MySQL
  pkg/datastore/mysql/ensurer/client.go
  pkg/datastore/mysql/ensurer/sqlsensurer.go
  pkg/datastore/mysql/mysql.go
  test/integration/datastore/mysql/application_test.go
  test/integration/datastore/mysql/main_test.go
  test/integration/datastore/mysql/mysql_test.go
Labels: area/go

#3808 Add the cherry-pick script as a hack command
  hack/cherry-pick.sh
Labels: area/build

#3814 Add platformProviders config to piped
  pkg/app/piped/cloudprovider/cloudrun/cloudrun.go
  pkg/app/piped/cloudprovider/ecs/ecs.go
  pkg/app/piped/cloudprovider/kubernetes/applier.go
  pkg/app/piped/cloudprovider/lambda/lambda.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/executor/terraform/rollback.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/application.go
  pkg/model/platformprovider.go
Labels: area/go

#3818 Make annoying log entries to be DEBUG level
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/handler.go
  pkg/app/piped/trigger/trigger.go
Labels: area/go

#3817 Update k8s executor to follow specified routes when applying manifests
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/config/application_kubernetes.go
Labels: area/go

#3821 Replace CloudProvider with PlatformProvider in all application forms
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/applicationstore.go
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/applications.ts
  web/src/components/application-form/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/web, area/go

#3823 Update stores reflect CloudProvider rename to PlatformProvider
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/pipedstore.go
Labels: area/go

#3824 Sort suggested pipeds and apps by the name
  web/src/components/application-form/index.tsx
Labels: area/web

#3826 Fix selectable PlatformProvider value in application form
  web/src/components/application-form/index.tsx
Labels: area/web
