Repository pipe-cd/pipecd, pull requests merged in 2022-10, with the labels that each got.

#3932 Quickstart command
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/app/pipectl/cmd/quickstart/tool_darwin.go
  pkg/app/pipectl/cmd/quickstart/tool_linux.go
Labels: area/go

#3935 Fix a typo on the issue template
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: area/build

#3936 Add the CLA job as a github action
  .github/workflows/cla.yaml
Labels: area/build

#3938 Add an allowlist to pass the CLA job for a bot
  .github/workflows/cla.yaml
Labels: area/build

#3939 Add copy diff button
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

#3940 Refactor to use a legit type
  web/src/api/project.ts
Labels: area/web

#3942 Change piped forms from drawer to dialog on setting pages
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
  web/src/components/settings-page/piped/components/edit-piped-dialog/index.tsx
  web/src/components/settings-page/piped/components/piped-form/index.tsx
  web/src/components/settings-page/piped/index.tsx
Labels: area/web

#3945 Fix a typo for the cherry-pick command
  hack/cherry-pick.sh
Labels: area/build

#3944 Cherry-pick #3930 #3931 #3933 #3935 #3936 #3938 #3939 #3940 #3942 #3943
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/workflows/cla.yaml
  RELEASE
  cmd/pipectl/main.go
  docs/content/en/blog/releases/v0.38.1.md
  pkg/app/pipectl/cmd/installation/controlplane.go
  pkg/app/pipectl/cmd/installation/installation.go
  pkg/app/server/grpcapi/web_api.go
  web/src/api/project.ts
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
  web/src/components/deployments-page/deployment-filter/index.tsx
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
  web/src/components/settings-page/piped/components/edit-piped-dialog/index.tsx
  web/src/components/settings-page/piped/components/piped-form/index.tsx
  web/src/components/settings-page/piped/index.tsx
Labels: area/web, area/build, area/go

#3946 Support the priorityClassName for the Pod priority
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: area/manifests

#3951 Add the command to push helm repo
  Makefile
Labels: area/build

#3952 Fix typos on notification event
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.32.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.33.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.34.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.35.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs/user-guide/managing-piped/configuring-notifications.md
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#3953 Remove deprecated fields from piped notification config
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

#3947 Introduce pipectl quickstart command
  go.mod
  go.sum
  pkg/app/pipectl/cmd/quickstart/quickstart.go
Labels: area/go

#3955 Fix the allowlist for CLA
  .github/workflows/cla.yaml
Labels: area/build

#3960 Cherry-pick #3932 #3945 #3946 #3947 #3950 #3951 #3952 #3953 #3955 #3956 #3957
  .github/workflows/cla.yaml
  Makefile
  RELEASE
  cmd/pipectl/main.go
  docs/content/en/blog/releases/v0.38.2.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.32.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.33.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.34.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.34.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.35.x/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-v0.35.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.36.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.38.x/quickstart/_index.md
  docs/content/en/docs-v0.38.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-piped/configuring-notifications.md
  docs/static/images/quickstart-login-form.png
  docs/static/images/quickstart-piped-registered.png
  go.mod
  go.sum
  hack/cherry-pick.sh
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/app/pipectl/cmd/quickstart/tool_darwin.go
  pkg/app/pipectl/cmd/quickstart/tool_linux.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/manifests, area/build, area/go

#3959 Disable a scrolling table for RBAC
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

#3961 Fix the typo for Makefile
  Makefile
Labels: area/build

#3963 Fix the menu design for APIKey
  web/src/components/settings-page/api-key/components/disable-api-key-confirm-dialog/index.tsx
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

#3962 Enable closing the dialog when clicking an another area
  web/src/components/settings-page/project/components/rbac-form/components/delete-user-group-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

#3965 Fix the validations for managing RBAC
  pkg/datastore/projectstore_test.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
Labels: area/go

#3941 Add sprig functions to secret template
  go.mod
  go.sum
  pkg/app/piped/sourcedecrypter/decrypter.go
  pkg/app/piped/sourcedecrypter/decrypter_test.go
Labels: area/go

#3903 Make it possible to skip following stages when plan result is no changes
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/config/application_terraform.go
  pkg/config/application_terraform_test.go
  pkg/config/testdata/application/terraform-app-with-exit.yaml
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  pkg/model/deployment_test.go
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/modules/deployments/index.test.ts
  web/src/modules/deployments/index.ts
Labels: area/web, area/go
