Repository pipe-cd/pipecd, pull requests merged in 2022-03, with the labels that each got.

#3322 Implement create interface for filedb database
  pkg/datastore/apikey.go
  pkg/datastore/applicationstore.go
  pkg/datastore/commandstore.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/eventstore.go
  pkg/datastore/filedb/codec.go
  pkg/datastore/filedb/filedb.go
  pkg/datastore/pipedstore.go
  pkg/datastore/projectstore.go
Labels: release-note-none, approved, size/L

#3324 Remove environment model
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/mysql/model_wrapper.go
  pkg/model/BUILD.bazel
  pkg/model/environment.proto
Labels: release-note-none, size/M, approved, lgtm

#3327 Delete login name check
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/github.go
Labels: approved, size/XS

#3326 Remove redis from api dependencies
  cmd/pipecd/BUILD.bazel
  cmd/pipecd/server.go
  pkg/app/server/grpcapi/BUILD.bazel
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
Labels: release-note-none, size/M, approved, lgtm, area/server

#3299 Improve false positives when using Secret with stringData in k8s
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cloudprovider/kubernetes/diff_test.go
Labels: approved, lgtm, size/L, area/piped

#3330 Run missing gazelle update
  BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
Labels: release-note-none, approved, size/XS, area/piped

#3328 Display version information to web
  pkg/app/web/BUILD.bazel
  pkg/app/web/package.json
  pkg/app/web/src/components/header/index.tsx
  pkg/app/web/webpack.config.dev.js
  pkg/app/web/webpack.config.js
Labels: size/M, approved, area/web

#3332 Move menu to be lower to avoid overlapping the tab bar.
  pkg/app/web/BUILD.bazel
  pkg/app/web/src/components/header/index.tsx
  pkg/app/web/webpack.config.js
Labels: approved, lgtm, size/XS, area/web

#3333 Make link to docs icon clickable
  pkg/app/web/src/components/header/index.tsx
Labels: release-note-none, approved, lgtm, area/web

#3335 Add etag to the object attribute struct
  pkg/filestore/filestore.go
  pkg/filestore/gcs/gcs.go
  pkg/filestore/minio/minio.go
  pkg/filestore/s3/s3.go
Labels: release-note-none, approved, size/XS

#3336 Run missing make gazelle
  pkg/app/web/BUILD.bazel
Labels: release-note-none, approved, size/S, area/web

#3337 Change version in web copyable
  pkg/app/web/src/components/header/index.tsx
Labels: release-note-none, approved, size/XS, area/web

#3329 Implement list interface for filedb
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/filedb.go
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/iterator.go
  pkg/datastore/filedb/objectcache/BUILD.bazel
  pkg/datastore/filedb/objectcache/cache.go
Labels: release-note-none, approved, size/L, area/piped

#3341 Add a new docker image used to generate code
  Makefile
  dockers/codegen/DOCKER_BUILD
  dockers/codegen/Dockerfile
  dockers/codegen/codegen.sh
Labels: release-note-none, approved, size/L

#3348 Add an action to validate generated code
  .github/workflows/validate-generated-code.yaml
  Makefile
  dockers/codegen/DOCKER_BUILD
  dockers/codegen/codegen.sh
Labels: release-note-none, size/M, approved

#3340 Add ArtifactVersion to KubernetesApp Deployment
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/planner/kubernetes/testdata/version_multi_workloads_same_image.yaml
  pkg/app/piped/planner/planner.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/web/src/__fixtures__/dummy-deployment.ts
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/model/application.proto
  pkg/model/common.proto
  pkg/model/deployment.proto
Labels: release-note-none, approved, lgtm, size/L, area/piped, area/web, area/server

#3351 Upgrade grpc-go and protobuf to latest versions
  WORKSPACE
  go.mod
  go.sum
  pkg/rpc/grpc_test.go
  repositories.bzl
Labels: release-note-none, size/M, approved, area/build

#3352 Update dependencies in codegen to latests
  .github/workflows/validate-generated-code.yaml
  Makefile
  dockers/codegen/DOCKER_BUILD
  dockers/codegen/Dockerfile
  dockers/codegen/codegen.sh
Labels: release-note-none, approved

#3353 Refresh generated code
  pkg/app/helloworld/service/service.pb.go
  pkg/app/helloworld/service/service_grpc.pb.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/app/web/api_client/service_pb.js
  pkg/app/web/model/analysis_result_pb.js
  pkg/app/web/model/apikey_pb.js
  pkg/app/web/model/application_live_state_pb.js
  pkg/app/web/model/application_pb.d.ts
  pkg/app/web/model/application_pb.js
  pkg/app/web/model/command_pb.js
  pkg/app/web/model/common_pb.d.ts
  pkg/app/web/model/common_pb.js
  pkg/app/web/model/deployment_chain_pb.js
  pkg/app/web/model/deployment_pb.d.ts
  pkg/app/web/model/deployment_pb.js
  pkg/app/web/model/event_pb.js
  pkg/app/web/model/insight_pb.js
  pkg/app/web/model/logblock_pb.js
  pkg/app/web/model/notificationevent_pb.js
  pkg/app/web/model/piped_pb.js
  pkg/app/web/model/piped_stat_pb.js
  pkg/app/web/model/planpreview_pb.js
  pkg/app/web/model/project_pb.js
  pkg/app/web/model/role_pb.js
  pkg/app/web/model/user_pb.js
  pkg/model/analysis_result.pb.go
  pkg/model/apikey.pb.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application_live_state.pb.go
  pkg/model/command.pb.go
  pkg/model/common.pb.go
  pkg/model/common.pb.validate.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment_chain.pb.go
  pkg/model/event.pb.go
  pkg/model/insight.pb.go
  pkg/model/logblock.pb.go
  pkg/model/notificationevent.pb.go
  pkg/model/piped.pb.go
  pkg/model/piped_stat.pb.go
  pkg/model/planpreview.pb.go
  pkg/model/project.pb.go
  pkg/model/role.pb.go
  pkg/model/user.pb.go
Labels: release-note-none, approved, area/web, size/XXL, area/helloworld, area/server

#3357 Fix flaky tests
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
Labels: release-note-none, approved, size/XS, area/piped

#3356 Use codegen to generate Go mock files
  .gitignore
  Makefile
  bazel/gomock.bzl
  dockers/codegen/DOCKER_BUILD
  dockers/codegen/Dockerfile
  dockers/codegen/codegen.sh
  pkg/app/piped/cloudprovider/kubernetes/providertest/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/providertest/mock.go
  pkg/app/piped/cloudprovider/kubernetes/providertest/provider.mock.go
  pkg/cache/cachetest/BUILD.bazel
  pkg/cache/cachetest/cache.mock.go
  pkg/cache/cachetest/mock.go
  pkg/datastore/datastoretest/BUILD.bazel
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/datastoretest/mock.go
  pkg/filestore/filestoretest/BUILD.bazel
  pkg/filestore/filestoretest/filestore.mock.go
  pkg/filestore/filestoretest/mock.go
  pkg/git/gittest/BUILD.bazel
  pkg/git/gittest/git.mock.go
  pkg/git/gittest/mock.go
  pkg/insight/insightstore/insightstoretest/BUILD.bazel
  pkg/insight/insightstore/insightstoretest/insightstore.mock.go
  pkg/insight/insightstore/insightstoretest/mock.go
  pkg/jwt/jwttest/BUILD.bazel
  pkg/jwt/jwttest/jwt.mock.go
  pkg/jwt/jwttest/mock.go
  pkg/redis/redistest/BUILD.bazel
  pkg/redis/redistest/mock.go
  pkg/redis/redistest/redis.mock.go
Labels: release-note-none, approved, lgtm, area/piped, size/XXL, area/build

#3359 Use Go embed for static texts
  .gitignore
  BUILD.bazel
  WORKSPACE
  hack/expose-generated-go.sh
  hack/gen-go-strings/main.go
  pkg/app/ops/firestoreindexensurer/BUILD.bazel
  pkg/app/ops/firestoreindexensurer/indexes.go
  pkg/app/ops/handler/BUILD.bazel
  pkg/app/ops/handler/handler.go
  pkg/app/server/grpcapi/BUILD.bazel
  pkg/datastore/mysql/ensurer/BUILD.bazel
  pkg/datastore/mysql/ensurer/client.go
Labels: release-note-none, approved, size/L, area/hack, area/ops, area/server

#3360 Remove unused commands, scripts
  .github/workflows/validate-generated-code.yaml
  CODEOWNERS
  Makefile
  docs/content/en/docs-dev/contribution-guidelines/development.md
  hack/boilerplate.go.txt
  hack/gen-grpc-web-client.sh
Labels: release-note-none, size/M, area/docs, approved, lgtm, area/hack, area/site

#3361 Fix bug that Launcher could not load the new format of Piped config
  pkg/app/launcher/cmd/launcher/BUILD.bazel
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: release-note-none, size/M, approved

#3362 Move launcher config to config package
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/config/BUILD.bazel
  pkg/config/launcher.go
Labels: release-note-none, approved, lgtm, size/L

#3364 Implement update interface for filedb
  pkg/datastore/filedb/filedb.go
Labels: release-note-none, size/M, approved, lgtm

#3366 Update protoc-gen-validate to v0.6.6
  go.mod
  go.sum
  repositories.bzl
Labels: release-note-none, approved, lgtm, size/L, area/build

#3365 Add launcher_version to Piped metrics
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#3367 Add experimental GitHub actions for CI jobs
  .github/workflows/build-test.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/publish-artifacts.yaml
  cmd/pipecd/Dockerfile
Labels: release-note-none, size/M, approved, area/server

#3369 Fix wrong GitHub actions configuration
  .github/workflows/build-test.yaml
  .github/workflows/publish-artifacts.yaml
Labels: release-note-none, approved, lgtm, size/XS

#3372 Add missing context for docker build
  .github/workflows/publish-artifacts.yaml
Labels: release-note-none, size/XS

#3374 Add build and test jobs for both backend and frontend
  .github/workflows/build.yaml
  .github/workflows/codegen.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Labels: release-note-none, size/M

#3368 Determine artifact version for Cloud Run
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest.go
  pkg/app/piped/cloudprovider/cloudrun/servicemanifest_test.go
  pkg/app/piped/planner/cloudrun/cloudrun.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3381 Update commands related to web development in docs
  .github/workflows/codegen.yaml
  docs/content/en/docs-dev/contribution-guidelines/control-plane-development.md
  web/README.md
Labels: release-note-none, area/docs, approved, size/XS, area/web, area/site

#3385 Output artifact versions for ecs deployment
  pkg/app/piped/cloudprovider/ecs/BUILD.bazel
  pkg/app/piped/cloudprovider/ecs/task.go
  pkg/app/piped/cloudprovider/ecs/task_test.go
  pkg/app/piped/planner/ecs/ecs.go
Labels: release-note-none, approved, size/L, area/piped

#3382 Show artifact versions
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: size/M, approved, lgtm, area/web

#3387 Add id to condition
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/ops/insightcollector/deployments.go
  pkg/app/ops/insightcollector/deployments_test.go
Labels: release-note-none, approved, lgtm, size/L, area/ops

#3388 Add index to CompletedAt
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: release-note-none, approved, size/XS

#3389 Add filedb filter logic
  pkg/datastore/datastore.go
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/filter_test.go
Labels: release-note-none, approved, size/L

#3370 Remarshal manifest to decrease false-positive
  NOTICE.txt
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/diff.go
  pkg/app/piped/cloudprovider/kubernetes/diff_test.go
  pkg/app/piped/cloudprovider/kubernetes/diffutil.go
  pkg/app/piped/cloudprovider/kubernetes/diffutil_test.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planner/kubernetes/BUILD.bazel
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: release-note-none, approved, size/L, area/piped

#3390 Output artifact versions for lambda deployment
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/cloudprovider/lambda/function.go
  pkg/app/piped/cloudprovider/lambda/function_test.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/git/url.go
  pkg/model/common.pb.go
  pkg/model/common.proto
  web/model/common_pb.d.ts
  web/model/common_pb.js
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: approved, size/L, area/piped, area/web

#3396 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3397 Update contributor list
  README.md
Labels: release-note-none, approved, size/XS

#3392 Define RBAC resource model
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/src/__fixtures__/dummy-project.ts
Labels: release-note-none, approved, lgtm, area/web, size/XXL

#3404 Fix the name of CI jobs
  .github/workflows/build.yaml
  .github/workflows/codegen.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Labels: release-note-none, size/XS

#3402 Simplify config by merge CloudProviderType with ApplicationKind
  pkg/app/piped/cloudprovider/lambda/BUILD.bazel
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/BUILD.bazel
  pkg/model/cloudprovider.go
  pkg/model/deployment.go
Labels: release-note-none, approved, lgtm, size/L, area/piped

#3407 Refactor kubernetes provider by separating Loader and Applier
  pkg/app/piped/cloudprovider/kubernetes/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/applier.go
  pkg/app/piped/cloudprovider/kubernetes/kubernetes.go
  pkg/app/piped/cloudprovider/kubernetes/loader.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/canary.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planpreview/kubernetesdiff.go
Labels: release-note-none, approved, lgtm, area/piped, size/XL

#3410 Fix bug that the specified kubeConfigPath in Piped config was not used while handling manifests
  pkg/app/piped/cloudprovider/kubernetes/applier.go
  pkg/app/piped/cloudprovider/kubernetes/kubectl.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: size/M, approved, lgtm, area/piped

#3411 Fix a typo
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: release-note-none, approved, size/L, area/web

#3412 Add CODEOWNERS for manfiests repository
  manifests/CODEOWNERS
Labels: release-note-none, approved, size/XS, area/manifests

#3413 Fix codegen script
  dockers/codegen/DOCKER_BUILD
  dockers/codegen/codegen.sh
  pkg/app/piped/cloudprovider/kubernetes/kubernetestest/BUILD.bazel
  pkg/app/piped/cloudprovider/kubernetes/kubernetestest/kubernetes.mock.go
  pkg/app/piped/cloudprovider/kubernetes/providertest/provider.mock.go
  pkg/app/piped/executor/kubernetes/BUILD.bazel
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
Labels: release-note-none, approved, size/L, area/piped

#3414 Use the latest codegen
  .github/workflows/codegen.yaml
  Makefile
Labels: release-note-none, approved, size/XS

#3416 Delete unneeded CODEOWNERS file
  manifests/CODEOWNERS
Labels: release-note-none, size/XS, area/manifests

#3422 Web lint
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-trigger.ts
  web/src/api/me.ts
Labels: release-note-none, approved, size/S, area/web

#3424 Update login note
  web/src/components/login-page/index.tsx
Labels: release-note-none, approved, lgtm, size/XS, area/web

#3423 Add labels to deployment pages
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
  web/src/components/deployments-page/deployment-item/index.tsx
Labels: approved, lgtm, size/S, area/web

#3429 Fix the encrypted credentials for examples
  examples/kubernetes/secret-management/app.pipecd.yaml
  examples/terraform/autorollback/app.pipecd.yaml
  examples/terraform/secret-management/app.pipecd.yaml
  examples/terraform/secret-management/main.tf
  examples/terraform/simple/app.pipecd.yaml
  examples/terraform/simple/main.tf
  examples/terraform/wait-approval/app.pipecd.yaml
  examples/terraform/wait-approval/main.tf
Labels: release-note-none, size/M, approved, lgtm

#3430 Fix the encrypted credentials in examples
  examples/cloudrun/secret-management/app.pipecd.yaml
  examples/ecs/secret-management/app.pipecd.yaml
  examples/kubernetes/secret-management/app.pipecd.yaml
  examples/lambda/secret-management/app.pipecd.yaml
Labels: release-note-none, size/S

#3431 Make header menu item clickable
  web/src/components/header/index.tsx
Labels: release-note-none, size/M, approved, lgtm, area/web

#3432 Fix wrong config of examples
  examples/cloudrun/wait-approval/app.pipecd.yaml
  examples/cloudrun/wait-approval/service.yaml
  examples/terraform/wait-approval/main.tf
Labels: release-note-none, size/S

#3434 Fix help buttom position
  web/src/components/application-form/index.tsx
Labels: release-note-none, lgtm, size/XS, area/web

#3436 Fix the examples
  examples/cloudrun/analysis/service.yaml
  examples/cloudrun/canary/service.yaml
  examples/cloudrun/secret-management/service.yaml
  examples/cloudrun/simple/service.yaml
  examples/cloudrun/wait-approval/service.yaml
  examples/deployment-chain/chain-simple-cloudrun/service.yaml
  examples/kubernetes/analysis-by-metrics/deployment.yaml
  examples/kubernetes/bluegreen/deployment.yaml
  examples/kubernetes/canary-by-config-change/deployment.yaml
  examples/kubernetes/canary/deployment.yaml
  examples/kubernetes/helm-remote-chart/app.pipecd.yaml
  examples/kubernetes/helm-remote-git-chart/app.pipecd.yaml
  examples/kubernetes/kustomize-local-base/kustomization.yaml
  examples/kubernetes/mesh-istio-bluegreen/deployment.yaml
  examples/kubernetes/mesh-istio-canary/deployment.yaml
  examples/kubernetes/wait-approval/deployment.yaml
  examples/terraform/wait-approval/app.pipecd.yaml
Labels: release-note-none, size/M, approved

#3437 Release v0.27.1
  docs/content/en/blog/releases/v0.27.1.md
  release/RELEASE
Labels: release-note-none, area/docs, approved, lgtm, RELEASE, area/release, size/S, area/site

#3439 Add play url to readme and docs
  README.md
  docs/content/en/_index.html
Labels: release-note-none, area/docs, approved, lgtm, size/XS, area/site

#3440 Add play links to the readme of examples
  examples/README.remote.md
Labels: release-note-none, size/M, approved, lgtm

#3441 Make commit clickable on the application list page
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: approved, size/S, area/web

#3442 Add insight proto
  pkg/model/insight.pb.go
  pkg/model/insight.pb.validate.go
  pkg/model/insight.proto
  web/model/insight_pb.d.ts
  web/model/insight_pb.js
Labels: approved, lgtm, area/web, size/XXL

#3447 Fix to add enum type into rbac model
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: release-note-none, approved, lgtm, size/L, area/web

#3449 Update insightstore interface
  pkg/app/ops/handler/handler.go
  pkg/insight/insightmetrics/metrics.go
  pkg/insight/insightstore/BUILD.bazel
  pkg/insight/insightstore/applicationcountstore.go
  pkg/insight/insightstore/chunkstore.go
  pkg/insight/insightstore/chunkstore_test.go
  pkg/insight/insightstore/deploymentstore.go
  pkg/insight/insightstore/insightstore.go
  pkg/insight/insightstore/insightstoretest/BUILD.bazel
  pkg/insight/insightstore/insightstoretest/insightstore.mock.go
  pkg/insight/insightstore/milestonestore.go
Labels: release-note-none, approved, lgtm, size/XL, area/ops

#3446 Refactor filedb filter logic
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/codec.go
  pkg/datastore/filedb/filter_test.go
Labels: release-note-none, size/M, approved, lgtm

#3427 Introduce artifact version for terraform
  go.mod
  go.sum
  pkg/app/piped/cloudprovider/terraform/BUILD.bazel
  pkg/app/piped/cloudprovider/terraform/module.go
  pkg/app/piped/cloudprovider/terraform/module_test.go
  pkg/app/piped/cloudprovider/terraform/testdata/multi_modules/helloworld/main.tf
  pkg/app/piped/cloudprovider/terraform/testdata/multi_modules/main.tf
  pkg/app/piped/cloudprovider/terraform/testdata/multi_modules_with_multi_files/helloworld/main.tf
  pkg/app/piped/cloudprovider/terraform/testdata/multi_modules_with_multi_files/helloworld_01.tf
  pkg/app/piped/cloudprovider/terraform/testdata/multi_modules_with_multi_files/helloworld_02.tf
  pkg/app/piped/cloudprovider/terraform/testdata/single_module/helloworld/main.tf
  pkg/app/piped/cloudprovider/terraform/testdata/single_module/main.tf
  pkg/app/piped/planner/terraform/BUILD.bazel
  pkg/app/piped/planner/terraform/terraform.go
  pkg/model/common.pb.go
  pkg/model/common.proto
  repositories.bzl
  web/model/common_pb.d.ts
  web/model/common_pb.js
Labels: approved, lgtm, area/piped, area/web, size/XL, area/build

#3452 Fix interface and proto definition
  pkg/insight/insightstore/deploymentstore.go
  pkg/insight/insightstore/insightstoretest/insightstore.mock.go
  pkg/model/insight.pb.go
  pkg/model/insight.pb.validate.go
  pkg/model/insight.proto
  web/model/insight_pb.d.ts
  web/model/insight_pb.js
Labels: release-note-none, approved, lgtm, size/L, area/web

#3453 Update cloudprovider terraform bazel file
  pkg/app/piped/cloudprovider/terraform/BUILD.bazel
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3445 Iterator implementation for filedb
  pkg/datastore/filedb/BUILD.bazel
  pkg/datastore/filedb/iterator.go
  pkg/datastore/filedb/iterator_test.go
Labels: release-note-none, approved, lgtm, size/L

#3438 Fix to add built-in labels into Cloud Run resources when using promote
  pkg/app/piped/executor/cloudrun/deploy.go
  pkg/app/piped/executor/cloudrun/rollback.go
Labels: release-note-none, approved, lgtm, size/S, area/piped

#3456 Update filedb datastore root path
  pkg/datastore/filedb/filedb.go
Labels: release-note-none, approved, lgtm, size/XS

#3458 Improve to shorten the diff comment of terraform plan
  dockers/actions-plan-preview/planpreview.go
  dockers/actions-plan-preview/planpreview_test.go
Labels: release-note-none, approved, lgtm, size/L

#3460 Fix to add builtin labels for Cloud Run service every deployment
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
Labels: release-note-none, approved, lgtm, size/XS, area/piped

#3459 Update filedb cursor implementation
  pkg/datastore/filedb/iterator.go
Labels: release-note-none, approved, lgtm, size/XS

#3463 Do not show the detail block in plan-preview comment when its content was empty
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/planpreview.go
Labels: release-note-none, approved, lgtm, size/S

#3465 Add timezone field in Insight RPC
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: release-note-none, approved, lgtm, area/web, size/XL, area/server

#3467 Fix at the beginning of the sentence for shortening terraform plan details
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/planpreview.go
  dockers/actions-plan-preview/planpreview_test.go
Labels: release-note-none, approved, size/S

#3471 Refactor to shorten the details of terraform plan preview
  dockers/actions-plan-preview/DOCKER_BUILD
  dockers/actions-plan-preview/planpreview.go
  dockers/actions-plan-preview/planpreview_test.go
Labels: release-note-none, size/M, approved

#3470 Use offset instead of tzdb id
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: release-note-none, approved, lgtm, area/web, size/XL, area/server

#3457 Implement insight deployment store
  pkg/insight/insightstore/BUILD.bazel
  pkg/insight/insightstore/deploymentstore.go
  pkg/insight/insightstore/deploymentstore_test.go
  pkg/insight/insightstore/insightstoretest/insightstore.mock.go
  pkg/insight/utils.go
  pkg/insight/utils_test.go
  pkg/model/BUILD.bazel
  pkg/model/insight.go
  pkg/model/insight_test.go
Labels: release-note-none, approved, area/piped, size/XXL

#3464 Fix Cloud Run example
  examples/cloudrun/canary/service.yaml
  examples/cloudrun/wait-approval/service.yaml
Labels: release-note-none, approved, size/XS

#3475 Fix deployment count
  pkg/insight/insightstore/deploymentstore.go
Labels: release-note-none, approved, size/S

#3474 Add interface to ProjectStore for RBAC
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/projectstore.go
Labels: release-note-none, size/M, approved, lgtm

#3472 Implement collector
  pkg/app/ops/insightcollector/BUILD.bazel
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/insightcollector/deployments.go
Labels: release-note-none, approved, lgtm, size/XL, area/ops, area/server
