Repository pipe-cd/pipecd, pull requests merged in 2022-06, with the labels that each got.

#3713 Optimize the number of workers for plan-preview
  pkg/app/piped/planpreview/builder.go
Labels: area/go

#3715 Refactor analyzer log to show the actually used queries
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: area/go

#3717 Show updated_at instead of deployed_at in the application list page
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/application-list/index.tsx
Labels: area/web

#3716 Revert "Add feature to show piped config on web console (#3673)"
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
  web/src/components/settings-page/piped/components/piped-table-row.tsx
  web/src/constants/ui-text.ts
Labels: area/web, area/go

#3721 Fix the script of generating release
  hack/gen-release.sh
  hack/gen-stable-docs.sh
Labels: area/build

#3722 Revert "Revert "Add feature to show piped config on web console (#3673)""
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
  web/src/components/settings-page/piped/components/piped-table-row.tsx
  web/src/constants/ui-text.ts
Labels: area/web, area/go

#3718 Refine web console UI/UX related to show Piped configuration feature
  web/package.json
  web/src/components/settings-page/piped/components/piped-table-row.tsx
  web/yarn.lock
Labels: area/web

#3724 Omit empty fields in the "Show the configuration" dialog
  pkg/config/piped.go
Labels: area/go

#3727 Make report piped meta works with filedb
  pkg/datastore/pipedstore.go
Labels: area/go

#3725 Add RestartPiped gRPC to Web API
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/command.pb.go
  pkg/model/command.pb.validate.go
  pkg/model/command.proto
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/command_pb.d.ts
  web/model/command_pb.js
  web/src/modules/commands/index.ts
Labels: area/web, area/go

#3730 Define the LoadApplication function in the config package
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/trigger/trigger.go
  pkg/config/application.go
  pkg/config/config.go
  pkg/config/config_test.go
Labels: area/go

#3723 Auto-complete Piped form when only one Piped has been added
  web/src/components/application-form/index.tsx
Labels: area/web

#3726 Add validation to helm values file path to prevent potential dirtrav vulnerability
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/cloudprovider/kubernetes/helm.go
  pkg/app/piped/cloudprovider/kubernetes/helm_test.go
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/appconfdir/values.yaml
  pkg/app/piped/cloudprovider/kubernetes/testdata/testhelm/values.yaml
Labels: area/go

#3734 Make piped upgrade version input box selectable
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/piped.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/pipeds/index.test.ts
  web/src/modules/pipeds/index.ts
Labels: area/web, area/go

#3735 Fix bug that Cloud Provider is always Kubernetes in "Show Piped config" dialog
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/model/application.go
  pkg/model/cloudprovider.go
Labels: area/go

#3737 Only show latest 6 released versions in piped upgrade dialog
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
Labels: area/web

#3739 Add some tips to contributor guide
  docs/content/en/docs-dev/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
Labels: area/docs

#3740 Sort the application suggestion names in application filter form
  web/src/components/application-detail-page/application-state-view/kubernetes-state-view/index.tsx
  web/src/components/applications-page/application-filter/application-autocomplete.tsx
  web/src/utils/sorted-set.test.ts
  web/src/utils/sorted-set.ts
  web/src/utils/unique-array.test.ts
  web/src/utils/unique-array.ts
Labels: area/web

#3742 Add flag for launcher to Makefile
  Makefile
Labels: area/build

#3747 Fix to use the pointer type in showCommitter
  tool/actions-gh-release/release.go
  tool/actions-gh-release/release_test.go
Labels: area/tool

#3750 Add PlatformProvider to deployment model
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web, area/go

#3753 Fix to add safe.directory before running git command
  tool/actions-gh-release/git.go
  tool/actions-gh-release/main.go
Labels: area/tool

#3754 Update the version of actions-gh-release
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
  RELEASE
Labels: area/build

#3752 Remove deprecated fields from models
  pkg/app/server/httpapi/callback.go
  pkg/datastore/eventstore.go
  pkg/model/common.pb.go
  pkg/model/common.pb.validate.go
  pkg/model/common.proto
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.proto
  web/model/common_pb.d.ts
  web/model/common_pb.js
  web/model/event_pb.d.ts
  web/model/event_pb.js
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/src/__fixtures__/common.ts
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
  web/src/components/application-form/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/web, area/go

#3755 Remove KeyHash from piped model
  pkg/datastore/pipedstore_test.go
  pkg/model/piped.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  pkg/model/piped_test.go
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
Labels: area/web, area/go

#3756 Add platform provider to application, deployment and piped model
  pkg/app/piped/trigger/deployment.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/deploymentstore_test.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-piped.ts
Labels: area/web, todo/skip, area/go

#3729 Support the event watcher in the app config
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/config/application.go
  pkg/config/event_watcher.go
Labels: area/go

#3757 Fix the file path of event watcher config
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

#3758 Fix the type assertion for event watcher cache
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

#3761 Add the docs for supporting event watcher in app config
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/event-watcher.md
  pkg/config/event_watcher.go
Labels: area/go

#3766 Build and publish binaries for arm64
  .github/workflows/publish_binary.yaml
Labels: area/build

#3763 Fix to publish the image of piped and launcher to GCR
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#3771 Fix wrong image path on GCR
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#3772 Publish helloworld image to GCR for Cloud Run examples
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

#3769 Ensure to have PlatformProvider value in application model on adding new application
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#3773 Add actions menu to application detail page
  web/src/components/application-detail-page/index.tsx
Labels: area/web

#3775 Update action menu on applications list page
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: area/web

#3777 Update docker/login-action
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#3776 Add encrypt secret option to the menu action on application detail page
  web/src/components/application-detail-page/index.tsx
Labels: area/web

#3779 Fix workflow to login without base64 value
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#3780 Fix the env name in github action
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#3782 Fix react Menu Fragment error
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: area/web

#3767 Add CloudProvider to PlatformProvider migration task for application model to ops
  .golangci.yml
  cmd/pipecd/ops.go
  pkg/app/ops/platformprovidermigration/runner.go
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

#3781 Fix to save the go module cache
  .github/workflows/build.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build
