Repository pipe-cd/pipecd, pull requests merged in 2022-08, with the labels that each got.

#3828 Chore to update k8s libraries
  go.mod
  go.sum
  pkg/insight/insightstore/deploymentstore_test.go
Labels: area/go

#3827 Fix fail clone PipedSpec object
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#3829 Update codegen container image
  .github/workflows/gen.yaml
  tool/codegen/Dockerfile
Labels: area/build, area/tool

#3830 Update make gen/code command
  Makefile
Labels: area/build

#3822 Add PlatformProvider docs
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/operator-manual/piped/adding-a-cloud-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-a-platform-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-an-analysis-provider.md
  docs/content/en/docs-dev/operator-manual/piped/adding-helm-chart-repository-or-registry.md
  docs/content/en/docs-dev/operator-manual/piped/configuration-reference.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-event-watcher.md
  docs/content/en/docs-dev/operator-manual/piped/configuring-notifications.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/adding-an-application.md
  docs/static/images/registering-an-application-from-suggestions-new.png
  docs/static/images/registering-an-application-manually-new.png
Labels: area/docs

#3832 Update examples to use v0.32.0 image
  examples/kubernetes/analysis-by-http/deployment.yaml
  examples/kubernetes/analysis-by-log/deployment.yaml
  examples/kubernetes/canary/deployment.yaml
  examples/kubernetes/simple/deployment.yaml
Labels: area/examples

#3836 Fix duplicated providers listed in application form
  pkg/datastore/pipedstore.go
Labels: area/go

#3837 Cherry-pick #3836
  pkg/datastore/pipedstore.go
Labels: area/go

#3838 Fix to check whether release branch exists or not
  RELEASES.md
  hack/cherry-pick.sh
Labels: area/build

#3841 Update KubernetesResourceRoute config to allow delivering same manifest to multiple providers
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/config/application_kubernetes.go
  pkg/config/application_kubernetes_test.go
  pkg/config/testdata/application/k8s-app-resource-route.yaml
Labels: area/go

#3842 Add labels field to platformProvider config struct
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#3844 Delete minor unreachable code caused by log.Fatal
  pkg/app/piped/platformprovider/kubernetes/kubernetes_test.go
Labels: area/go

#3843 Support switch users projects
  web/src/components/header/index.tsx
  web/src/routes.tsx
Labels: area/web

#3845 Remove lint comment
  web/src/routes.tsx
Labels: area/web

#3846 Ensure redirect to switched project after logged out
  web/src/components/header/index.tsx
  web/src/components/login-page/index.tsx
  web/src/constants/localstorage.ts
  web/src/routes.tsx
Labels: area/web

#3835 Add pipectl install controlplane command
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/installation/controlplane.go
  pkg/app/pipectl/cmd/installation/installation.go
Labels: area/go

#3853 Support configure TaskRoleArn for ECS taskset
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#3854 Allow routing same K8s manifest to multiple platform providers
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/app/piped/executor/kubernetes/applier_group_test.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

#3856 Rename labels matcher function and update test
  pkg/app/piped/executor/kubernetes/applier_group.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

#3857 Make target group configuration as not required in ECS application configuration
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/target_groups.go
Labels: area/go

#3863 Fix unable to click back in login form
  web/src/components/login-page/login-form/index.tsx
Labels: area/web

#3666 Add the names of project rbac role to the role model
  pkg/model/project.go
  pkg/model/role.pb.go
  pkg/model/role.proto
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
  web/model/role_pb.d.ts
  web/model/role_pb.js
Labels: release-note-none, area/web, area/go

#3865 Fix fast redirect on login form back button click
  web/src/components/login-page/login-form/index.tsx
Labels: area/web

#3866 Update outdated link
  web/src/components/application-form/index.tsx
Labels: area/web

#3867 Restyling setting left sidebar
  web/src/components/settings-page/index.tsx
Labels: area/web

#3869 Allow using Annotations to sort Kubernetes manifests before applying
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
Labels: area/go

#3868 Replace old RBAC handling with new RBAC handling
  pkg/model/project.go
  pkg/model/project.pb.go
  pkg/model/project.proto
  pkg/model/rbac.pb.go
  pkg/model/rbac.pb.validate.go
  pkg/model/rbac.proto
  tool/codegen/protoc-gen-auth/file.go
  tool/codegen/protoc-gen-auth/main.go
  web/model/project_pb.d.ts
  web/model/project_pb.js
  web/model/rbac_pb.d.ts
  web/model/rbac_pb.js
Labels: area/web, area/go, area/tool

#3872 Remove unused functions
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3874 Chore to fix the split point
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

#3875 Update codegen version and generate auth file
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.proto
  pkg/rpc/rpcauth/interceptor.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/web, area/build, area/go

#3876 Fix the logic of getRBAC function
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3877 Remove an unused pkg
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3878 Update codegen version
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/build, area/go

#3879 Fix the cache values for auth
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3880 Update protobuf-go version
  tool/codegen/protoc-gen-auth/go.mod
  tool/codegen/protoc-gen-auth/go.sum
Labels: area/tool

#3881 Update codegen version
  .github/workflows/gen.yaml
  Makefile
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/build, area/go

#3883 Update editor and viewer built-in roles
  pkg/model/project.go
Labels: area/go

#3884 Remove the old project_role field
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/httpapi/login.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/jwt/signer_test.go
  pkg/jwt/verifier_test.go
  pkg/model/role.pb.go
  pkg/model/role.pb.validate.go
  pkg/model/role.proto
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/role_pb.d.ts
  web/model/role_pb.js
  web/src/__fixtures__/dummy-me.ts
  web/src/api/me.test.ts
  web/src/components/header/index.test.tsx
  web/src/mocks/services/me.ts
  web/src/modules/me/index.test.ts
  web/src/modules/me/index.ts
Labels: area/web, area/go

#3885 Support the quickstart project
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#3886 Update codegen version to support quickstart
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/server.go
  pkg/app/server/service/webservice/service.pb.auth.go
Labels: area/build, area/go
