Repository pipe-cd/pipecd, pull requests merged in 2022-11, with the labels that each got.

#3972 Add a metrics to know deployment count of each project
  cmd/pipecd/server.go
  pkg/app/server/grpcapi/grpcapimetrics/metrics.go
  pkg/app/server/grpcapi/piped_api.go
Labels: area/go

#3964 Feat the new feature for RBAC
  web/src/api/project.ts
  web/src/components/settings-page/project/components/rbac-form/components/add-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/delete-role-confirm-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/edit-role-dialog/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role-table-row/index.tsx
  web/src/components/settings-page/project/components/rbac-form/components/role/index.tsx
  web/src/constants/toast-text.ts
  web/src/modules/project/index.ts
Labels: area/web

#3974 pipectl delete command
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/delete.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#3977 Update license text
  hack/create-kind-cluster.sh
  hack/gen-release-docs.sh
  hack/gen-release.sh
  hack/gen-stable-docs.sh
  tool/piped-base-okd/install-nss-wrapper.sh
Labels: area/build, area/tool

#3966 Fix to handle an error before displaying a success toast
  web/src/components/settings-page/project/components/rbac-form/components/user-group/index.tsx
Labels: area/web

#3991 Fix to override namespace if set for k8s manifest
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

#3990 Add restart piped UI
  web/src/api/piped.ts
  web/src/components/settings-page/piped/components/piped-table-row.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/constants/toast-text.ts
  web/src/constants/ui-text.ts
  web/src/modules/pipeds/index.ts
Labels: area/web

#3997 Update Go version to v1.19
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.36.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.37.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.38.x/contribution-guidelines/development.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/development.md
  go.mod
  go.sum
  tool/actions-gh-release/Dockerfile
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/build, area/tool

#3998 Add missing indexes for insights and minor fixes
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/insight/application.go
  pkg/insight/deployment.go
  pkg/insight/insightstore/deployment_store.go
Labels: area/go

#3999 Add missing json tags for application data
  pkg/insight/application.go
Labels: area/go

#3988 Handle restart piped command
  pkg/app/piped/apistore/commandstore/store.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/server/grpcapi/web_api.go
  pkg/model/command.go
Labels: do-not-merge/wip, area/go

#4001 Add fix lint web command
  Makefile
Labels: area/build

#4002 Set GetInsightData RPC under a feature flag
  pkg/app/server/grpcapi/web_api.go
  pkg/config/feature_flag.go
Labels: area/go

#4003 Make it possible to specify InsightStep in GetInsightData RPC
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/insight/deployment.go
  pkg/insight/deployment_test.go
  pkg/insight/provider.go
  pkg/insight/provider_test.go
  pkg/model/insight.pb.go
  pkg/model/insight.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/insight_pb.d.ts
  web/model/insight_pb.js
  web/src/api/insight.ts
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
Labels: area/web, area/go

#4004 Migrate from legacy loaders to asset module
  web/package.json
  web/webpack.common.js
Labels: area/web

#4005 Update web dependencies
  web/package.json
  web/yarn.lock
Labels: area/web

#4006 Fix to escape the user-provided value for ops
  pkg/app/ops/handler/handler.go
Labels: area/go

#4007 Make it possible to use labels to filter insight data
  pkg/insight/deployment.go
  pkg/insight/provider.go
Labels: area/go

#4017 Allow config mysql database via config URL
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/config/control_plane.go
  pkg/datastore/mysql/mysql.go
  pkg/datastore/mysql/mysql_test.go
Labels: area/go

#4010 Add frontend implementation for Insights feature
  pkg/app/server/service/webservice/service.proto
  web/src/api/insight.ts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.test.ts
  web/src/modules/insight/index.ts
Labels: area/web, area/go

#4020 Add readme to manifests directory
  manifests/README.md
Labels: area/manifests

#4021 Update web dependencies
  web/package.json
  web/yarn.lock
Labels: area/web

#4022 Update examples readme
  examples/README.md
  examples/README.remote.md
Labels: area/examples

#4031 Update web dependencies
  web/package.json
  web/yarn.lock
Labels: area/web
