Repository pipe-cd/pipecd, pull requests merged in 2022-12, with the labels that each got.

#4034 Avoid the incorrect conversion between integer types
  pkg/config/replicas.go
  pkg/config/replicas_test.go
Labels: area/go

#4036 Make chunkMaxCount configurable for Insight collector
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
Labels: area/go

#4038 Remove unneeded code
  web/src/components/insight-page/index.tsx
Labels: area/web

#4039 Refactor api loading for Insights data on web
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
Labels: area/web

#4041 Cherry-pick #4032 #4034 #4035 #4036 #4038 #4039 #4040
  RELEASE
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  docs/content/en/blog/releases/v0.40.0.md
  docs/content/en/blog/releases/v0.40.1.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.36.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.37.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.38.x/quickstart/_index.md
  docs/content/en/docs-v0.38.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.39.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/user-guide/command-line-tool.md
  docs/content/en/docs/quickstart/_index.md
  docs/content/en/docs/user-guide/command-line-tool.md
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/config/replicas.go
  pkg/config/replicas_test.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
Labels: area/web, area/go

#4037 Remove trigger paths
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/trigger/determiner.go
  pkg/config/application.go
Labels: area/go

#4047 Replace deprecated actions commands with env files
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
Labels: area/build

#4046 Use a make command instead of a hack command directly
  Makefile
  RELEASES.md
Labels: area/build

#4045 Remove unused config
  pkg/config/application.go
Labels: area/go

#4049 Add release commands to make
  Makefile
  RELEASES.md
Labels: area/build

#4050 Replace all of pull request numbers with their link because of release note
  tool/actions-gh-release/release.go
Labels: area/tool

#4051 Fix the wrong link for actions-gh-release
  tool/actions-gh-release/release.go
Labels: area/tool

#4052 Update actions-gh-release version to v2.4.0
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
  RELEASE
Labels: area/build

#4053 Ensure grouping version docs
  hack/gen-release-docs.sh
Labels: area/build

#4055 Update gen release docs command
  hack/gen-release-docs.sh
Labels: area/build

#4056 Add release command
  Makefile
Labels: area/build

#4057 Apply cache to store completed Insight chunk
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/insightstore/insightstore.go
  pkg/insight/provider.go
Labels: area/go

#4059 Add onCommit.ignores config
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
  pkg/config/application.go
Labels: area/go

#4060 Fix bug on parsing empty kubernetes manifest
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
Labels: area/go

#4061 Update web dependencies
  web/package.json
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/me/index.ts
  web/src/store.ts
  web/webpack.common.js
  web/webpack.config.dev.js
  web/yarn.lock
Labels: area/web

#4062 Enable deployment frequency and failure rate charts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
Labels: area/web

#4066 Make it possible to run the codeql workflow manually
  .github/workflows/codeql-analysis.yaml
Labels: area/build

#4067 Update the codeql actoins to v2
  .github/workflows/codeql-analysis.yaml
Labels: area/build

#4069 Better time range based on step to request Insights data
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/web

#4068 Add the log for detecting pruned manifest
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/sync.go
Labels: area/go

#4071 Introduce Insights feature
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/ops/insightcollector/collector.go
  pkg/app/server/grpcapi/web_api.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
Labels: area/go

#4073 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

#4072 Fix app live resource lister wrong attribute
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

#4074 Ensure newly created revision is ready to receive traffic before going to the next stage
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/cloudrun/deploy.go
Labels: area/go

#4075 Fix application store listBy method
  pkg/app/piped/apistore/applicationstore/store.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatereporter/reporter.go
Labels: area/go

#4077 Add --include-crds option to include CRDS for helm
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

#4078 Rename Insighs step to resolution
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/insight/provider.go
  pkg/insight/provider_test.go
  pkg/model/insight.pb.go
  pkg/model/insight.proto
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/insight_pb.d.ts
  web/model/insight_pb.js
  web/src/api/insight.ts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/insight/index.ts
Labels: area/web, area/go

#4080 Rename symbol cloudProvider to platformProvider
  pkg/app/piped/controller/controller.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/executor/lambda/deploy.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/lambda/rollback.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/datastore/applicationstore.go
Labels: area/go

#4079 Support Cloud Run application for planpreview
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

#4081 Support setting kubectlVersion via piped config
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/config/piped.go
Labels: area/go

#4083 Fix the wrong link for tools
  tool/piped-base/install-helm.sh
  tool/piped-base/install-kubectl.sh
  tool/piped-base/install-kustomize.sh
  tool/piped-base/install-terraform.sh
Labels: area/tool

#4086 Implement lint/go command for local
  .gitignore
  Makefile
Labels: area/build

#4088 Enable to run lint/go on M1
  Makefile
Labels: area/build

#4089 Refactor the loadCloudRunManifest function
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

#4085 Improve the health description for Cloud Run live state
  pkg/app/piped/platformprovider/cloudrun/cloudrun.go
  pkg/app/piped/platformprovider/cloudrun/cloudrun_test.go
  pkg/app/piped/platformprovider/cloudrun/state.go
  pkg/model/application_live_state.go
Labels: area/go

#4092 Ensure retrying revision check on NotFound error
  pkg/app/piped/executor/cloudrun/cloudrun.go
Labels: area/go

#4084 support standalone ECS task
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go

#4097 Small lint fix
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go
