Repository pipe-cd/pipecd, pull requests merged in 2023-11, with the labels that each got.

#4642 Add Code-Butler
  .github/workflows/code-butler.yaml
Labels: area/build

#4637 Fix part of lint/go errors (gocritic)
  pkg/app/ops/handler/handler.go
  pkg/app/server/httpapi/httpapimetrics/delegator.go
  pkg/cli/cmd.go
  pkg/config/control_plane.go
  pkg/datastore/mysql/query.go
  pkg/filematcher/filematcher.go
  pkg/insight/insightmetrics/metrics.go
Labels: area/go

#4631 Add tests to model/notificationevent
  pkg/model/notificationevent_test.go
Labels: area/go

#4649 Add ECSTargetGroupObject to the configuration reference documentation
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
Labels: area/docs

#4650 Fix panic error in ListDeployments API
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#4632 Add tests to model/deployment_chain
  pkg/model/deployment_chain_test.go
Labels: area/go

#4658 Send error comment before plan preview exit
  tool/actions-plan-preview/main.go
Labels: area/tool

#4656 Update golangci-lint and ensure the code passes `make lint/go`
  .golangci.yml
  Makefile
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/piped/appconfigreporter/appconfigreporter.go
  pkg/app/piped/appconfigreporter/appconfigreporter_test.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatestore/kubernetes/appnodes.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/platformprovider/kubernetes/hasher.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
  pkg/app/piped/platformprovider/kubernetes/state.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/apikeyverifier/verifier.go
  pkg/crypto/hybrid.go
  pkg/git/client.go
  pkg/git/client_test.go
Labels: area/build, area/go

#4666 Add a flag to skip running standalone task during deployment
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  pkg/app/piped/executor/ecs/ecs.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go

#4653 Add actions/stale workflow
  .github/workflows/stale.yaml
Labels: area/build

#4662 Handle plan preview workflow's error and exit with error status code
  tool/actions-plan-preview/main.go
Labels: area/tool

#4648 Make actions plan preview handle timeout option
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/main_test.go
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/testdata/comment-has-failed-app.txt
  tool/actions-plan-preview/testdata/comment-has-failed-piped.txt
  tool/actions-plan-preview/testdata/comment-has-no-diff-apps.txt
  tool/actions-plan-preview/testdata/comment-no-env.txt
  tool/actions-plan-preview/testdata/comment-only-changed-app.txt
Labels: area/tool

#4671 Increase limit of stale action operations
  .github/workflows/stale.yaml
Labels: area/build

#4682 Add v2 to versionWhitelist
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: area/go

#4685 Support QuickSync for ECS without ELB or target groups
  pkg/app/piped/executor/ecs/deploy.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
  pkg/config/testdata/application/ecs-app-invalid-access-type.yaml
  pkg/config/testdata/application/ecs-app-service-discovery.yaml
Labels: area/go

#4680 add ephemeralStorage option to lambda config
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

#4668 feat(ECS): enable selection of listener rules
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

#4688 Remove ModifyRules interface
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

#4689 Cherry-pick #4668 #4688
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go
