Repository pipe-cd/pipecd, pull requests merged in 2023-12, with the labels that each got.

#4698 Cherry-pick #4680 #4682 #4695
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/lambda.md
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/livestatestore/kubernetes/reflector.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

#4690 Support Canary for ECS without ELB or target groups
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

#4691 Add an example of ECS canary for Service Discovery
  examples/ecs/servicediscovery/canary/app.pipecd.yaml
  examples/ecs/servicediscovery/canary/servicedef.yaml
  examples/ecs/servicediscovery/canary/taskdef.yaml
Labels: area/examples

#4704 avoid nil pointer in ephemeral storage settings
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

#4706 Fix event name typos on notification docs
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.39.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.40.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.41.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.42.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.43.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.44.x/user-guide/managing-piped/configuring-notifications.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/configuring-notifications.md
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#4699 Add setValues to HelmOptions
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/helm.go
  pkg/config/application_kubernetes.go
Labels: area/go

#4683 Minimize latest plan preview comment before comment error message
  tool/actions-plan-preview/main.go
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

#4711 Update documents for ECS Service Discovery
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  examples/ecs/servicediscovery/simple/app.pipecd.yaml
  examples/ecs/servicediscovery/simple/servicedef.yaml
  examples/ecs/servicediscovery/simple/taskdef.yaml
Labels: area/examples

#4714 Specify gpt-4-1106-preview as the model for code-butler
  .github/workflows/code-butler.yaml
Labels: area/build

#4712 feat: github action matrix for images build
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

#4599 cache listeners on routing stage for later use
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

#4715 Rename actions
  .github/workflows/code-butler.yaml
  .github/workflows/stale.yaml
Labels: area/build

#4718 fix: matrix build recorrect and use docker build and push action on v5.0.0
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

#4719 cover gcr.io/pipecd and ghcr.io/pipe-cd
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#4721 fix dockefile path
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#4722 fix: exclude pipecd image to gcr.io as we won't need
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#4723 Add vpc and architectures option to the creation of lambda from source
  pkg/app/piped/platformprovider/lambda/client.go
Labels: area/go

#4720 Script run stage
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/model/stage.go
Labels: area/go

#4735 Fix typo in the example of ECS Service Discovery
  examples/ecs/servicediscovery/canary/app.pipecd.yaml
Labels: area/examples

#4733 [ECS] Modify ELB listener rules other than defaults without adding config
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/routing_traffic.go
  pkg/app/piped/platformprovider/ecs/routing_traffic_test.go
Labels: area/go

#4742 Replace deprecated io/ioutil package
  tool/actions-gh-release/github.go
Labels: area/tool

#4737 [ECS] Refactored from json.RawMessage to ECSTargetGroup struct
  pkg/app/piped/platformprovider/ecs/target_groups.go
  pkg/app/piped/platformprovider/ecs/target_groups_test.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
Labels: area/go
