Repository pipe-cd/pipecd, pull requests merged in 2023-06, with the labels that each got.

#4366 Fix asdf setup is broken in .profile
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

#4355 Support slack api
  go.mod
  go.sum
  pkg/app/piped/notifier/slack.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#4369 Platform provider deployment detail page
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web

#4378 Update go version
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  docs/content/en/docs-dev/contribution-guidelines/development.md
  go.mod
  go.sum
  tool/actions-gh-release/Dockerfile
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
Labels: area/build, area/tool

#4361 Add deployment metrics
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controllermetrics/metrics.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

#4375 Enable to use kubectl server side apply
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
Labels: area/go

#4393 Make it possible to set log level
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/_helpers.tpl
  manifests/piped/values.yaml
Labels: area/manifests

#4397 add file headers
  pkg/app/piped/analysisprovider/metrics/prometheus/fake_client.go
  pkg/app/piped/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/piped/executor/analysis/analyzer.go
  pkg/app/piped/planner/ecs/pipeline_test.go
  pkg/app/piped/planner/kubernetes/kubernetes_test.go
  pkg/app/piped/planner/kubernetes/pipeline_test.go
  pkg/app/piped/platformprovider/terraform/module.go
  pkg/app/piped/platformprovider/terraform/module_test.go
  pkg/config/feature_flag.go
  pkg/git/url_test.go
  tool/codegen/protoc-gen-auth/file.go
  tool/codegen/protoc-gen-auth/main.go
Labels: area/go, area/tool

#4396 Fix import block cause failure of parsing regex
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/piped/platformprovider/terraform/terraform_test.go
Labels: area/go

#4398 Refactor fmt.Errorf %v to % w
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/traffic.go
Labels: area/go

#4403 Create test code of httpapi/httpapimetrics/label
  pkg/app/server/httpapi/httpapimetrics/handler_test.go
Labels: area/go

#4400 Remove pre-installation tools from piped-base image
  tool/piped-base/Dockerfile
  tool/piped-base/install-aws.sh
  tool/piped-base/install-helm.sh
  tool/piped-base/install-kubectl.sh
  tool/piped-base/install-kustomize.sh
  tool/piped-base/install-terraform.sh
Labels: area/tool

#4404 Remove installation script of asdf
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

#4405 Update piped-base without preinstall tools
  cmd/piped/Dockerfile
Labels: area/go

#4408 Expose grafana.pspEnabled to pipecd manifest
  manifests/pipecd/values.yaml
Labels: area/manifests

#4409 Update contributors list
  README.md
  hack/gen-contributions.sh
Labels: area/build

#4406 Update piped-base for piped-okd-base
  tool/piped-base-okd/Dockerfile
Labels: area/tool

#4414 Fix managed certificates and backend config are missing with helm upg…
  manifests/pipecd/templates/backend-config.yaml
  manifests/pipecd/templates/managed-certificate.yaml
Labels: area/manifests

#4410 Add deployment panel to dashboard
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

#4419 Update piped-base-okd base image
  tool/piped-base-okd/Dockerfile
Labels: area/tool

#4421 Update base image of PipeCD components to latest piped-base
  cmd/launcher/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
Labels: area/go

#4423 Fix path settings of grafana ingresss is incorrect
  manifests/pipecd/values.yaml
Labels: area/manifests

#4412 Add imports to terraform plan result
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/executor/terraform/deploy.go
  pkg/app/piped/planpreview/terraformdiff.go
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/piped/platformprovider/terraform/terraform_test.go
Labels: area/go

#4434 Fix deployment panel display no data if the project is All
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

#4435 Refactor fmt.Errorf to log.Fatal
  cmd/pipectl/main.go
Labels: area/go

#4438 Add attachment feature example
  examples/README.remote.md
  examples/ecs/attachment/app.pipecd.yaml
  examples/ecs/attachment/config.yaml
  examples/ecs/attachment/servicedef.yaml
  examples/ecs/attachment/taskdef.yaml
Labels: area/examples

#4442 Fix broken link on examples README
  examples/README.remote.md
Labels: area/examples

#4441 Add contribution and development docs
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  cmd/launcher/README.md
  cmd/pipecd/README.md
  cmd/pipectl/README.md
  cmd/piped/README.md
  docs/README.md
  docs/content/en/docs-dev/contribution-guidelines/contributing.md
  docs/content/en/docs-dev/contribution-guidelines/development.md
  docs/content/en/docs-v0.44.x/contribution-guidelines/contributing.md
  docs/content/en/docs-v0.44.x/contribution-guidelines/development.md
  docs/content/en/docs/contribution-guidelines/contributing.md
  docs/content/en/docs/contribution-guidelines/development.md
Labels: area/build, area/go

#4444 Fix Terraform drift render logic that causes runtime error
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

#4446 Cherry-pick #4444
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

#4447 Update cherry-pick PR template
  hack/cherry-pick.sh
Labels: area/build

#4451 Update web deps
  web/custom-jsdom.js
  web/file-transformer.js
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/api/me.test.ts
  web/src/utils/__snapshots__/parse-log.test.ts.snap
  web/yarn.lock
Labels: area/web

#4457 Update quickstart to support arm hardware(ex: M1)
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  pkg/app/pipectl/cmd/quickstart/quickstart.go
Labels: area/manifests, area/go
