Repository pipe-cd/pipecd, pull requests merged in 2023-05, with the labels that each got.

#4328 Update manifests to fix service account error
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

#4335 Remove CLA
  .github/workflows/cla.yaml
  CLA.md
Labels: area/build

#4336 Support update application api
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/datastore/applicationstore.go
Labels: area/go

#4345 Update site ingress to networking.k8s.io/v1
  manifests/site/templates/ingress.yaml
Labels: area/manifests

#4350 modify sso login description from GitHub Enterprise to GitHub Enterprise Server
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/auth.md
  docs/content/en/docs/feature-status/_index.md
  docs/content/en/docs/user-guide/managing-controlplane/auth.md
  web/src/constants/text.ts
Labels: area/web

#4351 update: support architectures filed for lambda
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

#4358 Fix typos
  docs/content/en/blog/releases/v0.24.5.md
  docs/content/en/docs-dev/concepts/_index.md
  docs/content/en/docs-dev/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.39.x/concepts/_index.md
  docs/content/en/docs-v0.39.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.40.x/concepts/_index.md
  docs/content/en/docs-v0.40.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.41.x/concepts/_index.md
  docs/content/en/docs-v0.41.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.42.x/concepts/_index.md
  docs/content/en/docs-v0.42.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs-v0.43.x/concepts/_index.md
  docs/content/en/docs-v0.43.x/contribution-guidelines/architectural-overview.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/contribution-guidelines/architectural-overview.md
  pkg/rpc/rpcauth/interceptor.go
  pkg/rpc/server.go
Labels: area/go
