Repository pipe-cd/pipecd, pull requests merged in 2023-04, with the labels that each got.

#4303 Change application invalid config detail UI
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

#4314 Add RegisterPiped api for grpcapi
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4316 Add GetPiped grpc api
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4318 Add UpdatePiped grpc api
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4309 Add asdf install script
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/toolregistry/install.go
  pkg/app/piped/toolregistry/registry.go
  pkg/app/piped/toolregistry/tool_shared.go
Labels: area/go

#4256 Add custom sync sample and docs
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/custom-sync.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/static/images/custom-sync-rollback.png
  docs/static/images/custom-sync.png
  examples/lambda/custom-sync-sam/README.md
  examples/lambda/custom-sync-sam/app.pipecd.yaml
Labels: area/examples

#4324 Remove unused web test
  web/src/components/applications-page/add-application-drawer/index.test.tsx
Labels: area/web

#4320 Update go version
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  go.mod
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/build, area/tool

#4326 Add runtime platform to ECS task definition
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4330 Cherry-pick #4326
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4332 feat(piped): add EnableExecuteCommand field to ECS service
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go
