Repository pipe-cd/pipecd, pull requests merged in 2023-03, with the labels that each got.

#4236 Revert "Change diff detail's header"
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

#4237 Update grpc max message size
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/rpcclient/option.go
  pkg/rpc/server.go
Labels: area/go

#4240 Cherry pick #4236 #4237 #4238 to release v0.42.x
  RELEASE
  docs/content/en/blog/releases/v0.42.1.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/rpc/rpcclient/option.go
  pkg/rpc/server.go
Labels: area/go

#4234 Fix unable to plan deployment on failed to determine app version
  pkg/app/piped/planner/cloudrun/cloudrun.go
  pkg/app/piped/planner/ecs/ecs.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/planner/terraform/terraform.go
Labels: area/go

#4241 Revert #4202
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/application.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/testdata/ignore_specified_field.yaml
Labels: area/go

#4232 Add ability to see invalid config errors from application-detail-page
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

#4249 Enable to ignore manifests' fields from kubernetes' drift detection
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/application.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/testdata/ignore_specified_field.yaml
Labels: area/go

#4248 Fixed a bug in #4199 that resulted in wrong Out of Sync.
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
  pkg/diff/diff.go
  pkg/diff/testdata/ignore_adding_map_keys.yaml
Labels: area/go

#4258 Refactor config package to remove unnecessary default values setter
  pkg/config/analysis.go
  pkg/config/application.go
  pkg/config/application_terraform_test.go
  pkg/config/application_test.go
  pkg/config/testdata/application/generic-analysis.yaml
Labels: area/go

#4223 Add custom sync stage
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/toolregistry/registry.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/testdata/application/custom-sync-without-run.yaml
  pkg/config/testdata/application/custom-sync.yaml
  pkg/model/stage.go
Labels: area/go

#4265 Update creasty/defaults package to v1.6.0
  go.mod
  go.sum
  pkg/config/analysis_template.go
  pkg/config/analysis_template_test.go
Labels: area/go

#4263 Fix stage log for CUSTOM_SYNC stage
  web/src/components/deployments-detail-page/log-viewer/log-line/index.tsx
Labels: area/web

#4262 Fix omissions in PipedName output in #4250
  pkg/app/server/grpcapi/api.go
Labels: area/go

#4244 Enable to filter application by its piped
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/pipectl/cmd/application/list.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/mysql/ensurer/indexes.sql
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/api/applications.ts
  web/src/components/applications-page/application-filter/index.tsx
  web/src/components/applications-page/application-filter/piped-select.tsx
  web/src/modules/applications/index.ts
Labels: area/web, area/go

#4266 Delete application_piped_id index
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: area/go

#4268 Fix Missing RBAC configuration bug
  pkg/app/server/httpapi/callback.go
  pkg/oauth/github/github.go
  pkg/oauth/github/github_test.go
Labels: area/go

#4271 Remove RBAC config validation for Admin
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
Labels: area/go

#4274 Add EnableApplication rpc for grpc api service
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4277 Fix a problem where the piped id was not displayed in the piped filter field
  web/src/components/applications-page/application-filter/index.tsx
  web/src/components/applications-page/application-filter/piped-select.tsx
Labels: area/web

#4279 Lower the log level of no app updates to reduce log noise
  pkg/app/piped/trigger/determiner.go
Labels: area/go

#4246 Add custom sync rollback(just support lambda)
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/executor/customsync/customsync.go
  pkg/app/piped/executor/customsync/rollback.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/executor/registry/registry.go
  pkg/app/piped/executor/terraform/terraform.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/model/common.go
  pkg/model/common.pb.go
  pkg/model/common.proto
  pkg/model/deployment.go
  pkg/model/stage.go
  web/model/common_pb.d.ts
  web/model/common_pb.js
Labels: area/web, area/go

#4292 Add support for setting ignore fields for each resource key
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/platformprovider/cloudrun/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/config/application.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/testdata/ignore_specified_field.yaml
Labels: area/go

#4295 Fix error handling in to parse ignoreFields
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/application.go
Labels: area/go

#4296 Fix console error on web
  web/src/components/applications-page/application-filter/index.tsx
  web/src/components/applications-page/application-filter/piped-select.tsx
Labels: area/web

#4280 Make INVALID_CONFIG error messages user friendly
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web

#4302 Update error message for driftDetection validation
  pkg/config/application.go
Labels: area/go

#4289 Add attachment feature that supports attaching files to application manifests
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/sourceprocesser/attacher.go
  pkg/app/piped/sourceprocesser/attacher_test.go
  pkg/app/piped/sourceprocesser/decrypter.go
  pkg/app/piped/sourceprocesser/decrypter_test.go
  pkg/config/application.go
Labels: area/go

#4306 Improvement of isIgnoredPath
  pkg/diff/diff.go
Labels: area/go
