Repository pipe-cd/pipecd, pull requests merged in 2023-02, with the labels that each got.

#4127 Add environment variable expire web session
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/web, area/go

#4155 tool: Replace set-output with GITHUB_OUTPUT
  tool/actions-gh-release/main.go
Labels: area/tool

#4157 Make all changes that not be listed in ignores but placed under appDir considered as touched commit
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
Labels: area/go

#4163 Cherry-pick #4120 #4127 #4130 #4132 #4134 #4135 #4137 #4140 #4143 #4155 #4157 #4161
  Makefile
  RELEASE
  docs/content/en/blog/releases/v0.41.4.md
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.37.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.38.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.41.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs/user-guide/configuration-reference.md
  docs/content/en/docs/user-guide/managing-controlplane/configuration-reference.md
  manifests/pipecd/templates/deployment.yaml
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/kubernetes/helm.go
  pkg/app/piped/trigger/determiner.go
  pkg/app/piped/trigger/determiner_test.go
  pkg/app/server/httpapi/callback.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  tool/actions-gh-release/main.go
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/manifests, area/web, area/build, area/go, area/tool

#4169 Revise typo on web/README.md
  web/README.md
Labels: area/web

#4167 Add diff details with terraform dritf detection
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

#4168 Add a new differential expression for drift detection
  web/src/components/application-detail-page/application-detail/sync-state-reason/diff-view/index.tsx
Labels: area/web

#4170 Modify terraform drift detection's diff detail
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/platformprovider/terraform/terraform.go
Labels: area/go

#4175 Enable to diagnose the performance for piped
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

#4176 Update file header - bash file
  hack/cherry-pick.sh
  hack/create-kind-cluster.sh
  hack/gen-contributions.sh
  hack/gen-release-docs.sh
  hack/gen-release.sh
  hack/gen-stable-docs.sh
  tool/piped-base-okd/install-nss-wrapper.sh
Labels: area/build, area/tool

#4178 Remove all generated go files before regenerating
  tool/codegen/codegen.sh
Labels: area/tool

#4177 Make the deploying symbol rotate in reverse
  web/src/components/app-sync-status/sync-status-icon/index.tsx
  web/src/components/deployment-status-icon/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/components/event-status-icon/index.tsx
Labels: area/web

#4158 Get deployment's stage log from deployment-id
  cmd/pipecd/server.go
  pkg/app/pipectl/cmd/deployment/deployment.go
  pkg/app/pipectl/cmd/deployment/logs.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4179 Make log view auto scroll to the end on log line added
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/deployments-detail-page/log-viewer/index.test.tsx
  web/src/components/deployments-detail-page/log-viewer/log/index.tsx
Labels: area/web

#4181 Update the interval for Terraform's drift detection
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

#4186 Support pipectl to list applications by Label.
  pkg/app/pipectl/cmd/application/list.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

#4189 Allow specifying the Limit number from ListApplicationRequest
  pkg/app/pipectl/cmd/application/list.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

#4191 Update Lax to Strict for SameSite cookies
  pkg/app/server/httpapi/auth_handler.go
Labels: area/go

#4182 Add pipectl deployment list
  pkg/app/pipectl/cmd/deployment/deployment.go
  pkg/app/pipectl/cmd/deployment/list.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4195 Revert SameSite cookie for SSO login
  pkg/app/server/httpapi/auth_handler.go
Labels: area/go

#4124 Add last use of api key on webui
  cmd/pipecd/server.go
  pkg/app/server/apikeyverifier/verifier.go
  pkg/app/server/apikeyverifier/verifier_test.go
  pkg/app/server/grpcapi/web_api.go
  pkg/model/apikey.pb.go
  pkg/model/apikey.pb.validate.go
  pkg/model/apikey.proto
  web/model/apikey_pb.d.ts
  web/model/apikey_pb.js
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web, area/go

#4199 Change diff detail's header
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

#4205 Remove cloud-provider term in piped logs
  pkg/app/pipectl/cmd/application/add.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/livestatereporter/cloudrun/report.go
  pkg/app/piped/livestatereporter/kubernetes/reporter.go
  pkg/app/piped/livestatestore/cloudrun/cloudrun.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/kubernetes/kubernetes.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/terraform/store.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/deploymentstore_test.go
Labels: area/go

#4208 Fixed an error in dummy-api when executing run/web.
  web/src/__fixtures__/dummy-api-key.ts
Labels: area/web

#4207 Fix unable to delete resource that removed from git for k8s apps
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

#4211 Display namespace of the resources on stage logs
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/kubernetes/sync.go
  pkg/app/piped/executor/kubernetes/traffic.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

#4201 Add last used time cron updater
  cmd/pipecd/ops.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/apikey.go
Labels: area/go

#4216 Small changes on refactor APIKeyLastUseCache get
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#4222 Update runtime go version for tools
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

#4221 Update api key list UI
  web/src/components/settings-page/api-key/index.tsx
Labels: area/web

#4225 Bump golang.org/x/oauth2 to v0.5.0
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/tool

#4206 Add status of failing load application config
  pkg/app/piped/trigger/trigger.go
  pkg/model/application.pb.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/components/app-sync-status/sync-status-icon/index.tsx
  web/src/constants/application-sync-status-text.ts
Labels: area/web, area/go

#4227 Fix INVALID_CONFIG status
  pkg/app/piped/trigger/trigger.go
Labels: area/go

#4202 Enable to ignore manifests' fields from kubernetes' drift detection
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/config/application.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/testdata/ignore_specified_field.yaml
Labels: area/go

#4233 Fix typo
  pkg/app/pipectl/cmd/quickstart/quickstart.go
Labels: area/go
