Repository pipe-cd/pipecd, pull requests merged in 2023-07, with the labels that each got.

#4462 Support AWS LoadBalancer with multi listeners
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

#4464 Output usage only when flag parsing fails #4381
  pkg/cli/app.go
Labels: area/go

#4463 Specify Version For Templating Tools
  pkg/app/piped/platformprovider/kubernetes/loader.go
Labels: area/go

#4466 Update logs message for ECS routing stage executor
  pkg/app/piped/executor/ecs/ecs.go
Labels: area/go

#4465 Fix ECS rollback stage does not remove canary created tasks
  pkg/app/piped/executor/ecs/rollback.go
Labels: area/go

#4469 fix: update deprecated apiVersion since gke removed
  manifests/pipecd/templates/managed-certificate.yaml
  manifests/site/templates/managed-certificate.yaml
Labels: area/manifests

#4479 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: area/build

#4482 Skip update AppState when no log updates
  web/src/modules/stage-logs/index.ts
Labels: area/web

#4483 Add docs for connecting to a real API server for developing web locally
  web/README.md
Labels: area/web

#4485 Cherry-pick #4451 #4457 #4462 #4463 #4464 #4465 #4466 #4469 #4482
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/managed-certificate.yaml
  manifests/pipecd/values.yaml
  manifests/site/templates/managed-certificate.yaml
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/cli/app.go
  web/custom-jsdom.js
  web/file-transformer.js
  web/jest.config.js
  web/jest.config.local.js
  web/package.json
  web/src/api/me.test.ts
  web/src/modules/stage-logs/index.ts
  web/src/utils/__snapshots__/parse-log.test.ts.snap
  web/yarn.lock
Labels: area/manifests, area/web, area/go

#4498 Update codegen image
  tool/codegen/Dockerfile
Labels: area/tool

#4490 Fix typo
  pkg/cache/cache.go
Labels: area/go

#4499 Re-Generate proto and mock
  .github/workflows/gen.yaml
  Makefile
  pkg/app/helloworld/service/service.pb.go
  pkg/app/helloworld/service/service_grpc.pb.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/analysis_result.pb.go
  pkg/model/apikey.pb.go
  pkg/model/application.pb.go
  pkg/model/application_live_state.pb.go
  pkg/model/command.pb.go
  pkg/model/common.pb.go
  pkg/model/deployment.pb.go
  pkg/model/deployment_chain.pb.go
  pkg/model/event.pb.go
  pkg/model/insight.pb.go
  pkg/model/logblock.pb.go
  pkg/model/notificationevent.pb.go
  pkg/model/piped.pb.go
  pkg/model/piped_stat.pb.go
  pkg/model/planpreview.pb.go
  pkg/model/project.pb.go
  pkg/model/rbac.pb.go
  pkg/model/role.pb.go
  pkg/model/user.pb.go
  web/api_client/service_pb.js
  web/model/analysis_result_pb.js
  web/model/apikey_pb.js
  web/model/application_live_state_pb.js
  web/model/application_pb.js
  web/model/command_pb.js
  web/model/common_pb.js
  web/model/deployment_chain_pb.js
  web/model/deployment_pb.js
  web/model/event_pb.js
  web/model/insight_pb.js
  web/model/logblock_pb.js
  web/model/notificationevent_pb.js
  web/model/piped_pb.js
  web/model/piped_stat_pb.js
  web/model/planpreview_pb.js
  web/model/project_pb.js
  web/model/rbac_pb.js
  web/model/role_pb.js
  web/model/user_pb.js
Labels: area/web, area/build, area/go

#4493 Modify severity when unable to determine versions in Kubernetes
  pkg/app/piped/planner/kubernetes/kubernetes.go
Labels: area/go

#4491 Support mention for slack notification
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#4514 Update go test command
  .github/workflows/test.yaml
  Makefile
Labels: area/build

#4513 Fix make release/docs command regenerate unused docs directory
  hack/gen-release-docs.sh
Labels: area/build

#4520 Add application related labels to deployment_status metric
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controllermetrics/metrics.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
Labels: area/go

#4521 Fix deployment status use an incorrect status
  pkg/app/piped/controller/planner.go
Labels: area/go

#4522 Disable terraform drift detection
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/driftdetector/detector.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go

#4504 Add spec autoCreateNamespace configuration for creating a ns when doesn't exist
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/config/application_kubernetes.go
Labels: area/go

#4518 Add ability to set apiKey and applicationKey for AnalysisProviderDatadogConfig directly instead of reading files
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/analysisprovider/metrics/factory/factory.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go

#4528 Cherry-pick #4448 #4486 #4520 #4521 #4522
  RELEASE
  docs/content/en/blog/releases/v0.44.1.md
  docs/content/en/blog/releases/v0.44.2.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/controllermetrics/metrics.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/driftdetector/detector.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
Labels: area/go
