Repository pipe-cd/pipecd, pull requests merged in 2023-09, with the labels that each got.

#4580 Fix ECS not remove taskset on quick sync rollback
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/target_groups.go
  pkg/app/piped/platformprovider/ecs/target_groups_test.go
Labels: area/go

#4582 Cherry-pick #4580 #4581
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/target_groups.go
  pkg/app/piped/platformprovider/ecs/target_groups_test.go
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
Labels: area/go, area/tool

#4586 Enable to specific image tag for container images in Helm template
  manifests/helloworld/templates/deployment.yaml
  manifests/helloworld/values.yaml
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  manifests/site/templates/deployment.yaml
  manifests/site/values.yaml
Labels: area/manifests

#4592 Inactive task definition after delete all of its taskset
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go

#4593 Cherry-pick #4586 #4592
  manifests/helloworld/templates/deployment.yaml
  manifests/helloworld/values.yaml
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
  manifests/site/templates/deployment.yaml
  manifests/site/values.yaml
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/manifests, area/go

#4590 Display MySQL user defined error in API Key UI
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/grpcapi_test.go
  pkg/datastore/datastore.go
  pkg/datastore/mysql/mysql.go
  web/src/components/settings-page/api-key/index.tsx
  web/src/hooks/redux.ts
Labels: area/web, area/go

#4597 Display MySQL user defined error of piped, command, and application
  pkg/app/server/grpcapi/grpcapi.go
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/settings-page/api-key/index.tsx
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
Labels: area/web, area/go

#4598 Add service tags as takset tags on create
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4587 Don't overtrim whitespace in template that leading 3 dash or multiple manifest
  manifests/piped/templates/rbac.yaml
Labels: area/manifests
