Repository pipe-cd/pipecd, pull requests merged in 2023-01, with the labels that each got.

#4100 Fix to return an error when not finding the last commit
  pkg/app/piped/planpreview/cloudrundiff.go
Labels: area/go

#4101 Update planpreview comment format
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

#4103 Update the planpreview format
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

#4102 fix null pointer
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4105 Remove deprecated envName field
  pkg/config/application.go
Labels: area/go

#4104 Add example for ecs standalone task
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

#4112 Cherry-pick #4100 #4101 #4103 #4105 #4111
  RELEASE
  docs/content/en/blog/releases/v0.41.2.md
  pkg/app/piped/planpreview/cloudrundiff.go
  pkg/config/application.go
  tool/actions-plan-preview/planpreview.go
Labels: area/go, area/tool

#4033 Keep new line at end of file in yamlprocessor
  go.mod
  go.sum
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/yamlprocessor/yamlprocessor_test.go
Labels: area/go

#4119 Add a pipectl command to disable an application
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/disable.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#4122 Add new line in detailsFormat to fix plan preview format
  tool/actions-plan-preview/planpreview.go
Labels: area/tool

#4128 Cherry-pick #4033 #4084 #4097 #4102 #4104 #4114 #4117 #4119 #4122 #4123
  Makefile
  README.md
  docs/content/en/docs-dev/examples/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/app.pipecd.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
  go.mod
  go.sum
  hack/gen-contributions.sh
  pkg/app/pipectl/cmd/application/application.go
  pkg/app/pipectl/cmd/application/disable.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field.yaml
  pkg/app/piped/executor/kubernetes/testdata/patch_configmap_field_multi_ops.yaml
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/kubernetes/deployment_test.go
  pkg/app/piped/platformprovider/kubernetes/hasher_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
  pkg/yamlprocessor/yamlprocessor_test.go
  tool/actions-plan-preview/planpreview.go
Labels: area/build, area/go, area/tool, area/examples

#4120 Templating commit message used by Event watcher
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

#4135 Function template.parse parses {{}} instead of {}
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

#4130 Change build tag every time when make run/pipecd
  Makefile
Labels: area/build

#4134 Fix pod config for envoy upstreaming termination error
  manifests/pipecd/templates/deployment.yaml
Labels: area/manifests

#4137 Add kubectl version to stage log
  pkg/app/piped/executor/kubernetes/kubernetes.go
Labels: area/go

#4144 Add terraform drift detection
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
Labels: area/go

#4143 Add upgrade a release methods for helm
  pkg/app/piped/platformprovider/kubernetes/helm.go
Labels: area/go

#4140 Add pipecd builtin tags to ECS resources
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go
