Repository pipe-cd/pipecd, pull requests merged in 2023-10, with the labels that each got.

#4600 [ECS] Fix remove all previous active tasksets on QuickSync
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/task_set.go
  pkg/app/piped/platformprovider/ecs/task_set_test.go
Labels: area/go

#4605 Fix unable to fetch ECS taskset tags
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4608 Support recreate for ECS tasks
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/config/application_ecs.go
Labels: area/go

#4610 Cherry-pick #4590 #4597 #4598 #4600 #4605 #4608
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/task_set.go
  pkg/app/piped/platformprovider/ecs/task_set_test.go
  pkg/app/server/grpcapi/grpcapi.go
  pkg/app/server/grpcapi/grpcapi_test.go
  pkg/config/application_ecs.go
  pkg/datastore/datastore.go
  pkg/datastore/mysql/mysql.go
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/settings-page/api-key/index.tsx
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
  web/src/hooks/redux.ts
Labels: area/web, area/go

#4614 Fix unable to rollout ECS first taskset
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4615 Cherry-pick #4614
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go

#4621 Fix part of lint/go errors (misspell, depguard, unconvert)
  pkg/app/pipectl/client/deployment.go
  pkg/app/piped/apistore/applicationstore/store.go
  pkg/app/piped/apistore/deploymentstore/store.go
  pkg/app/piped/apistore/eventstore/store.go
  pkg/app/piped/platformprovider/terraform/module.go
  pkg/config/piped.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/filedb/filter.go
  pkg/diff/renderer_test.go
Labels: area/go

#4624 Fix part of lint/go errors (deadcode, ineffassign, depguard)
  .golangci.yml
  pkg/app/ops/planpreviewoutputcleaner/cleaner.go
  pkg/app/piped/livestatestore/cloudrun/store.go
  pkg/app/server/grpcapi/grpcapi.go
Labels: area/go

#4628 Reduce `make lint/go` execution time by adding the GOCACHE environment variable
  .golangci.yml
  Makefile
Labels: area/build

#4625 Add tests to terraform platform provider
  pkg/app/piped/platformprovider/terraform/terraform_test.go
Labels: area/go

#4626 Add tests to apikey model
  pkg/model/apikey_test.go
Labels: area/go

#4627 Add tests to application model
  pkg/model/application_test.go
Labels: area/go

#4629 Add tests to model/deployment
  pkg/model/deployment_test.go
Labels: area/go

#4638 Fix part of lint/go errors (stylecheck)
  docs/main.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/app/piped/planner/cloudrun/pipeline.go
  pkg/app/piped/planner/ecs/pipeline.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/lambda/pipeline.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/app/piped/planner/terraform/pipeline.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/pipedverifier/verifier_test.go
  pkg/cli/app.go
  pkg/config/analysis_template.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/control_plane.go
  pkg/config/control_plane_test.go
  pkg/insight/application.go
  pkg/insight/deployment.go
  pkg/insight/insightstore/deployment_store.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/model/application.go
  pkg/model/common.go
Labels: area/go
