Repository pipe-cd/pipecd, pull requests merged in 2024-05, with the labels that each got.

#4904 [blog] Fix links
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/content/en/blog/control-plane-on-ecs.md
Labels: area/blog

#4907 [doc] Update the feature status of ECS Plan Preview to Alpha
  docs/content/en/docs-dev/feature-status/_index.md
Labels: area/docs

#4912 Cherry-pick #4898 #4892 #4901 #4900 #4897 #4893 #4904
  ADOPTERS.md
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.41.x/quickstart/_index.md
  docs/content/en/docs-v0.42.x/quickstart/_index.md
  docs/content/en/docs-v0.43.x/quickstart/_index.md
  docs/content/en/docs-v0.44.x/quickstart/_index.md
  docs/content/en/docs-v0.45.x/quickstart/_index.md
  docs/content/en/docs-v0.46.x/quickstart/_index.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs/_index.md
  docs/layouts/partials/head.html
  docs/themes/docsy/layouts/partials/head.html
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/trigger/trigger.go
Labels: area/manifests, area/go

#4913 Fix to add -n opiton for echo
  cmd/piped/README.md
Labels: area/go

#4915 Update promql for deployment count by project on overview controlplane dashboard
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

#4921 Fix bug possible to override project rbac built-in roles
  pkg/model/project.go
  pkg/model/project_test.go
Labels: kind/bug, area/go

#4920 Web update for using RBAC with resource label
  web/package.json
  web/src/modules/project/index.test.ts
  web/src/modules/project/index.ts
  web/yarn.lock
Labels: area/web

#4925 [doc] Add docs of required IAM actions for Piped
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.47.x/installation/install-piped/required-permissions.md
Labels: area/docs

#4927 Refactor and add tests for git package
  pkg/git/client.go
  pkg/git/repo_test.go
  pkg/git/url_test.go
Labels: area/go

#4931 Remove copyright from codegen template
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool
