Repository pipe-cd/pipecd, pull requests merged in 2024-03, with the labels that each got.

#4804 Fix the Lambda encryptedSecrets key used in the example
  examples/lambda/secret-management/app.pipecd.yaml
Labels: area/examples

#4821 Update BuldPlan API for piped pluggin
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.go
  pkg/app/pipedv1/pluggin/applicationkind/api/api.pb.validate.go
  pkg/app/pipedv1/pluggin/applicationkind/api/api.proto
Labels: area/go

#4825 Update controller to use new planner logic
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/plugin/api/v1alpha1/platform/client.go
Labels: area/go

#4823 [blog] Add a blog of building a control plane on local by docker-compose
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/static/images/control-plane-local-console.png
Labels: area/docs

#4834 Update plugin proto for ExecutorService and add piped pluginservice
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

#4819 Add plugin planner for k8s
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/app/pipedv1/plugin/platform/kubernetes/main.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/pipeline.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/platform/kubernetes/server.go
Labels: area/go

#4829 [doc] Add explanation of options of piped and launcher
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/runtime-options.md
Labels: area/docs

#4828 [doc] Add links to each README.md of components
  CONTRIBUTING.md
Labels: area/docs

#4827 [doc] Add explanation of health check
  docs/content/en/docs-dev/user-guide/metrics.md
  docs/content/en/docs-v0.46.x/user-guide/metrics.md
Labels: area/docs

#4818 [doc] Fix the status of Plan Preview for Lambda
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.39.x/feature-status/_index.md
  docs/content/en/docs-v0.40.x/feature-status/_index.md
  docs/content/en/docs-v0.41.x/feature-status/_index.md
  docs/content/en/docs-v0.42.x/feature-status/_index.md
  docs/content/en/docs-v0.43.x/feature-status/_index.md
  docs/content/en/docs-v0.44.x/feature-status/_index.md
  docs/content/en/docs-v0.45.x/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
Labels: area/docs

#4802 [doc] Add links to `pipectl init` from the pages of configuring ECS/K8s App
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/kubernetes.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/defining-app-configuration/kubernetes.md
Labels: area/docs

#4836 Update the deprecated func for google.golang.org/grpc package
  pkg/rpc/rpcclient/option.go
Labels: area/go

#4837 Update deprecated API secretmanagerpb.AccessSecretVersionRequest
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go

#4843 Fix README.md for piped
  cmd/piped/README.md
Labels: area/go

#4805 Support deploying Lambda functions depending on Lambda layers
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/function_test.go
Labels: area/go

#4846 Add the application ID to the application detail page
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

#4807 [doc] Add docs of Lambda layers configuration
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
Labels: area/docs

#4852 Add deployment ID to the deployment details page
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web
