Repository pipe-cd/pipecd, pull requests merged in 2024-09, with the labels that each got.

#5173 [nits] fix docs to lowerCamelCase and add t.Parallel()
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback_test.go
Labels: area/go

#5162 refactor: flushAll method to wait for all log flushes to complete
  pkg/app/piped/logpersister/persister.go
Labels: area/go

#5172 Show username on the header
  web/src/components/header/index.tsx
Labels: area/web

#5175 Add force-sync-by-replace annotation option
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubectl.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
Labels: area/go

#5143 [Lambda] Support LiveState Store, Reporter, and UI for Lambda
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/livestatereporter/lambda/report.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/lambda/lambda.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/lambda/store_test.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/platformprovider/lambda/client.go
  pkg/app/piped/platformprovider/lambda/function.go
  pkg/app/piped/platformprovider/lambda/lambda.go
  pkg/app/piped/platformprovider/lambda/state.go
  pkg/app/piped/platformprovider/lambda/state_test.go
  pkg/model/application_live_state.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/model/application_live_state_test.go
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/index.tsx
  web/src/modules/applications-live-state/index.ts
Labels: kind/enhancement, area/web, area/go

#5167 Add config for Grafana Tempo datasource
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

#5169 Update piped config for quickstart
  manifests/piped/templates/configmap.yaml
  manifests/piped/values.yaml
  quickstart/README.md
  quickstart/manifests/piped.yaml
Labels: area/manifests

#5187 Add route to opentelemetry collector at the ingress
  manifests/pipecd/templates/ingress.yaml
Labels: area/manifests

#5177 Improve Terraform plan result handling
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/piped/platformprovider/terraform/terraform_test.go
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/planpreview_test.go
Labels: kind/enhancement, area/go, area/tool

#5171 Use singleflight to clone/update repository cache
  pkg/git/client.go
Labels: area/go

#5190 Refactor the git clone to make the variable scope smaller
  pkg/git/client.go
Labels: area/go

#5186 [Lambda] Support Drift Detection for Lambda
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: kind/enhancement, area/go

#5188 Fix the default values of pipecd manifest
  manifests/pipecd/values.yaml
Labels: area/manifests

#5192 Fix Release version text
  Makefile
Labels: area/build

#5193 Discard otel errors
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

#5195 Fix Release env of site in publish_site workflow
  .github/workflows/publish_site.yaml
Labels: area/build

#5198 Add ListDeprecatedNotes endpoint to web api
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
Labels: area/web, area/go

#5199 Implement list breaking changes note endpoint for web_api
  go.mod
  go.sum
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#5201 Revert "Update list deprecated api for testing"
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#5194 Set the envoy retry policy for external-authz filter
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

#5203 Remove retry_policy and make timeout longer
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: area/manifests

#5208 Enable the persistence of the Grafana Tempo
  manifests/pipecd/values.yaml
Labels: area/manifests

#5209 Revert "Enable the persistence of the Grafana Tempo"
  manifests/pipecd/values.yaml
Labels: area/manifests

#5211 [Snyk] Upgrade dayjs from 1.11.12 to 1.11.13
  web/package.json
  web/yarn.lock
Labels: area/web

#5216 Regard DSP as done only when preparation is successful considering of reuse the provider
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go, area/pipedv1

#5215 Fix to use target dsp in script run rollback
  pkg/app/piped/executor/kubernetes/rollback.go
Labels: area/go

#5112 Add Deploysource as proto model
  pkg/app/pipedv1/plugin/inputs.go
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/web, area/go, area/pipedv1

#5217 Make controller's os.RemoveAll single-threaded
  pkg/app/piped/controller/controller.go
Labels: area/go

#5220 Update deployment readme
  CONTRIBUTING.md
  cmd/pipecd/README.md
  web/README.md
Labels: area/web, area/go

#5223 Implement k8s plugin's FetchDefinedStages and BuildQuickSyncStages
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go, area/pipedv1

#5218 Add InstallTool RPC method for PluginService
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
Labels: area/go, area/pipedv1

#5227 Add test for buildQuickSyncPipeline
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
Labels: area/go, area/pipedv1

#5229 Add stage_index field at BuildQuickSyncStagesRequest
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

#5230 Sort the rollbackStages to fix the flaky tests
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
Labels: area/go, area/pipedv1

#5231 Send StageIndex to plugins
  pkg/app/pipedv1/controller/planner.go
Labels: area/go, area/pipedv1

#5228 Add toolregistry client as DeploymentService member
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/toolregistry/toolregistry.go
Labels: area/go, area/pipedv1

#5232 Add PipelineStage.Rollback and mark PipelineStage.Visible as deprecated
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-pipeline.ts
Labels: area/web, area/go, area/pipedv1

#5236 Mark PipelineStage.Predefined as deprecated field
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
Labels: area/go

#5240 Fix panic in ECS driftdetection when a taskdef in livestates does not exist
  pkg/app/piped/driftdetector/ecs/detector.go
Labels: kind/bug, area/go, cherry-pick, v0.49.1

#5239 Add requires for stages in case of multi plugins quicksync pattern
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
Labels: area/go, area/pipedv1
