Repository pipe-cd/pipecd, pull requests merged in 2024-11, with the labels that each got.

#5303 Add tests for pipedv1 executor package
  pkg/app/pipedv1/executor/executor.go
  pkg/app/pipedv1/executor/executor_test.go
  pkg/app/pipedv1/executor/stopsignal_test.go
Labels: area/go, area/pipedv1

#5306 [ECS] Fix unexpected diff of Plan Preview
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: kind/bug, area/go, cherry-pick, v0.49.3

#5304 Add findUpdatedWorkloads function
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5309 Add execute stage interface to deployment service api
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
Labels: area/go

#5308 [Lambda] Fix unexpected diff of Plan Preview
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
Labels: kind/bug, area/go, cherry-pick, v0.49.3

#5310 Skip commit and push when no replacement happens in EventWatcher
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: kind/bug, area/go

#5312 Execute git clean partially when drift detection for every app is done
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

#5315 Update RELEASE and docs to v0.49.3
  RELEASE
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/event-watcher.md
Labels: cherry-pick, v0.49.3

#5314 [Snyk] Upgrade react-syntax-highlighter from 15.5.0 to 15.6.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5322 Add test case for the commit with trailers
  pkg/git/repo_test.go
Labels: area/go

#5325 Update piped base image hash for piped and launcher
  cmd/launcher/Dockerfile
  cmd/piped/Dockerfile
Labels: area/go

#5331 Remove global tracer provider to avoid non-expected spans are sent
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go, area/pipedv1

#5319 Add function to find ConfigMaps and Secrets in manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5333 Implement checkImageChange and tests
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
Labels: area/go, area/pipedv1

#5334 Sort trailers to ensure the order
  go.mod
  go.sum
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go, cherry-pick, v0.49.4-rc1

#5340 Add notification event DEPLOYMENT_STARTED
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.validate.go
  pkg/model/notificationevent.proto
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/web, area/go, area/pipedv1

#5339 Validate event context key
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/eventstore.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
Labels: area/go, cherry-pick, v0.49.4-rc1

#5342 Introduce plugin logpersister package
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/executor.go
  pkg/plugin/logpersister/persister.go
  pkg/plugin/logpersister/persister_test.go
  pkg/plugin/logpersister/stagelogpersister.go
Labels: area/go, area/pipedv1

#5344 Handle ECS Apps DeploymentConfiguration and containers Environments drift detection
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: area/go, cherry-pick, v0.49.4

#5349 Refactor and implement k8s pipeline builds
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5354 Enable rendering Mermaid diagrams in docs
  docs/layouts/_default/_markup/render-codeblock-mermaid.html
  docs/layouts/partials/scripts.html
Labels: area/docs

#5356 Implement Kubernetes application configuration and deployment input structures
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5341 Add checkReplicasChange function to detect changes in replicas field
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/plugin/diff/renderer.go
  pkg/plugin/diff/renderer_test.go
Labels: area/go, area/pipedv1

#5360 Refactor launcher package to lifecycle
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

#5350 Implement Helm chart handling in Loader with support for local charts
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go, area/pipedv1

#5359 Add functionalities for applying k8s manifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
Labels: area/go, area/pipedv1

#5362 Implement DetermineStrategy for the Kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5366 Refactor manifest loading in DeploymentService to reduce code duplication
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5373 Fix unable to load manifest for PlanPreview in case of ECS standalone tasks
  pkg/app/piped/planpreview/ecsdiff.go
Labels: area/go, cherry-pick, v0.49.5
