Repository pipe-cd/pipecd, pull requests merged in 2024-07, with the labels that each got.

#5009 Install jq in piped-base images
  tool/piped-base-okd/Dockerfile
  tool/piped-base/Dockerfile
Labels: area/tool

#5010 Update piped-base image
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
Labels: area/go

#5002 Add default env for script run
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/scriptrun/script_run_test.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go

#5003 [Snyk] Security upgrade echarts from 5.5.0 to 5.5.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5015 Update plugin planner interface
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.validate.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
Labels: area/go

#4991 Add opentelemetry-collector chart as deps and add values
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

#4932 Define in-test function at the head of test
  pkg/git/repo_test.go
Labels: area/go

#4990 Implement gRPC service for envoy ExtAuthz
  cmd/pipecd/server.go
  go.mod
  go.sum
  pkg/app/server/grpcapi/envoy_ext_authz_api.go
  pkg/rpc/rpcauth/auth.go
Labels: area/go

#5017 Update Hugo version to latest
  .github/workflows/publish_site.yaml
Labels: area/build, area/blog

#5025 Fix: Update latest version of docs to v0.48.x
  docs/main.go
Labels: area/docs

#5016 Implement envoy route config for opentelemetry-collector
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/templates/envoy-configmap.yaml
Labels: area/manifests

#5020 Implement QuickSyncPlan for k8s plugin
  pkg/app/piped/deploysource/sourcecloner.go
  pkg/app/pipedv1/deploysource/sourcecloner.go
  pkg/app/pipedv1/plugin/inputs.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/platform/kubernetes/server.go
  pkg/app/pipedv1/plugin/secrets/decrypter.go
Labels: area/go

#5034 Add pod annotations for piped helm
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: area/manifests

#4999 [Snyk] Upgrade @reduxjs/toolkit from 1.8.5 to 1.9.7
  web/package.json
  web/src/components/applications-page/application-list/index.tsx
  web/yarn.lock
Labels: area/web

#5001 [Snyk] Upgrade react-router-dom from 5.2.0 to 5.3.4
  web/package.json
  web/yarn.lock
Labels: area/web

#4984 [Snyk] Upgrade grpc-web from 1.0.7 to 1.5.0
  web/package.json
  web/yarn.lock
Labels: area/web

#5014 [Snyk] Security upgrade alpine from 3.17 to 3.20
  cmd/helloworld/Dockerfile
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  docs/Dockerfile
  manifests/pipecd/templates/deployment.yaml
  tool/piped-base/Dockerfile
Labels: area/manifests, area/go, area/tool

#5042 Upgrade google-cloud-sdk
  cmd/pipecd/Dockerfile
Labels: area/go

#4903 feat: add support mention slack groups for NotificationReceiverSlack and NotificationMention
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/waitapproval/waitapproval.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/notifier/slack_test.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.proto
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/web, area/go

#5035 Make it clear to attach IAM policies to ECS task-role
  docs/content/en/docs-dev/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.47.x/installation/install-piped/required-permissions.md
  docs/content/en/docs-v0.48.x/installation/install-piped/required-permissions.md
Labels: area/docs

#5047 Add DetermineVersions rpc to PlannerService
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.validate.go
  pkg/plugin/api/v1alpha1/platform/api.proto
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
Labels: area/go

#5048 Remove GetReadOnly from deploysource.Provider interface
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/executor/cloudrun/deploy.go
  pkg/app/pipedv1/executor/cloudrun/rollback.go
  pkg/app/pipedv1/executor/ecs/deploy.go
  pkg/app/pipedv1/executor/ecs/rollback.go
  pkg/app/pipedv1/executor/lambda/deploy.go
  pkg/app/pipedv1/executor/lambda/rollback.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
Labels: area/go

#5049 Add a labeler rule of area/pipedv1
  .github/labeler.yaml
Labels: area/build

#5052 Pipedv1 using auto rollback config from spec.Planner instead
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/config/application.go
  pkg/config/application_cloudrun.go
  pkg/config/application_cloudrun_test.go
  pkg/config/application_ecs.go
  pkg/config/application_ecs_test.go
  pkg/config/application_kubernetes.go
  pkg/config/application_kubernetes_test.go
  pkg/config/application_lambda.go
  pkg/config/application_lambda_test.go
  pkg/config/application_terraform.go
  pkg/config/application_terraform_test.go
  pkg/config/application_test.go
Labels: area/go, area/pipedv1

#5030 Ignore `desiredCount` of ECS when it's 0 or not set for AutoScaling
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: kind/enhancement, area/go

#5055 Cherry-pick #5000 #4999 #5001 #4984 #5014 #5042 #4903 #5030
  cmd/helloworld/Dockerfile
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  docs/Dockerfile
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/defining-app-configuration/ecs.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-piped/configuring-notifications.md
  manifests/pipecd/templates/deployment.yaml
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/waitapproval/waitapproval.go
  pkg/app/piped/notifier/slack.go
  pkg/app/piped/notifier/slack_test.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/executor/waitapproval/waitapproval.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/notifier/slack_test.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/config/application.go
  pkg/config/application_test.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/config/testdata/piped/piped-config.yaml
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.proto
  tool/piped-base/Dockerfile
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
  web/package.json
  web/src/components/applications-page/application-list/index.tsx
  web/yarn.lock
Labels: area/manifests, area/web, area/go, area/tool

#5057 Cherry-pick #5034
  manifests/piped/templates/deployment.yaml
  manifests/piped/values.yaml
Labels: area/manifests

#4979 [ECS] Implement LiveStateStore&Reporter for ECS
  pkg/app/piped/livestatereporter/ecs/report.go
  pkg/app/piped/livestatereporter/reporter.go
  pkg/app/piped/livestatestore/ecs/ecs.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/livestatestore.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
  pkg/app/piped/platformprovider/ecs/state.go
  pkg/app/piped/platformprovider/ecs/state_test.go
  pkg/model/application_live_state.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/model/application_live_state_test.go
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: kind/enhancement, area/web, area/go

#5063 Support `EphemeralStorage` in TaskDefinition [ECS]
  pkg/app/piped/platformprovider/ecs/client.go
Labels: kind/enhancement, area/go

#5070 Remove unused dependencies: @date-io/dayjs, @material-ui/pickers
  web/package.json
  web/yarn.lock
Labels: area/web

#5068 Revise plugin API
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/app/pipedv1/plugin/inputs.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/planner/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/planner/server.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/app/pipedv1/plugin/platform/kubernetes/planner/server.go
  pkg/plugin/api/v1alpha1/client.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool, area/pipedv1

#5038 [Snyk] Upgrade @types/yup from 0.29.11 to 0.29.14
  web/package.json
  web/yarn.lock
Labels: area/web

#5039 [Snyk] Upgrade react-draggable from 4.4.3 to 4.4.6
  web/package.json
  web/yarn.lock
Labels: area/web

#5037 [Snyk] Upgrade dotenv from 8.2.0 to 8.6.0
  web/package.json
  web/yarn.lock
Labels: area/web

#5071 Fix type error for dummyApplicationLiveState
  web/src/__fixtures__/dummy-application-live-state.ts
Labels: area/web

#5072 Fix type for grpcWeb.Error to grpcweb.RpcError
  web/src/api/client.ts
Labels: area/web

#5040 [Snyk] Upgrade clsx from 1.1.1 to 1.2.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5073 Add typecheck for typescript on lint/web
  Makefile
Labels: area/build

#5079 Add workflow for cherry-pick
  .github/workflows/cherry_pick.yaml
Labels: area/build

#5080 Add user info for cherry-pick
  .github/workflows/cherry_pick.yaml
Labels: area/build

#5081 Add quiet option for cherry-pick script
  .github/workflows/cherry_pick.yaml
Labels: area/build

#5083 Add sign off option for git cherry-pick
  hack/cherry-pick.sh
Labels: area/build

#5085 add ci rule for release branch
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

#5065 Remove platform provider migration ops task
  cmd/pipecd/ops.go
  pkg/app/ops/platformprovidermigration/runner.go
Labels: area/go, cherry-pick, v0.48.3

#5029 Register otel TracerProvider to send traces
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/grpc_test.go
Labels: area/go

#5094 Cherry-pick #5079 #5080 #5081 #5083 #5085
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  hack/cherry-pick.sh
Labels: area/build

#5091 Cherry-pick #5037 #5038 #5039 #5040 #5063 #5065 #5070 #5072 #5090
  RELEASE
  cmd/pipecd/ops.go
  pkg/app/ops/platformprovidermigration/runner.go
  pkg/app/piped/platformprovider/ecs/client.go
  web/package.json
  web/src/api/client.ts
  web/yarn.lock
Labels: area/web, area/go

#5086 Fix 4 typos
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/lambda/lambda.go
  pkg/app/piped/planner/lambda/lambda.go
  pkg/app/piped/platformprovider/cloudrun/cache.go
  pkg/app/piped/platformprovider/kubernetes/cache.go
  web/src/components/application-detail-page/application-detail/sync-state-reason/index.tsx
Labels: area/web, area/go

#5075 Fix docs and a description of supported SSO services
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.39.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.40.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.41.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.42.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.44.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/managing-controlplane/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/managing-controlplane/configuration-reference.md
  web/src/constants/text.ts
Labels: area/web

#5021 [ECS] Implement LiveState UI for ECS
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/components/application-detail-page/application-state-view/ecs-state-view/ecs-resource-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/ecs-state-view/ecs-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/ecs-state-view/ecs-resource/index.tsx
  web/src/components/application-detail-page/application-state-view/ecs-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/modules/applications-live-state/index.ts
Labels: kind/enhancement, area/web

#5095 Remove unnecesarry property
  web/src/__fixtures__/dummy-application-live-state.ts
Labels: area/web

#5096 Set fetch-depth as 0 to create correct patches during git cherry-pick as much as possible
  .github/workflows/cherry_pick.yaml
Labels: area/build
