Repository pipe-cd/pipecd, pull requests merged in 2024-12, with the labels that each got.

#5375 refactor: Applied docker build practices
  tool/actions-plan-preview/Dockerfile
  tool/codegen/Dockerfile
  tool/firestore-emulator/Dockerfile
  tool/piped-base-okd/Dockerfile
Labels: area/tool

#5321 Scheduler pipedv1 init logic
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/controller/stopsignal.go
  pkg/app/pipedv1/controller/stopsignal_test.go
  pkg/app/pipedv1/executor/executor.go
  pkg/app/pipedv1/executor/executor_test.go
  pkg/app/pipedv1/executor/registry/registry.go
  pkg/configv1/application.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go, area/pipedv1

#5377 Remove plugin config from plugin deployment api
  pkg/app/pipedv1/controller/planner.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go, area/pipedv1

#5378 Add deploy target
  pkg/configv1/piped.go
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web, area/go, area/pipedv1

#5371 Partial implementation of the K8S_SYNC stage
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go, area/pipedv1

#5379 Change kubectl DL host to dl.k8s.io
  pkg/app/piped/toolregistry/tool_darwin.go
  pkg/app/piped/toolregistry/tool_linux.go
Labels: area/go, cherry-pick

#5380 Implement Kubectl command wrapper with apply, create, replace, and delete functionalities
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go, area/pipedv1

#5381 Refactor the k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go, area/pipedv1

#5384 Add context to RunBinary interface
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

#5385 Implement applier for the kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
Labels: area/go, area/pipedv1

#5386 Fix missing call to cancel context in backoff test
  pkg/backoff/backoff_test.go
Labels: area/go

#5335 [Snyk] Security upgrade golang from 1.22.5-alpine3.20 to 1.23.3-alpine3.20
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
Labels: area/tool

#5387 Implement initialization of piped service client in k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/app/pipedv1/plugin/toolregistry/toolregistry.go
  pkg/plugin/pipedapi/client.go
Labels: area/go, area/pipedv1

#5389 Implement preparing manifest applier in kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/configv1/piped.go
Labels: area/go, area/pipedv1

#5392 Update pipedv1 source code to use only configv1
  pkg/app/pipedv1/appconfigreporter/appconfigreporter.go
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/notifier/notifier.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment_chain.go
  pkg/app/pipedv1/trigger/determiner.go
  pkg/app/pipedv1/trigger/trigger.go
  pkg/configv1/application.go
  pkg/configv1/config.go
Labels: area/go, area/pipedv1

#5394 PoC pipedv1 starts plugins
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/pluginregistry.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/configv1/piped.go
Labels: area/go, area/pipedv1

#5396 Update Grafana Tempo helm chart
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests

#5398 Update lifecycle.DownloadBinary to work with local file
  pkg/lifecycle/binary.go
  pkg/lifecycle/binary_test.go
Labels: area/go

#5397 Add metrics_generator_processors config to manifest
  manifests/pipecd/values.yaml
Labels: area/manifests

#5395 added arm64 build for piped-base and other images
  .github/workflows/build_tool.yaml
  tool/firestore-emulator/Dockerfile
Labels: area/build, area/tool

#5400 PoC k8s plugin start entrypoint
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/configv1/piped.go
Labels: area/go, area/pipedv1

#5401 Fix the piped to correct invoking the k8s plugin
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
Labels: area/go, area/pipedv1

#5402 Add plugins build command to makefile
  Makefile
Labels: area/build

#5403 Fix publish_tool ci
  .github/workflows/publish_tool.yaml
Labels: area/build

#5411 Fix kubectl download URL in install script
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/scripts.go
Labels: area/go, area/pipedv1

#5409 Implement functions to find referencing ConfigMaps and Secrets in Kubernetes manifests
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
Labels: area/go, area/pipedv1

#5414 Remove decryption grpc from pipedv1 plugin api
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api_test.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.proto
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/pipedv1/plugin/secrets/decrypter.go
Labels: area/go, area/pipedv1

#5415 Move toolregistry package to pkg/plugin
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/registry_test.go
  pkg/plugin/toolregistry/toolregistry.go
  pkg/plugin/toolregistry/toolregistrytest/toolregistrytest.go
Labels: area/go, area/pipedv1

#5416 Update make build/plugin command
  Makefile
Labels: area/build

#5404 [Snyk] Security upgrade alpine from 3.20 to 3.21.0
  cmd/pipecd/Dockerfile
Labels: area/go

#5407 [Snyk] Security upgrade alpine from 3.20 to 3.21.0
  cmd/pipectl/Dockerfile
Labels: area/go

#5408 [Snyk] Security upgrade alpine from 3.20 to 3.21.0
  cmd/helloworld/Dockerfile
Labels: area/go

#5405 [Snyk] Security upgrade alpine from 3.20 to 3.21.0
  tool/piped-base/Dockerfile
Labels: area/tool

#5417 Implement hashing functions for Kubernetes manifests and add tests
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go, area/pipedv1

#5412 Use git partial clone and worktree to reduce network/file io
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/driftdetector/lambda/detector.go
  pkg/app/piped/driftdetector/terraform/detector.go
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/git/client.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go, area/pipedv1

#5418 Implement adding config hash annotation to deployments
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go, area/pipedv1

#5410 Implement preparing the deploy source in pipedv1 planner / scheduler
  pkg/app/pipedv1/cmd/piped/grpcapi/tool_registry.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/sourcecloner.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/app/pipedv1/sourceprocesser/attacher.go
  pkg/app/pipedv1/sourceprocesser/attacher_test.go
  pkg/app/pipedv1/sourceprocesser/decrypter.go
  pkg/app/pipedv1/sourceprocesser/decrypter_test.go
  pkg/app/pipedv1/sourceprocesser/sourceprocesser_test.go
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go, area/pipedv1

#5420 feat: added arm64 build
  .github/workflows/publish_image_chart.yaml
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
Labels: area/build, area/go

#5423 Add workaround for aarch64 container image build
  cmd/pipecd/Dockerfile
Labels: area/go

#5424 [ECS] Support 5 missing fields in TaskDefinition
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go, cherry-pick, v0.50.1

#5421 Add calling annotateConfigHash and refactor unmarshaling deploy target
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/application_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5425 [ECS] Enabled to configure/update `PropagateTags` and `EnableECSManagedTags`
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/platformprovider/ecs/client.go
Labels: area/go, cherry-pick, v0.50.1

#5399 Add k8s e2e test
  Makefile
  go.mod
  go.sum
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/log/log.go
Labels: area/build, area/go

#5426 Migrate to use uber gomock
  tool/codegen/Dockerfile
Labels: area/tool

#5434 Bump the golangci-lint version
  .github/workflows/lint.yaml
  .golangci.yml
  Makefile
  go.mod
  go.sum
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/piped/controller/controller.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/skipstage_test.go
  pkg/app/piped/controller/tracing.go
  pkg/app/piped/controller/tracing_test.go
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
  pkg/app/piped/driftdetector/lambda/detector_test.go
  pkg/app/piped/livestatereporter/ecs/report.go
  pkg/app/piped/livestatereporter/lambda/report.go
  pkg/app/piped/livestatestore/ecs/store.go
  pkg/app/piped/livestatestore/lambda/store.go
  pkg/app/piped/livestatestore/lambda/store_test.go
  pkg/app/piped/planpreview/ecsdiff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/state.go
  pkg/app/piped/platformprovider/ecs/state_test.go
  pkg/app/piped/platformprovider/lambda/lambda.go
  pkg/app/piped/platformprovider/lambda/state.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/controller/tracing.go
  pkg/app/pipedv1/controller/tracing_test.go
  pkg/app/pipedv1/livestatestore/livestatestore.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/server.go
  pkg/diff/diff.go
  pkg/git/repo.go
  pkg/lifecycle/binary.go
  pkg/model/project.go
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
  pkg/plugin/signalhandler/handler.go
Labels: area/build, area/go, area/pipedv1

#5433 Pass secret decrypter to pipedv1 schedulers and planners
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go, area/pipedv1

#5435 Use linter `goheader` to ensure license header exists
  .golangci.yml
  pkg/app/pipectl/cmd/deployment/list.go
  pkg/app/pipectl/cmd/initialize/exporter/exporter.go
  pkg/app/pipectl/cmd/initialize/prompt/prompt.go
  pkg/app/pipectl/cmd/initialize/prompt/prompt_test.go
  pkg/app/piped/executor/scriptrun/script_run_test.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/server/httpapi/httpapimetrics/handler_test.go
  pkg/oauth/oidc/oidc_test.go
Labels: area/go, area/pipedv1

#5431 Add test for executing K8S_SYNC stage at the kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/plugin/logpersister/logpersistertest/logpersister.go
Labels: area/go, area/pipedv1

#5437 Regenerate mock file using uber-go mock
  .github/workflows/gen.yaml
  Makefile
  go.mod
  go.sum
  pkg/app/piped/controller/skipstage_test.go
  pkg/app/piped/executor/kubernetes/canary_test.go
  pkg/app/piped/executor/kubernetes/kubernetes_test.go
  pkg/app/piped/executor/kubernetes/primary_test.go
  pkg/app/piped/executor/kubernetes/sync_test.go
  pkg/app/piped/platformprovider/kubernetes/kubernetestest/kubernetes.mock.go
  pkg/app/server/analysisresultstore/filestore_test.go
  pkg/app/server/applicationlivestatestore/cache_test.go
  pkg/app/server/applicationlivestatestore/filestore_test.go
  pkg/app/server/grpcapi/piped_api_test.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/app/server/stagelogstore/cache_test.go
  pkg/app/server/stagelogstore/filestore_test.go
  pkg/cache/cachetest/cache.mock.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/filestore/filestoretest/filestore.mock.go
  pkg/git/gittest/git.mock.go
  pkg/insight/insightstore/milestonestore_test.go
  pkg/insight/insighttest/insight.mock.go
  pkg/jwt/jwttest/jwt.mock.go
  pkg/redis/redistest/redis.mock.go
Labels: area/build, area/go

#5443 Enhance logging in EventWatcher
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go

#5441 Make k8s plugin fields private
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go, area/pipedv1

#5442 Copy .git in deploysource provider
  pkg/app/piped/deploysource/deploysource.go
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go, area/pipedv1, cherry-pick, v0.50.1

#5447 Add rpc interface for livestate in plugin architecture
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.validate.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
  pkg/plugin/api/v1alpha1/livestate/api_grpc.pb.go
  tool/codegen/codegen.sh
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
  web/src/__fixtures__/dummy-application-live-state.ts
Labels: area/web, area/go, area/tool

#5449 Fix web test warning
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/copy-icon-button/index.tsx
  web/src/components/settings-page/project/components/static-admin-form/index.tsx
Labels: area/web

#5450 Rename deploysource's revision to commit_hash
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go, area/pipedv1

#5445 Init grpc server of wait stage plugin
  pkg/app/pipedv1/plugin/wait/execute/server.go
  pkg/app/pipedv1/plugin/wait/execute/wait.go
  pkg/app/pipedv1/plugin/wait/main.go
  pkg/app/pipedv1/plugin/wait/server.go
Labels: area/go, area/pipedv1

#5446 Remove `key` field from `provider.Manifest` in the k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5451 Reduce ResourceKey's responsibility
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go, area/pipedv1

#5452 Add livestatereporter for the plugin architecture
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go, area/pipedv1

#5453 Add deploy target name to the resource state
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/web, area/go

#5454 Determine app health status for plugin architecture
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/model/application_live_state.go
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.proto
  pkg/model/application_live_state_test.go
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
  web/src/components/application-detail-page/application-detail/health-status-icon/index.tsx
  web/src/constants/health-status-text.ts
Labels: area/web, area/go, area/pipedv1

#5460 Set fail_on_error in the lint/go workflow
  .github/workflows/lint.yaml
Labels: area/build

#5461 Fixed to certainly store the metadata in graceful shutdown
  pkg/app/piped/executor/wait/wait.go
Labels: kind/bug, area/go

#5462 Refactor wait plugin: rename package and file
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
  pkg/app/pipedv1/plugin/wait/plugin.go
Labels: area/go, area/pipedv1

#5463 Rename server.go to plugin.go in the k8s plugin's main package
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go, area/pipedv1
