Repository pipe-cd/pipecd, pull requests merged in 2024-04, with the labels that each got.

#4853 Add base64 encoded piped key to dialog
  web/src/components/settings-page/piped/index.tsx
Labels: area/web

#4809 [doc] Fix doc of missing DataStore.type: FILEDB
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-v0.46.x/feature-status/_index.md
Labels: area/docs

#4851 Use valid semver in run/pipecd command
  Makefile
Labels: area/build

#4801 Support Canary & Blue/Green for ECS by `pipectl init`
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/pipectl/cmd/initialize/ecs_test.go
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-bluegreen.yaml
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-canary.yaml
  pkg/app/pipectl/cmd/initialize/testdata/ecs-app-empty.yaml
  pkg/config/application.go
  pkg/config/application_ecs.go
  pkg/config/percentage.go
Labels: area/go

#4873 Update configuration validation logic for Attachment and Encryption features
  pkg/config/application.go
  pkg/config/application_test.go
Labels: area/piped, area/go

#4875 docs: added install method
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/user-guide/command-line-tool.md
Labels: area/docs

#4869 Add a caution comment of scrape_interval
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

#4878 Fix typo
  manifests/pipecd/templates/configmap.yaml
Labels: area/manifests

#4882 Fix test: default branch name was unstable
  pkg/git/client_test.go
Labels: area/go

#4898 Update controlplane overview Grafana dashboad
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: area/manifests

#4892 Support PipelineSync on OUT_OF_SYNC
  pkg/app/piped/trigger/trigger.go
  pkg/app/pipedv1/trigger/trigger.go
Labels: area/go

#4893 Update quickstart/_index.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.39.x/quickstart/_index.md
  docs/content/en/docs-v0.40.x/quickstart/_index.md
  docs/content/en/docs-v0.41.x/quickstart/_index.md
  docs/content/en/docs-v0.42.x/quickstart/_index.md
  docs/content/en/docs-v0.43.x/quickstart/_index.md
  docs/content/en/docs-v0.44.x/quickstart/_index.md
  docs/content/en/docs-v0.45.x/quickstart/_index.md
  docs/content/en/docs-v0.46.x/quickstart/_index.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
  docs/content/en/docs/_index.md
Labels: area/docs

#4881 [ECS] Support Plan Preview for ECS
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/ecsdiff.go
  pkg/app/piped/platformprovider/ecs/cache.go
  pkg/app/piped/platformprovider/ecs/diff.go
  pkg/app/piped/platformprovider/ecs/diff_test.go
  pkg/app/piped/platformprovider/ecs/ecsmanifests.go
  pkg/app/piped/platformprovider/ecs/testdata/new_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/new_taskdef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/old_servicedef.yaml
  pkg/app/piped/platformprovider/ecs/testdata/old_taskdef.yaml
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/renderer.go
  pkg/diff/renderer_test.go
Labels: kind/enhancement, area/go
