Repository pipe-cd/pipecd, pull requests merged in 2024-10, with the labels that each got.

#5242 Use index from requests in buildQuickSyncPipeline
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5238 Add test for pipedv1's buildPlan method, and remove platform specific config from configv1's GenericApplicationConfig
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/configv1/application.go
  pkg/configv1/application_kubernetes_test.go
  pkg/configv1/application_lambda_test.go
  pkg/configv1/application_terraform_test.go
  pkg/configv1/application_test.go
  pkg/configv1/config.go
Labels: area/go, area/pipedv1

#5248 Remove an unused field 'configFilePathInGitRepo'
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: area/go

#5246 Add test for k8s plugin's toolregistry
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/registry.go
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/registry_test.go
  pkg/app/pipedv1/plugin/toolregistry/toolregistrytest/toolregistrytest.go
Labels: area/go, area/pipedv1

#5250 Copy platform provider kubernetes under the plugin directory
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/cache.go
  pkg/app/pipedv1/plugin/kubernetes/provider/chartrepo/chartrepo.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetesmetrics/metrics.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetestest/kubernetes.mock.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource/pod.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource/statefulset.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resourcekey.go
  pkg/app/pipedv1/plugin/kubernetes/provider/state.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_by_command.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_by_command_no_change.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_ignore_missing_fields.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_ignore_order.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_multi_diffs.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_no_diff.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_redact.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/.helmignore
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/Chart.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/NOTES.txt
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/_helpers.tpl
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/hpa.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/ingress.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/serviceaccount.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/tests/test-connection.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/kustomization.yaml
  tool/codegen/codegen.sh
Labels: area/go, area/tool, area/pipedv1

#5254 Sort subnet in live manifest of ECS Drift Detection
  pkg/app/piped/driftdetector/ecs/detector.go
Labels: area/go, cherry-pick, v0.49.1

#5253 Revert "Copy platform provider kubernetes under the plugin directory"
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/cache.go
  pkg/app/pipedv1/plugin/kubernetes/provider/chartrepo/chartrepo.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/deployment_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetesmetrics/metrics.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetestest/kubernetes.mock.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource/pod.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource/statefulset.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resourcekey.go
  pkg/app/pipedv1/plugin/kubernetes/provider/state.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_by_command.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_by_command_no_change.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_ignore_missing_fields.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_ignore_order.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_multi_diffs.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_no_diff.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/diff_redact.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/.helmignore
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/Chart.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/NOTES.txt
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/_helpers.tpl
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/hpa.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/ingress.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/serviceaccount.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/tests/test-connection.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/kustomization.yaml
  tool/codegen/codegen.sh
Labels: area/go, area/tool, area/pipedv1

#5258 Support directly designating a gitSSHKey instead of File for launcher
  docs/content/en/docs-dev/user-guide/managing-piped/runtime-options.md
  pkg/app/launcher/cmd/launcher/launcher.go
Labels: kind/enhancement, area/go, cherry-pick, v0.49.1

#5257 Implement DetermineVersions of k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go, area/pipedv1

#5260 Add workflow steps to build and publish quickstart manifests
  .github/workflows/publish_image_chart.yaml
Labels: area/build, cherry-pick, v0.49.1

#5262 Fix quickstart workflow not to run by matrix
  .github/workflows/publish_image_chart.yaml
Labels: area/build, cherry-pick, v0.49.1

#5263 Update RELEASE to v0.49.1 and update v0.49.x docs
  RELEASE
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/runtime-options.md
Labels: cherry-pick, v0.49.1

#5266 Fix the workflow publishes quickstart manifests
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#5268 Remove pipectl quickstart command
  cmd/pipectl/main.go
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  docs/content/en/docs-v0.49.x/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/app/pipectl/cmd/quickstart/tool_darwin.go
  pkg/app/pipectl/cmd/quickstart/tool_linux.go
Labels: area/go

#5269 Enabled to configure the interval of livestate store for Lambda
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/livestatestore/lambda/lambda.go
  pkg/config/piped.go
  pkg/config/piped_test.go
Labels: area/go, cherry-pick, v0.49.2

#5272 Update RELEASE to v0.49.2 and sync docs of v0.49.x
  RELEASE
  docs/content/en/docs-v0.49.x/user-guide/managing-piped/configuration-reference.md
Labels: cherry-pick, v0.49.2

#5277 Add application_config_filename field to DeploymentSource
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/web, area/go

#5271 Implement find manifests in k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5278 Separate What and Why in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/build

#5244 Use chan only to notify command is done
  pkg/app/launcher/cmd/launcher/binary.go
  pkg/app/launcher/cmd/launcher/binary_test.go
Labels: area/go

#5290 Move model.DeploymentSource to deployment.DeploymentSource
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/model/deployment_source.pb.go
  pkg/model/deployment_source.pb.validate.go
  pkg/model/deployment_source.proto
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  web/model/deployment_source_pb.d.ts
  web/model/deployment_source_pb.js
Labels: area/web, area/go, area/pipedv1

#5291 Implement LoadManifests with Kustomize template
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize/kustomization.yaml
Labels: area/go, area/pipedv1

#5292 Remove order for stages in case of quick sync
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go, area/pipedv1

#5295 Add event context
  pkg/app/pipectl/cmd/event/register.go
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/web, area/go, area/pipedv1

#5294 Implement TemplateLocalChart with helm
  pkg/app/pipedv1/plugin/kubernetes/config/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/.helmignore
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/Chart.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/NOTES.txt
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/_helpers.tpl
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/hpa.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/ingress.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/serviceaccount.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/templates/tests/test-connection.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testchart/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/dir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/invalid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/valid-symlink
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/appconfdir/values.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testhelm/values.yaml
Labels: area/go, area/pipedv1

#5297 Copy pkg/diff to pkg/plugin/diff except DiffStructureds and RenderByCommand
  pkg/plugin/diff/diff.go
  pkg/plugin/diff/diff_test.go
  pkg/plugin/diff/renderer.go
  pkg/plugin/diff/renderer_test.go
  pkg/plugin/diff/result.go
  pkg/plugin/diff/result_test.go
  pkg/plugin/diff/testdata/complex-node.yaml
  pkg/plugin/diff/testdata/has_diff.yaml
  pkg/plugin/diff/testdata/ignore_adding_map_keys.yaml
  pkg/plugin/diff/testdata/no_diff.yaml
Labels: area/go

#5298 Implement calculating diff of kubernetes manifests
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diffutil_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5300 Delete platform-specific specs from configv1
  pkg/configv1/application.go
  pkg/configv1/application_cloudrun.go
  pkg/configv1/application_cloudrun_test.go
  pkg/configv1/application_ecs.go
  pkg/configv1/application_ecs_test.go
  pkg/configv1/application_kubernetes.go
  pkg/configv1/application_lambda.go
  pkg/configv1/application_terraform.go
  pkg/configv1/application_test.go
  pkg/configv1/config.go
  pkg/configv1/config_test.go
  pkg/configv1/testdata/application/cloudrun-app-bluegreen.yaml
  pkg/configv1/testdata/application/cloudrun-app-canary.yaml
  pkg/configv1/testdata/application/cloudrun-app.yaml
  pkg/configv1/testdata/application/custom-sync-without-run.yaml
  pkg/configv1/testdata/application/custom-sync.yaml
  pkg/configv1/testdata/application/ecs-app-invalid-access-type.yaml
  pkg/configv1/testdata/application/ecs-app-service-discovery.yaml
  pkg/configv1/testdata/application/ecs-app.yaml
  pkg/configv1/testdata/application/k8s-app-bluegreen-with-analysis.yaml
  pkg/configv1/testdata/application/k8s-app-bluegreen.yaml
  pkg/configv1/testdata/application/k8s-app-canary.yaml
  pkg/configv1/testdata/application/k8s-app-envoy-bluegreen.yaml
  pkg/configv1/testdata/application/k8s-app-envoy-canary.yaml
  pkg/configv1/testdata/application/k8s-app-helm.yaml
  pkg/configv1/testdata/application/k8s-app-istio-bluegreen.yaml
  pkg/configv1/testdata/application/k8s-app-istio-canary.yaml
  pkg/configv1/testdata/application/k8s-app-kustomization.yaml
  pkg/configv1/testdata/application/k8s-app-resource-route.yaml
  pkg/configv1/testdata/application/k8s-app-use-pipeline-template.yaml
  pkg/configv1/testdata/application/k8s-plain-yaml.yaml
  pkg/configv1/testdata/application/lambda-app-bluegreen.yaml
  pkg/configv1/testdata/application/lambda-app-canary.yaml
  pkg/configv1/testdata/application/lambda-app.yaml
  pkg/configv1/testdata/application/terraform-app-empty.yaml
  pkg/configv1/testdata/application/terraform-app-secret-management.yaml
  pkg/configv1/testdata/application/terraform-app-with-approval.yaml
  pkg/configv1/testdata/application/terraform-app-with-exit.yaml
  pkg/configv1/testdata/application/terraform-app.yaml
  pkg/configv1/testdata/application/truebydefaultbool-false-explicitly.yaml
  pkg/configv1/testdata/application/truebydefaultbool-true-explicitly.yaml
Labels: area/go, area/pipedv1

#5301 [docs] Remove Compatibilities from ECS examples
  examples/ecs/attachment/taskdef.yaml
  examples/ecs/bluegreen/taskdef.yaml
  examples/ecs/canary/taskdef.yaml
  examples/ecs/secret-management/taskdef.yaml
  examples/ecs/servicediscovery/canary/taskdef.yaml
  examples/ecs/servicediscovery/simple/taskdef.yaml
  examples/ecs/simple/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/awsvpc/taskdef.yaml
  examples/ecs/standalone-task/launch-type/ec2/network-mode/bridge/taskdef.yaml
  examples/ecs/standalone-task/launch-type/fargate/taskdef.yaml
Labels: area/examples

#5302 Make configv1.Config generic type
  pkg/app/pipedv1/controller/planner.go
  pkg/configv1/analysis_template.go
  pkg/configv1/application_test.go
  pkg/configv1/config.go
  pkg/configv1/control_plane_test.go
  pkg/configv1/event_watcher.go
  pkg/configv1/piped_test.go
Labels: area/go, area/pipedv1
