Repository pipe-cd/pipecd, pull requests merged in 2024-08, with the labels that each got.

#5100 Remove "deleted" related Application Firestore indexes
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
Labels: area/go

#5108 Use LRUCache for Application Manifests Cache
  pkg/app/piped/cmd/piped/piped.go
Labels: area/go

#5102 Remove deleted related MySQL application index
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: area/go

#5101 Add note to application field `deleted`
  pkg/model/application.pb.go
  pkg/model/application.proto
Labels: area/go

#5110 Update plugin deployment api
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go, area/pipedv1

#5111 POC Piped v1 planner with plugin deployment interface
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/config/application.go
  pkg/config/application_kubernetes_test.go
  pkg/config/application_lambda_test.go
  pkg/config/application_terraform_test.go
  pkg/config/application_test.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/deployment/api_grpc.pb.go
Labels: area/go, area/pipedv1

#5103 Bump the Grafana chart version
  manifests/pipecd/Chart.lock
  manifests/pipecd/Chart.yaml
  manifests/pipecd/templates/configmap.yaml
  manifests/pipecd/values.yaml
Labels: area/manifests, change-category/breaking-change

#5113 Fix UI dependecies deprecated
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/theme.ts
Labels: area/web

#5077 [Snyk] Upgrade react-cookie from 4.0.3 to 4.1.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5078 [Snyk] Upgrade @primer/octicons-react from 14.2.1 to 14.2.2
  web/package.json
  web/yarn.lock
Labels: area/web

#5046 Support Plan Preview for Lambda
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/lambdadiff.go
  pkg/app/piped/platformprovider/lambda/cache.go
  pkg/app/piped/platformprovider/lambda/diff.go
  pkg/app/piped/platformprovider/lambda/diff_test.go
  pkg/app/piped/platformprovider/lambda/testdata/new_function.yaml
  pkg/app/piped/platformprovider/lambda/testdata/old_function.yaml
Labels: kind/enhancement, area/go

#5119 [docs] change the order of managing-piped, managing-controlplane
  docs/content/en/docs-dev/user-guide/event-watcher.md
  docs/content/en/docs-dev/user-guide/insights.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/_index.md
  docs/content/en/docs-dev/user-guide/managing-piped/_index.md
  docs/content/en/docs-dev/user-guide/plan-preview.md
Labels: area/docs

#5118 [Snyk] Security upgrade golang from 1.22.4-alpine3.20 to 1.22.5-alpine3.20
  tool/actions-gh-release/Dockerfile
Labels: area/tool

#5121 Remove piped config bytes from planner pipedv1
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
Labels: area/go, area/pipedv1

#5123 [blog] Add a blog of KubeCon HongKong 2024
  docs/content/en/blog/pipecd-at-kubecon-hongkong-2024.md
Labels: area/blog

#5115 [Snyk] Upgrade google-protobuf from 3.15.6 to 3.21.4
  web/package.json
  web/yarn.lock
Labels: area/web

#5126 [Snyk] Upgrade dayjs from 1.8.28 to 1.11.12
  web/package.json
  web/yarn.lock
Labels: area/web

#5116 [Snyk] Upgrade react-markdown from 6.0.2 to 6.0.3
  web/package.json
  web/yarn.lock
Labels: area/web

#5130 Update RELEASE to v0.48.5
  RELEASE
Labels: cherry-pick, v0.48.5

#5135 Revert "Cherry-pick #5029 #5096 #5097 #5099 #5108 #5113 #5114 #5115 #5116 #5118 #5126 #5128 #5130"
  .github/workflows/cherry_pick.yaml
  RELEASE
  docs/package-lock.json
  docs/package.json
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/rpc/grpc_test.go
  tool/actions-gh-release/Dockerfile
  web/package.json
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/theme.ts
  web/yarn.lock
Labels: area/web, area/build, area/go, area/tool

#5138 [Snyk] Security upgrade golang from 1.22.4 to 1.23 in codegen
  tool/codegen/Dockerfile
Labels: area/tool

#5134 add 'exempt-pr-labels' for 'not-auto-close' PRs
  .github/workflows/stale.yaml
Labels: area/build

#5142 Support --app-manifest-cache-count on helm chart
  manifests/piped/templates/_helpers.tpl
  manifests/piped/values.yaml
Labels: area/manifests

#5120 [docs] Add notes about drift detection
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-dev/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.39.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.40.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.41.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.42.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.43.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.43.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.44.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.44.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.45.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.45.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.46.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.46.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/managing-application/configuration-drift-detection.md
  docs/content/en/docs-v0.48.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.48.x/user-guide/managing-application/configuration-drift-detection.md
Labels: area/docs

#5154 Fix the kubernetes manifest diff
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/kubernetes/diff_test.go
Labels: area/go

#5155 remove a validation check in notification-mention
  pkg/config/application.go
Labels: area/go

#5092 Send Otel traces to the control plane.
  manifests/pipecd/templates/envoy-configmap.yaml
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/controller/planner.go
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/tracing.go
  pkg/app/piped/controller/tracing_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/tracing.go
  pkg/app/pipedv1/controller/tracing_test.go
Labels: area/manifests, area/go, area/pipedv1

#4571 Modified to use Git with PAT
  docs/content/en/docs-dev/user-guide/managing-piped/configuration-reference.md
  pkg/app/piped/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/config/piped_test.go
  pkg/git/client.go
Labels: area/go

#5122 Support Drift Detection for ECS
  pkg/app/piped/driftdetector/detector.go
  pkg/app/piped/driftdetector/ecs/detector.go
  pkg/app/piped/driftdetector/ecs/detector_test.go
Labels: kind/enhancement, area/go
