Repository pipe-cd/pipecd, pull requests merged in 2024-06, with the labels that each got.

#4928 Update contributors list
  README.md
Labels: area/docs

#4944 Setup DCO workflow
  .github/workflows/dco.yaml
Labels: area/build

#4946 Fix gen-contributions.sh: Not to remove FOSSA Status
  hack/gen-contributions.sh
Labels: area/build

#4952 Remove DCO workaround
  .github/workflows/dco.yaml
Labels: area/build

#4930 Update the contributors list automatically by GitHub Actions
  .github/workflows/update-contributors.yaml
Labels: area/build

#4953 Update applications info stored in the filestore when deleting apps
  pkg/app/ops/insightcollector/application_collector.go
Labels: area/ops, area/go

#4959 Put tags and categories to blog pages
  docs/content/en/blog/announcing-pipecd.md
  docs/content/en/blog/cncf-sandbox-admission.md
  docs/content/en/blog/control-plane-local-docker-compose.md
  docs/content/en/blog/control-plane-on-ecs.md
  docs/content/en/blog/february-2022-update.md
  docs/content/en/blog/january-2022-update.md
  docs/content/en/blog/may-2022-update.md
  docs/content/en/blog/november-2021-update.md
  docs/content/en/blog/pipecd-at-kubecon-eu-2024.md
  docs/content/en/blog/pipecd-best-practice-01.md
  docs/content/en/blog/play-environment.md
  docs/content/en/blog/terraform-provider-pipecd.md
Labels: area/blog

#4962 [docs] Describe restrictions in configuring ECS serviceDef & taskDef
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  docs/content/en/docs-v0.47.x/user-guide/configuration-reference.md
Labels: area/docs

#4960 Remove fossabot in `make gen/contributions`
  hack/gen-contributions.sh
Labels: area/hack, area/build

#4937 Add link to Tutorial on the header bar
  docs/config.toml
Labels: area/docs

#4964 [docs] Add links to the Tutorial
  README.md
  docs/content/en/docs-dev/quickstart/_index.md
  docs/content/en/docs-v0.47.x/quickstart/_index.md
Labels: area/docs

#4942 fix installing-controlplane-on-k8s.md
  docs/content/en/docs-v0.46.x/installation/install-control-plane/installing-controlplane-on-k8s.md
Labels: area/docs

#4916 Change resource key logic for k8s
  pkg/app/piped/controller/planner.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/piped, area/go

#4968 Update codegen base image
  .gitattributes
  pkg/app/helloworld/service/service.pb.go
  pkg/app/helloworld/service/service_grpc.pb.go
  pkg/app/pipedv1/cmd/piped/service/service.pb.go
  pkg/app/pipedv1/cmd/piped/service/service_grpc.pb.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service_grpc.pb.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/analysis_result.pb.go
  pkg/model/apikey.pb.go
  pkg/model/application.pb.go
  pkg/model/application_live_state.pb.go
  pkg/model/command.pb.go
  pkg/model/common.pb.go
  pkg/model/deployment.pb.go
  pkg/model/deployment_chain.pb.go
  pkg/model/event.pb.go
  pkg/model/insight.pb.go
  pkg/model/logblock.pb.go
  pkg/model/notificationevent.pb.go
  pkg/model/piped.pb.go
  pkg/model/piped_stat.pb.go
  pkg/model/planpreview.pb.go
  pkg/model/project.pb.go
  pkg/model/rbac.pb.go
  pkg/model/role.pb.go
  pkg/model/user.pb.go
  pkg/plugin/api/v1alpha1/platform/api.pb.go
  pkg/plugin/api/v1alpha1/platform/api_grpc.pb.go
  tool/codegen/Dockerfile
  tool/codegen/codegen.sh
  web/api_client/service_pb.js
  web/model/analysis_result_pb.js
  web/model/apikey_pb.js
  web/model/application_live_state_pb.js
  web/model/application_pb.js
  web/model/command_pb.js
  web/model/common_pb.js
  web/model/deployment_chain_pb.js
  web/model/deployment_pb.js
  web/model/event_pb.js
  web/model/insight_pb.js
  web/model/logblock_pb.js
  web/model/notificationevent_pb.js
  web/model/piped_pb.js
  web/model/piped_stat_pb.js
  web/model/planpreview_pb.js
  web/model/project_pb.js
  web/model/rbac_pb.js
  web/model/role_pb.js
  web/model/user_pb.js
Labels: area/web, area/go, area/tool

#4972 Add empty line to fix the CI `gen`
  tool/codegen/protoc-gen-auth/main.go
Labels: area/tool

#4970 Update codegen image version
  .github/workflows/gen.yaml
  Makefile
Labels: area/build

#4922 Support skipping stages by path pattern or commit message prefix
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/controller/skipstage.go
  pkg/app/piped/controller/skipstage_test.go
  pkg/app/piped/executor/analysis/analysis.go
  pkg/config/application.go
  pkg/git/gittest/git.mock.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: kind/enhancement, area/go

#4919 Update go version to 1.22.4
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  cmd/pipecd/README.md
  cmd/piped/README.md
  docs/Dockerfile
  go.mod
  go.sum
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-gh-release/go.sum
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
  tool/actions-plan-preview/go.sum
  tool/codegen/protoc-gen-auth/go.mod
  tool/codegen/protoc-gen-auth/go.sum
Labels: area/build, area/go, area/tool

#4988 Refine update-contributors workflow
  .github/workflows/update-contributors.yaml
Labels: area/build

#4983 [Snyk] Upgrade: ,
  web/package.json
  web/yarn.lock
Labels: area/web

#4993 Remove github-actions bot from the contributors list
  hack/gen-contributions.sh
Labels: area/hack, area/build

#4985 [Snyk] Upgrade echarts from 5.4.0 to 5.5.0
  web/package.json
  web/yarn.lock
Labels: area/web

#4997 Revert "Change resource key logic for k8s"
  pkg/app/piped/controller/planner.go
  pkg/app/piped/driftdetector/kubernetes/detector.go
  pkg/app/piped/executor/kubernetes/baseline.go
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/piped/executor/kubernetes/primary.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/kubernetes/kubernetes.go
  pkg/app/piped/planner/planner.go
  pkg/app/piped/planpreview/builder.go
  pkg/app/piped/planpreview/kubernetesdiff.go
  pkg/app/piped/platformprovider/kubernetes/applier.go
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
  pkg/app/piped/platformprovider/kubernetes/manifest_test.go
  pkg/app/piped/platformprovider/kubernetes/resourcekey.go
Labels: area/go

#4910 Add reset password button to ops project list
  pkg/app/ops/handler/handler.go
  pkg/app/ops/handler/handler_mock.go
  pkg/app/ops/handler/handler_test.go
  pkg/app/ops/handler/templates/ConfirmPasswordReset
  pkg/app/ops/handler/templates/ListProjects
  pkg/app/ops/handler/templates/ResetPassword
  pkg/model/project.pb.go
Labels: area/go

#4998 Fix project codegen
  pkg/model/project.go
  pkg/model/project.pb.go
Labels: area/go
