Repository pipe-cd/pipecd, pull requests merged in 2024-02, with the labels that each got.

#4763 [doc] Add `pipectl init`
  docs/content/en/docs-dev/feature-status/_index.md
  docs/content/en/docs-dev/user-guide/command-line-tool.md
  pkg/app/pipectl/cmd/initialize/initialize.go
Labels: area/go

#4761 Set 'gc.autoDetach' to false to be executed 'git gc' in the foreground by some git commands
  pkg/git/client.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

#4395 Create a new branch if makePullRequest is true in git config
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/config/event_watcher.go
Labels: area/go

#4743 Implement rollback for script run as pre defined stage
  docs/rfcs/0011-script-run-stage.md
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/planner/kubernetes/pipeline.go
  pkg/app/piped/planner/predefined_stages.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
  pkg/model/stage.go
Labels: area/go

#4772 Disable gc.autoDetach by default
  pkg/git/client.go
Labels: area/go

#4774 Fix docs for on rollback for script run
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  docs/static/images/script-run-onRollback.png
  examples/kubernetes/script-run/app.pipecd.yaml
  examples/kubernetes/script-run/deployment.yaml
  examples/kubernetes/script-run/service.yaml
Labels: area/examples

#4752 feat: exposeService detail logs
  pkg/app/pipectl/cmd/quickstart/quickstart.go
  pkg/cache/memorycache/ttl_cache_test.go
Labels: area/go

#4767 BUGFIX: Added cancel method to fix context leak
  cmd/pipecd/server.go
Labels: area/go

#4785 Support AWS Secrets Manager as a source of piped-config
  go.mod
  go.sum
  pkg/app/launcher/cmd/launcher/launcher.go
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/cmd/piped/piped_test.go
Labels: area/go

#4776 [doc] Fix indents of the pprof page
  docs/content/en/docs-dev/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.45.x/user-guide/managing-piped/using-pprof-in-piped.md
  docs/content/en/docs-v0.46.x/user-guide/managing-piped/using-pprof-in-piped.md
Labels: area/docs

#4759 Support K8sApp by `pipectl init` in simplest way
  pkg/app/pipectl/cmd/initialize/initialize.go
  pkg/app/pipectl/cmd/initialize/kubernetes.go
  pkg/app/pipectl/cmd/initialize/kubernetes_test.go
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-empty.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-local.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-helm-remote.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-kustomize-empty.yaml
  pkg/app/pipectl/cmd/initialize/testdata/k8s-app-kustomize.yaml
  pkg/config/application_kubernetes.go
Labels: area/go
