Repository pipe-cd/pipecd, pull requests merged in 2025-06, with the labels that each got.

#5902 add more fields from deployment proto to deployment model for scriptrun plugin
  pkg/plugin/sdk/deployment.go
Labels: area/go

#5908 Revert "Do treeless clone for git clone to improve performance"
  pkg/git/client.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go, cherry-pick, v0.52.1

#5903 [K8s plugin] Add helper function to delete all variant resources
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5913 [K8s plugin] implement K8S_BASELINE_CLEAN stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/baseline_clean_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/baseline_clean_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/baseline_clean_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/baseline_clean_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/baseline_clean_without_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/baseline_clean_without_create_service/service.yaml
Labels: area/go, area/pipedv1

#5917 [K8s plugin] Fix to get all resources without using 'kubectl get all'
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/kubectl_test.go
Labels: area/go, area/pipedv1

#5918 Implement K8S_CANARY_CLEAN stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_create_service/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_patch/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_patch/configmap.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_patch/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_with_patch/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_without_create_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_without_create_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/canary_clean_without_create_service/service.yaml
Labels: area/go, area/pipedv1

#5921 [K8s plugin] Return stage status fail when failing applyManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go, area/pipedv1

#5922 Fix nil pointer dereference error on spec.plugins config on app config not set
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go, area/sdk-plugins

#5925 Add note of 'Visible': each stage is not visible until it starts.
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

#5926 Fix the build quick sync stages method to return an empty response
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go, area/plugin-sdk

#5931 Pass plugin name from Piped to plugin
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/plugin/sdk/plugin.go
  pkg/plugin/sdk/plugin_test.go
Labels: area/go, area/pipedv1, area/plugin-sdk

#5930 Ignore when DetermineStrategy() is unsupported or returns nil
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
Labels: area/go, area/pipedv1

#5934 [K8s plugin] Add README for k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/README.md
Labels: area/go, area/pipedv1

#5936 Use PipedPlugin.Name instead of passing --name in the SDK
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/plugin/sdk/plugin.go
Labels: area/go, area/pipedv1, area/plugin-sdk

#5935 [Plugin] Remove plugin name from the arg when calling `sdk.NewPlugin`
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/main.go
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
  pkg/app/pipedv1/plugin/wait/main.go
Labels: area/go, area/pipedv1

#5920 Add README of the Wait stage plugin
  cmd/pipedv1/README-usage-alpha.md
  pkg/app/pipedv1/plugin/wait/README.md
Labels: area/go, area/pipedv1

#5937 [SDK] Allow users to set nothing config for the plugin in the app.pipecd.yaml
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go, area/plugin-sdk

#5938 [Snyk] Upgrade react-router-dom from 6.30.0 to 6.30.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5942 Ignore unsupported plugin when reporting livestate
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/plugin/registry.go
  pkg/app/pipedv1/plugin/registry_test.go
Labels: area/go, area/pipedv1

#5945 [Plugin] Update sdk version
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
Labels: area/go, area/pipedv1

#5949 Add --match opion for `git describe` for `build/chart`
  Makefile
Labels: area/build

#5944 Fix README-usage
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

#5953 Fix version tag in the CI
  .github/workflows/build_tool.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

#5877 Add option --dependency-update to the command helm template
  pkg/app/piped/platformprovider/kubernetes/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/helm.go
Labels: area/go, area/pipedv1

#5957 Improve docs for piped-plugin-sdk-go
  pkg/plugin/sdk/README.remote.md
Labels: area/go, area/plugin-sdk

#5963 [Snyk] Upgrade @mui/material from 7.1.0 to 7.1.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5960 feat(ui): add confirmation dialog for generating new piped key
  web/src/components/settings-page/piped/components/piped-table-row.tsx
Labels: area/web

#5964 Remove pipelineStage.ID config
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
  pkg/configv1/application.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go, area/pipedv1

#5965 Remove pipelineStage ID config from SDK logic
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/plugin-sdk

#5973 Remove example plugin from pipecd codebase
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/example/go.sum
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/example/plugin.go
Labels: area/go, area/pipedv1

#5915 Remove Redux in Insight page
  web/src/__fixtures__/dummy-insight.ts
  web/src/components/insight-page/change-failure-rate-chart/index.tsx
  web/src/components/insight-page/chart-base/index.tsx
  web/src/components/insight-page/deployment-frequency-chart/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/components/insight-page/statistic-information/application-by-piped.tsx
  web/src/components/insight-page/statistic-information/application-count.tsx
  web/src/components/insight-page/statistic-information/deployment-24h.tsx
  web/src/components/insight-page/statistic-information/index.tsx
  web/src/components/insight-page/statistic-information/piped-count.tsx
  web/src/components/toast-messages/index.tsx
  web/src/contexts/query-client-provider.tsx
  web/src/contexts/toast-context/index.tsx
  web/src/contexts/toast-context/toast-context.ts
  web/src/contexts/toast-context/toast-provider.tsx
  web/src/contexts/toast-context/use-toast.tsx
  web/src/index.tsx
  web/src/modules/deployment-change-failure-rate/index.test.ts
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.test.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/modules/index.ts
  web/src/modules/insight/index.ts
  web/src/queries/application-counts/use-get-appliation-counts.tsx
  web/src/queries/applications/use-get-applications.tsx
  web/src/queries/insight/insight.config.ts
  web/src/queries/insight/use-insight-deployment-change-failure-rate-24h.tsx
  web/src/queries/insight/use-insight-deployment-change-failure-rate.tsx
  web/src/queries/insight/use-insight-deployment-frequency-24h.tsx
  web/src/queries/insight/use-insight-deployment-frequency.tsx
  web/src/queries/pipeds/use-get-pipeds.tsx
  web/src/utils/determine-time-range.ts
Labels: area/web

#5977 [Snyk] Upgrade @tanstack/react-query-devtools from 4.36.1 to 4.39.1
  web/package.json
  web/yarn.lock
Labels: area/web
