Repository pipe-cd/pipecd, pull requests merged in 2025-02, with the labels that each got.

#5528 Update node version on workflows
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
Labels: area/build

#5527 Update webpack packages
  web/package.json
  web/webpack.config.dev.js
  web/yarn.lock
Labels: area/web

#5532 Ensure ApplicationKind only accept enum defined value
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
Labels: area/go

#5531 Make platform provider in api service as not required
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
Labels: area/go

#5533 Update workflow images
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

#5513 [Snyk] Upgrade react-router-dom from 6.26.2 to 6.28.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5516 Feat/form application piped v1
  web/src/__fixtures__/dummy-application.ts
  web/src/api/applications.ts
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v0/index.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/application-form/index.tsx
  web/src/components/application-form/tab-panel.tsx
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/components/dialog-confirm/dialog-confirm.test.tsx
  web/src/components/dialog-confirm/index.tsx
  web/src/components/form-select-input/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
  web/src/utils/common.ts
Labels: area/web

#5543 Change DeployTargets to DeployTargetsByPlugin in model.Application
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/__fixtures__/dummy-application.ts
Labels: area/web, area/go, area/pipedv1

#5544 Add deploy target by plugin to deployment
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web, area/go, area/pipedv1

#5545 Add plugins to piped model
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/pipedstore.go
  pkg/model/piped.pb.go
  pkg/model/piped.pb.validate.go
  pkg/model/piped.proto
  web/model/piped_pb.d.ts
  web/model/piped_pb.js
  web/src/__fixtures__/dummy-piped.ts
Labels: area/web, area/go

#5546 Turn off future flag react-router-dom, update test
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/applications-page/application-list/application-list-item/index.test.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/header/index.test.tsx
  web/src/index.tsx
  web/src/routes.test.tsx
  web/test-utils/MemoryRouterTest.tsx
  web/test-utils/index.tsx
Labels: area/web

#5553 Revert "Add deploy target by plugin to deployment"
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web, area/go, area/pipedv1

#5554 Revert "Change DeployTargets to DeployTargetsByPlugin in model.Application"
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/src/__fixtures__/dummy-application.ts
Labels: area/web, area/go, area/pipedv1

#5555 Change type definition for DeployTargetsByPlugin
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/model/application.go
  pkg/model/application.pb.go
  pkg/model/application.pb.validate.go
  pkg/model/application.proto
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/application_pb.d.ts
  web/model/application_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-application.ts
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web, area/go, area/pipedv1

#5550 Fix material deprecate 'fade to alpha' warning
  web/package.json
  web/yarn.lock
Labels: area/web

#5551 Fix error unique key when map - react
  web/src/components/application-detail-page/application-detail/index.tsx
Labels: area/web

#5552 Pipedv1 reports plugins while report metadata
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go, area/pipedv1

#5558 Enhanced EventWatcher logs
  pkg/app/piped/eventwatcher/eventwatcher.go
Labels: area/go, cherry-pick, v0.50.2

#5556 Add DeployTargetsByPlugin to Web API
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/web, area/go

#5562 Update application-detail-page, deployment-detail-page with deployment target info row
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
Labels: area/web

#5529 Prepare Plugin SDK
  pkg/plugin/pipedsdk/client.go
  pkg/plugin/pipedsdk/deployment.go
  pkg/plugin/pipedsdk/sdk.go
Labels: area/go

#5560 Update application form add for piped v1 with deployment targets config
  web/src/__fixtures__/dummy-piped.ts
  web/src/api/applications.ts
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/application-form/index.tsx
  web/src/modules/applications/index.ts
  web/src/modules/update-application/index.ts
Labels: area/web

#5563 Update kubectl version in deployment examples to 1.32.2
  examples/deployment-chain/simple/app.pipecd.yaml
  examples/kubernetes/simple/app.pipecd.yaml
Labels: area/examples

#5564 Add MANUAL_OPERATION_NONE to ManualOperation enum
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/web, area/go

#5568 [Snyk] Security upgrade alpine from 3.21.0 to 3.21.3
  cmd/pipectl/Dockerfile
Labels: area/go

#5569 [Snyk] Security upgrade alpine from 3.21.0 to 3.21.3
  tool/piped-base/Dockerfile
Labels: area/tool

#5540 Sort results of plan-preview
  docs/content/en/docs-dev/user-guide/plan-preview.md
  pkg/app/pipectl/cmd/planpreview/planpreview.go
  pkg/app/pipectl/cmd/planpreview/planpreview_test.go
Labels: area/go, cherry-pick, v0.50.2

#5567 [Snyk] Security upgrade alpine from 3.21.0 to 3.21.3
  cmd/helloworld/Dockerfile
Labels: area/go

#5578 Improve docker build performance
  .github/workflows/build_tool.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  cmd/pipecd/Dockerfile
Labels: area/build, area/go

#5565 [sdk] Add 7 metadataStore methods to Client
  pkg/plugin/pipedsdk/client.go
Labels: area/go

#5580 Add deployment trace list API to web service and mock response
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
  pkg/app/server/service/webservice/service_grpc.pb.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  web/api_client/service_grpc_web_pb.d.ts
  web/api_client/service_grpc_web_pb.js
  web/api_client/service_pb.d.ts
  web/api_client/service_pb.js
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/src/__fixtures__/dummy-deployment.ts
Labels: area/web, area/go

#5559 Handle SkipStage Options in v1 scheduler
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/skipstage.go
  pkg/app/pipedv1/controller/skipstage_test.go
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go, area/pipedv1

#5576 Add `Config` field to `PipedPlugin`
  pkg/configv1/piped.go
Labels: area/go, area/pipedv1

#5566 [Snyk] Security upgrade alpine from 3.21.0 to 3.21.3
  cmd/pipecd/Dockerfile
Labels: area/go

#5582 Add DeployTargetConfig and unmarshal config json
  pkg/plugin/pipedsdk/deployment.go
  pkg/plugin/pipedsdk/sdk.go
Labels: area/go

#5583 Add example plugin implementation using SDK
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/sdk.go
Labels: area/go, area/pipedv1

#5584 Implement SDK BuildPipelineSyncStages methods
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5586 [WAIT,SDK] Implemented Wait stage with SDK
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
  pkg/app/pipedv1/plugin/wait/main.go
  pkg/app/pipedv1/plugin/wait/options.go
  pkg/app/pipedv1/plugin/wait/options_test.go
  pkg/app/pipedv1/plugin/wait/plugin.go
  pkg/app/pipedv1/plugin/wait/wait.go
  pkg/app/pipedv1/plugin/wait/wait_test.go
  pkg/configv1/application.go
  pkg/configv1/application_test.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5587 [sdk] rename PipelineSyncPlugin to StagePlugin
  pkg/plugin/sdk/deployment.go
Labels: area/go

#5590 Hide piped disabled, show only when edit application
  web/src/components/application-form/application-form-manual-v0/index.tsx
  web/src/components/application-form/application-form-manual-v1/index.tsx
  web/src/components/application-form/application-form-v1/index.tsx
  web/src/components/form-select-input/index.tsx
Labels: area/web

#5591 Remove minimum pair validation for deploy targets in RPC
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
Labels: area/go

#5588 [SDK] Refine StageLogPersister handling in SDK
  pkg/app/pipedv1/plugin/wait/wait.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5592 Add base plugin code for k8s multicluster plugin
  pkg/app/pipedv1/plugin/kubernetes_multicluster/main.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
Labels: area/go, area/pipedv1

#5593 [sdk] Rename PipelineSyncPlugin to StagePlugin (missed to rename)
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/main.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
  pkg/app/pipedv1/plugin/wait/main.go
  pkg/app/pipedv1/plugin/wait/plugin.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5599 Refine BuildQuickSyncPipelineStages signature in deployment plugin interface
  pkg/plugin/sdk/deployment.go
Labels: area/go

#5577 Add selector handling in k8s plugin sync and rollback stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
Labels: area/go, area/pipedv1

#5595 Add increase operation to calc Total triggered deploys
  manifests/pipecd/grafana-dashboards/control-plane/overview.json
Labels: kind/bug, area/manifests

#5596 Implement BuildPipelineSyncStages for k8s multi sync
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
Labels: area/go, area/pipedv1

#5598 [Snyk] Upgrade react-router-dom from 6.28.2 to 6.29.0
  web/package.json
  web/yarn.lock
Labels: area/web

#5602 Add empty methods which need for implementing the k8s plugin with the SDK
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go, area/pipedv1

#5594 UI for deployment traces feature
  web/src/__fixtures__/dummy-deployment-trace.ts
  web/src/api/deploymentTraces.ts
  web/src/components/deployment-trace-page/deployment-trace-filter/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-filter/index.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/deployment-trace-page/useGroupedDeploymentTrace.tsx
  web/src/components/header/index.tsx
  web/src/constants/path.ts
  web/src/modules/deploymentTrace/index.test.ts
  web/src/modules/deploymentTrace/index.ts
  web/src/modules/index.ts
  web/src/routes.tsx
  web/src/utils/common.ts
  web/src/utils/debounce.ts
Labels: area/web

#5606 Add RunningDeploymentSource and TargetDeploymentSource to ExecuteStageRequest
  pkg/plugin/sdk/deployment.go
Labels: area/go

#5610 Update deployment trace ui
  web/src/components/deployment-trace-page/deployment-trace-item/deployment-item.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.test.tsx
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
  web/src/components/deployment-trace-page/index.tsx
  web/src/components/header/index.tsx
Labels: area/web

#5611 Add Deployment definition in SDK
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go
