Repository pipe-cd/pipecd, pull requests merged in 2025-03, with the labels that each got.

#5616 Pass DeployTarget in SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5617 Refactor to remove unnecessary error in the return values
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
Labels: area/go, area/pipedv1

#5603 Add LivestatePlugin to implement Livestate/DriftDetection with SDK
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

#5619 Change fields on deployment trace model to be not required
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/src/__fixtures__/dummy-deployment-trace.ts
Labels: area/web, area/go

#5620 Remove deprecated ReportEventHandled rpc from piped API
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/pipedservice/service_grpc.pb.go
Labels: area/go

#5597 Fix cancel handling in pipedv1 scheduler
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/plugin/wait/wait.go
  pkg/app/pipedv1/plugin/wait/wait_test.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5618 Add deploy_targets field to GetLivestateRequest message
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
Labels: area/go

#5622 Create and add deployment trace obj to datastore on event registering flow
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/mysql/ensurer/schema.sql
  pkg/model/deployment_trace.go
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  pkg/model/event.pb.go
  pkg/model/event.pb.validate.go
  pkg/model/event.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/model/event_pb.d.ts
  web/model/event_pb.js
Labels: area/web, area/go

#5621 Add toolRegistry as a common field for the Client in the SDK
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

#5625 Add trigger commit hash to deployment model
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/git/commit.go
  pkg/git/commit_test.go
  pkg/model/deployment_trace.go
Labels: area/go, area/pipedv1

#5624 Implement K8S_SYNC without prune feature by using plugin SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
  pkg/plugin/sdk/client.go
Labels: area/go, area/pipedv1

#5629 Fix for lint
  pkg/app/pipedv1/plugin/wait/wait.go
Labels: area/go, area/pipedv1

#5630 Enable `gofmt` linter
  .golangci.yml
  pkg/app/ops/handler/handler_mock.go
  pkg/app/ops/handler/handler_test.go
  pkg/app/piped/executor/analysis/mannwhitney/udist.go
  pkg/app/piped/executor/cloudrun/cloudrun.go
  pkg/app/piped/platformprovider/cloudrun/cloudrun.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
  pkg/insight/insightstore/deployment_store_test.go
  pkg/insight/provider_test.go
  pkg/log/log_test.go
  tool/actions-gh-release/comment_test.go
  tool/actions-gh-release/github.go
  tool/actions-gh-release/release_test.go
  tool/actions-plan-preview/github.go
Labels: area/go, area/tool, area/pipedv1

#5634 Implement k8s sync pruning with SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin_test.go
Labels: area/go, area/pipedv1

#5633 Feat/insight UI update
  web/package.json
  web/src/components/chart-empty-data/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/insight-page/statistic-information/application-by-piped.tsx
  web/src/components/insight-page/statistic-information/application-count.tsx
  web/src/components/insight-page/statistic-information/deployment-24h.tsx
  web/src/components/insight-page/statistic-information/index.tsx
  web/src/components/insight-page/statistic-information/legend-row.tsx
  web/src/components/insight-page/statistic-information/piped-count.tsx
  web/src/hooks/useEChartState.tsx
  web/src/modules/application-counts/index.test.ts
  web/src/modules/application-counts/index.ts
  web/src/modules/deployment-change-failure-rate/index.test.ts
  web/src/modules/deployment-change-failure-rate/index.ts
  web/src/modules/deployment-frequency/index.test.ts
  web/src/modules/deployment-frequency/index.ts
  web/src/utils/common.ts
Labels: area/web

#5642 Update Go version of codegen to 1.24.1
  tool/codegen/Dockerfile
  tool/codegen/protoc-gen-auth/go.mod
Labels: area/tool

#5631 Implement ListDeploymentTrace rpc for Web
  pkg/app/ops/firestoreindexensurer/indexes.json
  pkg/app/ops/firestoreindexensurer/indexes_test.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/mysql/ensurer/indexes.sql
  pkg/model/deployment_trace.pb.go
  pkg/model/deployment_trace.pb.validate.go
  pkg/model/deployment_trace.proto
  web/model/deployment_trace_pb.d.ts
  web/model/deployment_trace_pb.js
  web/src/__fixtures__/dummy-deployment-trace.ts
Labels: area/web, area/go

#5639 [SDK] Implement ListStageCommands() in SDK
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

#5626 Implement Livestate SDK
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

#5644 Fix index ensurer error on alter table command run
  pkg/datastore/mysql/ensurer/indexes.sql
Labels: area/go

#5643 Rename PipedServiceClient to PluginServiceClient
  pkg/plugin/pipedapi/client.go
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
Labels: area/go

#5636 fix: Use the specified version of Helm when templating with Kustomize
  pkg/app/piped/platformprovider/kubernetes/kustomize.go
  pkg/app/piped/platformprovider/kubernetes/kustomize_test.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/testdata/testkustomize-with-helm/.gitignore
  pkg/app/piped/platformprovider/kubernetes/testdata/testkustomize-with-helm/kustomization.yaml
Labels: area/go

#5638 Implement k8s rollback with SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go, area/pipedv1

#5646 Add default values for deployment traces info if values falsy
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
Labels: area/web

#5649 Update pipedv1 trigger to support adding trace commit hash to deployment model
  pkg/app/pipedv1/trigger/deployment.go
Labels: area/go, area/pipedv1

#5653 Add timestamp of the commit as event register flag
  pkg/app/pipectl/cmd/event/register.go
Labels: area/go

#5658 Update golangci lint
  .github/workflows/lint.yaml
  Makefile
Labels: area/build

#5657 Implement DetermineVersions with SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go, area/pipedv1

#5645 [K8s Plugin] Implement GetLivestate API
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/registry.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
Labels: area/go, area/pipedv1

#5660 Fix Ui Deployment tracing with real api deployment traces
  web/src/components/deployment-trace-page/deployment-trace-item/index.tsx
Labels: area/web

#5661 Fix redirect login page when logout, and applications page when login
  web/src/routes.tsx
Labels: area/web

#5655 [SDK] Implement DetermineStrategy RPC for DeploymentPlugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go, area/pipedv1

#5666 Set limit for gh pr list to 100 to avoid cherrypick limit
  .github/workflows/cherry_pick.yaml
Labels: cherry-pick, v0.50.3

#5668 Add more information to the GetLivestateRequest
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.validate.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
Labels: area/go

#5670 [SDK] Add PipedID and ApplicationName fields to GetLivestateRequest
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
Labels: area/go

#5669 Enhance GetLivestateRequest with additional application details
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go, area/pipedv1

#5671 Implement DetermineStrategy with SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go, area/pipedv1

#5673 Remove client argument from DetermineVersions and DetermineStrategy methods
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5672 Implement BuildPipelineSync with SDK
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
Labels: area/go, area/pipedv1

#5675 Cleanup unnecessary methods and files for k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/plugin.go
Labels: area/go, area/pipedv1

#5678 Refactor k8s plugin logic
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
Labels: area/go, area/pipedv1

#5682 Add application livestate version in livestatereporter for pipedv1
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go, area/pipedv1

#5683 [K8s Plugin] Add e2e tests for K8S_ROLLBACK stage and fix the bug
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback_test.go
Labels: area/go, area/pipedv1

#5690 Add placeholders for k8s deployment stages
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go, area/pipedv1

#5692 [K8s plugin] Pass helm command to kustomize template
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize-with-helm/.gitignore
  pkg/app/pipedv1/plugin/kubernetes/provider/testdata/testkustomize-with-helm/kustomization.yaml
Labels: area/go, area/pipedv1

#5691 Enable livestate reporter for pipedv1
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/go, area/pipedv1

#5694 Temporarily disable v1 add application form on UI
  web/src/components/application-form/index.tsx
Labels: area/web

#5696 Revert "Temporarily disable v1 add application form on UI"
  web/src/components/application-form/index.tsx
Labels: area/web

#5698 [Plugin SDK] Implement another way to create plugin
  pkg/plugin/sdk/plugin.go
  pkg/plugin/sdk/plugin_test.go
Labels: area/go

#5701 Use new plugin sdk interface to build kubernetes plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
Labels: area/go, area/pipedv1

#5699 Use new plugin sdk interface to build example plugin
  pkg/app/pipedv1/plugin/example/main.go
  pkg/app/pipedv1/plugin/example/plugin.go
Labels: area/go, area/pipedv1

#5700 Use new plugin sdk interface to build wait plugin
  pkg/app/pipedv1/plugin/wait/main.go
  pkg/app/pipedv1/plugin/wait/plugin.go
Labels: area/go, area/pipedv1

#5703 [Plugin SDK] Remove old interfaces and refactor the SDK
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/plugin.go
  pkg/plugin/sdk/sdk.go
Labels: area/go

#5704 Remove Name and Version methods from plugins
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/plugin.go
  pkg/app/pipedv1/plugin/wait/plugin.go
Labels: area/go, area/pipedv1

#5707 Enable deployment trace for pipecd workflow
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#5685 Implemented ListStageCommands() on piped side
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
Labels: area/go, area/pipedv1
