Repository pipe-cd/pipecd, pull requests merged in 2025-08, with the labels that each got.

#6095 [plugin planpreview] update SDK GetPlanPreviewResponse
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
  pkg/plugin/sdk/planpreview.go
  pkg/plugin/sdk/planpreview_test.go
Labels: area/go, area/plugin-sdk

#6103 sdk: add nil check and expose Found field in MetadataStore
  pkg/plugin/sdk/client.go
Labels: area/go, area/plugin-sdk

#6102 feat(plugin): initialize waitapproval plugin for pipedv1
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
  pkg/app/pipedv1/plugin/waitapproval/main.go
  pkg/app/pipedv1/plugin/waitapproval/options.go
  pkg/app/pipedv1/plugin/waitapproval/options_test.go
  pkg/app/pipedv1/plugin/waitapproval/plugin.go
  pkg/app/pipedv1/plugin/waitapproval/plugin_test.go
Labels: area/go, area/pipedv1

#6094 Scriptrun Rollback Implementation
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go, area/pipedv1

#6097 Add Analysis Stage Plugin - Core Structure Implementation
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
  pkg/app/pipedv1/plugin/analysis/main.go
  pkg/app/pipedv1/plugin/analysis/options.go
  pkg/app/pipedv1/plugin/analysis/options_test.go
  pkg/app/pipedv1/plugin/analysis/plugin.go
  pkg/app/pipedv1/plugin/analysis/plugin_test.go
  pkg/plugin/sdk/planpreview_test.go
Labels: area/go, area/pipedv1, area/plugin-sdk

#6108 [plugin planpreview] implemented piped side
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/planpreview/builder.go
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go, area/pipedv1

#6104 chore(ci): update github runners to oci gh arc runners
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
Labels: area/build

#5954 Redux replace setting pipeds
  web/src/__fixtures__/dummy-piped.ts
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-form/application-form-manual-v0/index.test.tsx
  web/src/components/application-form/application-form-manual-v1/index.test.tsx
  web/src/components/application-form/application-form-v0/index.test.tsx
  web/src/components/application-form/application-form-v1/index.test.tsx
  web/src/components/applications-page/edit-application-drawer/index.test.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/insight-page/statistic-information/piped-count.tsx
  web/src/components/settings-page/piped/components/add-piped-dialog/index.tsx
  web/src/components/settings-page/piped/components/edit-piped-dialog/index.tsx
  web/src/components/settings-page/piped/components/piped-table-row.tsx
  web/src/components/settings-page/piped/components/upgrade-dialog/index.tsx
  web/src/components/settings-page/piped/index.tsx
  web/src/modules/pipeds/index.test.ts
  web/src/modules/pipeds/index.ts
  web/src/queries/pipeds/use-add-new-piped-key.ts
  web/src/queries/pipeds/use-add-piped.ts
  web/src/queries/pipeds/use-delete-old-piped-key.ts
  web/src/queries/pipeds/use-disable-piped.ts
  web/src/queries/pipeds/use-edit-piped.ts
  web/src/queries/pipeds/use-enable-piped.ts
  web/src/queries/pipeds/use-get-breaking-changes.tsx
  web/src/queries/pipeds/use-get-released-versions.tsx
  web/src/queries/pipeds/use-restart-piped.ts
  web/src/queries/pipeds/use-update-piped-desired-version.ts
Labels: area/web

#6100 Remove shard interface from datastore codebase
  pkg/datastore/apikey.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/eventstore.go
  pkg/datastore/pipedstore.go
  pkg/datastore/projectstore.go
Labels: area/go

#6119 Revert "Rename Control plane container image & binary to `control-plane` from `pipecd`"
  .github/workflows/publish_image_chart.yaml
  Makefile
  cmd/pipecd/Dockerfile
  cmd/pipecd/README.md
  cmd/pipecd/main.go
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
Labels: area/build, area/go

#6080 [K8s Plugin] Implement K8S_TRAFFIC_ROUTING with Istio VirtualService
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/istio_crds/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/istio_crds/kustomization.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_baseline/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_editable_routes/virtualservice.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_no_virtualservice/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_no_virtualservice/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_istio_no_virtualservice/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go, area/pipedv1

#6122 Support all kustomization files name
  pkg/app/piped/platformprovider/kubernetes/kubernetes.go
  pkg/app/piped/platformprovider/kubernetes/loader.go
  pkg/app/piped/platformprovider/kubernetes/loader_test.go
Labels: area/go

#6126 Support all kustomization files name in pipedv1
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader_test.go
Labels: area/go, area/pipedv1

#6099 chore(docs): migrate deprecated Hugo syntax for v0.148.2(latest) support
  .github/workflows/publish_site.yaml
  docs/layouts/docs-dev/list.html
  docs/layouts/docs-v0.39.x/list.html
  docs/layouts/docs-v0.40.x/list.html
  docs/layouts/docs-v0.41.x/list.html
  docs/layouts/docs-v0.42.x/list.html
  docs/layouts/docs-v0.43.x/list.html
  docs/layouts/docs-v0.44.x/list.html
  docs/layouts/docs-v0.45.x/list.html
  docs/layouts/docs-v0.46.x/list.html
  docs/layouts/docs-v0.47.x/list.html
  docs/layouts/docs-v0.48.x/docs/list.html
  docs/layouts/docs-v0.48.x/list.html
  docs/layouts/docs-v0.49.x/list.html
  docs/layouts/docs-v0.50.x/list.html
  docs/layouts/docs-v0.51.x/list.html
  docs/layouts/docs-v0.52.x/list.html
  docs/layouts/partials/scripts.html
  docs/themes/docsy/layouts/_default/content.html
  docs/themes/docsy/layouts/docs/list.html
  docs/themes/docsy/layouts/partials/disqus-comment.html
  docs/themes/docsy/layouts/partials/head.html
  docs/themes/docsy/layouts/swagger/list.html
Labels: do-not-merge/hold, area/build

#6141 Remove test_tool workflow
  .github/workflows/test_tool.yaml
Labels: area/build

#6144 Remove redundant code from datastore
  pkg/datastore/datastore.go
Labels: area/go

#6160 Remove unused types from pipedv1 config
  pkg/configv1/piped.go
  pkg/configv1/piped_test.go
Labels: area/go, area/pipedv1

#6161 [k8s plugin] Implement helm registry login
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/main.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
Labels: area/go, area/pipedv1

#6147 Fix binary flaky test
  pkg/lifecycle/binary_test.go
Labels: area/go

#6164 [SDK] Fix nil pointer plugin config
  pkg/plugin/sdk/plugin.go
Labels: area/go, area/plugin-sdk

#6167 [k8s plugin] Add custom unmarshal logic for k8s plugin configs
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/deploy_target.go
  pkg/app/pipedv1/plugin/kubernetes/config/plugin.go
Labels: area/go, area/pipedv1

#6156 [Analysis Plugin] Add StageStatusSkipped to the SDK
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_test.go
Labels: area/go, area/plugin-sdk

#6181 Add flag to support migrate multi applications config at once
  pkg/app/pipectl/cmd/migrate/application_config.go
Labels: area/go, area/pipedv1

#6183 Handling stage timeout for plugin-arch piped
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/configv1/application.go
Labels: area/go, area/pipedv1

#6182 Update migrate app-config command to support migrate skipOn and timeout value in stage config
  pkg/app/pipectl/cmd/migrate/application_config.go
  pkg/app/pipectl/cmd/migrate/application_config_test.go
Labels: area/go

#6155 [Analysis Plugin] Import analysisprovider from pipedv0
  pkg/app/pipedv1/plugin/analysis/analysisprovider/http/http.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/factory/factory.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/provider.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/log/stackdriver/stackdriver.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/datadog/datadog.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/datadog/datadog_test.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/factory/factory.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/prometheus/fake_client.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/prometheus/prometheus.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/prometheus/prometheus_test.go
  pkg/app/pipedv1/plugin/analysis/analysisprovider/metrics/provider.go
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
Labels: area/go, area/pipedv1

#6184 Improve `make run/pipecd` execution speed
  .dockerignore
  Makefile
  cmd/pipecd/Dockerfile
Labels: area/build, area/go

#6173 [Snyk] Upgrade @mui/material from 7.2.0 to 7.3.0
  web/package.json
  web/yarn.lock
Labels: area/web

#6109 [WaitApproval Plugin] implement executeStage for the waitapproval plugin
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
  pkg/app/pipedv1/plugin/waitapproval/plugin.go
  pkg/app/pipedv1/plugin/waitapproval/waitapproval.go
  pkg/app/pipedv1/plugin/waitapproval/waitapproval_test.go
Labels: area/go, area/pipedv1

#6166 Add setup-go-workspace and teardown-go-workspace commands to Makefile
  .gitignore
  Makefile
Labels: area/build

#6189 Bump piped-plugin-sdk-go to v0.1.0 in wait plugin
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
  pkg/app/pipedv1/plugin/wait/wait.go
Labels: area/go, area/pipedv1

#6190 Add release plugin workflow
  .github/workflows/plugin_release.yaml
Labels: area/build

#6191 Add release plugin workflow
  .github/workflows/plugin_release.yaml
Labels: area/build
