Repository pipe-cd/pipecd, pull requests merged in 2025-04, with the labels that each got.

#5716 add: temporary volume option
  manifests/piped/templates/_helpers.tpl
  manifests/piped/templates/deployment.yaml
  manifests/piped/templates/volume.yaml
  manifests/piped/values.yaml
Labels: area/manifests

#5681 [Snyk] Security upgrade react-cookie from 4.1.1 to 8.0.1
  web/package.json
  web/src/index.tsx
  web/src/routes.test.tsx
  web/yarn.lock
Labels: area/web

#5726 Use nodejs 20 as web image builder
  cmd/pipecd/Dockerfile
Labels: area/go

#5722 Do treeless clone for git clone to improve performance
  pkg/git/client.go
  pkg/git/repo.go
  pkg/git/repo_test.go
Labels: area/go

#5727 add labels to application delete dialog box
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
Labels: area/web

#5723 Add live-state graph for applicaiton using piped v1
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/deploy-target-tab-bar/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-edge/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-node/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/graph-view/resource-node/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.test.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/resource-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/resource-filter-popover/index.tsx
  web/src/modules/applications/index.ts
  web/src/utils/common.ts
Labels: area/web

#5729 Use larger runner for long jobs
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
Labels: area/build

#5714 [K8s Plugin] Add configs for deployment
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/config/application_test.go
  pkg/app/pipedv1/plugin/kubernetes/config/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/config/canary.go
  pkg/app/pipedv1/plugin/kubernetes/config/primary.go
  pkg/app/pipedv1/plugin/kubernetes/config/sync.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
Labels: area/go, area/pipedv1

#5731 Add config loading utility for the plugin SDK
  pkg/plugin/sdk/config.go
  pkg/plugin/sdk/config_test.go
Labels: area/go

#5730 fix: regex based tag replacement scheme
  docs/content/en/docs-dev/user-guide/configuration-reference.md
  pkg/app/piped/eventwatcher/eventwatcher.go
  pkg/app/piped/eventwatcher/eventwatcher_test.go
  pkg/app/piped/eventwatcher/testdata/kustomization2.yaml
  pkg/app/piped/eventwatcher/testdata/kustomization3.yaml
  pkg/app/pipedv1/eventwatcher/eventwatcher.go
  pkg/app/pipedv1/eventwatcher/eventwatcher_test.go
  pkg/app/pipedv1/eventwatcher/testdata/kustomization2.yaml
  pkg/app/pipedv1/eventwatcher/testdata/kustomization3.yaml
Labels: area/go, area/pipedv1

#5734 Modify volume name attached to deployment
  manifests/piped/templates/deployment.yaml
Labels: area/manifests

#5736 Fix broken error message when applying manifests
  pkg/app/piped/executor/kubernetes/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/apply.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/apply.go
Labels: area/go, area/pipedv1

#5739 Disable register app for pipedv1 form
  web/src/components/application-form/index.tsx
Labels: area/web, cherry-pick, v0.51.2

#5740 [SDK] Add type parameter for DeploymentSource and unmarshalling the spec
  pkg/app/pipedv1/plugin/example/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/wait/plugin.go
  pkg/app/pipedv1/plugin/wait/wait.go
  pkg/plugin/sdk/config.go
  pkg/plugin/sdk/config_test.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_test.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
  pkg/plugin/sdk/plugin.go
  pkg/plugin/sdk/plugin_test.go
  pkg/plugin/sdk/sdktest/config.go
Labels: area/go, area/pipedv1

#5737 [SDK] Add feature to check the pipeline has specific stage
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go

#5728 Implement K8S_MULTI_SYNC with non template for multicluster
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_failed_one_of_the_sync/target/cluster2/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/testdata/multicluster_template_none/target/cluster2/deployment.yaml
Labels: area/go, area/pipedv1

#5744 Add workflow release
  .github/workflows/release.yaml
Labels: area/build

#5686 [Snyk] Upgrade react-router-dom from 6.29.0 to 6.30.0
  web/package.json
  web/yarn.lock
Labels: area/web

#5748 Update gen release script
  hack/gen-release-docs.sh
  hack/gen-release.sh
Labels: area/build

#5752 Fix labels in release PR created by workflow
  .github/workflows/release.yaml
Labels: area/build

#5754 Make release note generate logic run on Release PR reopen
  .github/workflows/prerelease.yaml
Labels: area/build

#5758 Add note to cherry pick PR description
  hack/cherry-pick.sh
Labels: area/build

#5760 Revert "Disable register app for pipedv1 form"
  web/src/components/application-form/index.tsx
Labels: area/web

#5766 Allow deploy source to be nil considering the first deploy
  pkg/app/pipedv1/controller/scheduler.go
  pkg/plugin/sdk/deployment.go
Labels: area/go, area/pipedv1

#5769 remove temp sshKeyFile after use(#2215)
  pkg/app/piped/cmd/piped/piped.go
  pkg/git/ssh_config.go
Labels: area/go

#5771 Replace react-syntax-highlighter with prism-react-renderer
  web/package.json
  web/src/components/settings-page/piped/components/piped-table-row.tsx
  web/yarn.lock
Labels: area/web

#5762 [docs] Add note of checking the SSH key
  cmd/piped/README.md
Labels: area/go

#5768 Fix to be able to execute rollback stage for plugin-architectured piped
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: area/go, area/pipedv1

#5761 Add ability to push/pull plugin to/from OCI Registry
  go.mod
  go.sum
  pkg/lifecycle/binary.go
  pkg/oci/main_test.go
  pkg/oci/options.go
  pkg/oci/pull.go
  pkg/oci/pull_test.go
  pkg/oci/push.go
  pkg/oci/push_test.go
Labels: area/go

#5774 Normalize resource key before grouping manifests to convert default namespace to empty
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/diff.go
Labels: area/go, area/pipedv1

#5773 Fix to set head commit hash on pipedv1 LivestateReporter
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
Labels: area/go, area/pipedv1

#5775 add description about deprecation
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  pkg/model/piped.pb.go
  pkg/model/piped.proto
Labels: area/go

#5780 Fix deployment tracing loading nonStop when loadmore
  web/src/components/deployment-trace-page/useGroupedDeploymentTrace.tsx
  web/src/modules/deploymentTrace/index.ts
Labels: area/web

#5785 Fix some Staticcheck (qf) errors
  pkg/app/pipectl/cmd/initialize/ecs.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
  pkg/app/piped/platformprovider/kubernetes/diff.go
  pkg/app/piped/platformprovider/terraform/terraform.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/diff.go
  pkg/config/application.go
  pkg/configv1/application.go
  pkg/insight/insightstore/deployment_store.go
  pkg/oauth/oidc/oidc.go
  pkg/oci/push_test.go
Labels: area/go, area/pipedv1

#5777 Fixed to add annotations after calling loader.LoadManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
Labels: area/go, area/pipedv1

#5789 Fix the type of the Plugins field in the GenericApplicationSpec struct
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/plugin/registry.go
  pkg/app/pipedv1/plugin/registry_test.go
  pkg/configv1/application.go
Labels: area/go, area/pipedv1

#5637 OIDC Enhancements
  docs/content/en/docs-dev/user-guide/managing-controlplane/auth.md
  docs/content/en/docs-dev/user-guide/managing-controlplane/configuration-reference.md
  pkg/app/server/httpapi/callback.go
  pkg/model/project.pb.go
  pkg/model/project.pb.validate.go
  pkg/model/project.proto
  pkg/oauth/oidc/oidc.go
  pkg/oauth/oidc/oidc_test.go
  web/model/project_pb.d.ts
  web/model/project_pb.js
Labels: area/web, area/go

#5788 Add a blog: What Happens before Deployment
  docs/content/en/blog/before-deployment.md
  docs/static/images/before-deploy-components.drawio.png
  docs/static/images/before-deploy-pending.png
Labels: area/blog
