Repository pipe-cd/pipecd, pull requests merged in 2025-01, with the labels that each got.

#5464 Add default envs in ScriptRunStage: SR_TRIGGERED_COMMANDER, SR_IS_ROLLBACK
  docs/content/en/docs-dev/user-guide/managing-application/customizing-deployment/script-run.md
  pkg/app/piped/executor/kubernetes/rollback.go
  pkg/app/piped/executor/scriptrun/script_run_test.go
  pkg/app/piped/executor/scriptrun/scriptrun.go
Labels: area/go, cherry-pick, v0.50.1

#5468 Move PipedPluginService definition to the under the pkg/plugin
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/plugin/logpersister/persister.go
  pkg/plugin/logpersister/persister_test.go
  pkg/plugin/pipedapi/client.go
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
  pkg/plugin/toolregistry/toolregistry.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool, area/pipedv1

#5470 Move plugin registry under the pkg/app/pipedv1/plugin
  pkg/app/pipedv1/plugin/registry.go
  pkg/app/pipedv1/plugin/registry_test.go
Labels: area/go, area/pipedv1

#5469 Add MetadataStore methods to PipedService
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
Labels: area/go

#5472 Use plugin registry instead of pluginClients and stageBasedPluingsMap in the controller, scheduler, and planner
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go, area/pipedv1

#5455 Implement resource pruning in k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/annotate.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune/target/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/prepare/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/prepare/crd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/running/crontab-2.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/running/crontab-v1beta1.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/running/crontab.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_cluster_scoped_resource/target/crontab.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/target/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/prune_with_change_namespace/target/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubectl.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go, area/pipedv1

#5477 Add optional username and email fields to repo for commits
  pkg/git/repo.go
Labels: cherry-pick, v0.50.1-rc2

#5479 Move sync / rollback method to the separate file
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
Labels: area/go, area/pipedv1

#5482 Remove git option to do partial clone
  pkg/git/client.go
Labels: area/go, cherry-pick, v0.50.1-rc3

#5481 Do not remove resources which is not managed by piped
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource_test.go
Labels: area/go, area/pipedv1

#5483 Update workflow running containers to ubuntu-24.04
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/code-butler.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/stale.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

#5486 Update actions/cache to v4
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

#5487 Update setup-helm version to v4
  .github/workflows/build.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
Labels: area/build

#5489 Update pipe-cd/actions-gh-release to version v2.6.0
  .github/workflows/prerelease.yaml
Labels: area/build

#5490 Update softprops/action-gh-release to version v2.2.1
  .github/workflows/publish_binary.yaml
Labels: area/build

#5488 Update codeql version to v3
  .github/workflows/codeql-analysis.yaml
Labels: area/build

#5495 Cherry-pick #5483 #5486 #5487 #5488 #5489 #5490
  .github/workflows/build.yaml
  .github/workflows/build_tool.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/code-butler.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/stale.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

#5474 Add 'unsupported' flag in DetermineStrategyResponse
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
Labels: area/go

#5456 [Wait] Implemented the core of executing Wait with WaitStageOptions
  pkg/app/pipedv1/plugin/wait/config/options.go
  pkg/app/pipedv1/plugin/wait/config/options_test.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
  pkg/app/pipedv1/plugin/wait/deployment/wait_test.go
  pkg/configv1/application.go
Labels: area/go, area/pipedv1

#5471 Implemented the backend of Metadata APIs as MetadataStoreRegistry
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/metadatastore/registry.go
  pkg/app/pipedv1/metadatastore/registry_test.go
  pkg/app/pipedv1/metadatastore/store.go
  pkg/app/pipedv1/metadatastore/store_test.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/model/deployment.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
Labels: area/web, area/go, area/pipedv1

#5497 Implement MigrateDatabase RPC
  pkg/app/server/grpcapi/api.go
  pkg/datastore/applicationstore.go
  pkg/datastore/datastoretest/datastore.mock.go
Labels: area/go

#5498 Release v0.50.1
  RELEASE
  docs/content/en/docs-v0.50.x/user-guide/configuration-reference.md
  docs/content/en/docs-v0.50.x/user-guide/managing-application/customizing-deployment/script-run.md
Labels: cherry-pick, v0.50.1

#5501 Add migrate command for database migration tasks
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/pipectl/cmd/migrate/migrate.go
Labels: area/go

#5496 Add DeployTargets when building a deployment
  pkg/app/piped/trigger/deployment.go
  pkg/app/pipedv1/trigger/deployment.go
Labels: area/go, area/pipedv1

#5503 fix: remove error disableBackdropClick is deprecated
  web/src/components/applications-page/add-application-drawer/index.tsx
  web/src/components/applications-page/edit-application-drawer/index.tsx
  web/src/components/applications-page/index.tsx
Labels: area/web

#5505 nit: Remove old 'planner' comments
  pkg/plugin/api/v1alpha1/client.go
  pkg/plugin/pipedapi/client.go
  pkg/plugin/signalhandler/handler.go
Labels: area/go

#5502 fix: list should have unique "key" in web application page
  web/src/components/applications-page/application-list/application-list-item/index.tsx
Labels: area/web

#5493 [Snyk] Upgrade echarts from 5.5.1 to 5.6.0
  web/package.json
  web/yarn.lock
Labels: area/web

#5207 [Snyk] Security upgrade react-router-dom from 5.3.4 to 6.0.0
  web/package.json
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/components/deployments-detail-page/index.test.tsx
  web/src/components/deployments-detail-page/index.tsx
  web/src/components/deployments-page/index.tsx
  web/src/components/events-page/index.tsx
  web/src/components/header/index.tsx
  web/src/components/insight-page/index.tsx
  web/src/components/login-page/index.tsx
  web/src/components/settings-page/index.tsx
  web/src/index.tsx
  web/src/routes.tsx
  web/yarn.lock
Labels: area/web, not-auto-close

#5507 Using pipectl eventwatcher context in publish_image_chart workflow
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#5506 Implement pipectl migrate with get then set at pipectl side
  pkg/app/pipectl/cmd/migrate/database.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/service/apiservice/service.pb.go
  pkg/app/server/service/apiservice/service.pb.validate.go
  pkg/app/server/service/apiservice/service.proto
  pkg/app/server/service/apiservice/service_grpc.pb.go
Labels: area/go

#5440 Send notification about stage executions
  pkg/app/piped/controller/scheduler.go
  pkg/app/piped/notifier/slack.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/notificationevent.go
  pkg/model/notificationevent.pb.go
  pkg/model/notificationevent.pb.validate.go
  pkg/model/notificationevent.proto
  pkg/model/notificationevent_test.go
  web/model/notificationevent_pb.d.ts
  web/model/notificationevent_pb.js
Labels: area/web, area/go, area/pipedv1

#5457 Fix livestatereporter to consider multiple plugins in one app
  pkg/app/pipedv1/apistore/applicationstore/store.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/planner_test.go
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/server.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/model/application.go
  pkg/model/application.proto
  pkg/model/application_live_state.pb.go
  pkg/model/application_live_state.pb.validate.go
  pkg/model/application_live_state.proto
  pkg/model/application_test.go
  pkg/plugin/api/v1alpha1/common/common.pb.go
  pkg/plugin/api/v1alpha1/common/common.pb.validate.go
  pkg/plugin/api/v1alpha1/common/common.proto
  pkg/plugin/api/v1alpha1/deployment/api.pb.go
  pkg/plugin/api/v1alpha1/deployment/api.pb.validate.go
  pkg/plugin/api/v1alpha1/deployment/api.proto
  pkg/plugin/api/v1alpha1/livestate/api.pb.go
  pkg/plugin/api/v1alpha1/livestate/api.pb.validate.go
  pkg/plugin/api/v1alpha1/livestate/api.proto
  tool/codegen/codegen.sh
  web/model/application_live_state_pb.d.ts
  web/model/application_live_state_pb.js
Labels: area/web, area/go, area/tool, area/pipedv1

#5512 Mark PlatformProvider as deprecated in models
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  pkg/model/piped.pb.go
  pkg/model/piped.proto
Labels: area/go

#5514 Add event to trigger demo env deployment
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#5515 Add pipecd version when triggering event
  .github/workflows/publish_image_chart.yaml
Labels: area/build

#5511 Remove PlatformProvider from pipedv1 config
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/configv1/piped.go
  pkg/configv1/piped_test.go
  pkg/configv1/testdata/piped/piped-config.yaml
Labels: area/go, area/pipedv1

#5517 Update application endpoints web api
  pkg/app/server/service/webservice/service.pb.go
  pkg/app/server/service/webservice/service.pb.validate.go
  pkg/app/server/service/webservice/service.proto
Labels: area/go

#5523 Correct notification routing for `DEPLOYMENT_STARTED`
  pkg/app/piped/notifier/matcher_test.go
  pkg/model/notificationevent.go
Labels: area/go, cherry-pick, v0.50.2

#5524 Correct notification route handling for stage events
  pkg/app/piped/notifier/matcher_test.go
  pkg/model/notificationevent.go
Labels: area/go

#5520 [WAIT] Use metadataStore in the wait stage plugin
  pkg/app/pipedv1/plugin/wait/deployment/server.go
  pkg/app/pipedv1/plugin/wait/deployment/wait.go
  pkg/app/pipedv1/plugin/wait/plugin.go
Labels: area/go, area/pipedv1

#5510 [k8s plugin] Prepare for implementing livestate apis
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/provider/liveresources.go
  pkg/app/pipedv1/plugin/kubernetes/provider/liveresources_test.go
Labels: area/go, area/pipedv1

#5522 [Stage Plugins] Add `availableOperation` in the PipelineStage model
  pkg/model/deployment.pb.go
  pkg/model/deployment.pb.validate.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-pipeline.ts
Labels: area/web, area/go

#5521 [Stage Plugins] Add PipedService API to handle commands of SkipStage and ApproveStage
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
Labels: area/go
