Repository pipe-cd/pipecd, pull requests merged in 2025-07, with the labels that each got.

#5984 [Snyk] Upgrade @tanstack/react-query-devtools from 4.39.1 to 4.39.2
  web/package.json
  web/yarn.lock
Labels: area/web

#5967 [Stage Plugins] Report stage commands as handled after the stage finished
  pkg/app/pipedv1/apistore/commandstore/store.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go, area/pipedv1

#5980 [Stage Plugins] Use `METADATA_STAGE_DISPLAY_KEY` instead of SkippedBy/ApprovedBy
  pkg/model/deployment.go
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/constants/metadata-keys.ts
Labels: area/web, area/go

#5968 [Stage Plugins] Make the UI compatible with skip and approval of pipedv1
  pkg/datastore/deploymentstore.go
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
Labels: area/web, area/go

#5978 Fix scheduler status handling
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go, area/pipedv1

#5991 Add tini into piped-base image
  tool/piped-base/Dockerfile
Labels: area/tool

#5993 Init Terraform plugin
  pkg/app/pipedv1/plugin/terraform/config/config.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/main.go
Labels: area/go, area/pipedv1

#5983 [Snyk] Upgrade @tanstack/react-query from 4.36.1 to 4.39.2
  web/package.json
  web/yarn.lock
Labels: area/web

#5997 Use tini to remove zombie process
  cmd/launcher/Dockerfile
  cmd/piped/Dockerfile
Labels: area/go, cherry-pick

#5986 Define PlanPreviewService proto
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
  pkg/plugin/api/v1alpha1/planpreview/api_grpc.pb.go
  tool/codegen/codegen.sh
Labels: area/go, area/tool

#5981 [Stage Plugins] Add `AuthorizedOperators` in the PipelineStage to deprecate `Approvers`
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/grpcapi/web_api_test.go
  pkg/datastore/deploymentstore.go
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
  web/model/deployment_pb.d.ts
  web/model/deployment_pb.js
  web/src/__fixtures__/dummy-pipeline.ts
Labels: area/web, area/go

#5995 Implemented toolRegistry of Terraform plugin
  pkg/app/pipedv1/plugin/terraform/toolregistry/registry.go
  pkg/app/pipedv1/plugin/terraform/toolregistry/registry_test.go
  pkg/app/pipedv1/plugin/terraform/toolregistry/script.go
Labels: area/go, area/pipedv1

#5987 Pass ApplicationConfigFiilename when creating deploysource.DeploySource
  pkg/app/pipedv1/deploysource/deploysource.go
Labels: area/go, area/pipedv1

#5998 [K8s Plugin] Remove unnecessary func and if-else
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/provider/liveresources.go
  pkg/app/pipedv1/plugin/kubernetes/provider/liveresources_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/liveresources.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/liveresources_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader.go
Labels: area/go, area/pipedv1

#6001 Remove 'replace' of the SDK in k8s and wait plugins
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/wait/go.sum
Labels: area/go, area/pipedv1

#6004 [PlanPreview Plugin] Implemented SDK-side
  pkg/plugin/sdk/deployment_test.go
  pkg/plugin/sdk/livestate_test.go
  pkg/plugin/sdk/planpreview.go
  pkg/plugin/sdk/planpreview_test.go
  pkg/plugin/sdk/plugin.go
  pkg/plugin/sdk/plugin_test.go
Labels: area/go, area/plugin-sdk

#6011 [K8s Plugin] Set initial metadata for K8S_TRAFFIC_ROUTING
  pkg/app/pipedv1/plugin/kubernetes/config/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/config/traffic_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/pipeline_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go, area/pipedv1

#6010 Ensure Template Rendering for All Analysis Stage Strategies
  pkg/app/piped/executor/analysis/metrics_analyzer.go
Labels: area/go, cherry-pick, v0.52.2

#5990 scriptrun base and planning
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.sum
  pkg/app/pipedv1/plugin/scriptrun/main.go
  pkg/app/pipedv1/plugin/scriptrun/options.go
  pkg/app/pipedv1/plugin/scriptrun/options_test.go
  pkg/app/pipedv1/plugin/scriptrun/plugin.go
  pkg/app/pipedv1/plugin/scriptrun/plugin_test.go
Labels: area/go, area/pipedv1

#6002 Mark kind field in application and deployment model as deprecated
  pkg/model/application.pb.go
  pkg/model/application.proto
  pkg/model/deployment.pb.go
  pkg/model/deployment.proto
Labels: area/go, kind/deprecation

#6015 Implement the traffic routing stage with skeleton code
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
Labels: area/go, area/pipedv1

#6008 Remove application kind from pipedv1 logic
  pkg/app/pipedv1/appconfigreporter/appconfigreporter.go
  pkg/app/pipedv1/appconfigreporter/appconfigreporter_test.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/model/application.go
  pkg/model/application_test.go
Labels: area/go, area/pipedv1

#6009 Remove deployment kind value from pipedv1 logic
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/notifier/slack.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
  pkg/model/deployment_test.go
Labels: area/go, area/pipedv1

#6013 [Snyk] Upgrade @tanstack/react-query from 4.39.2 to 4.40.0
  web/package.json
  web/yarn.lock
Labels: area/web

#6019 Add timeout for build_tool and publish_tool jobs
  .github/workflows/build_tool.yaml
  .github/workflows/publish_tool.yaml
Labels: area/build

#6017 Remove unused mock
  pkg/app/pipedv1/controller/scheduler_test.go
Labels: area/go, area/pipedv1

#6018 Update piped-base container image version
  cmd/launcher/Dockerfile
  cmd/piped/Dockerfile
  tool/piped-base-okd/Dockerfile
Labels: area/go, area/tool

#5928 Redux replace events page
  web/src/components/event-status-icon/index.test.tsx
  web/src/components/event-status-icon/index.tsx
  web/src/components/events-page/event-filter/index.tsx
  web/src/components/events-page/event-item/index.tsx
  web/src/components/events-page/index.tsx
  web/src/modules/events/index.ts
  web/src/modules/index.ts
  web/src/queries/events/use-get-events-infinite.tsx
Labels: area/web

#6023 Update piped-base-okd image for piped and launcher
  cmd/launcher/Dockerfile-okd
  cmd/piped/Dockerfile-okd
Labels: area/go

#6029 restore NewNotifier() in pipedv1
  pkg/app/pipedv1/notifier/notifier.go
Labels: area/go, area/pipedv1

#6033 Notify WAIT_APPROVAL and APPROVED in piped side
  pkg/app/pipedv1/controller/controller.go
  pkg/app/pipedv1/controller/planner.go
  pkg/app/pipedv1/controller/scheduler.go
  pkg/app/pipedv1/metadatastore/registry.go
  pkg/app/pipedv1/metadatastore/store.go
  pkg/app/pipedv1/metadatastore/store_test.go
  pkg/app/pipedv1/trigger/deployment.go
  pkg/model/deployment.go
Labels: area/go, area/pipedv1

#5933 Redux replace setting api keys page
  web/src/__fixtures__/dummy-api-key.ts
  web/src/components/settings-page/api-key/components/disable-api-key-confirm-dialog/index.tsx
  web/src/components/settings-page/api-key/components/generate-api-key-dialog/index.tsx
  web/src/components/settings-page/api-key/components/generated-api-key-dialog/index.tsx
  web/src/components/settings-page/api-key/index.test.tsx
  web/src/components/settings-page/api-key/index.tsx
  web/src/constants/api-key-role-text.ts
  web/src/mocks/services/api-keys.ts
  web/src/modules/api-keys/index.test.ts
  web/src/modules/api-keys/index.ts
  web/src/modules/index.ts
  web/src/queries/api-keys/use-disable-api-key.tsx
  web/src/queries/api-keys/use-generate-api-key.tsx
  web/src/queries/api-keys/use-get-api-keys.tsx
Labels: area/web

#6006 [Terraform Plugin] Plan stage
  pkg/app/pipedv1/plugin/terraform/config/config.go
  pkg/app/pipedv1/plugin/terraform/deployment/initialize.go
  pkg/app/pipedv1/plugin/terraform/deployment/initialize_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/provider/module.go
  pkg/app/pipedv1/plugin/terraform/provider/module_test.go
  pkg/app/pipedv1/plugin/terraform/provider/terraform.go
  pkg/app/pipedv1/plugin/terraform/provider/terraform_test.go
  pkg/app/pipedv1/plugin/terraform/provider/testdata/multi_modules/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/multi_modules/main.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/multi_modules_with_multi_files/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/multi_modules_with_multi_files/helloworld_01.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/multi_modules_with_multi_files/helloworld_02.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/single_module/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/single_module/main.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/single_module_optional/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/provider/testdata/single_module_optional/main.tf
Labels: area/go, area/pipedv1

#6036 [Analysis Plugin] Add SharedConfigDirectory to deploySource message for analysisTemplate
  pkg/app/pipedv1/deploysource/deploysource.go
  pkg/plugin/api/v1alpha1/common/common.pb.go
  pkg/plugin/api/v1alpha1/common/common.pb.validate.go
  pkg/plugin/api/v1alpha1/common/common.proto
Labels: area/go, area/pipedv1

#6041 [Analysis Plugin] Delete analysisResultStore from pipedv1
  pkg/app/pipedv1/apistore/analysisresultstore/store.go
Labels: area/go, area/pipedv1

#6040 [Analysis Plugin] Defined GetApplicationSharedObject() and PutApplicationSharedObject() for storing analysisResult
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/app/server/service/pipedservice/service_grpc.pb.go
  pkg/plugin/pipedservice/service.pb.go
  pkg/plugin/pipedservice/service.pb.validate.go
  pkg/plugin/pipedservice/service.proto
  pkg/plugin/pipedservice/service_grpc.pb.go
Labels: area/go

#6042 [Snyk] Upgrade @emotion/styled from 11.14.0 to 11.14.1
  web/package.json
  web/yarn.lock
Labels: area/web

#5786 Cleanup Codes related to FileDB
  cmd/pipecd/server.go
  pkg/config/control_plane.go
  pkg/configv1/control_plane.go
  pkg/datastore/filedb/codec.go
  pkg/datastore/filedb/codec_test.go
  pkg/datastore/filedb/filedb.go
  pkg/datastore/filedb/filter.go
  pkg/datastore/filedb/filter_test.go
  pkg/datastore/filedb/iterator.go
  pkg/datastore/filedb/iterator_test.go
  pkg/datastore/filedb/objectcache/cache.go
  pkg/model/datastore.go
Labels: do-not-merge/hold, area/go, area/pipedv1, kind/deprecation

#6049 [stage plugins] SDK: add MetadataKeyStageApprovedUsers and DeploymentSource.SharedConfigDirectory
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
Labels: area/go, area/plugin-sdk

#6055 [Analysis plugin] piped side for analysisResultStore
  pkg/app/pipedv1/cmd/piped/grpcapi/plugin_api.go
Labels: area/go, area/pipedv1

#6053 [Analysis plugin] add SDK methods of GetApplicationSharedObject() and PutApplicationSharedObject()
  pkg/plugin/sdk/client.go
Labels: area/go, area/plugin-sdk

#6060 Fix retrieving recent tag in web build
  web/package.json
Labels: area/web

#6052 [analysis plugin] server side of the analysisResultStore
  cmd/pipecd/server.go
  pkg/app/server/applicationsharedobjectstore/store.go
  pkg/app/server/applicationsharedobjectstore/store_test.go
  pkg/app/server/grpcapi/piped_api.go
Labels: area/go

#6024 [K8s Plugin] Implement K8S_TRAFFIC_ROUTING with Pod Selector
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_custom_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_custom_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_custom_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_missing_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_missing_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_missing_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_multiple_services/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_multiple_services/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_multiple_services/services.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_no_service/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_no_service/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_pod_selector/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_pod_selector/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_pod_selector/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_wrong_variant/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_wrong_variant/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/traffic_routing_wrong_variant/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic_test.go
Labels: area/go, area/pipedv1

#6069 Remove commander from protoc gen auth template
  tool/codegen/protoc-gen-auth/file.go
Labels: area/tool

#6063 K8s plugin livestate re implement
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/reflector_test.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/store/store.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kubernetes.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go, area/pipedv1

#6071 [Snyk] Upgrade @tanstack/react-query from 4.40.0 to 4.40.1
  web/package.json
  web/yarn.lock
Labels: area/web

#6057 [Snyk] Upgrade @types/dagre from 0.7.52 to 0.7.53
  web/package.json
  web/yarn.lock
Labels: area/web

#6043 Remove commanders from datastores
  .github/workflows/gen.yaml
  Makefile
  cmd/pipecd/ops.go
  cmd/pipecd/server.go
  pkg/app/ops/apikeylastusedtimeupdater/apikeylastusedtimeupdater.go
  pkg/app/ops/deploymentchaincontroller/controller.go
  pkg/app/ops/insightcollector/collector.go
  pkg/app/ops/orphancommandcleaner/orphancommandcleaner.go
  pkg/app/server/commandstore/store.go
  pkg/app/server/grpcapi/api.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/grpcapi/web_api.go
  pkg/app/server/service/webservice/service.pb.auth.go
  pkg/datastore/apikey.go
  pkg/datastore/apikey_test.go
  pkg/datastore/applicationstore.go
  pkg/datastore/applicationstore_test.go
  pkg/datastore/commandstore.go
  pkg/datastore/commandstore_test.go
  pkg/datastore/datastore.go
  pkg/datastore/deploymentchainstore.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
  pkg/datastore/deploymenttracestore.go
  pkg/datastore/eventstore.go
  pkg/datastore/eventstore_test.go
  pkg/datastore/pipedstore.go
  pkg/datastore/pipedstore_test.go
  pkg/datastore/projectstore.go
  pkg/datastore/projectstore_test.go
Labels: area/build, area/go

#6074 add stageIndex and correct logPersisterTest write method
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/logpersister/logpersistertest/logpersister.go
Labels: area/go, area/plugin-sdk

#6065 feat(ui): Add Encrypt Secret button to Applications page
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/application-list/application-list-item/index.tsx
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
  web/src/components/applications-page/index.tsx
  web/src/constants/ui-text.ts
Labels: area/web, change-category/notable-change

#6076 Add PluginClient.Name()
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/plugin/api/v1alpha1/client.go
Labels: area/go, area/pipedv1

#6078 [K8s Plugin] Add logger for loadManifests input
  pkg/app/pipedv1/plugin/kubernetes/deployment/baseline.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/canary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/traffic.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
Labels: area/go, area/pipedv1

#6081 Updated ApplicationPlanPreviewResult model for plugins
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/web, area/go

#6079 Add default attributes to the pluign logger
  pkg/plugin/sdk/plugin.go
Labels: area/go, area/plugin-sdk

#6031 Add check for divergent branches error
  pkg/git/repo.go
Labels: area/go

#6070 bump actions/checkout to v4.2.2
  .github/workflows/build.yaml
  .github/workflows/cherry_pick.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_site.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/test_tool.yaml
  .github/workflows/update-contributors.yaml
Labels: area/build

#6087 [Terraform plugin] implemented DetermineVersions()
  pkg/app/pipedv1/plugin/terraform/deployment/plugin.go
  pkg/app/pipedv1/plugin/terraform/deployment/plugin_test.go
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_no_modules/main.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld/main.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld_01.tf
  pkg/app/pipedv1/plugin/terraform/deployment/testdata/versions_success/helloworld_02.tf
  pkg/app/pipedv1/plugin/terraform/provider/module.go
  pkg/app/pipedv1/plugin/terraform/provider/module_test.go
Labels: area/go, area/pipedv1

#6085 Format README.md and replace to contrib.rocks
  .github/workflows/update-contributors.yaml
  Makefile
  README.md
  hack/gen-contributions.sh
Labels: area/build

#6091 [plugin planpreview] Copied from pipedv0 and partially modified
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/planpreview/builder.go
  pkg/app/pipedv1/planpreview/builder_test.go
  pkg/app/pipedv1/planpreview/handler.go
  pkg/app/pipedv1/planpreview/handler_test.go
  pkg/app/pipedv1/planpreview/planpreviewmetrics/metrics.go
Labels: area/go, area/pipedv1

#6083 [plugin planpreview] Add diff_launguage to PlanPreview result models
  pkg/model/planpreview.pb.go
  pkg/model/planpreview.pb.validate.go
  pkg/model/planpreview.proto
  pkg/plugin/api/v1alpha1/planpreview/api.pb.go
  pkg/plugin/api/v1alpha1/planpreview/api.pb.validate.go
  pkg/plugin/api/v1alpha1/planpreview/api.proto
  web/model/planpreview_pb.d.ts
  web/model/planpreview_pb.js
Labels: area/web, area/go
