Repository pipe-cd/pipecd, pull requests merged in 2025-09, with the labels that each got.

#6193 Bump SDK version for waitapproval and analysis
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/analysis/go.sum
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
Labels: area/go, area/pipedv1

#6194 Add pipedv1 release workflow
  .github/workflows/publish_pipedv1_exp.yaml
  cmd/pipedv1/Dockerfile
Labels: area/build, area/go

#6196 Fix pipedv1 release workflow indent
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

#6150 [Terraform Plugin] Implemented PlanPreview
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/main.go
  pkg/app/pipedv1/plugin/terraform/planpreview/plugin.go
  pkg/app/pipedv1/plugin/terraform/planpreview/plugin_test.go
Labels: area/go, area/pipedv1

#6197 Update workflow container image tag for pipedv1
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

#6201 Enable ssh configration for pipedv1
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/config/piped.go
  pkg/git/ssh_config.go
  pkg/git/ssh_config_test.go
Labels: area/go, area/pipedv1

#6202 Make helm chart build and publish step in publish_pipedv1_exp workflow
  .github/workflows/publish_pipedv1_exp.yaml
Labels: area/build

#6203 [analysis plugin] fix nil pointer in executeStage
  pkg/app/pipedv1/plugin/analysis/executestage/analysis.go
Labels: area/go, area/pipedv1

#6205 Update application config GetStageConfig logic
  pkg/configv1/application.go
  pkg/configv1/application_test.go
Labels: area/go, area/pipedv1

#6198 Add what new in pipedv1 blog post
  docs/content/en/blog/what-new-in-pipedv1.md
Labels: area/blog

#6199 Update release version list API to support modules release pattern
  pkg/app/server/grpcapi/web_api.go
Labels: area/go

#6178 Migrate golangci-lint to v2
  .github/workflows/lint.yaml
  .golangci.yml
  Makefile
  pkg/plugin/sdk/deployment.go
Labels: area/build, area/go, area/plugin-sdk

#6128 Bump go 1.25.0
  .github/workflows/build.yaml
  .github/workflows/gen.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish_binary.yaml
  .github/workflows/publish_pipedv1_exp.yaml
  Makefile
  cmd/helloworld/Dockerfile
  cmd/launcher/Dockerfile
  cmd/launcher/Dockerfile-okd
  cmd/pipecd/Dockerfile
  cmd/pipectl/Dockerfile
  cmd/piped/Dockerfile
  cmd/piped/Dockerfile-okd
  cmd/pipedv1/Dockerfile
  docs/Dockerfile
  go.mod
  go.sum
  pkg/app/pipedv1/plugin/analysis/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/scriptrun/go.mod
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/plugin/sdk/go.mod
  tool/actions-gh-release/Dockerfile
  tool/actions-gh-release/go.mod
  tool/actions-plan-preview/Dockerfile
  tool/actions-plan-preview/go.mod
Labels: area/build, area/go, area/tool, area/pipedv1, area/plugin-sdk

#5972 Redux replace deployment detail page
  web/src/__fixtures__/dummy-stage-log.ts
  web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.tsx
  web/src/components/deployments-detail-page/index.tsx
  web/src/components/deployments-detail-page/log-viewer/index.test.tsx
  web/src/components/deployments-detail-page/log-viewer/index.tsx
  web/src/components/deployments-detail-page/log-viewer/log-line/index.tsx
  web/src/components/deployments-detail-page/log-viewer/log/index.tsx
  web/src/components/deployments-detail-page/pipeline/index.test.tsx
  web/src/components/deployments-detail-page/pipeline/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/index.tsx
  web/src/components/deployments-detail-page/pipeline/pipeline-stage/stage-status-icon/index.tsx
  web/src/contexts/command-context/CommandStatusTracking.tsx
  web/src/contexts/command-context/command-context.ts
  web/src/contexts/command-context/command-provider.tsx
  web/src/contexts/command-context/index.ts
  web/src/contexts/command-context/use-command.tsx
  web/src/index.tsx
  web/src/mocks/services/deployment.ts
  web/src/queries/commands/use-fetch-command.ts
  web/src/queries/deployment/use-approve-stage.ts
  web/src/queries/deployment/use-cancel-deployment.ts
  web/src/queries/deployment/use-get-deployment-by-id.ts
  web/src/queries/deployment/use-skip-stage.ts
  web/src/queries/pipeds/use-get-piped-by-id.tsx
  web/src/queries/stage-logs/use-get-stage-logs.ts
  web/src/types/deployment.ts
  web/src/types/stage-log.ts
  web/src/utils/find-default-active-stage-in-deployment.ts
  web/src/utils/is-deployment-running.ts
  web/src/utils/is-stage-running.ts
Labels: area/web

#6025 Redux replace application detail page
  web/src/__fixtures__/dummy-application-live-state.ts
  web/src/components/app-sync-status/index.tsx
  web/src/components/app-sync-status/sync-status-icon/index.tsx
  web/src/components/application-detail-page/application-detail/app-live-state/index.tsx
  web/src/components/application-detail-page/application-detail/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-detail/index.test.tsx
  web/src/components/application-detail-page/application-detail/index.tsx
  web/src/components/application-detail-page/application-state-view/cloudrun-state-view/cloudrun-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/cloudrun-state-view/cloudrun-resource/index.tsx
  web/src/components/application-detail-page/application-state-view/cloudrun-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/ecs-state-view/ecs-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/ecs-state-view/ecs-resource/index.tsx
  web/src/components/application-detail-page/application-state-view/ecs-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/index.test.tsx
  web/src/components/application-detail-page/application-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/kubernetes-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/kubernetes-state-view/kubernetes-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/kubernetes-state-view/kubernetes-resource/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/health-status-icon/index.tsx
  web/src/components/application-detail-page/application-state-view/lambda-state-view/lambda-resource/index.tsx
  web/src/components/application-detail-page/index.test.tsx
  web/src/components/application-detail-page/index.tsx
  web/src/components/applications-page/application-list/delete-application-dialog/index.tsx
  web/src/components/applications-page/application-list/disable-application-dialog/index.tsx
  web/src/components/applications-page/application-list/index.test.tsx
  web/src/components/applications-page/application-list/index.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.test.tsx
  web/src/components/applications-page/application-list/sealed-secret-dialog/index.tsx
  web/src/components/applications-page/encrypt-secret-drawer/index.tsx
  web/src/components/deployments-page/deployment-filter/index.tsx
  web/src/constants/health-status-text.ts
  web/src/modules/applications-live-state/index.test.ts
  web/src/modules/applications-live-state/index.ts
  web/src/modules/delete-application/index.test.ts
  web/src/modules/delete-application/index.ts
  web/src/modules/index.ts
  web/src/modules/sealed-secret/index.test.ts
  web/src/modules/sealed-secret/index.ts
  web/src/queries/application-live-state/use-get-application-state-by-id.ts
  web/src/queries/applications/use-delete-application.tsx
  web/src/queries/applications/use-disable-application.tsx
  web/src/queries/applications/use-enable-application.tsx
  web/src/queries/applications/use-get-application-detail.tsx
  web/src/queries/applications/use-sync-application.tsx
  web/src/queries/sealed-secret/use-generate-sealed-secret.tsx
  web/src/types/application.ts
  web/src/types/applications-live-state.ts
  web/src/types/applications.ts
  web/src/types/piped.ts
Labels: area/web

#6215 Fix panic when Lambda manifest has no tags defined
  pkg/app/piped/executor/lambda/lambda.go
Labels: kind/bug, area/go, cherry-pick

#6192 Keep pipecd server data even when developer shut down pipecd or kind on local computer
  Makefile
  hack/create-kind-cluster.sh
  manifests/pipecd/templates/deployment.yaml
  manifests/pipecd/values.yaml
  quickstart/control-plane-values.yaml
Labels: area/manifests, area/build

#6227 Rename pipedv1 subcommand from piped to run
  manifests/pipedv1-exp/templates/_helpers.tpl
  pkg/app/pipedv1/cmd/piped/piped.go
Labels: area/manifests, area/go, area/pipedv1

#6243 Bump sdk version for k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.sum
Labels: area/go, area/pipedv1

#6242 [Snyk] Upgrade dayjs from 1.11.13 to 1.11.15
  web/package.json
  web/yarn.lock
Labels: area/web

#6248 actions-plan-preview: fix Details indent
  tool/actions-plan-preview/planpreview.go
  tool/actions-plan-preview/testdata/comment-plugin-one-success-app-multiple-plugins.txt
Labels: area/tool

#6252 [terraform plugin] fix: do not use logPersister in livestate and planpreview
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
  pkg/app/pipedv1/plugin/terraform/livestate/plugin.go
  pkg/app/pipedv1/plugin/terraform/provider/initialize.go
Labels: kind/bug, area/go, area/pipedv1

#6250 Add build plugin as part of build step on CI
  .github/workflows/build.yaml
Labels: area/build

#6245 Update make run pipedv1 reflect command change
  Makefile
Labels: area/build

#6253 Get deploy targets by plugin name
  pkg/app/pipedv1/livestatereporter/livestatereporter.go
  pkg/app/pipedv1/planpreview/builder.go
  pkg/model/application.go
Labels: kind/bug, area/go, area/pipedv1

#6255 Fix failed test on CI
  pkg/app/pipedv1/livestatereporter/livestatereporter_test.go
Labels: area/go, area/pipedv1

#6256 Fix failed tests on action planpreview
  tool/actions-plan-preview/testdata/comment-plugin-has-failed-app.txt
  tool/actions-plan-preview/testdata/comment-plugin-one-success-app.txt
Labels: area/tool

#6258 [k8s plugin] Implement ignoring istio virtual service on primary rollout stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_istio/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_istio/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_istio/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_istio/virtualservice.yaml
Labels: area/go, area/pipedv1

#6259 [terraform plugin] Comment out stage config unmarshaling logic for TERRAFORM_APPLY
  pkg/app/pipedv1/plugin/terraform/config/config.go
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
Labels: area/go, area/pipedv1

#6264 Fix for lint in k8s plugin
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_istio/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_istio/virtualservice.yaml
Labels: area/go, area/pipedv1

#6257 Change test/lint workflow to correctly report completion status
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

#6273 [k8s, k8s multicluster plugin] Implement health state for statefulset
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/health_status_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/resource.go
Labels: area/go, area/pipedv1

#6262 [Snyk] Upgrade @mui/icons-material from 7.3.1 to 7.3.2
  web/package.json
  web/yarn.lock
Labels: area/web

#6274 Update deployment trigger sync strategy based on planned step output
  pkg/app/pipedv1/controller/planner.go
  pkg/app/server/grpcapi/piped_api.go
  pkg/app/server/service/pipedservice/service.pb.go
  pkg/app/server/service/pipedservice/service.pb.validate.go
  pkg/app/server/service/pipedservice/service.proto
  pkg/datastore/datastoretest/datastore.mock.go
  pkg/datastore/deploymentstore.go
  pkg/datastore/deploymentstore_test.go
Labels: area/go, area/pipedv1

#6254 Rename log persister to stage log persister sdk
  pkg/plugin/sdk/client.go
  pkg/plugin/sdk/deployment.go
  pkg/plugin/sdk/plugin.go
Labels: area/go, area/plugin-sdk

#6275 Fix panic on cancel stage while executing
  pkg/app/pipedv1/controller/scheduler.go
Labels: area/go, area/pipedv1

#6276 Fix lint on SDK
  pkg/plugin/sdk/client.go
Labels: area/go, area/plugin-sdk
