Repository pipe-cd/pipecd, pull requests merged in 2025-05, with the labels that each got.

#5791 [k8s Plugin] Implement primary rollout stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
Labels: area/go, area/pipedv1

#5779 Add support for OCI registry to push/pull plugins
  cmd/pipectl/main.go
  pkg/app/pipectl/cmd/plugin/plugin.go
  pkg/app/pipectl/cmd/plugin/push.go
  pkg/app/pipectl/cmd/plugin/push_test.go
  pkg/configv1/piped.go
  pkg/oci/options.go
  pkg/oci/push.go
Labels: area/go, area/pipedv1

#5738 Use oracle runners as larger runner
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
Labels: area/build

#5802 Revert "Use oracle runners as larger runner"
  .github/workflows/publish_image_chart.yaml
  .github/workflows/publish_tool.yaml
  .github/workflows/test.yaml
Labels: area/build

#5804 [Snyk] Security upgrade golang from 1.24.1 to 1.24.3
  tool/codegen/Dockerfile
Labels: area/tool

#5787 Add a blog: Introduction to EventWatcher
  docs/content/en/blog/eventwatcher-intro.md
  docs/static/images/eventwatcher-only-cd.drawio.png
  docs/static/images/eventwatcher-overview.drawio.png
  docs/static/images/eventwatcher-problem.drawio.png
Labels: area/blog

#5806 Use testing.T.TempDir() instead of tmpDir
  pkg/plugin/toolregistry/toolregistrytest/toolregistrytest.go
Labels: area/go

#5783 Add RFC for redux replacement feature
  docs/rfcs/0019-redux-replacement.md
Labels: area/rfc

#5778 Implement livestate for k8s multicluster plugin
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/main.go
Labels: area/go, area/pipedv1

#5781 Add RFC for material ui upgrade to v7 feature
  docs/rfcs/0018-material-ui-upgrade-v7.md
Labels: area/rfc

#5792 [k8s Plugin] Enhance the K8S_SYNC stage to support the stage options specified under "with"
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
Labels: area/go, area/pipedv1

#5797 [K8s Plugin] add tests for K8S_PRIMARY_ROLLOUT stage
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_prune/running/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_prune/running/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_prune/running/service.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_prune/target/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/primary_rollout_prune/target/deployment.yaml
  pkg/plugin/sdk/deployment_source.go
  pkg/plugin/sdk/deployment_source_test.go
Labels: area/go, area/pipedv1

#5801 Add comment for the plugins field in generic application config
  pkg/configv1/application.go
Labels: area/go, area/pipedv1

#5803 [K8s Plugin] Enhance Manifest struct with deep copy functionality and conversion methods
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/provider/hasher_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/hasher_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest_test.go
Labels: area/go, area/pipedv1

#5798 Add documentation on a single page on how to start a local dev env
  CONTRIBUTING.md
Labels: area/docs

#5811 Implement comparing bool with boolean string value
  pkg/app/piped/driftdetector/cloudrun/detector.go
  pkg/app/piped/planpreview/cloudrundiff.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/renderer.go
  pkg/diff/renderer_test.go
  pkg/diff/testdata/no_diff.yaml
  pkg/plugin/diff/diff.go
  pkg/plugin/diff/diff_test.go
  pkg/plugin/diff/renderer.go
  pkg/plugin/diff/renderer_test.go
  pkg/plugin/diff/testdata/no_diff.yaml
Labels: area/go

#5814 [k8s multicluster plugin] Calculate status for multiple livestate
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin_test.go
Labels: area/go, area/pipedv1

#5821 Release v0.51.3
  RELEASE
Labels: cherry-pick, v0.51.3

#5829 [Plugin SDK] Change ApplicationLiveState.HealthStatus to private method
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin_test.go
  pkg/plugin/sdk/livestate.go
  pkg/plugin/sdk/livestate_test.go
Labels: area/go, area/pipedv1

#5817 [k8s] Remove ignoreResourceKeys
  pkg/app/piped/livestatestore/kubernetes/reflector.go
Labels: area/go

#5810 [K8s Pluigin] Implement generatePrimaryManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary_test.go
Labels: area/go, area/pipedv1

#5815 [K8s plugin] Add health status calculation for Deployment resources
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes/provider/health_status_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/health_status.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/health_status_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/manifest_test.go
Labels: area/go, area/pipedv1

#5818 Add test for LoadApplication configv1
  pkg/configv1/application_test.go
  pkg/configv1/testdata/application/invalid-kind.yaml
  pkg/configv1/testdata/application/plugins-config.yaml
Labels: area/go, area/pipedv1

#5830 CI: Add 'feat/*' to build,lint,test
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

#5828 Add Helm linting for all charts
  .github/workflows/lint.yaml
  Makefile
Labels: area/build

#5816 Unify avatar and username into single user menu button and add logout icon in header
  web/src/components/header/index.tsx
Labels: area/web

#5832 [K8s Plugin] Implement checkVariantSelectorInWorkload
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
Labels: area/go, area/pipedv1

#5834 ECS: Fix bug of rolling back when canaryTargetGroup was newly introduced
  pkg/app/piped/executor/ecs/deploy.go
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
Labels: kind/bug, cherry-pick, v0.51.4

#5813 Untag removed tags from ECS
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/ecs_test.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go, change-category/notable-change

#5845 Upgraded Cobra version to the latest(v1.9.1) & configFlags update
  go.mod
  go.sum
  pkg/app/piped/cmd/piped/piped.go
  pkg/app/piped/cmd/piped/piped_test.go
  pkg/app/pipedv1/cmd/piped/piped.go
  pkg/app/pipedv1/cmd/piped/piped_test.go
Labels: area/go, area/pipedv1

#5837 Upgrade to MUI v7
  web/package.json
  web/src/components/application-detail-page/application-state-view/kubernetes-state-view/index.test.tsx
  web/src/components/application-detail-page/application-state-view/live-state-view/index.test.tsx
  web/src/components/deployments-detail-page/deployment-detail/index.test.tsx
  web/src/components/deployments-page/deployment-filter/index.tsx
  web/src/components/insight-page/insight-header/index.tsx
  web/src/components/split-button/index.test.tsx
  web/yarn.lock
Labels: area/web

#5847 Improve contributing docs
  CONTRIBUTING.md
  hack/boilerplate.go.txt
Labels: area/build, contribex

#5846 Add check target to the makefile for convenience
  .github/workflows/non_maintainer_check.yaml
  Makefile
  hack/ensure-check.sh
  hack/ensure-dco.sh
Labels: area/build, contribex

#5842 ECS: Add UI Logs for Listener Rules in TRAFFIC_ROUTING and ROLLBACK
  pkg/app/piped/executor/ecs/ecs.go
  pkg/app/piped/executor/ecs/rollback.go
  pkg/app/piped/platformprovider/ecs/client.go
  pkg/app/piped/platformprovider/ecs/ecs.go
Labels: area/go, cherry-pick

#5853 Add README for pipedv1
  cmd/pipedv1/README.md
Labels: area/go

#5854 Add README for k8s multi cluster plugin
  pkg/app/pipedv1/plugin/kubernetes_multicluster/README.md
  pkg/app/pipedv1/plugin/kubernetes_multicluster/docs/static/adding-application.png
  pkg/app/pipedv1/plugin/kubernetes_multicluster/example/multi-sources-template-none/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/example/multi-sources-template-none/cluster1/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/example/multi-sources-template-none/cluster2/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/example/simple/app.pipecd.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/example/simple/deployment.yaml
  pkg/app/pipedv1/plugin/kubernetes_multicluster/example/simple/service.yaml
Labels: area/go, area/pipedv1

#5851 Fix the workflow for non-maintainer
  .github/workflows/non_maintainer_check.yaml
Labels: area/build

#5862 Set install path for setup-envtest
  Makefile
Labels: area/build

#5857 [K8s Plugin] Add helper function to add variant label and annotation
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
Labels: area/go, area/pipedv1

#5859 [K8s Plugin] Support templating method in loading manifests
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/config/application.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader_test.go
Labels: area/go, area/pipedv1

#5863 [K8s Plugin] Implement duplicateManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest.go
  pkg/app/pipedv1/plugin/kubernetes/provider/manifest_test.go
Labels: area/go, area/pipedv1

#5865 [K8s plugin] define deleteResources as a utility
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes/provider/applier_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/applier.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/applier_test.go
Labels: area/go, area/pipedv1

#5864 [K8s Plugin] Implement generateVariantWorkloadManifests
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/misc_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/variant_workload_manifests/configmaps.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/variant_workload_manifests/deployments.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/variant_workload_manifests/no-config-deployments.yaml
  pkg/app/pipedv1/plugin/kubernetes/deployment/testdata/variant_workload_manifests/secrets.yaml
Labels: area/go, area/pipedv1

#5866 [K8s Plugin] Implement service config
  pkg/app/pipedv1/plugin/kubernetes/config/application.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/resource.go
Labels: area/go, area/pipedv1

#5850 Add a make command to setup OIDC IdP instantly
  .gitignore
  Makefile
  cmd/pipecd/README.md
  hack/oidc/README.md
  hack/oidc/docker-compose.yml
  hack/oidc/realm.json
  hack/oidc/run-local-keycloak.sh
Labels: area/build, area/go, contribex

#5874 [SDK] Copy SDK related packages to under the pkg/plugin/sdk
  pkg/plugin/sdk/diff/diff.go
  pkg/plugin/sdk/diff/diff_test.go
  pkg/plugin/sdk/diff/renderer.go
  pkg/plugin/sdk/diff/renderer_test.go
  pkg/plugin/sdk/diff/result.go
  pkg/plugin/sdk/diff/result_test.go
  pkg/plugin/sdk/diff/testdata/complex-node.yaml
  pkg/plugin/sdk/diff/testdata/has_diff.yaml
  pkg/plugin/sdk/diff/testdata/ignore_adding_map_keys.yaml
  pkg/plugin/sdk/diff/testdata/no_diff.yaml
  pkg/plugin/sdk/logpersister/logpersistertest/logpersister.go
  pkg/plugin/sdk/logpersister/persister.go
  pkg/plugin/sdk/logpersister/persister_test.go
  pkg/plugin/sdk/logpersister/stagelogpersister.go
  pkg/plugin/sdk/pipedapi/client.go
  pkg/plugin/sdk/signalhandler/handler.go
  pkg/plugin/sdk/toolregistry/toolregistry.go
  pkg/plugin/sdk/toolregistry/toolregistrytest/toolregistrytest.go
Labels: area/go

#5879 [Plugins] Use new SDK import paths in the plugin implementations
  pkg/app/pipedv1/plugin/kubernetes/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/primary_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes/livestate/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes/toolregistry/registry_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/determine.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/rollback_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/deployment/sync_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/livestate/plugin_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/diff.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/diff_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/helm_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/kustomize_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/provider/loader_test.go
  pkg/app/pipedv1/plugin/kubernetes_multicluster/toolregistry/registry_test.go
  pkg/app/pipedv1/plugin/wait/wait_test.go
Labels: area/go, area/pipedv1

#5880 Add README for piped-plugin-sdk-go
  pkg/plugin/sdk/README.md
  pkg/plugin/sdk/README.remote.md
Labels: area/go

#5882 Improve test/go target to test go modules
  .github/workflows/test.yaml
  Makefile
Labels: area/build

#5883 Add root_dir to Codecov action
  .github/workflows/test.yaml
Labels: area/build

#5886 Fix codecov CI
  .github/workflows/test.yaml
  codecov.yml
Labels: area/build

#5894 [SDK] Prepare to publish SDK repository
  pkg/app/pipedv1/plugin/example/go.mod
  pkg/app/pipedv1/plugin/kubernetes/go.mod
  pkg/app/pipedv1/plugin/kubernetes_multicluster/go.mod
  pkg/app/pipedv1/plugin/wait/go.mod
  pkg/plugin/sdk/LICENSE
  pkg/plugin/sdk/go.mod
  pkg/plugin/sdk/go.sum
Labels: area/go, area/pipedv1

#5895 Rename completed job to avoid confusing behavior
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: area/build

#5878 Init alpha usage of pipedv1 and plugins
  cmd/pipedv1/README-usage-alpha.md
Labels: area/go

#5904 Remove check workflow & improve DCO check script
  .github/workflows/non_maintainer_check.yaml
  Makefile
  hack/ensure-check.sh
  hack/ensure-dco.sh
Labels: area/build
