Repository pipe-cd/pipecd, pull requests merged in 2025-10, with the labels that each got.

#6277 Set default value for waitapproval plugin config
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/options.go
  pkg/app/pipedv1/plugin/waitapproval/options_test.go
Labels: area/go, area/pipedv1

#6278 Update sdk waitapproval
  pkg/app/pipedv1/plugin/waitapproval/go.mod
  pkg/app/pipedv1/plugin/waitapproval/go.sum
  pkg/app/pipedv1/plugin/waitapproval/waitapproval.go
Labels: area/go, area/pipedv1

#6281 fix prevent login path can access when already logged in
  web/src/contexts/auth-context/auth-provider.tsx
  web/src/contexts/query-client-provider.tsx
Labels: area/web

#6282 Change z-index btn menu of application detail
  web/src/components/application-detail-page/index.tsx
Labels: area/web

#6280 [Snyk] Upgrade @tanstack/react-query-devtools from 4.40.1 to 4.41.0
  web/package.json
  web/yarn.lock
Labels: area/web

#6279 [Snyk] Upgrade @tanstack/react-query from 4.40.1 to 4.41.0
  web/package.json
  web/yarn.lock
Labels: area/web

#6284 Update sdk version for terraform plugin
  pkg/app/pipedv1/plugin/terraform/deployment/apply.go
  pkg/app/pipedv1/plugin/terraform/deployment/plan.go
  pkg/app/pipedv1/plugin/terraform/deployment/rollback.go
  pkg/app/pipedv1/plugin/terraform/go.mod
  pkg/app/pipedv1/plugin/terraform/go.sum
  pkg/app/pipedv1/plugin/terraform/provider/initialize.go
Labels: area/go, area/pipedv1

#6292 Update event comment reflect change on dev environment
  .github/workflows/publish_image_chart.yaml
Labels: area/build
